[2015-08-24 14:07] pippinsplugins opened #3732 "Update password fields with password generator from WP 4.3"
Better security for the win.

[2015-08-24 14:07] pippinsplugins commented on #3732
Note: this will probably make `Password Strength Meter` extension obsolete. Sorry @ghost1227

[2015-08-24 15:47] chriscct7 commented on #3732
We should implement this in a way that's easy for extensions that also need to use it (FES or one of the membership/restrict plugins for example) can use at least some of EDD's code

[2015-08-24 15:50] pippinsplugins commented on #3732
:+1:

[2015-08-24 19:33] ghost1227 commented on #3294
@cklosowski That function was intended to represent a global logging function (replacing the current `edd_log_gateway_error()` function). The function itself would assume `$payment_id` is null unless `$type == 'gateway'`

[2015-08-25 11:28] brashrebel opened #3733 "Exclude already installed addons from extensions page"
The Downloads - > Extensions page in EDD showcases Popular and New extensions from the EDD store. This is really awesome but could be improved in a number of ways to increase the relevancy to the site owner. One small step in that direction would be to remove addons from the display which are already installed and substitute others which are not. This serves the site owner better by making more su

[2015-08-25 13:41] pippinsplugins commented on #3733
Cool idea!

We could pretty easily pass a list of IDs to the RSS query and then exclude those on the server site.

[2015-08-25 13:54] pippinsplugins opened #3734 "Add search to products API endpoint"
We should support searching products via the API.

[2015-08-25 13:55] SDavisMedia commented on #3733
Awesome idea!

[2015-08-25 14:36] pippinsplugins commented on #3501
Not major, punting to 2.7

[2015-08-25 14:36] pippinsplugins commented on #3536
This was a bug in the tutorial, not core.

[2015-08-25 14:36] #3536 closed

[2015-08-25 14:38] pippinsplugins commented on #3422
Definitely doing this now that 4.3 is out and this was indeed included.

[2015-08-25 14:44] pippinsplugins commented on #3422
@SDavisMedia want to tackle this one?

[2015-08-25 14:48] pippinsplugins commented on #3444
@mindctrl could you test @ghost1227 's PR?

[2015-08-25 15:02] pippinsplugins commented on #2935
@easydigitaldownloads/core-devs I'd like everyone's opinion on this.

[2015-08-25 15:04] pippinsplugins commented on #3668
@topher1kenobe want to tackle this?

[2015-08-25 15:04] pippinsplugins commented on #3529
This and #3391 moved to 2.6

[2015-08-25 15:05] pippinsplugins commented on #3492
@mindctrl or @topher1kenobe one of you want to tackle this? I can help if you're unsure what to do from the ticket above.

[2015-08-25 15:06] pippinsplugins commented on #3391
Moved to 2.6 along with #https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2304 and #3529

[2015-08-25 15:13] mindctrl commented on #3492
I'll take it.

[2015-08-25 15:15] SDavisMedia commented on #2935
Considering the only time this matters at all is variable pricing without multi-select, why not leave the radio buttons in place on refresh but make them read-only and still have the chosen one selected and the button changed to checkout?

No real estate adjustments are made. It's more clear than no options and a checkout button.

[2015-08-25 15:19] spencerfinnell commented on #2935
If it's true that not changing the button/showing a message really is better I think that's definitely the best solution.

Even without the reports though, I do think it looks a bit weird with certain buttons randomly saying "Checkout" in the list.

[2015-08-25 15:58] pippinsplugins commented on #2935
I like that proposal.

On Tuesday, August 25, 2015, Spencer Finnell <notifications@github.com>
wrote:

[2015-08-25 16:08] SDavisMedia commented on #2935
But that's how it was originally (a year or so ago). That proposal means still showing the radio buttons that can be selected and the button still showing that you can add one of the options to the cart. Here's the problem though... you can't.

The Amazon study is all good but it applies to variable pricing **with** multi-select and single price items. Following that study with variable pricing **

[2015-08-25 16:10] SDavisMedia commented on #2935
Unless we're willing to remove one price option form the cart to add a different price option...

[2015-08-25 16:10] pippinsplugins commented on #2935
No.

[2015-08-25 16:10] pippinsplugins commented on #2935
There are definitely cases where multiple price options should be permitted to be purchased at once.

[2015-08-25 16:13] SDavisMedia commented on #2935
Right, that's default variable pricing. But how that button behaves once and item is added to the cart should not be the same as how multi-select buttons behave. I don't see how we can have one answer for both scenarios.

[2015-08-25 16:13] SDavisMedia commented on #2935
Oops... meant that in reverse.

[2015-08-25 17:18] pippinsplugins commented on #3492
:+1:

[2015-08-25 17:24] SDavisMedia commented on #3422
Absolutely.

[2015-08-25 19:19] mindctrl commented on #3444
@ghost1227 @pippinsplugins still seeing the same issue here

![image](https://cloud.githubusercontent.com/assets/1254870/9476739/5b9a4f60-4b3c-11e5-8e1b-3b48e2d3e976.png)

[2015-08-25 19:35] stephywells commented on #3710
I'm having the same problem on a 1&1 server (not my choice). The plugins page is taking ages to load since there are about 10 EDD plugins. Each one adds a couple seconds to the page load.

[2015-08-25 19:41] pippinsplugins commented on #3710
Could I get access to it? I have three plus sites with 10-30 add ins and
don't see this.

On Tuesday, August 25, 2015, Stephanie Wells <notifications@github.com>
wrote:

[2015-08-25 19:50] stephywells commented on #3710
Sure. Where can I send access?

On Tue, Aug 25, 2015 at 1:41 PM, Pippin Williamson <notifications@github.com

[2015-08-25 19:51] chriscct7 commented on #3710
Send us a ticket at easydigitaldownloads.com/support please :)

[2015-08-25 20:14] SDavisMedia commented on #3422
@pippinsplugins Should be all good here. Testing with my own labels and they adjust fine.

[2015-08-25 20:17] pippinsplugins commented on #3422
@SDavisMedia could you go ahead and open the PR?

[2015-08-25 20:22] SDavisMedia commented on #3422
Done for `release/2.5`.

[2015-08-25 20:25] SDavisMedia commented on #3385
I'm gonna go ahead and mimic the Publish box, icons, bolding, etc., unless anyone objects.

[2015-08-25 20:31] pippinsplugins commented on #3385
:+1:

[2015-08-25 20:31] pippinsplugins commented on #3422
Excellent, thanks!

[2015-08-25 20:33] SDavisMedia commented on #3422
Once merged, we've gotta remember to update the doc. http://docs.easydigitaldownloads.com/article/273-modify-the-download-post-type-admin-labels

[2015-08-25 21:41] pippinsplugins commented on #3732
Relevant: http://uxmovement.com/forms/why-the-confirm-password-field-must-die/

[2015-08-25 22:20] SDavisMedia opened #3736 "Reformat the Welcome Page to use core WP markup and styles"
Recently done in FES. Pretty simple to implement.

[2015-08-25 22:29] pippinsplugins commented on #3736
:+1:

[2015-08-26 02:18] SDavisMedia commented on #3385
Proposed.

![screen shot 2015-08-25 at 9 16 35 pm](https://cloud.githubusercontent.com/assets/2359131/9484199/b7897544-4b6e-11e5-9f56-15860ec1e94c.png)

[2015-08-26 03:37] pippinsplugins commented on #3385
@SDavisMedia Could you set your language to German and confirm it still works well since that's what revealed the original issue here?

[2015-08-26 03:45] SDavisMedia commented on #3385
@pippinsplugins It wasn't happening because of the language. It was happening because the label had a hardcoded 70px width. The German word just happened to be right at the 70px or so mark. The code is gone now. https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/0afdd66c158876c32a7cd1ea1478d25ad743ed19#diff-1c9c760368af32c531a54d869c3cf1acL206

They'll never touch/overlap again.

[2015-08-26 03:48] pippinsplugins commented on #3385
:+1:

[2015-08-26 03:48] pippinsplugins commented on #3385
Drop that into a PR if you could and thanks!

[2015-08-26 03:50] SDavisMedia commented on #3385
@pippinsplugins Just doing my job! Done. :+1:

[2015-08-26 11:19] jancbeck commented on #3385
Looks great, thanks!

[2015-08-26 12:32] felixarntz opened #3738 "[purchase_link] shortcode text attribute not honored after 2.4.3 update"
I just noticed that the `[purchase_link]` shortcode does not work properly since the latest 2.4.3 update. I'm using it with a custom "text" attribute, but it is not applied any longer, however it was applied before the update. Right now I'm always seeing the default button text which is stored in the EDD options, regardless of what I specify in the shortcode.

I looked into the code already, but I

[2015-08-26 12:54] mindctrl commented on #3738
@felixarntz what's your full shortcode look like?

[2015-08-26 13:51] brashrebel commented on #3733
You can assign this to me if you want to. I've already explored a bit how this would be accomplished and almost have a proof of concept. Might take me another few days to finish though.

[2015-08-26 14:08] SDavisMedia commented on #3385
No problem!

[2015-08-26 14:17] pippinsplugins commented on #3738
I bet this is only true for buy now buttons and is likely due to https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/dc5bdf4db98fdeb00b9279889e211205c43afd81#diff-978209e01c6c9e4491c170874c427461

[2015-08-26 14:26] spencerfinnell commented on #3385
The extreme nitpick would be no `&mdash;` between the value and the link, but otherwise looks awesome!

[2015-08-26 14:31] shazahm1 commented on #3385
Just randomly stumbled on this...

but why put the view sales log link by the number of sales... well, I understand why.. but wouldn't it be more consistent to have it with the other view links?

[2015-08-26 14:32] SDavisMedia commented on #3385
@spencerfinnell I didn't really see a reason for it to be there either but the sales count does kind of get lost in there considering the sales log link and sales label are way more dominant than [especially] a 1 or 2 digit quantity.

![screen shot 2015-08-26 at 9 30 04 am](https://cloud.githubusercontent.com/assets/2359131/9496295/3cb037b0-4bd5-11e5-80ae-e033d29ef5f1.png)

[2015-08-26 14:33] SDavisMedia commented on #3385
@shazahm1 I actually agree with that. The detailed earnings report is not beside the earnings total. Same scenario IMO. @pippinsplugins?

[2015-08-26 14:35] SDavisMedia commented on #3385
![screen shot 2015-08-26 at 9 35 07 am](https://cloud.githubusercontent.com/assets/2359131/9496390/ca873372-4bd5-11e5-82d5-7f6814916097.png)

[2015-08-26 14:35] felixarntz commented on #3738
@pippinsplugins yes, that was my impression too since I use the `'direct' => true` argument on that shortcode, and the lines you referred to were basically the only ones changed.

My shortcode is `[purchase_link id="342" direct="1" text="Ausweis jetzt bezahlen"]`

[2015-08-26 14:36] pippinsplugins commented on #3385
How about we link sale count and link earnings. That would make it consistent with the Downloads list table:
![screen shot 2015-08-26 at 9 36 19 am](https://cloud.githubusercontent.com/assets/1034109/9496431/ef2a0240-4bd5-11e5-8ab8-bd61dc73c588.png)

[2015-08-26 14:36] pippinsplugins commented on #3385
Or like @SDavisMedia proposed. I like both.

[2015-08-26 14:39] spencerfinnell commented on #3385
I like the separate list of links below.

[2015-08-26 14:41] SDavisMedia commented on #3385
![screen shot 2015-08-26 at 9 40 37 am](https://cloud.githubusercontent.com/assets/2359131/9496573/929916f0-4bd6-11e5-8613-c2da90dec9d9.png)

I vote left.

[2015-08-26 14:46] mindctrl commented on #3385
I like the right one, because it puts the related things together, is easier to grok at a quick glance, and is less cluttered. I'm just not sure if it'll hold up visually once we hit $1 billion in earnings. :laughing:

[2015-08-26 14:48] SDavisMedia commented on #3385
@mindctrl I could just as easily lean that way. :confounded:

[2015-08-26 14:53] spencerfinnell commented on #3385
Yeah I'm a little torn as well. Probably leaning to the right though.

[2015-08-26 14:53] SDavisMedia commented on #3385
Right it is!

[2015-08-26 14:54] pippinsplugins commented on #3385
Right is right!

_will see myself out now_

[2015-08-26 14:55] pippinsplugins commented on #3738
Thanks for the PR @felixarntz! We'll test it out!

[2015-08-26 14:57] mindctrl commented on #3738
Also [reported here](https://secure.helpscout.net/conversation/115201229/15487/).

[2015-08-26 17:32] mindctrl commented on #3729
@pippinsplugins this works. Customer confirmed today.

[2015-08-26 18:13] pippinsplugins commented on #3729
Great. Will go out with 2.4.4

[2015-08-26 18:13] #3729 closed

[2015-08-26 19:19] pippinsplugins commented on #3710
Thanks @stephywells, I'm logging in now.

[2015-08-26 20:50] chriscct7 commented on #3385
Yeah I prefer right
On Aug 26, 2015 10:54 AM, "Pippin Williamson" <notifications@github.com>
wrote:

[2015-08-26 21:35] mindctrl opened #3740 "Use is_ssl() instead of $_SERVER["HTTPS"] check"
On some systems the $_SERVER["HTTPS"] variable doesn't get set, and results in some weird cross domain issues or 'bad requests'. It also apparently works better behind proxies ([reference](https://github.com/pippinsplugins/Restrict-Content-Pro/pull/214)).

We use it in `edd_get_current_page_url()`, and a couple other places, I think.

[2015-08-27 08:35] atimmer opened #3741 "Changing quantity is broken with custom cart HTML"
When you overwrite the `checkout_cart.php` template with a template of your own and you use a list instead of a table changing the quantity doesn't work.

[2015-08-27 14:03] SDavisMedia commented on #3726
Thoughts?

![screen shot 2015-08-27 at 9 03 38 am](https://cloud.githubusercontent.com/assets/2359131/9522455/8b9e2e0c-4c9a-11e5-9b09-f57ade299b9d.png)

[2015-08-27 14:07] pippinsplugins commented on #3726
@SDavisMedia I like that a lot. We should probably change it to `Get Purchase Shortcode` or similar. `Get Shortcode` is a bit too generic.

[2015-08-27 14:07] spencerfinnell commented on #3726
To me the rich popup still makes more sense so you can configure it. But I think this is also a pretty good solution as well.

[2015-08-27 14:26] pippinsplugins commented on #3741
Looks good to me. We'll get some extra testing on this and then merge it in!

[2015-08-27 17:45] pippinsplugins commented on #3740
:+1:

[2015-08-28 05:28] SDavisMedia commented on #3726
@spencerfinnell I think that can still be a separate issue, focusing on providing a way to _build_ a shortcode on download pages just like you can posts and pages. I think this here is more about just providing the default shortcode.

@pippinsplugins PR sent

[2015-08-28 05:43] SDavisMedia commented on #3568
I'll study this again this weekend.

[2015-08-28 14:46] pippinsplugins commented on #3568
:+1:

[2015-08-28 20:43] pippinsplugins opened #3745 "Batch export fails silently occasionally"
I've run across several cases where the batch export has failed silently. When this happens, the export file is downloaded fine by contains no data.

I believe the problem is due to the temporary file not being able to be written to / read from properly.

I've seen this 3-4 times now, including once with Commissions.

Let's do a few things:

1. Add a constant or a filter that lets us forcibly disa

[2015-08-29 12:44] sumobi commented on #3489
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3747

[2015-08-31 03:08] pippinsplugins commented on #3489
@sumobi I really like how you've done this in #3747

[2015-08-31 03:22] chriscct7 opened #3748 "Missing a ton of actions regarding the change of earnings/sales of products"
Logging this so I remember to fix this later. Noticed this while working on some FES bug fixes and its something I want to work on fixing.

Right now it is incredibly difficult to run an action on the action of increasing/decreasing the sales/earnings of downloads. There's no hooks anywhere useful for this, making extensions like FES and Commissions work unnecessarily hard to run actions when tryi

[2015-08-31 03:28] pippinsplugins commented on #3748
We should have these as separate actions. Up until now, we have relied on `edd_complete_purchase` for this.

[2015-08-31 06:31] ghost1227 opened #3749 "Customer Details/Purchased Downloads bug with fees"
When a customer purchases a fee with `"type" => "item"` set, it causes an error with the Purchased Downloads table. This appears to be due to an oversight in how the `edd_get_users_purchased_products()` works in regards to fees.

![](http://cloud.section214.com/image/1M0g2u1h410h/Image%202015-08-30%20at%2010.02.11%20PM.png)

[2015-08-31 09:24] sumobi commented on #3489
@pippinsplugins thanks

[2015-08-31 14:32] mindctrl opened #3751 "Quick editing categories and tags doesn't work"
When trying to quick edit categories or tags, this error pops up in the console.

`Uncaught ReferenceError: inlineEditPost is not defined in wp-content/plugins/easy-digital-downloads/assets/js/admin-scripts.min.js?ver=2.4.3 line 1`

New install, default theme, only EDD active. With script debug enabled, it points to here:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/2.4.3/as

[2015-08-31 14:49] pippinsplugins commented on #3751
:+1:

[2015-08-31 14:49] #3751 closed

[2015-08-31 16:41] cklosowski commented on #3745
Sounds good. I'll get something going on that.

[2015-09-01 13:33] SDavisMedia opened #3754 "Checkout Form Field/Label Review"
Gonna try not to be longwinded here.

The way we handle the HTML and CSS for some of the checkout fields needs improvement. One very specific case is with the Agree to Terms checkbox and label.

Throughout the checkout form, we put labels above text box inputs (name, email, etc.) and that's totally fine. It's a logical HTML flow. Then we wrote CSS for that HTML structure which is also fine. But wh

[2015-09-01 13:54] pippinsplugins commented on #3754
Let's do it.

We could include a little CSS to help with backwards compatibility that targets the previous HTML structure. If we can make it appear that no changes were made for most sites, the better.

[2015-09-01 13:55] SDavisMedia commented on #3754
I agree totally. Sweet deal.

[2015-09-01 14:26] pippinsplugins opened #3755 "Support additional emails for customers"
Right now customers are identified by their email address and each unique email is a different customer.

I think we should add support for adding additional email addresses to customer records. Help Scout does this really well.

Doing this would allow us to associate multiple emails with a single customer record and would resolve this problem:

![screen shot 2015-09-01 at 9 26 00 am](https://clou

[2015-09-01 22:07] cklosowski commented on #3745
@pippinsplugins if you could test out this branch and see what you think. I'm using mamp pro so the easiest way was to change who the apache and mysql services are running as:
![image](https://cloud.githubusercontent.com/assets/1390124/9618404/1bc730cc-50bb-11e5-8fdc-a5c5a2b568f5.png)

My stuff has always run as me...then I changed it to `www` user.

[2015-09-01 22:53] cklosowski commented on #3745
Added a check so if the resulting range and status return 0 results, we give an error message as well, instead of an empty file.

[2015-09-02 12:14] brashrebel commented on #3733
This is dependent on changes on the EDD site first. Made a [pull request](https://github.com/easydigitaldownloads/EDD-Site/pull/745) already.

[2015-09-02 13:50] pippinsplugins opened #3757 "Prepare for language packs from WordPress.org"
Translation packs were just announced for plugins on WordPress.org: https://make.wordpress.org/plugins/2015/09/01/plugin-translations-on-wordpress-org/

This is a really big deal and we should absolutely jump on board.

**TLDR: WordPress.org will host all plugin language files and allow users to update their translations anytime a new version is available. EDD will no longer need to maintain or di

[2015-09-02 14:03] pippinsplugins commented on #3757
Post on how to maintain backwards compat for old text domains: http://ibrokemywp.com/2014/12/16/use-your-plugin-or-theme-slug-as-the-textdomain-not-whatever-other-stupid-idea-you-might-have/

[2015-09-02 14:56] fxbenard commented on #3757
Integration will be in batch and it could takes months (Otto says).
I'm actually expecting a way to integrate TX poke  @dovy with WordPress (a kind of TX language pack).

Moving all translators to translate.wp will need you to write an email with the name of each translators you want in each new teams. https://make.wordpress.org/polyglots/handbook/rosetta/theme-plugin-directories/
Good luck with 1

[2015-09-02 15:27] pippinsplugins commented on #3757
Good news is there are a lot of plugins ahead of us, so we should be able to get a better idea of what it will look like before it's our turn.

[2015-09-02 17:33] pippinsplugins commented on #3733
:+1:

[2015-09-02 19:04] pippinsplugins opened #3758 "Add $item to edd_receipt_show_download_files filter"
The `edd_receipt_show_download_files` allows us to determine if the download files should be shown on the receipt page.

At the moment there is no way to know the price ID of the item being checked. We can add `$item` as an additional parameter to the function/filter to allow extensions to check the price ID too.

[2015-09-02 19:04] pippinsplugins commented on #3758
Required for https://github.com/easydigitaldownloads/edd-recurring/issues/62

[2015-09-02 19:54] fxbenard commented on #3757
In Slack #wp-i18n Mail start next week, import week after

[2015-09-02 23:23] pippinsplugins commented on #3745
@cklosowski Good work here.

Could we please make the error match the styling of admin notices?

![screen shot 2015-09-02 at 6 22 45 pm](https://cloud.githubusercontent.com/assets/1034109/9647153/ab698ec0-519f-11e5-9527-aff06b7db50b.png)

[2015-09-02 23:45] pippinsplugins opened #3760 "Add drag-and-drop to files"
We added drag-and-drop ordering to variable prices, now it's time to add the same to the files.

[2015-09-03 18:53] cklosowski commented on #3745
@pippinsplugins yes, do you want it up at the top of the page or inside the `metabox` wrapper? Since we have multiple forms on the page, I thought it would be good to keep it in the same box.

[2015-09-03 18:54] pippinsplugins commented on #3745
I like it where it is.

[2015-09-03 18:55] cklosowski commented on #3745
Ok then I'll just update the styles and call it good.

[2015-09-03 18:55] #3422 closed

[2015-09-03 18:58] #3385 closed

[2015-09-03 18:59] pippinsplugins commented on #3738
@mindctrl have you had a chance to test PR?

[2015-09-03 19:02] pippinsplugins commented on #3741
This is working perfectly for me. Merging.

[2015-09-03 19:02] #3741 closed

[2015-09-03 19:03] cklosowski commented on #3745
Ok now the problem is, since it's a metabox, white background...the white background of the error message blends into the metabox:
![image](https://cloud.githubusercontent.com/assets/1390124/9667992/d814e7e6-5233-11e5-90f7-7ec3850a9659.png)

As @pippinsplugins and I have discussed, since multiple export metaboxes can appear on the screen, the error needs to be somewhat inline with the export form,

[2015-09-03 19:04] cklosowski commented on #3745
Here is what we mean by inline:
![image](https://cloud.githubusercontent.com/assets/1390124/9668013/f9085c26-5233-11e5-88dc-51440c4656af.png)

[2015-09-03 19:12] SDavisMedia commented on #3745
Does it absolutely have to match admin notices? That look feels a bit forced to me. I have an idea that I'll do a quick Photoshop mock up for.

[2015-09-03 19:14] cklosowski commented on #3745
:+1: I'm open to any suggestions. Would love to see what you come up with. I'm not sold on having to match Admin notice styles. We're pullling them out of their context so I think it's ok to move away from it, personally.

[2015-09-03 19:15] pippinsplugins commented on #2717
We can't do anything here until core decides what the heck they're doing with dashicons.

[2015-09-03 19:16] SDavisMedia commented on #3745
Dang never mind... looks like WP ditched the old light red notices in certain places (like a failed media upload error) and replaced them with the new notice style too: http://glui.me/?i=hwj4opqveqo7hs1/2015-09-03_at_2.14_PM.png/ So never mind my idea.

Is this notice going to appear after a page load or is it a `slideDown()` type thing?

[2015-09-03 19:21] pippinsplugins commented on #3294
@ghost1227 Could you update your PR to reflect comments / decisions above?

[2015-09-03 19:22] cklosowski commented on #3745
It's just a `.append()`.

[2015-09-03 19:23] pippinsplugins commented on #3320
I've just reviewed this all again and I'm still in favor of `wontfix`.

[2015-09-03 19:27] pippinsplugins commented on #3444
@ghost1227 want to look at it again?

[2015-09-03 19:37] SDavisMedia commented on #3745
Here's a possibility to completely avoid changing the way the notices look.

![screen shot 2015-09-03 at 2 35 09 pm](https://cloud.githubusercontent.com/assets/2359131/9668770/1dfb5c44-5249-11e5-8088-98c055aefafd.png)

Very similar to what you see [here](http://glui.me/?i=hjz3mpiwiupss4e/2015-09-03_at_2.36_PM.png/) and [here](http://glui.me/?i=9hgq24d938ivfgt/2015-09-03_at_2.37_PM.png/).

[2015-09-03 19:38] SDavisMedia commented on #3745
I was too aggressive with the padding up there.

![screen shot 2015-09-03 at 2 38 08 pm](https://cloud.githubusercontent.com/assets/2359131/9668832/72d065fc-5249-11e5-8587-0d65f182c3e9.png)

[2015-09-03 19:43] pippinsplugins commented on #3745
I love that.

[2015-09-03 19:44] cklosowski commented on #3745
:+1: Styles pelase!

[2015-09-03 19:47] SDavisMedia commented on #3745
Sweet! This notice is still inside of the meta box, just made too look like it's not.

Wrap the notice itself in an additional `div` and give it a class. I went with `notice-wrap`. Then apply this CSS:

[code]

[2015-09-03 19:50] cklosowski commented on #3745
Nice, I'll add that in and test it out

[2015-09-03 19:55] cklosowski commented on #3745
Love it:
![image](https://cloud.githubusercontent.com/assets/1390124/9669300/feefa9da-523a-11e5-9b45-b89dfee0a405.png)

@pippinsplugins ?

[2015-09-03 19:56] cklosowski commented on #3745
With this, do you think maybe we could add some verbage for success too? That gives a notice that the export is being downloaded...however if it fails to, `click here` to download it?

[2015-09-03 19:59] SDavisMedia commented on #3745
Not sure what makes the bottom margin negative not work (leaving the white space below the notice area). If the negative bottom margin is in place properly and it's just not working, change its value to 0 (to ensure the margin is forced visible for everyone) and consider applying a bottom border the same color as the top border.

[2015-09-03 20:00] pippinsplugins commented on #3745
For success I don't think there is any need. The big in-your-face download dialog is pretty clear.

[2015-09-03 20:00] pippinsplugins commented on #3745
If it fails, however, that is a good point. Maybe there should be a dialog.

[2015-09-03 20:36] cklosowski commented on #3745
Maybe we start with this, we can add success in later if this doesn't fix it for people. The framework is in place for a successful download:

[2015-09-03 21:34] pippinsplugins commented on #3745
Sounds good to me.

[2015-09-03 21:46] mindctrl commented on #3738
@pippinsplugins looks good here.

[2015-09-03 21:52] #3738 closed

[2015-09-03 21:52] pippinsplugins commented on #3738
:+1:

[2015-09-03 22:38] cklosowski commented on #3745
Ok how's this look @pippinsplugins @SDavisMedia

In progress:
![image](https://cloud.githubusercontent.com/assets/1390124/9672713/bed8e3b8-5251-11e5-82ff-f68ba8dc50fe.png)

Error:
![image](https://cloud.githubusercontent.com/assets/1390124/9672715/c531830a-5251-11e5-932b-f3a7bcbe90c7.png)

[2015-09-03 22:47] pippinsplugins commented on #3745
I really like that.

[2015-09-03 23:01] cklosowski commented on #3745
tested out Mailchimp and commissions. Apart from some small Style updates, it still functions perfectly.

[2015-09-04 01:48] SDavisMedia commented on #3745
Love it, @cklosowski.

[2015-09-04 04:40] dannyvankooten opened #3761 "Add filter to disable `edd_items_in_cart` cookie."
I appreciate that this cookie is there to prevent caching issues with common hosts, but it is a little hard to disable right now.

Right now, it makes it impossible for me to serve anything from cache to visitors who have something in their cart. We're running a caching configuration that is specifically tailored to EDD so we do not need this cookie at all, so an easy way to disable it would be mu

[2015-09-04 06:26] chriscct7 commented on #3761
We could introduce a constant called EDD_USE_COOKIE similar to our EDD_USE_PHP_SESSIONS one and set it to default true if not already defined, and then let people define the constant as false in their wp-config file if they don't want it. This would allow for the couple people who have this case (who almost certainly are always going to be developers who custom tailor caching solutions) to easily

[2015-09-04 08:26] vpratfr opened #3762 "Incoherent estimate of revenue/sales in report when toggling "taxes""
Hi,

The report for earnings and sales gives different estimations when checking/unchecking the "Exclude taxes" checkbox.

In the screenshots below, notice that the estimated number of sales is different between the 2 which leads of course to a different revenue estimate.

The estimated number of sales should be the same with or without taxes of course.

Here is with taxes:

![image](https://cloud

[2015-09-04 09:21] MythThrazz opened #3763 "EDD_Payment_Stats class doesn't take into account fees added via Fees API"
We've noticed that the discounts applied with EDD Discounts Pro are not reflected in the Earnings By Category report which uses the EDD_Payment_Stats class (see #3636 ).

The problem is that the get_earnings() method doesn't allow to filter the earnings and take the discounts into account.

To fix this probably the changes in both the EasyDigitalDownloads (new filters) and EDD Discounts Pro (apply

[2015-09-04 15:28] pippinsplugins commented on #3762
Huh . . . that's interesting and clearly not right.

[2015-09-04 15:44] pippinsplugins commented on #3763
@MythThrazz Are you seeing this on `get_earnings()` for a specific product or global store earnings?

[2015-09-04 16:06] ghost1227 commented on #3749
@cklosowski resubmitted

[2015-09-04 16:09] ghost1227 commented on #3294
@pippinsplugins I'm not sure what was decided... @cklosowski and @spencerfinnell seem to disagree with the recommendation I originally made to you. Are we using that format or not?

[2015-09-04 17:04] #3749 closed

[2015-09-04 17:05] cklosowski commented on #3745
Ok this is ready for testing. We'll have some small updates for the Mailchimp and Commissions extensions once it's out, but I'm ready to call this 'Ready for testing'

[2015-09-04 17:13] cklosowski commented on #3410
@ghost1227 looks like you just changed the hook, if I'm reading @pippinsplugins issue correctly, we need some additional changes? Or did it all checkout?

[2015-09-04 18:36] ghost1227 commented on #3410
It needed testing, he never had any issues i'm aware of with the initial commit, and all my tests worked perfectly.

[2015-09-04 18:41] Hanistips commented on #3570
Hello.
So I'm getting the same message above my home page.
and I cant visit other pages in my website.

Adding...

define( 'EDD_USE_PHP_SESSIONS', false) to wp-config.php

Is not helping at all.

[2015-09-04 18:53] Hanistips opened #3767 "Warning: session_start(): The session id is too long or contains illegal characters, valid characters are a-z, A-Z, 0-9 and '-,' in"
Hello.
So I'm getting this message above my home page.
and I cant visit other pages in my website.

THE MESSAGE:
Warning: session_start(): The session id is too long or contains illegal characters, valid characters are a-z, A-Z, 0-9 and '-,' in /public_html/wp-content/plugins/easy-digital-downloads/includes/class-edd-session.php on line 288

****************************
Adding...

define( 'EDD_USE

[2015-09-04 18:59] Hanistips opened #3768 "Help resolving Warning: session_start(): The session id is too long or contains illegal characters, valid characters are a-z, A-Z, 0-9 and '-,' in wp-content/plugins/easy-digital-downloads/includes/class-edd-session.php on line 288"
Hello.
So I'm getting this message above my home page.
and I cant visit other pages in my website.

THE MESSAGE:
Warning: session_start(): The session id is too long or contains illegal characters, valid characters are a-z, A-Z, 0-9 and '-,' in /home/*****/public_html/wp-content/plugins/easy-digital-downloads/includes/class-edd-session.php on line 288

****************************
Adding...

defin

[2015-09-04 19:44] pippinsplugins commented on #3768
Please go ahead and open a support ticket at https://easydigitaldownloads.com/support

[2015-09-04 19:44] #3768 closed

[2015-09-04 21:44] pippinsplugins opened #3769 "edd_get_current_page_url() returns primary site URL in multisite with sub domains"
I don't know if this is always the case, but I have at least one reported case of the `edd_get_current_page_url()` returning the primary site URL instead of the current site when in a multisite environment running subdomains.

For example, site is running at `store.domain.com`. On checkout, instead of returning `store.domain.com`, it is returning just `domain.com`.

This was causing the remove fro

[2015-09-04 21:54] pippinsplugins commented on #3767
See https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3768

[2015-09-04 21:54] #3767 closed

[2015-09-04 21:54] pippinsplugins commented on #3410
@cklosowski I'm not sure if it needs more than that.

[2015-09-04 22:07] pippinsplugins commented on #3761
I like the of a constant as it's easier to ensure it's running early enough.

@dannyvankooten any objections to a constant?

[2015-09-04 22:08] cklosowski commented on #3410
Cool I'll tag it for needs testing and run it through the endpoints I have in Postman.

[2015-09-04 22:09] pippinsplugins commented on #3570
Please open a support ticket. Github is for development tracking.

[2015-09-04 22:10] pippinsplugins commented on #3294
It needs to be named with a generic name instead of `_extension_`

[2015-09-04 22:11] pippinsplugins commented on #3745
Works perfectly for me. Merging.

[2015-09-04 22:12] #3745 closed

[2015-09-04 22:17] cklosowski opened #3770 "Better object handling with API Customer endpoint"
Before using the `$user_data` in the `class-edd-api:917` we never actually verify we got an object back from the `get_userdata()` call. This results in notices:
[code]

[2015-09-04 22:17] pippinsplugins commented on #3770
Good catch

[2015-09-04 22:19] cklosowski commented on #3410
Awesome, seems to still work just fine.

For those curious, this is my Postman collection (for use with the newest version of Postman)
https://www.getpostman.com/collections/da62bf3f6323d5cfae8b

Found another bug during the process, that's unrelated #3770

[2015-09-04 22:34] cklosowski commented on #3410
Weird issue with the merge, was showing a ton of other commits along with Dan's Moved to a 2nd branch and will merge in once CI completes. Leaving `Needs Testing` label for now, but all appears ok.

[2015-09-05 00:36] dannyvankooten commented on #3761
Not at all! :+1:
On Sep 5, 2015 05:07, "Pippin Williamson" <notifications@github.com> wrote:

[2015-09-05 00:50] ghost1227 commented on #3410
I know. I screwed up my fork. If you resubmitted a clean pull, this one's all yours.

[2015-09-05 02:03] cklosowski commented on #3769
@pippinsplugins why aren't we using something like `site_url()` for the base? The real problem on subdomain multi-site installs is that the `$_SERVER['SERVER_NAME']` variable is pulled from the vhost configuration, and many times, that is simply the primary domain name, as the subdomains are wildcards, there is not a config file for every subdomain.

[2015-09-05 02:51] cklosowski commented on #3769
The detail is that on things like Apache `$_SERVER['SERVER_NAME']` pulls from the `ServerName` value in the VHOST config.

[2015-09-05 03:07] pippinsplugins commented on #3769
I honestly don't remember why `site_url()` wasn't used since the beginng.

[2015-09-05 03:09] pippinsplugins commented on #3410
When testing, let's do some comparisons on the request times to see how much of a change this makes.

[2015-09-05 03:10] pippinsplugins commented on #3410
Also need to test with following extensions that modify or add to API:
- [ ] commissions
- [ ] software licensing
- [ ] reviews
- [ ] recurring payments (release/2.4 branch)

[2015-09-06 20:49] pippinsplugins commented on #3760
PR from @ghost1227 works great for me.

[2015-09-06 21:06] pippinsplugins commented on #3222
Punting this to 2.7. Too little time.

[2015-09-06 22:00] pippinsplugins commented on #2955
I've merged the WIP code eom @danieliser into `issue/2955`

[2015-09-06 22:15] pippinsplugins commented on #2955
Doh, turns out we can't use the filter name of `edd_download_supports` as we already use that to determine which features the `download` post type supports.

[2015-09-06 22:17] pippinsplugins commented on #2955
I don't love it but for now I"m going to propose `edd_does_download_support`.

[2015-09-06 22:27] pippinsplugins commented on #2955
I'm not sure we should be marking `taxes` as a feature here. We already support `edd_download_is_tax_exclusive()` via a checkbox in the UI. Should we have two filters that can affect this?

[2015-09-06 22:29] pippinsplugins commented on #2955
I'm also wondering if we should move some of our existing features to this item supports API, such as variable prices, file downloads, buy now buttons, etc.

Should we go 100% or just leave it to select features?

[2015-09-07 05:02] ghost1227 commented on #3755
How do you see this working?

[2015-09-07 05:37] pippinsplugins commented on #3755
My first thought was via a separate column in the customers' DB for email aliases. Probably comma separated.

[2015-09-07 06:53] ghost1227 commented on #3755
Given that a significant amount of the existing setup (re: customer records) is based on email, how would that work? Would we migrate away from that and use something else? Or just have more of a 'primary' vs 'attached' email setup?

[2015-09-07 08:28] MythThrazz commented on #3763
@pippinsplugins It's for the specific product.

[2015-09-07 09:18] kiarashi opened #3775 "Add extra meta key for downloads that are free/price 0.00"
Is it possible to add an extra meta key for downloads that don't have a price (are free)?

I'd like to display downloads that are free in a seperate section on my website. But I'm having troubles displaying it with the usual Order & Orderby Parameters from Wordpress.

[2015-09-07 14:15] mindctrl commented on #3775
@kiarashi the fastest way from a technical perspective is to just add them to a specific category or tag, unless you have another reason to add extra meta. If you have any other questions, feel free to open a [support ticket](https://easydigitaldownloads.com/support/).

[2015-09-07 14:15] #3775 closed

[2015-09-07 17:21] kiarashi commented on #3775
Would it be possible to do it with meta_query then?

	'meta_key'   => 'edd_price',
	'orderby'    => 'meta_value_num',
	'meta_query' => array(
		array(
			'key'     => 'edd_price',
			'value'   => ?
			'compare' => 'IN',
		),
	),

When I used value 0 or 0.00 it didn't quite work. Do you perhaps have an idea what I should use as a value? If not, it's not such a bad idea to use an extra category. :)

[2015-09-07 19:18] SDavisMedia opened #3776 "Add extension update information to system info"
Conversation started here: https://github.com/easydigitaldownloads/EDD-Site/issues/744

This is just useful information to have in the system info when working in support. If an EDD extension needs an update, let's show that.

`Easy Digital Downloads - Some Extension: 1.2.3 (needs update)`

Or something similar to that. As of now, unless we know the current version number off the top of our head,

[2015-09-07 22:41] ghost1227 commented on #3776
AWESOME idea! Done!

[2015-09-08 13:40] SDavisMedia opened #3779 "Credit card expiration year should allow more than 10 years out"
Relevant code: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/checkout/template.php#L272

[2015-09-08 14:00] chriscct7 commented on #3779
Is there a reason it needs to be moved out longer? Most credit cards expiration dates fall within 3 years of card issuance. If anything, the checkout field for cc expiration date year should be shortened to current - 3 years from now, with a filter to let those who (for some reason) need longer ranges have tem

[2015-09-08 14:01] pippinsplugins commented on #3779
@chriscct7 See https://secure.helpscout.net/conversation/118743657/16337/

[2015-09-08 14:02] SDavisMedia commented on #3779
@chriscct7 Doesn't hurt anything at all and prevents that. ^^^

[2015-09-08 14:04] pippinsplugins commented on #3775
Try with `'compare'=>'>'` and `'value'=>0`

[2015-09-08 14:04] chriscct7 commented on #3779
It makes for a longer dropdown which is annoying. The longest a debit card can have is 30 years (PayPal's self issued debit card)

On a second note here, is the UI better to have 30 years in a dropdown, or the number 20 and a text/number input for the last 2 years?

[2015-09-08 14:07] pippinsplugins commented on #3779
I don't see a longer drop down as a negative here.

[2015-09-08 14:11] pippinsplugins commented on #3769
We also have issues with the `edd_get_current_page_url()` function returning a port number, such as in this ticket: https://secure.helpscout.net/conversation/118695079/16322/

[2015-09-08 14:12] pippinsplugins commented on #3769
@cklosowski Just had another report of an issue with this (see ticket above). Let's get this fixed up and then shipped ASAP.

[2015-09-08 14:37] mindctrl opened #3781 "Improve the check for receipt visibility"
There are cases where our receipt visibility check fails. I've opened some tickets in other repos, but ultimately this is an EDD core issue.

References:
https://github.com/easydigitaldownloads/edd-free-downloads/issues/18

https://github.com/easydigitaldownloads/edd-auto-register/issues/8

What I've found is that the receipt isn't visible on the purchase confirmation screen if a purchase is attac

[2015-09-08 15:04] chriscct7 commented on #3769
So there's a couple more bugs here (most of these are edd_get_checkout_uri() vs edd_get_current_page_url()) that need to be fixed (migrating over from the HelpScout ticket):

1. When edd_get_current_page_url() calls home_url on the frontpage it should return right after that. Instead it continues on, and would therefore end up with a final url like: http://www.example.com://www.example.com

2. Des

[2015-09-08 16:13] SDavisMedia commented on #3776
Thanks, @ghost1227!

[2015-09-08 16:37] cklosowski commented on #3779
Yes, I'm with the idea that this is still a dropdown. We can revisit at a later date.

[2015-09-08 16:41] #3779 closed

[2015-09-08 16:56] pippinsplugins commented on #3769
Excellent points @chriscct7, let's fix it.

WP core testing suite provides a nice `goto()` helper function that we can use to test these.

[2015-09-08 17:03] #3770 closed

[2015-09-08 17:07] pippinsplugins commented on #3781
@mindctrl I would LOVE to see this improved and the proposal looks good. I left a few comments on the PR for you.

[2015-09-08 17:11] kiarashi commented on #3775
Sadly that doesn't work.

I looked into the database with phpmyadmin and noticed there's no edd_price meta field for items with a price tag of 0/0.00. That's probably why it won't work.

[2015-09-08 17:15] pippinsplugins commented on #3775
Is it a single or variable priced item?

[2015-09-08 17:15] kiarashi commented on #3775
It's single.

[2015-09-08 17:26] cklosowski commented on #3769
No need for high priority, it's marked as urgent and is on my list for today to tackle ;)

[2015-09-08 17:45] #3758 closed

[2015-09-08 17:46] pippinsplugins commented on #3775
Save the price as 0.00 instead of 0. That should add the meta key

[2015-09-08 18:37] kiarashi commented on #3775
So simple; worked flawlessly. Thank you!

[2015-09-08 19:48] pippinsplugins commented on #3775
Glad to hear it!

[2015-09-08 19:50] pippinsplugins commented on #3755
No, that's over thinking it.

We simply add another column to the DB and allow alternative addresses to be set. When searching for payments by email, we look both in the primary and alternative columns.

[2015-09-08 19:53] pippinsplugins commented on #3763
@MythThrazz Ah I see what you mean.

@chriscct7 does Discounts Pro set the `download_id` for fees yet? I forget if that's done or not.

[2015-09-08 20:32] christ0ph3r opened #3784 "Undefined Indexes when assigning new user ID to customer details"
There is 6 undefined index errors when debug is on.  To repeat this error go to a customer and disconnect the user.  Then assign a new user and you will see the errors.

[2015-09-08 20:34] christ0ph3r commented on #3784
Notice: Undefined index: line1 in  in ../wp-content/plugins/easy-digital-downloads/includes/admin/customers/customer-actions.php on line 86

Notice: Undefined index: line2 in ../wp-content/plugins/easy-digital-downloads/includes/admin/customers/customer-actions.php on line 87

Notice: Undefined index: city in ../wp-content/plugins/easy-digital-downloads/includes/admin/customers/customer-actions.ph

[2015-09-09 02:38] chriscct7 opened #3786 "edd_has_user_purchased should have a second param for bundles"
edd_has_user_purchased should have a second param, default false to include purchases via a bundle

[2015-09-09 09:16] felixarntz opened #3788 "window.location.reload() not executed when removing a 100% discount"
I encountered an issue where the `window.location.reload()` that is supposed to happen when removing a 100% discount does not get executed.

See [this line](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/assets/js/edd-checkout-global.js#L283): The problem happens when using a different decimal separator other than the dot (for example in German it would be `0,00`) - thi

[2015-09-09 12:24] pippinsplugins commented on #3788
Thanks for the report! We'll get it fixed!

[2015-09-09 12:50] pippinsplugins commented on #3786
What's a scenario someone wouldn't want bundles included?

[2015-09-09 13:02] chriscct7 commented on #3786
I can't think of one immediately that's a super good reason tbh. Including bundles makes the function less performant, but I was mostly suggesting that because of backwards compatiblity (we don't include bundles atm). I don't have a reason not for it to support bundles out of the box without an extra param

[2015-09-09 13:05] pippinsplugins commented on #3786
Ok :+1:

[2015-09-09 15:10] pippinsplugins commented on #3769
@cklosowski I'm still seeing `nocache=true` appended to the remove URLs even when `No cache on checkout` is disabled.

[2015-09-09 15:10] pippinsplugins commented on #3769
It's hardcoded into `edd_remove_item_url()` at the moment.

[2015-09-09 15:11] pippinsplugins commented on #3769
I suppose that doesn't hurt anything so we can leave it there, but shouldn't it be a timestamp so that the URL changes?

[2015-09-09 15:13] pippinsplugins commented on #3769
Actually, we should leverage the new `edd_add_cache_busting()` function. Right now we retrieve the current URL, which has an option to add cache busting to it. Instead of adding the arg manually, let's pass the remove URL through `edd_add_cache_busting()`. That way it's done in the same place across the system.

[2015-09-09 15:45] chriscct7 opened #3789 "Enter Username should be verified not empty before trying to make an API Key"
Running the Generate API tokens button without entering anything into the username field prompts a fatal error. A simply !empty should be done before running

[2015-09-09 16:57] cklosowski commented on #3769
@pippinsplugins the time was a wrong assumption on my end. nocache is a variable that caching mechanisms listen to, and `true` is the correct standard on that. not a timestamp, that was my bad.

[2015-09-09 17:06] cklosowski commented on #3769
Ok updated @pippinsplugins take a look, making a PR for this.

[2015-09-09 20:13] mindctrl opened #3791 "Improve visibility of inactive customer profile tabs"
The inactive tabs are too light and don't have enough contrast.

![image](https://cloud.githubusercontent.com/assets/1254870/9772913/178e8f0c-570d-11e5-8409-0e4b81112681.png)

Using a color contrast checker that checks for accessibility issues ([link](http://webaim.org/resources/contrastchecker/)), the colors fail for not having enough contrast. I think we just need to darken the icon color.

[2015-09-09 20:38] pippinsplugins commented on #3769
Looks good :+1:

[2015-09-10 03:00] chriscct7 commented on #3791
Cross ref with FES when this goes in please, so we can make sure to keep the CSS consistent :)

[2015-09-10 21:07] mindctrl commented on #3471
Possibly related, but can split off to another issue if needed.

I've seen several times, but can't reliably replicate, when selecting a custom range like `Sept 1 - Sept 10`, the range on the report is 1-9. The 10th, current day, doesn't show. Customer reported seeing the same same thing.

[2015-09-10 21:09] pippinsplugins commented on #3471
Sounds related to me.

[2015-09-11 01:16] christ0ph3r opened #3792 "Improve CSS shorthand consistency in templates/edd.css"
I was checking out templates/edd.css and noticed a couple margin properties aren't using shorthand methods while most of them are. I found 3 that weren't. I am unsure if this matters though since they are minified into their shorthand values. It can improve consistency/readability though for the non minified file.   #edd_checkout_form_wrap fieldset and #edd_checkout_form_wrap legend are 2 examples

[2015-09-11 07:22] pippinsplugins commented on #3792
:+1:

On Friday, September 11, 2015, Chris <notifications@github.com> wrote:

[2015-09-11 08:06] pippinsplugins commented on #3728
I think we can go ahead and merge this even with the potential backtracking in WP core. My changes will work even if core backtracks.

[2015-09-11 13:22] spencerfinnell commented on #3728
Link to the trac ticket?

[2015-09-11 13:31] chriscct7 commented on #3728
https://core.trac.wordpress.org/ticket/33654

[2015-09-11 17:17] cklosowski commented on #3769
@mindctrl mind taking a few minutes to test out general usage of this PR? Things like remove URLs in chckout and widget, making sure ajax works accross the board, etc?

[2015-09-11 17:23] SDavisMedia commented on #3792
I think this is an opportunity to improve the overall readability of the file since it's made more for human eyes than machine. No actual values need to change as a result of this issue but I like the idea of optimizing the file for troubleshooting rather than efficiency.

[2015-09-11 18:12] mindctrl commented on #3769
@cklosowski this looks good to me. Couldn't break anything.

[2015-09-11 18:25] pippinsplugins commented on #3769
Everything has worked in my testing too.

[2015-09-11 18:49] pippinsplugins commented on #3792
I 100% agree.

[2015-09-11 19:23] pippinsplugins commented on #3781
Looking really good though I have found a bug.

1. Make a purchase as a guest
2. Make a new purchase as a guest but create an account during checkout
3. Visit purchase history and click View Order Details on the purchase made in step 1. It cannot be viewed.

[2015-09-11 19:27] pippinsplugins commented on #3781
Wait, maybe ignore me. Might have confused myself. Testing again.

[2015-09-11 19:29] pippinsplugins commented on #3781
All clear!

[2015-09-11 19:30] pippinsplugins commented on #3781
This looks perfect.

@mindctrl Could you give this one more test now that @cklosowski has added his changes as well?

Note: I've merged `master` into this so you will see the account verification stuff too.

[2015-09-11 20:09] SDavisMedia commented on #3781
I was able to replicate the issue on master testing with Free Downloads and then confirm that it works properly on EDD `issue/3781`. :+1:

[2015-09-11 20:41] pippinsplugins commented on #3781
Merging.

[2015-09-11 20:52] #3781 closed

[2015-09-11 20:58] #3728 closed

[2015-09-11 20:58] cklosowski commented on #3769
Sweet, @pippinsplugins can you merge in to master then?

[2015-09-11 20:59] pippinsplugins commented on #3769
Holding for final testing from @SDavisMedia

[2015-09-11 21:49] SDavisMedia commented on #3769
@pippinsplugins This is gonna take me a bit to get set up. I don't have the right kind of MS environment. Trying to get a new test area set up now.

[2015-09-11 21:50] pippinsplugins commented on #3769
:+1:

[2015-09-12 02:58] cklosowski opened #3794 "Remove 'Confirm Password' field in standard checkout template"
There has been a movement for a better UX when it comes to entering passwords, and the new trend is to not have a confirm field, but to also include an `eye` icon, to unmask the password if the user requests to. Mail chimp does this for logging in, but it's also used on registration forms. We should do this to reduce the friction of signing up for an account.

![screen shot 2015-09-11 at 7 57 04 p

[2015-09-12 03:27] michaelbeil commented on #3794
:+1:

[2015-09-12 18:06] pippinsplugins commented on #3794
I'd suggest that we avoid showing exact steps needed to make a strong password and instead show a general strength indicator like WP core. At least in my opinion, it seems much less overwhelming to the user.

[2015-09-12 18:06] pippinsplugins commented on #3794
We can probably use core's password JS / HTML even to make use of the generator and indicator.

[2015-09-13 07:31] SDavisMedia opened #3795 "Settings, Reports, Tools admin page need headings"
Just noticed that the Settings, Reports, and Tools admin pages do not have headings. I believe they should. On some screen sizes, you wouldn't even know where you are in the dashboard unless you were already familiar with the UI.

![screen shot 2015-09-13 at 2 28 35 am](https://cloud.githubusercontent.com/assets/2359131/9835733/7f3f938a-59bf-11e5-82a8-e0e9b86c6ead.png)

[2015-09-13 07:52] pippinsplugins commented on #3795
I _think_ they used to but we removed them because of the real estate they take up. Not opposed to playing with re-adding them.

[2015-09-13 18:27] ghost1227 commented on #3365
@pippinsplugins resubmitted as requested

[2015-09-13 22:45] SDavisMedia commented on #3795
@ghost1227 I think they should be branded. If the admin page is not directly tied to an EDD custom post type, the verbiage should connect it to EDD. Which means we should look at all of the admin pages, like Customers. Right now, the Extensions page is the only one with a branded heading.

[2015-09-13 22:53] ghost1227 commented on #3795
@SDavisMedia Using full name would make for some LONG titles... using 'EDD' would cause consistency issues. What are you anticipating?

[2015-09-13 23:02] zackkatz commented on #3795
Having a horizontal logo doesn't take much space and enforces branding. Here's what I did with IDX+:

![](https://www.evernote.com/l/AATnnaWw0FtHO44I8H9LU2ZsCkZcCC3TG0QB/image.png)

[2015-09-13 23:18] zackkatz commented on #3791
Not to derail this issue, but I'd also suggest adding labels with the logos for easier identification of what they do. I never know exactly what the tabs mean at a glance, even though hovering shows it.

It looks way worse, but I'd argue it's easier to use.

<img width="312" alt="screen shot 2015-09-13 at 5 17 28 pm" src="https://cloud.githubusercontent.com/assets/870979/9839566/692da07e-5a3b-11e5

[2015-09-13 23:44] chriscct7 commented on #3791
I completely agree. Particularly as extensions start to register custom settings.

[2015-09-13 23:44] chriscct7 commented on #3791
This should probably be a seperate issue but there's *alot* of effort involved in re-using these profiles across extensions.

[2015-09-14 00:58] SDavisMedia commented on #3795
I do something similar in Volatyl.

![screen shot 2015-09-13 at 7 56 20 pm](https://cloud.githubusercontent.com/assets/2359131/9840094/91453fa2-5a51-11e5-98cb-92f4c080ee96.png)

I don't think branding with graphics is necessary, though. I think "Easy Digital Downloads Settings" is acceptable. Longer than normal, sure. But I think that just comes with having a long name.

Thoughts? @cklosowski @min

[2015-09-14 01:04] spencerfinnell commented on #3795
Agreed just using the full name seems like the best option. Not sure about a logo.

[2015-09-14 01:10] chriscct7 commented on #3795
The graphics is cool, but if its done, it needs to be done via a helper
function where the string for the header is sent in, that way extensions
can easily call a helper function to output the page title and graphic on
their pages, so if in the future we want to drop the logo or change it, it
doesn't break anything

On Sun, Sep 13, 2015 at 9:04 PM, Spencer Finnell <notifications@github.com>
wrote:

[2015-09-14 01:25] SDavisMedia commented on #3795
To be clear, I'm not in favor of a graphic.

[2015-09-14 01:51] ghost1227 commented on #3795
A significant part of WHY EDD is designed the way it is comes down to maintaining a uniform appearance with WordPress core. Core doesn't use graphics, I can't imagine us doing it either.

[2015-09-14 01:52] SDavisMedia commented on #3795
Agreed.

[2015-09-14 02:00] spencerfinnell commented on #3795
@ghost1227 @SDavisMedia Agreed.

[2015-09-14 02:04] chriscct7 commented on #3795
Fair enough, my point was more of if we did, it needed to be designed in a
way that would make it easy to be uniform. That being said at some point we
might want to consider helper functions for titles (just in case we change
our mind on this in the future or need to do some a11y stuff), for this and
also for registering submenu items since we're thinking of splitting those
up

On Sun, Sep 13, 201

[2015-09-14 02:10] ghost1227 commented on #3795
@chriscct7 what are you envisioning? I can't think of anything that'd be more efficient than a simple filter... and even that seems excessive for this.

[2015-09-14 04:41] chriscct7 opened #3798 "Bad breakpoint on the edit customer screen"
As the width of the browser continues to be reduced, the white div overflows to the right. Instead, the buttons at the top should either be horizontal or remain to the right of the white div.

![image](https://cloud.githubusercontent.com/assets/1324637/9842239/4f92a22a-5a79-11e5-8cf1-e5ecd06d87f3.png)

[2015-09-14 04:42] chriscct7 commented on #3798
The width in the screenshot is a Google Chrome 45 calculated 793px

[2015-09-14 04:44] chriscct7 commented on #3798
All breakpoints under 811px have the vertical menu wierdness. All breakpoints under 700px have the overflowing white container div issue

[2015-09-14 05:18] chriscct7 commented on #3795
Sorry if I didn't make that more clear: If we're not doing icons, then there's no point to a helper on the menu titles.

[2015-09-14 11:38] #3769 closed

[2015-09-14 12:07] pippinsplugins commented on #3791
We had extensive conversations on this when first introducing custom details page. See #2548

[2015-09-14 12:16] chriscct7 commented on #3791
That discussion starts here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2548#issuecomment-77177679 (so you don't have to wade through that ticket).

I think we should really reconsider this decision. I really like the proposal above or the one John did on the other ticket

[2015-09-14 12:20] pippinsplugins commented on #3795
While graphics work really well, I agree that they do not jive well with core experience, so :-1: from me on graphics.

[2015-09-14 14:21] pippinsplugins commented on #3791
If we decide to go with horizontal tabs, I think we should go for something closer to the WooCommerce product configuration tabs UI.

[2015-09-14 14:25] spencerfinnell commented on #3791
I definitely prefer the WooCommerce style. For having it contained in a meta box, and the tabs are a lot clearer (and easier to handle on small devices).

[2015-09-14 16:37] pippinsplugins commented on #3365
In `issue/3365` for testing.

[2015-09-16 14:20] pippinsplugins opened #3800 "Mixed-content requests breaking checkout ajax"
Since 2.4.4 and the changes made in #3769, the ajax requests on checkout are broken if a site uses HTTPS on the checkout but HTTP on admin.

I've confirmed this on two sites now.

[2015-09-16 14:31] pippinsplugins commented on #3800
If checkout is loaded on HTTPS, the ajax URL on checkout must also be HTTPS.

On the site that I just saw this one, the checkout screen was HTTPS buy `Enforce SSL on Checkout` was _not_ enabled. I believe that's key to this.

[2015-09-16 14:33] pippinsplugins commented on #3800
Note: quick fix for anyone seeing this is to either enable `Enforce SSL on Checkout` or make HTTPS site wide.

[2015-09-16 20:22] DevinWalker opened #3802 "Allow individual items to be re-priced when viewing a payment."
Scenario: An admin goes in and adjusts a payment amount manually:

![9-16-2015 1-18-50 pm](https://cloud.githubusercontent.com/assets/1571635/9917322/c30cd3da-5c75-11e5-89d0-11e2562290a9.png)

Problem: The income stats for the individual forms remain unchanged:

![9-16-2015 1-19-04 pm](https://cloud.githubusercontent.com/assets/1571635/9917332/d0dbdf56-5c75-11e5-89ad-3d5af577913c.png)

The total i

[2015-09-16 20:52] pippinsplugins opened #3803 "Symlink file download option is broken"
In 1.5 (#786) we introduced an option to create symbolic links during the file download process.

This feature was designed to only be used with the `Forced` download method as a way to make large file downloads more reliable.

In #1160 we changed the `Symlink File Downloads` option to only work with the `Redirect` download method since it was no longer compatible with the improved `.htaccess` rul

[2015-09-16 20:56] pippinsplugins commented on #3802
@DevinWalker That's intentional. The total purchase price is the accumulated amounts from all items.

To reduce the amount on the item, you would need to remove and re-add the item. That would trigger the stats change.

That's a rather crappy user experience though. Perhaps we should support changing the amounts on individual items?

[2015-09-16 21:08] DevinWalker commented on #3802
Gotcha. For Give it makes sense that we have the ability to adjust the total based on this field because there's only ever one donation form per transaction. For EDD, there can be one or many downloads per transaction. Perhaps something like this would be better:

![9-16-2015 2-06-00 pm](https://cloud.githubusercontent.com/assets/1571635/9918556/62662598-5c7c-11e5-9bf2-0e454d33adf2.png)

Clicking

[2015-09-16 21:16] #3800 closed

[2015-09-16 22:15] cklosowski commented on #3794
Yeah, I was just giving an example. Not a specific guideline of how this should play out.

[2015-09-16 23:04] pippinsplugins commented on #3802
I'd prefer the amount just be shown as an input field. Seems more intuitive to me.

[2015-09-16 23:22] DevinWalker commented on #3802
Yeah I'm overthinking it...

[2015-09-16 23:49] ghost1227 commented on #3795
We could do something like this...
![](https://s3.amazonaws.com/f.cl.ly/items/022W0F0y1s1a2a1b383C/Image%202015-09-16%20at%206.48.58%20PM.png)

[2015-09-17 00:34] pippinsplugins commented on #3795
I like that @ghost1227

For small screenshots, we could either hide the title or force it to sit above the tabs.

[2015-09-17 01:07] ghost1227 commented on #3795
I'll adjust the PR.

[2015-09-17 01:57] ghost1227 commented on #3795
@pippinsplugins @SDavisMedia PR updated

[2015-09-17 01:58] ghost1227 commented on #3795
Also added a class to facilitate adjusting it on mobile... feel free to tweak though!

[2015-09-17 02:04] pippinsplugins commented on #3802
No worries :)

[2015-09-17 11:16] wpweb101 opened #3804 "Bug with quantities when AJAX is disabled"
Hi

I have uncheck the Enable AJAX from the global setting page.
http://www.awesomescreenshot.com/06958vl1af

now on front-side, I am trying to add download with quantity more then 1. let say for example I tried to add a product with quantity 3. please see below screenshot :

http://www.awesomescreenshot.com/0f058vml45

but now when I click on add to cart button, it only add 1 product into the car

[2015-09-17 13:57] pippinsplugins commented on #3804
@wpweb101 Is it working fine when ajax is enabled?

[2015-09-17 14:01] mindctrl commented on #3804
Confirmed locally that with AJAX disabled the correct quantity does not get added to the cart.

[2015-09-17 14:08] wpweb101 commented on #3804
Yes when AJAX is enabled all works great.

[2015-09-17 14:36] pippinsplugins commented on #3804
:+1: We'll get it fixed!

[2015-09-17 18:01] pippinsplugins opened #3805 "Occasional redirect loop caused by edd_enforced_ssl_redirect_handler()"
Occasionally we see sites that get a redirect loop on the checkout screen when they have `Enforce SSL on Checkout` enabled.

I've just worked through a site where this was happening and discovered the following:

- edd_enforced_ssl_redirect_handler() is supposed to return early and not trigger a redirect if `is_ssl()` returns `true`. For this site, the checkout page was loaded on `https` already b

[2015-09-17 18:02] SDavisMedia commented on #3795
Why are we putting the heading beside the tabs? It already has a place to go and it does not take up much real estate... no more than any other heading does. I don't understand what we're doing here.

[2015-09-17 18:03] pippinsplugins commented on #3805
PR above was tested on the site where I found this problem and resolves the problem successfully.

[2015-09-17 18:14] pippinsplugins commented on #3795
I'm fine with either.

[2015-09-17 18:20] #3805 closed

[2015-09-17 18:34] mindctrl commented on #3795
I'm with Sean. I like headings at top like most/rest of core does.

[2015-09-17 20:14] spencerfinnell commented on #3795
Agreed it should be on top, and I think it should be "Easy Digital Downloads - Settings", or just "Settings"

[2015-09-17 20:26] pippinsplugins opened #3807 "Quick edit on Downloads triggers JS error"
I'm not sure when this started happening but it's definitely occurring with 2.4.5.

If you click Quick Edit on a download, a JS error is thrown:

![screen shot 2015-09-17 at 3 26 10 pm](https://cloud.githubusercontent.com/assets/1034109/9945015/7790c656-5d50-11e5-9321-0f48814d550b.png)

[2015-09-17 20:27] pippinsplugins commented on #3807
Comments from @themotionclub that might help: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/0f5e0c4c5aef56ad1ba8c0a4c98231023e652cee#commitcomment-13290798

[2015-09-17 20:59] michaelbeil commented on #3755
This would be phenomenal. Re: Justin Sainton on Twitter, what about a meta approach?

[2015-09-17 21:02] JustinSainton commented on #3755
My thinking behind that is that it might be tricky to scale that - if the intent was to have a 1:1 relationship between alternate email and DB column.

A meta value, an array of alternate addresses, might prove a more reliable data store for situations where a dev, a junior dev, agency parter, client, client's client, client's cat, cat's caretaker, etc. all need access.

All that to say, @pippinsp

[2015-09-17 21:32] mindctrl commented on #3807
I don't get that JS error (with or without script debug), but I do see that it's broken. I think I see why, but need more eyes since I'm not getting that JS error on a fresh install and not sure why the line was there originally. PR incoming.

[2015-09-17 21:54] DevinWalker opened #3809 "Unnecessary 'edd' within get_transients in payments/functions.php"
I stumbled upon this while reviewing the `edd_get_sales_by_date` function: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/payments/functions.php#L751

PR coming...

[2015-09-17 21:56] #3809 closed

[2015-09-17 21:56] pippinsplugins commented on #3809
Whoops!

[2015-09-17 22:17] cklosowski commented on #3807
No JS error on my end, but I do see that the item does not expand for a quick edit. With john's fix, it works..but seeing a PHP notice. looking into it.

[2015-09-17 22:19] cklosowski commented on #3807
Ignore the PHP error, was something I had sitting in an `mu-plugins` test for a customer. carry on :)

[2015-09-17 22:25] cklosowski commented on #3807
:+1: working great for me.

[2015-09-17 22:28] #3807 closed

[2015-09-17 23:08] DevinWalker opened #3812 "Admin Feature: Refresh reports button"
Report data is stored in transients. If a user has a busy site, it's helpful that they have a way to refresh reports and clear the transient cache. How about a button like this?

![refresh-button](https://cloud.githubusercontent.com/assets/1571635/9948133/33aa4b10-5d55-11e5-97d3-e40ad7608856.png)

and once the cache is cleared:

![9-17-2015 4-06-30 pm](https://cloud.githubusercontent.com/assets/15

[2015-09-17 23:10] cklosowski commented on #3776
Leaving 'Needs Testing' since we're so far out. Will remove label and close once we're closer to release.

[2015-09-17 23:18] cklosowski commented on #3732
@pippinsplugins with that in mind, should we just move #3794 into this one as a duplicate?

[2015-09-17 23:18] cklosowski commented on #3732
or should they both just be wrapped into 2.5?

[2015-09-17 23:21] cklosowski commented on #3740
I fear we may have made this obsolete with the recent release in 2.4.4 in issue #3769. We'll just want to be sure that we're still happy with `edd_get_current_page_url()` when this merge is all said and done.

[2015-09-17 23:23] mindctrl commented on #3812
If we do this, I'd like to see the notice use a more end user friendly tone like the button does. Something like "The reports have been refreshed".

[2015-09-17 23:24] cklosowski commented on #3731
So, I think this is a UX issue for sure...but we'll have to tackle it as such, in that it's a Chosen issue. Given there are a number of issues with have with Chosen and the multi-selecton option (can't arrange them, cannot use variable pricing, issues with width and placeholders)...I'd propose we take a new approach to the multi-select option of the download list.

Avoid chosen, possibly give a re

[2015-09-17 23:25] DevinWalker commented on #3812
@mindctrl yeah for sure. My language is a little less user friendly.

[2015-09-17 23:28] cklosowski commented on #3666
There are a few things I think we should do here:
1) Yes, all past upgrade routines should use the new system.
2) Reduce the number of upgrade notices. that display at a single time. Weather that's through a UX, or something.
3) We should make sure these upgrade routines run IN ORDER. Maybe we do this by building an 'upgrades' view. With it we can show all the upgrades that are needed, gray out th

[2015-09-17 23:28] cklosowski commented on #3666
I'm going to make this one of my priorities for 2.5.

[2015-09-17 23:29] mindctrl commented on #3740
@cklosowski didn't you merge this in already?

[2015-09-17 23:46] cklosowski commented on #3418
I actually see benefit to showing both. Two columns:
`Item Price` and `Sale Price` would allow someone to quickly see how often items are being discoutned, etc.

[2015-09-17 23:49] cklosowski commented on #3418
The reasoning for this, there are some older versions of EDD that `price` isn't in existence, which is why it falls back to `item_price`.

[2015-09-17 23:59] cklosowski commented on #3418
Here's a real-world use case...like when a Software Licensing renewal goes through:
![screen shot 2015-09-17 at 4 57 41 pm](https://cloud.githubusercontent.com/assets/1390124/9948999/7242f6c6-5d5d-11e5-9d89-dd2554efba08.png)

[2015-09-18 00:05] cklosowski commented on #3418
Or here is one with a disount code appiled to a single purchase record.
![screen shot 2015-09-17 at 5 04 41 pm](https://cloud.githubusercontent.com/assets/1390124/9949073/3800b718-5d5e-11e5-9262-7d12c4c84e39.png)

[2015-09-18 12:54] shazahm1 commented on #3731
+1 a thousand times :)

[2015-09-18 13:41] pippinsplugins commented on #3731
@cklosowski I like that idea.

[2015-09-18 13:44] pippinsplugins commented on #3666
:+1:

[2015-09-18 13:45] pippinsplugins commented on #3812
Nice idea, I like it.

[2015-09-18 13:46] pippinsplugins commented on #3732
Let's merge the issues into this one.

[2015-09-18 13:46] pippinsplugins commented on #3794
This and #3732 are both resolving the same issue in slightly different manners. Closing this in favor of #3732

[2015-09-18 13:46] #3794 closed

[2015-09-18 13:47] pippinsplugins commented on #3418
+:1: to showing both values.

[2015-09-18 14:00] pippinsplugins opened #3813 "Warning: Missing argument 3 for edd_receipt_show_download_files()"
In #3758 we added `$item` as a 3rd parameter to the `edd_receipt_show_download_files` filter. We did not set the default parameter type though so a warning is getting thrown for anyone that has modified their receipt template file.

[2015-09-18 14:04] pippinsplugins commented on #3757
We need to do this asap actually. The .org team is moving through plugins quickly. I expect we're just a few weeks away.

[2015-09-18 14:16] pippinsplugins commented on #3757
Just got word from @SDavisMedia that he is going to take the first stab at updating text domains today.

[2015-09-18 14:28] fxbenard commented on #3757
A post I wrote for MailPoet and what it involves:

• As devs you don't have editors access. No managing access.

• Translations are auto-imported the 1st time the plugin is imported in GP. Better run a grunt tx-pull

• Ask all Transifex translators to move over GP - Kind of rip off for me for what it took years to build.

• Make a special call to the GP team to import for you your contributors lik

[2015-09-18 14:34] pippinsplugins commented on #3757
Thank you for all of the feedback @fxbenard

I was playing with translate.wordpress.org yesterday to see exactly how it works for plugins. I have to say that the user experience there is 10x better than Transifex and significantly easier for a new user to figure out. Providing a translation was much, much simpler.

At least that was my experience.

There are definitely downsides, but there is also

[2015-09-18 14:41] fxbenard commented on #3757
From my point of view GP UX is just hell, poor TM, poor glossary, no comments system, no community spirit, a Poedit online. But that's the way it goes. As i said the project is new. Will see.
Only 100% translations will be imported. So if the translations is not 100% and you remove your mo as it's suppose to be then no translations will be used. Needs to hit 100% at some point.

[2015-09-18 14:49] pippinsplugins commented on #3757
The UX on translate.wordpress.org isn't the standard GP UX is it? Pretty sure it's customized.

I am really sad about the 100% requirement. That's a major bummer.

[2015-09-18 15:10] fxbenard commented on #3757
It's softly optimized then, no changes between my vvv install and GP official. (I'm using it everyday as I'm a maintainer of the French team there, hahaha).

yep the 100% is a bummer, that's why lot's of team are rushing the translations, the quicker, the better :( maybe not.

[2015-09-18 15:43] pippinsplugins commented on #3757
I hope they change the 100% requirement. That's so close to almost unattainable it's not even funny.

[2015-09-18 16:13] 1bigidea commented on #3755
Just a reminder, if I am doing my job the way you (the developer) want, I'll have my email address attached to multiple end-user accounts.

This problem isn't different from reminding a user from a larger organization to use a generic email address for registering (or recovering a password) rather than a personal one that expires when an employee leaves.

[2015-09-18 16:49] #3813 closed

[2015-09-18 16:50] cklosowski commented on #3812
Yes, looks like a great addition. Thanks @DevinWalker.

[2015-09-18 17:09] cklosowski commented on #3740
Yes I did, then I merged in master, which has the release from #3769, which further altered this function. I'm reviewing the merge right now, to make sure we're not seeing any artifacts of a wonky merge.

[2015-09-18 17:11] cklosowski commented on #3740
yeah merge looks good, i'm closing this one out as the generation of the URLs with these functions has been tested well in the 2.4.4 and 2.4.5 releases.

[2015-09-18 17:11] #3740 closed

[2015-09-18 17:20] cklosowski commented on #3633
I'm going to pull down what you have and finish this up.

[2015-09-18 17:32] pippinsplugins commented on #3633
:+1:

[2015-09-18 17:40] cklosowski commented on #3757
There is some interesting conversation here:
https://make.wordpress.org/plugins/2015/09/01/plugin-translations-on-wordpress-org/#comment-42254

Talking about plugins who have non-100% translations. So maybe what we can do is keep working with TransFX and @fxbenard until we get it to 100% on a specific language, and THEN ship it to .org?

[2015-09-18 17:42] cklosowski commented on #3757
@SDavisMedia I'm bumping this to 2.5 release, (2.4.6 was a 'let's pay attention to it technique). But please, keep doing your work as soon as possible, we want to be ready whenever they add us to the list.

[2015-09-18 17:46] pippinsplugins commented on #3418
@mindctrl Could you test @cklosowski's PR?

[2015-09-18 18:09] DevinWalker commented on #3812
Glad you guys like it. I'll submit a PR soon!

[2015-09-18 18:14] SDavisMedia commented on #3757
@cklosowski Got it.

[2015-09-18 18:20] michaelbeil commented on #3812
This is really great @DevinWalker!

[2015-09-18 19:16] pippinsplugins opened #3816 "Force license keys to expire at 23:59:59"
[This ticket](https://secure.helpscout.net/conversation/121097499/17010/) brought up an issue with license keys expiring a few hours too early (in this case due to recurring payments being processed later in the day). We should adjust our expiration dates to always be at the end of the day, `23:59:59` so that they never expire an hour or two early.

EDD core does the same thing with discount codes

[2015-09-18 19:23] thomasgriffin opened #3817 "Redirect loop when verifying user if no purchase history page is set in options"
I don't know exactly when this got implemented, or how exactly users are "verified" - is this a setting I can turn off?? - but if you do not have a page set for your purchase history in the EDD settings, clicking on the user verification link causes an infinite redirect loop.

It also sends out a zillion "Verify your account" emails, none of which have the proper URL because of no purchase history

[2015-09-18 19:26] pippinsplugins commented on #3817
@thomasgriffin I'm going to ping you on slack to go over the fine details of this. Will explain there.

Is there a reason you don't have a purchase history page set?

[2015-09-18 20:33] mindctrl commented on #3418
When purchasing mulitple quantities of an item, the Sale Amount reflects the order total for that item on each one.

![image](https://cloud.githubusercontent.com/assets/1254870/9970403/ee33d852-5e22-11e5-927f-a753ab88a24e.png)

If you're just viewing that log, you'd think the total sale amount was $160, but it was $40.

[2015-09-18 20:35] mindctrl commented on #3418
To clarify, no discount was applied to that purchase. Might be separate issue? Otherwise, everything else looks good.

[2015-09-18 20:40] mindctrl commented on #3418
Multiple quantities with discount applied:
![image](https://cloud.githubusercontent.com/assets/1254870/9970555/c49948a0-5e23-11e5-8159-7da9e2c9e24e.png)

I bought 2 x $10 = $20, with a 50% discount for a grand total of $10. The line items should show $5 each?

[2015-09-18 20:49] #3817 closed

[2015-09-18 20:49] cklosowski commented on #3816
Um, this belongs in EDD SL repo :)

[2015-09-18 20:49] #3816 closed

[2015-09-18 20:50] cklosowski commented on #3803
Putting to 2.4.7 to get an urgent bug out.

[2015-09-18 20:51] cklosowski opened #3819 "2.4.6 Change-log and version"

[2015-09-18 20:52] #3819 closed

[2015-09-18 20:52] pippinsplugins commented on #3816
DOH!

[2015-09-18 20:56] pippinsplugins commented on #3418
Maybe we should show all of the following:

- subtotal (item price)
- discount
- taxes
- total

All of that information is available. Might as well show it now.

[2015-09-18 20:57] pippinsplugins commented on #3418
Discount and taxes would need to be divided by the quantity.

[2015-09-21 15:31] pippinsplugins opened #3820 "Abstract customer UI"
The customer UI is great . . . but it's impossible to re-use in extensions.

All of the class names, IDs, etc, are all `customer`. This means that all of the CSS and HTML needs updated to use generic class names.

For example, instead of `edd-customer-card-wrapper` as the class for the main DIV wrapper, we should use `edd-object-card-wrapper`

I'm not sure `object` is the best descriptor but it ne

[2015-09-21 15:33] spencerfinnell commented on #3820
`edd-item-card-wrapper`?

Though I think `object` makes plenty of sense.

[2015-09-21 15:34] pippinsplugins commented on #3820
I like both item and object.

[2015-09-21 15:54] cklosowski commented on #3820
:+1:

[2015-09-21 16:05] spencerfinnell commented on #3820
Are any other plugins besides FES 2.3 using this currently?

I think switching from IDs to classes would be nice, and prefixing anything else that isn't already. IDs as selectors are bleh.

[2015-09-21 16:05] pippinsplugins commented on #3820
Software Licensing uses it.

EDD Wallet (new one coming) uses it.

[2015-09-21 17:36] chriscct7 commented on #3820
FES shouldn't be dependent on any changes to abstract the customer ui. For
the most part it duplicates all of the css exactly because of the talk of
future abstracting it
On Sep 21, 2015 12:05 PM, "Pippin Williamson" <notifications@github.com>
wrote:

[2015-09-21 18:43] pippinsplugins commented on #3755
Another problem this helps us solve:

1. Customer purchases something with `name1@test.com` and registers an account (call it ID 1)
2. Customer now has a customer record identified by `name1@test.com` and a `user_id` of `1`
3. Same customer, while logged in, purchases another item but enters `name2@test.com`.
4. Purchase record is now tied to customer record of `name2@test.com` but `user_id` of `1

[2015-09-21 20:21] mindctrl commented on #3732
Something we may need to consider. Any page that displays the password meter loads a 700KB minified JS file from core (zxcvbn.min.js). Not sure what this will do to perceived load times, if anything.

[2015-09-21 20:25] pippinsplugins commented on #3732
@mindctrl Even if we use the one from core?

[2015-09-21 20:27] mindctrl commented on #3732
@pippinsplugins this file gets loaded: https://github.com/WordPress/WordPress/blob/master/wp-includes/js/zxcvbn.min.js

[2015-09-21 20:29] pippinsplugins commented on #3732
Got it.

[2015-09-22 17:12] pippinsplugins commented on #3820
@mindctrl @SDavisMedia I'd like your help testing this. No need to code anything, just giving UI a full once over to make sure I didn't break anything.

[2015-09-22 17:40] pippinsplugins commented on #3410
All extensions work just fine here.

[2015-09-22 17:46] pippinsplugins commented on #3410
I tested this 11 times on each version (master branch vs release/2.5).

Request times for `release/2.5` using `wp` hook.

0.0273659229279
0.0276408195496
0.0351130962372
0.0283081531525
0.03102684021
0.028048992157
0.0273940563202
0.0269241333008
0.0269830226898
0.0301189422607
0.0272679328918

Avg: 0.1580959558

Request times for `master` using `template_redirect` hook.

0.0294721126556
0.0282800

[2015-09-22 17:53] pippinsplugins commented on #3410
Whoops, I think I mixed those up. I've done it again with 20 tests on each version:

_template_redirect_

0.02920794487
0.029128074646
0.0283479690552
0.0277938842773
0.0285429954529
0.0282740592957
0.0324380397797
0.0280120372772
0.0269742012024
0.0273830890656
0.0276551246643
0.0275580883026
0.0281538963318
0.026734828949
0.0283827781677
0.0290858745575
0.0452950000763
0.0276999473572
0.02991485

[2015-09-22 17:53] pippinsplugins commented on #3410
Nearly identical.

@cklosowski could you test it as well?

[2015-09-22 17:55] cklosowski commented on #3410
Sure which endpoint are you hitting? Also, I'm fine with this change regardless of the performance, as this would help avoid any other plugins/themes really messing with our API load.

[2015-09-22 17:59] pippinsplugins commented on #3410
/products/ with SL, Commissions, Reviews, and Recurring Payments activated.

[2015-09-22 18:01] cklosowski commented on #3410
k thanks, i'll test it out today

[2015-09-22 18:07] cklosowski commented on #3633
Ok, so this is my initial work on it. Currently it'll do recount the store earnings, recount an individual download's earnings & sales, recount ALL downloads earnings & sales w/ store earnings update, and then a reset earnings and sales.

*NOTE:* Currently this _does not_ delete the sales logs, so the reset leaves those present. I'm doing this for the mean time, to allow the recounts to be much ea

[2015-09-22 18:15] cklosowski commented on #3633
Some UX for you:
![screen shot 2015-09-22 at 11 14 05 am](https://cloud.githubusercontent.com/assets/1390124/10027332/3946419a-611b-11e5-9dd7-d7d308e0e8eb.png)
![screen shot 2015-09-22 at 11 09 14 am](https://cloud.githubusercontent.com/assets/1390124/10027334/3965cc5e-611b-11e5-8e5d-913455fd0cef.png)
![screen shot 2015-09-22 at 11 09 08 am](https://cloud.githubusercontent.com/assets/1390124/10027

[2015-09-22 18:28] cklosowski commented on #3633
Easy compare link: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/compare/release/2.5...issue/3633

[2015-09-22 18:33] spencerfinnell commented on #3633
😍 love it

[2015-09-22 19:25] pippinsplugins commented on #3633
@cklosowski The product drop down will have to use Chosen.

[2015-09-22 19:56] cklosowski commented on #3633
@pippinsplugins Ugh, fine. When can we set fire to all chosen things? It's a terrible UI.

[2015-09-22 19:59] cklosowski commented on #3633
The main issue is that Chosen does really poorly with elements show/hiding. I'll put a little hack together so it doesn't do this to us:
![screen shot 2015-09-22 at 12 59 16 pm](https://cloud.githubusercontent.com/assets/1390124/10029934/c51db7f8-6129-11e5-8a86-4ce5a86fb0f9.png)

[2015-09-22 20:54] pippinsplugins commented on #3620
I'm going to start working on this.

[2015-09-22 21:21] pippinsplugins opened #3824 "Remove user_id value when deleting user account"
When a user account is deleted that is associated with a customer record, the `user_id` column stays unchanged.

This causes unexpected results with customer records who have had their user account deleted.

We should remove the ID from the `user_id` column when the user account is deleted.

[2015-09-22 22:56] cklosowski commented on #3410
Yeah i'm happy with this, seeing an improvement for sure. Closing out.

[2015-09-22 22:56] #3410 closed

[2015-09-23 06:45] tw2113 commented on #2442
Funnily enough, I was bitten by this exact issue tonight with that `$edd_options['show_register_form'] = true` bit from our plugin. However, due to the strict type checking added, we had NO forms showing up. I believe it didn't show up for us earlier, because the site had not updated itself lately, and just now did this week. Hoping to get a proper fix in for it.

[2015-09-23 08:56] chriscct7 commented on #3732
There's also a little bit of CSS that goes with that. We can copy it to our stylesheet though

[2015-09-23 09:20] sumobi opened #3825 "Split off purchase button code in edd_get_purchase_link()"
I'd love to see it easier to modify these lines:

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/template-functions.php#L168-L201

For example, on the PippinsPlugins.com site I had to duplicate the entire function (don't tell Pippin) because I wanted an SVG for loading icon when the button was pressed. I also wanted an icon to appear when the customer was alert

[2015-09-23 10:20] wpweb101 commented on #3804
Hi

There is still issues.

I have disabled AJAX from the global setting page.

See this Screenshot : http://awesomescreenshot.com/06958vl1af

Now on front-side, In Variable Download with multiple purchase option, I selected two different quantiites as per screen shot below :

http://awesomescreenshot.com/0da59cgu2c

But now when I click on add to cart button, it only add 1 product into the cart o

[2015-09-23 10:21] wpweb101 opened #3826 "Quantity not added with variable prices and multi-purchase mode on when ajax is disabled"
Hi

There is still problem in some other cases.

I have disabled AJAX from the global setting page.

See this Screenshot : http://awesomescreenshot.com/06958vl1af

Now on front-side, In Variable Download with multiple purchase option, I selected two different quantiites as per screen shot below :

http://awesomescreenshot.com/0da59cgu2c

But now when I click on add to cart button, it only add 1 pr

[2015-09-23 13:39] pippinsplugins commented on #3825
:+1:

[2015-09-23 13:42] pippinsplugins commented on #3804
Opened new issue: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3826

[2015-09-23 13:42] pippinsplugins commented on #3804
Wait, nevermind, I thought we had already released this.

[2015-09-23 13:43] pippinsplugins commented on #3826
Duplicate: of https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3804

[2015-09-23 13:46] pippinsplugins commented on #2442
@tw2113 In the support plugin? I actually fixed that for you guys and released an update several months ago (pinged the trello card numerous times with no answer so just did it).

[2015-09-23 14:03] tw2113 commented on #2442
Yeah in the support plugin. I went to the trello card as well, don't recall getting any email notifs about this specific issue. Perhaps it was before I was set to? *shrug* anyways, I have 2.0.4 in our repo for it updated with changes from EDD staff and a couple bits from me, if we want to do another point release.

[2015-09-23 14:04] pippinsplugins commented on #2442
@tw2113 see Trello now. Apparently I got mixed up and missed your comments :(

[2015-09-23 14:07] tw2113 commented on #2442
It happens. Will try to follow the notes provided today. Thanks Pippin.

[2015-09-23 14:21] shazahm1 commented on #3825
+1... this is the one reason I always delay updating EDD because I have to compare the business logic to make sure there were no breaking changes that I need to migrate to my duplicate function. I too had to duplicate the entire function to make some tweaks to how I wanted the button. A simple way to mod the button without have to deal with the other business logic would be appreciated.

[2015-09-23 14:24] pippinsplugins commented on #3825
It's definitely a pretty fragile system. Breaking it up into more manageable chunks will be a big improvement.

[2015-09-23 14:58] spencerfinnell commented on #3825
Related https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3641#issuecomment-124599345

[2015-09-23 16:20] SDavisMedia commented on #3820
Looks like Commissions lost some formatting. Everything else seems fine.

![screen shot 2015-09-23 at 11 20 25 am](https://cloud.githubusercontent.com/assets/2359131/10051045/1dbd872e-61e5-11e5-9d4d-b334f2e5889c.png)

[2015-09-23 18:32] cklosowski commented on #3633
Ok, the Reset option now fully deletes customers, payments, and any `edd_log` post types. I've added a filter on the post types and the deletion processes to allow other extensions to have their data deleted as well.

[2015-09-23 18:32] cklosowski commented on #3633
I need to work on building a UX for the 'confirmation' of full deletion. This seems like something we should make sure they want to do before we actually do it :)

[2015-09-23 20:01] pippinsplugins commented on #3633
Is there anything that's not working yet that we should be aware of while testing?

[2015-09-24 03:09] cklosowski commented on #3633
@pippinsplugins Not that i'm aware of. All of the options should be working just fine.

[2015-09-24 14:35] shazahm1 opened #3827 "Build front-end "Forgot Password" form"
I seem to get this regularly... users wishing to purchase a renewal or making another purchase who forget their password. On the login screen of the checkout page, there should be an option to get and/or reset the password.

I already have in very plain sight (on the main site nav) a "My Account:" page which has the forgot password link but I think it would be beneficial to have it on the checkout

[2015-09-24 15:19] cklosowski commented on #3824
This is a pretty small change. I think we should get it in for 2.5.

[2015-09-24 15:24] mindctrl opened #3828 "Report graphs not showing sales for days with sales"
We've had several reports of this now. The report graphs just drop to zero and don't show sales after a certain date.

Example:
![image](https://cloud.githubusercontent.com/assets/1254870/10077492/7877b490-62ae-11e5-9382-c20b4536388a.png)

You sometimes get different graphs, though still not accurate, by doing a custom range report.

Reported [here](https://secure.helpscout.net/conversation/124248

[2015-09-24 15:26] pippinsplugins commented on #3824
I'm fine with that.

[2015-09-24 15:40] pippinsplugins commented on #3828
Another ticket https://secure.helpscout.net/conversation/123721941/17518/

[2015-09-24 15:44] pippinsplugins commented on #3828
I suspect these issues are related to changes we made to the `EDD_Payment_Stats` class.

[2015-09-24 15:48] pippinsplugins commented on #3827
I agree. We should include one as part of the `[edd_login]` short code.

This was done recently in RCP: https://github.com/pippinsplugins/restrict-content-pro/pull/209

[2015-09-24 16:13] pippinsplugins commented on #3828
Another ticket: https://secure.helpscout.net/conversation/122031514/17277/

Another hint: checking the box to exclude taxes seems to improve it.

[2015-09-24 17:05] cklosowski commented on #3828
@mindctrl @pippinsplugins can anyone reliably replicate this locally?

[2015-09-24 17:05] cklosowski commented on #3828
I've replicated and have a possible fix.

[2015-09-24 18:49] cklosowski commented on #3633
Confirmation UI
![screen shot 2015-09-24 at 11 48 55 am](https://cloud.githubusercontent.com/assets/1390124/10083213/4580afa2-62b2-11e5-8aa6-058c91004550.png)

[2015-09-24 22:30] cklosowski commented on #3828
Ok I did some digging, I'm not 100% positive we have a bug. I'm waiting for some feedback, but I think we just have some super stale transients that aren't getting refreshed here.

The reason I say this is, I fixed up some code, then commented out the transient for the earnings on a site experiencing this and it worked, however the sales counts were still off. So I commented out the request to the

[2015-09-25 02:54] cklosowski commented on #3828
Ok, we need to do something about our transients...I'm looking and we don't preface any of our MD5'd ones...we should do that so we can debug easier...also, some might not be getting their expiration correctly.

[2015-09-25 07:12] cklosowski commented on #3828
Ok, I've added a proper prefix to our stats transients...since a PHP `md5` will return a 32 character string [source](http://php.net/manual/en/function.md5.php#refsect1-function.md5-returnvalues) and WordPress only allows up to a 40 character transient name [source](https://codex.wordpress.org/Transients_API#Using_Transients), we have to be careful on length.

To accommodate for this we've added `

[2015-09-25 07:46] cklosowski commented on #3418
I'm not sure we need all those columns. I think we just need to take the price and divide by quantity, that should take care of it. Showing too much here could get REALLY overwhelming, especially on smaller screens.

[2015-09-25 07:52] cklosowski commented on #3418
![screen shot 2015-09-25 at 12 51 46 am](https://cloud.githubusercontent.com/assets/1390124/10095576/a5f1b814-631f-11e5-9152-615f43ec9283.png)

[2015-09-25 14:08] #3824 closed

[2015-09-25 14:12] pippinsplugins commented on #3418
That looks correct to me.

[2015-09-25 14:17] pippinsplugins commented on #3828
Looks good to me.

[2015-09-25 14:17] pippinsplugins commented on #3828
Pretty sure we can close this now. @cklosowski @mindctrl ?

[2015-09-25 15:57] cklosowski commented on #3828
yeah i'm good with it. if you guys are.

[2015-09-25 16:06] pippinsplugins commented on #3757
Heads up: we _must_ make a decision on this in the next two-three days as EDD is getting imported into translate.wordpress.org next week. We got the email yesterday.

[2015-09-25 16:19] pippinsplugins commented on #3757
Just came across another reason we should opt to do this. From the announcement post:

[2015-09-25 16:19] mindctrl commented on #3828
@pippinsplugins looks good to me.

[2015-09-25 16:22] pippinsplugins commented on #3757
Good news. The import will happen no matter what (no opt out), but we can decide whether to take advantage of the new system:
![screen shot 2015-09-25 at 11 21 00 am](https://cloud.githubusercontent.com/assets/1034109/10105982/a9bd4e38-6377-11e5-87ee-02bb51a6f3bf.png)

[2015-09-25 16:28] pippinsplugins commented on #3757
Good news on text domain. Import will still happen if not updated. While we still have to do it for language packs to work, it's not critical that we have it done prior to the import:
![screen shot 2015-09-25 at 11 27 10 am](https://cloud.githubusercontent.com/assets/1034109/10106128/79430fda-6378-11e5-847d-bbdaa0222ecd.png)

[2015-09-25 16:30] cklosowski commented on #3828
Thanks guys.

[2015-09-25 16:30] #3828 closed

[2015-09-25 16:37] pippinsplugins commented on #3757
Something to consider. We could build a custom updater to pull language packs from Transifex (I think): https://core.trac.wordpress.org/browser/branches/4.3/src/wp-admin/includes/class-wp-upgrader.php#L1730

[2015-09-25 16:38] pippinsplugins commented on #3757
More info on language files that drop below 100% after an update:
![screen shot 2015-09-25 at 11 38 07 am](https://cloud.githubusercontent.com/assets/1034109/10106381/f165cdd0-6379-11e5-87c2-865013548695.png)

[2015-09-25 16:39] dovy commented on #3757
You could finish this off: https://github.com/woothemes/woocommerce-language-packs

It works, BUT there are some bugs. I'd love to use it for Redux myself.  ;)

[2015-09-25 16:45] pippinsplugins commented on #3757
There is a change to our deployment workflow that will need to happen with this.

Currently, when we release a new version, we push to `trunk` and then immediately tag the release as well in SVN.

In order to help translators translate the plugin pre-release, we should do the following:

1. Do our best to initiate a "string freeze" 2-3 weeks before a release goes out
2. Push the beat version with

[2015-09-25 16:47] mindctrl opened #3832 "Option to sort earnings by category graphs by name"
Currently the pie chart colors are based on the sort being by value. This can result in a category in the sales chart not matching the color in the earnings chart, which can be confusing.

![image](https://cloud.githubusercontent.com/assets/1254870/10106569/76034b68-6383-11e5-9f52-d372f3fc7055.png)

@cklosowski suggested an option to change the sort value to help with that.

[2015-09-25 16:49] cklosowski commented on #3757
@pippinsplugins This could be our 'Beta period', while it sits in trunk with the `Stable` tag set to whatever the current version is. I'm all for that.

[2015-09-25 16:49] pippinsplugins commented on #3757
@cklosowski yep.

[2015-09-25 17:27] cklosowski commented on #3820
@spencerfinnell There are some IDs as selectors for when using the AJAX save but for the most part the overall ID usage could be discontinued. IDs are blech for CSS selectors, but much more performant for jQuery selectors.

[2015-09-25 18:03] cklosowski commented on #3761
Ok, just pushed up some changes to our session class. You should be able to avoid the cookie with the following in your `wp-config.php`
`define( 'EDD_USE_CART_COOKIE', false );`

[2015-09-25 18:11] pippinsplugins commented on #3497
Looks good to me.

[2015-09-25 18:11] #3497 closed

[2015-09-25 18:18] mintplugins opened #3836 "Undefined index: user_info in discount-functions.php on line 853"
For some reason I can't figure out, on one of my installs, if a user enters a discount coupon without being logged in, this error comes back from ajax:

Undefined index: user_info in discount-functions.php on line 853

I did a print_r($payment_meta ); and it shows this array with these empty key/values in the console ajax error:

"Array
(
    [key] =>
    [email] =>
    [date] =>
)"

Any ideas why

[2015-09-25 18:26] mintplugins commented on #3836
Additionally, I've tested it with all plugins de-activated and using the twenty fifteen theme. The same issue occurs. I assume this is because the Payment itself doesn't have the user_info saved?

We set up some of our payments manually using the EDD Manual Payments add-on. I'm not sure if that might be relevant.

[2015-09-25 18:31] #3761 closed

[2015-09-25 18:58] pippinsplugins commented on #3832
:+1:

[2015-09-25 19:07] pippinsplugins commented on #3757
There's one big problem: so far there does appear to be any good or even halfway decent way to make translations done through `Say What` and similar plugins still work after changing the text domain.

[2015-09-25 19:10] michaelbeil commented on #3757
What is `Say What` @pippinsplugins?

[2015-09-25 19:21] pippinsplugins commented on #3757
It's a plugin for translating individual strings from @leewillis77 https://wordpress.org/plugins/say-what/

We recommend it a lot in support whenever someone wants to change the text of a button or something similar.

[2015-09-25 19:32] michaelbeil commented on #3757
Oh very very nice. Noted.

[2015-09-25 19:57] pippinsplugins commented on #3757
Lee has a nice proposal for Say What: https://github.com/leewillis77/say-what/pull/16#issuecomment-143336384

[2015-09-25 20:44] pippinsplugins commented on #3757
@fxbenard with the comments above from earlier today, do you have any further feedback for us?

[2015-09-25 20:52] cklosowski commented on #3757
The above commit should fix the Say What concerns we have.
![screen shot 2015-09-25 at 1 51 28 pm](https://cloud.githubusercontent.com/assets/1390124/10111974/8c588b04-638c-11e5-8eaf-e3d833085f7e.png)

@leewillis77 is releasing/has released version 1.6 which adds a feature called `domain-aliases` allowing us to register an alias of `easy-digital-downloads` of `edd` with Say What so that anyone who

[2015-09-25 20:55] leewillis77 commented on #3757
No worries - good look with the RSI typing that on every string ;)

[2015-09-25 20:59] pippinsplugins commented on #3757
@leewillis77 seriously . . . if only WordPress.org allowed us to register an alias.

[2015-09-25 21:41] fxbenard commented on #3757
@pippinsplugins No comments everything seems good. I will rather go with the language pack from TX, as @dovy said, hahaha. And personally I'll prefer managing French on TX even if I'm an official French maintainer on translate.wordpress.

[2015-09-25 21:59] pippinsplugins commented on #3757
Thanks @fxbenard!

I suspect the next few months will be a bit rough as everyone adapts to the new system, but I expect it to smooth out and be really nice once the dust has settled.

[2015-09-25 22:10] pippinsplugins opened #3837 "User ID not set on customer record when user account is registered"
If a user account is created after a customer record, the customer record should have its `user_id` field updated with the new user ID.

Right now this does not happen.

I could have sworn that we already did this but I cannot find any record of it.

[2015-09-25 22:11] pippinsplugins commented on #3837
I think this should happen during `edd_add_past_purchases_to_new_user()`

[2015-09-25 22:57] retlehs commented on #3761
thanks y'all!

[2015-09-25 23:05] cklosowski commented on #3198
Something else to possibly throw in the ring here...what if we had a discount `status` field. We could take ones that have reached their maximum usage or are expired and put them in an `Archived` post status, that doesn't show with the `Live` discount codes (ones that have uses left or are still active.

[2015-09-26 18:57] spencerfinnell opened #3839 "Wrap edd_price_range() Output with .edd_price"
I think global styles applied to `.edd_price` would also want to apply to a range. Either wrap the whole output, or add `.edd_price` to the high and low span wraps.

Thoughts?

[2015-09-27 05:04] chriscct7 commented on #3757
Does this mean that any extensions or custom code that use 'edd' as translated strings will need to be updated to use the new textdomain then

Like for example an extension uses the same string as EDD so it uses 'edd' as the textdomain for the string so the translation pulls from EDD. That will need to change to 'easy-digital-downloads'?

[2015-09-27 20:07] fxbenard commented on #3757
Yes! You'll need to use the new textdomain as well.

[2015-09-28 00:06] pippinsplugins commented on #3198
@cklosowski I like that idea.

[2015-09-28 00:07] pippinsplugins commented on #3757
@chriscct7 as @fxbenard  said, yes. It is also important to note extensions shouldn't ever be doing that as translation files won't pick up on them.

[2015-09-28 00:20] pippinsplugins commented on #3839
If starting over, yes, I think `.edd_price` should be used as the wrapper. Since we can't know how adding it would impact variable pricing styling in existing themes and sites, I vote that we just apply it to the high and low spans.

[2015-09-28 01:04] chriscct7 commented on #3757
If they're exact string matches, they don't need to be picked up by the translation files though, that'd be the whole point of using the 'edd' textdomain.

[2015-09-28 01:13] pippinsplugins commented on #3757
@chriscct7 Translation plugins (like qTranslate or Say What) can pick up on them, but WordPress will _not_ translate them.

Pretty positive that is the case but happy (thrilled actually) to be proven wrong.

[2015-09-28 06:01] fxbenard commented on #3757
@chriscct7 <https://github.com/chriscct7> I think Pippin is right,
another plugin will not pick translations from another one.//And the
translations will not work. Why we use ´grunt chechtextdomain´

[2015-09-28 13:03] pippinsplugins commented on #3757
@chriscct7 Where is the translation coming from if they "don't need to be picked up by the translation files"?

[2015-09-28 13:32] spencerfinnell commented on #3757
They definitely don't get picked up by other plugins. Otherwise we just wouldn't use domains.

[2015-09-28 13:34] #3837 closed

[2015-09-28 15:16] MythThrazz commented on #3763
@pippinsplugins Is there any progress on that?

[2015-09-28 17:35] cklosowski commented on #3802
@DevinWalker @pippinsplugins Retitled this one. I think we'll work towards a 're-price' column that allows the individual product price to be updated, therefore allowing us to alter the download stats.

[2015-09-28 17:52] pippinsplugins opened #3841 "Move logs to custom tables"
API requests are logged by default with the EDD_Logging class. Each site that uses the API has potentially thousands (millions?) of API requests that are going to get logged.

Currently they get stored in wp_posts/wp_postmeta.

For the most part, they just sit there taking up space and potentially (most likely) slowing down other queries on the site that pull from wp_posts/wp_postmeta.

I propose

[2015-09-28 18:35] daigo75 opened #3842 "Improvement - Extending reports"
Several customers asked to have the possibility of running reports filtered by currency (see example http://prntscr.com/8liaae). From a UI perspective, this is relatively easy, but the architecture of EDD reports doesn't seem to allow altering the data retrieved for the report. For example, method `EDD_Payment_Stats::get_earnings()` uses the following logic:
1. Retrieve all the payments in a date

[2015-09-28 18:39] pippinsplugins commented on #3842
Thanks @daigo75! I'm sure we can get something in to make it more flexible.

[2015-09-28 18:44] daigo75 commented on #3842
You're welcome. Please leave the UI as a lower priority, we can always render extra filters somewhere and "inject" them via JavaScript. The key would be to alter the data passed to the report renderer with the minimum amount of intervention.

In short, I would rather not copy/paste entire classes to rewrite bits and pieces of them, as that could cause countless headaches. Been there, done that (Wo

[2015-09-28 19:32] pippinsplugins opened #3844 "Move away from Thickbox for Insert Download modal"
Thickbox is a relic of the past. Let's get away from it.

GiveWP has been working on this recently and it's beautiful: https://github.com/WordImpress/Give/pull/275

[2015-09-28 19:37] pippinsplugins commented on #3763
@MythThrazz Not yet, sorry.

[2015-09-28 19:37] pippinsplugins commented on #3763
Milestoned for 2.6

[2015-09-28 19:37] pippinsplugins commented on #3842
:+1:

[2015-09-28 19:53] samikeijonen commented on #3757
This is interesting topic, sorry for late reply. 100% requirement feels really strange to me, I don't really get the reason behind that decision. In WordPress.com the limit is 80% for themes if I remember it correctly.

Also, there is a small typo in this function: `load_old_textdomaon`.

[2015-09-28 19:56] pippinsplugins commented on #3757
@samikeijonen The comments in the post on make.wordpress.org have some good explanations for the 100% requirement.

Thanks for catching the typo!

[2015-09-28 19:59] pippinsplugins commented on #3757
Closing!

[2015-09-28 19:59] #3757 closed

[2015-09-28 19:59] samikeijonen commented on #3757
Yeah I read the comments also but not 100% on the same page with them :).

[2015-09-28 20:06] pippinsplugins commented on #3804
Turns out this is actually a bigger change than expected. It's also a pretty small edge case. I'm going to close this one as fixed and then re-open  #3826 and tag for 2.5.

[2015-09-28 20:06] #3804 closed

[2015-09-28 20:06] pippinsplugins commented on #3826
Re-opening as we've now split the original issue into two separate bugs.

[2015-09-28 20:07] pippinsplugins commented on #3757
I don't 100% agree or disagree :)

[2015-09-28 21:22] pippinsplugins commented on #3492
@mindctrl Think you could hit this up next week?

[2015-09-28 21:40] pippinsplugins commented on #2904
@chriscct7 Can you test this? You're the only one :D

[2015-09-28 21:43] pippinsplugins commented on #2798
This is getting marked as `wontfix` because of issue detailed here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3681#issuecomment-137552441

[2015-09-28 21:43] #2798 closed

[2015-09-28 21:46] cklosowski commented on #2667
Blocker for #2714

[2015-09-28 21:46] cklosowski commented on #2714
Blocked by #2667

[2015-09-28 21:46] pippinsplugins commented on #2480
This needs to happen for the WP REST API.

[2015-09-28 21:47] pippinsplugins commented on #2428
Closing as too generic. Would love to see more of this happen but please open area-specific issues.

[2015-09-28 21:47] #2428 closed

[2015-09-28 21:49] pippinsplugins commented on #2168
Note: this might be fixed with the multibyte changes made in WP 4.2.

[2015-09-28 21:51] pippinsplugins commented on #1960
Latest PR https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3829

[2015-09-28 23:19] chriscct7 commented on #2904
I'm not running Windows 10 yet, as some of UF's programs aren't compatible yet.

[2015-09-28 23:22] webifiedgeek commented on #2904
I'm running Windows 10. What do you guys need tested?

On Mon, Sep 28, 2015 at 7:19 PM, Chris Christoff <notifications@github.com>
wrote:

--
Thanks,

Blake Pounds

LBS-ink - Innovating Today for Tomorrow
www.lbsink.com

WP Jack of Trades  - WordPress Handymen
www.wpjot.com

Follow me on Twitter @SparkySpikes

[2015-09-28 23:29] pippinsplugins commented on #2904
@webifiedgeek just general tests across the system to see if there are any issues.

[2015-09-29 03:23] cklosowski commented on #3668
going with `break-word` on this one. `break-all` makes our keys wrap too, and I think it's a better UX to have the full word drop to a new line when it's too long. This will apply to anything with the `.edd-admin-box-inside` class, so that means any extensions adding long data will automatically get this. I also standardized the classes on anything that has `edd-admin-box-inside` so that this clas

[2015-09-29 03:49] cklosowski commented on #3444
Looks like this is specific to % based discounts. The top row is like @mindctrl describes, but the 2nd row is a flat `$10` discount, ant it appears to be applying correctly.

![screen shot 2015-09-28 at 8 46 47 pm](https://cloud.githubusercontent.com/assets/1390124/10154889/2610f2da-6622-11e5-814b-45b572bf2cfe.png)

I'm going to try and tie in #3185 as well as fix that entities issue.

[2015-09-29 04:08] cklosowski commented on #3444
How do we feel about this @mindctrl?
![screen shot 2015-09-28 at 9 07 30 pm](https://cloud.githubusercontent.com/assets/1390124/10155085/fd30871a-6624-11e5-9339-09e55081e761.png)

Adds the `(X)` for the quantity, uses the sale price, and the sale total stays in tact.

[2015-09-29 04:09] cklosowski commented on #3185
This will be fixed alongside #3444

[2015-09-29 04:21] cklosowski commented on #3198
Punting to 2.6, now that with #3835 merged into `release/2.5` that should help a little.

[2015-09-29 04:41] cklosowski commented on #1980
Moving to the `EDD_Payment_Stats` class will cause us to refactor how we did #3833. No big deal, just a reminder to notate the changes necessary.

[2015-09-29 13:53] cklosowski commented on #3444
My initial thought was to do `3 @ $X.XX` but due to rounding, it left a non-equal total when you added up everything (off by a cent here and there)

[2015-09-29 13:54] pippinsplugins commented on #3444
I like the screenshot above.

[2015-09-29 14:07] cklosowski opened #3849 "Provide $price to callback functions in edd_get_purchase_link"
Initially proposed in pull request #3424 by @ericnicolaas. Waiting on new PR with clean history.

[2015-09-29 14:34] pippinsplugins opened #3850 "Ajax call to load dashboard sales widget fires on every page"
![screen shot 2015-09-29 at 9 33 46 am](https://cloud.githubusercontent.com/assets/1034109/10167239/4cb77934-668d-11e5-9098-75a05b43fdc6.png)

It's firing on every page, not just the dashboard.

[2015-09-29 15:30] upsellpl opened #3853 "Option to disable account verification process"
Since EDD 2.4.4 there is a obligatory account verification process. Please make an option to disable it.

[2015-09-29 15:31] pippinsplugins commented on #3853
This is a security feature. I cannot be disabled and an option to disable it will not be added.

[2015-09-29 15:31] #3853 closed

[2015-09-29 19:49] pippinsplugins commented on #3668
Looks good.

[2015-09-29 19:49] #3668 closed

[2015-09-29 20:12] mindctrl commented on #3492
@pippinsplugins :+1:

[2015-09-29 20:17] mindctrl commented on #3418
@cklosowski looks good here.

[2015-09-29 21:06] DevinWalker opened #3854 "shortcode-login.php improvement proposal"
Hey Guys,

I noticed a few CSS conflicts with various themes like twenty twelve and the `required` and `password` classes used within the html. In twentytwelve and other themes it turns the text red. You get around this at checkout by specifying the text as black using `edd-input` alongside that class. I suggest either prefixing the classes like `edd-password` and `edd-required` or adding the `edd

[2015-09-29 21:20] pippinsplugins commented on #3489
PR here https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3747

[2015-09-29 21:29] cklosowski commented on #2955
Going to punt for now. As discussed in the team meeting, we need to get some details worked out about how this will work with backwards compatibility.

[2015-09-30 00:59] pippinsplugins commented on #3854
I completely agree on the class, though we'll have to be careful about potential backwards compat there. Since it's a small class that is rarely styled directly, it's probably safe to change.

For the legends, see #3568

[2015-09-30 01:34] DevinWalker commented on #3854
Good to know the legends is already on the radar. I agree, some themes may already have those classes styled, hopefully minorly only though.

[2015-09-30 12:47] spencerfinnell commented on #3568
Would definitely break Marketify.

[2015-09-30 15:09] pippinsplugins commented on #3568
@spencerfinnell so that we have more to go off of, could you show me how it breaks?

[2015-09-30 15:39] spencerfinnell commented on #3568
Just styles, but would definitely require an update.

http://www.screensnapr.com/qs4v0jn0xpnb

vs

http://www.screensnapr.com/3ur8ybbpxivz

That being said, the extra element definitely helps our styling. Switching the spans to the inside would help us, but would still require an update.

Depending on timing we could make any changes for Marketify 2.0.0. Is there a timeline for 2.6?

[2015-09-30 15:42] pippinsplugins commented on #3568
@spencerfinnell 2.6 is months out. Maybe Jan or Feb of 2016. If you could do an update before hand to help us make the transition, that'd probably be best.

[2015-09-30 15:48] spencerfinnell commented on #3568
Yep, I'll add some compatibility to 2.0.0 that assumes the outer `spans` will be removed eventually.

[2015-09-30 19:01] atdewitz opened #3857 "Wallet Extension"
Wallet does not appear as a payment gateway even when there are sufficient funds in an account.

When adding funds manually to a customer account, it sends an email, like so, to the wrong customer:

Dear ,

The site admin has credited your wallet $0.00.

[2015-09-30 19:03] pippinsplugins commented on #3857
@atdewitz I saw you opened a ticket in our support system a few minutes ago. We will answer you there.

Please note that github is _not_ for support. It is for development tracking only.

[2015-09-30 19:03] #3857 closed

[2015-09-30 20:41] pippinsplugins commented on #3633
@cklosowski I'd like to add another element to this: resetting customer stats. I just had a real case where a customer's stats were off by a lot (due to multiple customer records that didn't get merged properly). I had to reset them manually from the DB.

I'd like there to be two reset options:

1. Recount all customer stats in bulk
2. A button to recount a specific customer's stats. This should p

[2015-09-30 21:35] mindctrl commented on #3444
@cklosowski looks good here.

[2015-09-30 22:00] pippinsplugins commented on #3444
Good to merge?

[2015-09-30 22:01] pippinsplugins commented on #3849
@cklosowski new PR ready for review.

[2015-09-30 22:02] pippinsplugins commented on #3854
I'm going to tag this for 2.6, same version as the legends issue is tagged for.

[2015-10-01 15:06] chriscct7 opened #3858 "Translations should have a priority system similar to templates"
In #1717 we added a function that lists all the places to look for templates, and made it possible to filter that list and add, remove, or rearrange the order based on priorities.

With the new places we now have to start looking for translations, moving to this type of system for translations makes a huge amount of sense.

It would provide many additional advantages:
- We can easily add new place

[2015-10-01 15:21] chriscct7 opened #3859 "If a payment fails, the coupon uses should be decremented by 1"
Scenario:
User checks out an item with a coupon (which let's say has a usage limit of 1), and their card is declined.

Current: User goes to retry payment, and gets coupon isn't valid (because EDD increments the number of times a coupon has been used right before gateway).

Proposed: if and only if a payment is failed, EDD should decrement the usage of the coupons on an order by 1, so that the use

[2015-10-01 15:54] mindctrl commented on #3444
I'm good with it. @cklosowski ?

[2015-10-01 15:56] pippinsplugins commented on #3858
Can't get this in 2.5, sorry. 2.6. It's a really nice to have but not critical.

[2015-10-01 16:06] pippinsplugins commented on #3859
I'd propose a slightly different fix: discounts shouldn't ever increment or be recorded as used until the payment is marked as complete.

[2015-10-01 16:06] pippinsplugins commented on #3859
Moved to 2.5.3. Not enough time to put more in 2.5

[2015-10-01 16:08] chriscct7 commented on #3859
That's a bad idea. Let me explain a situation where that could cause catastrophic issues.

Let's say I limit a coupon to 10 uses, and I have PayPal standard active. On PayPal standard, users can pay using an eCheck which takes 7 days to clear, so if the coupon wasn't decremented until after the payment, 100 users could use the coupon via eCheck, because the payment itself doesn't clear PayPal for

[2015-10-01 16:10] pippinsplugins commented on #3859
Good point.

[2015-10-01 16:25] topher1kenobe opened #3860 "Running EDD_Payment_Stats::get_sales() twice in a row renders error."
$stats = new EDD_Payment_Stats;

    echo $stats->get_sales( 0, 'August 1, 2015', 'August 31, 2015' );
    echo $stats->get_sales( 0, 'this_year' );

renders:

2
Warning: date() expects parameter 2 to be long, string given in /home/topher1/edd.derosia.com/wp-content/plugins/easy-digital-downloads/includes/class-edd-stats.php on line 469

Warning: date() expects parameter 2 to be long, string given

[2015-10-01 16:30] topher1kenobe commented on #3860
This appears to hold true for all methods in this class that accept dates like that.

[2015-10-01 16:32] mindctrl commented on #3860
Just noticed if you re-order your get_sales calls, it works as expected.

[2015-10-01 16:50] topher1kenobe commented on #3860
@mindctrl confirmed.

[2015-10-01 17:59] topher1kenobe opened #3861 "Running EDD_Payment_Stats::get_earnings() twice in a row give different values."
echo $stats->get_earnings( 0, 'August 1, 2015', 'August 31, 2015' );
    echo '<br>';
    echo $stats->get_earnings( 0, 'this_year' );

This renders
30
0

    echo $stats->get_earnings( 0, 'this_year' );
    echo '<br>';
    echo $stats->get_earnings( 0, 'August 1, 2015', 'August 31, 2015' );

This renders
35
30

[2015-10-01 18:12] spencerfinnell commented on #3861
The arguments passed to the method aren't used when making the query. It uses the class's property.

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/6f799788b0c9601f8666209386d0a9262e708c1f/includes/payments/class-payment-stats.php#L124-L125

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/6f799788b0c9601f8666209386d0a9262e708c1f/includes/payments/class-paym

[2015-10-01 18:13] spencerfinnell commented on #3861
Oh I see, happens in `setup_dates`

[2015-10-01 19:08] topher1kenobe opened #3862 "EDD_Payment_Stats::get_earnings() should always return a float."
get_earnings() returns a float if there's change, but an integer if there isn't.

I think I'd like to see it always be a float, even if the change is .00

[2015-10-01 20:08] pippinsplugins commented on #3861
Let's get this fixed in 2.5

[2015-10-02 09:29] sumobi opened #3863 "Wrong CSS animation name"
There's a gap in the animation name here:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/templates/edd.css#L61

It should be `edd-icon-spin`.

[2015-10-02 09:53] sumobi opened #3865 "Unnecessary code"
As far as I can see, these 2 lines do nothing:

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/template-functions.php#L187-L188

When adding a download to the cart, the "Added to cart" message along with the checkmark is the only thing shown. I have a feeling that the anchor link is supposed to wrap around the "Added to cart" text. I think we should just remove

[2015-10-02 10:35] chriscct7 opened #3867 "Earnings by Category estimate bug"
On the Earnings by Category report, the "Monthly Sales Avg" and "Monthly Earnings Avg" columns it seems to be basing the estimate for the entire month based on the estimate through that day in the month. For example, on a site that makes $3000 a month, instead of an estimated earnings of $3000, on the 2nd day of the month it would show $200. Same for sales

[2015-10-02 13:39] pippinsplugins commented on #3865
Pretty sure that can go. Let's have one or two others test and verify.

[2015-10-02 13:41] #3863 closed

[2015-10-02 13:41] pippinsplugins commented on #3863
Good catch

[2015-10-02 13:45] pippinsplugins commented on #3867
@chriscct7 Do you see the same thing on the store-wide estimations?

[2015-10-02 14:03] chriscct7 commented on #3867
You mean on the bottom of the earnings report? If so, no, that works fine

[2015-10-02 14:56] pippinsplugins commented on #3867
Yep, that's what I meant.

[2015-10-02 18:25] mindctrl commented on #3865
This looks good to me.

[2015-10-04 03:14] cklosowski commented on #3444
Yes, please do.

[2015-10-04 17:28] topher1kenobe opened #3870 "Comments give bad instructions in class-edd-email-tags.php"
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/emails/class-edd-email-tags.php#L16-L17 says
"Be sure to wrap edd_add_email_tag() in a function hooked to the 'edd_email_tags' action"

That actually breaks things, it needs to be hooked to `edd_add_email_tags` action.

[2015-10-04 20:37] SDavisMedia opened #3871 "Discount Description"
A user suggested having a textarea for describing what a discount has been created for. I like the idea. https://secure.helpscout.net/conversation/127499503/18175/

Perhaps a textarea field could be added to the Add/Edit Discount screen and maybe even show the description on the discounts table?

Thoughts?

[2015-10-04 20:43] shiftwebsolutions commented on #3871
This would be a great addition! With a ton of coupon codes, it would be helpful for a marketing manager to be able to write notes and track the details of each coupon.

[2015-10-05 01:05] christophherr opened #3873 "Typo in class-edd-stats.php"
Hi,
I am translating text strings on translate.wordpress.org and found a typo in
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/class-edd-stats.php#L91

It should say 'Last Quarter" instead of 'Last Quater'.

[2015-10-05 02:30] #3444 closed

[2015-10-05 02:40] pippinsplugins commented on #3871
I'm not opposed to adding one, do I do wonder how often it would actually be used.

Restrict Content Pro supports discount descriptions and, as far as I can tell, it's a feature that is very, very rarely used.

It's definitely useful for specific cases, such as @shiftwebsolutions needs, but I'm not sure it's a feature that's needed 80%+ of the time.

[2015-10-05 02:41] pippinsplugins commented on #3873
#3874

[2015-10-05 02:41] #3873 closed

[2015-10-05 02:57] christophherr opened #3875 "Typos"
Hi,
I´m opening this issue for typos following Pippin's comment here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3874#issuecomment-145414349

[2015-10-05 03:02] SDavisMedia commented on #3871
I think most people use the name as sort of a short description. I do, at least. A description would probably be useless for those who don't need it and extremely helpful for those who do. Lifhtweight extension territory, perhaps.

[2015-10-05 03:36] pippinsplugins commented on #3871
Right, that was my thought. The name field is never shown publicly.

[2015-10-05 03:43] shiftwebsolutions commented on #3871
I do use the name as a short description, obviously. But the purpose of a larger text area is to allow more notes and details about each coupon code. For someone who does a lot of marketing and experimenting, it helps to be able to write more details about the coupon.

[2015-10-05 17:58] kiarashi opened #3876 "Column classes"
Not sure if it's mentioned before but there are some problems with column classes.
There are extra quotes around the number of columns.

https://cloud.githubusercontent.com/assets/7079137/10288799/64a3434e-6b9b-11e5-88b2-a99253ea9248.png

[2015-10-05 18:11] mindctrl commented on #3876
@kiarashi I'm not seeing that locally. Could you go ahead and open a support ticket with some more details so we can track it down? https://easydigitaldownloads.com/support/

[2015-10-05 18:11] #3876 closed

[2015-10-05 19:35] pippinsplugins commented on #3871
@shiftwebsolutions we can definitely consider it. Thank you for the feedback.

[2015-10-05 19:49] pippinsplugins opened #3877 "Add way to manually verify user account"
We should add a row action to the Users page (and/or the customer screen) to allow site admins to manually verify an account that is flagged as pending verification.

[2015-10-05 20:49] pippinsplugins commented on #3875
Thanks @christophherr! Could you submit those as pull requests? We'll be happy to merge them in.

[2015-10-05 22:36] christophherr commented on #3875
PR #3878 submitted.

There are about 40% of text strings left to translate.

There are quite a few single-line sentences that don't end with a period.
I am not sure whether that is by design or not.

While I believe using "log in to" is a bit more correct than using "log into", I don't want to start a philosophical debate about it. (Reference: http://english.stackexchange.com/questions/5302/log-in

[2015-10-06 14:54] cklosowski opened #3881 "Logged in user, different email address, new customer"
When a logged in user makes a purchase, but uses a different email address on the checkout form, it creates a 2nd customer for this new email address, attaches the payment to them, and makes the customer attached to the user id (leaving 2 customers with the same user id). We should attach to the same customer.

[2015-10-06 14:59] pippinsplugins commented on #3881
This is related to #3755

[2015-10-06 15:46] pippinsplugins opened #3882 "Support searching customers by user ID"
Since customer records can be attached to user accounts, we need to support searching by user ID.

I propose that we identify user searches by a prefix. If the admin enters `user:` in the search field, we search on the `user_id` column.

[2015-10-06 16:18] pippinsplugins opened #3883 "Record error message in log when wp_mail() fails"
We depend on `wp_mail()` a lot. It has a nice feature that causes it to return `false` if the email fails to send.

To help diagnose and identify customer cases where email receipts are not being sent, we should log (and possibly display) an error message when an email fails to send.

We don't be able to identify why the email failed to send, but at least we will not if it fails.

[2015-10-06 16:31] pippinsplugins commented on #3883
I'm proposing that we use a general `edd-errors.log` file for storing log entries like this. We can quickly access it and identify if there are problems.

When emails fail to send, I'm logging the following:
[code]

[2015-10-06 16:44] cklosowski opened #3885 "Re-instate payment email and name fields"
In order to accommodate #3755 we need to support the ability for a payment to have a different email address and name than the customer. This allows a customer to purchase something on behalf of another person, and have all emails for download links sent to the proper email address.

When we introduced the customer interface we've made the customer the canonical link to a payment, however it is po

[2015-10-06 16:49] pippinsplugins commented on #3883
Reminder that we need to update our emails not sending doc when this is released: https://trello.com/c/Qar0dvTE/105-update-emails-not-sent-doc-with-error-logging

[2015-10-06 18:50] pippinsplugins commented on #3875
Thanks for those!

[2015-10-06 19:20] pippinsplugins opened #3886 "edd_get_current_page_url() returns incorrect URL when WP is installed in folder"
`edd_get_current_page_url()` currently looks like this:
[code]

If WordPress is installed in a sub-folder, the URL returned when not on the front page and not on the checkout screen includes the folder name twice.

For example:

- site_url: http://site.com/store
- home_url: http://site.com/store
- on http://site.com/store/page-name, `edd_get_current_page_url()` returns `http://site.com/store/store

[2015-10-06 19:21] pippinsplugins commented on #3886
Identified in this ticket https://secure.helpscout.net/conversation/121268080/17056/

[2015-10-06 19:31] pippinsplugins commented on #3886
Found a nice method from Konstantin: https://kovshenin.com/2012/current-url-in-wordpress/

[2015-10-06 20:02] pippinsplugins commented on #3886
I need to look at the unit tests for this to see if the tests need adjusted or my tweak is actually breaking.

[2015-10-06 20:17] mindctrl commented on #3635
Related: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2597

[2015-10-06 23:44] topher1kenobe opened #3888 "In EDD_HTML_Elements::customer_dropdown() placeholder does nothing"
`EDD_HTML_Elements::customer_dropdown()` says it can take an array item of placeholder, and the default is `'placeholder' => __( 'Select a Customer', 'easy-digital-downloads' )` but it never gets used.  I'd like to see it get used as the first item in the drop down, of either chosen or the plain select field.

`EDD_HTML_Elements::product_dropdown()` does it properly.

[2015-10-06 23:45] cklosowski commented on #3877
@pippinsplugins thoughts? Just an action on the user list table?
![screen shot 2015-10-06 at 4 45 24 pm](https://cloud.githubusercontent.com/assets/1390124/10325819/aa3e98f0-6c49-11e5-800e-4e0e0d738b34.png)

[2015-10-06 23:46] cklosowski commented on #3877
That should probably say `Verify` instead of `Activate`

[2015-10-06 23:58] chriscct7 commented on #3877
I was going to say the same thing

[2015-10-07 00:13] pippinsplugins commented on #3877
Looks great and I agree on `Verify` over `Activate`.

[2015-10-07 02:07] mindctrl commented on #3877
I like `Verify`, but on the users list, both terms are a bit ambiguous. Verify and Activate could be mistaken for the functions of another plugin, like something a membership or user registration plugin would do.

What we're really doing is verifying a user's access to past payments. The user account is technically already verified by WordPress. At first I thought it made more sense in the Custome

[2015-10-07 02:09] pippinsplugins commented on #3877
@mindctrl you raise some good points.

What about both on the user screen an the customer screen.

One of the concerns I have with all of the above options is that none of them make it clear to the admin that an account is pending verification for access to purchase history. If we put it on customer or user details, we can make it big and bold so ti's very apparent.

[2015-10-07 12:49] cklosowski commented on #3877
Sounds good, On the user and customer screen it is.

[2015-10-07 13:01] cklosowski commented on #3877
Actually, I disagree with it being a 'user' setting. Since it's hard to make it sure that it's part of EDD, I think it should only be on the customer, not the user at all. It's too ambiguous that we're 'verifying the user' when WordPress would have already done that.

[2015-10-07 13:34] cklosowski commented on #3877
![screen shot 2015-10-07 at 6 12 46 am](https://cloud.githubusercontent.com/assets/1390124/10338927/7efd2c14-6cbd-11e5-86a3-b86ac6950aff.png)
![screen shot 2015-10-07 at 6 34 20 am](https://cloud.githubusercontent.com/assets/1390124/10338926/7ef98780-6cbd-11e5-875f-113bcbce1a19.png)

[2015-10-07 13:37] cklosowski commented on #3877
@mindctrl @pippinsplugins @chriscct7 thoughts on that? All from the customers interface, list table and customer view itself.

[2015-10-07 13:38] cklosowski commented on #3877
I want to add a `What's this mean?` link into the notice, but couldn't find anything in the docs to explain this...maybe we should get a doc on it?

[2015-10-07 13:48] mindctrl commented on #3877
That looks great. Almost as great as the dude in the mirror.

[2015-10-07 13:53] pippinsplugins commented on #3877
A couple of thoughts:

1. I like the notice
2. I agree that we need a "what's this?". We could get a doc written up quickly.
3. I agree (now) on not showing it on the user screen

[2015-10-07 14:19] pippinsplugins opened #3889 "Improve extension license key activation and add weekly status checks"
We run into issues all the time where people aren't seeing updates for extensions. Most of the time this is because they had them active on a development URL, they migrated their database (thus keeping stored statuses), and now updates never show up because the URL isn't valid for the license.

We need to implement a weekly cron job that checks the status of all entered license keys and then shows

[2015-10-07 14:44] cklosowski commented on #3877
@topher1kenobe can we get a doc written up for the user verification process? We want to link to it in the admin notice with a `What's this?` link.

[2015-10-07 15:22] spencerfinnell commented on #3877
I think the action in the notice should be `Verify account` and not `click here` -- like an action on other notices: http://www.screensnapr.com/0jzo3hrwbwd8

[2015-10-07 15:29] cklosowski commented on #3877
@spencerfinnell Yeah working out the details on the messaging, we're going to write up a doc to explain the process as well.

[2015-10-07 16:22] pippinsplugins commented on #3889
@SDavisMedia This is ready for your magic. A few notes:

1. Uncomment line 111 of `class-edd-license-handler.php` to easily test license key messages:
[code]

2. The HTML for each license key field is controlled by the `edd_license_key_callback()` function in `register-settings.php`

[2015-10-07 16:23] SDavisMedia commented on #3889
On it.

[2015-10-07 16:32] pippinsplugins commented on #3881
Works perfectly.

[2015-10-07 16:32] #3881 closed

[2015-10-07 16:33] #3882 closed

[2015-10-07 18:36] spencerfinnell opened #3892 "Remove Table Styles from edd.css"
I can't really think of any theme (or at least there shouldn't be) that doesn't provide their own table styles. EDD provides just a few, but the places it does usually override the theme's defaults because they are styled via an ID.

Not sure applying things like `padding` really make sense in the plugin. Certain items like `vertical-align` or `text-align` __maybe__, but adding borders and padding

[2015-10-07 19:04] SDavisMedia commented on #3889
Also note that this notice should probably be reworded: *Your license key for Commissions License Key is not active for this URL.* I don't think `$args['name']` works well here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/e8fd23ac018b3df8d64aece9e4c7ba52fbcc5160/includes/admin/settings/register-settings.php#L1687

[2015-10-07 19:05] pippinsplugins commented on #3889
Looking good!
![screen shot 2015-10-07 at 2 04 13 pm](https://cloud.githubusercontent.com/assets/1034109/10348046/6c86c7f4-6cfc-11e5-891f-b2126e8b1892.png)

[2015-10-07 19:47] mindctrl commented on #3889
`weekly_license_check` got uncommented here. We want that?

[2015-10-07 19:53] pippinsplugins commented on #3889
Nope!

[2015-10-07 20:24] cklosowski opened #3893 "Standardize edd_get_cart_contents()"
Right now `edd_get_cart_contents()` returns an array of items if there are items in the cart, but `false` if there are none. We should really standardize this output, and return an empty array `array()` if there are no items in the cart. This way we don't have to do extra checks when iterating over it, and can avoid a `mixed` return type.

The good part is that `array()` and `false` both are met w

[2015-10-07 21:19] #3883 closed

[2015-10-07 21:20] #3865 closed

[2015-10-07 21:21] cklosowski commented on #3875
so @pippinsplugins is this merged?

[2015-10-07 21:23] cklosowski commented on #3877
@mindctrl would you mind testing this out a bit? We're still waiting on the docs, but the functionality shouldn't change.

[2015-10-07 21:27] cklosowski commented on #3875
I mean I see the PR is, but there was quite a few commits so I just want to make sure before I close it out.

[2015-10-07 21:35] mindctrl commented on #3877
@cklosowski did you PR this? I don't see a branch for it.

[2015-10-07 21:43] cklosowski commented on #3877
@mindctrl helps If I actually commit stuff, instead of just stash it. Enjoy :)

[2015-10-07 21:52] pippinsplugins commented on #3875
Yes merged.

[2015-10-07 21:52] #3875 closed

[2015-10-07 21:57] pippinsplugins commented on #3893
:+1:

[2015-10-07 22:03] pippinsplugins commented on #3892
I disagree, simply based on my experience with EDD, RCP and AffiliateWP.

None of the plugins used to supply any CSS for tables at all, for exactly the reasons you gave, @spencerfinnell.

The problem we ran into, however, is that there is a hugely unfortunate number of themes out there that do not properly style tables, which results in really crappy display.

We found the best option was to provi

[2015-10-07 22:07] spencerfinnell commented on #3892
Reasonable.

What about a documentation article that provides some boilerplate CSS? Or move the styles to a class so the ID style doesn't override more generic CSS?

[2015-10-07 22:08] pippinsplugins commented on #3892
I would love to see that.

Perhaps also basing all of our styles off of classes instead of IDs. Would that help @spencerfinnell ?

[2015-10-07 22:13] spencerfinnell commented on #3892
Yes removing all styles from IDs would definitely help. Easy backwards compat because the IDs can stay for people styling off of them.

[2015-10-07 23:12] cklosowski commented on #3633
Ok, reassigning this back to me to get the remainder of this done @pippinsplugins

[2015-10-07 23:49] SDavisMedia commented on #3889
@pippinsplugins refactored some CSS... doesn't change anything visually

[2015-10-07 23:53] cklosowski commented on #3633
@pippinsplugins do we want to 're-find' payments, or just recalculate the counts and lifetime value of the customer based off the payments in `$customer->payment_ids`?

[2015-10-08 00:00] pippinsplugins commented on #3633
Refind payments please.

[2015-10-08 00:00] pippinsplugins commented on #3889
:+1:

[2015-10-08 00:00] cklosowski commented on #3633
I figured you were going to say that :/

[2015-10-08 00:00] pippinsplugins commented on #3889
Looks like there is a PHP notice when saving other settings tabs. Oops

[2015-10-08 00:04] pippinsplugins commented on #3633
Sorry, I retract that. Having thought about it a bit more, maybe we should only recount the ones in `payment_ids`

[2015-10-08 00:07] cklosowski commented on #3633
Yeah I think that's safest. Maybe once we get a merge tool built, and offer more front facing admin tools for customer management, we can move to re-finding their payments.

[2015-10-08 00:07] pippinsplugins commented on #3633
:+1:

[2015-10-08 10:29] dannyvankooten commented on #3859
I was just about to open an issue for this as I ran into this last week as well. Nice to see you're one step ahead of me!

[2015-10-08 13:59] pippinsplugins commented on #3877
@cklosowski Doc to link to: http://docs.easydigitaldownloads.com/article/1031-user-verification-for-easy-digital-downloads

[2015-10-08 17:27] spencerfinnell opened #3894 "Option to Disable Pagination in the Shortcode"
Right now you can pass `pagination` as `false`, but that will still show the actual pagination links (since its not disabling pagination, it's disabling the query limit). What if you want to only display 5 downloads but no pagination, and can't pass the individual IDs?

`[downloads pagination=false number=10]`

Should not show the pagination links below results.

`[downloads number=10]`

Should.

[2015-10-08 20:00] pippinsplugins commented on #3894
@spencerfinnell I believe this is duplicate of #3522. Is that not working properly?

[2015-10-08 20:06] spencerfinnell commented on #3894
That's disabling pagination by fetching all results. I want to fetch a set/limited number and not output the HTML pagination links.

[2015-10-08 20:09] spencerfinnell commented on #3894
Basically the issue is you can't combine the number and pagination attributes. Setting pagination to false overrides it and doesn't affect the pagination output below if.

[2015-10-08 22:55] mindctrl commented on #3877
@cklosowski this is working great here.

[2015-10-09 00:32] topher1kenobe opened #3895 "Add non-item to EDD_HTML_Elements::discount_dropdown()"
Right now, if EDD_HTML_Elements::discount_dropdown() is called, it lists ONLY discounts, with no non-item option (like "Choose a discount").  This means that if the drop list is part of a form, that form WILL be using a discount.  The only workaround right now is to make a discount that does nothing, and choose that if you don't want a discount.

[2015-10-09 01:28] pippinsplugins commented on #3894
Ah, makes sense.

[2015-10-09 03:33] mindctrl commented on #3895
We're forcing `'show_option_none' => false` [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/class-edd-html-elements.php#L212). Ideally we could control both of the all/none options, and any other features in `select()`.

[2015-10-09 03:42] pippinsplugins commented on #3895
Could probably just remove that.

[2015-10-09 04:36] SDavisMedia commented on #3736
@pippinsplugins This is ready for testing on `issue/3736`.

Cleans up the visual layout and structure, takes advantage of core classes, and fixes the overlapping EDD logo on smaller screens.

[2015-10-09 16:47] cklosowski opened #3896 "Restrict user verification from running on first purchase"
The Auto Register plugin is causing our user verification to kick off, on first time customers due to the order of hooks run. Basically, before user verification is checked, auto register attaches the payment to the user, therefore making auto register see existing payments on the newly created user, and starting that verification process.

We've looked through it and the safest way to do this wit

[2015-10-09 18:40] chriscct7 opened #3897 "Report for earnings, date range = this year completely broken"
![image](https://cloud.githubusercontent.com/assets/1324637/10402486/b7b1fe90-6e93-11e5-9e7f-1e88ffdaa5d5.png)

[2015-10-09 18:41] pippinsplugins commented on #3736
Looks excellent. PR against `master` please!

[2015-10-09 18:43] chriscct7 commented on #3897
Custom end year does the same thing because it seems to default to 2014. Maybe this_year is doing the same thing

[2015-10-09 18:46] pippinsplugins commented on #3897
@chriscct7 Works for me on latest `master`.

[2015-10-09 18:56] SDavisMedia commented on #3736
Oops. My branch was based on `release/2.5`. I'll get it sorted in a few.

[2015-10-09 19:06] SDavisMedia commented on #3736
Done. :+1:

[2015-10-09 19:11] pippinsplugins commented on #3736
@SDavisMedia Looks like you pulled in the welcome screen text from a previous version. Can you remove that?

[2015-10-10 00:00] cklosowski commented on #3896
Actually, this is going to be fixed in Auto Register...https://github.com/easydigitaldownloads/edd-auto-register/pull/20

[2015-10-10 00:01] #3896 closed

[2015-10-10 01:56] SDavisMedia commented on #3736
@pippinsplugins Not sure I follow. Here are the differences between `master` and `issue/3736`. https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3898/files?w=1

If I'm overlooking something please point it out and I'll surely get it taken care of. But if you're looking at the PR up there, it's looking like certain text replaced other text but it just shifted it around.

[2015-10-10 01:58] pippinsplugins commented on #3736
No idea what I saw before but looks fine now.

[2015-10-10 01:58] #3736 closed

[2015-10-12 00:14] sumobi opened #3900 "HTML showing inside sales summary dashboard widget"
HTML showing inside sales summary dashboard widget. Anyone seen this before?

![screen shot 2015-10-12 at 1 12 30 pm](https://cloud.githubusercontent.com/assets/52581/10419943/01550dca-70e3-11e5-95ee-e5da4d231d26.png)

[2015-10-12 16:25] pippinsplugins commented on #3877
This is working perfectly for me. I made a couple of small changes (mostly code location). Ready for final review and merge @cklosowski

[2015-10-12 16:54] mindctrl opened #3902 "Missing Personal Info fields when using "Login Form Only" with guest checkouts enabled"
When EDD is configured to:
- allow guest checkouts
- show only the login form on the checkout screen

the `Personal Info` section doesn't show on the checkout screen. This effectively makes it unusable unless you do have a login.

##### EDD Config
![image](https://cloud.githubusercontent.com/assets/1254870/10433404/a1d278fe-70df-11e5-9078-f918ce185328.png)

##### Checkout
![image](https://cloud.gi

[2015-10-12 17:06] pippinsplugins commented on #3902
Replicated.

[2015-10-12 17:53] #3877 closed

[2015-10-12 18:11] spencerfinnell opened #3904 "Profile editor HTML structure should match the rest of EDD"
Super strange mix of markup in the profile editor form:

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/fbe20f79334ef6bd21f6a9810e8e5977bef116df/templates/shortcode-profile-editor.php#L28

Would be nice if each field was wrapped in a `p` individually like the login and register forms:

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/fbe20f79334ef6bd21f6a981

[2015-10-12 18:15] mindctrl opened #3905 "Improve UI on checkout for sites with "Login Form Only" with guest checkouts enabled"
Let's improve the checkout UI and make it more consistent.

---------
#### Registration and Login UI
When a site is configured to show both the login and registration form (with guest checkout allowed), like this:
![image](https://cloud.githubusercontent.com/assets/1254870/10434860/1c4ff8f4-70ea-11e5-8555-6a3daa2c0d07.png)

we show a nice login link (because login is optional). This makes for a mo

[2015-10-12 18:18] pippinsplugins commented on #3904
:+1:

[2015-10-12 18:30] mindctrl commented on #3902
This works now. Opened https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3905 for UI work related to this for 2.6 milestone.

[2015-10-12 18:33] SDavisMedia commented on #3902
Yes, all good here. :+1:

[2015-10-12 18:51] pippinsplugins commented on #3902
Great, will let @cklosowski review and merge.

[2015-10-12 18:51] pippinsplugins commented on #3905
I like this.

[2015-10-12 20:55] cklosowski commented on #3902
Looks good to me, verified and tested it out.

[2015-10-12 20:57] #3902 closed

[2015-10-12 21:46] SDavisMedia opened #3906 "State / Province TEXT field not populating saved data"
If a customer account has a country like Afghanistan selected where there is no set list of states/provinces/etc., the checkout form switches the State / province field to a text field, which is fine.

But a logged in user can have saved address data from previous purchases or from using the profile editor. The saved State/Province field data is not populating at checkout.

[2015-10-12 23:15] pippinsplugins commented on #3906
Good catch.

[2015-10-13 15:07] cklosowski opened #3908 "Update minimum version of WP to 4.0"

[2015-10-13 16:02] #3886 closed

[2015-10-13 17:15] cklosowski opened #3909 "Build more robust unit testing practices"
Right now many of our unit tests are testing multiple use cases in a single test method, we should audit our unit tests and make sure we're testing one use case per test method, and properly resetting data (when necessary) in the setUp and tearDown methods.

[2015-10-14 04:57] mindctrl opened #3911 "Payment Method fields are not hidden when a 100% discount code is applied"
When a 100% discount code is applied with ajax enabled, we hide the credit card and billing fields, but not the payment method fields. If you refresh the page, the payment methods are properly hidden.

[2015-10-14 14:31] cklosowski opened #3914 "Allow forwarding of a purchase receipt to a different email address"
We should enable a method for customers (and admins) to specify and email address and send a purchase receipt to that email address. This would allow people to make purchases and then send to the 'purchasing' department, or 'accountant' while still remaining data integrity between the customer and the payment.

[2015-10-14 14:32] cklosowski opened #3915 "Restrict editing email on checkout for existing customers"
When a customer is logged in on checkout, we should make the email field readonly. The user would then have to `click to edit` their email address, with a notice that then states this will update the email address for their customer record, This will coincide with #3914 to also allow a purchase receipt to be forwarded to a specific email address (via admin or front end for the customer).

The goal

[2015-10-14 14:54] pippinsplugins commented on #3914
I think this should happen on both purchase confirmation (for customers) and view order details (for admins).

[2015-10-14 15:20] stephywells opened #3916 "New customer not created from existing WordPress user"
edd_insert_payment( $payment_data ) will only link up with an existing customer or the current user. Since 2.4.8, new customers aren't being created. I'm doing an import into EDD, and since today, every payment shows up on my customer page instead of creating a new customer for a user that exists in WordPress.

$payment_data = array(
....
'user_id'       => $user->ID,
'user_email'    => $user->use

[2015-10-14 15:25] pippinsplugins commented on #3916
@stephywells are you logged in while doing the import?

[2015-10-14 15:26] pippinsplugins commented on #3916
Related #3881

[2015-10-14 15:28] stephywells commented on #3916
Yes, I am logged in while importing.

[2015-10-14 15:59] pippinsplugins commented on #3916
We'll get it tracked down and fixed today.

[2015-10-14 16:01] pippinsplugins commented on #3916
@cklosowski We need to fix the case on `customer` here too: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/97b950a3fa44a46c678b1e9c1d8c3befc7e7635e/includes/payments/functions.php#L181

[2015-10-14 16:04] pippinsplugins commented on #3916
Oh, @stephywells, looks like your `email` parameter is incorrect. It should be `user_email` not `email`.

Does that fix it?

[2015-10-14 16:19] stephywells commented on #3916
No, that doesn't fix it. Thanks so much for looking into this!

[2015-10-14 16:20] pippinsplugins commented on #3916
We'll keep digging!

[2015-10-14 16:28] stephywells commented on #3916
It looks like email is right inside the user_info array.
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/process-download.php#l100

How about this in place of this line so the user id with the payment is used instead of the current user?
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/97b950a3fa44a46c678b1e9c1d8c3befc7e7635e/includes/payments

[2015-10-14 16:39] cklosowski commented on #3916
@stephywells Yes that's the line we're working with. The goal was to fix a bug of creating a new customer when a different email was used than that of the currently logged in `user/customer`. Just need to get it to identify when it's not a checkout session and we should be good to go. Working on a fix now and will release it today.

[2015-10-14 16:45] stephywells commented on #3916
Perfect! Thank you!

[2015-10-14 16:55] cklosowski commented on #3916
@stephywells @pippinsplugins here's my proposed fix:
[code]

This way the `edd_insert_payment()` doesn't look at the `get_current_user_id()` unless we've detected that the `edd_process_purchase_form()` function has been run, which does not happen when importing using the CSV Manager. By doing this, it will detect no customer was found, then follow our current logic of creating a customer, using th

[2015-10-14 16:59] stephywells commented on #3916
Much better! Works great. Thanks again!

[2015-10-14 17:00] cklosowski commented on #3916
No worries, you tested this fix out and it's working @stephywells? It fixed things on my end from the import and front end use cases.

[2015-10-14 17:02] stephywells commented on #3916
Yep, works for me.

[2015-10-14 17:35] cklosowski commented on #3916
Added a bit more hardening to it, this way it checks the user first (when doing a processing a purchase) and then goes to the user email lookup, then creates a new customer. Will prevent using the email of an existing customer and having your payment attached to them.

[2015-10-14 18:16] #3916 closed

[2015-10-14 23:26] DevinWalker opened #3919 "[edd_receipt] shortcode options not working as expected"
**Scenario:** A user doesn't want to display a receipt item like the date so they use the shortcode like this: `[edd_receipt price="false" date="false"]`

**Problem:** EDD isn't taking into account true/false values as strings rather than booleans and not respecting them:

![10-14-2015 4-21-53 pm](https://cloud.githubusercontent.com/assets/1571635/10500818/3cb8349c-7290-11e5-99ef-ddddf7781c13.png)

[2015-10-15 05:16] DevinWalker opened #3920 "Add html5 required attribute to edd_get_cc_form fields"
The fields output within `edd_get_cc_form` are required, how about adding the required attrbute? http://www.wufoo.com/html5/attributes/09-required.html

[2015-10-15 05:18] DevinWalker commented on #3920
Decent article about this here: https://www.2checkout.com/blog/article/api-best-practices-part-ii-using-html5-field-validation/

[2015-10-15 05:18] DevinWalker commented on #3920
LMK if you're into this and I'll submit a PR

[2015-10-15 23:44] DevinWalker opened #3922 "edd_render_receipt_in_browser() outputs invalid markup"
Hey Guys,

Just noticed that the HTML output from the `edd_render_receipt_in_browser()` function here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/emails/template.php#L239 is not valid.

1. Title tag should be wrapped in the head per W3 standards: "Every HTML document must have a TITLE element in the HEAD section." http://www.w3.org/TR/html4/struct/global.ht

[2015-10-16 00:04] DevinWalker commented on #3922
Also I recommend adding no-cache headers like this:

[code]

or

[code]

or both... couldn't hurt. The issue is we've seen this page being cached by various plugins and hosting environments which confuses users and annoys admins when users complain to them they can't see the receipt.

LMK what you think about that...

[2015-10-16 01:01] pippinsplugins commented on #3922
Doh! Thanks for noticing and the PR! Milestoned.

[2015-10-16 01:49] pippinsplugins commented on #3920
I don't see any reason not to do this.

[2015-10-16 17:11] KienTrong opened #3924 "Multiple slug for EDD."
Hi there, nice plugin and got some awesome addons too :) @pippinsplugins

Is there a way to add multiple slug for EDD, and all of them are download item.

domain.com/themes/abc
domain.com/plugins/acb

I was trying to remove 'Download' post type slug and add category ( themes, plugins ... ) to the slug without success.

Thanks

[2015-10-16 17:24] chriscct7 commented on #3924
Hi there,
Please note that github is not for support. It is for development tracking only.

Please open a support ticket at easydigitaldownloads.com and one of our support agents will be happy to help you at

Thanks
Chris

[2015-10-16 17:24] #3924 closed

[2015-10-16 18:12] DevinWalker commented on #3920
I added the attribute to the first name and email address field as well:

![10-16-2015 11-12-04 am](https://cloud.githubusercontent.com/assets/1571635/10549583/ccafdc28-73f6-11e5-84a3-51e1a6a8b830.png)

[2015-10-16 20:58] michaelbeil commented on #3920
That is slick @DevinWalker!

[2015-10-16 21:36] DevinWalker commented on #3920
@michaelbeil glad you like it :+1:

[2015-10-19 05:54] SDavisMedia opened #3927 "cart widget breaks Add to Cart button functionality"
Visit a page that has an Add to Cart button on it for a product. Make sure the cart widget is NOT showing on that page anywhere. Click the Add to Cart button as many times as you can before it turns into the Checkout button (yes... literally click it fast several times). When you go to checkout, there should only be one item in the cart.

Do the same test again but this time, do it from a page tha

[2015-10-19 16:01] pippinsplugins commented on #3919
@DevinWalker Sounds great to me!

[2015-10-20 00:59] pippinsplugins opened #3930 "Undefined variable $payment_id when sending test email"
When sending a test email from the settings screen:

[code]

[2015-10-20 01:21] pippinsplugins commented on #3919
Thanks @DevinWalker! We'll get it in 2.5

[2015-10-20 02:04] DevinWalker commented on #3919
Awesome

[2015-10-20 02:13] pippinsplugins commented on #3920
@DevinWalker I think we should probably only output the `required` attribute if the field is set as required with `edd_field_is_required()` otherwise we will almost certainly run into users that have made certain fields not required. With this they'd be unable to remove the `required` attribute.

[2015-10-20 02:16] DevinWalker commented on #3920
Good idea...

[2015-10-20 02:19] pippinsplugins commented on #3920
:+1:

[2015-10-20 17:50] mindctrl opened #3931 "Undefined index: _edd_default_price_id when saving a new product with variable prices"
`PHP Notice:  Undefined index: _edd_default_price_id in /wp-content/plugins/easy-digital-downloads/includes/admin/downloads/metabox.php on line 138`

Steps to reproduce:
- Create new product
- Create price options and **do not select a default price ID**
- Save product

If you select a default price ID, you don't get the message. If you do not select a default ID, you get the debug notice.

[2015-10-20 22:37] pippinsplugins commented on #3893
Changes in #3932 look good. Anything else you want to change or are we good?

[2015-10-22 07:45] SDavisMedia commented on #3927
Though I can't replicate this myself, the user is reporting that even if the cart widget is not present, he is still able to add the item multiple times. So the fix should cover all angles.

[2015-10-22 13:16] mindctrl commented on #3927
I was just able to replicate this. Here's a screencast: http://cl.ly/1a3p2I2p3x2F

I was also able to replicate it without the widget.

[2015-10-22 16:24] geoffdutton opened #3933 "Amazon Payments onSignIn is deprecated"
I was having issues with the onSignIn callback that's passed to the OffAmazonPayments.button code (the JavaScript that generates the Amazon button). Here's a quote from the Amazon Payments team:

I will attempt to create a pull request, but I think we just need it to forward to the wallet widget page after the state=return_auth&access_token=<Amazon access token> rather than passing an amazon_refer

[2015-10-22 16:47] pippinsplugins commented on #3933
Thanks for the headsup! We'd be happy to accept / review a pull request. We can also look into it as well.

[2015-10-22 16:48] SDavisMedia opened #3934 "Make EDD's about page compatible with Admin Menu Editor"
Let's see if we can take a different approach to the about page to avoid conflict with [Admin Menu Editor](https://wordpress.org/plugins/admin-menu-editor/).

[2015-10-22 19:35] pippinsplugins opened #3935 "Extension updates not shown if license key is missing"
In Software Licensing 3.4 (https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/190) we made it so updates show up for all plugins regardless of license status.

Our `EDD_License_Handler` class, however, is causing this to not happen for EDD extensions that do not have a valid license key entered in settings.

To fix this and make it so updates always show, we need to remove this:

[2015-10-22 19:35] pippinsplugins commented on #3935
Related to #3889

[2015-10-22 19:42] pippinsplugins commented on #3935
We also need to remove
[code]

[2015-10-22 23:08] pippinsplugins commented on #3885
During our last meeting we decided to not do this. @cklosowski were you able to log the new issue for the new plan? I'm not finding it.

[2015-10-22 23:14] #3870 closed

[2015-10-22 23:16] pippinsplugins commented on #3832
I'm punting this to 2.6. There hasn't been any requests for it and it's a nice to have.

[2015-10-22 23:17] pippinsplugins commented on #3732
I think we should go ahead and punt this to 2.6 or 2.7.

[2015-10-22 23:21] pippinsplugins commented on #3633
The progress bar for `Recount Store Earnings` is jumping back and forth for me. One moment it's at 100%, the next moment it's at 30%, then it's at 100% again, then it's at 0%. It does that over and over.

[2015-10-22 23:21] pippinsplugins commented on #3633
My local host has a total of 29 sales but it's still going after several minutes.

[2015-10-22 23:22] pippinsplugins commented on #3633
It looks like it broke something too. I had to cancel the recount and once I did that, the dashboard widget now fails to load: https://cloudup.com/cqkPQyh2DYq - It loaded properly a moment before I ran the recount.

[2015-10-22 23:23] pippinsplugins commented on #3633
I ran recount store earnings a second time and it completed instantly. The dashboard widget remains broken though . .. super odd.

[2015-10-22 23:25] pippinsplugins commented on #3633
The recount for a single product worked properly on a product that had 0 sales. I then ran it on one that had 18 sales it is just sitting at 99% forever:
![screen shot 2015-10-22 at 6 24 28 pm](https://cloud.githubusercontent.com/assets/1034109/10680963/4182c590-78ea-11e5-8fd8-4621c1e1c9ea.png)

[2015-10-22 23:26] pippinsplugins commented on #3633
The `Recount All Store and Product Stats` is also sitting at 99% for me.

[2015-10-22 23:32] pippinsplugins commented on #3365
Working perfectly. Merged into release/2.5 and closing.

[2015-10-23 06:34] om4james commented on #3935
Thanks for this @pippinsplugins. I was happy to see in the Software Licensing v3.4 changelog that updates should now show even without a license key.

This is how WooThemes do things with their WooThemes Updater plugin - they show that there's an available update for a premium plugin/theme, in order to encourage you to add your license key so that the update can be downloaded/installed.

Also, I n

[2015-10-23 13:09] pippinsplugins commented on #3935
@om4james The class distributed with EDD core is slightly different than the default one. After this, however, it will likely be identical.

[2015-10-23 17:58] DevinWalker commented on #3920
OK I surrounded the require field output with conditional checks now.

[2015-10-24 21:01] Shelob9 opened #3942 "If default variable price isn't set, then $_POST[ '_edd_default_price_id' ] isn't set and a notice occurs."
I'm testing with EDD 2.4.9 and WP 4.3.1 I forgot to select a default price option when creating a download with variable prices. I got a notice that the index `_edd_default_price_id` was not set on l138 of `/includes/admin/downloads/metabox.php L138` This caused a PHP notice.

[2015-10-25 01:34] Shelob9 opened #3944 "Filters in `edd_sanitize_amount()` lack documentation"
PR Incoming

[2015-10-25 20:03] pippinsplugins commented on #3942
Duplicate of #3931

[2015-10-25 20:03] #3942 closed

[2015-10-25 20:03] #3931 closed

[2015-10-26 20:46] pippinsplugins commented on #3944
Thanks!

[2015-10-26 21:07] Shelob9 commented on #3944
You're welcome.

[2015-10-26 21:07] #3944 closed

[2015-10-27 00:34] cklosowski commented on #2667
This is in no way done, or ready for usage, just getting some changes pushed up for safe keeping. Right now i'm working through the updating of a payment via the Admin, and working out some kinks in the way removing and adding downloads from there integrates with the new class.

[2015-10-27 16:34] douglaswebdesigns opened #3947 "Pricing Option + Accounting Option = Individual SKU's"
I would like to suggest that users be able to assign an individual SKU to each of the Option Name(s) inside of the Download Prices/Pricing Options meta box.

One idea would be that once an additional pricing option is added, a new Accounting Option SKU input box would be presented in the sidebar.

Perhaps it would be a little easier to have the value option presented inside of the Download prices

[2015-10-27 19:23] pippinsplugins commented on #3947
Hi @douglaswebdesigns,

Could you provide me with an example product type that would need this kind of configuration?

[2015-10-27 19:33] douglaswebdesigns commented on #3947
So I have an audio file that visitors can purchase as a Hard Copy or the same audio as an MP3 download. I would like PayPal to differentiate for the two at the PayPal payment screen.When the visitor purchase one or the other, I would like the SKU to represent the product;CD-123MP3download-123Make sense?I believe it would be a good idea to include the option off turning off/on this feature (like en

[2015-10-27 19:42] douglaswebdesigns commented on #3947
So, here is a mock of what I believe would be a great addition to the plugin, now I need to figure out how to make it work. :) -see attached imagePaul DouglasLead WordPress DeveloperDouglas Web & Graphic Design, Inc.6921 Stoney Lake Lane | 49201           "Working For Your Success"Modern, Responsive WordPress Website Packages734.352.0485 mobile/text866.929.9594 faxOn the Web: Douglas Web Designs 

[2015-10-27 19:59] pippinsplugins commented on #2667
This is looking great!

[2015-10-27 20:01] mindctrl commented on #3947
@douglaswebdesigns your attachments are getting lost in the email replies. Can you come post them directly on Github?

[2015-10-27 20:55] douglaswebdesigns commented on #3947
![possible_meta_box](https://cloud.githubusercontent.com/assets/7562697/10772217/4ff03100-7ccb-11e5-9f2f-296ebc6ecc21.png)

[2015-10-27 21:09] douglaswebdesigns commented on #3947
I thought I had everything in place but it seems that the fields I created for SKU's won;t save and when I deactivate the multi sku checkbox, it reactivates. I'm searching for my mistakes.

[2015-10-27 21:14] douglaswebdesigns commented on #3947
Pippin,I thought I had everything in place but the fields won't save and the multi sku checkbox re-enables itself.I'm still pretty green with Plugins.Maybe if you have a chance you could review what I've done so far with the metabox.phpPaul DouglasLead WordPress DeveloperDouglas Web & Graphic Design, Inc.6921 Stoney Lake Lane | 49201           "Working For Your Success"Modern, Responsive WordPress

[2015-10-27 21:22] pippinsplugins commented on #3947
@douglaswebdesigns Thank you, that's very helpful.

We can definitely consider adding the feature. I cannot give any sort of timeeframe for when it might be added, but we can certainly consider it for future versions!

[2015-10-27 21:34] douglaswebdesigns commented on #3947
The SKU's are now being saved on Update. Working on enable/disable feature. There's a good bit complete. I could send you what I have. (I've used the same conventions that you use in the file -no weird addons) Can I submit a file? Still going to have to figure out how to output to PayPal Payment Screen. Thanks for considering it though.
![new_metabox_image](https://cloud.githubusercontent.com/asse

[2015-10-27 21:40] douglaswebdesigns commented on #3947
<?php
/**
 * Metabox Functions
 *
 * @package     EDD
 * @subpackage  Admin/Downloads
 * @copyright   Copyright (c) 2015, Pippin Williamson
 * @license     http://opensource.org/licenses/gpl-2.0.php GNU Public License
 * @since       1.0
 */

// Exit if accessed directly
if ( ! defined( 'ABSPATH' ) ) exit;

/** All Downloads *****************************************************************/

/**

[2015-10-27 23:35] DevinWalker opened #3949 "Clicking on Customer within Payment History Should Go to Customer's Profile"
**Scenario:** I'm viewing my payment history and I click on a Customer.

**Problem:** My thought is that this should go to the customer's profile rather than showing all that cusotmer's transactions. I can already view this user's transactions from their profile.

![10-27-2015 4-33-10 pm](https://cloud.githubusercontent.com/assets/1571635/10775774/9c3ea3b4-7cc8-11e5-8099-2ae82e9fd450.png)

[2015-10-28 00:35] chriscct7 commented on #3949
There's a PR for this already at https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3799 that needs an update

[2015-10-28 00:39] DevinWalker commented on #3949
Oh nice!

[2015-10-28 01:46] pippinsplugins commented on #3922
Everything looks good here.

[2015-10-28 01:47] pippinsplugins commented on #3922
Wait no. @DevinWalker Looks like PR didn't get resubmitted to `release/2.5`. Able to do that?

[2015-10-28 01:48] #3930 closed

[2015-10-28 01:53] pippinsplugins commented on #3911
Works perfectly.

[2015-10-28 01:53] #3911 closed

[2015-10-28 01:54] #3908 closed

[2015-10-28 02:08] #3544 closed

[2015-10-28 02:12] pippinsplugins commented on #3185
This has been completed.

[2015-10-28 02:12] #3185 closed

[2015-10-28 02:13] pippinsplugins commented on #3055
This won't be able to be finished for 2.5.

[2015-10-28 02:14] pippinsplugins commented on #2815
With the fixes made in #3698, I believe this is finally resolved.

I'm going to close this now. If there are any further reports of this after recounting stats (see #3633) we can re-open.

[2015-10-28 02:14] #2815 closed

[2015-10-28 02:15] pippinsplugins commented on #2462
Punted to 2.6 as this is not critical and is simply a nice to have.

[2015-10-28 02:16] #3165 closed

[2015-10-28 02:36] pippinsplugins commented on #3482
I'm going to test the PR on November 2nd to confirm it's working as expected.

[2015-10-28 02:39] pippinsplugins commented on #3418
Everything looks great.

[2015-10-28 02:39] #3418 closed

[2015-10-28 02:51] chriscct7 commented on #1808
As #3055 was punted to 2.6, this needs to be punted to at least 2.6

[2015-10-28 02:52] pippinsplugins commented on #3949
Done in 9e1361d627610cbd043b6c305dfe1d9765bafdaa and #3799

[2015-10-28 02:52] #3949 closed

[2015-10-28 02:53] pippinsplugins commented on #1808
:+1:

[2015-10-28 13:31] pippinsplugins commented on #3947
@douglaswebdesigns For now, while we gauge how much the feature will be used, I'd prefer to see it built as an extension that is released on WordPress.org. Is that something that interests you?

[2015-10-28 14:02] douglaswebdesigns commented on #3947
Yes. It is. I appreciate your consideration of the notion.
What can I do?

Paul DouglasLead WordPress DeveloperDouglas Web Designswww.douglaswebdesigns.com 
734.352.0485 mobile866.929.9594 fax
On the Web, Perception is Reality-How Does The World See Your Business?

Sent via the Samsung Galaxy S® 6, an AT&T 4G LTE smartphone-------- Original message --------From: Pippin Williamson <notifications@gi

[2015-10-28 18:00] cklosowski commented on #2667
Ok, I think this is ready for some eyes @pippinsplugins. I know for sure it's not 'done done', but I think I've taken it to the point where I can without some feedback.

I've tested this out with Manual Purchases as well as Software Licensing, and I can't find anything 'in your face' breaking. Really testing extensions is just testing backwards compatibility, so we'll need to be sure we do a ton o

[2015-10-28 18:01] cklosowski commented on #3893
Nope that's all I wanted to do, closing out.

[2015-10-28 18:01] #3893 closed

[2015-10-28 18:05] #3849 closed

[2015-10-28 19:11] DevinWalker commented on #3922
@pippinsplugins just resubmitted PR here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3951

[2015-10-28 19:11] chriscct7 commented on #2667
I'll test this on FES as well

[2015-10-29 00:35] DevinWalker opened #3952 "WordPress 4.4 CSS bug and EDD tabs"
WordPress 4.4 changes tabs from h1 to h2 - with 4.4 beta2 I see:

![10-28-2015 5-34-19 pm](https://cloud.githubusercontent.com/assets/1571635/10807201/40dbb07a-7d9a-11e5-9644-fca8bd9f5bb2.png)

[2015-10-29 00:38] DevinWalker commented on #3952
It's also appearing under Downloads > Reports, Tools, anywhere where tabs are used with h2s

[2015-10-29 00:47] DevinWalker commented on #3922
Add back that fancy schmancy has pr tag ;)

[2015-10-29 05:32] ZackWard commented on #3927
It looks like this is happening because the add to cart button makes an ajax request for each click until the button is actually replaced with the "checkout" button. A user can add duplicates of the item each time they click the button until the ajax call actually returns from the server. I've added an ajax lock object that will cause the request to the server not to be made if there is already a

[2015-10-29 10:15] ericnicolaas opened #3955 "Sales dashboard widget is loaded on non-dashboard pages"
The AJAX call that loads the dashboard widget is fired regardless of whether you're on the dashboard. Basically fires anywhere that `admin-scripts.js` is loaded.

Cheers,
Eric

[2015-10-29 10:51] selu91 opened #3956 "multiple customers per same user_id"
Hello,

Is it possible to have multiple customers ( records in wp_edd_customers ) using same user_id ( record from wp_users ).

I see in our database that this is happening, creating problems in loading the purchase history.

Im asking if this is a normal behaviour, which makes me think our logic of thinking that only one customer is available per user is wrong, or it is a bug in the plugin ?

Tha

[2015-10-29 14:00] Nikeo opened #3957 "Login on checkout : existing customers should be able to use their emails"
This follows a Helpscout discussion (id : 8503 ) with John.

## Use case : an existing clients wants to buy another product, renew a license or upgrade.

On checkout, many existing clients don't remember their username and have to follow a password renewal process to access their EDD account.

Currently, the only way to login on checkout is to use a username + password as described with the screen

[2015-10-29 14:11] pippinsplugins commented on #3957
Hi @Nikeo, thanks for the feedback!

We actually already have an issue logged for this( #3429) so I'm going to close this as a duplicate.

[2015-10-29 14:11] #3957 closed

[2015-10-29 14:14] Nikeo commented on #3957
ok fine @pippinsplugins
looking forward for the enhancement :)

[2015-10-29 14:29] pippinsplugins commented on #3955
@ericnicolaas This has been resolved in the upcoming 2.5 release https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3850

[2015-10-29 14:29] #3955 closed

[2015-10-29 14:32] pippinsplugins commented on #3927
@zackkatz I believe you are correct. The change proposal in #3953 looks like it should work fine, though I think simply disabling the input field would be simpler and would prevent any `on('click')` event from firing as well, instead of just the ajax.

Thoughts?

[2015-10-29 14:46] pippinsplugins commented on #3952
I noticed this last night as well.

[2015-10-29 14:46] pippinsplugins commented on #3922
:+1:

[2015-10-29 15:06] pippinsplugins commented on #3922
Fix merged into `release/2.5`. Just needs final testing but I'm pretty sure this is ready to be closed.

[2015-10-29 15:14] zackkatz commented on #3927
I think Pippin meant to ping @ZackWard

[2015-10-29 15:18] pippinsplugins commented on #3927
Whoops!

[2015-10-29 15:22] pippinsplugins commented on #3956
No, a user ID should only ever be associated with a single customer record.

There was a bug with our migration process that resulted in this happening.

To resolve it for those customers/users, do this:

1. Pick a customer record to keep
2. Unassociate the `to throw away` customer record with the user account
3. Move all purchases from `to throw away` customer  to the `to keep` customer
4. Delete

[2015-10-29 15:22] #3956 closed

[2015-10-29 18:26] pippinsplugins commented on #3952
Thanks @DevinWalker, I believe the changes in #3958 resolve this but will leave open for another look to confirm.

[2015-10-29 18:42] pippinsplugins commented on #3947
The docs site was down temporarily yesterday. Is it showing for you now?

[2015-10-29 19:42] ZackWard commented on #3927
@pippinsplugins You're right, that would be much simpler. I'll work on an updated PR.

[2015-10-29 20:53] douglaswebdesigns commented on #3947
up and running...I'm ready to research now.

[2015-10-29 21:00] pippinsplugins opened #3960 "Need option or filter to completely remove price from purchase buttons"
A lot of users have wanted a way to remove the price from purchase buttons. There are a few round about ways to do this, but no simple, straight forward methods.

Let's add an option or filter to make this simple.

See this ticket for an example https://secure.helpscout.net/conversation/126999985/18063/

[2015-10-29 21:02] pippinsplugins commented on #3947
EDD extensions are built just like any other WP plugin. If you need help getting some intros to WP plugin dev, I have some tutorials at pippinsplugins.com that may be helpful.

[2015-10-29 23:12] ericnicolaas commented on #3955
Nice :+1:

[2015-10-30 15:29] SDavisMedia opened #3961 "North/South Korea country codes reversed"
'KP' is North Korea
'KR' is Sourth Korea

[2015-10-30 16:27] cklosowski commented on #3885
I thought we were still supporting this, on top of our new plan.

[2015-10-30 17:58] pippinsplugins commented on #3885
I don't recall deciding that. I recall that we decided to nix this change completely and simply make it so that payment records can have different email addresses than the associated customer record.

@mindctrl @sumobi @chriscct7 @topher1kenobe @SDavisMedia @ghost1227 any of you remember?

[2015-10-30 18:36] cklosowski commented on #3731
Thoughts on this as the solution?

![screen shot 2015-10-30 at 11 35 17 am](https://cloud.githubusercontent.com/assets/1390124/10854672/635f056e-7efa-11e5-92c1-8f49622a451b.png)

[2015-10-30 18:42] SDavisMedia commented on #3731
@cklosowski I like it! I really don't see the benefits of Chosen for this anyway. Seems logical to switch and also add variable pricing support.

[2015-10-30 18:44] SDavisMedia commented on #3731
It also solves the problem of people not realizing that it is a search field.

[2015-10-30 19:11] pippinsplugins commented on #3927
Changes in #3959 look like they should work fine.

[2015-10-30 19:23] pippinsplugins commented on #3731
This looks great to me!

Minor note: it is still using `chosen`, it just isn't using a `multi-select chosen` :)

[2015-10-30 19:27] cklosowski commented on #3731
Right, sorry, still using chosen, just not the multiselect.

[2015-10-30 20:17] brashrebel opened #3964 "Export customers by taxonomy"
Currently it is possible to export a CSV of customers and restrict the results by specific downloads. This could be enhanced by adding additional factors such as download category. Might look something like this:
<img width="560" alt="screenshot 2015-10-30 16 14 26" src="https://cloud.githubusercontent.com/assets/4993131/10856965/a3206b6c-7f21-11e5-8e02-1ed63ecfc6af.png">

[2015-10-30 20:30] brashrebel commented on #3025
Another very cool related feature that would be possible when switching to chosen's multi-select field would be the capability of selecting multiple downloads instead of only one. I believe the query args [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/admin/reporting/export/class-batch-export-customers.php#L70) would need to be adjusted to accept an arra

[2015-10-30 20:37] cklosowski commented on #3885
That's what this is for, allowing the email on a payment to differ from the customer.

[2015-10-30 20:56] mindctrl commented on #3885
We decided not to do this in the meeting.

Right now updating the email on a payment involves changing the customer record. You either change the email of the customer who bought it, or you create a new customer record if 'ownership' is changing hands. It's easy to understand and makes sense. Introducing a new field for updating the email address separate from the customer record is going to be co

[2015-10-30 21:50] cklosowski commented on #3961
@SDavisMedia can you submit a PR for this and i'll get it merged in to `release/2.5`?

[2015-10-30 21:53] cklosowski commented on #3885
:+1: closing out then, thanks guys, I had gotten them confused apparently.

[2015-10-30 21:53] #3885 closed

[2015-10-30 22:00] SDavisMedia commented on #3961
@cklosowski PR sent to `release/2.5`. Not 100% sure if that's where you wanted it but that's where it is, yo!

[2015-10-30 22:45] #3961 closed

[2015-10-31 02:02] cklosowski commented on #3341
This is looking a little harder than simply grabbing the right size, the item we're iterating on as the selection, going to have to rework our media manager integration.

[2015-10-31 14:14] pippinsplugins commented on #3885
The issues that this was intended to solve are largely taken care of through #3914

[2015-10-31 14:15] pippinsplugins commented on #3341
:+1:

[2015-10-31 14:15] pippinsplugins commented on #3025
That would be excellent.

[2015-10-31 14:16] pippinsplugins commented on #3964
I like this idea.

[2015-10-31 17:09] maxrossi opened #3968 "array php"

[2015-10-31 18:02] pippinsplugins commented on #3968
@maxrossi we love contributions from the community and would love to hear about the issue indepth. However, since no description was provided and a very generic title was given, I'm going to close this as `invalid`. If you wish to expand on the issue, please update the description and/or leave a comment below for assessment.

[2015-10-31 18:02] #3968 closed

[2015-10-31 18:17] maxrossi commented on #3968
Sorry Pippin, it was my fault with GitHub interface, I didn't want to add an issue...

[2015-11-01 03:21] ZackWard commented on #3927
@pippinsplugins Should I modify the minified js or will that be taken care of automatically by the build process?

[2015-11-01 17:49] pippinsplugins commented on #3927
@ZackWard we do that pre-release.

[2015-11-02 05:03] chriscct7 opened #3971 "Eliminate use of WP_CONTENT_URL"
WP_CONTENT_URL is getting either deprecated or overhauled in 4.4 (a core trac ticket I'm working on). It is not, and has not, been the recommended way of getting the content url since content_url() was introduced in WordPress 2.6. Among many other issues, WP_CONTENT_URL does not respect https. Use of it should be swapped for content_url(): https://codex.wordpress.org/Function_Reference/content_url

[2015-11-02 05:04] chriscct7 commented on #3971
There's currently 4 uses of it in EDD core

[2015-11-02 14:34] pippinsplugins commented on #3971
:+1:

[2015-11-02 14:52] pippinsplugins commented on #3635
Another ticket, but this time with qTranslate: https://secure.helpscout.net/conversation/135443323/20322/

[2015-11-02 18:09] cklosowski commented on #3025
The problem with the multiselect, is it currently doesn't support the variable pricing, so it would only export all customers of the products selected, not the variable price levels.

Once #3175 is tackled it might be able to do that.

[2015-11-02 18:27] cklosowski commented on #3025
I'm going to merge this as is, once #3175 is completed, we can revisit further improvements. I don't think that is going to make 2.5 and I think this would be a great improvement to include for 2.5.

[2015-11-02 18:33] cklosowski opened #3972 "Further improve Customer Export functionality"
With #3025 we've made it possible to export all customers of a download, or only specific price IDs, however with #3175 we're going to make the multi-select product drop down support price IDs, and we can then make this export even better by allowing export of multiple products, and price IDs combined.

Great idea @brashrebel

[2015-11-02 18:34] #3025 closed

[2015-11-02 18:34] cklosowski commented on #2789
ok @pippinsplugins and @SDavisMedia can we try this...again!? :P

[2015-11-02 18:47] pippinsplugins commented on #3482
I've just confirmed that this is working properly now so I'm merging and closing.

[2015-11-02 18:47] #3482 closed

[2015-11-02 18:48] cklosowski commented on #3482
WOOT!

[2015-11-02 21:07] cklosowski commented on #3952
Yes they seem to have been fixed with that merge. I'm going to close this, thanks @DevinWalker

[2015-11-02 21:07] #3952 closed

[2015-11-02 21:24] cklosowski commented on #3175
I'm going to punt this to 2.6, to coincide with #3972

[2015-11-02 21:26] mindctrl commented on #3341
@cklosowski thanks for looking at this. Aside from grabbing the selected image URL, can you make a little checklist of other things that need to be updated to account for this so I can better wrap my head around it?

[2015-11-02 22:22] pippinsplugins commented on #2789
Will test soon!

[2015-11-02 23:02] cklosowski commented on #3922
Yeah this is much better. Looked it over and seems to be working fine for me. Closing.

[2015-11-02 23:02] #3922 closed

[2015-11-02 23:05] cklosowski commented on #3776
yeah i'm loving this update to the system info. Nice work @ghost1227, closing this one out for the cycle.

[2015-11-02 23:05] #3776 closed

[2015-11-02 23:06] cklosowski commented on #3636
@MythThrazz made a couple changes here, fixed up some UX issues with the control order and whitespace. Things look like they are working alright for you on this PR?

[2015-11-02 23:10] cklosowski commented on #3633
Ok thanks @pippinsplugins I'll look into those, sounds like i'm just missing something signaling the end of the report.

[2015-11-03 03:02] SDavisMedia commented on #3971
I had no issues with the image related ones. Not sure how to test the other changes, though I couldn't find any issues with the file download process.

[2015-11-03 03:04] pippinsplugins commented on #3971
@SDavisMedia That's what we're looking for so good good

[2015-11-03 03:23] SDavisMedia commented on #3920
Worked perfectly for me. Checked the behavior of the new attributes as well as their removal when the fields are not on the required list. :+1:

[2015-11-03 04:02] SDavisMedia commented on #3919
Working just fine here. :+1:

[2015-11-03 04:07] pippinsplugins commented on #3919
:+1:

[2015-11-03 04:07] #3919 closed

[2015-11-03 04:26] pippinsplugins commented on #3803
Ready for testing.

[2015-11-03 04:31] SDavisMedia commented on #3820
Looks like customer notes header and wrapper also need to be changed.

[2015-11-03 04:43] SDavisMedia commented on #3820
I just adjust the elements that seem to have been missing. I noticed they were missing when making adjustments for the Commissions tab mentioned above and in the issue here: https://github.com/easydigitaldownloads/EDD-Commissions/issues/95

With my latest changes here in EDD, everything looks good on my end. And with this merged, the changes I made in Commissions will also display properly.

[2015-11-03 05:03] SDavisMedia commented on #3731
Everything is working perfectly for me. :+1:

[2015-11-03 05:54] SDavisMedia commented on #3633
All of the selections seem to be working for me. I manually changed values in the database then used the tool to update them. All good. Two things, though.

1. **Reset Store:** I have no idea what it does. I have a general idea just from talking with @cklosowski about it some time ago but as of right now, I can't remember. The description tells me nothing, except that it's important. Anything we c

[2015-11-03 06:21] SDavisMedia commented on #3489
This is looking good to me. Vendd seems to work perfectly with all of the support column options. Very nice, @sumobi! :+1:

[2015-11-03 07:12] sumobi commented on #3489
@SDavisMedia Woot!

[2015-11-03 15:41] pippinsplugins commented on #3633
1. About about adding a help text blurb that appears below the form for each option. When an option is selected, we can replace the blurb with the appropriate help text. This is an area we don't want to leave up to misinterpretation so the more guidance / explanation we can provide the better.

2. Not sure why it'd be grayed out but it recounts the `Total Purchase Count` and `Total Amount Spent` v

[2015-11-03 16:59] pippinsplugins commented on #3489
Awesome.

[2015-11-03 17:33] cklosowski opened #3976 "Better handling of installation and removal for network activated and multisite installs"
Identified by the rtCamp crew

If you setup a Multisite, and network enable EDD, sub sites that are created don't get the custom tables for customer's created due to the fact that the `_edd_installed` transient will return `false`.

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/install.php#L193

[2015-11-03 17:45] pippinsplugins commented on #3976
I propose we alter `edd_after_install()` to also include a check to see if the table exists and then create it if not. This should happen for all DB tables we have now and in the future, so perhaps a `maybe_create_table()` method in the base class that is then run inside of `edd_after_install()`.

[2015-11-03 17:59] pippinsplugins commented on #3635
For the user with a problem with qTranslate, the `/en/` parameter causes a 404 error with nginx, not a permission denied.

[2015-11-03 18:33] cklosowski commented on #3976
@pippinsplugins that could work, are we then going to just ignore that check of the transients, so admin_init always checks for the tables existing? or should be put a timed option in that pulls the option, checks the last time we looked for the DB tables, and if it's past that time (weekly maybe?) we run the install of the tables if they don't exist?

[2015-11-03 18:37] pippinsplugins commented on #3635
I've tracked down and resolved the qTranslate issue. Now to resolve WPML.

[2015-11-03 18:38] cklosowski commented on #3971
Sweet, @pippinsplugins you good if I merge this in then?

[2015-11-03 18:40] cklosowski commented on #3927
Thanks @ZackWard. I've merged this into master, will get it wrapped back up into 2.5 shortly.

[2015-11-03 18:40] #3927 closed

[2015-11-03 18:48] spencerfinnell commented on #3635
Not sure if it works already or not but might want to give Polylang a test too.

[2015-11-03 18:49] pippinsplugins commented on #3635
I'm testing with WPML right now and so far cannot make it fail. Will keep digging.

[2015-11-03 18:50] pippinsplugins commented on #3635
@spencerfinnell last time I tried it worked properly.

[2015-11-03 18:56] pippinsplugins commented on #3635
I can't break WPML. It works perfectly for me.

[2015-11-03 18:58] pippinsplugins commented on #3635
@brashrebel Note: https://secure.helpscout.net/conversation/113583242/15056/ is a different issue. That's a problem with Content Restriction.

[2015-11-03 19:02] #3635 closed

[2015-11-03 19:08] cklosowski commented on #3633
@SDavisMedia Fixed teh thing about the grayed out buttons. Was just a UX logic thing when selecting different options.

@pippinsplugins I tried this again, none of my items hang, is there any errors reported in the responses of the AJAX requests that maybe i'm not seeing?

[2015-11-03 19:09] pippinsplugins commented on #3971
Go ahead1

[2015-11-03 19:17] pippinsplugins commented on #3633
@cklosowski it may have been a one-off thing. I'll test again/

[2015-11-03 19:18] cklosowski commented on #3633
Going to work on adding some descriptions to these today.

[2015-11-03 19:21] pippinsplugins commented on #3976
I think we need to just make sure the function runs 100% of the time on sites that haven't run it yet. Perhaps instead of checking the transient it should check an option.

[2015-11-03 22:47] pderksen opened #3978 "Welcome page needs additonal CSS specificity"
In other words, EDD's welcome page CSS is messing with my plugins' welcome page CSS.

Couple ways to go about this...

1) Change the `about-wrap` generic WP class within inline styles here to `edd-about-wrap`:

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/admin/welcome.php#L100-L121

Then update the various `<div class="wrap about-wrap">` containers to `<div

[2015-11-03 23:16] cklosowski opened #3979 "Incorrectly spelled utm on the AddOns page"

[2015-11-03 23:32] SDavisMedia commented on #3978
I automatically assumed we were only loading on EDD's page. I never cared for the admin head styles and wondered why they weren't in edd-admin.css. We'll definitely get this taken care of. Sorry about that!

[2015-11-04 00:17] pippinsplugins commented on #3978
@SDavisMedia could you look at this sometime this week or next? We'll get it in 2.5

[2015-11-04 00:18] SDavisMedia commented on #3978
Absolutely.

[2015-11-04 00:41] pippinsplugins commented on #3820
:+1:

[2015-11-04 01:35] mindctrl commented on #3336
[Another report](https://secure.helpscout.net/conversation/135801104/20398/).

[2015-11-04 01:38] om4james commented on #3935
Hi @pippinsplugins, I'm trying to test these changes.

I've put the latest `EDD_License_Handler` file (v1.6.2) in my plugin.

My EDD store is running EDD 2.4.9 and Software Licensing v3.4.2.

The outbound `get_version` HTTP request is running with an empty license key, however EDD SL v3.4.2 is responding with this response:

`{"new_version":"","sections":"","license_check":"","msg":"No license key

[2015-11-04 01:55] pippinsplugins opened #3981 "Download links break if campaign variables are added to them"
I just discovered that file download links break (by giving a permissions error) if UTM tracking parameters are added to them.

We should look at allowing UTM variables on download URLs since that will be a common occurrence.

We could probably resolve it by simply stripping the UTM variables off the URL before we validate the token.

[2015-11-04 01:57] #3979 closed

[2015-11-04 01:59] pderksen commented on #3978
Awesome thanks guys.

[2015-11-04 02:00] pippinsplugins commented on #3920
Works great here too. Merged and closed.

[2015-11-04 02:00] #3920 closed

[2015-11-04 02:02] pippinsplugins commented on #3867
Moving to 2.5.4

[2015-11-04 02:04] pippinsplugins commented on #3731
Works beautifully and soooooo much better.

[2015-11-04 02:05] pippinsplugins commented on #3489
@SDavisMedia Did you happen to test with any other themes?

[2015-11-04 02:06] pippinsplugins commented on #3243
Working great!

[2015-11-04 02:06] om4james commented on #3935
Hi @pippinsplugins,

After testing further, I now realise that a valid license key still has to be specified in the update checks.

However in order to download the zip file update, the license key has to be activated otherwise this response is received:

`Your license has not been activated for this domain, please activate it first.`

So change in SL v3.4 means that the new versions are shown in

[2015-11-04 04:03] SDavisMedia commented on #3489
@pippinsplugins Absolutely. I checked through several. But I just decided to check more and realized Digital Store removes the default EDD stylesheet for some reason.

Simple solution would be to just add the new CSS to Digital Store stylesheet. I'll add it for an update.

[2015-11-04 04:35] SDavisMedia commented on #3978
@pderksen I've taken care of this in `issue/3978`. Can you verify that your plugin pages are no longer interrupted?

[2015-11-04 06:10] SDavisMedia commented on #3489
All good now. This really should not affect many themes as most of them left the default shortcode display alone anyway. Vendd is one of the few that actually uses the shortcode instead of making custom grid displays.

[2015-11-04 10:25] samikeijonen opened #3982 "Error: Please enter billing state / province when taxes are enabled"
When taxes are enabled at least these fields are required when using Stripe:
- Billing City
- Billing Country
- Billing State / Province

When a user select State / Province that is not US (like Germany) Billing State / Province gets label `nostates`.

But the field is still required and we get this error at this point when trying to purchase:

[code]

[2015-11-04 14:15] pippinsplugins commented on #3978
@SDavisMedia Looks good from my end.

[2015-11-04 14:31] pippinsplugins commented on #3981
The Better Google Analytics plugin automatically adds the UTM links to outgoing emails: https://wordpress.org/plugins/better-analytics/