[2015-11-04 14:55] pippinsplugins commented on #3489
Awesome. I'll test again on my end then merge and close.

[2015-11-04 15:07] pippinsplugins commented on #3489
@sumobi Works perfectly. Love it.

[2015-11-04 15:07] #3489 closed

[2015-11-04 16:48] pderksen commented on #3978
@SDavisMedia Tested locally. Works just fine. Thanks!

[2015-11-04 16:50] SDavisMedia commented on #3978
@pderksen Sweet, thanks!

[2015-11-04 17:10] pippinsplugins commented on #3900
I've never seen this before. Does it happen to you everywhere or just in
that one site?

On Sunday, October 11, 2015, Andrew Munro <notifications@github.com> wrote:

[2015-11-04 19:27] cklosowski commented on #1084
Ok this is going to kick off a failed build so i'm jsut going to cancel it, but, unit tests will load finally, but having issues with tests on getting page URLs after the Tests_Activation runs the `edd_install` method after we've already started the unit tests. This is a good start I believe and will get us heading in the right direction if someone wants to take up this torch and finish it up, be

[2015-11-04 19:37] pippinsplugins commented on #1084
@cklosowski Which part of the tests fail?

[2015-11-04 19:41] cklosowski commented on #1084
We have failures in the following, at least locally for me:
[code]
All are related to requesting page URLs for some of our pre-configured pages.

[2015-11-04 20:09] #3978 closed

[2015-11-04 20:18] pippinsplugins commented on #3982
This is a tricky one.

The `nostates` return means that EDD does not have a known list of states / provinces for that country and so a plain input field is given for the customer to enter their state or province.

Many countries will still expect a value to be entered there.

Perhaps the best solution is to have a list of countries that do _not_ need a state/province entered and only show the erro

[2015-11-04 20:27] samikeijonen commented on #3982
Yeah it's a tricky one. Users have reported that even if they write state / province for example the same as Billing City they still got the same error. They do this because in their county there is no states / provinces. Not in Finland either.

At first I had no idea what users were talking about when they had problems at checkout. But now pretty much all comes down to this.

[2015-11-04 20:31] pippinsplugins commented on #3982
A quick and dirty fix for your site would be to make the field not required: http://docs.easydigitaldownloads.com/article/256-modifying-the-required-checkout-fields

[2015-11-04 20:33] samikeijonen commented on #3982
Thanks! That's what I would have asked next:)

[2015-11-04 22:37] pippinsplugins opened #3985 "Add CSV Product Export"
CSV product export is currently handled by EDD CSV Manager, which we all know has some pain points. We should make use of our new bulk processing API and add this to core.

I've set this for 2.5 simply because we've had 5+ tickets in the last month about CSV Manager not working. I'm going to write this now and get it in.

[2015-11-04 23:25] pippinsplugins commented on #3985
I have this nearly complete. There are just a few column values that are not being populated properly.

[2015-11-04 23:46] cklosowski commented on #3633
Added in a customer specific recount tool, so you can just recount the sales and value of a specific customer by adding a 'Tools' menu item to the Customer UI:

![screen shot 2015-11-04 at 4 33 40 pm](https://cloud.githubusercontent.com/assets/1390124/10955787/960fdef8-8313-11e5-976a-e387755ce8fd.png)

[2015-11-04 23:47] cklosowski commented on #3633
Also added dismissible `X` to any of the batch processor success messages, as the discussion with @SDavisMedia went.

[2015-11-05 03:01] mindctrl commented on #3498
Another one in Safari 9. https://secure.helpscout.net/conversation/136337769/20553/

[2015-11-05 03:42] sumobi commented on #3489
Yeehawwww

[2015-11-05 04:10] pippinsplugins commented on #3633
:+1:

[2015-11-05 15:07] pippinsplugins opened #3988 "Verification URL missing from email when email template is set to plain text"
If the email template is set to plaintext, the account verification email loses it's verification URL. Instead of  the text being clickable, it shows like this:
![screen shot 2015-11-05 at 9 06 50 am](https://cloud.githubusercontent.com/assets/1034109/10971946/96249fd0-839c-11e5-8177-46ecd66258e5.png)

The account can't be verified since no URL is available.

I propose we fix this by adding a plai

[2015-11-05 15:13] pippinsplugins commented on #3988
My proposal:
![screen shot 2015-11-05 at 9 12 16 am](https://cloud.githubusercontent.com/assets/1034109/10972105/552b3178-839d-11e5-9c49-5bd5a77f81a8.png)
Plaintext:
![screen shot 2015-11-05 at 9 13 30 am](https://cloud.githubusercontent.com/assets/1034109/10972144/81611b7c-839d-11e5-82e0-6d90c7f748fb.png)

[2015-11-05 17:13] cklosowski commented on #3985
Merged into `release/2.5` for further testing, seems to be working great alongside #3633

[2015-11-05 17:18] cklosowski commented on #2168
@pippinsplugins do we have someone who can verify? I never replicated this.

[2015-11-05 17:26] cklosowski commented on #3988
We say `click here` twice, can we change the backup text to something like `Visit the following URL`

[2015-11-05 17:26] cklosowski commented on #3988
there are some email clients that don't auto link URL strings.

[2015-11-05 17:50] cklosowski commented on #3976
@pippinsplugins yeah I like checking an option, could we possibly make that option a timestamp in the future...like `WEEK_IN_SECONDS`, so on admin init, we check if the current time is greater than the last check + week in seconds, and if so, we check if the table exists, if not create it?

[2015-11-05 17:50] cklosowski commented on #3976
That way we're always checking, if someone deletes it...or setup a multisite in the past, this will backfill the table?

[2015-11-05 17:55] cklosowski commented on #3981
@pippinsplugins I would propose we strip any query string items with `utm_` in there. Might be even better to set an array of whitelisted query string parameters for download links, and then strip them based off that whitelist. Make it filterable as well so things can be added to them.

[2015-11-05 18:24] pippinsplugins commented on #3981
@cklosowski How about we strip _all_ query args that are no intentionally added by EDD.

[2015-11-05 18:25] pippinsplugins commented on #3988
I like that change for the text.

[2015-11-05 18:27] pippinsplugins commented on #3976
I like the `WEEK_IN_SECONDS` option.

[2015-11-05 18:27] pippinsplugins commented on #3985
I'd like for @SDavisMedia and/or @mindctrl to give this a quick look before we close it out.

[2015-11-05 18:27] pippinsplugins commented on #2168
@cklosowski Only person we know of is the original poster of that forum thread.

[2015-11-05 18:38] cklosowski commented on #3861
@topher1kenobe can you test out this issue branch? `issue/3861` and also retest #3860 with this branch? See if it was a two-fer.

[2015-11-05 20:28] mindctrl commented on #3498
Some additional info from customer:

[2015-11-05 22:13] mindctrl commented on #3985
@pippinsplugins found an issue here where columns get shifted, possibly due to quotes/shortcodes in post_content. Reproduced on two sites.

Steps to reproduce:
- Create new download
- Insert an audio playlist in it. Example: [playlist ids="44884,44865"]
- Publish post
- Export CSV

The CSV columns get broken:
![image](https://cloud.githubusercontent.com/assets/1254870/10983443/7b173f4c-83e0-11e5-9

[2015-11-05 22:14] mindctrl commented on #3985
Actual shortcode from previous screenshot was `[playlist ids="276,278"]`

[2015-11-05 22:16] mindctrl commented on #3985
More data:

This:
`This is a "test" dude. "What we have here," moo.`

Results in:
![image](https://cloud.githubusercontent.com/assets/1254870/10983515/e4fd31fa-83e0-11e5-9e27-6fc663311802.png)

[2015-11-05 23:47] cklosowski commented on #3976
As a note, we also need to delete our custom tables when a subsite is deleted. I'll add that in here as well.

[2015-11-06 00:53] pippinsplugins commented on #3976
:+1:

On Thursday, November 5, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-11-06 03:10] mindctrl commented on #3850
@cklosowski this is what broke the widget. I think we can change this to read a var from edd_vars and avoid traversing the DOM.

[2015-11-06 13:16] topher1kenobe opened #3992 "Link for translators is wrong in the readme"
Change link from https://www.transifex.com/projects/p/easy-digital-downloads/ to http://docs.easydigitaldownloads.com/article/1023-translating-easy-digital-downloads

[2015-11-06 14:06] pippinsplugins opened #3994 "Remove en_GB, en_CA, and en_AU language files"
en_GB, en_CA, and en_AU are all 100% translated on translate.wordpress.org so we need to remove the language files in order to let language packs do their thing.

[2015-11-06 14:36] pippinsplugins commented on #3992
Pr: #3993

[2015-11-06 15:08] pippinsplugins commented on #3985
@mindctrl try again now on `issue/3985`

[2015-11-06 16:23] topher1kenobe opened #3996 "Enhance purchase shortcode behavior"
In the Download Settings meta box when editing a Download there's a text field that holds the purchase shortcode.  This shortcode SHOULD update instantly when someone chooses Buy Now as the button action, but it does not.

[2015-11-06 16:25] mindctrl opened #3997 "[edd_profile_editor] doesn't update name on customer record"
When updating the name fields in the profile editor, the user account gets updated but the customer record does not. This is not consistent with the email field, which does get updated on both user and customer records.

[2015-11-06 16:40] pippinsplugins commented on #3996
:+1:

Note: updated title to reflect the exact change that is proposed.

[2015-11-06 17:10] pippinsplugins opened #3998 "Download links break with SendGrid plugin"
We've now seen 3+ conflicts with the SendGrid plugin/service. Email receipts get sent with broken download links.

Download links should be:
`sitename/index.php?eddfile=144%3A86%3A0%3A0&ttl=1446806943&file=0&token=7be83e7f2c78b961e6c3c491cd0b0`

But with SendGrid, they are just `sitename/?eddfile=144%3A86%3A0%3A0`

The links also are sent thought a send grid redirect like:
https://u2020875.ct.send

[2015-11-06 17:23] pippinsplugins commented on #3998
I believe this is a conflict with placeholders. SendGrid has template tags, such as `%name%`. My guess is that the url encoded variables are getting stripped when SendGrid replaces the template tags.

[2015-11-06 18:01] pippinsplugins commented on #3998
I've replicated the issue.

The download link came through like this:

https://edd.com/vendd/?eddfile=52%3A50%3A0%3A0#038;ttl=1446919206&#038;file=0&#038;token=e7e442e1890a4cc6ac67e5d139796381

Looks like our `&` are getting changed to `#038;`

[2015-11-06 18:12] pippinsplugins commented on #3998
Another post on SendGrid forums that shows the same problem:

https://wordpress.org/support/topic/sendgrid-changes-ampersand-into-038-in-url-in-email-and-breaks-the-link?replies=1

[2015-11-06 18:14] pippinsplugins commented on #3998
Similar report on Stack Overflow: http://stackoverflow.com/questions/28374625/urls-with-special-characters-are-not-converted-correctly-by-sendgrid

[2015-11-06 18:17] pippinsplugins commented on #3998
I've found a work around.

Inside of SendGrid settings., click tracking for plain text emails can be disabled. Doing that resolves in the `&`s no longer getting converted.

[2015-11-06 18:24] ArcatechSa commented on #3998
Just tried the problem remains

[2015-11-06 18:25] pippinsplugins commented on #3998
See this doc for specific steps: http://docs.easydigitaldownloads.com/article/1085-file-download-links-dont-work-with-sendgrid

[2015-11-06 18:29] ArcatechSa commented on #3998
I think I have already done it..
<img width="1211" alt="schermata 2015-11-06 alle 19 27 01" src="https://cloud.githubusercontent.com/assets/14358364/11005147/889ca332-84bc-11e5-9352-f2f0db4b7af0.png">

[2015-11-06 18:31] SDavisMedia commented on #3996
Not sure if it matters but let's keep [this issue](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3726) in mind as this is implemented.

[2015-11-06 18:35] pippinsplugins commented on #3998
Can you please expand the Click Tracking option and show me a new screenshot?

[2015-11-06 18:36] ArcatechSa commented on #3998
Sure here it is
<img width="1196" alt="schermata 2015-11-06 alle 19 36 22" src="https://cloud.githubusercontent.com/assets/14358364/11005384/bb457178-84bd-11e5-88f9-14b8fae87f90.png">

[2015-11-06 18:37] pippinsplugins commented on #3998
Thanks. Go to Downloads > Payment History and resend a purchase receipt. Click on a download link and then send me a copy of the exact URL in the browser.

[2015-11-06 18:38] pippinsplugins commented on #3996
:+1:

[2015-11-06 18:41] ArcatechSa commented on #3998
Still the same as before siteurl/?eddfile=231%3A69%3A0%3A0

[2015-11-06 18:42] pippinsplugins commented on #3998
Does it work if you disabling click tracking completely for all emails?

[2015-11-06 18:44] ArcatechSa commented on #3998
Yes now it works!

[2015-11-06 18:45] pippinsplugins commented on #3998
Excellent!

[2015-11-06 18:51] pippinsplugins commented on #3998
I'm going to close this as fixed now that we have a good solution.

[2015-11-06 18:51] #3998 closed

[2015-11-06 20:19] cklosowski opened #4000 "Add PHP7 to the matrix for unit tests"

[2015-11-06 20:57] CodedInk opened #4002 "Product price is being rounded up/down"
I cannot figure out why if I enter 9.99 in the back-end it shows as 10.00 on the pricing table?
If I enter 9.48 then it rounds down to 8.00 on the pricing table?

[2015-11-06 22:24] pippinsplugins commented on #4002
Hi @CodedInk.

For support requests like this, please open a ticket from our support page (which I see you just did): https://easydigitaldownloads.com/support

We will answer you there as soon as we are able.

[2015-11-06 22:24] #4002 closed

[2015-11-07 18:05] SDavisMedia opened #4003 "add item price to {download_list} email tag"
Any reason why the {download_list} email tag doesn't support product prices/totals? I know the there are email tags for the overall transaction totals but it's not itemized.

The purchase confirmation has itemized information and it's just a confirmation page. I think the email receipt should be just as detailed if not more.

[2015-11-07 18:07] SDavisMedia commented on #4003
Reaching here, but for percentage discounts, it would also be sweet if each item's discount total was included since they carry a weight of the discount. That doesn't apply to flat discounts, of course.

[2015-11-08 14:31] #3992 closed

[2015-11-08 14:49] pippinsplugins commented on #3976
@cklosowski I've tested:

- [x] Activating on a single site in the network.
- [x] Network activating then using it on an existing site in the network. All settings, pages, and tables created properly once visiting dashboard.
- [ ] Network activating and then checking for install status without visiting site dashboard. _Did not work_. Install routine did not run on sites in the network.
- [x] Netwo

[2015-11-08 14:59] pippinsplugins commented on #3976
Correction: the foreach loop is running, but the customer table creation is failing. Settings and pages are created properly on each site in the network when network activated.

[2015-11-08 15:05] #3971 closed

[2015-11-08 15:07] pippinsplugins commented on #3861
This is working properly for me now. :+1:

[2015-11-08 15:07] #3861 closed

[2015-11-08 15:12] pippinsplugins commented on #2789
Search doesn't work at all for me now. It's always showing all items.

[2015-11-08 15:13] pippinsplugins commented on #2789
Scratch that, yes it does. I was entering `#:97` instead of `#97`.

I think we should go ahead and strip out `:` if it's there as well. It makes sense that someone would mistakenly enter a `:` since it's used in some of the other search methods.

[2015-11-08 15:17] pippinsplugins commented on #2789
Unfortunately, pagination still doesn't work.

I'm searching for a download that has 21 sales. Setting the `$per_page` parameter to `10` results in only 10 items and no pagination.

[2015-11-08 15:18] pippinsplugins commented on #1490
Sadly punting once again.

[2015-11-08 15:46] pippinsplugins commented on #2667
@cklosowski This is looking really good. Here are some suggestions after a quick scan (haven't actually tested yet):

1. There are some inconsistencies with names for methods that update certain pieces of metadata:
- add_fee()
- add_discount()
- update_currency()
- set_gateway()
- add_note()
- update_status()

`update_currency()`, `set_gateway()`, and `update_status()`, however, should be standard

[2015-11-08 15:46] pippinsplugins commented on #2667
@cklosowski Let me know your thoughts on the above. I'm happy to start working through them as well but wanted to make sure we're both on the same page first.

[2015-11-08 15:47] pippinsplugins commented on #2168
I propose we punt this until we have another reliable report that will let us track it down.

[2015-11-08 15:49] pippinsplugins commented on #2667
Quick test shows that this all appears to be working really well.

[2015-11-08 19:40] danieliser commented on #2955
@pippinsplugins - I think it makes since that nearly all core stuff should be run through it at some point in the future. Though you may plan it over several release cycles.

[2015-11-09 00:10] pippinsplugins commented on #4003
Only reason I know of is simply it's old and hasn't received any real love in a while.

[2015-11-09 17:44] cklosowski commented on #2667
A couple of thoughts on naming, yeah there are some inconsistencies, however there are a few things I'd like to keep in place:
Discounts, downloads, fees, notes, are all things we can have multiples of...so `add_` seems the best route for those.

The `set_` vs `update_` I'm good with moving towards `update_` I tried to keep all the filters in place in the `setup_` methods as those are called whene

[2015-11-09 18:05] pippinsplugins commented on #2667
Personally I prefer `set_` over `update_`. I'd also love to see all set/update methods simply set the property and then have `save()` handle the actual update of the database. That way everything is consistent instead of some methods updating the DB and others not.

[2015-11-09 18:09] cklosowski commented on #2667
My concern with `set_` is the confusion with `setup_`, which are the ones run on instantiation to be sure all filters run.

I'm attempting to run it all items via the `save()`, the one you saw for the gateway was incorrectly in existence, prior to the `save()`.

[2015-11-09 18:16] pippinsplugins commented on #2667
That's a good point, but I don't think it's too big of a concern.

`update` inherently means "save changes", but we're not saving the changes until we call `save()`.

[2015-11-10 02:25] #3988 closed

[2015-11-10 02:26] cklosowski commented on #3850
Ok thanks @mindctrl I'll work on this again.

[2015-11-10 15:28] #3850 closed

[2015-11-10 15:30] cklosowski commented on #3636
@pippinsplugins @mindctrl Could you guys poke around on this and see if the changes that @MythThrazz and I made are working correctly for you?

[2015-11-10 15:40] cklosowski commented on #2789
I'm really not getting how this isn't working for you guys, mine had 25 sales. pagination worked perfectly. I'll keep digging. are you sure you've cleared caches for possible counts and what not?

[2015-11-10 15:47] MythThrazz commented on #3636
@cklosowski I was on a short vacation and didn't have time version after merge yet. I'll try to find time when I dig myself out of the pile of tasks.

[2015-11-10 15:52] cklosowski commented on #2789
Download has 11 sales, 5 per page defined.

![screen shot 2015-11-10 at 8 51 54 am](https://cloud.githubusercontent.com/assets/1390124/11067138/59eb5ac8-8788-11e5-8094-c0cca655ef79.png)
![screen shot 2015-11-10 at 8 51 47 am](https://cloud.githubusercontent.com/assets/1390124/11067140/5c7b4ae6-8788-11e5-832e-5b11934f32b9.png)

[2015-11-10 15:54] cklosowski opened #4006 "Sorting Downloads by Sales only sorts by asc"
When clicking on the `Sales` table header of the Downloads list table, it will only ever sort by `asc` and never goes to `desc`.

![screen shot 2015-11-10 at 8 53 30 am](https://cloud.githubusercontent.com/assets/1390124/11067187/a154842a-8788-11e5-9dfb-17319fed3f79.png)

[2015-11-10 16:15] cklosowski commented on #3636
@MythThrazz no worries! thanks for getting back to us. I didn't change much, just some general whitespace cleanup and restructured the order of the controls to follow our standards (was a bug on our end not giving you a way to put them in the correct order)

[2015-11-10 16:16] pippinsplugins commented on #2789
@SDavisMedia @mindctrl can you guys test this again?

[2015-11-10 17:01] SDavisMedia commented on #2789
@pippinsplugins I still get 30 results and this notice at the top of the screen:

`WordPress database error: [Table 'edd.wp_2_postmeta' doesn't exist]
SELECT p2.post_status,count( * ) AS num_posts FROM wp_posts p LEFT JOIN wp_2_postmeta m ON m.meta_key = '_edd_log_payment_id' AND m.post_id = p.ID INNER JOIN wp_2_posts p2 ON m.meta_value = p2.ID WHERE p.post_type = 'edd_log' AND p.post_parent = 148

[2015-11-10 17:17] cklosowski commented on #2789
Ok I'll take a look at that error this afternoon

[2015-11-10 17:22] cklosowski commented on #3976
Correct the table is created once admin is visited and then continually checked once a week. This stays true to our old method and I think is the best bet for the table creation.

As far as the number of sites, yeah maybe limit to 100 as that's the safest for that limit.

[2015-11-10 17:25] cklosowski commented on #3981
@Pippinsplugins yeah let's just strip all that aren't ours.

[2015-11-10 17:27] pippinsplugins commented on #3981
:+1:

[2015-11-10 17:28] pippinsplugins commented on #3976
The code looks to imply that the table would be created during network activation. Where's the catch I'm missing?

[2015-11-10 17:34] cklosowski commented on #3976
No it doesn't the table install stayed on admin_init. The network activation is just the installing of the options and defining of the settings so that the pages are created and options saved.

[2015-11-10 18:09] pippinsplugins commented on #3976
OH! Now I see it. Thanks

[2015-11-10 22:59] cklosowski commented on #2789
@pippinsplugins @SDavisMedia give that a shot, found a hard coded reference to the table `wp_2_postmeta` which would for sure throw things off in your environments, and explains why it worked in my environment.

[2015-11-10 23:28] cklosowski commented on #2667
@pippinsplugins Ok, we've hit a headway. At this point we can move forward with discounts being part of the payment class, or not, but our current method of discounts doesn't apply cleanly to a new `EDD_Payment` class.

Do you mind jumping in and seeing how you feel about this, and working with it to see how you might add discount management to it?

[2015-11-11 02:04] cklosowski commented on #4006
I think we may have found a core bug in 4.4:
https://core.trac.wordpress.org/ticket/25493#comment:9

Commented and pinged Scott on this one.

[2015-11-11 04:51] chriscct7 commented on #4006
FES just had this problem. It was simply a space causing it. Might want to double check whitespace.

[2015-11-11 06:01] cklosowski commented on #4006
No def tracked it down to this change. The override of the methods in the Post list table differ from the base list table methods, causing this.

[2015-11-11 17:29] pippinsplugins commented on #2667
@cklosowski Is the issue primarily with adding/removing discounts post creation?

[2015-11-11 17:35] cklosowski opened #4008 "Update PayPal IPN receiver to use mc_gross instead of payment_gross"
The `payment_gross` value in the return from PayPal's IPN has been deprecated and will be blank for non-USD currencies:
https://developer.paypal.com/docs/classic/ipn/integration-guide/IPNandPDTVariables/

The `mc_gross` value is the one we should be using when detecting refunds.

[2015-11-11 18:00] cklosowski commented on #2667
yes, and how we handle `add_discount` if someone uses it in the pattern of:
[code]

Do we even support that route? Do we throw an error, and only allow applying discounts to already created payments, etc.

[2015-11-11 18:00] cklosowski commented on #2667
the distinction here, is that Cart and Payment are getting VERY close to parity, but where do we draw that line?

[2015-11-11 18:27] #4008 closed

[2015-11-11 18:30] cklosowski commented on #3860
@topher1kenobe was this cleared up with the PR #3861?

[2015-11-11 18:41] #3860 closed

[2015-11-11 19:15] cklosowski commented on #3471
ok digging into this...looks like we're getting some odd behavior on the 2nd month...

I did October 15th - November 15th. And got the dates:
October 15th - October 31st, and then November 15th.

In the data you see only this number of object pairs, and in the graph you see all the missing 'points' on the graph:
![screen shot 2015-11-11 at 12 14 49 pm](https://cloud.githubusercontent.com/assets/13

[2015-11-11 21:58] cklosowski commented on #3471
@SDavisMedia @mindctrl @brashrebel could you guys test this out for me a bit? I've merged it into `release/2.5`

[2015-11-11 22:32] cklosowski commented on #3826
@wpweb101 @pippinsplugins this should be ready for some testing.

[2015-11-11 22:44] SDavisMedia commented on #3471
Not at all sure what you're saying here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3471#issuecomment-155882646

As for the original issue with the second month not showing, I was able to replicate on `master` and it is working properly on `release/2.5`.

I could *not* replicate the related issue where the last day of the custom range did not show.

[2015-11-11 22:51] #3710 closed

[2015-11-11 23:00] cklosowski commented on #3471
@SDavisMedia Yeah tough to explain, but the gist:
The loop saw Month 1 and Month 2, then determined it needed loop through all the remaining days in month 1, and the chosen days in month 2. Only problem is, when it got done with the days in Month 1, it was going straight to the last day of month 2, instead of starting off at the first of the month :musical_keyboard:

[2015-11-11 23:49] #3803 closed

[2015-11-11 23:54] pippinsplugins commented on #3803
Woot!

[2015-11-12 00:05] pippinsplugins commented on #2789
There! we go! Now it works @cklosowski  :)

[2015-11-12 00:09] SDavisMedia commented on #2789
Same here. :+1:

[2015-11-12 00:12] #2789 closed

[2015-11-12 18:24] cklosowski commented on #3064
@mindctrl on `release/2.5` I cannot replicate this. When I use a shortcode of:
`[purchase_link id="10436" text="add this" style="button" price_id="1" price="0"]`

It's added to the cart without a problem. This was with Vendd and Twenty Twelve.

[2015-11-12 18:38] cklosowski commented on #3760
PR works great here too. just waiting for the PR to be updated with `release/2.5` so it merges cleanly and we'll go from there.

[2015-11-12 18:44] adampickering commented on #3827
:+1:

[2015-11-12 19:29] pippinsplugins commented on #2667
I don't think we support that route at this time.

[2015-11-12 19:41] #3492 closed

[2015-11-12 19:46] cklosowski commented on #1084
I'm actually going to hold off on this until we merge in #3976, which does a better job of isolating the testing of the install process, that might fix up the unit tests for this too.

[2015-11-12 19:46] cklosowski commented on #3976
#1084 is nearly done, but I'm wondering if the more isolated tests in this issue will help that one pass correctly, once this is approved and merged I'll go back to testing that one out.

[2015-11-12 19:47] cklosowski commented on #3286
This is possibly related to #1084 which we've got some work done on. Once it's merged in, I'll re-test this and see if that fixes it as well.

[2015-11-12 19:48] cklosowski commented on #1084
Possibly related: #3286

[2015-11-12 20:51] brashrebel opened #4013 "Use <select> instead if <input type="text"> for "state" on profile editor when possible"
Currently there is an inconsistency when it comes to customers declaring their state. On the checkout form, after country has been specified, the state field becomes a select populated with available states if they are available, otherwise it becomes a text input. When using [edd_profile_editor] however, the state field is always a text input.

It would be nice to make this a select field when pos

[2015-11-12 20:54] pippinsplugins commented on #4013
@brashrebel See https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3982

[2015-11-12 21:01] cklosowski commented on #2480
some of our meta is not registrable as it contains an ID related to the data it's stored for, but I'll work on getting the ones available registered.

[2015-11-12 21:03] pippinsplugins commented on #2480
:+1:

[2015-11-12 21:05] brashrebel commented on #4013
@pippinsplugins yeah, I read through that. It seemed like a different issue though. This is just an enhancement to make the profile editor make state a select field _if possible_. I've got it working locally, just need to make a PR. Unless I'm missing something and shouldn't bother.

[2015-11-12 21:10] pippinsplugins commented on #4013
Oh, sorry, I missed the `profile editor` part :)

:+1:

[2015-11-12 21:11] brashrebel commented on #4013
Just made a PR.

[2015-11-12 21:24] christ0ph3r opened #4015 "Error while saving Issue"
I recently started noticing error while saving issues on one of my sites.  Today I started debugging and EDD seems to be the issue.   I tested on another host, digital ocean with only EDD and 2015 theme.  I just spun up a brand new droplet with wordpress and issue persists still.   It happens when saving pages, posts, and custom post types.

[code]

[2015-11-12 21:24] christ0ph3r commented on #4015
![error](https://cloud.githubusercontent.com/assets/5915361/11131681/b4643fba-8940-11e5-83cf-ebf312673009.png)

[2015-11-12 21:25] mindctrl commented on #3636
@cklosowski still testing this in `issue/3636`? It's totally broken for me.

-----------

![image](https://cloud.githubusercontent.com/assets/1254870/11131664/c5d3f68c-8959-11e5-8cd5-d2b98b191444.png)

Getting JS errors in the console. `Uncaught TypeError: Cannot read property 'grid' of null in jquery.flot.pie.js?ver=4.3.1:661`

[2015-11-12 21:27] pippinsplugins commented on #4015
@christ0ph3r Can you please elaborate on the issue? What exactly happens when you try to save?

[2015-11-12 21:28] cklosowski commented on #3636
Yeah `issue/3636` should be the one, let me bring it up to speed with `release/2.5`. That could be b/c of 0 sales...do you have something with sales?

[2015-11-12 21:29] christ0ph3r commented on #4015
Sorry, I circled it.  Little hard to see at first.

![error2](https://cloud.githubusercontent.com/assets/5915361/11131794/4cc0050a-8941-11e5-8596-2f7162bbd808.png)

[2015-11-12 21:29] christ0ph3r commented on #4015
Data saves fine but there is an error.  And its slowing down my site it seems every time I update anything.

[2015-11-12 21:30] mindctrl commented on #3064
@cklosowski this looks good now in 2.5.

[2015-11-12 21:34] mindctrl commented on #3636
Test Cat 1 definitely has sales.

![image](https://cloud.githubusercontent.com/assets/1254870/11131968/403231cc-895b-11e5-9be6-6e150b4bdb52.png)

[2015-11-12 21:35] cklosowski commented on #3064
Ok closing it out.

[2015-11-12 21:35] #3064 closed

[2015-11-12 21:54] mindctrl commented on #3636
My issue was no sales for the selected range. Chris is working on some messaging for when no sales are present in the current view.

[2015-11-12 22:28] christ0ph3r commented on #3734
+1

[2015-11-12 23:24] #3636 closed

[2015-11-13 04:30] pippinsplugins commented on #4015
If you deactivate EDD, the issue goes away?

[2015-11-13 04:31] christ0ph3r commented on #4015
yes it only happens when EDD is installed

[2015-11-13 04:56] christ0ph3r commented on #4015
2.4.2 works

2.4.3 works

2.5.4 error

2.4.5 error

2.4.6 error

2.4.7 error

2.4.9 error

[2015-11-13 05:02] christ0ph3r commented on #4015
this commit causes the issue

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/3b3e4fb7b4b41dd6e27c5e8a17235e1cfe66cc32

If I comment out

[code]

and put the old code back

[code]

the error goes away

[2015-11-13 05:06] chriscct7 commented on #4015
What version of WordPress are you running?

On Fri, Nov 13, 2015 at 12:02 AM, Chris <notifications@github.com> wrote:

[2015-11-13 05:07] christ0ph3r commented on #4015
4.3.1 . Its at the beginning of this issue with the other specs as well

[2015-11-13 05:13] christ0ph3r commented on #4015
actually I am still getting the error.  Commenting out didnt work, I thought it did.  Not sure if it was that commit but once I get to 2.4.4 things go wrong

[2015-11-13 13:52] JeroenSormani commented on #3909
I'm a huge fan of using dataproviders for multiple tests of a single functions. Your thoughts on that?

I'd be happy to help refacting this if you need help. Just @ me ;-)

[2015-11-13 14:04] chriscct7 commented on #4015
Can you please log out, completely clear out your cookie and then log back in. That error in WordPress actually isn't from saving, it's from a failure to validate the nonce when WordPress attempts to autosave the post. It's probably slowing down your site because if that fails, heartbeat is also going to fail as well, but this actually isn't an EDD issue at all, since EDD's code doesn't have anyth

[2015-11-13 14:21] JeroenSormani commented on #3871
@shiftwebsolutions this code snippet should work in your case :smile:
https://gist.github.com/JeroenSormani/4096cf0fbe0097384626

[2015-11-13 14:40] JeroenSormani commented on #3694
This doesn't seem relevant anymore, the line isn't showing any unused parameters anymore. @felixarntz  can you confirm?

[2015-11-13 16:56] pippinsplugins commented on #3976
I'm going to run through this again though would also love two other sets of eyes to test as well.

[2015-11-13 18:12] christ0ph3r commented on #4015
This is an EDD issue from what I see.  This only happens when EDD is installed and activated.  I do not get this error when EDD is deactived ever.

<h5>Steps to produce the issue:</h5>

1.  Install wordpress

2.  Plugins > add new > search edd > install

3.  Activate plugin

4.  Add a new page and put some random text as title and content and press publish

5.  Then press update and error will occ

[2015-11-13 18:48] cklosowski commented on #4015
I saw the 'Error updating' on steps 4 and 5, however the next auto saved worked fine, here's the status I got from the admin-ajax.php call:
[code]
The initial save seems to say there was an error, but I cannot find any errors in my logs, and the next autosave, which took a couple minutes, to actually run (there were 2 auth checks without an autosave that ran, and then finally the autosave).

[2015-11-13 18:48] cklosowski commented on #4015
While typing that again, it worked:
[code]

[2015-11-13 18:53] cklosowski commented on #4015
It seems that on pages, there is something that triggers an autosave immediately after the page finishes loading after 2nd update...step 5 in your steps @christ0ph3r. This autosave has a `success: false`, but not even sure why it's running since it's JUST after the page is loaded, usually this should delay a minute or two

[2015-11-13 18:53] cklosowski commented on #4015
Still no PHP errors in the logs when this happens though.

[2015-11-13 19:08] cklosowski commented on #4015
@pippinsplugins @chriscct7 I'll dig into this one further.

[2015-11-13 19:15] cklosowski commented on #4015
Ok interesting note, I went back and installed 2.4.2, and the immediate 'autosave' isn't actually run on this version, but in 2.4.3, as soon as you Click publish -> wait for the page to load, then click Update, the next page refresh immediately kicks off an autosave.

[2015-11-13 19:16] cklosowski commented on #4015
The version issue for me is between 2.4.3 and 2.4.2.

[2015-11-13 19:27] cklosowski commented on #4015
For some reason we're getting the 2nd case here as the `wp_autosave` is returning a value of `0` for our data, which is populated:
[code]

[2015-11-13 19:34] cklosowski commented on #4015
Ok, I think this is a core bug, that for some reason doesn't present itself without EDD, not sure why...but tracking it down, we know that `0` is what the `wp_autosave` function is returning.

Well when the `wp_autosave` runs `wp_create_post_autosave` there is a case that checks if the auto save is different from the draft...and returns `0`:
[code]
This would bubble up to an `empty()` check to bei

[2015-11-13 19:49] cklosowski commented on #4015
Seems like the `} elseif ( empty( $saved ) ) {` check in `heartbeat_autosave` should be checking for `false` not `empty()` as basically what is being seen is the autosave draft it makes for each author on the initial page load returns that it's not different than the last autosave created.

[2015-11-13 22:35] cklosowski commented on #4015
Found the bug:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/0f5e0c4c5aef56ad1ba8c0a4c98231023e652cee

The issue is we shouldn't be including `inline-edit-post` when we're on the edit screen, as it's only used for the Quick Edit of categories and tags. I'll log this for 2.5.

[2015-11-13 23:42] cklosowski commented on #4015
@christ0ph3r could you test this branch/PR out and let me know if that improves it for you?

[2015-11-13 23:58] christ0ph3r commented on #4015
Your PR is working great and the error no longer exists.

I really appreciate you digging into this so quickly.

:+1:

[2015-11-14 00:10] SDavisMedia commented on #4015
That fixes it for me too. :+1:

[2015-11-14 00:15] cklosowski commented on #4015
Awesome. Thanks guys. That one was bugging me so glad I could get it out of the way. 😉

[2015-11-14 04:15] cklosowski commented on #4000
@Pippinsplugins thinking of moving this up a major version due to this announcement.

https://core.trac.wordpress.org/changeset/35633

Thoughts?

[2015-11-14 06:26] chriscct7 commented on #2480
Just want to point out that while using register_meta is a good idea, it does not affect the REST API at all. The REST API does not use the register_meta API, and requires register_api_field pending https://github.com/WP-API/WP-API/issues/1425

[2015-11-14 06:32] chriscct7 commented on #4000
+1

[2015-11-14 07:30] stephywells opened #4017 "Deleting a non-complete payment updates the customer stats"
1. Find an abandoned payment and view the user details.
2. Delete the abandoned payment
3. The customer purchase count and amount is now wrong.

[2015-11-14 16:18] #4015 closed

[2015-11-14 16:28] cklosowski commented on #4017
Confirmed this happens on 'Pending' payments as well.

[2015-11-14 16:57] cklosowski commented on #2480
Thanks Chris. Good point. I still think we should move forward. The sanitization functions alone are a good side affect of this issue.

[2015-11-14 22:29] pippinsplugins commented on #4000
:+1:

[2015-11-15 01:27] pippinsplugins commented on #3826
@cklosowski This isn't working for me. I'm testing with Vendd currently.

[2015-11-15 01:28] pippinsplugins commented on #3826
It works properly when adding the first price option in the list is added; it does not work with any other price options.

[2015-11-15 01:35] pippinsplugins commented on #3633
A few UI thoughts here:

1. It would be awesome if we could avoid the "jump" caused by the addition of the help text when selecting an item.
![screen shot 2015-11-14 at 7 33 00 pm](https://cloud.githubusercontent.com/assets/1034109/11166691/a1bb738e-8b06-11e5-8b6e-0b4ee312eff3.png)
![screen shot 2015-11-14 at 7 33 36 pm](https://cloud.githubusercontent.com/assets/1034109/11166693/a52062aa-8b06-11e

[2015-11-15 01:38] #4017 closed

[2015-11-15 01:40] cklosowski commented on #3633
The jump isn't somethings I could avoid die to our wrappers

And the confirm being below, I discussed it with Sean and it's such an important act we don't want it to be too easy. It's a nuke button.

[2015-11-15 01:41] pippinsplugins commented on #3633
K, good enough for me.

[2015-11-15 01:41] cklosowski commented on #3826
Working fine on Vendd for me. Will retest though. I was able to add any and all price options.

[2015-11-15 01:42] pippinsplugins commented on #3633
Let's put the full reset at the complete bottom instead of having it above reset customer.

[2015-11-15 01:46] pippinsplugins commented on #3633
Customer recount appears to be missing a specific case.

I manually deleted a payment record from wp_posts and then recounted the customer stats. The purchase count did not change.

[2015-11-15 01:47] pippinsplugins commented on #3633
The logic looks right so I'm not seeing where it's missing the deleted record.

[2015-11-15 01:48] pippinsplugins commented on #3633
Going to that single customer's detail screen and recounting sats for just that customer also misses the deleted payment.

[2015-11-15 01:48] pippinsplugins commented on #3826
I also tested on Twenty Fifteen and saw the same behavior.

[2015-11-15 01:51] cklosowski commented on #3633
Deleting from wp_posts wouldn't delete the proper logs and might still count as a payment.

[2015-11-15 01:52] cklosowski commented on #3633
Could still be seeing post meta for the payment?

[2015-11-15 01:54] pippinsplugins commented on #3633
@cklosowski That was my thought but that doesn't make sense to me as the recount purchases is just using the `post__in` parameter for the `EDD_Payment_Query`, so that should be coming from `wp_posts` where `post_type=edd_payment`, not the logs.

[2015-11-15 01:56] pippinsplugins commented on #3985
@cklosowski Could you test this once more as well?

[2015-11-15 01:56] pippinsplugins commented on #3985
Once 2.5 goes out, we need to remember to update `EDD CSV Manager` to remove the product export from there.

[2015-11-15 01:57] cklosowski commented on #3633
Not sure. Will have to test. Does it work correctly of you delete a payment from the payments list table instead of directly in the DB?

[2015-11-15 01:57] pippinsplugins commented on #3633
@cklosowski I couldn't test properly doing that as that method would have triggered our deletion routine and the stats would have been updated. I wanted to test in non-standard ways to ensure we can account for when data has gone missing due to unknown reasons.

[2015-11-15 01:59] cklosowski commented on #3633
I've been testing it my manual changing the value and the payment count of the customer.

[2015-11-15 02:00] cklosowski commented on #3633
Missing data that way proves to be a greater issue with our payment stats class it may seem.

[2015-11-15 03:32] cklosowski commented on #3826
Here's what I'm seeing:
![screen shot 2015-11-14 at 8 31 47 pm](https://cloud.githubusercontent.com/assets/1390124/11167046/d570625e-8b0e-11e5-81fc-fb09161142e8.png)

![screen shot 2015-11-14 at 8 31 58 pm](https://cloud.githubusercontent.com/assets/1390124/11167044/c933d6a6-8b0e-11e5-9879-455b41d6a34d.png)

[2015-11-15 03:34] cklosowski commented on #3826
ok I see what you mean. working on it.

[2015-11-15 03:38] cklosowski commented on #3826
@pippinsplugins give that a shot.

[2015-11-15 03:38] cklosowski commented on #3976
For sure, this is a big update and we all have different environments (slightly) so I'd love some tests on this.

[2015-11-15 03:50] cklosowski commented on #3633
@pippinsplugins Give that a shot, I changed the order in which we set the purchase value to 0, and also check if the payment is NULL before trying to process it.

[2015-11-15 14:21] pippinsplugins commented on #3826
@cklosowski There we go!

[2015-11-15 14:21] #3826 closed

[2015-11-15 14:52] pippinsplugins commented on #3633
Testing now.

I just noticed a separate problem though.

This customer has one completed purchase of $10, yet the recount made the customer's value `0.00`:
![screen shot 2015-11-15 at 8 52 39 am](https://cloud.githubusercontent.com/assets/1034109/11169192/415cd882-8b76-11e5-960b-1afde57c564e.png)

[2015-11-15 14:55] pippinsplugins commented on #3633
Ok rerunning the recount did the following:

1. Sale count is still at `2` even though it should be `1`
2. The recount never finishes. It just keeps restarting
3. The `Lifetime Value` is flipping between `$10` and `$20` as the recount restarts over and over

[2015-11-15 15:01] cklosowski commented on #3633
Did you pull the latest?

[2015-11-15 15:03] pippinsplugins commented on #3633
Yes.

[2015-11-15 15:06] cklosowski commented on #3633
The early decision to just use the payments recorded in the payment ids column is what we're running up against. If you manually delete it from the DB it's not removed from their list. That's what we'd need to resolve with a storage of all payment ids that retun null on get post and then on the last step remove those from the payment ids column and then recount.

No clue what's up wth your value p

[2015-11-15 19:39] glennlouisparker opened #4020 "Purchase Emails are not being sent! HELP!"
This plugin has been setup and running for some time now...

I've installed a testing email plug-in to be sure it was NOT the server. And sent out test emails to a number of email address. ALL came thru!

SO it's not the email on the server... Works perfect. Running on GoDaddy server... With email...

I've checked GLOBAL SPAM filters to be sure I was not tagged as SPAM... NOTHING comes up for my s

[2015-11-15 20:03] pippinsplugins commented on #3633
@cklosowski I don't see why that's a reason for this to fail. The point of this tool is precisely to solve the problem of when records have been edited, deleted, or skewed in an unintended manner.

[2015-11-15 20:05] pippinsplugins commented on #4020
Our support team will be happy to assist you and get the issue resolved but we will have to ask that you open a support ticket: https://easydigitaldownloads.com/support

GitHub (where you are at) is for development tracking only.

[2015-11-15 20:05] #4020 closed

[2015-11-16 06:04] cklosowski commented on #3633
Not saying it's a reason to release it broken, saying that's the route we're going got have to go down, correcting that lost data in the customer's table, which wasn't something we fully discussed in the beginning. The tool as it stands in this PR is far more in depth than our github repo tool ever was, so that's going to make it so much more useful upon release.

[2015-11-16 14:01] pippinsplugins commented on #3633
I don't think I'm following, simply because the issue I'm seeing is one of the exact reasons this tool was being built into core, at least from my memory :)

[2015-11-16 14:20] PatelUtkarsh commented on #3694
Yes line is checked with echo statement.

[code]

[2015-11-16 17:18] cklosowski opened #4021 "Update Extensions page markup"
The Extensions page didn't get the `h1` and `h2` changes applied to it, need to add those as we're getting some weird spacing:
![screen shot 2015-11-16 at 10 16 46 am](https://cloud.githubusercontent.com/assets/1390124/11189093/6046be5e-8c4b-11e5-8cad-357a4e8b3f41.png)

[2015-11-16 23:08] cklosowski commented on #3633
Ok. Let me look through some of the logic. Does it work for someone with multiple payments? Just trying to narrow down the possible cause.

[2015-11-17 00:41] cklosowski commented on #3633
Ok my single payment one isn't doing this. @pippinsplugins let me know when you are around so we can try and debug this together.

[2015-11-17 05:11] #4000 closed

[2015-11-17 05:12] cklosowski commented on #3666
We're too close to the 2.5 beta, and we don't have any upgrades in this one. I'm punting until we can get some more time available for this.

[2015-11-17 05:17] cklosowski commented on #4006
Patch submitted, I'll keep watching this trac ticket. It's been identified now and another ticket was opened that was marked as a duplicate, so I think there's a good chance we'll get this fixed in 4.4

[2015-11-17 05:23] cklosowski commented on #2480
@pippinsplugins @chriscct7 you guys good with these callbacks I'm using on the meta, and with the two methods I've built into the class? The `intval` was an interesting one, without a wrapper it spits an error about the number of arguments not being met.

[2015-11-17 08:42] felixarntz commented on #3694
Sorry for my late response, yep the issue is gone now.

[2015-11-17 17:00] cklosowski commented on #2714
As much as we want this in 2.5, we're just running to close to the `release/2.5` string freeze for translation so I'm going to punt this to 2.6.

[2015-11-17 17:10] pippinsplugins commented on #3985
This has all been merged into `release/2.5` but still needs further testing to confirm everything is finalized.

[2015-11-17 17:15] pippinsplugins commented on #3889
This is now merged into `release/2.5` and is ready for additional testing.

[2015-11-17 17:21] pippinsplugins commented on #3633
To do:
- [ ] Reset Sequential order numbers
- [ ] Remove scroll bar: https://cloudup.com/cMAjFXANmhF

[2015-11-17 17:34] arielk commented on #2714
I'm waiting for this feature for too long :(

[2015-11-17 17:37] pippinsplugins commented on #2714
@arielk It's still very much a priority for us.

[2015-11-17 17:43] pippinsplugins commented on #3633
This has now been merged into `release/2.5` for string lock.

[2015-11-18 01:08] #3694 closed

[2015-11-18 17:08] chriscct7 opened #4026 "Remove No Gateway blocker when order total is free"
When the order total is 0.00, we should remove the "Error: You must enable a payment gateway to use Easy Digital Downloads" and allow checkout since on free orders we use the core free order gateway. It's reasonable to expect a store where all products are free and thus do not want any gateways active.

[2015-11-18 17:18] pippinsplugins commented on #4026
:+1:

[2015-11-18 17:47] cklosowski commented on #3889
As @mindctrl pointed out, it looks a little 'cluttered', is it possible to make the notice wrapper go through the entire row, and not just the text field column? that might help i tout.

[2015-11-18 18:06] mindctrl opened #4027 "Add option to append a discount code to [purchase_link] shortcode"
Customer requested option to append a discount code to links output by the [purchase_link] shortcode. This would make our lives easier in support since we have a good many people asking how to craft a URL manually with the code applied. We could point them to the shortcode option and make their lives and our lives easier.

@cklosowski requested I open an issue for this.

[2015-11-18 18:13] cklosowski commented on #2480
Ok, I've moved all but the bundle sanitization function from `metabox.php`. This one has to stay as it requires knowing the Post Id being updated, which the sanitization function doesn't pass through, so it can remove itself from the array of bundles if it's in there.

Other than that, all these are now ready to sanitize whenever an extension or core tries to modify this data.

[2015-11-18 18:14] cklosowski commented on #2480
@pippinsplugins take a look over those changes and let me know what you think.

[2015-11-18 18:28] cklosowski opened #4028 "Alter 'minimum total message' to mention qualifying items"
Right now with the fix in place for #3473, if someone has items in the cart over the minimum discount requirement, but products are excluded from counting towards that total, the messaging is a bit confusing as it reads something like for a discount that requires $25 or more and excludes Item 2:

Item 1: $20
Item 2: $10

Minimum order of $25.00 not met.

The cart total states $30, but because Item

[2015-11-18 18:28] cklosowski commented on #4028
@SDavisMedia @mindctrl @brashrebel would love your feedback on the messaging.

[2015-11-18 18:28] #3473 closed

[2015-11-18 19:59] cklosowski commented on #3471
@mindctrl does this work for you now?

[2015-11-18 20:15] mindctrl commented on #3471
@cklosowski looks good now. Thanks.

[2015-11-18 20:16] #3471 closed

[2015-11-18 20:18] cklosowski opened #4030 "Payments list table date filters off by 1 day"
When testing out #3471 @mindctrl found that the payments list table is incorrect when filtering it by date.

I have 1 payment in this install made on the 17th of November:
![screen shot 2015-11-18 at 1 16 21 pm](https://cloud.githubusercontent.com/assets/1390124/11253092/c44ce5c0-8df6-11e5-9a6f-59ce863d5f6a.png)

But when I ask for payments from Nov 1 - Nov 17th, it doesn't show up:
![screen shot

[2015-11-18 20:19] mindctrl commented on #3633
"Please" is misspelled in the dropdown

![image](https://cloud.githubusercontent.com/assets/1254870/11253138/bc69c68c-8e07-11e5-80cf-93f49a37828f.png)

[2015-11-18 20:21] mindctrl commented on #3633
Question about these options:
- "Recount Store Earnings and Sales"
- "Recount Earnings and Sales for All downloads"

Do these options not do the same thing?

[2015-11-18 20:36] cklosowski commented on #3760
@mindctrl You are really good at breaking changes in this area :P could you play with this too?

[2015-11-18 20:39] cklosowski commented on #3341
I think we have a couple options here and it comes down to our download process as well as the UI:
- [] Store the selected thumbnail size (text identifier) of the selected thumbnail in addition to the attachment ID
- [] Update the URL to be the properly sized image URL
- [] When requested, check for a size as well as the attachment ID to deliver the download.

I don't like the idea of just storing

[2015-11-18 20:41] cklosowski commented on #3341
Punting this to 2.5.3 as we get close to locking down 2.5, I like it but not until I can figure out this media uploader thing.

[2015-11-18 20:44] cklosowski commented on #3820
going to bring this up to speed with master and release/2.5, it's been looking good to me.

[2015-11-18 20:47] cklosowski commented on #3820
Once CI Passes i'll merge into `release/2.5`

[2015-11-18 22:07] brashrebel commented on #4028
`This discount requires a minimum order of $x. Your total for applicable items is currently $y.`
`You need an additional $x of applicable items to use this discount code.`
`This discount requires a minimum order of $x. Please add $y of qualified items to use this code.`
`This discount requires a minimum order of $x. Some of the items in your cart are not counted towards this total.`
`In order to u

[2015-11-18 22:56] pippinsplugins commented on #4027
Seems like a nice feature.

[2015-11-18 23:44] cklosowski commented on #4028
Awesome, thanks @brashrebel I really like the 1st and 4th one.

[2015-11-19 00:29] cklosowski commented on #3633
@pippinsplugins @mindctrl Also, this issue has some additions to the WP CLI class that allows you to send in an email fname and lname into the payment creation command, so you can create payments with different details.

[2015-11-19 05:08] SDavisMedia commented on #3889
I should note before going at this again that it is cluttered because the content is cluttered by default... always has been with the table layout. Something like this would be much better as a grid display with separate blocks for each extension.

Right now, the different extensions aren't enclosed by any visual borders. So when you add edges to one element, it will automatically appear to encroa

[2015-11-19 05:27] pippinsplugins commented on #3889
An option we could consider is building a new table display similar to taxes.

Any thoughts or opinions on that?

[2015-11-19 05:28] pippinsplugins commented on #3889
Grid display would also work.

We should be able to make it entirely custom.

[2015-11-19 05:32] SDavisMedia commented on #3889
I'm good with either. Since we can go custom there, I would honestly like to. Thoughts @cklosowski @mindctrl?

[2015-11-19 14:29] cklosowski commented on #3889
I'd love to see what you come up with for a custom view.

[2015-11-19 14:36] mindctrl commented on #3889
Hmm yeah custom sounds nice.

[2015-11-19 15:31] pippinsplugins opened #4031 "Review accessibility"
There are a lot of elements throughout EDD that are not properly setup for accessibility.

We need to do a thorough review of the entire codebase and resolve as much as we can.

The [WP Accessibility plugin](https://make.wordpress.org/accessibility/wp-accessibility-plugin/) will help a lot with this.

One of the primary issues we have is the use of mostly-useless title attributes. See [this core t

[2015-11-19 16:41] chriscct7 commented on #4031
We should also utilize https://make.wordpress.org/accessibility/2015/04/15/let-wordpress-speak-new-in-wordpress-4-2/

[2015-11-19 16:44] pippinsplugins commented on #4031
:+1:

[2015-11-19 18:55] cklosowski commented on #3985
Looks good to me, the one thing I see missing is the bundle data coming in. Is that something we're not supporting, since it would need to be configured after the other products are imported, and their IDs might be different?

[2015-11-19 19:34] pippinsplugins commented on #3985
Maybe the export could contain the product names that are bundled?

[2015-11-19 19:40] cklosowski commented on #3985
maybe, or that's just a caviet of the import. Id be nice to work, but I think is something that could be reworked.

[2015-11-19 19:41] pippinsplugins commented on #3889
Anyone want to take lead on mocking it up?

[2015-11-19 19:45] SDavisMedia commented on #3889
Well duhhhhh I'll do it. All the code should be there for me already. Just need to write some new HTML. Probably repeat as much markup as possible from the extensions page. I'll make it a priority since it's for 2.5.

[2015-11-19 19:57] pippinsplugins commented on #3889
@SDavisMedia You may want to write just the plain HTML and then we can merge it in. It'll be a bit more complex than just changing the HTML since we have to work with the EDD_License_Handler class.

[2015-11-19 19:57] pippinsplugins commented on #3889
We'll have to rework a bit of how the settings themselves are added to the page.

[2015-11-19 19:58] pippinsplugins commented on #3985
I'm fine adding it later as well.

[2015-11-19 20:09] SDavisMedia commented on #3889
Got it. I'll build a frame.

[2015-11-20 14:32] mindctrl commented on #3976
The first time I visit a site after network activating, I get a notice about the customer table missing.

![image](https://cloud.githubusercontent.com/assets/1254870/11302116/6f7971d4-8f69-11e5-80ea-717fafaeffe9.png)

But then I reload the page and it goes away. Table gets created. Purchases work fine. Customers are added. Is the initial error expected, or did something get tanked on my site?

[2015-11-20 14:34] pippinsplugins commented on #3976
@mindctrl That's because the table is created via a function tied to admin_init. It's created after the first page load. It was the only way to ensure the table gets created across all sites in a network reliably.

[2015-11-20 14:40] mindctrl commented on #3976
Ok, great.

This looks good. Only thing I'm seeing now is the dashboard stats are hanging, but I think that's already fixed in the release branch. Just dropping a note here to check it after merge.

[2015-11-20 17:03] cklosowski commented on #3976
@mindctrl Yeah I havne't pulled the `release/2.5` branch in to this in a while. Did you get that memory limit thing figured out? Or should I reduce the number of sites I auto install for on the network activation?

[2015-11-20 17:07] cklosowski commented on #3976
I'll look into the notice thing, i don't think it should show a notice...but let me review it.

[2015-11-20 17:15] cklosowski commented on #3976
Oh that's a DB error...ok we're expecting that, sorry.

[2015-11-20 17:16] mindctrl commented on #3976
@cklosowski my memory issue is ok now. Successfully network activated. I think 100 should be doable on most sites. Anyone running 100 sites probably already has more than the minimums configured for memory limits.

[2015-11-20 20:01] cklosowski opened #4032 "Dashboard Widget formatting inconsistent"
In the Dashboard widget, some of our sales counts contain the `,` separator while some don't. We should make this consistent:
![screen shot 2015-11-20 at 1 00 32 pm](https://cloud.githubusercontent.com/assets/1390124/11310433/cbee5822-8f86-11e5-9269-1fc0a9ed11bf.png)

[2015-11-20 20:26] cklosowski commented on #3633
Tested this with a download with more than 1000 sales, a customer with over 1000 sales, and just general thousands. The EDD Site staging will be a great test.

[2015-11-21 00:06] cklosowski commented on #3976
Sounds good. @pippinsplugins I'm good to merge this if you are ready

[2015-11-21 16:47] zackkatz commented on #3202
:+1:

[2015-11-22 14:49] pippinsplugins commented on #3976
Merged.

[2015-11-22 14:49] #3976 closed

[2015-11-23 19:30] fpcorso opened #4035 "Issue with year_end in reporting breaking some earnings reports"
Hey everyone,

I was reviewing my earnings reports today and realized some are now broken when viewed in certain orders. It seems to be stemming from the year_end but I am not sure on that.

The steps I took to discover the error:

* Went to Reports page and Reports tab.
* Select "Earnings" and click Show
* Select "This Quarter" and click Filter
* Notice year_end becomes 2016 correctly in url
* No

[2015-11-24 00:19] cklosowski commented on #1084
I cannot get this to work great yet, still having some major issues with the unit testing suite, i'm punting to 2.6

[2015-11-24 02:55] cklosowski commented on #3889
I'm seeing a small issue with the check of `$license->license` for `invalid` vs `expired`. If a license is expired, the `license` attribute returns `invalid` not expired. The `error` attribute of the object states `expired`, so we should move the `expired` check to the `invalid/site_inactive` part of the switch, and just throw an `if` clause in there for checking if the error is `expired`, otherwi

[2015-11-24 03:09] cklosowski commented on #3889
Ok narrowed it down...if the license key you add to the License page is ALREADY expired, you get the `invalid` status, so you don't see the note to renew, just that you need to activate it for this site, which is incorrect.

If a license key is expired when it's added, the expired message should show. I'll try and fix that up quick.

[2015-11-24 03:11] cklosowski commented on #3889
Basically the `actiavte_license` returns a `license` attribute of `invalid` not `expired` when you try and activate it.

[2015-11-24 03:12] cklosowski commented on #3889
[code]

[2015-11-24 15:19] pippinsplugins commented on #3889
@cklosowski Changes fix it for me.

I see a different issue now those.

I entered a fake license key and got an improper error message:
![screen shot 2015-11-24 at 9 18 49 am](https://cloud.githubusercontent.com/assets/1034109/11371117/74eca9a8-928c-11e5-909b-cb64aff41aa3.png)

[2015-11-24 15:40] cklosowski commented on #3889
Ok my changes wouldn't have made this happen, it's also what the SL API returns when you try and activate a license when it's not valid:
[code]
I think we just need a message for the error of `missing` to state that it's not a valid license.

[2015-11-24 15:41] cklosowski commented on #3889
Notice that in the above, the `license` is set to `invalid` which in switch for this page, just loads up the `go activate it` message.

[2015-11-24 16:22] cklosowski commented on #3889
Ok, it's now capturing the `missing` status on activation.

[2015-11-24 18:25] pippinsplugins commented on #4035
Thanks for the report, we'll look into it!

[2015-11-24 18:30] cklosowski commented on #4035
I belive this has to do with the URLs being used as the parser, and when certain items are selected from the time reports for the time period, we're not clearing some of the $_GET parameters, but will have to investigate. I've seen this before, but never got a chance to debug it further.

[2015-11-25 00:51] cklosowski commented on #1960
PR #3829 has been merged into `feature/sub-sections` for testing.

[2015-11-25 22:20] chriscct7 opened #4040 "Sub sections are a bit understyled"
It'd be nice if the subsections titles were more styled in feature\sub-sections. Right now, it's very easy to overlook those

[2015-11-25 22:21] chriscct7 commented on #4040
![image](https://cloud.githubusercontent.com/assets/1324637/11410873/078b3f24-9399-11e5-8a36-b4bdb9669f53.png)

[2015-11-25 22:24] cklosowski commented on #4040
Well we haven't released this yet so log a note on the issue that feature is for.

[2015-11-25 22:26] cklosowski commented on #4040
Please leave feedback on #1960, the issue for the feature branch.

[2015-11-25 22:26] #4040 closed

[2015-11-25 22:30] chriscct7 commented on #4040
It'd be ic

[2015-11-25 22:31] chriscct7 commented on #1960
![image](https://cloud.githubusercontent.com/assets/1324637/11410873/078b3f24-9399-11e5-8a36-b4bdb9669f53.png)

It'd be nice if those subsections were styled a bit more

[2015-11-25 22:38] cklosowski commented on #1960
I actually disagree, it would break normal from what us and other plugins are already doing for these:
Fraud Monitor:
![screen shot 2015-11-25 at 3 37 16 pm](https://cloud.githubusercontent.com/assets/1390124/11411136/80852bba-938a-11e5-90ad-af47574e09a2.png)

WooCommerce:
![screen shot 2015-11-25 at 3 37 11 pm](https://cloud.githubusercontent.com/assets/1390124/11411138/834bf496-938a-11e5-9a3a-2f

[2015-11-25 22:50] benjaminprojas commented on #1960
I agree with @cklosowski. These subsections use the classes from WordPress core so it maintains consistency there.

[2015-11-26 16:28] pippinsplugins commented on #1960
Just for the sake of comparison, @chriscct7 do you have an example of the styles you'd like to see?

[2015-11-26 16:46] chriscct7 commented on #1960
I mean its not perfectly what I was thinking of but like right now it looks like those are just "jump" links to something further down the already loaded page (like anchor links), and they're really small. Maybe put them in some sort of box with a white background and make the header for the page larger below it? I'm not really sure tbh but I think we could come up with something that makes the sc

[2015-11-26 16:48] chriscct7 commented on #1960
To follow up on side tabs like customer page, it makes adding alot more of those items (via extensions) easier since you don't have to worry about horizontal overflow. If our tools, settings, customers, and reports all used something like https://cloud.githubusercontent.com/assets/870979/9839566/692da07e-5a3b-11e5-9746-4b6afa319c94.png it'd make the whole experience a lot more connected. That's cl

[2015-11-27 05:03] pippinsplugins commented on #1960
While moving settings to one similar to the customers' UI has some definite merit, that is a much bigger change so I'd like to keep that as a separate discussion.

I will say that when I see these links at the top, I don't think of them as jump links. They've always felt like sections to me, though I can definitely see how they could get skipped over.

[2015-11-27 19:07] pippinsplugins commented on #3985
Closing as done.

[2015-11-27 19:07] #3985 closed

[2015-11-27 19:09] pippinsplugins commented on #3935
@om4james Your interpretation is correct, though the goal was to show updates even without a license key, so looks like we still need to make a change in SL.

[2015-11-27 19:16] pippinsplugins commented on #1960
@cklosowski This is looking beautiful.

1. [ ] `Remove Data Uninstall` should be somewhere else. Not directly related to this issue, but the separation of settings has highlighted it. How about we move it to the `Misc` tab: https://cloudup.com/cJJIwJW79u4
2. [ ] Email settings are missing: https://cloudup.com/cKeZpYtybcO

Note: I'd like to have a major push to get all primary extensions owned by t

[2015-11-27 20:03] pippinsplugins commented on #2667
@cklosowski If you add a new download to a payment from `View Order Details`, this happens:
![screen shot 2015-11-27 at 2 02 51 pm](https://cloud.githubusercontent.com/assets/1034109/11447655/994abf58-950f-11e5-9457-b4e4324026e7.png)

[2015-11-27 20:07] cklosowski commented on #2667
Interesting it didn't a few commits ago I'll verify again.

[2015-11-27 20:08] cklosowski commented on #2667
Looks like debug info I left in.

[2015-11-27 20:11] pippinsplugins commented on #2667
Todo:

- [ ] Remove logging output when adding download to payment
- [ ] Update @since on main class file
- [ ] Add PHPDoc to methods that don't have it
- [ ] Remove `add_discount()` for now
- [ ]

Other thoughts:

1. Should we have a `update_currency()` method? Any reason not to just use `$payment->currency = 'USD'`?
2. Instead of having `setup_currency()` (and similar methods) take a `$payment_m

[2015-11-27 20:14] cklosowski commented on #2667
The setup methods are there to keep the old filters from running

[2015-11-27 20:14] cklosowski commented on #2667
Not "from running" but to keep them running.

[2015-11-27 20:16] pippinsplugins commented on #2480
Left a few comments on the PR for you.

[2015-11-27 20:17] pippinsplugins commented on #2667
@cklosowski Could you elaborate? I'm not seeing where `setup_currency()`, for example, triggers a filter.

[2015-11-27 20:21] pippinsplugins commented on #3633
@cklosowski Something is still wrong with customer recount. I just did a site wide customer recount and results are not as expected for one particular customer.

Many, many payments for this customer:

Details screen said there were just 2 sales for the customer.

I recounted, now it shows only 1: https://cloudup.com/c5uYCqzO295

It should be 19.

[2015-11-27 20:23] pippinsplugins commented on #3633
It's due to the recount logic:
[code]

That only looks for payments already attached to the customer. This really needs to also find all payments *NOT* attached to the customer properly.

Instead of querying just payment IDs attached to the customer, how about, instead, we do a meta query to find payments that match the customer email.

[2015-11-27 20:27] cklosowski commented on #2667
Is it that function alone? The setups were there to maintain filters. Might have made that one thinking there was a filter in the old helper function.

[2015-11-27 20:30] cklosowski commented on #3633
See above. We discussed this. So we want it changed now?

[2015-11-27 20:32] pippinsplugins commented on #2667
@cklosowski We got confused. I was talking about `update_currency()` not `setup_currency()`. It's the `update_currency()` method that seems unnecessary.

[2015-11-27 20:34] cklosowski commented on #2667
Cool. Will fix that up.

[2015-11-27 21:55] pippinsplugins commented on #3633
Yes.

[2015-11-27 22:11] cklosowski commented on #3633
:+1:

[2015-11-29 21:00] chriscct7 commented on #2667
Another really nice thing to have that would be easy to add is a "status_nicename" that converts the status to the actual display status, ex "publish" -> Complete, etc

[2015-11-29 21:07] chriscct7 opened #4041 "edd_get_payment_status should be able to take a payment ID"
Right now edd_get_payment_status only works if you have the post object of a payment, which is annoying since it's a really nice function to convert the payment status to the display status name with. We should allow edd_get_payment_status to take either a payment ID or a post object

[2015-11-29 21:14] chriscct7 commented on #2667
It'd also be nice if there was a object key for Customer name that was set something like:
$customer_name  = isset( $order->user_info->first_name && isset( $order->user_info->last_name ) ) ? $order->user_info->first_name . ' ' . $order->user_info->last_name : 'Guest';

If we moved the payments table and the edit payments page to use the EDD_Payment objects, which would clean up a ton of code on th

[2015-11-30 03:39] chriscct7 opened #4042 "Add array_convert to Customer and other EDD classes"
array_convert in the upcoming payments class makes it really easy to then just send the result into json encode. We should let all of our classes do this, and consider the introduction of an edd_array_convert function which could be used for class that use one of our class query functions that return multiple custom objects. For example, EDD()->customers->get_customers

[2015-11-30 15:53] mindctrl commented on #3996
I've seen two more questions about this since this issue was opened. Two things I've seen people confused about:
- The text doesn't update
- The direct parameter doesn't get added

[2015-11-30 16:19] pippinsplugins commented on #4042
:+1:

[2015-11-30 16:19] osthafen opened #4043 "Amazon Payments - Address not showing if Ajax is disabled"
Using the amazon payment and having edd_is_ajax_disabled set to true (so edd-ajax.js isn't loaded ) the site with the included script throws an error "**Uncaught TypeError: Cannot read property 'taxes_enabled' of undefined**" at position `if( '1' == edd_scripts.taxes_enabled ) {` [/includes/gateways/amazon-payments.php#L625](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/4680a

[2015-11-30 16:32] cklosowski commented on #4042
I like the idea of an `edd_array_convert()` where you pass it an object. Good idea.

[2015-11-30 16:44] pippinsplugins commented on #4042
:+1:

[2015-11-30 17:11] pippinsplugins commented on #4041
Agreed. I've run into this numerous times.

[2015-11-30 17:15] pippinsplugins commented on #4043
Thanks for the report! We'll try and get that resolved son.

[2015-11-30 18:49] ghost1227 commented on #4026
@pippinsplugins Do we really need to do anything here but remove the `edd_no_gateway_error` function?

[2015-11-30 18:59] ghost1227 commented on #3788
@pippinsplugins Problem with using the `data-total` attribute is that at present it doesn't seem to take discounts into account. In other words, if I have a $1.00 item in the cart, and add a 100% discount, the `data-total` attribute still shows as `1`.

[2015-11-30 20:01] pippinsplugins commented on #4026
@ghost1227 We still need it to show the error on orders > 0

[2015-11-30 20:03] ghost1227 commented on #4026
Oh! silly me...

[2015-11-30 20:06] pippinsplugins commented on #3788
That should be fixed then :)

[2015-11-30 22:04] chriscct7 commented on #4042
I'd be nice if edd_array_convert supported an array of objects, like when you get back an array of customer objects from a get customers call

[2015-11-30 23:04] pippinsplugins commented on #3286
Punting this to 2.5.5

[2015-11-30 23:05] pippinsplugins commented on #3820
This is all in `release/2.5`

[2015-11-30 23:06] pippinsplugins commented on #3820
Just did some more testing. Looks like we can safely close this.

[2015-11-30 23:08] pippinsplugins commented on #3889
@easydigitaldownloads/core-devs How do we feel about leaving this as is for 2.5 and then improving further later on? This is still a massive improvement.

[2015-11-30 23:08] pippinsplugins commented on #3760
@mindctrl @SDavisMedia we need both of you to test this before we release beta.

[2015-11-30 23:57] mindctrl commented on #3760
Looks good here. Tried lots of reordering, adding, removing, testing with Software Licensing, changing file source for updates in Software Licensing, etc. It all worked fine.

[2015-12-01 00:18] pippinsplugins commented on #2667
@cklosowski changes looking really good. A few comments:

1. I think we should consider removing `user_info` completely. It's a duplicate of the individual fields for the user now. Is it left just for the `edd_payment_meta_user_info` filter?

2. `$payment->gateway` is setup twice in `edd_insert_payment()`

3. All of the filters in the `setup_*()` methods need to pass `$this` to the filter so that

[2015-12-01 03:42] cklosowski commented on #2667
Sounds good, some feedback:
1) I think we should keep the user_info just set it to private. This way we don't have to rebuild that thing when we need to update it along with the actual DB entry. By setting it as private, it shouldn't be useful outside of internal usage.

2) Noted

3) Agreed.

[2015-12-01 04:38] pippinsplugins commented on #2667
1). Excellent idea.

On Mon, Nov 30, 2015 at 9:42 PM, Chris Klosowski <notifications@github.com>
wrote:

[2015-12-01 05:22] SDavisMedia commented on #3889
@pippinsplugins In regard to the HTML structure changes or other things? If the former, please yes.

[2015-12-01 14:51] pippinsplugins commented on #3889
The former.

[2015-12-01 16:16] cklosowski commented on #2667
@mindctrl This is ready for another go...

[2015-12-01 16:19] cklosowski commented on #3889
I'm good with this as is, we can update the markup in future versions, the key was getting the backend stuff in place.

[2015-12-01 16:38] mindctrl commented on #2667
Just tested latest pull from here. I get a debug notice when making a purchase of a standard non-variable product:
`PHP Notice:  Undefined index: price_id in /wp-content/plugins/easy-digital-downloads/includes/payments/functions.php on line 128`

When using Manual Purchases (latest release, not the dev version updated for this), I get this also on a standard non-variable product:
`PHP Notice:  Und

[2015-12-01 17:01] mindctrl commented on #2667
@pippinsplugins @cklosowski thoughts on making the `EDD_Payment` class `final` for a few releases until we've battle tested it, in case we need to change anything we're not anticipating right now?

[2015-12-01 17:04] cklosowski commented on #2667
@mindctrl @pippinsplugins I'm totally good with making it a `final` for a few releases until we've got this going.

[2015-12-01 17:38] pippinsplugins commented on #2667
Making it `final` sounds like a good plan to me as long as we remove it after 1-2 major versions.

[2015-12-01 17:39] cklosowski commented on #2667
I'll log the issue now for 2.6, and we can assess as we get there.

[2015-12-01 17:40] cklosowski opened #4046 "Remove 'final' from EDD_Payment"
As discussed late in #2667, we will need to remove the `final` declaration once the `EDD_Payment` class is more solid.

[2015-12-01 17:42] pippinsplugins commented on #2667
The date from Manual Purchases is not coming in correctly. It's always set to `January 1, 1970`.

[2015-12-01 17:49] pippinsplugins commented on #2667
Date works now.

[2015-12-01 17:50] pippinsplugins commented on #2667
There's something odd going on. I'm testing the creation of a simple payment like this:
[code]
That should create a payment but it's not. It's bailing early somewhere.

[2015-12-01 17:51] pippinsplugins commented on #2667
Nevermind, I forgot that I had to set a customer name or email.

[2015-12-01 17:52] pippinsplugins commented on #2667
Works as expected:
[code]
Looks like IP and payment key are missing. We should set those if not set.
![screen shot 2015-12-01 at 11 51 34 am](https://cloud.githubusercontent.com/assets/1034109/11509143/fcb1a63c-9821-11e5-8a16-16472bd1941b.png)

[2015-12-01 18:19] pippinsplugins commented on #2667
Another item I just found.

If creating payments programmatically, customer records do not get attached. We currently have logic in `edd_insert_payment()` to attach a customer to a payment. This logic should be moved to `EDD_Payment()->insert_payment()`.

[2015-12-01 18:22] pippinsplugins commented on #2667
Another item.

Changing a payment from pending to complete programmatically did not generate the sale logs for the items.

Payment `218` was pending then I ran:
[code]
Payment was marked as complete:
![screen shot 2015-12-01 at 12 21 42 pm](https://cloud.githubusercontent.com/assets/1034109/11509839/1bbf995e-9826-11e5-9032-5be0af4e9082.png)
No sale log was created:
![screen shot 2015-12-01 at 12 2

[2015-12-01 18:26] pippinsplugins commented on #2667
Setting the payment to complete when first creating it did increase the sale count but no sale log entry was created:
[code]

[2015-12-01 20:24] cklosowski commented on #2667
@pippinsplugins ok i'll pull this down and work on the status update stuff

[2015-12-01 21:03] cklosowski commented on #2667
@pippinsplugins ok, so the issue we're hitting is that the log generation is in the part where the downloads are added to a payment...not on payment status change, let's have a quick chat about where we want this to exist.

[2015-12-01 21:06] cklosowski commented on #3760
Closing this out.

[2015-12-01 21:18] cklosowski commented on #1960
1) Fixed
2) No, there aren't any settings missing. I just compared against master. If it's the `from` and `name` fields, they are under the `Purchase Receipt` settings section, as they state they are for `purchase receipts`
3) Looking into it.

[2015-12-01 21:31] benjaminprojas commented on #1960
This is looking awesome @cklosowski, can't wait to see it in the wild!

[2015-12-01 22:33] cklosowski commented on #1960
@pippinsplugins take a look see if that fixes your notices. I added a new `wildcard` filter for the `tab & section` combination.

[2015-12-02 00:18] pippinsplugins commented on #1960
@cklosowski: `Fatal error: Can't use function return value in write context in /Users/pippinwilliamson/Sites/trunk/wp-content/plugins/easy-digital-downloads/includes/admin/settings/display-settings.php on line 33`

[2015-12-02 00:23] cklosowski commented on #1960
Ok. Will fix that in a bit.

[2015-12-02 04:58] cklosowski commented on #1960
@pippinsplugins that should fix the fatal error.

[2015-12-02 16:21] mindctrl opened #4048 "Reports using "This Week" range do not work when the week spans a month"
For example, the earnings report for `This Week` flatlines.

![image](https://cloud.githubusercontent.com/assets/1254870/11536390/419c80b8-98e6-11e5-91a6-252229f92ec1.png)

Get the following PHP notices:
[code]

It also happens on the License Renewals report in SL. [Reported here](https://secure.helpscout.net/conversation/144790918/22576/?folderId=386431) and confirmed locally and on the EDD site.

[2015-12-02 18:40] mindctrl commented on #4048
![image](https://cloud.githubusercontent.com/assets/1254870/11540346/3ed3f046-98fa-11e5-863f-610834d8ed62.png)

![image](https://cloud.githubusercontent.com/assets/1254870/11540353/49e7848e-98fa-11e5-973e-5d691f68e8b6.png)

[2015-12-02 18:45] mindctrl commented on #4048
Still see 0 on the license renewals report for `This Week`. Doesn't that pull from EDD core?

This Week view:
![image](https://cloud.githubusercontent.com/assets/1254870/11540465/e39272e2-98fa-11e5-962f-de2d8caad192.png)

Today view:
![image](https://cloud.githubusercontent.com/assets/1254870/11540468/ef0de322-98fa-11e5-86be-966a28c167fa.png)

[2015-12-02 19:04] cklosowski commented on #4048
@mindctrl I believe that'll have to be fixed in the SL plugin. While the dates pull correctly in the EDD Core functions, the graphing data is going to need to be updated in SL.

[2015-12-02 21:43] cklosowski opened #4050 "Further UX improvements to the Licenses tab"
In #3889 we've improved the the License list, and some discussion was made about further improvements to make it less cluttered. Logging this one so @SDavisMedia can work his magic on it.

[2015-12-02 21:44] cklosowski commented on #3889
Closing this out as we're happy with it as is. Opened up #4050 to do further improvements.

[2015-12-02 21:46] pippinsplugins commented on #4048
If patch works for @mindctrl, I'm happy.

[2015-12-02 21:48] pippinsplugins commented on #3889
:+1:

[2015-12-02 21:50] SDavisMedia commented on #1960
I love the grouping but one thing I noticed is that moving between the settings is very slow. Whether I click a main tab or a sub-section, it takes the better part of 10 seconds to load. I jumped back and forth between `master` and `feature/sub-sections` and it's like a toggle switch for speed.

[2015-12-02 21:52] cklosowski commented on #1960
@SDavisMedia do you see the same delay in `release/2.5`?

[2015-12-02 21:53] SDavisMedia commented on #1960
@cklosowski `release/2.5` is moving at the same speed as `master` for me.

[2015-12-02 21:54] pippinsplugins commented on #1960
@SDavisMedia I saw the slow performance earlier too: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3829#issuecomment-153233936

[2015-12-02 22:01] benjaminprojas commented on #1960
When @pippinsplugins had the issue before, I could never duplicate it.  If that helps at all... maybe it happens with additional plugins installed that I wasn't using? @cklosowski @SDavisMedia

[2015-12-02 22:02] cklosowski commented on #1960
I do'nt have many enabled, and I see a delay...but i'm digging

[2015-12-02 22:26] pippinsplugins opened #4051 "Don't allow invalid price IDs to be added to the cart"
Non-real price IDs can be added to the cart for downloads. When this is done, it defaults to the price returned by `edd_price()`.

While this doesn't cause any major issues, it is unexpected.

I propose that we block the item from being added if an invalid price ID is supplied with the request.

[2015-12-02 23:14] mindctrl commented on #4048
@cklosowski this looks good to me.

[2015-12-02 23:41] mindctrl commented on #3633
Tested a different site and see something similar to https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3633#issuecomment-157863855.

Created a bunch of payments on a new site with wp-cli. Then I marked some payments as refunded and some as pending. I get this:
![image](https://cloud.githubusercontent.com/assets/1254870/11547671/c00d1ace-9923-11e5-9de5-17cccd0db570.png)

I ran R

[2015-12-02 23:46] cklosowski commented on #3633
Ok thanks @mindctrl probably just a status change in my get_paymetns request.

[2015-12-03 02:05] pippinsplugins commented on #2667
How about just increasing it the same way we did before via the same actions. As long as the same actions are called, it should just work.

[2015-12-03 02:05] #4048 closed

[2015-12-03 02:14] pippinsplugins commented on #3760
The `ID` column doesn't show the proper IDs after a save. It always reverts to 0, 1, 2, 3, etc.

[2015-12-03 02:15] pippinsplugins commented on #3760
Nevermind, false alarm.

[2015-12-03 02:15] #3760 closed

[2015-12-03 02:17] pippinsplugins commented on #2480
This is breaking the ordering of files introduced in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3760

[2015-12-03 02:18] pippinsplugins commented on #2480
When saving, the order is kept but the ID shown is incorrect.

[2015-12-03 02:20] pippinsplugins commented on #2480
Fixed.

[2015-12-03 02:25] pippinsplugins commented on #2480
Two left overs that I'm not sure were missed or intentionally left.

1. `edd_metabox_save_check_blank_rows()` is not used and is now duplicated in `EDD_Register_Meta`
2. `edd_sanitize_bundled_products_save()` is still in metabox.php. Is this due to needing a post ID? We should still use the global so I don't see any reason it should be left behind.

[2015-12-03 02:33] pippinsplugins commented on #1960
It's running fine for me right now. Definitely haven't a hard time reliably replicating the slowness.

[2015-12-03 03:07] cklosowski commented on #2480
1. Was intentially left in, in case someone else is using it in their meta box repeatable rows.

[2015-12-03 03:08] cklosowski commented on #2480
2. You cannot guarantee that the call to `update_post_meta` will be called while a post is in `global`, since this is called any time update_post_meta is called for this meta key, so relying on a global `$post` won't work.

[2015-12-03 03:10] pippinsplugins commented on #2480
1. Good idea.

2. Good point. Let's leave it.

[2015-12-03 03:34] pippinsplugins commented on #2480
Merged into `release/2.5`

[2015-12-03 03:34] #2480 closed

[2015-12-03 03:36] pippinsplugins commented on #3935
@cklosowski We need to look at Software Licensing and track this down though I feel we can wait until after beta 1.

[2015-12-03 03:36] cklosowski commented on #3633
@mindctrl ready for another go please?

[2015-12-03 03:50] pippinsplugins commented on #3633
@cklosowski `Recount customer stats` gave all customers the same values:
![screen shot 2015-12-02 at 10 50 04 pm](https://cloud.githubusercontent.com/assets/1034109/11551423/13415cfa-9947-11e5-848e-b4746def6f4e.png)

[2015-12-03 04:36] pippinsplugins commented on #3633
@mindctrl Do you get the same behavior I do?

[2015-12-03 05:32] pippinsplugins commented on #3633
Ok now it should work. @mindctrl could you test?

[2015-12-03 05:37] pippinsplugins commented on #2667
@cklosowski Looks like sale counts increase properly now!

[2015-12-03 05:56] cklosowski commented on #2667
Just moved the customer attachment to the `EDD_Payment` class, that way wether you use the class directly or still use `edd_insert_payment`, the customer creation is done and attached.

[2015-12-03 14:29] mindctrl commented on #3633
I'm still seeing a weird difference in `Total Earnings` on the dashboard when running those two tools. Here's how to reproduce it.

- Use wp-cli to create some payments. I'm doing 500. Here are my initial stats:
![image](https://cloud.githubusercontent.com/assets/1254870/11562984/4ae36434-999f-11e5-9915-a74aa9fcb4f0.png)

- Then mark some payments pending. I did the first 30 on the screen.
- Run `

[2015-12-03 14:41] mindctrl commented on #3633
Wiped out. Created 500 new payments, split equally between 2 customers.

![image](https://cloud.githubusercontent.com/assets/1254870/11563451/f8d9270c-99a1-11e5-8add-bb747b33c50a.png)

Ran `Recount Customer Stats`:
![image](https://cloud.githubusercontent.com/assets/1254870/11563459/0360d9e0-99a2-11e5-9a51-76976d706f8f.png)

[2015-12-03 14:45] mindctrl commented on #3633
Added another 250 payments for a new customer
![image](https://cloud.githubusercontent.com/assets/1254870/11563540/7d7ac3f8-99a2-11e5-8a02-e135a2bd5125.png)

Ran customer recount again:
![image](https://cloud.githubusercontent.com/assets/1254870/11563544/85b2f34c-99a2-11e5-8ae4-af7c8d6006bb.png)

[2015-12-03 14:49] pippinsplugins commented on #3633
It looks like that all customers are getting the right stats except for the last customer who gets everything.

[2015-12-03 14:52] mindctrl commented on #3633
Each of those should have 250 payments. It's doubling for every customer I add, and then recount.

![image](https://cloud.githubusercontent.com/assets/1254870/11563741/7d912fc0-99a3-11e5-872a-c50ef8a09a1f.png)

[2015-12-03 14:52] mindctrl commented on #3633
After the 'latest' I should say.

[2015-12-03 15:14] mindctrl commented on #3633
Customer count issue fixed. The Recount for All Downloads is still weird. New site, 500 payments:

![image](https://cloud.githubusercontent.com/assets/1254870/11564288/7585c32e-99a6-11e5-9b08-7094d22463e6.png)

Then set latest 30 payments to pending and recount all downloads:
![image](https://cloud.githubusercontent.com/assets/1254870/11564323/9c746fd0-99a6-11e5-985a-ba0e4863819d.png)

[2015-12-03 15:44] pippinsplugins commented on #3633
@mindctrl does recount for individual downloads work properly?

[2015-12-03 15:53] mindctrl commented on #3633
No, it does something similar. 143 sales went down to 12 on the product I tested. Should be 131, because I marked 12 pending.

[2015-12-03 15:57] pippinsplugins commented on #3633
@mindctrl Could you test the old recount earnings plugin and recount the stats for one of the downloads and see if it is correct? https://github.com/easydigitaldownloads/EDD-Recount-Earnings

[2015-12-03 15:59] mindctrl commented on #3633
It changed the count to 143. It counted the pending payments.

[2015-12-03 16:13] pippinsplugins commented on #3633
@mindctrl Try recount all download stats again.

[2015-12-03 16:22] cklosowski commented on #3935
sounds good.

[2015-12-03 16:23] pippinsplugins opened #4052 "Sale logs not deleted when payment changed from complete to pending"
If a completed payment is changed back to `pending`, the sale log entries and sale counts / earnings for products are not decremented.

When changing a complete payment to pending, the following should happen:

1. Status changed to pending
2. Delete sale logs
3. Decrement sale count on products in payment
4. Decrease earnings on products in payment
5. Delete `_edd_completed_date` meta key/value.

[2015-12-03 16:31] pippinsplugins commented on #2667
Looks like it works great!

[2015-12-03 16:38] mindctrl commented on #3633
We narrowed this down in Slack to https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4052

[2015-12-03 17:20] pippinsplugins commented on #3633
Merged into `release/2.5` and closed until we find bugs.

[2015-12-03 17:44] pippinsplugins commented on #2667
This is merged into `release/2.5` but I'm leaving this open until we have further, real-world testing on this.

[2015-12-03 18:26] etruel opened #4055 "Customers and Payments pagination"
Hi, Pippin
May be this will be useful for others.  I noticed that Customers and Payments lists are paginated every 30 items and there isn't the classical wordpress tab to change this value (to make for example an unique page with all customers)

To do this for customers I had to change the value in file [customers/class-customer-table.php](https://github.com/easydigitaldownloads/Easy-Digital-Downl

[2015-12-03 19:56] zackkatz opened #4056 "When switching reports, keep the previously-specified date range"
1. Select License Renewals report
2. Set filter to "This Year"
3. Select License Upgrades report

**What happens:** Date range resets to "This Month"

**What I want to happen:** Retain the "This Year" date range previously specified

[2015-12-04 16:49] pippinsplugins commented on #4056
@zackkatz This is for Software Licensing so I'm closing this one and will re-open there.

[2015-12-04 16:50] pippinsplugins commented on #4056
https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/396

[2015-12-04 16:50] #4056 closed

[2015-12-04 18:49] cklosowski commented on #1960
Ok, there are some severe performance issues here, and it's due to the looping of the settings. I'm not sure how adding a single loop to this causes such an exponential increase in load times, but here's the time it took to run the foreach loop in `edd_register_settings()`:
[code]

Need to figure out why this is so much less performant before we get this into `release/2.5`

[2015-12-04 18:54] pippinsplugins commented on #1960
Whoa, that's super severe. Good findings man.

[2015-12-04 19:08] benjaminprojas commented on #1960
Wow, crazy! I can try to look into this myself tonight as well (unless you beat me to it).

[2015-12-04 19:53] cklosowski commented on #1960
Ok, nailed it down. did 2 things to improve it.:
1) there were some left over variable assignments that ended up looping multiple times
2) Set the array of tabs/sections to a static so the apply_filters is ever only called once on all them.

With those two changes this is much more performant, matching `release/2.5`, please test it out and make sure though.

[2015-12-04 20:26] zackkatz commented on #4056
Thanks, didn't realize it was EDDSL.

[2015-12-04 20:28] benjaminprojas commented on #1960
Awesome!

[2015-12-05 05:50] chriscct7 commented on #2667
So just a thought, but making the class final broke an EDD experiment that
I'm working on which uses it. That's fine as I can hack my local EDD to
remove the final, but let's also keep in mind the same thing that
"protects" the class, is also preventing people who don't want to bother
hacking it from testing it.

On Thu, Dec 3, 2015 at 12:44 PM, Pippin Williamson <notifications@github.com

[2015-12-05 06:21] cklosowski commented on #2667
Final will come off this prior to 2.6. The final is so people don't build off it until we have it at a good place after some real world usage.

[2015-12-05 14:58] mindctrl commented on #3633
This doesn't reset customer recurring subscription status.

[2015-12-05 15:00] cklosowski commented on #3633
This doesn't touch anything recurring. That should be done in the recurring extension.

[2015-12-05 15:00] mindctrl commented on #3633
So a recurring reset tool?

[2015-12-05 16:16] pippinsplugins commented on #3633
Yeah, recurring will need to hook into this to add another option.

@cklosowski Could you ensure that the dropdown is filterable?

[2015-12-05 16:30] cklosowski commented on #3633
No there are hooks for all the tools that the extensions cam get into.

[2015-12-05 17:22] pippinsplugins commented on #3243
We need to trim the search value.

`discount: special` fails.
`discount:special` works.

[2015-12-05 21:30] SDavisMedia commented on #3996
If the issue I linked above gets implemented before this one (or at the same time), it would be easier to update the text based on the settings. No text would be showing to begin with. Then you could easily generate the necessary attributes/values when the [Get Shortcode](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3726#issuecomment-135445002) button is clicked.

[2015-12-06 12:44] MartinStehle commented on #3186
I have the same interests as Netzberufler. What is the status now in case of "prices including tax"? I would be very glad about a solution for that.

[2015-12-06 14:25] pippinsplugins commented on #3186
In the upcoming 2.5 release, the subtotal is hidden from checkout if you use prices inclusive of tax.

[2015-12-06 18:36] pippinsplugins commented on #3633
@cklosowski This drop down is not filterable:
[code]
I'd like that to be filterable so we can register new options in the dropdown.

[2015-12-06 22:05] kiarashi opened #4059 "Pagination with edd_get_users_purchases"
I copied the file inside templates/history_downloads.php and tried to change the number of downloads per page.

$purchases = edd_get_users_purchases( get_current_user_id(), 20, true, 'any' );

Changing 20 to 5 (for example) doesn't seem to work. Is this a bug or am I doing it wrong?
If I'm doing it wrong, any other way to change the number of downloads per page?

[2015-12-07 13:21] grappler commented on #2828
Could you not share the cart with the custom add to cart links?

http://docs.easydigitaldownloads.com/article/268-creating-custom-add-to-cart-links

[2015-12-07 14:22] pippinsplugins commented on #1960
Found a bug that caused the `Extensions` tab to not work properly once a custom section was registered in an extension. Fixed with eda8d23

[2015-12-07 21:45] pippinsplugins commented on #4059
That should work. What's the behavior you get? Does it display more than 20?

[2015-12-07 22:03] pippinsplugins commented on #4055
This is due to how our payment counting functions work. It is actually separate from the `edd_get_payments()` function.

Why are you setting the admin to show all payments? That's really not very safe.

[2015-12-07 22:13] kiarashi commented on #4059
I wanted to display less than 20 but I went ahead and made a few test purchases, enough to pass the 20 and it turns out, it also display more than 20 on the page. The pagination doesn't show up.

[2015-12-07 22:34] mindctrl opened #4060 "Download links broken in release/2.5"
In `release/2.5`, download links are broken. They get cut off at index.php... they're missing all the `?eddfile=xxx&ttl=xxx&token=xxx` stuff. I tested and replicated this on two sites, one brand new with just EDD installed.

It appears to have been introduced somewhere in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/f3589e0a49c7f74d763d5aa40a0e04a200d616e9. Haven't had a c

[2015-12-08 01:59] pippinsplugins commented on #1960
This has been merged into `release/2.5`

[2015-12-08 14:39] etruel commented on #4055
Currently this is not the best thing, because also change in dashboard widget and every time that call `edd_get_payments()` but I miss wordpress screen options.  I use it very much. For search with browser instead wordpress searches, see less pages, compare some rows or realize custom sums.  I really win lot of time if I don't need to navigate page after page to find something.

![firefox_screensh

[2015-12-08 15:04] pippinsplugins commented on #2667
I'm seeing a notice on the payments list table:

NOTICE: wp-content/plugins/easy-digital-downloads/includes/admin/payments/class-payments-table.php:322 - Indirect modification of overloaded property EDD_Payment::$user_info has no effect
require_once('wp-admin/admin.php'), do_action('download_page_edd-payment-history'), call_user_func_array, edd_payment_history_page, WP_List_Table->display, WP_List

[2015-12-08 15:20] pippinsplugins commented on #4060
This is failing because `if( ! empty( $payment->ID ) )` in `edd_get_download_file_url()` is validating as false:
[code]

I'm not sure why though as the payment ID is definitely present.

[2015-12-08 15:21] pippinsplugins commented on #4060
Ah found it. We setup `$ID` as protected. It needs to be public.

[2015-12-08 15:49] pippinsplugins commented on #4060
@cklosowski @mindctrl could you guys test / review this please?

[2015-12-08 16:39] cklosowski commented on #4060
@pippinsplugins seems to be working fine. Unit tests look good too.

[2015-12-08 16:44] mindctrl commented on #4060
Looks good here too.

[2015-12-08 16:44] #4060 closed

[2015-12-08 16:47] grappler opened #4063 "Updating cached cart with JS"
Hey,

I would like to keep my single download pages cached but change the "Add to cart" button to "Checkout" using JS.

I thought of three ways I could check if the download has been added to the cart.
- make a ajax query (It may take some time if there is a network issue)
- save the data in a cookie (cookies could block caching)
- save the data in local storage (this is my preference)

Having a m

[2015-12-08 16:53] pippinsplugins commented on #3633
We need to also remove the old recount earnings tab:
![screen shot 2015-12-08 at 10 52 34 am](https://cloud.githubusercontent.com/assets/1034109/11661931/e102ec02-9d99-11e5-90f2-2db82c42632a.png)
I vote we just call `remove_action()` to ensure the plugin doesn't load any more.

[2015-12-08 16:56] pippinsplugins commented on #3633
Just ran a recount on edd staging and it looks to have worked well.

[2015-12-08 16:57] pippinsplugins commented on #3820
Somehow we've broken then completely in `release/2.5` now:
![screen shot 2015-12-08 at 10 57 06 am](https://cloud.githubusercontent.com/assets/1034109/11662051/82e82b72-9d9a-11e5-85bc-92486466a57e.png)

[2015-12-08 17:10] shazahm1 commented on #4063
@grappler

A coupe years ago I wrote this https://github.com/shazahm1/EDD-Downloads-Cart-AJAXed (oringally based on a plugin for eShop (I don't think any of the original code actually exists).

It adds a new widget which fetches the EDD cart via an ajax query rather than loading in page. I used it for well over a year successfully. That said I have not used it for about a year so I'm not certain i

[2015-12-08 17:27] mindctrl commented on #3820
@pippinsplugins not seeing that on customer screens locally. Looks like browser cache?

[2015-12-08 17:28] pippinsplugins commented on #3820
Hmm, I've tried clearing cache numerous times without luck. Pretty sure I saw it locally too.

[2015-12-08 17:45] mindctrl commented on #1960
If taxes are enabled, you can't disable them. Unchecking the box and saving results in them still being enabled.

[2015-12-08 17:50] mindctrl commented on #1960
Same with "Display Tax Rate on Prices"... another checkbox.

[2015-12-08 17:50] mindctrl commented on #1960
Same with Enable Ajax on Misc tab.

[2015-12-08 17:52] mindctrl commented on #1960
So most/all checkboxes can be checked but not unchecked.

[2015-12-08 17:59] pippinsplugins commented on #3820
Nevermind, it was cache.

[2015-12-08 17:59] #3820 closed

[2015-12-08 18:21] pippinsplugins commented on #2667
Including `parent` in the `$payment_data` array passed to `edd_insert_payment()` used to set the `post_parent` field. This appears to no longer work.

[2015-12-08 18:51] pippinsplugins commented on #2667
I'm finding a lot of notices when using `edd_insert_payment() without a full `$purchase_data` array. Going to commit fixes for each shortly.

[2015-12-08 19:00] pippinsplugins commented on #2667
Nevermind, all good. I was doing dumb things.

[2015-12-08 19:01] pippinsplugins commented on #2667
Looks like setting the status to `edd_subscription` results in the payment being created with a status of `pending`.

[2015-12-08 19:18] pippinsplugins commented on #2667
Status works now that `do_action( 'edd_insert_payment', $payment->ID, $payment_data );` runs later.

[2015-12-09 00:29] pippinsplugins opened #4064 "Customize product preview with oEmbed in 4.4"
WordPress 4.4 supports oEmbed for post objects. Let's expand it to include support for embedding products on other sites along with their prices and purchase buttons.

https://make.wordpress.org/core/2015/10/28/new-embeds-feature-in-wordpress-4-4/

[2015-12-09 12:17] debjyati opened #4065 "Empty checking error"
File path: /includes/download-functions.php
Function name: edd_get_download_file_url()
Line no.: 988
Bug: Firstly, in "if ( ! empty( $payment->ID ) )"
“$payment->ID” is protected member of “EDD_Payment” class. It should be accessed through “__get()” method.

In PHP 5.5.9, “$payment->ID” should be kept in a variable then the variable should be passed in empty() method. The way it is done now is ret

[2015-12-09 14:46] mindctrl commented on #4065
@debjyati are you seeing this in the latest `release/2.5` branch?

[2015-12-09 14:47] pippinsplugins commented on #4065
@debjyati Please see my response to your comment on the beta blog post: https://easydigitaldownloads.com/development/2015/12/03/version-2-5-beta-1/#comment-4

[2015-12-09 14:47] #4065 closed

[2015-12-09 14:48] pippinsplugins commented on #4065
Duplicate of #4060

[2015-12-09 15:45] SDavisMedia opened #4066 "exclude categories/tags from discount"
It's been requested a few times, a way to exclude a category (or tag) from a discount code.

[2015-12-09 15:55] pippinsplugins commented on #4066
Let's see if we can include this in 2.6

[2015-12-09 16:02] shazahm1 opened #4067 "Updating Customer email does not update linked User email."
This might be related to #3997... not sure. But in the admin when editing a customer email address, the linked WP user email address does not get updated.

[2015-12-09 19:01] spencerfinnell opened #4068 "Allow post__in orderby in [downloads]"
Since you can pass a list of IDs it would be nice to be able to preserve the order.

[2015-12-09 22:23] mattgrshaw opened #4069 "Issues w/ comments in WordPress 4.4"
Since upgrading to WP 4.4, I noticed that the comment count was way higher than what it should be.

I deactivated all plugins to see if that fixed the problem, and when I went back to the comments page I saw a ton of the following error in debug mode:

`Notice: map_meta_cap was called incorrectly. The post type edd_payment is not registered, so it may not be reliable to check the capability "edit_

[2015-12-09 22:45] cklosowski commented on #4069
@pippinsplugins I'm pretty sure this isn't something we can avoid. EDD uses comments to handle the payment notes, and we've got some code in our plugin to not count these towards comments.

With EDD deactivated, there's no way to negate them from counting.

I cannot replicate the counts being off in my environments, however.

[2015-12-09 22:46] pippinsplugins commented on #4069
@cklosowski Yep, this came up in a support thread too. Unfortunately nothing we can do about it with EDD deactivated except delete those comments.

@mgshaw are your comment counts cached?

[2015-12-09 22:49] mindctrl commented on #4069
I see comments counts being off in 4.4 while EDD is activated.

![image](https://cloud.githubusercontent.com/assets/1254870/11701368/216be5ba-9e9d-11e5-8bf7-c7adb59f0056.png)

![image](https://cloud.githubusercontent.com/assets/1254870/11701378/30faa6b0-9e9d-11e5-88d9-6be5a16306d6.png)

[2015-12-09 22:52] mgshaw commented on #4069
@pippinsplugins I don't think so, I just cleared out all the caches and can still reproduce.

[2015-12-09 22:54] pippinsplugins commented on #4069
OK so counts are wrong, but that pretty much has to be a WordPress core bug.

When EDD is deactivated, we cannot affect anything with the display or counts of comments, so it's a WP core bug with not properly counting non-default comment types.

[2015-12-09 22:59] pippinsplugins commented on #4067
We currently update customer email when user email is updated but not the other way around: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3364

[2015-12-09 23:01] pippinsplugins commented on #4068
:+1:

[2015-12-09 23:15] mgshaw commented on #4069
Makes sense. I'll close this out then and will look into it further and create a ticket on trac if necessary.

[2015-12-10 00:51] jessetolz commented on #1540
@pippinsplugins and @chriscct7 I put together TurtleTreeSeed.org and am hoping you can help me with the 9 item limit in WooCommerce PayPal Standard. It's quickly becoming a bottleneck in our workflow at the seed shop. Is what you'd referenced above (90a9125) a solution to this scenario? How do I implement, or can you at least point me in the right direction? Any help would be immensely appreciated

[2015-12-10 01:04] pippinsplugins commented on #1540
@jessetolz I"m sorry but we cannot assist with a WooCommerce issue. Please reach out to WooCommerce support.

[2015-12-10 15:14] spencerfinnell opened #4070 "edd_price() Show Default Variable Price"
Right now `edd_price()` always displays the lowest price if you are using variable pricing. Would it make more sense to show the selected default price option price instead?

[2015-12-10 15:17] pippinsplugins commented on #1960
@cklosowski I've tracked this down to the `edd_settings_sanitize()` callback. It's looping through the registered settings sections now instead of looping through the settings within each section. Could you work on this today please?

[2015-12-10 15:20] #3243 closed

[2015-12-10 15:21] pippinsplugins commented on #2667
I'm seeing this notice again:

Notice: Indirect modification of overloaded property EDD_Payment::$user_info has no effect in /Users/pippin/Sites/edd/wp-content/plugins/easy-digital-downloads/includes/admin/payments/class-payments-table.php on line 322
![screen shot 2015-12-10 at 9 21 01 am](https://cloud.githubusercontent.com/assets/1034109/11719219/5b50112a-9f1f-11e5-951c-710e6bce2d9b.png)

[2015-12-10 15:22] cklosowski commented on #1960
Yep, I'll get that done today.

[2015-12-10 15:26] pippinsplugins commented on #4070
Good catch. Yes, I think it would make more sense to show the default price option, or the lowest if no default is saved.

[2015-12-10 16:34] pippinsplugins commented on #2667
Before we close this out, let's add PHPDoc to all properties.

[2015-12-10 17:43] ghost1227 commented on #2667
@pippinsplugins I know it's not specific to this issue, but your comment made me think of it... Have you ever actually run apidoc on EDD? It reports 2010 errors in our docblocks. Hell, I've seen docblocks in EDD that are inaccurate but flag as valid too. We really need to clean them up at some point.

[2015-12-10 17:48] pippinsplugins commented on #2667
I have and .... to be super blunt, don't really care. It's technical debt that fixing has almost zero benefit.

[2015-12-10 18:04] ghost1227 commented on #2667
If you really don't care, why is it important for a proper docblock to be added to this before release? I'm not suggesting that someone needs to do a full audit or anything, more that it would be worthwhile to look at the docblock for any function you're actively updating and ensure it's up to date. Doing a complete overhaul might be a tremendous waste of time, but improving individual docs as we

[2015-12-10 18:26] pippinsplugins commented on #2667
We are not going to devote time, money, and effort into going back and updating old ones. We *will* always do it properly moving forward.

[2015-12-10 23:29] pippinsplugins commented on #1960
@mindctrl Could you give @cklosowski's PR a test?

[2015-12-11 02:50] mindctrl commented on #1960
Checkboxes from extensions that don't use sections yet can't be unchecked.

[2015-12-11 02:57] pippinsplugins commented on #1960
Example extension to test with?

[2015-12-11 02:59] mindctrl commented on #1960
I tested Content Restriction and Discounts Pro.

[2015-12-11 09:49] grappler commented on #4063
Thanks @shazahm1 I was able to create a solution for myself but there is a bit of a delay.

It would be nice if there was a standard local data that we developers could use.

[2015-12-11 14:30] pippinsplugins opened #4073 "PayPal Standard: Ensure cart_details is a non-empty array"
While tracking down a bug in EDD Wallet (https://github.com/easydigitaldownloads/edd-wallet/issues/20), I found a case where PayPal Standard will throw `Invalid foreach` notices. If the `cart_details` key is not an array or it is empty, as is the case when making a deposit in Wallet, the notice is thrown.

[2015-12-11 14:33] topher1kenobe opened #4075 "Prices not incrementing when doing add_download on payment with EDD_Payment"
I have a Pending payment.  I added a download with add_download.  It added the download but did NOT change the payment total.

[2015-12-11 14:35] topher1kenobe opened #4076 "Removing download causes PHP Notice"
I have a payment with 2 downloads.  I remove one, AJAX makes it disappear, and then I Update the payment.  I get this:

Notice: Undefined index: price_id in /home/topher1/edd.derosia.com/wp-content/plugins/easy-digital-downloads/includes/payments/class-edd-payment.php on line 734

Notice: Undefined index: price_id in /home/topher1/edd.derosia.com/wp-content/plugins/easy-digital-downloads/includes/

[2015-12-11 14:49] shazahm1 commented on #4063
@grappler

I'm guessing your solution uses an ajax request too, hence the delay, right? You could set up this plugin https://github.com/dannyvankooten/plugin-endpoints that way only EDD is loaded when making the cart request. The response time can be significantly reduced. Honestly, I never took this route because it would have been too much work because EDD does not use endpoints for cart actions

[2015-12-11 15:37] pippinsplugins opened #4077 "edd_maybe_remove_menu_profile_links() breaks some ajax actions"
`edd_maybe_remove_menu_profile_links()` is running during ajax requests and triggering the following notice in certain instances:

 Warning: Invalid argument supplied for foreach() in /Users/pippinwilliamson/Sites/trunk/wp-admin/includes/plugin.php on line 1445
Call Stack
1	0.0015	274672	{main}( )	../admin-ajax.php:0
2	0.5664	36320448	do_action( )	../admin-ajax.php:44
3	0.5972	36897648	call_user_f

[2015-12-11 16:07] pippinsplugins commented on #2667
@cklosowski Fees still aren't working properly.

@mindctrl and I found the problem when testing some issues with `EDD Wallet`, which uses fees.

After the payment is completed, the fee structure is different than it used to be.

To replicate:

1. checkout EDD `master`
2. Using Wallet, deposit funds into your wallet. It will work.
3. checkout EDD `release/2.5`
4. Using Wallet, deposit funds into yo

[2015-12-11 16:10] grappler commented on #4063
@shazahm1 Yes, I am using ajax. Thanks, that looks like a really good plugin, not just for this use here but for other places too but I found a better way by creating a mu plugin. I got part of the idea from Migrate DB Pro. https://gist.github.com/grappler/289944193cf0ed916dc8

[2015-12-11 16:22] shazahm1 commented on #4063
@grappler yep, that is exactly what the endpoints plugin does too. It never occurred to me to base it on page URL like you've done. I'm gonna have to lift that and tweak it for my site :) Thanks for sharing!

[2015-12-11 17:07] cklosowski commented on #4076
I've fixed this in `release/1.5` as it's related to #2667. Let's keep all discussions there.

[2015-12-11 17:07] #4076 closed

[2015-12-12 18:53] slaFFik opened #4079 "Remove all transients with `edd_` on uninstall"
I've deactivated EDD and than deleted it.
Transients Manager plugin shows me, that `edd_cache_excluded_uris` has a `Does not expire` expiration and still in DB.
IMO, it should be deleted as well.

And according to this search https://github.com/easydigitaldownloads/Easy-Digital-Downloads/search?utf8=%E2%9C%93&q=edd_cache_excluded_uris this transient is only set and no deletion logic at all.

[2015-12-13 14:44] pippinsplugins commented on #4079
We'll get it taken care of.

[2015-12-13 19:02] brashrebel opened #4081 "Fatal error in earnings by category reports"
Just had this reported by a customer and confirmed on multiple local test sites. With no other plugins active, visiting Downloads - > Reports and selecting Earnings by Category returns this:
<img width="999" alt="screenshot 2015-12-13 14 00 22" src="https://cloud.githubusercontent.com/assets/4993131/11768673/144e4906-a1a2-11e5-9360-07b69efe1d7c.png">

[2015-12-14 02:49] pippinsplugins commented on #4081
Looks like something that broke after the update to WP 4.4

[2015-12-14 15:30] ekamran commented on #3947
Hi @pippinsplugins Am pretty interested in this feature as well.
These options of Multiple SKUs are built-in in WooCommerce & even in the Sprout Invoices App.

I hope one day this one makes to the Core.

But right now, will @douglaswebdesigns share the code ?

On the other hand, i couldn't figure out, How to rename SKUs to Product IDs or something else?

[2015-12-14 16:14] Ziccco opened #4082 "FES Emails"
I have updated my FES to the lastest version 2.3.6. When I go into the settings for permissions and emails its not working to turn on/off. When I click OFF the buttom becomes gray, and when I press the save button it turns back to ON.
![fes](https://cloud.githubusercontent.com/assets/16292220/11786302/19cded8e-a286-11e5-8990-b129b891dba5.jpg)

[2015-12-14 16:16] mindctrl commented on #4082
Hi @Ziccco, please open a support ticket here: http://easydigitaldownloads.com/support/

This repo is for Easy Digital Downloads core development.

[2015-12-14 16:16] #4082 closed

[2015-12-14 16:54] pippinsplugins opened #4083 "Rewrite FAQs on WordPress.org"
The FAQs tab on WordPress.org have not been changed in several years. It's time to bring them up to date!

https://wordpress.org/plugins/easy-digital-downloads/faq/

@easydigitaldownloads/core-devs Please every one drop in your thoughts and suggestions for items that should be covered.

[2015-12-14 16:56] pippinsplugins commented on #4083
Some I have:

- Where is documentation
- Payments are pending
- Which gateways are supported
- Are recurring payments supported
- Is an SSL certificate required
- How to setup an affiliate system
- How are products displayed

[2015-12-14 21:41] cklosowski opened #4084 "Force deactivation of the old Recount Tool in 2.5"
Since we've added the recount tool to EDD Core in #3633, we should forcibly deactivate the old repo we have, to avoid confusion.

[2015-12-15 01:44] chriscct7 commented on #4084
Is that actually allowed under wp.org guidelines? We might have to settle for just an admin notice

[2015-12-15 01:48] pippinsplugins commented on #4084
We can remove the action but can't deactivate the plugin.

On Monday, December 14, 2015, Chris Christoff <notifications@github.com>
wrote:

[2015-12-15 05:09] SDavisMedia commented on #4050
Not thrilled about the styling just yet but I like the grid display. Jacked some styles from @cklosowski's Extensions page. I'll tweak the styles more soon.

![slack-imgs](https://cloud.githubusercontent.com/assets/2359131/11802557/e3946312-a2a6-11e5-87d4-51251d1ffeba.png)

[2015-12-15 14:48] pippinsplugins commented on #3365
After a  quick call with @topher1kenobe, we feel the endpoint should be changed from `downloads` to `download-logs`. We use `download` frequently to refer to a product so having `/downloads/` creates confusion and is unclear whether it refers to download products or file downloads.

The other option I like is `/edd-api/file-downloads/`

Opinions @easydigitaldownloads/core-devs ?

[2015-12-15 15:04] chriscct7 commented on #3365
+50k
On Dec 15, 2015 9:48 AM, "Pippin Williamson" <notifications@github.com>
wrote:

[2015-12-15 15:07] pippinsplugins commented on #3365
@chriscct7 Which of the two do you prefer?

[2015-12-15 15:25] cklosowski commented on #4084
Yep, was planning on removing it's hooks.

[2015-12-15 15:48] spencerfinnell commented on #3365
Haven't ever looked at the API so not sure if this type of endpoint would even work, but what about `/logs/downloads/`, which would allow expansion for the other available logs.

[2015-12-15 15:50] pippinsplugins commented on #3365
@spencerfinnell At the moment, no, that wouldn't work but I can see that being a great idea for a v2 or v3.

[2015-12-15 16:12] chriscct7 commented on #3365
I personally strongly prefer Spencers but since that is impossible for the current generation we can at least make the endpoint look close to that so my preference is logs-downloads so that when we do move to it its not such a huge jump

[2015-12-15 16:14] chriscct7 commented on #3365
Then when we do update all we're doing is changing a - to a /

[2015-12-15 17:08] spencerfinnell commented on #4068
I have a PR ready for this. Should I wait until 2.6 is being actively worked on?

[2015-12-16 14:33] cklosowski commented on #4084
Ok, so we can't unhook the legacy recount tool, because we didn't assign the instantiated object to a variable that's accessible (oops). We'll just put up a notice to the users that have it active that it's now built into core and they should deactivate the old one.

Also, this converts all our echoing of HTML in our admin notices to use output buffering. A much cleaner editor experience, and less

[2015-12-16 16:07] topher1kenobe commented on #3422
Doc updated, but not published until 2.5 drops

[2015-12-16 16:24] pippinsplugins commented on #3422
:+1:

[2015-12-16 22:03] pippinsplugins commented on #4050
@SDavisMedia I'm really liking where this is going.

I've fixed the missing parameter bug.

[2015-12-17 01:24] SDavisMedia commented on #4050
@pippinsplugins Thanks! I'll get back to it soon then. Need to see what I can do to consolidate some CSS between this tab and the Extensions page CSS.

Note: I've added a class to all the settings tabs `.wrap` elements. Wanted/needed it for this and it can be useful for other tabs to help prevent other admin CSS conflicts. https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/5f5fb

[2015-12-17 01:39] SDavisMedia commented on #4050
@pippinsplugins Still having issues with the license data. Stripe you see in my screenshot is the only one behaving correctly. Can you create all of the license scenarios properly in your system?

[2015-12-17 15:36] pippinsplugins commented on #4050
@SDavisMedia I was seeing a bit of weirdness. Do you get the same behavior with `release/2.5`?

[2015-12-17 16:03] SDavisMedia commented on #4050
@pippinsplugins yea same exact thing

[2015-12-17 18:33] mindctrl commented on #3320
@pippinsplugins same here.

[2015-12-17 18:34] #4084 closed

[2015-12-17 18:36] mindctrl commented on #3981
Related: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2597

[2015-12-17 18:37] cklosowski commented on #4075
@topher1kenobe can you test this again against `release/2.5`? I remember we talked about this but cannot remember if it worked for you again.

[2015-12-17 18:40] cklosowski commented on #4081
@brashrebel Can you test this again? I cannot replicate it, i'm running trunk WP Core.

[2015-12-17 18:47] cklosowski commented on #4081
Oh, I see, it's in EDD master. This is already fixed in `release/2.5`.

[2015-12-17 18:47] #4081 closed

[2015-12-17 18:48] cklosowski commented on #4081
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/07efd56a0ec8d38149e9d8163013a7b465ef3710#diff-29e28a1c545fe9b80f89116df4608f66

[2015-12-17 18:50] #4077 closed

[2015-12-17 18:52] cklosowski commented on #3365
I too, would prefer @spencerfinnell's suggestion, but for now I'm for `download-logs`.

[2015-12-17 18:52] #3320 closed

[2015-12-17 18:53] pippinsplugins commented on #3365
Works for me.

[2015-12-17 19:03] cklosowski commented on #4083
Great idea.

- What themes work with EDD

[2015-12-17 19:09] pippinsplugins commented on #4083
Good one.

[2015-12-17 19:21] topher1kenobe commented on #4075
This issue appears to be resolved after testing.

[2015-12-17 19:21] #4075 closed

[2015-12-17 19:33] #4073 closed

[2015-12-17 19:51] cklosowski commented on #3365
Could we introduce the `logs` endpoint, and pass in `?type=download`?

[2015-12-17 19:52] cklosowski commented on #3365
this way we can have the `logs` endpoint for future use, and don't have to make a new endpoint for people later for other log types.

[2015-12-17 20:01] cklosowski commented on #3365
We need to come up with a good endpoint here, we have 3 ideas, please vote on one of these three:
1. `file-downloads`
2. `download-logs`
3. `logs-downloads`

[2015-12-17 20:09] mindctrl commented on #3365
Make it as clear as possible. 2 and 3 aren't clear and could be confused with download products in some way. 4 is the clearest. 1 is ok.

[2015-12-17 20:14] shazahm1 commented on #3365
+1 for option 4

[2015-12-17 20:15] pippinsplugins commented on #3365
4.

[2015-12-17 20:15] topher1kenobe commented on #3365
4

[2015-12-17 20:46] pippinsplugins commented on #1960
I just ran into a serious problem here.

Clicking save while on one of the sub sections completely wiped out the settings for a payment gateway extension.

[2015-12-17 20:47] pippinsplugins commented on #1960
Nevermind, #4072 solved it.

[2015-12-17 20:49] pippinsplugins commented on #1960
Scratch that, still happening.

[2015-12-17 21:17] chriscct7 commented on #3365
3

[2015-12-17 21:22] spencerfinnell commented on #3365
4 for now.

[2015-12-17 21:23] pippinsplugins commented on #4059
Can  you test it with the default theme? It shows up for me.

[2015-12-17 21:28] pippinsplugins commented on #4055
I've updated the title of the issue to reflect the enhancement here: adding a screen option.

[2015-12-17 21:29] pippinsplugins commented on #4063
Great discussion guys. I'm going to milestone this for 2.7 so we look at it closer.

[2015-12-17 21:30] pippinsplugins commented on #4068
`release/2.6` would be great, thanks.

[2015-12-17 21:31] pippinsplugins commented on #3365
4 it is.

[2015-12-17 21:38] pippinsplugins commented on #4050
Reopening original issue for further investigation.

[2015-12-17 21:38] pippinsplugins commented on #3889
There's some odd behavior going on when license keys are invalid. See #4050 for comments from Sean.

[2015-12-17 21:47] SDavisMedia commented on #4050
Sweet deal.

[2015-12-17 21:52] michaelbeil commented on #3365
May the 4th be with you.

[2015-12-17 22:10] kiarashi commented on #4059
Even with a standard wp theme, it still doesn't show up.

![img-pagination](https://cloud.githubusercontent.com/assets/7079137/11883441/44c722f0-a513-11e5-99ff-740efe01213d.png)
.

[2015-12-17 23:48] cklosowski commented on #4050
really liking this @SDavisMedia

[2015-12-18 00:43] SDavisMedia commented on #3889
@cklosowski Been playing with with the adjustments after our testing and one thing I can't do for sure is get the proper output for an expired license.

But with all of this, a big problem is that licenses are jumping back and forth between the proper output and having nothing but the key in the field and I don't know why.

I think to test this for sure, someone else needs to test every single lic

[2015-12-18 01:50] etruel commented on #4055
Excellent
I'm sorry if I was not clear before.

Also in customers list would be great.

Currently I tweak just line 60 of \includes\admin\customers\customers.php
adding:

	$customers_table->per_page = -1;  // or any value to paginate

[2015-12-18 02:22] SDavisMedia commented on #4050
![2015-12-17 at 6 19 pm](https://cloud.githubusercontent.com/assets/2359131/11887626/dd8e3240-a4ea-11e5-8d8f-aae33e769dc5.png)

@cklosowski @mindctrl @pippinsplugins Thoughts? Keep in mind the majority of licenses will show either nothing or the light gray box. The c boxes sholored boxes would be rare but easily stand out.

[2015-12-18 15:14] pippinsplugins commented on #4050
Love it.

[2015-12-18 16:11] cklosowski commented on #3889
@SDavisMedia let me know if those changes we made last night work for you.

[2015-12-18 16:39] cklosowski commented on #3365
Going with 4 then. I found a small bug when you pass in an invalid customer id, in that it returns data. If an invalid customer ID is passed in, no data should be shown.

[2015-12-18 17:00] SDavisMedia commented on #3889
@cklosowski Everything appears to be working perfectly now. Does the mismatch situation need to repeat the license key in the error message? That's the only thing I wouldn't mind seeing changed. Everything else is good.

[2015-12-18 17:08] cklosowski commented on #3633
@pippinsplugins how's that for filters?

[2015-12-18 17:42] pippinsplugins opened #4089 "Make properties public in Amazon Payments"
To help facilitate the Amazon Payments gateway for [EDD Recurring Payments](https://github.com/easydigitaldownloads/edd-recurring/issues/98), we need to make the `$reference_id`  and other properties public so they can be accessed from outside the clas

[2015-12-18 17:43] cklosowski commented on #4089
:+1: sounds good to me

[2015-12-18 17:44] #4089 closed

[2015-12-18 19:20] pippinsplugins commented on #3633
That'll do.

[2015-12-18 20:25] cklosowski commented on #1960
@pippinsplugins @mindctrl Looking into the issues you're seeing.

[2015-12-18 21:20] cklosowski commented on #4083
I think this would be a good one for @topher1kenobe to head up, has a more 'docs' feel to it.

[2015-12-18 22:13] michaelbeil commented on #4050
Looking solid @SDavisMedia.

[2015-12-18 23:09] cklosowski commented on #3365
Ok @easydigitaldownloads/core-devs this should be ready, are we good to close this out now that we've decided on an endpoint and fixed that invalid customer ID thing?

[2015-12-18 23:12] cklosowski commented on #3889
@SDavisMedia are you saying, remove the license key in the item_name_mismatch case?

[2015-12-18 23:16] SDavisMedia commented on #3889
@cklosowski If you all agree that it's cool to do so. It's long and a bit obnoxious IMO. I'll admit that my motive is having as little word wrap in that area as possible but I still think it's excessive.

[2015-12-18 23:17] cklosowski commented on #3889
I can live with that. @pippinsplugins you good with removing the license key from the `item_name_mismatch` error? It's in the text field still, so it's a bit redundant.

[2015-12-18 23:52] cklosowski commented on #3889
How about this?

![screen shot 2015-12-18 at 4 52 05 pm](https://cloud.githubusercontent.com/assets/1390124/11909693/b3015cf6-a5a7-11e5-81e3-20874dd569ae.png)

The namestring we get is `<Product Name> License Key`, so we can just shorten it to this I believe.

[2015-12-19 08:22] SDavisMedia commented on #3889
Spoke to you about this on Slack but I'll say here I like that. :point_up_2:

[2015-12-20 16:55] chriscct7 commented on #4050
With license keys we could perhaps offer a renew link in the license key thing.

[2015-12-21 15:27] pippinsplugins commented on #3633
I'm closing this :)

[2015-12-21 15:28] pippinsplugins commented on #3365
Yep yep!

[2015-12-21 15:28] #3365 closed

[2015-12-21 15:28] pippinsplugins commented on #3935
@cklosowski Let's hit this first thing after Christmas please.

[2015-12-21 17:10] cklosowski commented on #1960
Closing after some discussion with the team in Slack. We'll re-open if necessary.

[2015-12-21 17:10] #1960 closed

[2015-12-21 17:10] cklosowski commented on #3889
:+1: I'll commit that up then.

[2015-12-21 17:15] benjaminprojas commented on #1960
@cklosowski mind sharing what the gist of the Slack discussion was about?

[2015-12-21 22:04] sumobi commented on #4083
How about:

[2015-12-21 22:05] SDavisMedia commented on #4083
Importing from another store system.

[2015-12-21 22:12] sumobi commented on #4050
Beautiful

[2015-12-21 23:59] SDavisMedia commented on #4050
@chriscct7 we'll be doing that when 2.5 rolls out https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3889#issuecomment-146296417

[2015-12-22 00:22] DevinWalker opened #4091 "[edd_receipt payment_key="true"] Issue"
By default, when you install EDD the Purchase Receipt page has: `[edd_receipt]` but if users customize it to display the payment key (it's set to false by default: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/shortcodes.php#L654)

`[edd_receipt payment_key="true"]`

Then you get errors... see: https://github.com/WordImpress/Give/issues/443

The issue appears

[2015-12-22 00:46] pippinsplugins commented on #4091
Ah, we should change the shortcode parameter.

[2015-12-22 13:05] brashrebel opened #4092 "Always show bulk actions when used for navigation"
In multiple reports and all logs in EDD, `WP_List_Table` is used and the `bulk_actions()` method is utilized as a convenient way to output the select field for navigating to other views in the right place. However, bulk actions only display if there are items to show in the table which makes sense when the bulk actions are actually actions but not when they are navigational as they are in EDD.

I'

[2015-12-22 15:35] pippinsplugins commented on #3633
Something broke here. I just ran the recount all product stats tool live on pippinsplugins.com

It appears that only one product was recounted and it failed massively.

Before: https://cloudup.com/cTmxT28BVlJ
After: https://cloudup.com/c_UbJLiuSVo

[2015-12-22 15:36] pippinsplugins commented on #3633
I then ran the recount for just that product and it appears to have worked properly.

[2015-12-22 15:38] pippinsplugins commented on #3633
The recount all stats also failed on the total store sales / earnings: https://cloudup.com/cqJu9FO7qXI

[2015-12-22 15:48] pippinsplugins commented on #3633
I think it's due to the heavy reliance on update_option() in a heavily cached system.

[2015-12-22 15:48] pippinsplugins commented on #3633
Local works fine.

[2015-12-22 15:51] pippinsplugins commented on #3633
I think the best way to fix this will be to remove the use of `update_option()` and instead make direct DB queries.

[2015-12-22 16:10] #4092 closed

[2015-12-22 16:10] pippinsplugins commented on #4092
Thanks @brashrebel !

[2015-12-22 16:37] cklosowski commented on #3633
:+1: makes sense.

[2015-12-22 21:53] pippinsplugins commented on #2667
We've broken discount codes.

Payment records are created without discounted amounts.

On checkout, this purchase showed as $8.00 after the 20% discount was applied:
![screen shot 2015-12-22 at 3 52 45 pm](https://cloud.githubusercontent.com/assets/1034109/11966867/1a441dd0-a8c4-11e5-8f36-50a82380acb3.png)

[2015-12-23 01:09] cklosowski commented on #1960
@BenjaminPRojas it was just them testing things out for me. We had a few filters not running for sanitization so saving checkboxes wast working for extensions not using subsections. Slack was just where we discussed as we tested.

[2015-12-23 01:12] cklosowski commented on #4063
This could be an interesting feature. Worth a look for sure.

[2015-12-23 02:48] cklosowski commented on #4064
👍 great idea.

[2015-12-24 05:55] benjaminprojas commented on #1960
@cklosowski thanks for the update! Good to know.  I appreciate the work you all have done on this!

[2015-12-27 04:46] pippinsplugins commented on #2667
There is a bug right now with the amounts / totals that get stored. I believe it's related to when there is a discount on individual items.

I had two $29.40 orders go through. The item amount and purchase total, however, got shown as $16.80.

The actual amount paid through merchant account was correct ($29.40).

@cklosowski

[2015-12-28 19:21] pippinsplugins opened #4096 "Remove usage of get_currentuserinfo()"
WordPress 4.5 is deprecating the `get_currentuserinfo()` function: https://core.trac.wordpress.org/ticket/19615

We use it in one place: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/d02aefe0d5d9b82c70e2a44880d1bafd191897c9/includes/gateways/functions.php#L259

Let's get rid of it.

[2015-12-29 18:37] pippinsplugins commented on #3633
@cklosowski is this ready to test again on live pippinsplugins.com?

[2015-12-29 18:40] pippinsplugins commented on #2667
@cklosowski That change fixed it. Renewals are showing proper amounts now.

[2015-12-29 18:40] pippinsplugins commented on #3935
@cklosowski Could you go ahead and work on this next please?

[2015-12-29 18:42] pippinsplugins commented on #3889
Pretty sure we can close this out now.

[2015-12-29 18:42] #3889 closed

[2015-12-30 06:41] sumobi commented on #3900
@pippinsplugins totally missed this. Only sites that have no purchases I believe. Log in to the RCP site (I used Chrome) and wait for the heartbeat. It should change from $0.00 values to what you see above.

[2015-12-30 08:04] sunnyratilal opened #4099 "API HTTP Headers"
Currently, when querying data via the EDD API, `HTTP 200 OK` is returned for every request.

If, for example, we have a user that doesn't have the required caps to access certain data such as `sales` or `earnings`, a `HTTP 200 OK`is still returned, this should actually be 'HTTP 401 Unauthorized'.

[2015-12-30 16:06] pippinsplugins commented on #4099
Whoops!

[2015-12-30 16:11] mindctrl commented on #4099
Shouldn't it be a 403 Forbidden?

[2015-12-30 16:12] pippinsplugins commented on #4099
Both could be argued to be correct I think. 401 would be if credentials were incorrect. 403 would be if credentials are correct but the user doesn't have the necessary permissions.

[2015-12-30 21:43] pippinsplugins commented on #3900
I still can't make it happen . .

[2015-12-30 22:09] samglover opened #4100 "MailChimp extension broke, probably with last update"

[2015-12-30 22:10] mindctrl commented on #4100
@samglover this is for Easy Digital Downloads plugin development. You'll want to open a support ticket here so we can help you fix it: https://easydigitaldownloads.com/support

[2015-12-30 22:10] #4100 closed

[2015-12-30 22:12] samglover commented on #4100
Just FYI, I would have done that in the first place but I didn't see a link to the support page anywhere in the plugin.

[2015-12-30 23:06] #4083 closed

[2015-12-30 23:10] pippinsplugins commented on #3633
@cklosowski I just tested it again and it's failing in exactly the same way on pippinsplugins.com: https://cloudup.com/cRZLgsMB9L1

[2015-12-31 06:49] DustinWStout opened #4101 "Product page title showing <span itemprop="name">...</span> code"
On the product pages (single) it's showing `<span itemprop="name">[TITLE]</span>` rather than just the title as it should. I can't figure out why this is happening.

Link to example: http://beta.dustn.co/downloads/flat-minimal-social-media-icons/

Theme: Altitude Pro Child Theme (Genesis 2.2.5)
WordPress Version: 4.4

<img width="764" alt="screen shot 2015-12-30 at 10 41 24 pm" src="https://cloud.

[2015-12-31 15:03] pippinsplugins commented on #4101
@DustinWStout This is caused by an error in your theme. See http://sumobi.com/how-to-fix-the-strange-html-markup-in-download-titles/

[2015-12-31 15:03] #4101 closed

[2015-12-31 16:04] mindctrl commented on #3731
Getting an undefined variable on `$key` here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/640beb03fa504b0bf11a23845ecb7b7899533a82#commitcomment-15221571

[2015-12-31 17:26] pippinsplugins commented on #3935
Extension with new version available but no license key:
![screen shot 2015-12-31 at 11 25 58 am](https://cloud.githubusercontent.com/assets/1034109/12066668/57a5a5ba-afb1-11e5-8f64-c7c50a8038a2.png)
Extension with update available and valid license key:
![screen shot 2015-12-31 at 11 26 33 am](https://cloud.githubusercontent.com/assets/1034109/12066675/652f9a88-afb1-11e5-8a0c-c9a8432be6f5.png)

[2015-12-31 17:29] pippinsplugins commented on #3935
I'm going to add a message about needing to activate the license key on ones that don't have it.

[2015-12-31 17:44] pippinsplugins commented on #3935
Plugin without valid license key and update available:
![screen shot 2015-12-31 at 11 44 04 am](https://cloud.githubusercontent.com/assets/1034109/12066831/d7a70e14-afb3-11e5-8540-3ea86066bc5c.png)

[2015-12-31 17:46] pippinsplugins commented on #3935
Changed message to `Enter valid license key for automatic updates.`

[2015-12-31 18:15] DustinWStout commented on #4101
Thanks @pippinsplugins. I looked at the article from @sumobi and don't know how I didn't find it before. However, I'm using a modified version of your single-download.php and have the following for the title:

`<h1 class="entry-title"><?php the_title_attribute(); ?></h1>`

That doesn't seem to have fixed it. It still outputs the same thing.

[2015-12-31 18:40] pippinsplugins commented on #4101
@DustinWStout Please go ahead and open a support ticket for us. GitHub is a development tool and not a location to get support. Thanks.

[2015-12-31 18:48] pippinsplugins commented on #3935
@easydigitaldownloads/core-devs This is now all merged into `release/2.5`. Could I get some testing on it please?

[2015-12-31 19:04] pippinsplugins commented on #3731
@mindctrl try now.

[2015-12-31 19:08] pippinsplugins commented on #3633
When reseting the store on a local site that has about 4,000 payment records, I'm getting a memory error:

Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 524288 bytes) in /wp-includes/wp-db.php on line 2344

Think we can do anything about that @cklosowski ?

[2015-12-31 19:08] mindctrl commented on #3731
@pippinsplugins that fixed that, but I do see something else. Can you test to see if adding a new row in the bundle works when you search for an item that isn't in the list of 20 or 30 we pull in? It's like the ajax query isn't firing off to find items not in the pre-populated list.

[2015-12-31 19:09] pippinsplugins commented on #3633
The queries currently delete by ID:
[code]

We really should change that do just a `DELETE WHERE` and remove the `IN`.

[2015-12-31 19:11] pippinsplugins commented on #3633
The other way to fix it would be to delete 50 at a time instead of querying all records at once, as this does:

[code]

[2015-12-31 19:29] SDavisMedia commented on #3935
All good on my end. :+1:

[2015-12-31 19:29] #3935 closed

[2015-12-31 20:29] danieliser opened #4103 "Admin Chosen JS unused variable."
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/d02aefe0d5d9b82c70e2a44880d1bafd191897c9/assets/js/admin-scripts.js#L1134

I believe its supposed to store e.which for reuse a few lines below. So either need to remove that variable or replace the further calls to e.which with lastKey.

[2016-01-01 12:24] sumobi commented on #3900
That's odd. I see the same issue in Firefox, Safari and Chrome. It takes a few seconds for it to change.

[2016-01-01 14:36] grappler opened #4104 "Replace $edd_options[ $key ] with edd_get_option()"
I hooked into `'edd_get_option_' . $key` to change the page id depending on the language used in Polylang.

Everything works fine in the front end but in the backend it does not work. The reason is that `global $edd_options;` is still being used in the callbacks.

To fix this we can replace `global $edd_options;` with `$edd_options = edd_get_option( $args['id'] );`and replace `$edd_options[ $args[

[2016-01-01 15:00] pippinsplugins commented on #4104
@grappler Good catch! I'd love a PR :)

[2016-01-01 15:05] pippinsplugins commented on #4103
AH yes, it should use `lastkey`.

[2016-01-01 15:11] flowdee opened #4105 "Save used tax rate to payment meta"
Saving the tax rate - which was used on creating a payment - to the payment meta as well as currently the tax amount would be very helpful.

[2016-01-02 11:53] cklosowski commented on #3633
@pippinsplugins doing an `IN` will trigger 1 reindex. Going through and doing a DELETE statement for every `ID` we need to will trigger multiple reindexes...unless I'm misreading what exactly your `DELETE WHERE` statement is you are thinking of.

But by doing a `DELETE WHERE IN()` we're kicking off a single query, instead of one for every.

As far as that total, you can't query all 50 and then get

[2016-01-02 15:15] NateWr opened #4108 "Taxes for entire purchase deducted from revenue of one item in cart when shown in report"
While investigating a discrepancy in my reported revenue, I noticed an issue with the reports. A purchase of one of my products that is typically $20 was showing at $5.30 which couldn't be explained by one of my discount codes:

![edd-tax-assignment](https://cloud.githubusercontent.com/assets/2306629/12074838/98b1926e-b162-11e5-8e06-16461a2ba0d8.png)

Investigating this further, I noticed that the

[2016-01-02 20:00] pippinsplugins commented on #4105
:+1:

[2016-01-02 20:34] jsonUK opened #4109 "Forced downloads: Nginx symlinks caused an issue (with fix)"
Hi,

The **X-Accel-Redirect** on Nginx appears to be wrong when using forced downloads on a symlinked web root.

I am using **version 2.4.10** (latest).

I use Capistrano for deployments on a Debian box - my folder structure looks like eg.:
`/var/www/example.com/current/htdocs -> /var/www/example.com/releases/20160101221139/htdocs`

`includes/process-download.php` on line `211`:
[code]

PHP report

[2016-01-03 00:33] chriscct7 opened #4110 "xDebug needs to be enabled for Travis-CI to have a code coverage drive and Scrutinizer-CI to work"
In https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4086 xdebug is being turned off for non HHVM runs.

This is a major problem since in order for Travis to have a code coverage driver (which Scrutinizer relies upon), xDebug must be enabled. This is actually the reason that Scrutinizer hasn't obtained updated information for the EDD repository in 17 days (same day as the pr was

[2016-01-03 00:34] chriscct7 commented on #4110
`if [[ $TRAVIS_PHP_VERSION != 'hhvm' ]]; then phpenv config-rm xdebug.ini; fi` just needs to be changed to something like
`if [[ $TRAVIS_PHP_VERSION != 'hhvm' && !( $TRAVIS_PHP_VERSION = '5.5' && $WP_VERSION = 'latest' && $WP_MULTISITE = '0' ) ]]; then phpenv config-rm xdebug.ini; fi` or something like that

[2016-01-03 15:01] pippinsplugins commented on #4109
Excellent, thanks @jsonUK

I suspect this is the cause of some of the download issues we've seen with nginx in the past. We'll get this taken care of asap.

[2016-01-03 15:05] pippinsplugins commented on #4108
Ah yes! You're absolutely right. When the `Exclude Taxes` box is checked, it's subtracting the total taxes from the amount instead of just the tax for that item.

We'll get it fixed.

[2016-01-04 03:06] pippinsplugins commented on #3633
I was thinking of deleting all records with a single query. Problem with an `IN` statement is it can fail 100% if there are too many records.

[2016-01-04 06:32] KienTrong opened #4111 "Shop Worker user role still access to Payment History"
Let say our website has user X with Shop Worker user role.

On your document page that user can only access to Downloads and Add New : https://easydigitaldownloads.com/wp-content/uploads/2013/02/Shop-Worker-620x157.png

On our website that user can access to Payment History too : http://cl.ly/093U22202N3M

Thanks.

[2016-01-04 07:03] corvannoorloos opened #4112 "Forms within paragraphs"
While I believe it's technically allowed to do so, browsers have some difficulties rendering them.

![4-1-2016 7-55-31](https://cloud.githubusercontent.com/assets/1499293/12084828/bd24fb5c-b2b8-11e5-8c7b-68aa3adfb2f1.png)

[code]

As the ones I could find aren't used, I think it would be safe to simply remove them.

Note 2.5 also includes a new occurrence. (of course happy to add a pr, but wasn't

[2016-01-04 12:22] NateWr opened #4113 "Forced file downloads can break when get_attached_file() returns relative path"
This is more of an edge case than a bug but since I just spent a while tracking it down I thought I'd give you a heads up.

`edd_process_download()` makes a call to `get_attached_file()` to return an absolute URL to the download.

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/process-download.php#L79-L88

[code]
`get_attached_file()` can return a relative URL:

[2016-01-04 14:39] mindctrl opened #4114 "Add a report for top selling items"
Customer pointed out that we don't have a report for the top sellers this month or last month, or any other period for that matter. It would be great to have that report available.

[2016-01-04 16:01] mindctrl opened #4115 ""No checkout page has been configured" can't be properly dismissed"
Customer reported that the notice can't be dismissed when a checkout page hasn't been configured. Looks like the conditional [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/2.4.10/includes/admin/class-edd-notices.php#L44) is wrong.

[2016-01-04 17:07] pippinsplugins commented on #4115
Let's get this fixed in 2.5.5

[2016-01-04 19:04] pippinsplugins commented on #4113
Good catch!

[2016-01-04 19:21] pippinsplugins commented on #4111
@KienTrong That's a case of the documentation being wrong. Shop workers are expected to be able to access payment history. I'll update the documentation.

[2016-01-04 19:21] #4111 closed

[2016-01-04 19:22] pippinsplugins commented on #4112
Let's get this fixed in 2.5.5

[2016-01-05 13:51] cklosowski opened #4117 "Dashboard widget recent sales doesn't update"
Our Dashboard widget refreshes using the heartbeat API, but only the numerical data refreshes. The recent sales list stays the same after the values refresh above it. We should look into having that list refresh as well.

[2016-01-05 15:03] pippinsplugins commented on #3731
@mindctrl do you see the same thing in license upgrades of Software Licensing?

[2016-01-05 15:08] mindctrl commented on #3731
@pippinsplugins no, the search in SL upgrade paths box still works.

[2016-01-05 15:19] pippinsplugins commented on #3731
@mindctrl Please try `issue/3731`

[2016-01-05 15:21] #2667 closed

[2016-01-05 17:18] pippinsplugins commented on #3633
Finally tracked it down!

[2016-01-05 17:18] #3633 closed

[2016-01-05 17:39] #3731 closed

[2016-01-06 02:08] bseddon opened #4120 "Item tax is lost when a download is added to an existing purchase"
In the back-end, on the view-order page, an administrator is able to add a download to an existing purchase and set a price.  However, when this action is taken, the item level tax is set to zero for all items in the cart.

This is a problem for me because it's necessary to create the EU VAT MOSS report based on item level tax information.  The tax rate that applies to different items in the cart

[2016-01-06 11:59] Alexlim91 opened #4121 "Front end submission php fatal error"
Hi,

I facing one problem with Front end submission after update to new version.

When i go to upload an items at the front page after fill all information then it show this error message "php fatal error" (Please check picture "32"below)
![32](https://cloud.githubusercontent.com/assets/14208881/12142050/f5edd262-b4af-11e5-90b2-f71673caa7d1.png)

Besides that, I also facing one problem when i go t

[2016-01-06 12:46] #4121 closed

[2016-01-06 12:47] chriscct7 commented on #4121
Hi @Alexlim90, please open a support ticket here and we'll dig into it for you: http://easydigitaldownloads.com/support/

This repo is for Easy Digital Downloads core development.

[2016-01-06 12:47] Alexlim91 commented on #4121
Why closed it?

[2016-01-06 12:48] Alexlim91 commented on #4121
I got submit. No people reply. I had waiting long time already

[2016-01-06 14:26] pippinsplugins commented on #4121
@Alexlim91 We'll be with you as soon as we can. Please be patient as we have many requests to work you. You are not being ignored.

[2016-01-06 15:49] #4110 closed

[2016-01-06 18:28] pippinsplugins commented on #4120
@bseddon Are you seeing this on `master` or `release/2.5`?

[2016-01-06 18:58] bseddon commented on #4120
I see it in 2.4.10.  A user of a VAT-MOSS plugin reported a problem with a report produced using the plugin that on examination was caused by the loss of the tax information.

Are you suggesting it may be addressed in 2.5?  I can try it if you think it may be.

[2016-01-06 21:21] cklosowski commented on #4120
@bseddon please see if it does. We updated the process of adding an item to a payment to use the new `EDD_Payment` class, which _might_ resolve this, but if it doesn't, I'd like to know earlier rather than later.

[2016-01-06 22:39] bseddon commented on #4120
I have downloaded 2.5rc1 and repeated adding a download to an existing purchase.  It seems that the tax value of existing items is no longer removed which is good news.  The observation I have is that tax is not calculated for the newly added item though this is not a new problem.

[2016-01-07 03:38] pippinsplugins commented on #3572
The `name` item appears to be missing too: https://wordpress.org/support/topic/add-schema-name-to-download-items

[2016-01-07 04:25] cklosowski opened #4122 "Add newsletter opt-in/newsletter to the Welcome and Add-Ons pages"
We should look at adding the tracking opt-in to the Welcome and Add-On pages. If the user has opted in, we should show a newsletter subscription form instead.

For the add-ons page, we could just make another card much like we did for the starter package by just adding a 'fake' card.

[2016-01-07 16:02] pippinsplugins commented on #3994
Also need to remove `fr_FR` since we are 100% translated on .org.

[2016-01-07 16:35] cklosowski opened #4123 "Fix paypal IPN listener hardening in some server envs"
Currently in some server environments the PayPal IPN listener will have a partially encoded `&` as an array key showing up as `amp;`. This breaks the listener.

We're adding something that loops the array of encoded values from the IPN Listener and looks for both `&amp;` and `amp;` and replaces it with `&` to help mitigate issues with the IPN when things get encoded in a way we're not expecting.

[2016-01-07 16:50] #3994 closed

[2016-01-07 17:01] #4123 closed

[2016-01-07 20:38] Zwilla opened #4126 "explode() expects parameter 2 to be string, null given - error"
explode() expects parameter 2 to be string, null given in class-edd-customer.php :501

array_filter() expects parameter 1 to be an array or collection in class-edd-customer.php :501

501: $notes_array = array_reverse( array_filter( explode( "\n\n", $all_notes ) ) );

[2016-01-07 20:39] pippinsplugins commented on #4126
@Zwilla Is that showing at the top of a customer details screen? Did that just happen after updating to EDD 2.5?

[2016-01-07 20:42] mindctrl commented on #4126
`explode()` is on 501 in version 2.4.10. Need more info.

[2016-01-07 20:43] pippinsplugins commented on #4126
#4127 should fix it. This does not appear to be anything new in 2.5 though.

[2016-01-07 20:51] Zwilla commented on #4126
Shows version 2.4.10 on plugin-page
I saw the error on hhvm-error.log

[2016-01-07 21:44] mgibbs189 opened #4128 "Remove "Max Uses" column from Discount Codes list"
When `Max Uses` is set, the `Uses` column adjusts to show (USES/MAX_USES).

This makes having a separate `Max Uses` column redundant, taking up valuable space. Thoughts?

<img src="http://i.imgur.com/u2i8VVt.png" width="319" height="261" />

[2016-01-07 21:48] pippinsplugins commented on #4128
I agree 100%.

[2016-01-07 22:30] brashrebel opened #4129 "Add recent PHP errors from logs to system info"
As suggested by @pippinsplugins during a meeting, an awesome addition to the system info would be a limited number of the most recently logged PHP errors.

[2016-01-07 22:36] leewillis77 commented on #4064
Came here to raise this (+1)

[2016-01-07 22:36] pippinsplugins commented on #4064
:)

[2016-01-07 23:53] pippinsplugins opened #4130 "Using add_filter() on filters in EDD_Payment can trigger an infinite loop"
Due to the way the setup_payment() method works, using `add_filter()` on filters in the `EDD_Payment` class can result in an infinite loop.

[2016-01-07 23:57] mindctrl opened #4131 "Payments not attached to customers during logged out purchases"
Payments aren't being attached to the customer records when buyers are logged out. This seems to only happen when users do not supply a last name.

[2016-01-08 00:29] pippinsplugins commented on #4131
@mindctrl It works properly for me.

[2016-01-08 00:29] #4131 closed

[2016-01-08 00:49] bseddon opened #4133 "Deactivate license button now missing in 2.5"
I've just been updating my settings code to take advantage of the new sections (simple to do which is great).

However, I noticed that I'm now not able to deactivate any licenses.  The reason is a backwards incompatible change from 2.4.10 -> 2.5.  The test in 'edd_license_key_callback' (register-settings.php) now expects the result of the 'is_valid_license_option' option to be an object.  Until no

[2016-01-08 00:53] pippinsplugins commented on #4133
@bseddon I believe ^ will fix it.

[2016-01-08 00:55] #4126 closed

[2016-01-08 00:56] #4133 closed

[2016-01-08 01:06] pippinsplugins opened #4135 "Item amounts not saving properly when adding a download to a payment"
When adding a new download to a payment, the amount entered in the `Item Amount` is not saved properly.

[2016-01-08 01:23] #4135 closed

[2016-01-08 01:31] #4130 closed

[2016-01-08 01:46] pippinsplugins commented on #4128
Thanks @mgibbs189 !

[2016-01-08 16:03] jusboyka opened #4140 "easy digital downloads update bug"
There is a bug with the display of the beat store payment history and customers the menu shows up distorted
![edd bug](https://cloud.githubusercontent.com/assets/16600271/12202334/3cd094c2-b621-11e5-9f4c-80f5460c19e2.png)
![edd bug 1](https://cloud.githubusercontent.com/assets/16600271/12202335/3cd0985a-b621-11e5-8d9b-d68111b6a4a3.png)

[2016-01-08 16:27] pippinsplugins commented on #4140
@jusboyka if you increase the size of your browser window, does the problem go away?

[2016-01-08 16:41] pippinsplugins opened #4141 "Buy Now links going to empty checkout"
We've seen several reports of Buy Now links sending customers to an empty checkout screen instead of PayPal since updating to 2.5.

[2016-01-08 16:41] pippinsplugins commented on #4141
One ticket: https://secure.helpscout.net/conversation/159043844/24896/?folderId=180499

[2016-01-08 16:47] pippinsplugins commented on #4141
When this happens, the customer is sent to the checkout screen with `?payment-mode` appended to the URL.

[2016-01-08 16:48] cklosowski opened #4142 "Fees tied to cart items counting twice"
In 2.5, the `EDD_Payment->add_download` method is looping fees and adding them to the list of fees, however this is causing a double count of the fee.

[2016-01-08 17:11] pippinsplugins commented on #4141
So far I cannot replicate this behavior.

[2016-01-08 18:35] zackkatz commented on #3755
:+1:

[2016-01-08 18:39] corvannoorloos opened #4145 "Format variable pricing placeholder amount"
I realize there's `edd_format_amount`, but I'm probably overlooking when the placeholder amount is being used.

Can the placeholder amount be formatted/translated?

![8-1-2016 19-27-20](https://cloud.githubusercontent.com/assets/1499293/12206114/669df9ca-b63f-11e5-977e-f3fc5184dfa3.png)

[2016-01-08 18:56] pippinsplugins commented on #4145
How would you like to change the format of it?

[2016-01-08 18:59] pippinsplugins commented on #4141
Another ticket: https://secure.helpscout.net/conversation/158886693/24857/?folderId=180504

[2016-01-08 19:02] corvannoorloos commented on #4145
I wanted to change the decimal separator of the placeholder

[2016-01-08 19:18] jusboyka commented on #4140
the screenshot is a full screenshot. when i shrink the size of the window it goes back to normal but increasing does not work

[2016-01-08 19:24] pippinsplugins commented on #4140
@jusboyka does the problem happen on 2.4.10 as well?

[2016-01-08 19:39] jusboyka commented on #4140
I think it was ok on that version I'm not 100% sure but I updated to 5 & then 5.1

[2016-01-08 20:06] pippinsplugins commented on #4145
Ok that sounds like a bug in our place holder. We can get that fixed in a future version.

[2016-01-08 21:05] jplhomer opened #4146 "Add JS trigger to `edd_load_gateway()` for third-party hooks"
It would be nice to have a hook to use for third-party plugins/themes when loading in a gateway over AJAX. This would enable input validation for a given payment gateway form.

E.g.:

[code]

I'll work up a pull request for this now!

[2016-01-08 21:14] pippinsplugins commented on #4146
@jplhomer Love the idea :)

[2016-01-08 22:43] cklosowski commented on #4141
I cannot replicate this either.

[2016-01-08 23:01] pippinsplugins commented on #4140
Could you please test? I'm not able to replicate this issue.

[2016-01-08 23:05] #4142 closed

[2016-01-08 23:57] stephywells opened #4150 "edd_is_payment_complete returning false"
PDF invoices aren't downloading on my site because edd_is_payment_complete is always returning false after the download link is clicked. Changing === to == solved the problem for me in this line:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/payments/functions.php#L757

I'm not seeing anywhere that is sanitizing the payment id or forcing it to be an integer be

[2016-01-09 00:11] pippinsplugins commented on #4150
@stephenharris Could you var dump the `$payment_id` and `$payment->ID` and post the results?

[2016-01-09 00:16] stephywells commented on #4150
I'm getting string(6) "194572" int(194572)

[2016-01-09 00:17] pippinsplugins commented on #4150
That would do it! We'll fix in 2.5.3.

[2016-01-09 00:19] stephywells commented on #4150
Thanks!

[2016-01-09 00:23] pippinsplugins commented on #4150
^ that should take care of it.

[2016-01-09 00:26] stephywells commented on #4150
Looks great! Thanks again!

[2016-01-09 10:18] jusboyka commented on #4140
how do I go back to previous versions?

[2016-01-09 14:34] pippinsplugins commented on #4141
Replicated it! It only happens when logged out.

[2016-01-09 14:34] pippinsplugins commented on #4141
https://secure.helpscout.net/conversation/159261027/24962/?folderId=180499

[2016-01-09 14:50] pippinsplugins opened #4152 "Status passed to edd_insert_payment() not respected"
`edd_insert_payment()` used to allow a status to be passed in. This no longer works with `2.5.x` and results in payments being left as `pending`.

[2016-01-09 14:51] #4150 closed

[2016-01-09 15:02] cklosowski commented on #4141
The issue was that the `EDD_Payment` class was returning a failure on an empty post_title for the payment, this now allows it to be empty.

[2016-01-09 15:05] #4152 closed

[2016-01-09 15:14] pippinsplugins opened #4155 "Download links missing from email receipt for some users"
We've seen several reports of file download links missing from the emailed purchase receipt.

https://wordpress.org/support/topic/problem-for-new-update
https://secure.helpscout.net/conversation/159245209/24947/?folderId=180499

[2016-01-09 15:16] pippinsplugins commented on #4140
@jusboyka They can be downloaded from here: https://wordpress.org/plugins/easy-digital-downloads/developers/

[2016-01-09 15:42] jusboyka commented on #4140
will affect the products I have uploaded to the beat store

[2016-01-09 15:46] #4141 closed

[2016-01-09 15:50] #4128 closed

[2016-01-09 16:01] pippinsplugins commented on #4155
Links work properly for me with Mandrill.

[2016-01-09 16:03] pippinsplugins commented on #4155
They work fine for me with Amazon S3.

[2016-01-09 16:05] pippinsplugins commented on #4155
They work fine for me with Dropbox File Store.

[2016-01-09 16:06] pippinsplugins commented on #4155
I've also tested with file downloads restricted to a single price option.

[2016-01-09 16:18] jusboyka commented on #4140
i've tried 2.51, 2.4.9, 2.4.8,2.4.6,2.4,2.39 still the same issue

[2016-01-09 16:23] mindctrl commented on #4140
@jusboyka this sounds like a browser cache issue or a conflict with another plugin or theme. Does it look right if you clear your cache and temporarily deactivate all other plugins and switch to the default Twenty Sixteen theme? Feel free to open a support ticket [here](http://easydigitaldownloads.com/support/).

[2016-01-09 16:34] jusboyka commented on #4140
I can try that but i never had any issue before the update and I have viewed it in more than 1 browser and the issue is the same

[2016-01-10 02:16] bseddon opened #4156 "Backwards incompatibility saving settings in 2.5.x"
I think there is an incompatibility for developers who sanitize their settings using a custom sanitizer and it may be helpful to alert them to this situation.  In my case it has meant that changes to settings may be retained when they are invalid.  Of course I will be putting out an update that is compatible with 2.5 but perhaps others will be in the situation that their existing plugin will allow

[2016-01-10 09:59] mgibbs189 opened #4157 "Remove "Status" column from Discount Codes list"
Instead of showing the `Status` column, what if we just highlight Active discount codes (like on the plugins listing page)?

<img src="http://i.imgur.com/6XIOAca.png" width="279" height="171" />

If you like the idea, I could submit a PR.

[2016-01-10 14:04] WPExpert opened #4158 "FES 2.3 will not run under PHP 7.02"
Fatal error: 'continue' not in the 'loop' or 'switch' context in ../wp-content/plugins/edd-fes/classes/admin/downloads/class-download-table.php on line 102

[2016-01-10 14:16] mindctrl commented on #4155
Another one https://secure.helpscout.net/conversation/159381677/24993/?folderId=180499

[2016-01-10 14:37] pippinsplugins commented on #4155
And another: https://wordpress.org/support/topic/253-version?replies=1#post-7867977

[2016-01-10 14:37] pippinsplugins commented on #4155
^ those two are from the same user.

[2016-01-10 17:16] bbnomics opened #4159 "Goal link is showing 0 and marking campaigns as successful"
I'm having an issue with the goal amounts remaining on the campaign immediately after the two latest updates. no matter the goal amount, it keep reverting back to 0 and marking the campaign as successful even though it hasn't ended.

[2016-01-10 22:10] SDavisMedia commented on #4140
@jusboyka I agree with @mindctrl. This is probably a conflict with another plugin or theme. Considering it's happening across multiple versions and browsers but only for you, it's most likely a conflict specific to your site. Regardless of what it is, we need to troubleshoot in the correct support channel.

If you haven't done so already, please go ahead and open a support ticket and we'll go from

[2016-01-10 22:10] #4140 closed

[2016-01-10 22:16] pippinsplugins commented on #4158
@WPExpert We track extension bug reports through their own dedicated repositories. FES is a private repository but I am tracking the issue for you and we will have it fixed.

[2016-01-10 22:16] #4158 closed

[2016-01-10 22:49] jusboyka commented on #4140
ok thanks for all the help

[2016-01-11 02:50] pippinsplugins commented on #4155
I saw a mention of one user resolving this by disabling symlinks.

[2016-01-11 05:42] pippinsplugins commented on #4157
Ooh, I rather like that idea!

[2016-01-11 08:57] WPExpert commented on #4158
FWIW I recently had a problem with Redux claiming it was PHP7 compatible, when it wasn't. However, they very quickly fixed it...

`On 1 January 2016 at 22:43, Kevin Provance <notifications@github.com> wrote:
When you contract them, mention it's a PHP 7.0 issue, and he should update Redux to version 3.5.8.12, which addresses this.

​Thank you so much Kevin.​`

Then again later...

`​From: Dovy Pauk

[2016-01-11 14:43] mindctrl commented on #4155
Symlinks already disabled on the one above.

[2016-01-11 15:25] pippinsplugins commented on #4155
Another potential report: https://wordpress.org/support/topic/problem-in-v253

[2016-01-11 15:30] pippinsplugins opened #4160 ""Sorry, trouble retrieving payment receipt" shown since 2.5 for some customers"
We've now had at least 4 reports of the `Sorry, trouble retrieving payment receipt` message being shown to customers after completing a purchase. I have not yet tracked down why this happens nor have I replicated it. I tested on one of the sites that reported having the problem and did not replicate it.

Reports:
https://wordpress.org/support/topic/problem-in-v253
https://wordpress.org/support/top

[2016-01-11 15:32] mindctrl commented on #4160
https://secure.helpscout.net/conversation/159234868/24944/?folderId=180504

[2016-01-11 15:40] pippinsplugins commented on #4155
Could be related to #4160

[2016-01-11 15:52] mgibbs189 commented on #4157
@pippinsplugins Great, I'll submit a pull request

[2016-01-11 15:53] pippinsplugins commented on #4159
@bbnomics It sounds like you're referring to the Crowd Funding or Donations plugin. This page is for EDD core development only. Support for the plugin and all extensions is handled through our website. Please open a ticket there: https://easydigitaldownloads.com/support

[2016-01-11 15:53] #4159 closed

[2016-01-11 15:59] pippinsplugins commented on #4157
:+1:

[2016-01-11 16:06] chriscct7 commented on #4158
FES's PHP7 issues don't come from Redux. FES bundles a forked version of Redux where I already fixed the issues they just pushed a release for among other bugs. We're also actually moving away from Redux next major release (see https://trello.com/c/rtKjV1tB/126-fes-settings-to-be-in-edd-settings), where we've also fixed additional PHP 7 issues. It's a bit harder for us to fix all at once, since I

[2016-01-11 16:12] chriscct7 commented on #4157
I like the idea, but before we merge this, I'd like to do some user testing
on the idea. I wonder how intuitive this is going to be for non-developers
and non-WordPress power users. My concern stems that there might be a
significant portion of EDD users who get their websites with EDD perhaps
already installed, or that in some organizations there are people who would
just use EDD and not have to d

[2016-01-11 16:12] chriscct7 commented on #4157
Basically the question would be: If a person has never seen the plugins
menu page, how intuitive is the blue background

On Mon, Jan 11, 2016 at 11:11 AM, Chris Christoff <chriscct7@gmail.com>
wrote:

[2016-01-11 16:20] pippinsplugins commented on #4156
Thanks @bseddon! We'll get that fixed asap./

[2016-01-11 16:41] cklosowski commented on #4156
This doesn't quite work, as now settings show up in both locations, for instance, Recommended Products (which locally has been updated to use the new settings sections) shows in both the Main section as well as the `Recommended Products` subsection.

I'll see if I can come up with a solution though.

[2016-01-11 16:43] cklosowski commented on #4156
![screen shot 2016-01-11 at 9 43 02 am](https://cloud.githubusercontent.com/assets/1390124/12239800/bb2e832e-b847-11e5-909b-21c4ef46496d.png)

![screen shot 2016-01-11 at 9 42 51 am](https://cloud.githubusercontent.com/assets/1390124/12239806/bf6c6d48-b847-11e5-8e5e-7f34b83d40c8.png)

[2016-01-11 16:46] bseddon commented on #4156
That will be true for a plugin that implement *both* a section callback and a legacy callback.  In the case of a legacy plugin, there will be no section in which it will appear ('Recommended products' in your example).  Are you sure you have not left the new section definition in the example you are creating?

[2016-01-11 16:54] cklosowski commented on #4156
@bseddon we already have developers using the examples provided, so we need to find a solution that will not require them to change as well...

[2016-01-11 17:08] mgibbs189 commented on #4157
@chriscct7 We'd need to ask the WP design team, but I'm assume it's pretty intuitive for them to go this route for the plugins page.

For users not familiar with this color coding, the learning curve is really low. Users who see the blue background can over over the Discount Code to see a "Deactivate" link. Common sense suggests that if the link is "Deactivate", then the discount must currently be

[2016-01-11 17:14] cklosowski commented on #4156
@bseddon correct sorry, I miss-typed an array assignment. Going to test this out with a few extension I know have updated yet and see if i catch any warnings/errors or odd behavior

[2016-01-11 17:17] mgibbs189 commented on #4157
@chriscct7 User testing for WCMIA would be cool. I'd be happy to contribute, just let me know if you need anything (e.g. a PR to some user testing branch).

[2016-01-11 17:39] chriscct7 commented on #4157
@mgibbs189 There wasn't a user test on or since it was added 8 years ago in WordPress 2.5. It was just a cool thing they wanted to do to make it easier to distinguish: https://core.trac.wordpress.org/ticket/6067

Before background colors, it used to be that the color of the text of the plugin name was color coded active: https://core.trac.wordpress.org/ticket/6019

Since 2.5, the colors have been

[2016-01-11 17:48] WPExpert commented on #4158
Done!​​

On 11 January 2016 at 16:06, Chris Christoff <notifications@github.com>
wrote:

[2016-01-11 17:54] chriscct7 commented on #4158
Thanks!

On Mon, Jan 11, 2016 at 12:48 PM, Terence Milbourn <notifications@github.com

[2016-01-11 18:09] cklosowski commented on #4156
@pippinsplugins @bseddon ready for some testing @mindctrl please try too?

[2016-01-11 18:18] daigo75 opened #4162 "EDD_Payment::setup_currency() may return the wrong currency"
Method `EDD_Payment::setup_currency()` is designed to return the active currency when an order (payment) doesn't have any currency associated to it. Such behaviour is incorrect, for a couple of reasons:

- A payment must always have a currency associated to it. The absence of such informatiom should be treated as an error.
- The active currency may change dynamically in multi-currency environments

[2016-01-11 18:29] cklosowski commented on #4160
We should be paying close attention to session management on these. The redirect to the success page looks to 3 places for a payment key (which is missing when this error is shown). First it looks to the query string, then to the passed arguments, then to the session.
[code]

[2016-01-11 18:33] pippinsplugins commented on #4156
Changes look good to me.

[2016-01-11 18:34] pippinsplugins commented on #4162
If we don't have a currency explicitly set in the payment meta, we should default to `edd_get_currency()`.

[2016-01-11 18:38] daigo75 commented on #4162
Unfortunately, that's incorrect. If there is no currency set in the meta, then there is no currency that applies to the order, and no default is valid. There is no guarantee that the order was placed in any specific currency, therefore assuming that the active one is the one to take is wrong.

Besides, unless you set the currency in the meta when it's missing (i.e. you "patch" the missing data and

[2016-01-11 18:41] cklosowski commented on #4162
@daigo75 there needs to be some sort of default used or else we'll have some issues with gateways. In all cases prior to 2.5, we've always defaulted the gateway on a payment of the store default, this defaulting is not new.

[2016-01-11 18:43] cklosowski commented on #4162
Here is where the code was previously run:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/release/2.4/includes/payments/functions.php#L1120

The `EDD_Payment` class has just centralized all of the payment helper functions into a unified class. We've not changed any functionality on the default currency of a payment when missing payment meta, however we should do an `empty` che

[2016-01-11 18:44] daigo75 commented on #4162
@cklosowski there is a difference between the currency used before payment and the one used after. When a payment is created the currency **must** be stored in its metadata (in the database), in that moment. You can't take the active currency at a later stage, as it will change dynamically.

My point is that there cannot be a payment without currency in the metadata, as that will cause all sorts o

[2016-01-11 18:45] pippinsplugins commented on #4162
@daigo75 We don't disagree. A currency code should always be stored, but we also need to properly fallback if one wasn't stored for some reason.

[2016-01-11 18:45] daigo75 commented on #4162
@pippinsplugins and that's the issue: there is no valid fallback, as I already explained.

[2016-01-11 18:46] pippinsplugins commented on #4162
@daigo75 Yep, got it. We're fixing it.

[2016-01-11 18:49] daigo75 commented on #4162
If you review an order and you see it as 123.45 USD, then you open it later and you see it as 123.45 GBP, I'm quite sure that you will start wondering what's going on. This is the type of issue that has to be avoided, or shop owners will get alarmed.

My opinion is that this issue can be prevented quite easily by forcing a currency whenever it's missing. At a glance, the best place to do that coul

[2016-01-11 18:52] daigo75 commented on #4162
I should be able to send you a pull request with a proposed patch, hang on.

[2016-01-11 18:52] pippinsplugins commented on #4162
We do need to ensure it's always inserted with a currency but we also need to ensure that when one isn't (due to technical error most likely), that it displays something.

[2016-01-11 18:52] daigo75 commented on #4162
@pippinsplugins that's the key: in a system with six currencies, which one is the correct one?

[2016-01-11 18:53] pippinsplugins commented on #4162
@daigo75 The store default. Always.

[2016-01-11 18:53] bseddon commented on #4156
It seems you are right that the fix cannot be this simple minded.  When the issue pull request is installed, any *new* tax rates added or existing tax rates removed they are not saved.  Other changed made on the taxes page at the same time are saved.

I've gone back to 2.5.3 where I am able to save rates but when this change is implemented any changes to the rates are not saved.

In both cases I'v

[2016-01-11 18:54] daigo75 commented on #4162
In which case, you should not call `edd_get_currency()`, which returns the active currency (whose value changes dynamically), but `edd_get_option( 'currency' )`. And, in such case, you could patch" the order and store the missing currency against it, instead of determining it dynamically.

[2016-01-11 18:58] pippinsplugins commented on #4162
No, `edd_get_currency()` should always be used, never `edd_get_option( 'currency' )`. Using the helper function ensures the proper filters are run on it.

[2016-01-11 19:02] daigo75 commented on #4162
That's precisely the cause of the issue. With `edd_get_currency()` you don't get the shop's base currency, but the **active** currency (the two match, by coincidence, only when you have a single currency in the shop). That function can return **any** of the available currencies, at any given time, and this causes the issue I reported in the first place: the order with the missing currency will app

[2016-01-11 19:08] pippinsplugins commented on #4162
`edd_get_currency()` returns the shop default. Your plugin modifies the response to return the "active" currency. That means you need to modify how your filter works to respect the shop default as well.

[2016-01-11 19:11] daigo75 commented on #4162
I'm afraid that's not possible. The filter is not aware that is should return shop's base currency, because it cannot be: there are no elements to determine that context (i.e. there is nothing that says "now we really need the shop's default").

[2016-01-11 19:14] pippinsplugins commented on #4162
As long as payment records don't get created without a currency, this should never be a problem. Have you seen payments created without a currency recently? If so, do you see it when running EDD core by itself without extensions?

[2016-01-11 19:15] daigo75 commented on #4162
I've seen some payment created on a customer's system before they used my plugin, but I can't determine the reason why that happened. All I see is that those payments are all "pending".

[2016-01-11 19:18] pippinsplugins commented on #4162
If they are payments from 2+ years ago, that's very possible.

[2016-01-11 19:19] daigo75 commented on #4162
I created a PR that should help preventing the issue. If you have some time to spare, you can have a look at that (I just wrote it).

I was also thinking that, as a fallback, we could have a filter for the default payment currency too. That would not change the logic as it is, and it would provide a context in which the `edd_get_currency()` could return shop's base currency. Example:

[code]

[2016-01-11 19:21] daigo75 commented on #4162
Since the issue only affects multi-currency environments, the filter would allow the plugins that implement such feature to take action as they need. A call to that filter would automatically imply that the payment has no currency associated to it (if I'm not mistaken, the ternary operator is short-circuited), and the user could be informed about it. The multi-currency solution could then provide

[2016-01-11 19:27] mindctrl commented on #4155
[Customer](https://secure.helpscout.net/conversation/159245209/24947/?folderId=386431) said email links were not missing from the copy the admin gets.

[2016-01-11 19:36] pippinsplugins commented on #4162
The PR looks good. We'll test and review for 2.5.5.

[2016-01-11 19:40] cklosowski commented on #4156
@bseddon looking into that quick.

[2016-01-11 19:44] daigo75 commented on #4162
Should I also make a PR with the new filter for payments' default currency? It will take me a minute.

By the way, while we are at it: why is the `EDD_Payment` class declared as `final`? It could be useful to be able to subclass it.

[2016-01-11 20:02] pippinsplugins commented on #4162
@daigo75 Another PR would be fine though that should be a separate issue/PR.

The class is marked as `final` for now since it is brand new. Once it is fully stable and we're ready for developers to start extending it, we will remove the `final`. See this post for more details: https://easydigitaldownloads.com/development/2015/12/15/introducing-edd_payment/

[2016-01-11 20:16] daigo75 commented on #4162
Ok, I will open a new issue/feature request and submit a PR.

As for the class, it's a welcome addition. I had created my own Order class (just for consistency with other plugins, as a payment is the equivalent of an order in other ecommerce systems) about two years ago, because there wasn't one available. It does almost the same things that your EDD class I will be happy to move to a subclass of

[2016-01-11 20:18] daigo75 opened #4164 "New feature - Filter for payment's default currency"
Ref. https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4162#issuecomment-170660140

Why
--
The filter allows plugins that implement multi-currency features feature to take action when a payment doesn't have a currency associated to it (an error condition that must be handled). A call to the filter implies that the payment has no currency associated to it. The shop owner can, th

[2016-01-11 20:23] daigo75 commented on #4162
Done: #4165.

[2016-01-11 20:27] pippinsplugins commented on #4162
:+1:

[2016-01-11 21:38] bseddon commented on #4156
In the pull request the line below is different (missing an underscore before 'sanitize'):

	$section_inputs = apply_filters( 'edd_settings_' . $tab . '-' . $section . 'sanitize', $input );

In 2.5.3 the same line is:

	$section_inputs = apply_filters( 'edd_settings_' . $tab . '-' . $section . '_sanitize', $input );

[2016-01-11 22:42] pippinsplugins commented on #4155
Another potential report: https://secure.helpscout.net/conversation/158834689/24843/?folderId=180505

[2016-01-12 00:23] bseddon commented on #4156
Here's what I think is the problem with tax rates being lost (my apologies if you've already resolved this issue but I need to fix this to be able to look at a different problem with another plugin).

The two issues above mean the filters are not being called.  When these are addressed, the tax rates are saved.  However, they disappear when anything in another section within the taxes tab are save

[2016-01-12 01:06] pippinsplugins commented on #4155
I've just about tracked this down. It only happens when using Buy Now buttons.

[2016-01-12 01:16] pippinsplugins commented on #4155
Here's something REALLY weird.

After the payment goes from `Pending` to `Complete`, it's getting reverted back to `Pending`.

[2016-01-12 01:25] pippinsplugins commented on #4155
Oh I see why; the buy now buttons are causing some payments to be given a `future` status` since the creation date is in the future.

[2016-01-12 01:26] pippinsplugins opened #4166 "Updating a payment in admin should use $payment->status for setting status"
When updating a payment in the admin, `edd_update_payment_status()` is being used. This results in two instances of `EDD_Payment` being created. We should set the status with `$payment->status = $status` instead.

[2016-01-12 01:28] pippinsplugins opened #4167 "Payment date not saving when changed in admin"
When updating a payment record in the admin, the date cannot be changed. After updating the payment, the date reverts back to what it was.

[2016-01-12 01:30] pippinsplugins commented on #4155
That was it! Setting the timezone properly in `edd_build_straight_to_gateway_data()` fixes it.

[2016-01-12 01:41] pippinsplugins opened #4169 "Recount customer stats: Missing argument 2 for wpdb::prepare()"
When recounting stats for a single customer, the following error is shown:

Missing argument 2 for wpdb::prepare(), called in /wp-content/plugins/easy-digital-downloads/includes/admin/tools/class-edd-tools-recount-single-customer-stats.php on line 256

[2016-01-12 01:50] pippinsplugins commented on #4160
This may be resolved with #4168

[2016-01-12 02:10] pippinsplugins commented on #4160
This user does NOT use buy now buttons and payments are marked as complete: https://wordpress.org/support/topic/sorry-trouble-retrieving-payment-receipt-error-message-for-logged-in-user?replies=4#post-7874561

[2016-01-12 02:47] pippinsplugins commented on #4164
Seems like a good idea to me.

[2016-01-12 03:13] pippinsplugins opened #4171 "Buy Now buttons creating pending payments instead of private payments"
Buy Now buttons are supposed to set payment records as `private` but since 2.5 they are getting set as `pending`.

[2016-01-12 05:10] cklosowski commented on #4171
We tested this with the buy now bug issue we saw on Saturday Your fix with mine combined was giving payments set to private. Have they tested and replicated on 2.5.3?

[2016-01-12 05:16] cklosowski commented on #4171
[code]

![screen shot 2016-01-11 at 10 12 18 pm](https://cloud.githubusercontent.com/assets/1390124/12255434/e501e6a0-b8b0-11e5-9697-c3f56d4f8b24.png)

Getting set to private for me on `master`

[2016-01-12 05:20] #4169 closed

[2016-01-12 07:16] cklosowski opened #4174 "Notices when AJAX disabled in edd_process_add_to_cart"
There are indexes not set when AJAX is disabled, just checking for them.

[2016-01-12 07:30] cklosowski commented on #4156
@bseddon can you test with this PR? I've got the taxes saving as well as avoiding errors/notices on subsections when plugins that don't use them yet are active.

Thanks for catching the missing `_`, I've also made it so the legacy only runs on the `main` sanitization, which is where anything that hasn't implemented their subsection yet will be running, so that's where the legacy should filter.

[2016-01-12 08:04] upsellpl opened #4176 "edd_get_payment_currency_code not returns currency code"
As in subject - function edd_get_payment_currency_code for EDD 2.5.3 not returns currency code (tested for PLN).

[2016-01-12 08:40] SDavisMedia opened #4177 "profile editor shortcode not updating customer record first and last name"
Ticket: https://secure.helpscout.net/conversation/159506290/25034/

Using the `[edd_profile_editor]` shortcode, a user can edit his or her profile including first and last name. Editing this form updates the WordPress user profile as well as the customer record. However, even though the fields in the shortcode will save and the WP user profile will reflect the changes, the customer record will NOT

[2016-01-12 09:23] bseddon commented on #4156
That works.

[2016-01-12 12:26] bseddon commented on #4156
The change doesn't work completely.  If only section sanitizers are used (will be the normal case on non-main sections)  the $input array is never updated so changes will not be saved.

This could be addressed either by adding an 'else' clause to the new 'if' statement in which $input is assigned to $section_inputs or by retiring the use of the $section_inputs array an only use $input:

	$input =

[2016-01-12 14:54] pippinsplugins commented on #4177
Let's get that fixed.

[2016-01-12 15:25] #4174 closed

[2016-01-12 15:26] #4166 closed

[2016-01-12 15:42] pippinsplugins commented on #4171
@cklosowski I was testing prior to my changes I think.

[2016-01-12 15:46] pippinsplugins commented on #4176
This has been fixed in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4162

[2016-01-12 15:46] #4176 closed

[2016-01-12 15:50] #4162 closed

[2016-01-12 16:21] cklosowski commented on #4156
@bseddon try again with those chagnes?

[2016-01-12 16:36] pippinsplugins commented on #4171
Looks like this is invalid and works fine.

[2016-01-12 16:36] #4171 closed

[2016-01-12 16:39] pippinsplugins commented on #4160
I suspect this is also related to timezones.

[2016-01-12 16:40] mindctrl commented on #4160
I tried a bunch of timezone settings yesterday but couldn't replicate.

[2016-01-12 16:40] pippinsplugins opened #4178 "Timezone sometimes set improperly when payments are created"
In 2.5, we changed when the default timezone is set. It appears that we now have some cases where the timezone is set after the date is generated, resulting in some payments getting dates in the future.

[2016-01-12 16:41] pippinsplugins commented on #4160
#4178

[2016-01-12 16:41] cklosowski commented on #4178
Going to add the time zone check at the top of `edd_insert_payment` as well, so that we can assure it's been run.

[2016-01-12 16:47] pippinsplugins opened #4180 "Better unit tests for dates and timezones of payment records"
In 2.5 we inadvertently caused some bugs when we modified how the payment dates are created, resulting in some payments being given a date in the future. To better protect against this in the future, let's add improved unit tests for these scenarios.

[2016-01-12 16:48] #4167 closed

[2016-01-12 17:03] pippinsplugins commented on #4156
This is working well for me.

[2016-01-12 17:03] bseddon commented on #4156
So far as I can tell this PR does fix all the problems we've been corresponding about.

[2016-01-12 17:04] pippinsplugins commented on #4156
Great, thanks @bseddon !

[2016-01-12 17:05] #4156 closed

[2016-01-12 17:13] pippinsplugins commented on #4160
Fixed (we think) with #4178. If we see any new reports of this after 2.5.5, we'll re-open.

[2016-01-12 17:13] #4160 closed

[2016-01-12 21:33] pippinsplugins commented on #4155
This is till happening in 2.5.4 for some usrs.

[2016-01-13 03:17] om4james commented on #3935
Hi @pippinsplugins,

I just wanted to let you know that these changes are working great for us.

Our premium plugin now shows update notifications in-dashboard even without a license key entered, but the customer has to activate their license key before they can actually install the pending update.

James

[2016-01-13 03:56] pippinsplugins commented on #3935
@om4james Glad to hear it!

[2016-01-13 04:52] pippinsplugins commented on #4178
Unfortunately this appears to still be happening for some sites. Re-opening for further investigation.

[2016-01-13 04:53] pippinsplugins commented on #4178
https://wordpress.org/support/topic/problem-in-v253/page/1 (see last few comments)

[2016-01-13 05:08] pippinsplugins commented on #4155
Unfortunately this is still happening to some users. Likely related to #4178

[2016-01-13 05:35] pippinsplugins commented on #4178
It still fails when using `WP-Parsidate` and the timezone is set to `Tehran`.

[2016-01-13 05:38] pippinsplugins commented on #4178
When we looked at it earlier, we were seeing differences in the date generated when creating purchases. Now, however, they are the same regardless of whether `WP-Parsidate` is active or not:

[code]

[2016-01-13 05:43] pippinsplugins commented on #4178
This problem happens for me even if `WP-Parsidate` is not active.

[2016-01-13 06:10] pippinsplugins commented on #4178
#4182 Resolves the problem *when not using WP-Parsidate*. The problem still occurs, however, when  `WP-Parsidate` is activated.

If we can confirm that the changes here resolve the problem for all instances except when using the `WP-Parsidate` plugin, I think we can put in a plugin compatibility layer that is something like this:

[code]

I tested and this `edd_parsidate_set_timezone()` function d

[2016-01-13 06:11] pippinsplugins commented on #4178
@easydigitaldownloads/core-devs I would like to test #4182 with *every single* timezone. If we can confirm it works as expected with all timezones, we can then work on just fixing the conflict with the `WP-Parsidate` plugin.

[2016-01-13 07:23] sumobi commented on #4178
"Manual offsets" group all working

[2016-01-13 07:37] sumobi commented on #4178
"UTC" group working (there was 1)

[2016-01-13 07:38] SDavisMedia commented on #4178
Africa all working.

[2016-01-13 07:47] sumobi commented on #4178
Pacific all working

[2016-01-13 07:49] sumobi commented on #4178
indian all working

[2016-01-13 07:51] SDavisMedia commented on #4178
America all working.

[2016-01-13 07:55] SDavisMedia commented on #4178
Antarctica all working.

[2016-01-13 07:56] SDavisMedia commented on #4178
Arctic working.

[2016-01-13 08:01] sumobi commented on #4178
Europe good

[2016-01-13 08:04] sumobi commented on #4178
Australia is great

[2016-01-13 08:06] sumobi commented on #4178
Atlantic is ace

[2016-01-13 08:14] SDavisMedia commented on #4178
Asia is golden.

That's all timezones confirmed working properly on `issue/4178` with wp-parsidate **deactivated**. :+1:

[2016-01-13 08:22] sumobi commented on #4178
Wait, we were supposed to test 4178? :scream:

jk

[2016-01-13 11:14] samikeijonen commented on #4178
Finland, we have a problem :)

I didn't read all the topics because kind of hurry at the moment. But here is the issue.

- New purchase.
- It doesn't get tracker in Payment history admin page.
- There is no links in email receipt for .zip files.
- There is no links in `[purchase_history]` for .zip files.

Just let me know how you want me to test this.

[2016-01-13 11:52] felixarntz opened #4183 "Unnecessary (huge) downloads query that may cause memory limit exhausted"
In the Add Discount form, a huge query is made to return all downloads (with `'nopaging' => true`). It looks to me that the resulting variable is not used at all. This query can be completely removed as far as I can see.

I would never have detected this, but if there are a lot of downloads available on a site, this query may even cause a 'Memory Limit exceeded' error (happened on 256 MB Memory Li

[2016-01-13 13:26] pippinsplugins commented on #4178
Sami, are you on 2.5.5? Can we get a list of plugins from you?

On Wednesday, January 13, 2016, Sami Keijonen <notifications@github.com>
wrote:

[2016-01-13 13:42] samikeijonen commented on #4178
Yes I'm on 2.5.5, I updated my reply. Plugins active at the moment:

[code]

[2016-01-13 13:43] samikeijonen commented on #4178
Ah at least PDF invoices needs update.

[2016-01-13 13:53] pippinsplugins commented on #4178
Would you be able to test this issue branch to see if it resolves the
problem for you?

On Wednesday, January 13, 2016, Sami Keijonen <notifications@github.com>
wrote:

[2016-01-13 13:57] samikeijonen commented on #4178
Sure.

[2016-01-13 14:09] samikeijonen commented on #4178
Works for me!

But the purchase made on master branch version 2.5.5 do not show up in Payment history. But if that has a future date that will show up there after a while I guess.

[2016-01-13 14:19] pippinsplugins commented on #4178
Excellent. That tells us what we need.

On Wednesday, January 13, 2016, Sami Keijonen <notifications@github.com>
wrote:

[2016-01-13 14:24] jameslaws commented on #4178
I'm on 2.5.5 and on EST, but transactions are being posted 5 hours in the past.

[2016-01-13 14:25] pippinsplugins commented on #4178
James, thanks. Same behavior we've been seeing. This issue branch fixes it.
Should see a point release later today.

On Wednesday, January 13, 2016, James Laws <notifications@github.com> wrote:

[2016-01-13 14:28] jameslaws commented on #4178
Awesome! Thanks for everything. The only real downside is that I thought we just had a killer day until I realized that a bunch of those transactions were technically for the next day. ;)

[2016-01-13 15:04] upsellpl commented on #4176
I've just updated EDD to 2.5.5 and still got this issue...

[2016-01-13 15:58] pippinsplugins commented on #4176
Is the payment marked as complete?

[2016-01-13 16:06] #4178 closed

[2016-01-13 16:06] pippinsplugins commented on #4155
Resolved through #4178

[2016-01-13 16:06] #4155 closed

[2016-01-13 16:38] #4183 closed

[2016-01-13 16:39] pippinsplugins commented on #4183
Thanks for noticing that! I've merged your PR and we'll include it in 2.5.7

[2016-01-13 17:33] upsellpl commented on #4176
It's called inside edd_complete_purchase action. I think that payment
status should not be important in this function.

2016-01-13 16:58 GMT+01:00 Pippin Williamson <notifications@github.com>:

[2016-01-13 17:55] cklosowski opened #4185 "Pass `edit_date` in the updating of a post date in EDD_Payment"
In order for `wp_update_post` to always update the date passed into `EDD_Payment` via the `save()` method, we need to set `'edit_date' => true` in the arguments.

[2016-01-13 23:54] chriscct7 opened #4187 "The View Payment Screen needs to ensure an option for payment status is present"
With the recent WP Parsidate plugin conflict, a new issue was exposed in the view payment screen.

A user using the plugin had a customer succesfully place an order. As a result of the aforementioned bug, the payment had a future date.

When a payment object is made for an order, the payment status key is set to the value of the post status. However, on the view payment page, the dropdown attempts

[2016-01-14 01:19] pippinsplugins commented on #4187
Seems like a good idea to me. Helps diagnose problems like this a LOT more easily.

[2016-01-14 02:26] #4185 closed

[2016-01-14 06:07] cklosowski opened #4190 "Add action in edd_undo_purchase_on_refund"
To make Hooking into a refund easier we should add an action after the refund is done, this will prevent a dev from having to replicate the logic.

[2016-01-14 15:34] jcbenton opened #4191 "PHP Notice - minor"
This pops when sending a test email from Settings > Emails.

Undefined variable: payment_data in /wp-content/plugins/easy-digital-downloads/includes/emails/functions.php on line 82

[2016-01-14 16:17] mindctrl opened #4192 "Wrong date format in last_week reports"
Reported by a customer:

"I wanted to point out, however, that there's a tiny glitch. In the file, \admin\reporting\graphing.php, on line 691, the later half of the code currently uses 'Y-n-d h:i:s' for formatting $base_time when viewing a report by last_week. The format should be 'Y-m-d h:i:s' instead because part of the get_weekstartend() function involves taking a substr() $base_time and assume

[2016-01-14 16:42] cklosowski opened #4193 "Symlinks with Redirect giving 403 in some cases"
From Support request https://secure.helpscout.net/conversation/159523379/25044/?folderId=375162

Users getting a 403 with download method of redirect and symlinks enabled. Only way to get this to work was with the following:

`add_filter( 'edd_symlink_file_downloads', '__return_false' );`

Which is the same as turning off the option.

[code]

It could be that the permissions are incorrectly set on

[2016-01-14 16:46] cklosowski commented on #4157
I agree, some user testing here might be good, and it cannot be guided. We'd need to have to ask the user to find discounts codes, and identify an active, inactive, and expired discount code, without our help. We'd need to have a configuration already setup and ready for people to look at, but I fully support the idea of showing them the two setups.

I think ti's a great concept, just concerned of