[2015-01-28 18:09] cklosowski opened #3025 "Customer by Product export enhancements"
As suggested in the comments of #3020 by @bizzthemes, we should enhance the Customer Export when doing it for a specific product by:
1. Change to Chosen to avoid sort issue
2. Allowing an export of all price options in addition to a single price option.

[2015-01-28 18:42] pippinsplugins commented on #3025
:+1:

[2015-01-28 19:45] sumobi commented on #3021
:+1: Dealt with a couple of these tickets recently where the customer thinks this is a bug because all the blank customer details, not to mention the number that are generated. The customers are obviously just clicking the buy buttons, going to paypal and then abandoning.

[2015-01-28 19:51] pippinsplugins commented on #3021
At minimum, let's hide the payments.

[2015-01-29 04:48] cklosowski commented on #3020
Ok @pippinsplugins, I think this should do it.

I tested it out on my dev environment with 9500 payments, but only about 100 of those are in ```live``` mode so that's not an AMAZING stress test. We should push this on a staging of EDD site or something to see how it performs...

This includes getting the update done for all payments, accounts for payments with the mulit-price id purchase option en

[2015-01-29 07:34] danieliser commented on #2548
This is looking really promising. I also agree on splitting the main menu up. Mine now has 16 submenu items.

You could even go as far as to make a 3rd Top level menu item for extensions to use that only shows if an extension has added a menu item to it.

You would end up with

Store
Downloads
Extra Settings / Store Extensions

This further extrapolates them. If they don't really have a place in S

[2015-01-29 15:52] pippinsplugins commented on #3016
Thanks for the suggestion. While this is probably a good idea, another way you can do it is to just call `edd_register_styles()` inline or add it to an action.

[2015-01-29 16:00] pippinsplugins commented on #3022
Looks like this does not quite work to fix the issue on the user's site. I'll dig further.

[2015-01-29 16:10] pippinsplugins commented on #3022
Scratch that, it does fix it.

[2015-01-29 16:10] #3022 closed

[2015-01-29 16:16] #3019 closed

[2015-01-29 16:41] #2941 closed

[2015-01-29 16:46] pippinsplugins commented on #2548
We'll definitely be splitting up the menu, but we've separated that into a distinct issue: #2885

[2015-01-29 16:52] cklosowski commented on #3022
:+1:

[2015-01-29 17:17] cklosowski opened #3028 "Update travis.yml for Slack integration"
Need to replace the current 'Hall' Notification with the Slack integration.

[2015-01-29 17:43] pippinsplugins commented on #3028
:+1:

[2015-01-29 19:21] #3028 closed

[2015-01-29 19:25] #3020 closed

[2015-01-29 19:28] joelworsham commented on #3016
Hmm good call. I didn't think about that. So for now I'm just calling that and then grabbing the stylesheet from $wp_styles.

Thanks for the advice!

[2015-01-29 19:38] pippinsplugins commented on #3016
We'll still look into registering it to make it more standardized.

[2015-01-29 19:43] joelworsham commented on #3016
Good deal.

[2015-01-29 20:14] pippinsplugins commented on #3014
It's here: https://github.com/easydigitaldownloads/edd-stripe

I've added you.

[2015-01-29 23:22] pippinsplugins opened #3031 "Update edd_get_users_purchases() to pull all payments from payment_ids column"
The `edd_get_users_purchases()` function pulls all payments that match a user ID or email.

Sometimes a customer purchases while logged in, sometimes they purchase while logged out. With the current iteration, `edd_get_users_purchases()` will only pull payments made while logged in (if searching on user ID).

To ensure that all payment records get queried for a customer, we should pull both the pa

[2015-01-29 23:23] pippinsplugins commented on #3031
I'm going to take this one.

[2015-01-30 14:20] JeroenSormani opened #3032 "Unit test helpers"
Hey,

What do you guys think about helpers for unit tests?
For reference, this is what Woo uses https://github.com/woothemes/woocommerce/tree/master/tests/framework/helpers

Right now the downloads/payments etc are made in the setUp of a unit test class, like this; https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/tests/tests-downloads.php#L17

Although working fine, as I

[2015-01-30 14:27] glennansley opened #3033 "Custom jQuery UI enqueued on all post-new.php and post.php pages"
Hey,
Are you guys intending to enqueue your custom jQuery UI styling on all post-new.php and post.php pages regardless of the post_type? It looks like it's being enqueued if edd_is_admin_page() returns true (line 209 of includes/scripts.php)... and edd_is_admin_page() is returning true on non EDD admin pages like post-new.php.

I see where I could modify the result of edd_is_admin_page() via the f

[2015-01-30 14:51] grappler opened #3034 "Not sufficient permissions to access Upgrades, Tools and Add-Ons page due to `DISALLOW_FILE_MODS`"
I clicked to run the upgrade process but got the error:

I deactivated all of the plugins and activated a default theme.

While trying to workout the issue I saw that the Tools and Add-Ons page was not displaying in the menu.

The reason for this is that I have defined `define('DISALLOW_FILE_MODS', true);` in wp-config.php.

EDD version 2.2.6

[2015-01-30 15:23] pippinsplugins commented on #3034
The Tools and Add-Ons page under the Downloads menu weren't displayed?

[2015-01-30 15:24] pippinsplugins commented on #3034
Ah, it's because the use the `install_plugins` capability. We should change that.

[2015-01-30 15:46] pippinsplugins commented on #3033
This is intentional, though we don't like it. It's done for the reasons described in #2418, specifically this comment: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/2418#issuecomment-50677419

I'd love to improve it but have never come up with a good solution.

[2015-01-30 15:59] pippinsplugins commented on #3032
I would _love_ to have helpers.

[2015-01-30 16:14] glennansley commented on #3033
Gotcha. Yeah. that's tough. I realize there a probably other implications besides the jquery custom UI inside that block of code that enqueues scripts for you, so this won't cover everything, but you could possibly scope the custom jQuery UI rules to your divs with the CSS Scope option on http://jqueryui.com/download/. That might be worth looking into. We probably need to do the same thing where w

[2015-01-30 16:45] pippinsplugins commented on #3033
Oh, that's an interesting idea. We'll keep this open and scope it out for 2.4.

[2015-01-30 16:51] cklosowski commented on #2548
So after some discussions with @pippinsplugins, we're going to nix the notes integration with WP Comments, for 2 reasons:
1) There isn't a great way to hide these comments from WordPress, currently it takes 3 different hooks/filters to alter the query statements depending on WP Version, and
2) If someone deactivates EDD, all those comments show up in the comment stream, which is not ideal at all.

[2015-01-30 17:50] chriscct7 commented on #2548
Are custom comment types included in the default comments query?

[2015-01-30 18:26] pippinsplugins commented on #2548
@chriscct7 We still have to exclude them.

[2015-01-30 18:46] chriscct7 commented on #2548
So they're included by default then?

[2015-01-30 20:17] pippinsplugins commented on #2548
Yes. But since we're not going to use a custom comment type anymore, it's not an issue.

[2015-01-30 21:23] grappler commented on #2872
I was looking through the changelog and saw the tweak for Polylang was mentioned.
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/readme.txt#L221

After after updating EDD I was again testing the code and realized it was not working. When I went to look through the code in EDD I could not find the changes.

Can you confirm that `issue/2872` was merged with the master?

[2015-01-30 21:52] pippinsplugins commented on #2872
Well that's embarrassing. It seems it was not.

[2015-01-30 21:58] pippinsplugins commented on #2872
Ok PR submitted. We'll get this included in 2.3.

[2015-01-30 22:35] pippinsplugins commented on #3031
I think the changes in #3038 fixes this but we need to be careful with it. When we first pulled payment IDs from the customer table, we had issues with some payment records not having the proper customer ID attached to them. It was a big problem before because there was no good way to attach a payment to a customer ID. With the introduction of the new customer UI in #2548 , this is much more negli

[2015-01-30 22:37] pippinsplugins commented on #3031
Unit tests are failing for this so proceed with caution.

[2015-01-30 22:37] pippinsplugins commented on #3031
https://travis-ci.org/easydigitaldownloads/Easy-Digital-Downloads/jobs/48956983

[2015-01-31 07:08] diekemada opened #3040 "Cannot update or publish products"
I cannot update or publish products. All other features are working in Word Press, however, when I try to make a change to a product and update it, or if I try to publish a new product, the program is unresponsive and nothing happens. It recognizes that changes were made because it asks me if I want to leave the page without saving changes. However, it does not allow me to save the changes.

[2015-01-31 14:28] pippinsplugins commented on #3040
Could you please open a ticket in the support forums? GitHub is for
development tracking only.

Http://easydigitaldownloads.com/support

On Saturday, January 31, 2015, diekemada <notifications@github.com> wrote:

[2015-01-31 19:00] NateWr opened #3042 "Best practice advice for filtering cart tax"
The EDD/Taxamo addon has [performance issues](https://github.com/rhyswynne/easy-digital-downloads-taxamo-integration/issues/1) that I'm investigating. The main issue is that it makes its API call in the `edd_get_cart_tax` filter.

Turns out `edd_get_cart_tax()` is called all over the place in the checkout (two dozen times by my count).

I'll propose storing the API call in the Taxamo addon so the

[2015-01-31 19:02] NateWr commented on #3042
By the way, here's a [little plugin](https://gist.github.com/NateWr/6796d65acd5c31306250) to count the occurrences when the filter is called.

[2015-02-01 01:48] pippinsplugins commented on #3042
I'd like to see this fixed by introducing a cart class that sets up each variable just once.

[2015-02-01 04:44] Ipstenu opened #3044 "Cannot upgrade on multisite unless you're a super admin"
I get this as an admin: You do not have sufficient permissions to access this page.

Which makes sense in many ways, but seems sub optimal. I shouldn't get a notice to run the upgrades if I can't run it.

[2015-02-01 05:15] chriscct7 commented on #3044
Duplicate of https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3034 fixed by https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3039 by way of https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2834

[2015-02-01 05:15] #3044 closed

[2015-02-01 16:55] chriscct7 opened #3045 "Add Ability to Resend Receipt to Shop Accountant Role"
Per https://easydigitaldownloads.com/support/topic/shop-accountant-cannot-resend-receipt/ I'm wondering if we shouldn't allow Shop Accountants to resent receipts, something they can't do right now. I could see this being something an accountant could want to do, for like end of year tax purposes or something like that. Thoughts?

[2015-02-01 16:58] chriscct7 commented on #3045
So this is the cap check: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/c09023ab8e36f29363cd4aab3a8f712f5b3f1142/includes/emails/actions.php#L47

I disagree slighly with the error. Someone shouldn't need to have access to edit the payments in order to resend the receipt, because resending the reciept can be done regardless of whether the payment is edited or not.

[2015-02-01 17:02] chriscct7 commented on #3045
I almost want to say that could be it's own cap. If you wanted to have like a support user role that can only login and resend receipts for example.

[2015-02-01 17:12] chriscct7 commented on #3045
For those who want to bypass the check for now: https://gist.github.com/chriscct7/d051cfcd4b9b204247ab

[2015-02-02 01:50] pippinsplugins commented on #3045
I think shop accountants should have the option. I don't see why this is
limited to ones that can edit payments. On that note, shop accounts should
probably be able to edit payments too.

On Sunday, February 1, 2015, Chris Christoff <notifications@github.com>
wrote:

[2015-02-02 08:07] sumobi opened #3046 "PHP Warnings when purchasing an item fee"
When purchasing an item fee (using test payment gateway) the following errors occur:

    PHP Warning:  Invalid argument supplied for foreach() in /wp-includes/functions.php on line 3181

    PHP Warning:  array_sum() expects parameter 1 to be array, boolean given in /wp-content/plugins/easy-digital-downloads-master/includes/payments/functions.php on line 156

    PHP Warning:  Cannot modify heade

[2015-02-02 14:39] vipinks commented on #2622
This error also triggers in WP Session Manager Plugin, from where you have adapted the session class

[2015-02-02 15:09] #3046 closed

[2015-02-02 15:44] pippinsplugins commented on #3021
A recent ticket that illustrates perfectly why we need to do this: https://easydigitaldownloads.com/support/topic/pending-payments-i-am-not-getting-paid/

[2015-02-02 15:48] chriscct7 commented on #3021
Maybe the better option would be to have a lower timeout on buy it now pending -> failed

[2015-02-02 15:49] pippinsplugins commented on #3021
No, the timeout is set at 7 days to ensure echecks have enough time to be verified.

[2015-02-02 15:53] chriscct7 commented on #3021
The suggestion was a lower timeout specifically for buy it now button orders, not all orders.

[2015-02-02 15:54] chriscct7 commented on #3021
Oh I see what you're saying. Hmmm

[2015-02-02 15:57] chriscct7 commented on #3021
I think the IPN for PayPal can tell you an echeck was used to pay on the return. We could detect that and if so do the longer pending, else do a shorter one, like an hour

[2015-02-02 15:57] pippinsplugins commented on #3021
This shouldn't be hard to do. We just need a "private" status that doesn't
show up in payment history.

On Mon, Feb 2, 2015 at 9:55 AM, Chris Christoff <notifications@github.com>
wrote:

[2015-02-02 16:03] pippinsplugins commented on #3021
This isn't really related to echecks (that is a good idea though). This is
to get rid of the assumption that something is broken when site admins see
tons of pending payments.

[2015-02-02 16:08] chriscct7 commented on #3021
If we could detect echecks, we could lower the default time from pending->failed to like 1 hour, and anything that hits 1 hour would become failed, versus anything under that could be like an "in progress" status or something

[2015-02-02 16:12] pippinsplugins commented on #3018
This is looking really good.

First thing I notice that I think I'd like changed is how the `global $edd_customers_db` is setup in `EDD_Customer`. Instead of setting it up inside each method, how about just setting it up as a private or protected property and then setting it up once in the constructor.

[2015-02-02 16:16] pippinsplugins commented on #3021
It's not about echecks.

[2015-02-02 16:44] spencerfinnell commented on #3018
I thought the same thing as @pippinsplugins

Also should passing no ID set up a new customer similar to how the downloads class works? If no customer is found and `$field` is an email one could be generated.

[2015-02-02 16:46] pippinsplugins commented on #3018
We discussed creating new customers like that and ultimately decided it was
too risky.

On Mon, Feb 2, 2015 at 10:44 AM, Spencer Finnell <notifications@github.com>
wrote:

[2015-02-02 16:49] chriscct7 commented on #3021
The issue isn't but part of the solution could be. If it wasn't for echecks, couldn't we have the pending->failed time be one hour? If we can find a solution to lower the amount of time a payment is in pending, there wouldn't be so many pending payments. Even if we introduce a private or in progress one, I think people would be curious as to why there are so many in there and so few get to complet

[2015-02-02 16:52] pippinsplugins commented on #3021
No, we can't do one hour. There are many cases where an IPN fails temporarily and is then resent.

We also have to take into account people that use pending payments for taking orders via check, money order, or cash.

We will not change the pending > failed timing.

[2015-02-02 16:55] cklosowski commented on #3018
@spencerfinnell Yeah, we determined that we'd rather have the creation be explicit, not implied.

@pippinsplugins I had it that way initially, trying to remember why I changed it. Let me do it again and see if it comes back.

[2015-02-02 17:05] cklosowski commented on #3018
Huh, seems the way I'm setting up the customer cleared up the initial reason for it being a ```global```. Yay for refactoring :)

Committing up with ```$this->db``` and no global, as a protected.

[2015-02-02 17:44] chriscct7 commented on #3021
I still think there's a way we can improve it. We could add an on-hold status similar to WooCommerce.

[2015-02-02 18:11] mindctrl commented on #3001
Related? https://easydigitaldownloads.com/support/topic/shortcode-for-download-to-display-grid-stopped-working/#post-428079

[2015-02-02 19:17] pippinsplugins commented on #3018
Woot!

[2015-02-02 19:17] pippinsplugins commented on #3018
How do you guys feel about the `EDD()->customers` object? Keep it?

[2015-02-02 22:57] pippinsplugins commented on #3021
The `on-status` status is exactly what I'm thinking about, except it won't be displayed in payment history. The problem with buy now buttons is that too many people click to "see what happens". That results in a large number of payments that causes admins to freak out and think something is failing with purchase verification.

[2015-02-02 23:31] pippinsplugins commented on #3045
Actually, shop accountants already have this:
[code]
My guess is the user that reported this just needs to re-activate EDD.

[2015-02-02 23:32] pippinsplugins commented on #3045
Nevermind, bug is happening to me. So it's a bug, not a change.

[2015-02-02 23:36] cklosowski commented on #3018
@pippinsplugins I'm good with keeping it. It makes sense to have it there for some of the use cases, like dealing with the database directly. This is an ```EDD_Customer``` class, not ```Customers```.

My vote, it stays.

[2015-02-03 00:46] pippinsplugins commented on #3018
The reason I brought it up is because I'm thinking about the reason for having a global DB class to access customers. Since we have it, and we use the `EDD()->{object}` method elsewhere, I think we should be consistent and use it through `EDD_Customer` as well.

[2015-02-03 01:38] cklosowski commented on #3018
Ok then we'll need a few more methods, for things like "Count" etc, however I'm not sure if that all belongs in the ```EDD_Customer``` as they are more global values, not specific to the customer you are requesting in the Class.

[2015-02-03 01:43] pippinsplugins commented on #3018
Why? It's still referencing the same methods through the global as through
EDD ().

On Monday, February 2, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-03 02:16] pippinsplugins commented on #3034
Fixed in #3039

[2015-02-03 02:44] pippinsplugins commented on #3024
![screen shot 2015-02-02 at 8 44 26 pm](https://cloud.githubusercontent.com/assets/1034109/6013569/4fa8b43c-ab1c-11e4-8c5f-acdf3e0bf81b.png)
![screen shot 2015-02-02 at 8 44 17 pm](https://cloud.githubusercontent.com/assets/1034109/6013570/4fb5145c-ab1c-11e4-9867-c724d2925f92.png)

[2015-02-03 02:46] #3034 closed

[2015-02-03 02:48] pippinsplugins commented on #3024
Anyone want to give it a spin and lend feedback?

[2015-02-03 02:55] pippinsplugins commented on #2882
@ghost1227 This is failing now. It causes it to not return any results.

Also `data` on line 1068 is undefined (it's `response` not `data`).

[2015-02-03 02:57] ghost1227 commented on #2882
Roger that! Looking into it!

[2015-02-03 03:21] #2817 closed

[2015-02-03 03:36] #3040 closed

[2015-02-03 19:35] cklosowski commented on #2548
@sdavis2702 @sumobi @pippinsplugins I'd REALLY love some feedback/assistance on the jQuery interaction here. I'm sure it's easy to break, but i'm so close to the woods on it, could use a hand.

Branch is up to date with my changes ```issue/2548```.

Thanks guys!

[2015-02-03 19:36] cklosowski commented on #2548
PS: I know error handling is something that I should look into improving, but this is a pretty good starting point.

[2015-02-03 19:37] pippinsplugins commented on #2548
@cklosowski Is the jQuery interaction just or primarily for editing?

[2015-02-03 19:42] cklosowski commented on #2548
yeah, primarily for editing and adding notes.

[2015-02-03 19:47] pippinsplugins commented on #2548
I'm getting a fatal error:
[code]

[2015-02-03 19:49] pippinsplugins commented on #2548
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/0e49fd356f9ef73838e7a6938ed6305b6619438b

[2015-02-03 19:50] pippinsplugins commented on #2548
Let's move the `View download log` to a row action:
![screen shot 2015-02-03 at 1 49 38 pm](https://cloud.githubusercontent.com/assets/1034109/6027988/8e1ad724-abab-11e4-9948-002fe7491b3b.png)

[2015-02-03 19:52] pippinsplugins commented on #2548
I wonder if we should change `# Purchases` to `# Successful Purchases`. I have a sample customer that has 2 completed purchases and one abandoned purchase. While it makes sense, it took me a moment to realize why the numbers didn't match up:
![screen shot 2015-02-03 at 1 51 40 pm](https://cloud.githubusercontent.com/assets/1034109/6028019/e4a0d0d0-abab-11e4-9183-07f76b7d918f.png)

[2015-02-03 19:58] pippinsplugins commented on #2548
Now onto editing.

The editing seems to work beautifully :+1:

I have two initial thoughts / concerns:

1. The user ID field is almost a "mystery" field once you click edit. Even though I saw `User ID` before hand, I didn't realize what it was for until I canceled and clicked back into edit mode:
![screen shot 2015-02-03 at 1 57 29 pm](https://cloud.githubusercontent.com/assets/1034109/6028120/a8d

[2015-02-03 20:25] cklosowski commented on #2548
Ok, on the completed purchases...we could just go with sales. I was trying to keep the wording to a minimum since ```Lifetime Value``` is long.

1. Yes, I'm thinking of using a user dropdown? thoughts?
2. That's fair too, I could do that.

I'm also thinking if the customer is update and has a user ID attached, should it update the user ID's email too?

[2015-02-03 21:04] cklosowski commented on #2548
Also @pippinsplugins what do you think about adding a merge tab too? Allowing us to have a merge submitted..

I've got this problem on the EDD Site. I've made purchases with two different emails. We could say Merge X in to Y. and then copy over all purchase data, set the date created to the earliest date. Obviously you'd have to have the plan you are merging into be the winning email, name, etc.

[2015-02-03 21:11] chriscct7 commented on #2548
I like that. Like Helpscout we should have a confirm before proceed and find customer by ID, name or email

[2015-02-03 21:11] TheCrowned opened #3053 "Restore edd_email_purchase_receipt filter"
Hi there,
somewhere before version 2.1 the filter edd_email_purchase_receipt allowed to prevent the purchase receipt from being sent upon purchase. Is there a specific reason why it has been deleted? Could it be restored?

[2015-02-03 21:11] cklosowski commented on #2548
yeah, that's my plan. Shows From ---> To. and confirms waht the new data would look like, then they can 'confirm'

[2015-02-03 22:15] pippinsplugins commented on #2558
There's definitely too much potential for a race condition here (and for sales):
[code]

[2015-02-03 23:03] pippinsplugins commented on #3053
You can add this to disable purchase receipts:
[code]

[2015-02-03 23:03] #3053 closed

[2015-02-03 23:16] pippinsplugins commented on #2548
I _love_ the idea of allowing customers to be merged. It would be fucking beautiful.

[2015-02-03 23:35] danieliser commented on #2548
@cklosowski - Do you still need help with the jQuery parts? I am very proficient and can at least help you solve the roadblocks.

[2015-02-03 23:59] fxbenard opened #3054 "edd_get_gateway_checkout_label arent i18n ready"
To confirm but I have
Credit Card when it should be carte de crédit

[2015-02-04 00:12] pippinsplugins opened #3055 "CSV earnings reports"
We have a PDF report that shows earnings over time. As we have discussed getting rid of this report in #1808, I think we should seriously consider adding a new export option to generate a CSV of earnings . sales over time.

The new report that Stripe just introduced is a perfect example of what this could look like.

![screen shot 2015-02-03 at 6 12 18 pm](https://cloud.githubusercontent.com/asset

[2015-02-04 02:25] pippinsplugins commented on #2548
I don't believe there are any roadblocks at this time, it's just testing to
ensure it's all working properly and not prone to breakage.

On Tue, Feb 3, 2015 at 5:35 PM, Daniel Iser <notifications@github.com>
wrote:

[2015-02-04 03:41] pippinsplugins commented on #3018
I think `$_id_or_email` should be passed with a default of `false` to the `__construct()` method.

[2015-02-04 03:42] pippinsplugins commented on #3018
Instead of throwing an exception in `__get`, could we return a `wp_error`if the property cannot be retrieved?

[2015-02-04 03:43] pippinsplugins commented on #3018
In the `create()` method, there is no need for `|| '' == trim( $args['email'] )`. The `empty()` check will catch empty strings.

[2015-02-04 03:45] pippinsplugins commented on #3018
We should probably sanitize / validate some of the fields passed to the `update()` method. For example, if the `email` field is not an email, we should bail.

[2015-02-04 03:47] pippinsplugins commented on #3018
The `attach_payment()` method should probably use the `update()` method in `EDD_Customer` instead of calling `$this->db->update` directly. There probably isn't really a downside to how it is, but it will ensure any validation we put in `EDD_Customer::update` is used as well.

[2015-02-04 07:00] TheCrowned commented on #3053
Thanks! So silly of me not thinking about that, sorry!

[2015-02-04 15:17] cklosowski commented on #3018
Ok I'll address these today. Thanks :)

[2015-02-04 15:20] cklosowski commented on #3018
- [ ] $_id_or_email defaults to false
- [ ] Create method doesn't need to trim, only empty
- [ ] Sanitize for update method
- [ ] attach_payment should use the update method in SELF

[2015-02-04 15:58] pippinsplugins commented on #2985
Bug confirmed again: https://easydigitaldownloads.com/support/topic/edd-file-download-with-amazon-3s-results-in-html-file/#post-430571

[2015-02-04 16:14] pippinsplugins commented on #3018
@cklosowski Yes, let's update EDD_Download too.

[2015-02-04 17:10] evertiro opened #3056 "Add hidden field to settings API"
The addition of a hidden field type to the settings API would be extremely useful for extensions (such as my GetResponse extension) that save API keys, allowing us to easily check on save for changes to the API key and clear transients so that users can access up-to-date API information without waiting for the transient to clear on its own. (Why do I suck at explaining things today?)

[2015-02-04 17:11] pippinsplugins commented on #3056
:+1:

[2015-02-04 17:12] pippinsplugins commented on #3056
@ghost1227 Want to tackle this on?

[2015-02-04 17:14] ghost1227 commented on #3056
already am

[2015-02-04 17:45] ghost1227 commented on #3056
Ok... so adding a hidden field results in a tiny bug in which the Settings API still acknowledges it as a field, so we end up with a blank row, like so:

![screen shot 2015-02-04 at 11 37 45 am](https://cloud.githubusercontent.com/assets/36433/6045781/60f03fe8-ac62-11e4-9eb1-93d49b860d11.PNG)

I'm still researching, but the first thing that comes to mind is that rather than adding a true hidden fi

[2015-02-04 18:02] chriscct7 commented on #3056
+1

On Wed, Feb 4, 2015 at 12:45 PM, Ghost1227 <notifications@github.com> wrote:

[2015-02-04 18:07] cklosowski commented on #3056
So I know it's kind of a 'hack' but what if you just made sure to always register hidden ones at the bottom, it wouldn't solve the issue, but make it less apparent...?

[2015-02-04 18:07] pippinsplugins commented on #3056
@cklosowski With extensions registering settings, there's not really a good way to enforce that.

[2015-02-04 18:08] pippinsplugins commented on #3056
I'm not really opposed to supporting a hidden value on existing fields, but that seems like a different use case than a standard hidden field.

How about, instead, we just alter the API that renders the settings to add in a case for hidden fields?

[2015-02-04 18:45] cklosowski commented on #3056
@pippinsplugins hence the word hack. I know it's not a good answer. Was just stating a possible case.

[2015-02-04 18:48] ghost1227 commented on #3056
@pippinsplugins Alter the API how? I've been digging but haven't found a way to do it. Since the actual fields are rendered by a WordPress core function, we can't really modify its behavior much. Hence, my suggestion regarding a hidden option for individual fields (since most all use cases for using a hidden field will have relevance to another visible field, that seemed safest).

[2015-02-04 19:56] pippinsplugins commented on #3056
@ghost1227 oh yeah . . .I forgot that the WP core functions set up the html.

[2015-02-04 19:58] ghost1227 commented on #3056
lol

[2015-02-04 21:36] pippinsplugins commented on #3054
But they are . . .
[code]

[2015-02-04 21:40] fxbenard commented on #3054
Great it's my EDD gateway plugin then ;) Stripe maybe!

[2015-02-04 21:40] #3054 closed

[2015-02-04 21:41] pippinsplugins commented on #3054
:)

On Wed, Feb 4, 2015 at 3:40 PM, Fx Bénard <notifications@github.com> wrote:

[2015-02-05 03:35] VegasNews commented on #3014
@pippinsplugins the above link is not working.

[2015-02-05 03:40] cklosowski commented on #3018
Ok @pippinsplugins take a look at those few commits, I think that's a decent set of vars to be passing in the hooks. Had to update the code to make sure the hooks always fire as well, just good practice there. Fire on failure or success.

[2015-02-05 03:41] cklosowski commented on #3018
Correction on that last commit #2548

[2015-02-05 08:12] ghost1227 commented on #3056
Any other suggestions? Or should I go ahead and implement my original suggestion?

[2015-02-05 08:18] ghost1227 commented on #2882
@pippinsplugins Are you testing with script_debug on? Because @cklosowski told me not to bother updating the minified scripts, so the last few changes aren't included in the attached admin.min.js. I can't duplicate your error... it works fine for me. Also, the error on line 1068 exists in release/2.3. I didn't make write that line so wouldn't have thought to see if it was wrong :stuck_out_tongue:

[2015-02-05 08:42] jdevalk commented on #2558
Yeah this should simply be done with a direct MySQL query, abstracting it might be a good idea as even core has this problem.

[2015-02-05 15:10] mindctrl opened #3057 "Discounts that don't meet product requirements get submitted when clicking Purchase"
Steps to reproduce:

1. Create discount code and set Download Requirements to PRODUCT ABC
2. Add PRODUCT XYZ to cart and go to checkout
3. Try to apply discount code created in step 1 and get error "The product requirements for this discount are not met."
4. Fill out remaining purchase details and click Purchase.

At this point, the checkout page reloads. You'll notice the code is attached to the

[2015-02-05 15:15] mindctrl commented on #3057
It might be worth noting the customer details like email, name, etc. get cleared when this happens. If that needs to be in another issue, I can do that.

[2015-02-05 15:22] pippinsplugins commented on #3014
@VegasNews It's a private repo.

[2015-02-05 15:26] pippinsplugins commented on #3018
@cklosowski Those all look great.

[2015-02-05 15:27] mindctrl opened #3058 "Two error messages when trying to use a discount code that has been redeemed."
If someone tries more than once to redeem a discount code that's limited to single use per customer, the cart throws 2 error messages:
[code]

Do we need both error messages? The second one is probably technical correct in the sense that the discount code is invalid for this purchase, though it is a valid code overall that exists in the system. But, it's not useful in this context when a better er

[2015-02-05 15:27] pippinsplugins commented on #3056
@ghost1227 Try and get creative. I'm not really sure how we should handle this yet so I'd love to see possible options.

[2015-02-05 15:31] pippinsplugins commented on #3057
Sounds like the discount code is getting set in the cart session even when it's invalid. That's definitely a bug.

[2015-02-05 15:32] pippinsplugins commented on #3058
While neither is technically wrong, it probably would be better to only show one of the errors.

[2015-02-05 15:36] pippinsplugins commented on #2558
Agreed.

[2015-02-05 16:28] cklosowski commented on #2548
Nope, no roadblocks at this time. I got the jQuery written, I was just looking for some usability testing. @pippinsplugins verify that last comment for me?

[2015-02-05 16:47] cklosowski commented on #2548
A couple of things to still work on here though are editing a payment ID, with a customer dropdown. Which we'll add to the html elements class.

[2015-02-05 17:18] spencerfinnell commented on #3056
If you don't pass a label then the `<th>` isn't created and you could hide the `<td>` in the row if that's the first child element:

`tr > td:first-child { display: none; }`

https://core.trac.wordpress.org/browser/tags/4.1/src/wp-admin/includes/template.php#L1291

[2015-02-05 17:25] VegasNews commented on #3014
Ok, I was responding to the errors that was reported and to see if I can
contribute more to it as a developer.

Anyway, thanks

---

VEGAS NEWSPAPER TEAM #Online Celebrity News

TEL: 702-919-NEWS

TOLL: 855-459-NEWS

WEB: VEGAS NEWSPAPER [3]

_Don't forget to tell others!_ SHARE YOUR STORY ON SOCIALS

Facebook: Vegas Newspaper [4]

Twitter: Vegas Newspaper [5]

On 2015-02-05 07:22, Pippin Williams

[2015-02-05 19:18] pippinsplugins commented on #3014
We always love help but for this particular gateway it has to be managed in-house, sorry.

[2015-02-05 19:19] pippinsplugins commented on #3056
Oh hey, check that out. Nice catch @spencerfinnell !

[2015-02-05 19:42] pippinsplugins commented on #2882
Yes I had script debug enabled.

[2015-02-05 19:55] spencerfinnell commented on #3056
Oh that's not entirely true. It still checks for `title` as a fallback. Back to the drawing board!

[2015-02-05 22:57] VegasNews commented on #3014
I appreciate your response.

Happy coding :)
---

 

VEGAS NEWSPAPER TEAM #Online Celebrity News

TEL: 702-919-NEWS

TOLL: 855-459-NEWS

WEB: VEGAS NEWSPAPER [2]

_Don't forget to tell others!_ SHARE YOUR STORY ON SOCIALS

Facebook: Vegas Newspaper [3]

Twitter: Vegas Newspaper [4]

On 2015-02-05 11:18, Pippin Williamson wrote:

Links:
------
[1]
https://github.com/easydigitaldownloads/Easy-Digita

[2015-02-06 01:37] ghost1227 commented on #2882
That's weird... I can't duplicate your bug at all. It consistently returns everything BUT bundles. @cklosowski have you duplicated the bug? Any idea what causes it for Pippin?

[2015-02-06 01:38] ghost1227 commented on #3056
@spencerfinnell Nice try :stuck_out_tongue: I tried that too.

[2015-02-06 07:50] EhsaanF opened #3059 "Rial currency problem"
Hi there and thanks to you guys for awesome advancing in a limited time span.
Your users in Iran are very happy from seeing that EDD development team cares about Iranian people.

There is a little issue with Rial currency, It's shown in Settings page as "Iranian Rial (ریال)" and that is correct, but in prices, it is "RIAL"  and that's not good.

In the meantime, change "RIAL" to "ریال" in prices i

[2015-02-06 16:57] cklosowski commented on #2548
Decided to make the 'Edit' link more accessible and have it be text, and move it under the avatar.

![screen shot 2015-02-06 at 9 37 57 am](https://cloud.githubusercontent.com/assets/1390124/6083537/80fac24c-ade6-11e4-8483-75431d4bac5d.png)

Also, here's some updated UI, including the Assigning a customer to a payment, and creating a new customer from a payment, and making the assignment.

![scree

[2015-02-06 17:04] cklosowski commented on #3058
We'll probably not want to limit it to just this case, we could also probably meet the same case with expiration, I would imagine.

Should we always just limit the Discounts errors to the first error we run into?

[2015-02-06 17:05] cklosowski commented on #3057
@pippinsplugins This _might_ have come in when we were fixing #2916, might be a good place to check.

[2015-02-06 17:16] cklosowski commented on #2983
Looks good to me, I'll merge the PR
![screen shot 2015-02-06 at 10 15 02 am](https://cloud.githubusercontent.com/assets/1390124/6083852/38140766-ade9-11e4-9b34-ed0004018ed4.png)

[2015-02-06 17:22] pippinsplugins commented on #3057
Pretty sure you're right.

On Fri, Feb 6, 2015 at 11:05 AM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-06 17:22] pippinsplugins commented on #3058
I think it makes sense to limit to one error.

On Fri, Feb 6, 2015 at 11:04 AM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-06 17:24] pippinsplugins commented on #3059
I think we actually used to have it that way but then an Iranian user requested it be changed to just `RIAL`. We'll look into it for the next release, thanks!

[2015-02-06 17:24] cklosowski commented on #3024
Looks good to me. Working beautifully

[2015-02-06 17:25] cklosowski commented on #3024
Seems to be saving me ~1/4 of a second locally:
![screen shot 2015-02-06 at 10 24 57 am](https://cloud.githubusercontent.com/assets/1390124/6083995/7f74a86c-adea-11e4-8db0-931be7bad44a.png)

[2015-02-06 17:25] EhsaanF commented on #3059
Thanks, but is there a way to change it using hooks or filters?

[2015-02-06 17:26] pippinsplugins commented on #3024
That's a great improvement. On large sites that could easily equate to 3-5 seconds on load.

[2015-02-06 17:26] pippinsplugins commented on #3059
Yes. See this guide: http://docs.easydigitaldownloads.com/article/272-adding-currency-support-eddcurrencies

[2015-02-06 17:47] pippinsplugins commented on #2548
This is looking excellent. I haven't reviewed code yet, but we need to make sure that updating / changing a customer updates the following payment meta as well:
- user ID
- email
- second email (in serialized array)

[2015-02-06 17:48] pippinsplugins commented on #2882
@cklosowski Could you test and see if you get the same behavior?

[2015-02-06 19:08] cklosowski commented on #2882
Yes I will test it today.

[2015-02-06 19:09] cklosowski commented on #2548
It does.
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/1398901da0c2ffb8e48c3207957088128bb069bb#diff-2847c2e10acbb82484800d222392b7a6L159

[2015-02-06 19:12] pippinsplugins commented on #2548
Excellent.

[2015-02-07 00:47] pippinsplugins commented on #2548
On the edit screen, is the name and email intentionally bolded? It looks odd to me:
![screen shot 2015-02-06 at 6 46 23 pm](https://cloud.githubusercontent.com/assets/1034109/6089919/8c58f81c-ae30-11e4-9be4-1e6689a120ad.png)

[2015-02-07 00:55] pippinsplugins commented on #2548
Bugs / UI issues:
- [ ] Editing customer's address fails. New value is not saved.
- [ ] Hitting `Command + Enter` on `Notes` field should submit the form.
- [ ] End of textarea and the `Add Note` button should be aligned: https://cloudup.com/czTVL6EJl5q
- [ ] It's not clear that `Update Payment` has to be clicked to create the new customer on `View Order Details`: https://cloudup.com/c-vfmr8MIs3

[2015-02-07 01:03] pippinsplugins opened #3061 "Add WP CLI command for creating customers"
We should introduce a WP CLI command for creating / updating customer records. It should support setting all DB columns and should also support creating X arbitrary customer accounts, allowing us to more easily test things with sites that have 10k, 20k, or even 100k customer records.

[2015-02-07 01:04] pippinsplugins commented on #2548
I think once the items above are resolved, this should be ready to merge into `release/2.3` so it can be more fully tested.

[2015-02-07 02:12] cklosowski commented on #2548
How do we propose resolving the 4th one above?

We could add a second save button, but it's also not clear that when you add a new download to a payment that you have to recalculate anything...

We have quite a few issues on the ```Update Payment``` that have this exact same issue.

[2015-02-07 02:30] pippinsplugins commented on #2548
How about starting with a visible note that says "Click Save Payment to
create new customer"

On Friday, February 6, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-07 02:38] cklosowski commented on #2548
Something like that?
![screen shot 2015-02-06 at 7 38 23 pm](https://cloud.githubusercontent.com/assets/1390124/6090465/c68c4cb2-ae37-11e4-89f7-c7989adb3f98.png)

[2015-02-07 02:41] cklosowski commented on #2548
I think the bold is coming over from an ```inherit``` property. I'll fix those up.

[2015-02-07 02:49] cklosowski commented on #2548
Committed all the issues above, have a look when you can.

[2015-02-07 17:55] sdavis2702 opened #3063 "Custom Add to Cart Link Enhancements"
Here's a nice feature request: https://easydigitaldownloads.com/support/topic/custom-add-to-cart-urls-multiple-downloads/

General idea is to be able to control item quantities as well as adding multiple items to the cart with one link. Feasible?

[2015-02-07 18:00] ghost1227 commented on #3063
It's feasible, but would take some reworking of the shortcode. I like the idea though!

[2015-02-07 19:17] ScottDeLuzio commented on #3063
Sean, thanks for starting the conversation for looking into adding this feature. I originally got the idea when working with another site that used OpenCart and had this extension installed: http://www.opencart.com/index.php?route=extension/extension/info&extension_id=11443
I know EDD and OpenCart are two completely separate softwares, but thought it might help to visualize what I was talking abou

[2015-02-07 20:12] sdavis2702 commented on #3063
@ghost1227 I hope not too much. I can definitely see this being useful, though.

@ScottDeLuzio No problem and thanks for the additional reference! Dan up there and a couple of the other developers will dig deeper most likely next week to discuss if it can/will happen or not, and how. So just stay tuned to this Issue and we'll see! :+1:

[2015-02-08 00:50] pippinsplugins commented on #3063
Setting the quantity is possible; multiple items are not (yet). I'd love to support it.

[2015-02-08 15:12] mindctrl opened #3064 "Can't use price="0" while using price_id in [purchase_link] shortcode."
When specifying a price_id in the shortcode, if you also add the `price="0"` option, you can't add an item to the cart. EDD says "Please select an option".

Example shortcode:
`[purchase_link id="740" price_id="1" price="0"]`

[2015-02-08 16:13] chriscct7 opened #3065 "Investigate the performance and consider the removal of usage of .hide() and .show() from Javascript"
.show() and .hide() are known jQuery performance bottlenecks per https://github.com/jquery/jquery.com/issues/88#issuecomment-72400007. Until they fix the issues with the performance in https://github.com/jquery/jquery/issues/2057 we should consider implementing alternatives if it makes a noticable difference in performance, that way we aren't waiting for jQuery to fix it, which may or may not take

[2015-02-08 16:35] cklosowski commented on #3065
We can investigate, but I think we'll see negligible differences. I'd vote though that we don't change anything from WP-Admin unless WP Core does.

Our front end we can change, but we're going to have to be EXTRA EXTRA careful about ANY method we use in ALL browsers...going back pretty far to be honest.

[2015-02-08 16:41] cklosowski commented on #3064
Looks like we might be hitting this case:
[code]
Will have to investigate it further.

[2015-02-08 16:42] chriscct7 commented on #3065
I would think addClass is even more compatible across all browsers. We could just define an edd-hidden class and add remove that.

[2015-02-08 16:44] cklosowski commented on #3065
At that point  you are modifying CSS Classes though and not using an 'on-element' which trumps ANY css class properties, therefore, any extra CSS applied can be overridden by the user. ```.show()``` and ```.hide()``` are the only way to ensure that no CSS styles are affecting the execution as it's on element.

[2015-02-08 16:45] chriscct7 commented on #3065
Let's examine the performance of each, and if we find a bottleneck, then we can start working a solution. No point looking for a solution for a problem we may or may not have :)

[2015-02-08 16:45] cklosowski commented on #3065
Define ```bottleneck```

[2015-02-08 16:48] chriscct7 commented on #3065
See https://github.com/jquery/jquery.com/issues/88#issuecomment-72400007. In that case it's causing a 700ms delay. Perhaps a better issue, or maybe a new one might be examine all Javascript and find out what our worst performing parts are and see if we can improve them

[2015-02-08 16:49] chriscct7 commented on #3065
https://github.com/ugma/ugma/issues/21 also makes a great point about .show()/.hide()/.toggle() which is that it could have battery ramifications for mobile applications

[2015-02-09 02:18] pippinsplugins opened #3066 "Theme conflict: in-browser receipt and Twenty Fifteen"
Clearly some issues here:
![screen shot 2015-02-08 at 8 18 17 pm](https://cloud.githubusercontent.com/assets/1034109/6100182/afa1290c-afcf-11e4-8e2e-3a563b7e1ce6.png)

[2015-02-09 02:27] pippinsplugins commented on #3065
We don't use these much at all. While I'm certainly not opposed to making something faster, I'm unsure of whether this is a place we should be changing. Might be best to just let jQuery fix it.

[2015-02-09 02:59] cklosowski commented on #3057
@mindctrl You are right, it's happening because if someone forgets to hit apply, we still try and attach it. I think we'll have to silently fail this though and just never attach it.

[2015-02-09 03:17] cklosowski commented on #3057
@mindctrl I'm not able replicate it, If I follow the steps you listed:

| If the customer doesn't go back and clear the coupon code field, it gets submitted, which probably makes some sense in case someone forgets to apply a coupon.

It clears for me.

[2015-02-09 03:18] pippinsplugins commented on #3065
@chriscct7 Minor other note on this. Please do not tag issues with so many labels. "Templates" and "Theme Compatibility" do not apply in nay way to use. Use the ones that make sense and only those. Thanks.

[2015-02-09 03:18] #3045 closed

[2015-02-09 04:10] cklosowski commented on #3057
Ok @mindctrl Can you check branch ```issue/3057``` and see if that fixes it for you?

[2015-02-09 04:17] cklosowski commented on #2558
:+1: for abstracting it in a direct query.

[2015-02-09 04:45] chriscct7 commented on #3065
@pippinsplugins what? I only put 1 tag on this, enhancements. Blame @cklosowski for the rest.

[2015-02-09 04:47] cklosowski commented on #3065
If we are affecting any front end JS In the end both those could affect themes and our own standard templates.

[2015-02-09 04:49] chriscct7 commented on #3065
It should be noted jQuery is actively telling people not to use it. They're removing the use of those functions from their homepage

[2015-02-09 14:24] mindctrl commented on #3066
What's the context there? Looks ok on my Twenty Fifteen site. I notice that screenshot has a sans-serif font, but the theme ships with serif. Looks like someone customized it? This is what I see on stock.

![image](https://cloud.githubusercontent.com/assets/1254870/6107990/73a59348-b03d-11e4-92e3-31b4382050a2.png)

[2015-02-09 14:32] #2983 closed

[2015-02-09 14:44] chriscct7 commented on #3066
Ditto, mine looks fine

[2015-02-09 14:53] pippinsplugins commented on #3066
Are you guys looking at the purchase confirmation screen? I'm referring to `site.com/?edd_action=view_receipt&payment_key=xx`

[2015-02-09 15:09] #2991 closed

[2015-02-09 15:19] mindctrl commented on #3066
I see what you mean now. Same thing on my site.

[2015-02-09 15:22] cklosowski commented on #2771
Progress for this is in #2548

[2015-02-09 15:48] cklosowski commented on #2760
@pippinsplugins When you reworked the ```edd_is_admin_page()``` function just recently, did it help this case at all? Just curious.

[2015-02-09 15:55] cklosowski commented on #2625
Going to jump into this, are we thinking of splitting all 'payment total' items out of the 'update payment' metabox?

Currently ```Update Payment``` contains:
* Status
* Date
* Time
* Discount Code
* Tax
* Total Price

Updating to this would probably mean we have two boxes from one:
```Update Payment```
* Status
* Date
* Time

* Subtotal
* Discount (Code and then Amount)
* Fees
* Tax (Editable)
*

[2015-02-09 15:56] mindctrl commented on #3057
@cklosowski this fix seems to be good. Tested various scenarios and all worked.

[2015-02-09 15:57] pippinsplugins commented on #2625
I like the idea of separating it and the separation looks good.

[2015-02-09 16:00] sdavis2702 commented on #2625
I agree that looks good.

[2015-02-09 16:01] cklosowski commented on #2625
:+1: thanks guys

[2015-02-09 16:36] cklosowski commented on #3057
Awesome thanks I'll get a PR together.

[2015-02-09 16:37] mindctrl opened #3068 "Buy Now purchase button goes to payment processor on $0 items"
Steps to reproduce:

- Create $0 item and configure button behavior as Buy Now, or disable it and create a manual purchase link using the purchase link shortcode. Example: `[purchase_link id="1082" text="Buy Now" style="button" direct="true"]`
- Add item to cart.

If you're using Paypal, you get sent to Paypal with a $0 item. If you're using Stripe, the payment popup appears asking for email and c

[2015-02-09 16:58] pippinsplugins commented on #2771
I'm loving how this is looking.

[2015-02-09 16:58] pippinsplugins commented on #2760
No.

[2015-02-09 17:05] cklosowski commented on #2625
Ok, after some discussions with @pippinsplugins we're going to  move this to 2.4. We're going to need to get a payment_meta item for the discount amount, and also have it updated when a payment is updated. On top of that, an upgrade routine is also necessary.

Since this is a nice to have, we're going to punt for the sake of keeping 2.3 timely.

[2015-02-09 17:50] cklosowski commented on #1934
Likewise, shouldn't deleting a download from a payment ID remove a sales log?

[2015-02-09 19:32] pippinsplugins commented on #1934
Yes.

[2015-02-09 20:07] chriscct7 opened #3071 "Turn off code coverage on feature development branches"
We should turn off code coverage on feature development branches. Code coverage should be run on commits to master, release branches, and on pull requests. However, if you're trying to develop a feature on a branch, the travis tests go alot slower, and need to be manually cancelled alot of times because the code coverage is run. We don't need to see code coverage during development of a feature, s

[2015-02-09 20:59] pippinsplugins commented on #3065
Proposed alternatives?

[2015-02-09 21:24] chriscct7 commented on #3065
The current jQuery recommendation is to use classes, a recommendation made on a related ticket about how show and hide are breaking some responsive websites: https://github.com/jquery/jquery/issues/1767

[2015-02-09 21:31] pippinsplugins commented on #3065
There are some places we could do this, but only where classes already exist and cannot have been modified by theme files.

[2015-02-10 01:09] ghost1227 commented on #3056
@pippinsplugins @spencerfinnell @cklosowski Any other bright ideas? I'm still stuck on my original idea...

[2015-02-10 01:09] ghost1227 commented on #2882
@cklosowski feedback?

[2015-02-10 01:09] ghost1227 commented on #2806
@cklosowski any feedback?

[2015-02-10 01:30] mintplugins commented on #2985
This is still an issue in 2.2.7 as it broke upon update. I see it is scheduled as a fix for 2.3 so no worries. Just updating.

[2015-02-10 02:39] Kflash commented on #3065
@chriscct7 Hi. I saw you used a referance to my repo - ugma. Anyway. Have you looked at angularJS?You could use the standards-based aria-hidden attribute. Mostly this problem occur if you check for style.visible === true / false. So I mostly solved my issue with checking if the aria attribute are hidden or not. Shouldn't affect anything. There are pro and cons ofc.

I also see that jQuery has prob

[2015-02-10 03:45] pippinsplugins commented on #2985
:+1:

[2015-02-10 04:33] sudar opened #3072 "December month data is plotted in January month in the earnings graph"
If you choose to plot the earnings in the reports page using a custom range that includes the year end then the earnings for the month of December are plotted in January.

Here is the screenshot of the earnings graph that explains the issue.

![screenshot 2015-02-10 09 58 15](https://cloud.githubusercontent.com/assets/103148/6121578/f70d1944-b10b-11e4-84a3-0eca7db55a82.png)

[2015-02-10 05:15] chriscct7 commented on #3065
@kflash We're not interesting in bundling AngularJS into EDD core.

[2015-02-10 05:23] chriscct7 commented on #3065
Just to re-iterate, the point of this issue isn't to find a replacement, its to determine if we suffer from a performance issue because of the reported issue that jQuery has logged. We do not need to look for solutions until after we determine whether or not we have a problem, its a completely moot activity. Once someone has verified that there is in fact a problem, then a new ticket should be ope

[2015-02-10 05:31] Kflash commented on #3065
@chriscct7 Just a suggestion on alternative solution was using aria attribute. But I see the main issue here is to find out if there is any performance issue. Should be easy enough. But the source code only contain 10% javascript. Where in the code is this possible bottleneck located? I can have a look.

[2015-02-10 05:36] chriscct7 commented on #3065
According to jQuery any use of .show or .hide(). It shouldn't take long to test, I was planning on profiling it this weekend to check. We've got probably 8 to 15 uses of both of them combined.

[2015-02-10 06:27] Kflash commented on #3065
@chriscct7 I just looked into the javascript code on this webpage, and I think show() / hide() are not the biggest problems comparing to all the re-flows, mis-use of $, slow javascript performance and a ton of extra bytes you could have shaved off with simplifying.

https://developers.google.com/speed/articles/reflow

[2015-02-10 06:30] chriscct7 commented on #3065
Curious what misuse of $ you found

[2015-02-10 09:18] Kflash commented on #3065
@chriscct7  Example:  https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/assets/js/admin-scripts.js#L85-L97

Here is a lot of this $.  This could be shortened and reduced to 1 if you use the event target.

Example $(this) could be the event.target.  Then you can skip 2 of this $.  parent().parent() is not a good combination either, but..

https://github.com/easydigitaldownl

[2015-02-10 16:45] #3024 closed

[2015-02-10 16:49] pippinsplugins commented on #3056
Not yet, sorry.

[2015-02-10 16:49] pippinsplugins commented on #3056
If you need to get an update for an add-on out, just use an action for now.

[2015-02-10 16:58] #3057 closed

[2015-02-10 17:12] pippinsplugins commented on #3059
According to Wikipedia, there is no official standard for the symbol that is used. Some use `RIAL`, some use `ریال`, and some use `IRR`.

For this reason, we're not going to change it in EDD core at this time. For anyone that does wish to change it, there is the documentation linked above and also the [Currency Converter extension](https://easydigitaldownloads.com/extensions/currency-converter/),

[2015-02-10 17:12] #3059 closed

[2015-02-10 17:24] pippinsplugins commented on #1756
@ghost1227 Could you update your PR again?

[2015-02-10 17:27] #2037 closed

[2015-02-10 17:35] pippinsplugins opened #3073 "Add line breaks to edd.css"
Since the `edd.css` file has a minified version, we should really add full line breaks after all rules in `edd.css` so that it's easier to read and modify. There's no reason to use single-line CSS here.

[2015-02-10 17:36] pippinsplugins commented on #2322
Line breaks opened as a separate issue: #2322

This issue is now focused on just standardized classes.

[2015-02-10 17:38] pippinsplugins commented on #2984
@danieliser Still interested in writing up a PR for this?

[2015-02-10 17:38] pippinsplugins commented on #2964
@jchristopher Are you able to reliably replicate this on your site?

[2015-02-10 17:39] pippinsplugins commented on #2935
I'm going to go ahead and punt this to 2.4.

[2015-02-10 17:39] jchristopher commented on #2964
No, I have't ever been able to reproduce it, and only had this one report from a single customer.

[2015-02-10 17:39] pippinsplugins commented on #2897
@cklosowski any thoughts on this?

[2015-02-10 17:40] pippinsplugins commented on #2808
@ghost1227 Could you resubmit to `release/2.3`?

[2015-02-10 17:41] pippinsplugins commented on #2805
I think this can be closed now and continued with #2819 (multiple rates per country) and #2820 (multiple tax types).

[2015-02-10 17:41] #2805 closed

[2015-02-10 17:42] pippinsplugins commented on #2771
This could use some really serious testing, @mindctrl @sumobi @sdavis2702 @ghost1227 @chriscct7

[2015-02-10 17:42] pippinsplugins commented on #2548
@sdavis2702 @sumobi @chriscct7 @ghost1227 @mindctrl I'd love to see some serious testing on this from you guys. More eyes == better results.

[2015-02-10 17:43] pippinsplugins commented on #2288
This isn't going to happen for 2.3. There hasn't been enough demand for this to make it a priority.

[2015-02-10 17:45] pippinsplugins commented on #1490
This is getting closer to being feasible with #1976.

[2015-02-10 17:47] pippinsplugins commented on #603
@sdavis2702 @sumobi @ghost1227 @mindctrl @chriscct7 To prevent more support tickets than we want to even imagine, this needs to be perfect. Can we get some solid testing on this? Extensions we need to test with are listed [above](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/603#issuecomment-70010909)

[2015-02-10 17:55] pippinsplugins commented on #2964
Ok. I'm going to punt it to 2.4 for further consideration. If we see it happen again and con look at the exact headers sent then, we may be able to fix it earlier.

[2015-02-10 18:23] bseddon commented on #2820
This is functionality I added to our VAT extension and it was reasonably straight-forward to implement.  There are some specific requirements.  The EU has the idea of a rate types such as standard, reduced, super-reduced and parking.  However what is reduced in one country is not necessarily reduced in another.

So it is ideal to be able to create tax classes ('e-books' and 'software' say) to whic

[2015-02-10 19:03] cklosowski commented on #3068
@mindctrl @pippinsplugins So i've got this working, however I have an edge case...

Setup a product with variable pricing...and one (or all) of the options are ```$0.00```.

This will always trigger ```straight_to_gateway``` if a ```price_id``` is not sent to the short code.

Thoughts on if we fix that somehow?

[2015-02-10 19:05] pippinsplugins commented on #3068
Let's add a check to see if all prices are free. If they are, disable buy now. You could use the `get_highest/lowest_price_option()` functions for this.

[2015-02-10 19:05] cklosowski commented on #3068
Ok that was my thought too, we can do that. Should have this done shortly for review.

[2015-02-10 19:06] pippinsplugins commented on #3068
We could also add some javascript to revert to add_to_cart for the action
if the selected price option is free.

On Tue, Feb 10, 2015 at 1:05 PM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-10 19:07] cklosowski commented on #3068
@pippinsplugins Yes, was going to do that. also, should we make ```$download->is_free``` return true if all options are $0.00? I think that'd be the best option here.

[2015-02-10 19:10] pippinsplugins commented on #3068
Yes, I like that.

[2015-02-10 19:28] pippinsplugins commented on #2820
Thanks for the feedback.

When we do this, we'll probably keep it pretty simple and straight forward and then allow for extensions like yours to handle more advanced requirements.

[2015-02-10 19:48] pippinsplugins commented on #2834
We'll add better MS upgrade options in the future. For now the original issue in this ticket is resolved with #3034

[2015-02-10 19:48] #2834 closed

[2015-02-10 19:51] pippinsplugins commented on #2548
I think we should make the `email` column second:
![screen shot 2015-02-10 at 1 50 48 pm](https://cloud.githubusercontent.com/assets/1034109/6135155/e212976a-b12b-11e4-8da1-dbdc1d0630e1.png)

Also, how about combining the Name and ID column to show as `#x - {name}`. Anyone opposed?

[2015-02-10 19:51] danieliser commented on #2984
Absolutely. Will submit it today.

[2015-02-10 19:52] pippinsplugins commented on #2548
Search by name doesn't work right now:
![screen shot 2015-02-10 at 1 51 53 pm](https://cloud.githubusercontent.com/assets/1034109/6135169/02ec43be-b12c-11e4-8c90-249bb73137a6.png)

[2015-02-10 19:54] pippinsplugins commented on #2548
@cklosowski Any reason you added `customers/functions.php` https://cloudup.com/ca-G3Pdy_nq ? We're not using it now so I'd propose we remove it.

Current todo:

- [ ] Combine name / ID columns
- [ ] Allow search by name
- [ ] Remove customers/functions.php folder/file.

[2015-02-10 19:57] cklosowski commented on #2548
@pippinsplugins Ok i'll tackle those. The ```customers/functions.php``` file was being used at one point in my iterations. I left it for now until I'm ready to sign off on this. Once we're good I'll remove it.

[2015-02-10 19:57] pippinsplugins commented on #2548
A couple more items:
- [ ] edd_edit_customer() needs PHPdoc
- [ ] add typecasting to edd_edit_customer() at `if ( $customer_info['user_id'] != $customer->user_id ) {`

[2015-02-10 20:02] pippinsplugins commented on #2548
By the way, anyone is welcome to tackle these. Doesn't have to be @cklosowski :)

[2015-02-10 20:04] pippinsplugins commented on #2548
Looks like we need to update payment records to store the user ID when a guest customer is attached to a user account. This payment's customer was a guest then it was updated to be connected to a user account, but still shows as `guest`: https://cloudup.com/cQQJ7lsAj4n

- [ ] Attaching a customer to a user account should update their payment records (the user_id meta).

[2015-02-10 20:13] danieliser commented on #2984
Is there any reason we can't simplify this function? By that i mean currently it sets $this->start_date and then 2 lines later sets $this->start_date again using $this->convert_date.

I feel like it could be simplified to check for empty values and then set $this->start_date at the end only.

[2015-02-10 20:35] pippinsplugins commented on #2548
- [ ] Pagination doesn't work. This site has over 10,000 customers: https://cloudup.com/c51MLceNiWc

[2015-02-10 20:36] danieliser commented on #2984
I wrote it up in a more simplified manner. Since there are no other methods called between setting $this->start_date and setting it again later in the function there is no need to set the class variables twice.

I rewrote it to simply check for empty values before setting the class variables with convert_date.

[2015-02-10 20:38] pippinsplugins commented on #2548
If there's no name set on a customer, we should show something: https://cloudup.com/cUKGMwgg5mp

[2015-02-10 20:41] pippinsplugins commented on #2548
By the way: this is really easy to test now thanks to #3061

[2015-02-10 20:47] pippinsplugins commented on #2548
My proposal for how to combine name/ID and handle empty names.
![screen shot 2015-02-10 at 2 47 01 pm](https://cloud.githubusercontent.com/assets/1034109/6136116/b4ed6de8-b133-11e4-8619-7ecb6fdb91a3.png)

[2015-02-10 20:50] pippinsplugins commented on #2548
To be consistent with the standard Users UI, I think we should link the customer's name to their View page.

[2015-02-10 21:02] cklosowski commented on #3068
Ok @ghost1227 Can you test this with Purchase Limits? I've done some basic testing with it, seems to work fine.

[2015-02-10 21:05] ghost1227 commented on #3068
Sure thing!

[2015-02-10 21:07] cklosowski commented on #3068
For those curious the major changes are:
* When outputting the ```purchase_link``` shortcode, we verify if the item is free, and therefore change the ```edd_action_input``` to ```add_to_cart```
* ```$download->is_free``` now checks the low and high price if no ```price_id``` is provided and the download has Variable Pricing. If the highest AND lowest prices are ```0.00``` we return ```true```
* If

[2015-02-10 21:08] pippinsplugins commented on #3068
:+1:

[2015-02-10 21:11] pippinsplugins commented on #2548
This is the main item left that I see right now: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2548#issuecomment-73773063

[2015-02-10 21:27] danieliser commented on #2984
PR made. Sorry for the extra commit. Ended up having to reset my entire repo to get rid of some nasty looking & glitched commits.

[2015-02-10 21:45] sdavis2702 commented on #603
@pippinsplugins @cklosowski Mind giving a quick brief on how to test? I'm guessing anywhere a download link is used, make sure it works?

[2015-02-10 21:49] pippinsplugins commented on #603
Yep!

For core functionality:

1. Checkout `master`
2. Make a purchase and get the download URLs
3. Checkout `issue/603`
4. Make sure the file URLs in 2 still work
5. Make a new purchase (or generate new URLs on old purchase) and ensure they still work

For extensions:

1. Checkout `issue/603`
2. Test feature of extension and ensure it still works.

[2015-02-10 22:43] cklosowski commented on #3072
Going to have to punt this one. It's a bug we need to investigate further. I can't find a solution to it as our data looks sane, and with an updated jquery.flot It still isn't fixed.

[2015-02-10 23:27] cklosowski commented on #2985
@mintplugins Can you try adding the following line after the ```X-Accel-Redirect``` header?
```header( "Access-Control-Allow-Origin: *" );```

If you could, enable that line so that the Nginx check looks like this:
[code]

[2015-02-10 23:32] pippinsplugins commented on #2926
Looks like we need to adjust the cart widget to show item quantities.

[2015-02-10 23:33] pippinsplugins commented on #3033
Duplicate of #3033

[2015-02-10 23:34] pippinsplugins commented on #2760
Duplicate of #3033

[2015-02-10 23:34] #2760 closed

[2015-02-10 23:37] pippinsplugins commented on #2931
Aren't this and #2926 the same issue now?

[2015-02-10 23:39] pippinsplugins commented on #2721
This has to be punted for now since we don't yet store the refunded amount. We're already running an upgrade routine for 2.3 and I'd rather not run multiple/

[2015-02-10 23:39] pippinsplugins commented on #2721
Related to #2625

[2015-02-10 23:41] pippinsplugins commented on #2704
Dependent upon #2881

[2015-02-10 23:42] pippinsplugins commented on #2473
@cklosowski I'd like you to test this as well.

[2015-02-10 23:44] pippinsplugins commented on #1930
Hmm, so this is interesting. It just occurred to me that signed URLs in #603 does not actually fix this bug. Some servers will still delete the file since it contains `base64_*` functions for backwards compatibility.

What if we moved those functions to a separate file and then wrap the file in a `if( file_exists() )` check? That way it will load if present (so old URLs work) but will not fatal er

[2015-02-10 23:45] cklosowski commented on #2667
@ghost1227 If you can, see what happened to your commits for this Would like to get things moving, If you can make it a PR or something that'd be great.

[2015-02-10 23:45] pippinsplugins commented on #1427
While I'm not sure we can get this finished for 2.3, I'd like to at least lay out how it's going to work and what kind of reports we're going to create.

[2015-02-10 23:47] pippinsplugins commented on #2667
@ghost1227 If you can't find them, we'll rewrite it.

[2015-02-10 23:51] cklosowski commented on #2926
As in:
```Item Name - X @ $X.XX - remove```?

[2015-02-10 23:52] cklosowski commented on #2931
@pippinsplugins yes, they are the same issue now I believe...we created them at separate times but after refactoring the cart count function I believe they are pretty much the same.

[2015-02-10 23:53] pippinsplugins commented on #2931
Merging then.

[2015-02-10 23:54] pippinsplugins commented on #2926
Duplicate of #2931.

[2015-02-10 23:54] #2926 closed

[2015-02-10 23:54] pippinsplugins commented on #2931
As @cklosowski proposed on #2926, I like `Item Name - X @ $X.XX - remove?`

[2015-02-10 23:55] cklosowski commented on #2548
Sounds good. I'll get on that after we close up 2.2.8 stuff, if you don't get to it first.

[2015-02-10 23:57] cklosowski commented on #2093
Yes, btw, we should ALWAYS use ```-``` in CSS/HTML classes and attributes, never ```_```. jQuery can't parse data elements with ```_``` in the attribute name.

[2015-02-11 00:04] cklosowski commented on #2882
I'm getting:
```ReferenceError: data is not defined``` Script debug is on, so I'm not using minified versions.

[2015-02-11 00:07] cklosowski commented on #2882
The error is actually in the ```.fail``` catch:

[code]
 Fixes it, the ```console.log``` was trying to use ```data``` not ```response```. I assume because the ```success``` catch is using ```data```. Just a naming issue.

[2015-02-11 00:45] Kflash commented on #3065
@chriscct7 I took a benchmark test on jQuery hide() / show() now, and there is some performance issues here. Very obvious if you look at the results (I compared with my own code).

Anyway. The bottleneck for jQuery seems to be the show() method, and not the hide() method.

**------------------------show/hide------------------------------
jquery#hide() x 531,816 ops/sec ±1.34% (91 runs sampled)
jqu

[2015-02-11 01:18] danieliser commented on #2548
Won't combining the ID & Name field make sorting by name impossible? As it would always sort by the ID no?

[2015-02-11 01:19] chriscct7 commented on #1930
Or we could just do https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/1930#issuecomment-33760897 and we'd never have to worry about it again.

[2015-02-11 01:48] pippinsplugins commented on #2093
I did not know that.

[2015-02-11 01:48] pippinsplugins commented on #1930
No. We will never, ever, ever do that.

[2015-02-11 01:48] pippinsplugins commented on #2548
No, it's just for display. It supports sorting by name (I did it earlier today) :)

[2015-02-11 02:24] pippinsplugins opened #3076 "Buy Now buttons does not support purchase form quantity field"
The `Buy Now` buttons do not currently support the quantity field that is shown on the purchase form, as introduced in #2125.

Pre-click: https://cloudup.com/cMztW9MCF9X
Post-click: https://cloudup.com/cJx39uiL6mz

[2015-02-11 02:35] pippinsplugins commented on #3021
I've opted to set Buy Now purchases as `private` and then exclude private items from default payment queries. This seems to work really well.

[2015-02-11 02:37] pippinsplugins commented on #2955
I'm going to go ahead and punt this to 2.4 since it's still a `nice to have`.

[2015-02-11 02:48] pippinsplugins commented on #2707
This looks great to me. Everything works great.

[2015-02-11 03:13] pippinsplugins commented on #2558
First pass submitted in #3078.

Any feedback?

[2015-02-11 03:23] danieliser commented on #2955
Will get this written up this week. That way it will be ready for testing early in the 2.4 cycle.

[2015-02-11 03:24] pippinsplugins commented on #2955
:+1:

On Tue, Feb 10, 2015 at 9:23 PM, Daniel Iser <notifications@github.com>
wrote:

[2015-02-11 03:29] pippinsplugins commented on #2558
I'm not sure why the unit tests are failing here . . . it works outside of unit tests.

[2015-02-11 04:14] cklosowski commented on #2558
Will have a look

[2015-02-11 04:55] chriscct7 commented on #1930
I know ;)

[2015-02-11 05:20] cklosowski commented on #2558
First two errors look like rounding issues, 2nd two look like something isn't being updated.

[2015-02-11 05:51] cklosowski commented on #2558
@pippinsplugins  See commit and comment:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/bd70164cf1141e3f005ccaab92e94a3624d9a4b1

[2015-02-11 09:24] nikolov-tmw opened #3079 "Adding extra columns to cart table breaks the layout if you have fees"
If you want to add one(or more) custom columns to the cart, you can use the `edd_checkout_table_header_first` and `edd_checkout_table_header_last` actions to add the `<th>` elements and the `edd_checkout_table_body_first` and `edd_checkout_table_body_last` actions to add the `<td>`'s.

However there are no corresponding actions for the fees part of the cart table, which results in the table layout

[2015-02-11 10:15] nikolov-tmw opened #3080 "No action hooks available to add "Actions" to items in the cart"
Right now the only elements available in the "Actions" column of the Cart table are the quantity input(if enabled) and the "Remove" link for removing the item from the cart.

It would be great if there's at least an action that allows themes/plugins to hook in and add extra actions there(for instance if you have some extra customizations, you can show controls to remove those). Ideally EDD would h

[2015-02-11 15:07] cklosowski commented on #1930
@pippinsplugins yeah I'm good with that. I realized that it wasn't fixing the greater issue in the first iteration. I hadn't thought of the ```file_exists``` method. I like that.

[2015-02-11 15:08] pippinsplugins commented on #1930
:+1:

On Wed, Feb 11, 2015 at 9:07 AM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-11 15:52] pippinsplugins commented on #2548
Two more things:
- [ ] Customer searching appears to fail, at least with 10,000 customer records. Try searching for a known email address.
- [ ] When a user account is created, search for customers with a matching email. If a customer is found, update the `user_id` column to connect the user to the customer

[2015-02-11 15:54] cklosowski commented on #2548
@pippinsplugins the search issue, might just be something to do with the chosen library, but we'll do what we can. We run into this exact same issue with people who have thousands of downloads and want to use the bundle...or the discount product restrictions.

[2015-02-11 15:55] cklosowski commented on #2548
Also, have se settled on if updating a customer email and name updates the user email and name?

[2015-02-11 15:58] pippinsplugins commented on #2548
I don't think it has anything to do with chosen.

Yes, let's update user when customer is updated and update customer when user is updated.

[2015-02-11 16:04] mindctrl opened #3082 "Variable option file price assignments are incorrectly reassigned during download creation"
Steps to reproduce:

- Create new product with variable pricing enabled.
- Add two or more price options
- Add files to File Downloads and configure Price Assignments for each pricing option. [Screenshot](http://cl.ly/image/0o0k0p0c0g3H)
- Publish download

At this point the Price Assignments have been shifted and reassigned. [Screenshot](http://cl.ly/image/060w0h3k0q3o)

Related:
Fix the Price As

[2015-02-11 16:16] mindctrl opened #3083 "Enhancement: Give Option Name field focus when clicking Add New Price"
When creating new variable price options, it would be nice if the Option Name field received focus when clicking Add New Price.
![image](https://cloud.githubusercontent.com/assets/1254870/6150760/469119c4-b1df-11e4-8793-20d661d0ff21.png)

[2015-02-11 17:27] pippinsplugins commented on #3083
:+1:

[2015-02-11 17:54] pippinsplugins commented on #2558
:+1:

[2015-02-11 20:36] ghost1227 commented on #2882
I did duplicate that error, but that predated my change and doesn't impact usability. I'll be happy to submit a PR for that, but it doesn't explain why @pippinsplugins couldn't get the PR to work at all.

[2015-02-11 20:46] ghost1227 commented on #2808
Resubmitted as requested

[2015-02-11 22:19] chriscct7 commented on #2657
This is ready for merge in #3088

[2015-02-11 22:27] pippinsplugins commented on #2657
This shouldn't be a separate function. It should be part of the same function we already have.

[2015-02-11 22:31] sumobi opened #3089 "CVC field allows for more than 4 digits"
The CVC field at checkout allows for more than 4 digits

![screen shot 2015-02-12 at 11 28 57 am](https://cloud.githubusercontent.com/assets/52581/6157946/7a1b42d0-b2aa-11e4-984f-f83b67382e27.png)

We could either

1. Limit it to 4
2. Allow more than 4 but show a validation error

[2015-02-12 01:29] pippinsplugins commented on #2984
Great, will review soon.

[2015-02-12 01:49] pippinsplugins commented on #2882
@ghost1227 Could you go ahead and fix Chris's note and then I can test it again?

[2015-02-12 01:59] chriscct7 opened #3092 "Travis-CI Skipping 2 HHVM builds"
WP_VERSION=4.0 WP_MULTISITE=0 and WP_VERSION=3.9.2 WP_MULTISITE=0 on hhvm aren't running on any of our builds, they're killing themselves before running PHPUnit

[2015-02-12 02:03] chriscct7 commented on #2657
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/55c0e6cdadcd74f53d6c1615b9e90c104bde8444

[2015-02-12 02:30] chriscct7 commented on #3073
#3093 is ready for merge

[2015-02-12 02:37] chriscct7 commented on #2848
Since we're going to remain with Travis for unit testing, closing

[2015-02-12 02:37] #2848 closed

[2015-02-12 05:45] ghost1227 commented on #2882
@pippinsplugins I did... this morning...

[2015-02-12 05:46] ghost1227 commented on #2429
@pippinsplugins what's the status on this?

[2015-02-12 06:16] ghost1227 opened #3094 "Add support for banning email domains"
As suggested [here](https://easydigitaldownloads.com/support/topic/idea-for-banned-emails/), it'd be cool for people to proactively disallow email domains, not just retroactively ban individual emails

[2015-02-12 06:23] chriscct7 commented on #3094
+1. We could just use the format *@domain.com to block all emails from domain.com

[2015-02-12 06:40] ghost1227 commented on #3094
Done, including passing new unit tests.

[2015-02-12 13:34] cklosowski commented on #2882
@ghost1227 Seeing one more thing now...I have 2 products that contain ```bundle``` in the name.

I get ```'No results found'``` as i type up until my string is ```bund```, then I get no updates to the ```results``` view, and checking the response in the inspector gives me this is the AJAX return:
[code]

Seems like ```	$excludes = (array) $_GET['post_id'];``` should have a ternary giving a default

[2015-02-12 13:49] cklosowski commented on #2880
Here's what I've found:
Pages that give ```You do not have sufficient permissions to access this page.```
- [ ] Viewing Payment Details - I'd assume saving will be the same thing.
- [ ] Searching for payments on the Payments List Table
- [ ] Bulk Actions on the Payments List Table
- [ ] Applying a Date Ranges in the Payments List Table
- [ ] Searching Discounts
- [ ] Editing/Adding a Discount
- [

[2015-02-12 13:54] cklosowski commented on #3073
This looks great @chriscct7. Love that you even left off the ```;``` on the last item in the styles :+1:, those add up to file size quick.

@sdavis2702 Can you peek over this with your CSS wizardry and just give your stamp of approval?

[2015-02-12 13:57] cklosowski commented on #3092
@chriscct7 Yes, I'm not sure the reasoning on this yet either. If you have an idea, let me know. I think it was due to some include failing, for some reason.

[2015-02-12 14:18] mindctrl commented on #3073
Since we ship a minified version, I'd like to see this version go "full on" standard. Spaces after the colons, ending with the semi-colons.
Instead of `display:block` I'd love `display: block;`.

Any reason to not do that here, other than it's annoying to update it now? :laughing:

[2015-02-12 14:42] pippinsplugins commented on #3021
This has been merged into `release/2.3`.

[2015-02-12 14:47] pippinsplugins commented on #3094
Instead of making this a separate box, as proposed in #3095, I'd like to see this be part of the current banned emails setting. If you want to ban a domain, enter `@domain.com`. If you want to ban a specific email, enter `email@domain.com`. Having too separate boxes seems overkill to me and clutters the UI.

[2015-02-12 14:52] pippinsplugins commented on #3073
I agree with @mindctrl

[2015-02-12 14:53] pippinsplugins commented on #3073
I'd also like to see selectors like this broken up into multiple lines:
[code]
to
[code]

[2015-02-12 14:54] pippinsplugins commented on #3073
@chriscct7 Why did you remove the error and success classes?

[2015-02-12 15:00] #3068 closed

[2015-02-12 15:01] ghost1227 commented on #3094
A big part of why I didn't combine them comes down to sanitization. If we have both types in one box, we can't use the current array mapping to validate input. Do you have a suggestion for how we can safely handle sanitization for both simultaneously?

[2015-02-12 15:02] pippinsplugins commented on #2429
#2872 is getting included in `release/2.3` and then #3011 will be 2.4.

[2015-02-12 15:06] pippinsplugins commented on #3094
If the email starts with `@`, sanitize it for a domain only, otherwise a whole email.

[2015-02-12 15:07] ghost1227 commented on #3094
Does array_map have an is_domain arg like the is_email we're using?

[2015-02-12 15:09] pippinsplugins commented on #3094
No, you'll need to do your own check. Use `strpos`

[2015-02-12 15:14] ghost1227 commented on #3094
We're currently using `$emails = array_filter( array_map( 'is_email', $emails ) );` to sanitize emails. If we're potentially mixing addresses and domains, that whole premise goes out the window and we have to iterate through the array testing one at a time, right? Because that command will automatically filter out any non-emails. Or am I missing something?

[2015-02-12 15:17] pippinsplugins commented on #3094
Just modify that to loop through and look at each one individually. `array_map` is just a convenient `foreach()` loop in essence.

[2015-02-12 15:33] ghost1227 commented on #3094
This is the best I've come up with, but there HAS to be better...

[code]

[2015-02-12 15:34] chriscct7 commented on #3073
What are you talking about? I didn't remove them. They're in the PR.

[2015-02-12 15:35] pippinsplugins commented on #3094
That's on the right track. You will want an `else` in there as well for ones that are emails to ensure they get sanitized. You also need to sanitize the ones that start with `@`.

[2015-02-12 15:37] ghost1227 commented on #3094
But it's that sanitization I'm lost on.  Other than trim() is there anything else we CAN do to sanitize?

[2015-02-12 15:38] pippinsplugins commented on #3094
Run all emails and domains through `sanitize_text_field`

[2015-02-12 15:49] ghost1227 commented on #3094
OK, updated the PR to merge the fields. Tell me if I missed anything!

[2015-02-12 15:58] pippinsplugins commented on #3094
The way domains are checked is potentially dangerous. Right now you have `stristr( trim( $email ), $banned_email )`. This works but could also result in a valid email getting improperly banned.

For example, let's say that you have banned `accounts@test.com` then a real customer tries to purchase with `software-accounts@test.com`. Both emails would get banned even though only the first one should

[2015-02-12 16:00] pippinsplugins commented on #3094
One more change too. Let's modify how the emails are sanitized a bit on save.

First, run all emails through `array_map( 'sanitize_text_field', $emails );`

Second, loop through and do an is_email check, just as you are doing. That will make it so `sanitize_textt_field` is only called once. Reduces some logic.

[2015-02-12 16:02] pippinsplugins commented on #3073
Ignore me. I was (not) seeing things.

[2015-02-12 16:05] pippinsplugins commented on #3018
@cklosowski I think we should go ahead and merge this into `release/2.3`.

[2015-02-12 16:05] pippinsplugins commented on #2548
@cklosowski I think we should go ahead and merge this into `release/2.3`.

[2015-02-12 16:05] #3061 closed

[2015-02-12 16:06] ghost1227 commented on #3094
I am checking for both... `$banned_email == trim( $email ) || stristr( trim( $email ), $banned_email )`

[2015-02-12 16:07] pippinsplugins commented on #3094
I know. It's the second check that's dangerous.

My banned emails: https://cloudup.com/cpoxCWh2h8e
My email on checkout: https://cloudup.com/cM4F8YyLQdx

My email should be valid, but it's banned: https://cloudup.com/c7Bm6x7LAFw

[2015-02-12 16:08] pippinsplugins commented on #3094
It's banned incorrectly because of `|| stristr( trim( $email ), $banned_email )`.

[2015-02-12 16:08] pippinsplugins commented on #3094
That logic needs to be changed to `OR email domain matches banned domain`

[2015-02-12 16:11] pippinsplugins commented on #2819
We're getting to close to 2.3 release date. Need to punt to 2.4.

[2015-02-12 16:11] pippinsplugins commented on #2717
@ghost1227 Could you please make a pull request for this?

[2015-02-12 16:30] pippinsplugins commented on #3018
This is now in `release/2.3`

[2015-02-12 16:30] pippinsplugins commented on #2548
This is now in `release/2.3`.

[2015-02-12 16:31] pippinsplugins commented on #2771
This is now in `release/2.3`

[2015-02-12 16:47] pippinsplugins commented on #2548
Customer address edits still aren't saving properly. They seem to be hit or miss. Sometimes they will save, other times they won't.

[2015-02-12 16:53] pippinsplugins commented on #2548
OH! We only store the customer address if we have a user ID associated:
[code]
Obviously we can't store it for guest users since we're storing it in user meta.

That begs the question then of, what the heck do we do with the UI?

[2015-02-12 17:01] spencerfinnell commented on #2548
When a customer doesn't have any address info I'm also seeing errors when editing: http://www.screensnapr.com/26m3u90m4ev8

I also think the Update Customer button should be primary (blue).

[2015-02-12 17:04] pippinsplugins commented on #2548
For the address on customers without an account, I see a few options:

1. We could go ahead and add DB columns for the address. We discussed this once but ultimately decided not to due to a number of extensions using the address. We could do it, however, and just add a filter to `get_metadata()` as I did [here](https://gist.github.com/pippinsplugins/146c6f90bc8194c7dba1) to ensure that manual call

[2015-02-12 17:37] chriscct7 commented on #3073
This is done, with the spaces, and the breaking up the lines more, and the removing trailing semi-colons. I think we should strongly consider merging this into 2.3, as we could get merge conflict on future prs that touch the css. We can avoid that possibility completely if we merge it now, and it doesn't hurt to merge it now anyways. Plus it removes @pippinsplugins's awesome line of css: https://g

[2015-02-12 18:17] sdavis2702 commented on #3073
@cklosowski Everything looks good to me. I don't really see the consistency in the "missing" semicolons, though. Some have it and some don't. Not a huge deal. I personally think they should always be there... especially in a file that is basically being handed to users.

[2015-02-12 18:20] chriscct7 commented on #3092
I don't think WP core's unit testing suite and HHVM below 4.1 are compatible.

[2015-02-12 19:32] cklosowski commented on #2429
@pippinsplugins It's been updated, looking over it, the change set here is super minor now that the other issue has been merged. Can you look at #3011 and see if we want it in 2.3?

[2015-02-12 19:57] cklosowski commented on #3073
Ok @pippinsplugins @sdavis2702 I'm going to merge this into ```release/2.3``` I think it's a good to go.

[2015-02-12 20:21] cklosowski commented on #2548
@spencerfinnell I'm actually not positive on that button color. It looks really off in the UI as the ```button-primary```. There's also some CSS issues with the `Cancel` link when using `button-primary`.

@pippinsplugins
At this point I think we should just disable it for Guests. I think with as much customer changes in this release, it'd be best suited to make a ```customer_meta``` table like is

[2015-02-12 20:27] pippinsplugins commented on #2548
@cklosowski I'm fine with disabling it for now.

[2015-02-12 20:47] cklosowski commented on #2548
ok @spencerfinnell @pippinsplugins How's that work for you

[2015-02-12 21:04] pippinsplugins commented on #2548
We need to change the UI as well so the address fields are only displayed if there is a user ID. We can't display the fields if they aren't editable.

[2015-02-12 21:11] spencerfinnell commented on #2548
Fixes the errors for :)

[2015-02-12 22:00] cklosowski commented on #2548
@pippinsplugins Did that in the last commit.

[2015-02-12 22:35] #2808 closed

[2015-02-13 03:40] corvannoorloos commented on #2677
@pippinsplugins, this still needs to load on init for custom translations to work.

Also, see https://easydigitaldownloads.com/support/topic/change-language-of-the-plugin/ and http://geertdedeckere.be/article/loading-wordpress-language-files-the-right-way.

[2015-02-13 13:15] chriscct7 commented on #2979
Verified. You can't manipulate an index before it's been instantiated. On that line, the first time it's run, ['earnings']['date]' hasn't been instantiated, and therefore you can't += add to it.

P.O.C: http://sandbox.onlinephpfunctions.com/code/b9fd2c6ea19dce6cf2300befdee826e1de7dc88e

The earnings index should be instantiated outside the while loop, like $earnings['earnings'] = array();
Inside t

[2015-02-13 13:17] chriscct7 commented on #2979
The same situation also needs the same fix here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/class-edd-api.php#L913

[2015-02-13 13:27] chriscct7 commented on #2677
@corvannoorloos see https://wordpress.org/support/topic/loading-textdomain-after-plugins-loaded?replies=2 and http://ottopress.com/2013/language-packs-101-prepwork/
"Any calls to load_plugin_textdomain should be in a function attached to the “plugins_loaded” action hook."

Geert De Deckere's argument is counterintuitive. His argument is you want to run it as early as possible. plugins_loaded is do

[2015-02-13 13:47] corvannoorloos commented on #2677
@chriscct7

Like I am, yes he probably does have:

`define( 'WPLANG', 'nl_NL' );`

Note, our difficulties aren't with using the provided translation files, but using a [custom](http://docs.easydigitaldownloads.com/article/231-using-your-own-translation-files) translation located in the wp-content root dir `wp-content\languages\edd\edd-nl_NL.mo`, which apparently only works on init.

[2015-02-13 13:55] barrykooij commented on #2979
Wow, I totally forgot to reply to this issue :(

Still need my logs?

[2015-02-13 14:03] chriscct7 commented on #2979
@barrykooij Yep :)

[2015-02-13 14:28] chriscct7 commented on #2677
We're going to have to investigate this, and if its a problem find a way around it. We have a lot of users running custom translations in this folder. There should be more support tickets if this is a problem for everyone. We can't change it off of plugins_loaded, because that's what we have to use to support the new WordPress plugin language packs that's being rolled out on WordPress.org over the

[2015-02-13 14:29] chriscct7 commented on #2677
Going to set this to 2.3 so its hits the queue

[2015-02-13 14:31] chriscct7 commented on #2979
I'll start on a PR for the 2 I mentioned above, and then a separate ones for any more we find in Barry's logs

[2015-02-13 14:35] chriscct7 commented on #3073
Merged into release/2.3. Closing.

[2015-02-13 14:35] #3073 closed

[2015-02-13 14:43] corvannoorloos commented on #2677
Thanks, and understandable.

Not really sure about how many though. As with WordPress (`wp-content\languages\nl_NL.mo`) I assume few people are using this as a simple alternative (read hack) to using a filter and translating that from a custom plugin.

[2015-02-13 15:19] chriscct7 opened #3097 "Coupon appears to apply when product requirements not met"
When you make a coupon that excludes X, and then you go checkout with X and try to use the coupon, the coupon appears to apply but doesn't affect the overall cart total. When the coupon requirements aren't met, it shouldn't try to apply.

[2015-02-13 15:32] pippinsplugins commented on #2985
I'm going to punt this to 2.3 so that we can release 2.2.8.

[2015-02-13 15:50] pippinsplugins opened #3098 "Update translations in readme"
The list of languages EDD is translated into is listed in the readme.txt file, but it's largely out of date now. Let's bring it up to date for 2.3.

[2015-02-13 16:24] cklosowski commented on #3097
no discount is given though right?

[2015-02-13 16:30] dmethvin commented on #3065
@Kflash those are synthetic benchmarks and don't necessarily reflect the performance of any code in this repo. Taking a look at the "slowest" number there with `.show()`, it still manages about 20,000 per second or 5 *microseconds* per operation. Showing or hiding a few elements every few seconds isn't going to cause any performance problem if those reflect your usage.

Ultimately you need to test

[2015-02-13 16:33] mindctrl commented on #3097
Did you test this in master/2.2.8? There was an issue like this addressed there.

[2015-02-13 16:55] pippinsplugins commented on #3097
Correct, no discount is given. For example, here's a real purchase of EDD Core Extensions bundle: https://cloudup.com/cz7mxUavVOx

No discount but the code was applied.

[2015-02-13 17:03] pippinsplugins commented on #3097
My guess is that `edd_discount_product_reqs_met()` is returning `true` when it's not supposed to.

[2015-02-13 17:03] Kflash commented on #3065
@dmethvin I first off need to note that I actually ended up in this conversation in the first place. I had a peasefull life with my own code. When that is said, and about this performance issue.  Maybe this thread is not a correct place if this is a jQuery issue? If it is. It can be so simple that there are a lot of bad developers that cause this. But in the end, it has to be a kind of a *chain re

[2015-02-13 17:03] Kflash commented on #3065
@dmethvin I first off need to note that I actually ended up in this conversation in the first place. I had a peasefull life with my own code. When that is said, and about this performance issue.  Maybe this thread is not a correct place if this is a jQuery issue? If it is. It can be so simple that there are a lot of bad developers that cause this. But in the end, it has to be a kind of a *chain re

[2015-02-13 17:05] dmethvin commented on #3065
@Kflash If this were my repo, I'd close the ticket until someone comes up with a real performance problem--specifically *not* a jsperf. :smiling_imp:

[2015-02-13 17:05] pippinsplugins commented on #3097
Requirements that discounts on the EDD site use: https://cloudup.com/ctWQiafmd3i

[2015-02-13 17:09] pippinsplugins commented on #3065
I do think we need to close this out and separate it (if needed) to specific issues. For example: `improve caching of selectors in edd-ajax.js`.

Generalized issues like this don't really go any where. Thank you everyone for your comments and feedback :)

[2015-02-13 17:09] #3065 closed

[2015-02-13 17:12] pippinsplugins opened #3100 "Cache selectors in admin-scripts.js"
As raised in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3065#issuecomment-73667590, there are a lot os selectors in our admin JS that could benefit from being cached instead of traversing the DOM every time.

Here's one example: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/assets/js/admin-scripts.js#L129-L135

[2015-02-13 17:14] pippinsplugins commented on #2984
@danieliser Think you could get the PR re-submitted?

[2015-02-13 17:15] pippinsplugins commented on #2979
@chriscct7 Think you could get a PR submitted today?

[2015-02-13 17:16] pippinsplugins commented on #2881
This has had some good progress on it, but it's not going to get finished for 2.3. It's too important of a feature to have its testing cut short. I'm going to punt it to 2.4.

[2015-02-13 17:19] pippinsplugins commented on #2771
No need for `Has PR` here. The PR was already merged.

[2015-02-13 17:54] cklosowski opened #3101 "Download Stats are being increased when in TEST mode"
When a purchase is made in test mode, a download's earnings and purchase count are being increased. This should not happen.

FYI: Sales logs **are not** affected by this issue.

[2015-02-13 18:47] danieliser commented on #2984
Yes sorry, done.

[2015-02-13 19:04] mintplugins commented on #2985
Hey sorry - just seeing this now. Will try it now @cklosowski

[2015-02-13 19:09] pippinsplugins commented on #2429
Let's go ahead and just put it in 2.3. Will encourage us to get it done and done.

[2015-02-13 19:11] mintplugins commented on #2985
Hmm, that doesn't seem to have fixed the issue

Screenshot of code:
http://cl.ly/image/2a093z0Q2n2i

What I am getting as a download now is the HTML output for my homepage.

When I comment out that 'elseif' it works again as it should:
http://cl.ly/image/062R461M1u3p

[2015-02-13 19:43] pippinsplugins commented on #1976
@cklosowski I think we should rework the upgrade routine here to use direct DB queries to help avoid the slow down caused by re-indexing and cache busting, just like we did with the price log upgrade routine.

[2015-02-13 19:44] cklosowski commented on #1976
@pippinsplugins Sounds like a good plan

[2015-02-13 19:47] pippinsplugins opened #3104 "Another rounding issue with product prices when prices are inclusive of tax"
We have an extra penny showing up due to rounding issues.

To replicate:

- Set tax rate to 20%
- Set prices inclusive of tax
- Create a Download with a price of 9.99
- Add item to the cart and select appropriate country / state to be charged 20% tax
- Final price should be 9.99 but is actually 10.00

![screen shot 2015-02-13 at 1 47 15 pm](https://cloud.githubusercontent.com/assets/1034109/619412

[2015-02-13 19:54] pippinsplugins commented on #1976
It'll make the upgrade routine much, much faster.

[2015-02-13 19:54] #3089 closed

[2015-02-13 20:13] ghost1227 commented on #3080
I don't disagree with this... @pippinsplugins thoughts?

[2015-02-13 21:36] #3094 closed

[2015-02-13 22:06] #2984 closed

[2015-02-13 22:25] ghost1227 commented on #2548
The ONLY complaint I have so far is seriously minor. On the customer details screen, when switching between tabs there's around a three pixel 'glitch' caused by the browser highlighting the link on click.

[2015-02-13 22:48] ghost1227 commented on #2548
LOVING the filterable tabs though...

![screen shot 2015-02-13 at 4 46 31 pm](https://cloud.githubusercontent.com/assets/36433/6196654/1109615e-b3a0-11e4-8eb0-4bb1da8e3b26.PNG)

[2015-02-14 00:12] cklosowski commented on #2985
ok @mintplugins Thanks for testing that out. I just setup nginx on a VPS and I've been testing things out. I setup WordPress and EDD and linked to a Dropbox file (which should work just the same as Amazon), and this is what I came up with. Can you test this one? Sorry to have you keep trying things out but I want someone who has this as an issue live to try it out.

[code]

[2015-02-14 00:30] pippinsplugins commented on #2985
`if ( false !== strpos( $requested_file, $site_url ) ) {` may need to check both http and https, similar to what we do above:
[code]

[2015-02-14 00:31] pippinsplugins commented on #2548
:smile:

[2015-02-14 00:39] cklosowski commented on #2985
Actually, strike that...just change the conditions to this:
```$direct && ( stristr( getenv( 'SERVER_SOFTWARE' ), 'nginx' ) || stristr( getenv( 'SERVER_SOFTWARE' ), 'cherokee' ) )```

[2015-02-14 03:19] pippinsplugins commented on #2093
I think we need to close this because we're not going to change any existing files, classes, or IDs for backwards compatibility. Going forward, however, we need to ensure we're maintaining consistency.

[2015-02-14 03:19] #2093 closed

[2015-02-14 03:25] cklosowski commented on #2473
This seems to work much better for me, nice catch @elliott-stocks

[2015-02-14 03:27] #2473 closed

[2015-02-14 03:47] cklosowski opened #3107 "Upgrade Routine for Customer Purchase IDs"
The initial upgrade routine of customers (v2.2) apparently missed the attachment of some purchase IDs to the customers.

As we've now focused on the `EDD_Customer` class in #2548 && #3018, we need to make sure that for each Customer, we search for payment records not attached.

We can do this by:
Getting a list of purchase IDs currently attached to the customer ID
Getting a list of all purchase ID

[2015-02-14 03:54] pippinsplugins commented on #3107
:+1:

On Fri, Feb 13, 2015 at 9:47 PM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-14 03:54] pippinsplugins commented on #2872
Closing as fixed!

[2015-02-14 03:54] #2872 closed

[2015-02-14 04:00] #3098 closed

[2015-02-14 04:02] pippinsplugins commented on #3097
I can't make this happen. Works perfectly on my localhost.

[2015-02-14 04:07] pippinsplugins commented on #2882
Bundles are still showing in search results to me:
![screen shot 2015-02-13 at 10 06 51 pm](https://cloud.githubusercontent.com/assets/1034109/6198521/a8b0b7f6-b3cc-11e4-9f82-6cd5b6f3e18c.png)

[2015-02-14 04:09] ghost1227 commented on #2882
@pippinsplugins Now I _know_ there's something screwy with your implementation. @cklosowski and I spent hours working on it and it works fine for both of use across WordPress versions and in every scenario we could throw at it.

[2015-02-14 04:15] pippinsplugins commented on #2882
It can't just be me. This happens on both my machines.

This is wrong:
[code]

We can't use `$_GET` here. We're doing a `POST` request to admin-ajax.php. `$_GET` will be empty and the `$_GET['post']` var will not be set. We're not on the edit screen during this request, we're in admin-ajax.php.

[2015-02-14 04:16] pippinsplugins commented on #2882
It should be
[code]

[2015-02-14 04:17] pippinsplugins commented on #2882
There is also nothing in this that excludes other bundles from the search results (the purpose of the original issue). So far the changes are only to exclude the current item from the search results.

[2015-02-14 04:18] pippinsplugins commented on #2771
This is working beautifully. I'm closing.

[2015-02-14 04:18] #2771 closed

[2015-02-14 04:19] ghost1227 commented on #2882
Using `$_GET` has worked fine for us... even on brand new downloads. And yes there is something that excludes other bundles. It was the first thing finished... https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/3c0d59f1621a621750a9fabee97d07ffe0b642c6/includes/class-edd-html-elements.php#L55-L65

[2015-02-14 04:21] pippinsplugins commented on #2882
Ah! Sorry, forgot about that change for excluding bundles. I was looking only at the search.

[2015-02-14 04:21] ghost1227 commented on #2667
It's always been there... and I've linked it to you at least once in the last few weeks in hall. It's at https://github.com/easydigitaldownloads/Easy-Digital-Downloads/tree/feature/payments-class

[2015-02-14 04:23] ghost1227 commented on #2882
No problem... still curious why you're having issues though

[2015-02-14 04:24] pippinsplugins commented on #2882
I don't understand how `$_GET` can work here . . . it's not being done on the edit page, it's a remote request to another location . . .

[2015-02-14 04:27] ghost1227 commented on #2882
Works fine! In `assets/js/admin-scripts.js` you're passing EVERYTHING to the `edd_download_search` action in the form of a `$_GET`request.

[2015-02-14 04:34] chriscct7 commented on #3097
What are you running on localhost? Master or release/2.3?

[2015-02-14 04:35] chriscct7 commented on #3097
This might be a duplicate of the https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3069 issue if you're running master

[2015-02-14 15:55] mintplugins commented on #2985
No problem! Glad to help :)

I changed the conditions to your last response and it is working great! I testing it over https and over http and it is working on both as well.

[2015-02-14 16:23] chriscct7 commented on #2979
@pippinsplugins Yes

[2015-02-14 16:24] chriscct7 commented on #2979
I'm going to write this where the earnings key is unset if there's no earnings. If you want to keep it as an empty array if no earnings just let me know on the pr

[2015-02-14 16:33] chriscct7 commented on #2979
Pull for the 2 issues sent as #3110. @barrykooij did you have those log files?

[2015-02-14 17:01] pippinsplugins commented on #2985
Great!

[2015-02-14 17:01] #2985 closed

[2015-02-14 17:41] chriscct7 opened #3112 "Type handling issue with edd_get_purchase_form_user"
It seems like ```$valid_data``` defined by ```edd_purchase_form_validate_fields()``` on line 32 of https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/process-purchase.php#L32 can return false however, ```edd_get_purchase_form_user()``` which calls uses ```$valid_data``` on line 46 doesn't handle if ```$valid_data``` is a boolean as opposed to an array. We should ad

[2015-02-14 17:46] chriscct7 opened #3113 "We should add unit tests for the API"
Normally I'd advocate against opening tickets regarding code coverage, but the EDD API class which people are starting to use and rely on has only 24% coverage, so low that we're starting to get reports of issues as people and extensions start using it more frequently: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2979. For being the main API, we should try to get it to at

[2015-02-14 18:52] chriscct7 opened #3115 "$download in CLI doesn't appear to be defined"
The variable $download here https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/release/2.3/includes/class-edd-cli.php#L629 seems to be defined by a foreach iteration on line 574. Is $download supposed to be the last item in that foreach because that's what it's doing right now.

[2015-02-14 19:51] chriscct7 commented on #3092
Removing the 2 problematic ones from our build matrix in #3114

[2015-02-14 20:30] pippinsplugins commented on #3113
Agreed.

On Saturday, February 14, 2015, Chris Christoff <notifications@github.com>
wrote:

[2015-02-14 20:31] ghost1227 commented on #3113
Can do!

[2015-02-14 21:09] chriscct7 opened #3116 "CLI Class needs unit tests"
"add another issue for unit tests for CLI and assign it (and API) to me. I'll take care of them sometime this weekend or monday at the latest" - @ghost1227

[2015-02-14 22:58] chriscct7 commented on #2548
Just ironed out alot of the bugs in this and the new Customer class in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3114

[2015-02-15 01:41] cklosowski commented on #3116
Since these are nice to have, i'm dropping them into 2.4...we're WAY overloaded for 2.3 and running short on time.

[2015-02-15 01:43] cklosowski commented on #3097
@chriscct7 It's very likely it is a duplicate. Can you test out master, and now 2.3 as we've updated 2.3 with master after 2.2.8 went live?

[2015-02-15 01:48] chriscct7 commented on #3116
The agreement with @ghost1227 was if he didn't have his pull request done by this upcoming weekend, it would be punted to 2.4.

[2015-02-15 01:49] ghost1227 commented on #3116
I also said that this and the API unit tests would get written by Monday night. It'll be in before 2.4, whether or not you merge it is your call.

[2015-02-15 01:58] chriscct7 commented on #3097
Ask @pippinsplugins. Its on his site. I don't have a discount code that I can use to test it with

[2015-02-15 02:19] pippinsplugins commented on #3116
2.4 please

On Saturday, February 14, 2015, Ghost1227 <notifications@github.com> wrote:

[2015-02-15 02:21] pippinsplugins commented on #3097
I tested both 2.3 and master. I couldn't make it happen in either.

On Saturday, February 14, 2015, Chris Christoff <notifications@github.com>
wrote:

[2015-02-15 03:16] chriscct7 opened #3119 "Scrutinizer Upgrades"
Upgrade scrutinizer to work better

[2015-02-15 03:21] chriscct7 opened #3122 "SL Plugin Updater"
The plugin updater doesn't have a key for version even though it uses one, but sets a key for did_check which it doesn't have and doesn't need. Further, a pair of docblocs are outdated.

[2015-02-15 03:25] chriscct7 opened #3124 "List tables's column_default function is written inefficiently"
[code]

could be simply written as
[code]

[2015-02-15 03:31] chriscct7 opened #3125 "Comments in some of the table files are copied from the discount file"
Some of the table files have a comment that applies to the discount table.

[2015-02-15 04:09] chriscct7 opened #3128 "The copyright date in EDD notices is off"

[2015-02-15 04:14] chriscct7 opened #3130 "Invalid $startdate in CLI and improper $cart_details placement in payments() method"
There's a syntax error, a misnamed variable, and a missing aray declaration

[2015-02-15 04:16] chriscct7 opened #3132 "Make the switch for the column_size of the downloads shortcode sane"
Right now, the default is in the middle of the switch statement

[2015-02-15 04:22] chriscct7 opened #3134 "Fix some docblocs and instantiate some arrays before use"
We have alot of docblocs that are out of date, and some arrays that should be instantiated before use

[2015-02-15 04:32] chriscct7 opened #3136 "edd_remove_item_url has 2 parameters that aren't used anywhere."

[2015-02-15 04:35] chriscct7 opened #3138 "In discount-functions.php edd_get_cart_item_price is called twice with too many arguments"

[2015-02-15 04:38] chriscct7 opened #3140 "In the deprecated functions file edd_get_cart_subtotal is called with too many arguments"
Even though its deprecated, it shouldn't cause errors.

[2015-02-15 04:42] chriscct7 opened #3142 "Unused function calls in pdf-reports and upgrade-functions"
There are functions called that are assigned to a variable which is never used. Let's remove this unneeded overhead.

[2015-02-15 04:44] chriscct7 opened #3144 "The download class doesn't have a post_status key as used in edd_get_purchase_link"

[2015-02-15 05:49] #3138 closed

[2015-02-15 10:37] JeroenSormani opened #3148 "Notice at class-edd-license-handler"
Hey,

I'm getting this notice when deactivating a license. Took a screenshot to hopefully make things a bit more clear.
![screen_shot_2015-02-15_at_11_26_32](https://cloud.githubusercontent.com/assets/5774447/6202943/fb8c81dc-b505-11e4-9563-227fd753f1db.png)

I don't know if `success` is deprecated for the deactivate response, or was never there. I did notice a `success` param at the activation re

[2015-02-15 11:41] ghorbani77 commented on #2577
Easy Digital Downloads needs to complete a database upgrade that was previously started, click here to resume the upgrade.

[2015-02-15 14:56] pippinsplugins commented on #3144
Anytime creating an issue like this, please link to the actual error on scrutinizer so others can see it.

[2015-02-15 14:57] pippinsplugins commented on #3144
Is there a way we could automatically setup the properties of `WP_Post` without manually declaring every one of them? We can't extend WP_Post since it is marked as `final`

[2015-02-15 15:00] pippinsplugins commented on #3144
By the way, this isn't just for `post_status`, it's for all properties on `WP_Post` that we don't explicitly setup.

[2015-02-15 15:04] #3142 closed

[2015-02-15 15:06] #3140 closed

[2015-02-15 15:09] #3136 closed

[2015-02-15 15:13] #3134 closed

[2015-02-15 15:22] pippinsplugins commented on #3130
@chriscct7 Make sure you always use a proper title that describes the issue. Please don't just use "has bugs, must fix" type of titles.

[2015-02-15 15:24] #3132 closed

[2015-02-15 15:25] #3128 closed

[2015-02-15 15:26] pippinsplugins commented on #2577
@ghorbani77 Restart it and it should complete fine.

[2015-02-15 15:27] #3125 closed

[2015-02-15 15:27] #3115 closed

[2015-02-15 15:29] #3124 closed

[2015-02-15 15:31] #3122 closed

[2015-02-15 15:31] #3130 closed

[2015-02-15 15:33] pippinsplugins commented on #3119
Please provide a better description. This means _nothing_.

[2015-02-15 15:34] #3119 closed

[2015-02-15 15:40] cklosowski commented on #3092
This looks right. Not running HHVM on Pre-4.1 versions of WP.

[2015-02-15 15:40] pippinsplugins commented on #3112
Yep, but not for 2.3.

[2015-02-15 15:44] pippinsplugins commented on #2882
Now you're not . . . the only things that get sent are `action`, `s`, and `current_id`: https://cloudup.com/cz2wgQzNhv7

[2015-02-15 15:46] pippinsplugins commented on #3080
You're 100% right. Let's see if we can improve this for 2.4.

[2015-02-15 15:46] #3092 closed

[2015-02-15 15:47] pippinsplugins commented on #3148
Whoops!

[2015-02-15 16:32] cklosowski commented on #3107
@pippinsplugins Should we make sure the purcahse_count and purchase_value match up too? Trying to come up with a good way to do this without wrecking the DB with updates.

[2015-02-15 23:01] pippinsplugins commented on #3107
I don't think so. As long as they get incremented at the same time (for earnings and sales), they should match up.

[2015-02-16 00:23] pippinsplugins commented on #2304
Punting to 2.4

[2015-02-16 00:24] pippinsplugins commented on #603
I've created a pull request for easy testing.

[2015-02-16 00:37] pippinsplugins commented on #1930
Resolved in #3149

[2015-02-16 00:40] pippinsplugins commented on #1930
I have opted to place `edd_verify_download_link() in `deprecated-functions.php` and then wrapped the include for `deprecated-functions.php` in a `file_exists()` check.

The `base64_decode()` that was in`process-download.php` has been moved inside of `edd_Verify_dowload_link()` now, so if it triggers a file deletion, nothing terrible will happen.

[2015-02-16 00:40] #1930 closed

[2015-02-16 00:43] pippinsplugins commented on #603
@ghost1227 Tokenized URLs break with PDF Stamper active. This error is shown (only when PDF Stamper is active):
![screen shot 2015-02-15 at 6 42 57 pm](https://cloud.githubusercontent.com/assets/1034109/6205876/877e7592-b542-11e4-9644-6f4f60174f5c.png)

[2015-02-16 00:45] pippinsplugins commented on #603
PDF Stamper fails because it's using `$_GET['download_id']`, which is no longer available in the URL:
[code]

We will have to fix that. Too many other plugins have the potential of breaking without that.

[2015-02-16 00:51] pippinsplugins commented on #603
@ghost1227 PDF Stamper will need to be updated to not call `edd_verify_download_link()` anymore.

[2015-02-16 01:05] pippinsplugins commented on #603
The biggest issue I'm running into so far is plugins that called `edd_verify_download_link()` themselves during `process-download.php`. Those plugins (such as PDF Stamper) are failing due to some issues with populating the `$_GET` super globals.

[2015-02-16 01:11] pippinsplugins commented on #3021
`private` payments are still getting included in the `All` payments count. The site shown in this example has 2 payments, one of which is private:
![screen shot 2015-02-15 at 7 11 04 pm](https://cloud.githubusercontent.com/assets/1034109/6206056/792fa0b6-b546-11e4-8e5e-f2203e6eeb48.png)

[2015-02-16 01:12] pippinsplugins commented on #3021
Aside from that, everything works beautifully with this.

[2015-02-16 01:19] #3021 closed

[2015-02-16 01:30] pippinsplugins commented on #2931
Closing as resolved. If anyone has additional feedback or improvements, feel free to reopen.

[2015-02-16 01:30] #2931 closed

[2015-02-16 01:35] pippinsplugins commented on #3066
This is due to some really strange styles in 2015:
![screen shot 2015-02-15 at 7 34 36 pm](https://cloud.githubusercontent.com/assets/1034109/6206161/ba659894-b549-11e4-9499-8b9ec374895e.png)

[2015-02-16 01:35] pippinsplugins commented on #3066
Get rid of the background color and the box shadow and it works.

[2015-02-16 01:37] pippinsplugins commented on #3066
Much better.
![screen shot 2015-02-15 at 7 37 37 pm](https://cloud.githubusercontent.com/assets/1034109/6206187/1ea8a79c-b54a-11e4-8d04-f5aff63a079e.png)

[2015-02-16 01:37] #3066 closed

[2015-02-16 02:13] cklosowski commented on #3107
ok so just attaching payment IDs to the customer, I can do that.

[2015-02-16 03:04] pippinsplugins commented on #2806
@cklosowski @ghost1227 Can you guys get together on this sometime this week?

[2015-02-16 03:08] #2429 closed

[2015-02-16 03:18] chriscct7 commented on #3144
https://scrutinizer-ci.com/g/easydigitaldownloads/Easy-Digital-Downloads/issues/release/2.3/files/includes/template-functions.php?orderField=path&order=asc#inspectioncomment-557442657

We should set them all explicitly up, so that other developers looking at that class understand they are there

[2015-02-16 03:20] pippinsplugins commented on #2798
#3091

[2015-02-16 03:24] pippinsplugins commented on #3097
Not closed, it still happens. I saw it happen on the EDD site today.

[2015-02-16 03:24] pippinsplugins commented on #3097
I just can't replicate it anywhere else :)

[2015-02-16 03:25] pippinsplugins commented on #3144
I'm fine with just adding them.

[2015-02-16 03:28] chriscct7 commented on #3097
Yeah but is EDD running master? I think we already fixed this for 2.3 in #3069

[2015-02-16 03:34] pippinsplugins commented on #3097
It's in master

On Sunday, February 15, 2015, Chris Christoff <notifications@github.com>
wrote:

[2015-02-16 04:08] pippinsplugins commented on #2704
Since #2881 has been punted to 2.4, I'm punting this as well.

[2015-02-16 14:46] wpweb101 opened #3152 "Add action to cart item title column"
I am working on a feature like to allow users to send pdf voucher as gift to other users. where I am in need of 2 actions/filters where I need your help :

I added this validation from JS :
http://awesomescreenshot.com/0244f0vt49

but there no action for this in the plugin so I can add server side validation.

live page URL: http://project.worldwebtechnology.in/edd/downloads/test/

Problem 2:
when

[2015-02-16 15:50] pippinsplugins commented on #603
A change needs to be made to PDF Stamper @ghost1227: https://trello.com/c/dsmMHdfl/291-pdf-stamper

[2015-02-16 16:07] pippinsplugins commented on #603
`PDF Vouchers` breaks. When you try to download a voucher, it errors: https://cloudup.com/cSrVWkRS6gs

[2015-02-16 16:09] pippinsplugins commented on #603
PDF Vouchers breaks because our new signed URLs are not adding the custom variables that PDF Vouchers appends to download URLs.

New URL:

http://edd/index.php?eddfile=2231%3A514%3A0&ttl=1424167604&token=4d0a86fb8f8be40cf9927222076a5ced

Old URL:

http://edd/index.php?download_key=7211cce2df06b572890934752a4c0896&email=pippin%40pippinsplugins.com&file=edd_vou_pdf&price_id=1&download_id=514&expire=

[2015-02-16 16:10] pippinsplugins commented on #603
PDF Vouchers adds the extra args with the `edd_download_file_url_args` filter:
[code]

[2015-02-16 16:14] pippinsplugins commented on #603
We've broken how the `edd_download_file_url_args` filter works. It used to filter the final URL that is returned, now it just filters the parameters sent to `edd_get_download_token()`.

[2015-02-16 16:27] pippinsplugins commented on #603
We need to make sure that any custom arguments registered through `edd_download_file_url_args` still get appended to URLs, while also making sure we don't append all of our default arguments, since that would largely defeat the entire purpose of signed URLs.

I've just about got this working by looking at the difference between the starting parameters and the final parameters (after it goes throug

[2015-02-16 17:02] pippinsplugins commented on #603
`EDD Partial Downloader` is going to fail completely due to how they're overwriting our download process: https://github.com/EhsaanF/edd-partial-downloader/blob/master/edd-partial-downloader.php#L38

I'll get in touch with them and ask them to update it.

[2015-02-16 17:08] pippinsplugins commented on #603
Extensions that have to be updated to be compatible (ones that are checked off have been updated):
- [ ] PDF Stamper
- [ ] PDF Vouchers
- [ ] Partial downloads

[2015-02-16 17:19] pippinsplugins commented on #603
Aside from the three extensions above, every extension on the [known-to-be-affected list](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/603#issuecomment-70010909) works properly.

[2015-02-16 17:22] pippinsplugins commented on #3107
To test this, I'm going to manually remove some payments from the `payment_ids` column for some customers, then run the routine and see if they get added properly.

[2015-02-16 17:28] pippinsplugins commented on #3101
We still increment customer stats in test mode:
[code]

Thoughts?

[2015-02-16 17:30] cklosowski commented on #3101
I think we shouldn't increase any stats of downloads, store, or customer when in test mode...

This is the bulk of support tickets of people who want to reset their account...b/c they test on live sites

[2015-02-16 17:31] pippinsplugins commented on #3107
I think we should go ahead and add `Doing step X of Y` to this. For EDD 2.2, we had a couple of tickets where people thought the routine had stalled because it just kept going. In reality, there was just a lot of steps to complete. Showing the step number will give people reassurance it's working as intended.

[2015-02-16 17:32] pippinsplugins commented on #3101
:+1:

[2015-02-16 17:32] cklosowski commented on #3107
@pippinsplugins yeah that sounds fine. I'll add in the steps here.

[2015-02-16 17:34] cklosowski commented on #3101
Sorry accidentally deleted my comment. My vote was to *not* increase stats when in `TEST` mode.

[2015-02-16 17:34] pippinsplugins commented on #3101
Ok, in that case, let's get some other feedback.

[2015-02-16 17:40] sdavis2702 commented on #3101
I don't think any of the stats should be affected by Test Mode.

Sure, I've seen a few tickets where users either didn't understand Test Mode or switching away from Test Mode and going live resulted in numbers that weren't accurate. But I 100% feel that Test Mode should work, and not affect stats at all.

[2015-02-16 17:41] ghost1227 commented on #3101
I'm going to defer to group consensus. Either way we set it up causes potential problems for a subset of our users, so I don't see any reason one way is preferable to the other. As @chriscct7 brought up, the only _ideal_ solution would be to make it configurable. Unfortunately, that causes all sorts of other issues, so a lot of work would have to be done to optimize/rework how the queries are done

[2015-02-16 17:43] pippinsplugins commented on #3101
What about this issue.

With the new customer management UI, we have a screen that looks like this:
![screen shot 2015-02-16 at 11 43 08 am](https://cloud.githubusercontent.com/assets/1034109/6216567/047ba400-b5d1-11e4-8f64-afb7b3645b4d.png)
Imagine the customer has made two purchases while `Test Mode` is enabled. The sales will show up in the table, but `Completed Purchases` will be 0. Is that to

[2015-02-16 17:45] ghost1227 commented on #3101
@pippinsplugins regarding the new UI issue, what if we simply added a class to rows that were purchased while test mode was enabled to add highlighting or something?

[2015-02-16 17:47] pippinsplugins commented on #3101
@ghost1227 That's an interesting idea. I like it, but let's do that later, perhaps for 2.4.

Can each person vote pick A or B for me? Which ever has the most votes is the way we'll go.

A. Increase stats regardless of test mode status.

B. Never increase stats of any kind when Test Mode is enabled.

[2015-02-16 17:53] sdavis2702 commented on #3101
B

[2015-02-16 17:53] mindctrl commented on #3101
B for now.

[2015-02-16 17:54] chriscct7 commented on #3101
B

[2015-02-16 17:54] cklosowski commented on #3101
B, until we come up with a better TEST mode.

[2015-02-16 17:56] ghost1227 commented on #3101
Since @pippinsplugins said I have to vote, and I said I'd side with the majority, and the majority already said B, I guess I'm voting B too!

[2015-02-16 17:56] cklosowski commented on #3101
:sheep:  :P j/k

[2015-02-16 17:57] pippinsplugins commented on #3101
Ok, B it is.

[2015-02-16 18:06] chriscct7 opened #3154 "Test Mode is confusing. Let's move it."
Test mode was originally designed to let site owners test their cart. Basically when it was originally conceived it was designed to let people add items to cart and checkout (to the sandbox version of their gateway). At one point we used to remove all sales and earnings data when test mode was flipped off. Then that got removed. Now, if someone has test mode on, earnings and sales data don't appea

[2015-02-16 21:08] #3101 closed

[2015-02-16 21:11] pippinsplugins commented on #3148
Turns out this is a Software Licensing bug. I'll get it fixed.

[2015-02-16 21:11] #3148 closed

[2015-02-16 21:23] pippinsplugins commented on #2667
Unfortunately we're running out of time for this so we're going to punt it to 2.4.

[2015-02-16 22:23] cklosowski commented on #1976
@pippinsplugins as discussed on Slack...we can't separate this out into direct DB calls as the `_edd_payment_tax` is a new `meta_key`, we can't issue a direct call to implicitly add if it doesn't exist, and we should be making sure that we work if someone restarts, or breaks, or something.

While not the most performant, I think this is the safest option.

[2015-02-16 22:26] pippinsplugins commented on #1976
Merge it in then! :)

On Mon, Feb 16, 2015 at 4:23 PM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-16 22:40] cklosowski commented on #1976
Working on making sure my updates work, and that we've cleaned up when there are no payments, like we learned from the 2.2.6/7 instance ;)

[2015-02-16 22:44] cklosowski commented on #1976
Also, when I re-ran the tests here, I kept an eye on load and memory usage...Locally with 9500 payments, it didn't really even show a major increase to my resource utilization.

[2015-02-17 04:31] pippinsplugins commented on #2558
Merged into `release/2.3` for further testing.

[2015-02-17 15:42] cklosowski opened #3157 "Allow Customers to use dates in API"
As requested in https://easydigitaldownloads.com/support/topic/need-api-features-adding-to-edd/

Would be nice to have the `customers` data in the API to use our date ranges to search by the `date_created`.

[2015-02-17 15:43] cklosowski opened #3158 "API Products - Top products for date range"
As requested in https://easydigitaldownloads.com/support/topic/need-api-features-adding-to-edd/

Would be a great enhancement to allow the API to search for the top products (by sales and/or earnings) for a date query.

[2015-02-17 15:52] pippinsplugins commented on #3107
We need to make sure that customer purchase stats are reset to 0 if no payments are found.

[2015-02-17 16:03] pippinsplugins commented on #3157
:+1:

On Tuesday, February 17, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-17 18:03] cklosowski commented on #1976
@pippinsplugins we good to close this one out?

[2015-02-17 18:21] pippinsplugins commented on #1976
Yep.

[2015-02-17 18:43] cklosowski commented on #3001
ok @mindctrl and @sdavis2702 can you guys test this out? it's on branch `issue/3001`. I think I have it working as needed.

A note about this method...it degrades in performance the more categories/tags you add to each of them. But that's just a symptom of meta queries in general. So we have to live with it for now.

[2015-02-17 18:57] cklosowski commented on #3001
@pippinsplugins I guess you can test it out if you want too ;)

[2015-02-17 19:19] cklosowski commented on #3097
Ok the issue appears to be in the data sets:
The `$cart_ids` is coming through like so:
[code]

But the `$exclude_ps` is looking like this:
[code]

By that standard, the `if( $cart_ids == $excluded_ps )` check would fail.

[2015-02-17 19:45] pippinsplugins commented on #2548
When the users DB contains user accounts with really long names, the select drop down gets wide enough that it breaks the layout:
![screen shot 2015-02-17 at 1 45 08 pm](https://cloud.githubusercontent.com/assets/1034109/6235862/486f57b2-b6ab-11e4-961c-631779106918.png)

[2015-02-17 19:46] pippinsplugins commented on #2548
We also need to replace the user drop down with a Chosen select field that includes ajax search, since right now it's listing every user in the database.

[2015-02-17 19:48] pippinsplugins commented on #3107
There's a bug in this that has caused really, really wrong stats for some customers:
![screen shot 2015-02-17 at 1 47 09 pm](https://cloud.githubusercontent.com/assets/1034109/6235911/95e3e65c-b6ab-11e4-99d0-80bd8eb5f1fc.png)

[2015-02-17 19:48] pippinsplugins commented on #2548
Todo:
- [ ] Fix wide select field that breaks layout
- [ ] Replace user drop down with Chosen field
- [ ] Fixe bug in upgrade routine that caused a bunch of customers to get really, really wrong stats https://cloudup.com/c7Ohhquu374 #3107

[2015-02-17 20:45] #3097 closed

[2015-02-18 00:08] cklosowski commented on #1934
Ok I've got the new logs being created when a download is added and then the payment is saved...just need to do the removal of a log when a download is deleted.

[2015-02-18 15:38] NateWr opened #3162 "Past orders merged with user account based on email address"
I'm 99% sure this is intended, but wanted to describe what happened with 2.3 beta 1 so you're aware.

In a test environment I have consistently made purchases under an email address, then gone in and deleted that user and done it again, over several months. That's left a bunch of payments attached to the email address but no user.

When I upgraded to 2.3 beta 1, all these past orders were put unde

[2015-02-18 15:53] pippinsplugins commented on #3162
Yep, intended :) it's part of the customer DB upgrade

On Wednesday, February 18, 2015, Nate Wright <notifications@github.com>
wrote:

[2015-02-18 16:08] pippinsplugins commented on #3001
Will do!

On Tuesday, February 17, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-18 16:22] pippinsplugins commented on #1934
Excellent

On Tuesday, February 17, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-18 17:04] cklosowski commented on #1934
Just pushed up a Work In Progress. A few things are needed here, like handling quantities, adding a limit/order by on the log query when deleting, and that should do it.

Currently it's working for non-quantity purchases. The way it does it is by adding every deleted item to a JSON object that we interpret during the update of the payment.

It loops through the deleted downloads, finding logs asso

[2015-02-19 13:44] pippinsplugins opened #3163 "Tools tabs display poorly on mobile"
As shown [here](https://s3.amazonaws.com/f.cl.ly/items/2G0210102T0w3I45210T/IMG_0077.jpg), the tools tab displays poorly on small screens. Let's fix that.

[2015-02-19 13:45] pippinsplugins opened #3164 "API keys are difficult to generate / select on mobile"
As described in [this ticket](https://easydigitaldownloads.com/support/topic/getting-api-keys-for-edd-iphone-app/#post-443004), it's really difficult to generate and select API keys from mobile.

 Related to #3163

[2015-02-19 16:35] garubi opened #3165 "Hide subtotal on checkout when prices are inclusive of tax"
On EDD 2.2.8 configured with taxes as follows:
![taxes-config](https://cloud.githubusercontent.com/assets/10868669/6270190/71ecc2ec-b858-11e4-9064-f4162a66720e.png)
I apply a discount code at the checkout (for semplicity let sey -50%)

The total and the tax value is ok but the subtotal is wrong (so, really, it's just a display problem, it doesn't affect the amount payed on the purchase).

See this

[2015-02-19 17:10] pippinsplugins commented on #3165
Actually it's correct. The subtotal is the amount of the items - taxes of the item.

The total is `100`. The tax is `9.02`, so the subtotal is `90.98`.

The subtotal does not include the discount.

[2015-02-19 17:26] pippinsplugins opened #3166 "Leading zero stripped out during CSV export"
If you have a field, such as the zip/postal code field, that contains a value that starts with a zero, the zero gets stripped out during export.

For example, `02138` becomes `2138`:

![screen shot 2015-02-19 at 11 26 27 am](https://cloud.githubusercontent.com/assets/1034109/6271992/2ca2c0b6-b82a-11e4-9026-68a73e050b48.png)

Reported [here](https://easydigitaldownloads.com/support/topic/leading-ze

[2015-02-19 17:29] pippinsplugins commented on #3166
It's stored properly in payment meta: `"zip";s:5:"02138";`

[2015-02-19 17:35] pippinsplugins commented on #3166
The `edd_get_payment_meta_user_info()` helper function returns the proper results:
[code]

[2015-02-19 17:39] pippinsplugins commented on #3166
This is not us, it's Excel / Numbers: http://stackoverflow.com/questions/24612302/excel-is-stripping-leading-0s-from-csv-files

[2015-02-19 17:40] #3166 closed

[2015-02-19 18:01] cklosowski commented on #1934
Ok I have a quick question on new logs added...

Should the log date be the date the download was added to the payment, or the date of the initial payment creation?

[2015-02-19 18:02] pippinsplugins commented on #1934
Date added to payment.

[2015-02-19 18:04] cklosowski commented on #1934
That's what I was leaning with as well, only concern there was if it spans months, it could mess with reporting. We can start with this and see where it goes.

[2015-02-19 19:19] cklosowski commented on #3107
@pippinsplugins I think the last thing to do here is use this as a reminder to go through all of `release/2.3` and find places we use `$customer->user_id` and verify our checks aren't just looking for `empty()`, then we can close it back out.

[2015-02-19 19:24] #3144 closed

[2015-02-19 19:29] cklosowski commented on #3104
I believe the issue lies in `edd_calculate_tax()`.

For a value of `9.99` it's returning that the tax amount should be `1.665`, which is then getting increased to `1.67` and then setting the `item_price` at the wrong amount putting us at `10.00` instead of `9.99`.

If we use the `edd_currency_decimal_filter()` function to take the decimal count for the shop, we'll get rid of this.

Does it seem ri

[2015-02-19 19:31] pippinsplugins commented on #3104
Yeah I think that is right

On Thursday, February 19, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-19 19:51] cklosowski commented on #3104
Ok verified sales record properly, and when sending to paypal that the amount is sent to them correctly as well.

[2015-02-19 19:52] pippinsplugins commented on #3104
:+1:

On Thursday, February 19, 2015, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-19 20:47] cklosowski commented on #2462
@pippinsplugins Where do we stand on this one? Do you have some work that needs to be committed still?

[2015-02-19 20:50] cklosowski commented on #2835
@pippinsplugins We're going to hit this again with `2.3`. We have two upgrades that need to run. Each of them updates the DB on completion with the new version of EDD...so only one will show once it's completed.

I'll see if I can find a way around this in 2.3.

[2015-02-19 20:50] pippinsplugins commented on #2462
There is some work done in `issue/2462` but it's not complete.

[2015-02-19 20:59] cklosowski commented on #2835
Going to tackle this later today. Thinking of creating an `edd_upgrades_completed` option taht will store the actions of the upgrades, so we can keep track of ones that have run.

[2015-02-19 21:39] pippinsplugins commented on #3104
@cklosowski I don't think the proposed changes in #3169 work actually. We used to round the taxes there, https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/ee46b2ca4e55e2f22d006844334eb1bb1c2dc615#diff-e1900e6f7d703ca91cbd7c62d0c28eee,  but it caused a problem when there are multiple items and quantities: #1881

[2015-02-19 21:45] pippinsplugins commented on #1934
At first glance, this looks good. I will test it soon.

[2015-02-19 21:55] pippinsplugins opened #3170 "Add note topending PayPal payments with reason"
When a payment is made via PayPal and an echeck, we should add a note to the payment to make it clear to site administrators that's why the payment is still pending.

[2015-02-19 22:00] pippinsplugins commented on #3170
We could also store notes for the following scenarios:

address: The payment is pending because your customer did not include a confirmed shipping address and your Payment Receiving Preferences is set yo allow you to manually accept or deny each of these payments. To change your preference, go to the Preferences section of your Profile.

authorization: You set the payment action to Authorization a

[2015-02-19 22:12] pippinsplugins commented on #3170
Having all of these reasons recorded will be hugely helpful for resolving customer support issues when their purchases aren't automatically completed but their IPN works.

[2015-02-19 22:21] clifgriffin opened #3172 "Cache busting cookies: edd_items_in_cart"
I've started using fastcgi caching with Nginx over caching plugins.  The down downside of this is that Nginx will not cache any page or serve a cached page for any request with a Set-Cookie, and unlike Varnish, you can't exclude cookies from the cache.

I've noticed that every page request on sites with EDD includes a Set-Cookie header from EDD in the form of `edd_items_in_cart`.  It defaults to `

[2015-02-19 22:23] pippinsplugins commented on #3172
This is a bug and is unintentional.

[2015-02-19 22:23] pippinsplugins commented on #3172
We definitely need to fix it.

[2015-02-19 22:58] #3170 closed

[2015-02-19 23:49] pippinsplugins commented on #2835
Looks good. I'll test it on pippinsplugins soon to confirm.

[2015-02-19 23:53] cklosowski commented on #2835
sounds good.

[2015-02-20 00:03] cklosowski commented on #1427
Since we've not seen any progress, and we still need to determine how this data is going to look. Punting to 2.4.

Right off the bat, I'm pretty sure we'll need an upgrade routine to make sure we can easily (and performance friendly) pull all payments associated with a discount code.

[2015-02-20 00:04] pippinsplugins commented on #2835
Boom, worked perfectly: https://cloudup.com/cwkVTbv67bw

[2015-02-20 00:05] #2835 closed

[2015-02-20 00:07] cklosowski commented on #3104
Not sure where else we would round taxes...but in the tax calculation...but we can go back to the drawing board. This tells me we have some DEEP DEEP seeded issues with rounding that need to be resolved.

[2015-02-20 00:11] pippinsplugins commented on #3104
Oh I guarantee there are some deep, deep, deep issues with taxes. Welcome to my *favorite* API in EDD.

[2015-02-20 00:16] pippinsplugins commented on #603
Good news: this has been live on pippinsplugins.com for 3 days and not a single ticket about customers being unable to download files.

[2015-02-20 00:36] chriscct7 opened #3175 "The HTML class's product_dropdown should support variable prices"
We should add a variable key to the product_dropdown so that if variable=true it also shows the individual keys for the variable products, similar to how Discounts Pro shows them on it's dropdown. Maybe even offer the ability to pass in a product ID and if so, show the variable options for that product in the dropdown

[2015-02-20 02:20] pippinsplugins commented on #3175
:+1:

[2015-02-20 09:46] garubi commented on #3165
The error IMHO is that the tax 9.02 is the 22% of €50: the discounted price.
So in Subtotal EDD is subtracting from the full price the tax calculated on the discounted price.

To me the correct subtotal should be €100 - €18,03 (22% of the full price)
then we apply the discount
then we show the tax on the discount price
then the total

what do you think?

[2015-02-20 14:48] pippinsplugins commented on #3165
Taxes are always after discounts. They cannot be calculated before discounts.

[2015-02-20 15:03] #2978 closed

[2015-02-20 15:11] danieliser commented on #2978
Just tested. looks good on my end.

[2015-02-20 15:25] pippinsplugins commented on #2978
:+1:

On Fri, Feb 20, 2015 at 9:11 AM, Daniel Iser <notifications@github.com>
wrote:

[2015-02-20 15:29] pippinsplugins commented on #2974
Forum request for this: https://easydigitaldownloads.com/support/topic/retrieve-stripe-fees-into-easy-digital-downloads/

[2015-02-20 15:30] pippinsplugins commented on #2974
And another: https://easydigitaldownloads.com/support/topic/getting-stripe-fees-associated-with-the-edd-payment-history/

[2015-02-21 08:55] wpweb101 opened #3176 "need 1 do action in shopping cart page"
Hello

can you please add a do_action on page
easy-digital-downloads\templates\checkout_cart.php
Line : 35
echo '<span class="edd_checkout_cart_item_title">' . esc_html( $item_title ) . '</span>';

after this line I want do_action so in my extension pdf voucher I can disply gift data like this :

http://awesomescreenshot.com/0fd4f11966

[2015-02-21 14:33] mindctrl commented on #3176
Duplicate of #3152

[2015-02-21 14:34] itibook opened #3177 "Bug on widgets.php"
Hello,

I spent a few hours on this one, unsure if this is the wanted behaviour or not, but here's my findings...

My widgets.php was breaking right after the Download Detail widget. As soon as I unregistered the widget everything went back to normal. I also had issue on the customise.php that was not working.

In /includes/widgets.php at line 302 there's the args array for the get_posts function.

[2015-02-21 16:55] danieliser commented on #3177
Hey Luca, Your correct in the assumption its bad for sites with lots of downloads. The alternative unfortunately will require quite a bit of work to set up and would be an ajax search input similar to how tags and discounts work.

[2015-02-21 17:05] danieliser commented on #3154
I'd like to see a full reset option anyways, no matter the outcome of this. During extension development I am consistently having to manually go in and remove data everywhere. Often this means messing around in phpmyadmin.

+1

[2015-02-21 17:06] danieliser commented on #3152
Your best bet wpweb101 is to submit a PR with this to show how you see it being added. Then others can make suggestions on those changes rather than the idea itself.

[2015-02-21 17:11] danieliser commented on #3100
If there are no objections, I'll be glad to tackle this one. Another future enhancement would be to bring the entire JS code base up to standards with JSLint testing as well but thats another issue.

[2015-02-21 17:12] danieliser commented on #3083
I can tackle this one.

[2015-02-21 17:43] danieliser commented on #3083
Got a PR for this. Would like to discuss a rewrite of the JS for the future though. See a lot of ways we can improve on whats there.

[2015-02-21 17:55] danieliser commented on #3083
Also not sure what you use to minify your JS currently so I am not submitting a minified version with this as to not break your routine.

[2015-02-21 18:18] danieliser commented on #3079
Ill second that. This will come in handy with the EDD Music store extension im working on allowing me to list tracks etc when entire album is purchased.

[2015-02-21 18:26] danieliser commented on #1427
Extending on this idea, I'd like to be able to pull a list of all licenses in EDD SL that were generated using a particular code as well.

I'm thinking this needs to be built into a new EDD_Discount_Stats class in general.

[2015-02-21 18:27] danieliser commented on #3083
Ignore the first PR, had some code that PHPStorm decided to reformat for me. Didn't notice till I submitted the PR.

[2015-02-21 22:15] itibook commented on #3177
Hi Daniel,

I am not really clear how the widget works and how it impacts other areas. any idea where changing the -1  to let's say 20 could have a negative impact?

From what I see I only use it in the sidebar for a single download, so I am not quite clear why it has to pick up all the other downloads in the dropdown menu, but maybe I am missing the point. Basically I don't see the functional nee

[2015-02-21 22:50] mindctrl commented on #3177
Luca,

If we change the -1 to 20 as you suggest, you would only see 20 items in the dropdown when adding the widget to a sidebar area, leaving you no way to select the vast majority of your downloads. As Daniel noted, to better accommodate sites with a lot of downloads, that section probably needs to be reworked to allow for searching from the dropdown.

[2015-02-21 23:25] danieliser commented on #2548
Still seeing the browser outline glitch when clicking tabs. The one outlined by ghost above.

[2015-02-21 23:34] danieliser commented on #3177
Correct, limiting it to 20 if you say have 100 downloads, you will only ever be able to choose the first 20 downloads.

The best method would be to setup a text input / searchable dropdown that uses ajax to load beyond a certain count.

[2015-02-22 00:03] danieliser commented on #2955
So here is what I have worked out. Initially the way pippin proposed it, it was described to be on a per download basis, but the functions he said it would be similar to are not built the same way.

Referring to his mention of add/remove_theme_support() and add/remove_post_type_supports().

Both of those assume that the download is a global thing, not something that could have multiple instances.

[2015-02-22 00:24] danieliser commented on #2955
I have also considered allowing an array to be passed to boeth edd_download_supports and edd_item_supports to check if multiple features are supported at once.

That way you could check if a download supports both shipping & taxes in one check. This doesn't have an immediately apparent use, but it may in the future allow checking that multiple items are true before showing/doing something.

Would

[2015-02-22 05:08] danieliser commented on #2597
Can the language be set in a session / cookie? Thought that WPML already did this.

[2015-02-22 05:27] danieliser commented on #2151
I must say that I can see a use for tag usage outside of purchases. I did what pippin suggested, by faking it in the EDD Donations extension for the User Tax Receipts. Since its not based on a single purchase I had to fake it and load a single purchase from the user.

Can it be abstracted into a general function such as edd_tags in general which would accept text and an array of tags => values. Th

[2015-02-22 05:52] danieliser commented on #1960
Most extensions use the edd_header_callback. What if you simply use the heading callback to close the table, create a new accordion heading and then open a new table? Effectively works immediately from looking at my extensions tab(15+ extensions enabled).

Its a bit hacky, but if you do that now and add a new callback say edd_accordian_section_callback that extensions could then begin migrating to

[2015-02-22 05:53] danieliser commented on #1960
I got it sectioned out ( no accordian JS ) pretty nicely with a couple small modifications. Still need to remove empty table rows but definitely an option.

[2015-02-22 05:58] danieliser commented on #1960
Alternativey set a new empty array $settings['extensions']['sections'] = array();

Then in your loop of the $settings['extensions'] array, call anything other than the sections sub array as you do now, then extensions can migrate to store their settings inside the sections sub array in the future. Show the sections first and then loop through the non sections below.

[2015-02-22 06:52] danieliser commented on #1938
To me this sounds less like it should be shortcodes neccesarily and more like a group of helper functions. That limits usage by non admin persons as well.

In that sense they could make their own shortcodes and would have to decide for themselves who could use them.

[2015-02-22 10:06] itibook commented on #3177
yes, I noticed the effect of changing to 20... for me it doesn't have an impact as I only use the first option (i.e. Use current).

Thinking out loud here, to avoid going into text input, a quick option could be to do an ajax call to populate the dropdown list only if the user clicks on the list to change the Use Current value.

Currently my concern is how can I keep using EDD with a workable solu

[2015-02-22 15:14] pippinsplugins commented on #1960
Great! Could you show an example of how you are setting up settings so far?

On Saturday, February 21, 2015, Daniel Iser <notifications@github.com>
wrote:

[2015-02-22 15:15] pippinsplugins commented on #2151
That's what will need to happen I think.

On Saturday, February 21, 2015, Daniel Iser <notifications@github.com>
wrote:

[2015-02-22 15:22] pippinsplugins commented on #2597
I'm pretty sure that is how they do it.

On Saturday, February 21, 2015, Daniel Iser <notifications@github.com>
wrote:

[2015-02-22 16:28] #3176 closed

[2015-02-22 16:28] pippinsplugins commented on #3152
@wpweb101 Did you see Daniel and I's answer on Trello? There is a way to do this with the `the_title` filter.

[2015-02-22 18:24] pippinsplugins commented on #2955
That's exactly what I'd like to see :+1:

On Saturday, February 21, 2015, Daniel Iser <notifications@github.com>
wrote:

[2015-02-22 18:53] danieliser commented on #2955
@Pippinsplugins perfect then. I have the commits done and will make a PR shortly. All that's missing is adding the built in features and checks to set the properly for each download. The setting and support check functions are all there already. It just needs to be integrated into existing systems and tested.

[2015-02-22 18:53] pippinsplugins commented on #3100
Go for it!

On Saturday, February 21, 2015, Daniel Iser <notifications@github.com>
wrote:

[2015-02-22 18:56] pippinsplugins commented on #2955
Excellent, that will be a great start.

On Sunday, February 22, 2015, Daniel Iser <notifications@github.com> wrote:

[2015-02-22 18:57] wpweb101 commented on #3152
Thanks for the suggestion, but that is also not that much helpfull because if you see my screenshot, you can see I need to use bold tag and <br > tag which is not working because you have called esc_html function so as I said if you guys can simply add 1 do action that will be very much helpfull. and even other developers can also use it.

@danieliser I dont understand what you mean with PR, is th

[2015-02-22 19:12] danieliser commented on #3100
Awesome. Will start this week on it.

Although a seperate issue in general but kind of relevant to this, I have seen several mentions of a general refactoring of the JS. Is this something that is still being discussed? As I said I can see dozens of places that we can improve both performance and extendability in both admin and front end. This would lead to the ability for extensions to tap in to t

[2015-02-22 19:16] chriscct7 opened #3181 "Introduce edd_update_option"
We desperately need an edd_update_option function as many extensions and even some core unit tests need to adjust the value of options.

Just a simple function that takes in the key and the values and returns the result.

[2015-02-22 19:16] pippinsplugins commented on #3100
General refactoring is fine as long as it serves a greater purpose than just refactoring for the sake of refactoring. As long as there are performance or reliability improvements, refactors are welcomed, just open a separate issue for each location.

[2015-02-22 19:20] pippinsplugins commented on #3181
Yep, we've needed one for a while now.

[2015-02-22 20:22] pippinsplugins commented on #3083
When submitting PRs, do not worry about .min files. We take care of those just before release.

[2015-02-22 23:01] pippinsplugins commented on #2548
Added to todo list.

[2015-02-22 23:08] pippinsplugins commented on #3107
I think I've got them all.

[2015-02-22 23:35] danieliser commented on #3083
Good to know.

[2015-02-22 23:48] danieliser commented on #3100
I will agree with that to a point. But you yourself have stated many reasons that is not the case https://pippinsplugins.com/refactor-your-code-over-time/ :+1:

That said I have never worked on the EDD JS, and from a developer who has written both jQuery plugins and plugins based around them, there is a lot of room here to both improve and grow.

One thing is that the current code base utterly fai

[2015-02-22 23:51] danieliser commented on #3152
PR ( Pull Request ). Fork the EDD repo to your own github account, create a new branch "issue/3152" and make your suggested changes there. Then you can make a pull request which can be reviewed and eventually merged.

[2015-02-22 23:54] danieliser commented on #3152
Since you have an open issue on this already, if you feel git is tough to figure out let me know, I can submit your proposed changes if needed, Just send me the modifications your proposing exactly as you see them. Then others here can review them, such as is the action appropriately named for where it is located and its expected usage.

Once approved it will be merged into the core code and pushe

[2015-02-22 23:56] danieliser commented on #2955
PR submitted.

[2015-02-23 01:45] pippinsplugins commented on #3177
We should really change this widget to use the product drop down in the HTML elements class. That displays limited results and uses ajax to search for additional products.

[2015-02-23 01:49] danieliser commented on #1960
Sure will create some feature branches and get a working test set up. My method would basically be a combination of ghost's above and a fallback for those who haven't updated their extensions yet.

[2015-02-23 02:17] danieliser commented on #3177
Bingo, there you go. I for one didn't even realize that the HTML class had this built in already. Makes the changes even easier. If i find time this week I will look at what needs to change and see about getting a PR submitted.

[2015-02-23 02:20] cklosowski commented on #2548
Yeah i'm not sure how to handle the text outline on the link. As far as I know, only Safari does it...and oddly enough, that area isn't clickable...it just highlights it as so. Maybe @sdavis2702 or @sumobi can lend their CSS hands in to make that less annoying?

[2015-02-23 02:23] pippinsplugins commented on #3177
Milestoned for 2.4.

[2015-02-23 02:24] danieliser commented on #3177
Go ahead and assign this one to me. Makes it easier for me to find the issues I'm working on.

[2015-02-23 02:29] pippinsplugins commented on #3100
If something "utterly fails JS standards testing", that is far from refactoring for the sake of refactoring :)

[2015-02-23 02:31] danieliser commented on #3100
Fair enough. :+1:

[2015-02-23 02:50] danieliser commented on #2548
I got it in firefox not safari. Is it the outline css property that most browsers add by default? Maybe { outline: 0; }? Can try some test on my install and see if that works.

[2015-02-23 03:09] pippinsplugins commented on #1960
:+1:

[2015-02-23 03:34] cklosowski commented on #2548
It's not a CSS property @danieliser , it's something the browsers do to 'identify' anchors sometimes...nothing related to CSS at all. It's all browser behavior outside of something we can render/control, minus probably fudging the size of some elements.

[2015-02-23 03:45] chriscct7 commented on #3071
We can use the environment variables TRAVIS_PULL_REQUEST and TRAVIS_BRANCH to turn off code coverage on builds not for prs, or pushes to master, release/2.3, release/2.4, release/2.5, etc.

[2015-02-23 03:45] chriscct7 commented on #3071
http://docs.travis-ci.com/user/ci-environment/

[2015-02-23 04:05] sdavis2702 commented on #2548
@danieliser @cklosowski exactly which part are we talking about? What @ghost1227 took a screenshot of or something else? If something else, can someone give me a screenshot?

[2015-02-23 04:06] cklosowski commented on #2548
It's what @ghost1227 took a screenshot of.

[2015-02-23 04:11] sdavis2702 commented on #2548
That's a CSS box-shadow that only applies to links when they're in focus. It's part of the WP admin CSS. Inspect element on one of the tabs, highlight the HTML for the actual anchor above the line item, then force its state to :focus, and you should see the CSS for it. I'm only getting it in Firefox.

[2015-02-23 04:13] danieliser commented on #2548
@cklosowski its actually CSS. its this rule

	a:focus {
	    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
	    color: #124964;
	}

The box shadow in particular.

[2015-02-23 04:13] cklosowski commented on #2548
But why then is only Firefox showing it, and some builds of Safari?

[2015-02-23 04:13] danieliser commented on #2548
Lol @sdavis2702 beat me to it.

[2015-02-23 04:14] sdavis2702 commented on #2548
@cklosowski Because browser hate our lives. :)

@danieliser Lol my bad!

[2015-02-23 04:14] danieliser commented on #2548
Can confirm though that overriding the focus box shadow will remove the line in my testing in firefox.

[2015-02-23 04:15] cklosowski commented on #2548
Furthermore...how do we fix it? The reason it's happening is because CSS is what's adding the dashicon...so it renders with an empty span..and then adds i tin there....also if that's a core style, we shouldn't be overriding it, IMHO.

We should figure out why we're rendering off the actual `span`

[2015-02-23 04:29] cklosowski commented on #2548
Ok i've replaced the 'User Dropdown' with our AJAX search. I've been discussing with @sdavis2702 and we're trying to come up with some UX improvements to that search experience for 2 main things:
1) Easily identifying what user is currently attached (if there is one) when in the edit mode
2) How do we remove a Customer/User association with this new search. Previously we had a 'None' option that r

[2015-02-23 05:21] danieliser commented on #2548
@cklosowski The problem isn't the span neccesarily. Its the a:focus getting the rule.

That said looking at it the HTML is foobared.. Here is how it is rendered which is obviously wrong.

	<div id="customer-tab-wrapper">
		<ul id="customer-tab-wrapper-list">
			<li class="active"><span class="dashicons dashicons-admin-users"></span></li>
			<a href="http://edd.dev/wp-admin/edit.php?post_type=downl

[2015-02-23 05:25] danieliser commented on #2548
PS tested the above CSS and it clears it up in Firefox.

[2015-02-23 05:34] danieliser commented on #2548
@cklosowski What if you use the wp tag style x on a associated customer?

On a side note is this Customer AJAX search gonna be added to other places such as the Manual Purchase user field, the payment screen user field etc?

Is the AJAX search field already in place now for testing? Would be glad to look and give feedback on how to remove one in an intuitive way.

[2015-02-23 06:27] chriscct7 commented on #3100
After this is done, we need to throughly test this on any extensions that enqueue or use the EDD js files.

[2015-02-23 07:23] danieliser commented on #3100
Are you talking about a major refactor, or the original issue at hand? The refactor will require extensive testing for sure, but that is likely a v2.5+ issue leaving ample time for said testing.

The current issue shouldn't require too much testing as it will simply be preventing extra dom transversals for subsequent usages. Testing for this issue should be limited to the EDD core scope but I see

[2015-02-23 07:24] garubi commented on #3165
Ok, still I'm not 100% convinced I see you are pretty sure, soI think that you are right ;-)
Considering the EDD userbase if I'm the firt and the only one who broght up this issue it's very probably that I'm wrong, isn't it?
Maybe it could be related to the way we calculate VAT taxes here in Europe...

[2015-02-23 08:09] itibook commented on #3177
impressed with the response guys... :-)

thanks for looking into it, really appreciated!

[2015-02-23 09:48] wpweb101 commented on #3152
sorry I am not much aware with git.

easy-digital-downloads\templates\checkout_cart.php
Line : 35
echo '' . esc_html( $item_title ) . '';

we called get_the_title on line 33 where I do all what you asked but after that when we actually display that title on shopping cart page it uses above line.

so my html not working.

here the screenshot to explain the problem.
http://awesomescreenshot.com/07d4

[2015-02-23 09:49] wpweb101 commented on #3152
I need 1 action though, should I create separate issue for that?

[2015-02-23 15:18] pippinsplugins commented on #1976
I'm re-opening this for some further discussion.

Previously, when a payment was created, the tax amount was stored in `_edd_payment_meta` with a key of `tax`. That was the original reason this issue was opened: it couldn't be queried on calculated against.

We have now moved the tax to it's own dedicated meta key called `_edd_payment_tax` and have removed it from `_edd_payment_meta`. The [upgrade

[2015-02-23 15:20] pippinsplugins commented on #1976
For _1_, I'm proposing we not delete the existing meta data: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/release/2.3/includes/admin/upgrades/upgrade-functions.php#L832 - That way existing calls still work. In general I believe people are using the `edd_get_payment_tax()` helper function, and if they're not . . . that might be too bad.

[2015-02-23 15:22] pippinsplugins commented on #1976
Oh, one more point on this.

4. `edd_insert_payment()` must still support passing a single `tax` value in the purchase data. Right now it just sums the `tax` key in cart details. This is wrong:
[code]

[2015-02-23 15:35] chriscct7 commented on #3104
I think there's a very simple solution to this

All we need to do is when we calculate the item price exclusive of tax for use in the subtotal, instead of rounding it UP like we do now, we need to round in DOWN

Item price entered inclusive of tax: 19.95
Tax amount: 20%

Current:
    Subtotal: 16.625 rounded UP to 16.63 http://www.wolframalpha.com/input/?i=19.95%3D+x+*+1.2
    Tax:      3.326 roun

[2015-02-23 15:37] pippinsplugins commented on #3104
Another report: https://easydigitaldownloads.com/support/topic/inclusive-taxes-rounding-up/

[2015-02-23 15:45] JeroenSormani commented on #1976
I'm all for this change, its definitely a improvement.
Leaving the `tax` key in the product meta is good for keeping backwards compatibility (code-wise).

[2015-02-23 15:48] cklosowski commented on #1976
@pippinsplugins @JeroenSormani, the problem with leaving the two, then lends us to the issue of...extensions (that we have confirmed) update the old tax key in the meta array...EDD's tax calculations will be done from `_edd_payment_tax` not the `tax` key of the `_edd_payment_meta` array, therefore any extension that is updating the taxes in the old place, will not be having their updated tax infor

[2015-02-23 15:54] cklosowski commented on #1976
What if...we add a clause in `edd_update_payment_meta`, that pulls out the `$payment_meta['tax']` value and we be sure and update the `_edd_payment_tax` value as well?

[2015-02-23 15:57] mindctrl opened #3185 "Allow quantity data to be exported in payment history"
Exporting payment history doesn't include quantity sold.

Related. When multiple items are purchased, they're grouped together in a single row in the payment history export. Anything that deals with exporting quantity data would probably mean splitting each item sold out into its own row.

This data might look something like this:
`Item sale price - Quantity sold - Amount - Transaction ID`

But ho

[2015-02-23 16:28] chriscct7 opened #3186 "Proposal: Remove Price Inclusive of Tax Option"
This ticket, proposes the idea of removing the price inclusive of tax option but _without_ removing any of the existing functionality we have in EDD core (it may take a couple read through for this to be understood)

People use the "enter price inclusive of tax" option for 2 main reasons:
- They are required to show the price inclusive of tax, by law, on the product page
- It's easier to setup a p

[2015-02-23 16:28] chriscct7 commented on #3186
As for the same total everywhere crowd, I feel this a minority of users compared to the other two use cases, and I haven't come up with a solution for them yet, but I think its something we can come up with a solution for. If there's a problem there is a solution waiting to be discovered.

[2015-02-23 16:35] pippinsplugins commented on #1976
@cklosowski I think we need to leave it and then just update retroactively if someone tries to update `_edd_payment_meta` directly. Could be messy, but we may just need to filter `update_post_meta` to detect it.

[2015-02-23 16:39] cklosowski commented on #1976
That's what i'm saying, when someone called `edd_update_payment_meta` with a `key` of `_edd_payment_meta` we pull the value of the `tax` key out of the array and update the `_edd_payment_tax` meta at the same time.

Since the function to get the tax is already pulling the updated meta...this should fix it?

[2015-02-23 16:40] pippinsplugins commented on #1976
I think we need to go further than just `edd_update_payment_meta()`. Not nearly enough people know that exists. There are undoubtedly extensions calling update_post_meta(). We will need to intercept those via the filters / actions in `update_metadata()`

[2015-02-23 16:41] pippinsplugins commented on #3186
No, this cannot be removed. EU users will flip us the bird over and over and over.

[2015-02-23 16:41] cklosowski commented on #1976
@pippinsplugins ok, we can try that out. I'll write it up today.

[2015-02-23 16:42] pippinsplugins commented on #3186
OK just re-read what you wrote.

Honestly, I think that's probably just asking for far more trouble than it's worth.

[2015-02-23 16:42] chriscct7 commented on #3186
Why? We're providing the same output they had before

[2015-02-23 16:43] pippinsplugins commented on #3186
I'll look at it again later before jumping to any further conclusions :)

[2015-02-23 16:45] chriscct7 commented on #3186
Sure. If you have any questions let me know. The idea is premised on the point that no existing functionality would be lost. Anything you can do today, you'll be able to do tomorrow. The only difference is how the number calculations themselves work and how the numbers are inputted.

[2015-02-23 17:00] pippinsplugins commented on #3185
I believe we have another issue related to splitting items out into multiple rows.

[2015-02-23 17:01] pippinsplugins commented on #1976
:+1:

On Mon, Feb 23, 2015 at 10:41 AM, Chris Klosowski <notifications@github.com>
wrote:

[2015-02-23 17:48] pippinsplugins commented on #2806
Punting to 2.4 due to lack of discussion.

[2015-02-23 17:49] pippinsplugins commented on #2462
Punting to 2.4

[2015-02-23 17:54] bseddon commented on #3186
For what it is worth, I agree with Pippin's first reaction.  The reality is that some users want and expect to be able to enter a 'final' number and have everything workout from there.  While they may be a minority, that doesn't seem to be a reason to drop the functionality.  There would be tons of functionality you would drop if this is the rationale for selecting product features.

In some Europ

[2015-02-23 18:06] chriscct7 commented on #3186
@bseddon thanks for your thoughts.

Yep, we have an open issue for the rounding issue ( #3104  , although WooCommerce miscalculates the amount of tax included, something I'll explain whenever I get a chance on #3165 ).

This issue doesn't seek to drop any functionality, just rework how the code works for calculating taxes and re-thinking the input. As mentioned above we're still working on a final

[2015-02-23 18:28] pippinsplugins commented on #3100
This is a pretty minor one in terms of testing, so I don't see much likely hood for problems.

[2015-02-23 19:08] chriscct7 commented on #2758
#3188 looks like its ready to go. Haven't tested it yet though

[2015-02-23 19:08] chriscct7 commented on #3100
I was referring to the refactor

[2015-02-23 19:10] pippinsplugins commented on #2758
It's not ready to go if you haven't tested it yet ;)

[2015-02-23 19:15] sdavis2702 commented on #3001
@cklosowski, good stuff. That fixed it for me. :+1:

[2015-02-23 19:19] pippinsplugins commented on #3165
@garubi I'm more than happy to look at it further if you're confident it's a bug :)

For your store, are you needing taxes calculated before discounts?

[2015-02-23 19:28] chriscct7 commented on #3001
When using the following:
[downloads category="parent-category" exclude_category="parent"]

Where parent is a valid category that downloads belong to and parent-category is an invalid category that does not exist. All products - the ones in parent are shown. Is this expected or are we expecting a null set of downloads?

[2015-02-23 19:36] sdavis2702 commented on #3001
@chriscct7 well the question to ask here is what we want the following to show:

[downloads category="parent-category"]

...when `parent-category` is invalid. Right now, it shows all downloads as if the category parameter is not being used at all (which I think is right). And with that behavior, `exclude_category="parent"` displaying everything _but_ `parent` with an invalid category parameter mak

[2015-02-23 19:37] cklosowski commented on #1976
Ok so we've updated it so that when either `_edd_payment_tax` or `_edd_payment_meta` is updated, we update the other option. That way we're not missing anything and we're compatible with any updates directly to the meta.

We're doing this on the `updated_postmeta` hook so even if someone updates payment meta using `update_post_meta` function instead of `edd_update_payment_meta` we'll catch it and

[2015-02-23 19:37] chriscct7 commented on #3001
Ok, yeah I guess thats fair. The only thing is when you have a small number of downloads when you are setting up a site it might seem that you are getting the right downloads from your shortcode and you don't realize you've typo'd a category until much later

[2015-02-23 19:38] chriscct7 commented on #3001
Other then that, the rest of this works great :+1:

[2015-02-23 19:42] danieliser commented on #3152
I'll see what I can come up with

[2015-02-23 19:45] danieliser commented on #3100
Agreed. It will need extensive testing. One of the first things that needs to be done is to try and make a list of things that need to be accounted for and tested. That way we know ahead of time what and don't miss anything in the cracks.

[2015-02-23 20:12] chriscct7 commented on #2758
What I meant its ready to be tested and appears to solve the issue for the ticket. Not that its merge ready

[2015-02-23 20:43] pippinsplugins commented on #1976
This should be ready to close out but I want to test it once more before doing that.

[2015-02-23 21:26] bseddon opened #3190 "VAT plugin and 2.3"
The request to check the VAT plugin against the 2.3 branch has been received.  The result is that there is an issue in the VAT report by country (fixed) because the tax total has been moved from the payment meta structure to be a record in post meta.

Are there any other changes to be aware of?

The cause of the issue found is that the report accesses the tax element in the payment meta structure

[2015-02-23 21:29] pippinsplugins commented on #3190
For the tax changes, see https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/3189

No changes should be required in your plugin, but they will be encouraged.

That's the only major change that I'm aware of that might impact you/

[2015-02-23 21:30] mindctrl commented on #3001
Getting no downloads with this shortcode:
`[downloads category="category-3,charts-graphs" exclude_category="another-category"]`

Category structure:
[code]
Will do some more testing.

[2015-02-23 21:36] pippinsplugins opened #3191 "Add category / tag support to products end point of REST API"
The products endpoint of the REST API should support querying products that belong to specific tags or categories.

Requested [here](https://easydigitaldownloads.com/support/topic/rest-api-how-can-i-get-products-from-a-specific-category/).

[2015-02-23 22:01] MelR commented on #2222
Inline error messages would be great! I would like to request a generic message such as "Oops! Some required fields were not filled in." to the top with red background in case an inline error is below the scroll. We have had many confused customers because they missed the bottom error messages.

[2015-02-23 22:27] pippinsplugins commented on #2815
I'm punting to 2.3.3 due to lack of feedback.

Note: this may be fixed by reducing the likelihood for race conditions in #2558.

We should test this further as well by using multiple instances of WP CLI to create hundreds of thousands of simultaneous purchase records.

[2015-02-23 22:29] ghost1227 commented on #2882
@cklosowski issue fixed

[2015-02-23 22:33] #2677 closed

[2015-02-23 22:42] pippinsplugins commented on #2548
Ajax search hasn't been finished for the user account selection yet.

The customer search will be added in other places after 2.3 is out.

[2015-02-23 22:43] cklosowski commented on #2548
AJAX user search is implemented on `issue/2548`

[2015-02-23 22:43] pippinsplugins commented on #2548
Correction: user search is done in `issue/2548` just not in `release/2.3` yet.

[2015-02-23 22:46] pippinsplugins commented on #2548
Looks like we have a slight overlap: https://cloudup.com/c8ulaWXFjhg

[2015-02-23 22:46] pippinsplugins commented on #2548
Correction: ajax is in release/2.3

[2015-02-23 23:08] chriscct7 opened #3192 "Add Multiple Items to Cart"
Right now if you wanted to add multiple price_ids to the cart in a single add_to_cart call you can't. We used to allow this but removed it in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/76d7232f929e3362db039071d09b34b91d6009b9/includes/cart/functions.php#L139

For example, let's assume I have a variable priced product, where 2 of 30 price options are often purchased togethe

[2015-02-23 23:09] chriscct7 commented on #3192
The pull request for this is #3070

[2015-02-23 23:37] danieliser commented on #2548
@cklosowski Did those css tweaks work for you?

[2015-02-24 00:25] mindctrl commented on #3001
More tests with screenshots.

![downloads-shortcode-test-products](https://cloud.githubusercontent.com/assets/1254870/6340837/a7538be6-bb91-11e4-8732-28d1d6134919.png)

![downloads-shortcode-test-output](https://cloud.githubusercontent.com/assets/1254870/6340840/ad7f81dc-bb91-11e4-8a25-a9beec69d18d.png)

[2015-02-24 00:59] ghost1227 commented on #2880
Ok... why can't I find where I need to update for searches??

[2015-02-24 01:13] ghost1227 commented on #2667
@pippinsplugins Anything that you see that needs to be fixed?

[2015-02-24 01:16] ghost1227 commented on #2168
@pippinsplugins where does the patch need to be applied?

[2015-02-24 01:44] ghost1227 commented on #1756
@pippinsplugins @cklosowski Updated

[2015-02-24 01:50] ghost1227 commented on #3164
Any recommendations?

[2015-02-24 01:50] ghost1227 commented on #3163
Any recommendations?

[2015-02-24 02:17] danieliser commented on #3192
Not sure if this is valid place for this, but I would like to be able to add multiple items in one call as well. Using the current direct links
checkout?edd_action=add_to_cart&download_id[]=6310&price_id[]=&download_id[]=5674&price_id[]=2

[2015-02-24 02:54] pippinsplugins commented on #3164
Let's look at putting each key on a separate line and ensure each can be
selected easily

On Monday, February 23, 2015, Ghost1227 <notifications@github.com> wrote:

[2015-02-24 02:58] pippinsplugins commented on #2168
The payment meta that we currently serialize.

On Monday, February 23, 2015, Ghost1227 <notifications@github.com> wrote:

[2015-02-24 02:58] pippinsplugins commented on #2667
Since we have punted to 2.4, I haven't looked at it in depth yet. Will
after 2.3 is out.

On Monday, February 23, 2015, Ghost1227 <notifications@github.com> wrote:

[2015-02-24 03:55] ghost1227 commented on #3164
Instead of doing three cells, doing one cell with the public, secret and token on separate lines?

[2015-02-24 05:31] chriscct7 commented on #3192
This isn't for links, this is for the edd_add_to_cart function

[2015-02-24 05:33] danieliser commented on #3192
Ok. I know i have seen a similar issue with the links on here somewhere, couldn't find it when I posted that. No worries.

[2015-02-24 06:17] wpweb101 commented on #3152
okay, but at-lease let me know should I create new issue for other action I need or start trying to explain it here?

[2015-02-24 06:29] danieliser commented on #3152
New issue. They are unrelated so it needs to be tracked separately.

[2015-02-24 09:09] garubi commented on #3165
@pippinsplugins I'm really not sure it's a bug, maybe it could be just the way we in Europe have to deal with VAT tax... or maybe I am just wrong ;-)

I'm now reading the issue #3186 to understand if it's related to this.

For our store we solved with a custom checkout template where we removed the subtotal row. Since we use an other software to issue the official and legal invoice, and the Total

[2015-02-24 14:36] pippinsplugins commented on #3164
That's an option. Might just look at replicating the standard posts table's mobile view.

[2015-02-24 14:47] pippinsplugins commented on #2548
On another note, let's do a little cleanup on the field lengths so they are consistent:
![screen shot 2015-02-24 at 8 46 26 am](https://cloud.githubusercontent.com/assets/1034109/6351496/b571cdc6-bc01-11e4-915f-61f5bde78e5c.png)

[2015-02-24 14:53] pippinsplugins commented on #2548
![screen shot 2015-02-24 at 8 52 52 am](https://cloud.githubusercontent.com/assets/1034109/6351604/8b0feb16-bc02-11e4-8128-0e7895c50b8b.png)

[2015-02-24 15:00] pippinsplugins commented on #2548
@cklosowski We can't do this:
[code]
There are too many performance impacts of that.

[2015-02-24 15:01] pippinsplugins commented on #2548
Since we have a check and an error message during update if you try and associate a customer with another customer's user account, I don't think it's too much of a concern to show those user accounts in the search results.
![screen shot 2015-02-24 at 9 00 33 am](https://cloud.githubusercontent.com/assets/1034109/6351757/b8f1bc8e-bc03-11e4-9d5a-e7c1e602a0e1.png)

[2015-02-24 15:02] pippinsplugins commented on #3018
I think we can go ahead and close this. I've been testing it out further and it looks great.

[2015-02-24 16:07] pippinsplugins commented on #3181
@cklosowski #3182 is finished and the build is passing (I updated all unit tests to use the new functions). Could you review it and merge if you approve?

[2015-02-24 16:34] pippinsplugins commented on #2880
It's in admin/payments/

[2015-02-24 16:39] pippinsplugins commented on #1934
This is looking really good but I have found a bug.

If you add a new item to a payment that has an amount of `0.00`, the log gets created, the earnings get properly _not_ incremented, and the sales get incremented as expected, but the amount shown in the sales log is incorrect. It's showing as the default item price, not the `0.00` entered.

[2015-02-24 16:41] pippinsplugins commented on #1934
Ah, the log amount is always wrong. I just tested by adding an item that is normally $20 but setting the amount to $2. The total earnings for the download were incremented by $2, but the log amount shows $20:

![screen shot 2015-02-24 at 10 40 45 am](https://cloud.githubusercontent.com/assets/1034109/6353900/9d0f0176-bc11-11e4-9afe-bcd2195b8384.png)

![screen shot 2015-02-24 at 10 40 57 am](https:

[2015-02-24 16:48] pippinsplugins commented on #1934
Ah, actually this appears to be due to https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2978

It only happens when you add two of the same product.

[2015-02-24 16:49] pippinsplugins commented on #1934
We can ignore that bug for now. It needs to be resolved at some point but is unrelated to this issue.

[2015-02-24 16:50] pippinsplugins commented on #1934
This is working beautifully.

[2015-02-24 16:51] pippinsplugins commented on #1934
I'm going to close this out for now. Reopen if any issues are noticed.

[2015-02-24 16:51] #1934 closed

[2015-02-25 16:23] pippinsplugins commented on #3107
I'm not sure if this is due to the upgrade or a bug in the purchase creation process, but I just got this report from a customer on pippinsplugins:

I looked up their purchase history and all payments (5 of them) show as being connected to the customer when viewing the `View Order Details` screen, but the customer details screen shows just one (the same one he sees in his account):

![screen shot

[2015-02-25 16:26] pippinsplugins commented on #3107
Ok the `attach_payment()` method seems to work fine. I just ran the following for each missing payment and it worked fine:
[code]

[2015-02-25 16:40] cklosowski commented on #3181
Reviewing now @pippinsplugins

[2015-02-25 17:04] #3181 closed

[2015-02-25 18:23] cklosowski commented on #3107
Ok Tracked it down to the `edd_insert_payment()` function. It was treating new customers and existing customers the same and overwriting their payment_ids column.

We've updated the function to use the `attach_payment` method of `EDD_Customer`, this way all the hooks fire when adding to either a new or existing customer.

[2015-02-25 18:25] cklosowski commented on #3001
Thanks @mindctrl, will do some more testing.

[2015-02-25 18:34] cklosowski commented on #2548
ok, sounds good @pippinsplugins

[2015-02-25 20:02] danieliser opened #3198 "Filtering Discount Codes"
Having enabled several extensions now that auto generate one time use codes such as social discounts, purchase rewards etc my discount code screen is litterally un navigable. Adding tags & categories would allow extensions to tag their codes for instance and then I could filter them out easily.

[2015-02-25 20:14] pippinsplugins commented on #3198
I like this idea.

The EDD site, for example, has over 32,000 discount codes it. Clearly that gets unmanageable if we can't filter them in any way.

[2015-02-25 22:55] danieliser commented on #3198
@pippinsplugins Great, got a few things ahead of this, but this one should be relatively easy and shouldn't require to much testing since it will not modify anything existing ( no codes would have tax/cat already ).

TODO
- New Taxonomies
- New fields on discount editor to manage them

The Discount Table should show the Tag & Cat options automatically or are the tables not built using standard CPT

[2015-02-25 22:56] aky01 opened #3199 "Proposal: Standard class for all table outputs"
Greetings!

it would be super useful if we had a class added to all table outputs so that we may target all for styling if possible. Right now all tables are produced with all different unique ID's (obviously) but no class - if we had a class for example of edd_table then we could easily target all tables produced by EDD without touching anything else that outputs a table etc.

Jonathan

[2015-02-26 02:32] chriscct7 commented on #3199
What tables are you referring to?

[2015-02-26 13:57] chriscct7 opened #3200 "Senegal zip code regex might be off"
https://easydigitaldownloads.com/support/topic/problem-with-checkout-form-not-accepting-senegal-post-codes/

[2015-02-26 17:05] aky01 commented on #3199
All tables that are output by EDD. Just a class that would be common to all tables produced.

[2015-02-26 17:08] pippinsplugins commented on #3199
I agree and would propose a simple `edd-table` class.

[2015-02-26 17:09] aky01 commented on #3199
Yes perfect - thanks guys!

[2015-02-26 18:08] wpweb101 commented on #3152
@danieliser  when should I expect the action I asked get added so I can use it in my plugin?

[2015-02-26 18:29] pippinsplugins commented on #3152
No earlier than 2.3.2

On Thu, Feb 26, 2015 at 12:08 PM, Jigar Shah <notifications@github.com>
wrote:

[2015-02-26 18:32] pippinsplugins commented on #3198
I wonder if we should look at changing our discount screen to use the standard post edit screen instead of the custom one. It'd allow us to get rid of a decent chunk of code (rendering + actions) and would natively add support for taxonomies and tags.

[2015-02-26 18:56] chriscct7 commented on #3198
I don't think we should. I think it will make the interface really confusing for users

[2015-02-26 19:03] pippinsplugins commented on #3198
Why confusing? Just as an example, WooCommerce uses the default edit screen
with a custom meta box and it's very nicely done.

On Thu, Feb 26, 2015 at 12:56 PM, Chris Christoff <notifications@github.com>
wrote:

[2015-02-26 19:08] chriscct7 commented on #3198
Well let's start with tags & categories. The idea proposed here might confuse people. For example, if we show a tags and categories UI, many people are going to expect that is used the way Discounts Pro uses it: to do discounts for products with a specific category or tag. In terms of usability, the standard edit post page is alot more involved looking than what we have right now, where users can

[2015-02-26 19:10] chriscct7 commented on #3198
Also I'm really wary of the code reduction argument. We're going to have to add alot of code as well to support backwards compatibility, and things like removing metaboxes that appear on all post types (like Yoast SEO) because they don't make sense in a discount context.

[2015-02-26 19:18] pippinsplugins commented on #3198
The potential confusion is definitely the biggest issue I see. I love the idea of organizing discounts, but you're absolutely right that it will be confusing if not presented really well.

[2015-02-26 19:20] chriscct7 commented on #3198
I think the better solution to organizing discounts is to hide 1 time use discounts from the main discounts view and put them on their own tab.

[2015-02-26 19:20] chriscct7 commented on #3198
If you remove all 1 time discounts from that view, 99.99999% of sites will not have that many discounts. Maybe we should just add a "1 time" use tab

[2015-02-26 19:25] chriscct7 commented on #3198
This is kinda similar to what we did with pending orders for buy it now buttons. Just a simple de-cluttering.

[2015-02-26 20:33] danieliser commented on #3198
I disagree, if you make 2 new taxonomies, Calling them Discount Category & Discount Tags, that is not the same as showing a list of download tags and download categories. I see your point there but the confusion is offset simply by choosing the right verbiage.

From a UI/UX perspective moving to the standard Meta Panel is the right move. You can pretty easily strip it down to the bare minimum and

[2015-02-26 20:36] danieliser commented on #3198
@pippinsplugins @chriscct7 I do however like the idea that you could apply discounts to products based on download_category & download_tag. And actually the argument could be made that having both download tags/cats & discount tags/cats there would actually act to lessen confusion. Hard to get confused if both are there and described properly.

[2015-02-26 20:45] danieliser commented on #3152
@wpweb101, Pippin is correct, even if I add it now, it won't be released to public for usage in an extension for a few cycles at least. Pippin has it slated for 2.3.3 point release, but we may be able to squeak it into 2.3.2

[2015-02-26 21:06] chriscct7 commented on #3198
Housekeeping used discount codes is likely out of the question. There's too many things that could go wrong there (people re-activating them) or needed to run reporting etc. There's an extension for tags and categories already, and its not something most people will use, just based on the fact the extension has only been downloaded a couple dozen times in the last 6 months. Heck, even the Attach A

[2015-02-26 21:09] chriscct7 commented on #3152
None of the items slated for 2.3.3 will be in 2.3.2. 2.3.2 is reserved for bug fixes only, not enhancements

[2015-02-27 03:19] danieliser commented on #3198
Valid points, but not changing the UI based on extra code is not a valid point. The fact remains that as a WP plugin, it is generally best to use as much built in functionality as possible. This includes using the built in CPT interfaces, as any future updates to those could cause the need for major rewrites of these custom interfaces that EDD currently uses.

I won't disagree that the simplest op

[2015-02-27 03:27] danieliser commented on #3152
Couldn't the same be said for all point releases. There is really no difference between 2.3.3 and 2.3.2. In terms of development nearly all point releases are for bug fixes and patches only rather than feature development.

[2015-02-27 11:10] chriscct7 commented on #3152
The EDD core team has elected for 2.3.2 to be a bug fix only release. If it
doesn't directly fix a bug, its 2.3.3 or later. That includes all
enhancements, feature requests and even filters.
On Feb 26, 2015 10:27 PM, "Daniel Iser" <notifications@github.com> wrote:

[2015-02-27 17:40] pippinsplugins commented on #3198
Using the standard UI would definitely be less code, at least I'm pretty sure.

@danieliser I don't think anyone is disagreeing with the usefulness of categories (I really need them). Chris is just saying (and I agree) that we have to be very careful and deliberate with how the category options are presented because it would be very easy for users to jump to the conclusion that assigning a categor

[2015-02-27 17:54] danieliser commented on #3152
@chriscct7 - Thanks for the clarification.

[2015-02-27 17:59] danieliser commented on #3198
@pippinsplugins I completely understood his argument. And don't disagree, though I would absolutely love to see that as a functionality anyways. I would like to be able to apply discounts based on download_category & download_tags. But that could be as simple as creating dropdowns in the discount options sections and adding well written descriptions for those fields. They would look nothing like t

[2015-02-27 18:04] sdavis2702 opened #3201 "Buy Now setting for downloads should check payment gateway functionality"
Some gateways support Buy Now functionality, so the button behavior setting will display in the Download Settings meta box. With that gateway activated, you can change the behavior to Buy Now. If you deactivate that gateway and only use one that does **not** support Buy Now functionality (Test Payment gateway is perfect to test this), the buy now meta stays in place and there's no obvious way to c

[2015-02-27 18:29] syedbalkhi opened #3202 "Proposal: Allow discount codes to be applied to completed purchases"
Often we get customers who forgot to enter the discount code (asking for a partial refund). Instead of refunding the purchase and making the customer buy again, we simply refund them the payment difference using the payment processor.

However it's not possible to apply that discount code post-purchase for EDD records / reporting.

It would be nice to have the ability to enter discount code by edi

[2015-02-27 19:14] ghost1227 opened #3204 "Add better handling for Buy Now"
Currently, using the product list and grid shortcodes, products set to Buy Now still get labeled as 'Add to Cart'. We should research ways of handling this better to identify products as direct purchase vs cart.

[2015-02-27 19:16] ghost1227 opened #3205 "Add support for Buy Now to free products"
Currently, free products are exempt from buy now due to lack of email collection for logged out users. We should add a system in which logged out users are directed to an email collection form when they 'purchase' a free product with buy now enabled, then auto-create the purchase record.

[2015-02-27 19:37] ghost1227 opened #3206 "Add purchased products to customer details"
We should add a new tab to the new customer details page that displays the products a user has purchased.

[2015-02-27 19:41] pippinsplugins commented on #2558
I've tested this by using `wp edd payments create --id=6908 --status=complete --number=500` and all stats came out perfectly when it was finished. Closing!

[2015-02-27 19:41] #2558 closed

[2015-02-27 19:48] pippinsplugins commented on #1976
Works great!

[2015-02-27 19:48] #1976 closed

[2015-02-28 17:08] pippinsplugins commented on #3202
We definitely need to add this.

Related to #2721 and #2625

[2015-02-28 17:10] pippinsplugins commented on #3204
Are you specifically referring to the text displayed on the button?

[2015-02-28 17:11] pippinsplugins commented on #3205
Whether this happens as part of core or as part of a free extension, I'd love to see this happen. There are a couple of extensions that have tried to do this, but none of them are great. I'd love to see it done really well once and for all.

[2015-02-28 17:12] #3201 closed

[2015-02-28 17:13] sdavis2702 commented on #3201
:+1:

[2015-02-28 17:15] cklosowski commented on #3206
@pippinsplugins can you test this out a bit. seems to work great for me.

[2015-02-28 17:20] cklosowski commented on #3001
Ok @mindctrl I think we're at the point where we can do this properly. We have a logical limitation when `exclude_*`. It's hard to explain in words but it's best to think of it in a Venn Diagram...

We cannot support multiple categories with an `OR` relation when we have an exclude. As it would mean we would get ALL products. We have to Switch to `AND`, to allow a proper meta query.

[2015-02-28 17:36] #2882 closed

[2015-02-28 17:46] cklosowski opened #3209 "Update edd_get_users_purchased_products to use customer payment ids"
The `edd_get_users_purchased_products` function currently will break if a customer has too many purchases, and in fact is causing a fatal error locally for max memory allowed at ~100 purchases.

We should ignore this query and go directly to the customers data for their purchase IDs.

[2015-02-28 17:47] pippinsplugins commented on #3206
Related: #3209

[2015-02-28 17:47] #3206 closed

[2015-02-28 17:55] pippinsplugins commented on #3192
We're going to go with the following logic:
[code]

[2015-02-28 18:05] pippinsplugins commented on #3107
Fixed the payment overwriting issue in 82374483265fb6f2b3cffaf5be16b56fce539b53

[2015-02-28 18:05] #3107 closed

[2015-02-28 18:06] pippinsplugins commented on #3031
Related #3209

[2015-02-28 18:09] pippinsplugins commented on #2979
I've been testing this on pippinsplugins.com and it appears to be working well.

[2015-02-28 18:09] #2979 closed

[2015-02-28 21:35] pippinsplugins commented on #3209
Looks great.

[2015-02-28 21:36] #3209 closed

[2015-02-28 22:11] danieliser commented on #3192
That looks solid. Should make processing easy as well. Are you gonna abstract the add functionality for use in a foreach or simply turn a sinlge item into an array before the foreach?

[2015-02-28 23:22] SDavisMedia opened #3211 "Adjust filter names for the From Email on purchase receipt and sales notification emails"
Right now, the `edd_purchase_from_address` From Email filter name is shared for Purchase Receipt emails, Sales Notifications emails, and the Test Purchase Receipt.

They shouldn't all share the same filter name so at least one of them (not sure how much the test one matters) should be changed.

Note: The Sales Notification email should probably change because the current filter name makes no sense

[2015-03-01 00:54] SDavisMedia opened #3212 "Download Details widget should use taxonomy labels"
...and any other widgets this applies to. For example, the Download Details widget can display categories and tags, both of which are labeled with the taxonomy type. However, changing the taxonomy labels does not affect the labels found in this widget. I'm thinking it should.

Ticket that better explains how I found this: https://easydigitaldownloads.com/support/topic/change-category-and-tag-label

[2015-03-01 17:17] pippinsplugins opened #3213 ""Yesterday" stats come back blank when on the first day of a month"
It's happened again.

[2015-03-01 17:49] #3213 closed

[2015-03-01 21:17] ghost1227 commented on #3204
Yes. If there are other issues, let me know and I'll look into them.

[2015-03-01 22:56] pippinsplugins commented on #3205
@ghost1227 and I discussed this and he's going to build it as an extension, so closing this.

[2015-03-01 22:56] #3205 closed

[2015-03-02 01:19] chriscct7 opened #3215 "Don't check if ajax calls work if Airplane Mode plugin is active"
If the Airplane mode plugin is installed and enabled we should ignore the test. It's kind of annoying to see the error all the time.

[2015-03-02 01:20] chriscct7 commented on #3215
Pull request submitted: #3216

[2015-03-02 17:25] ghost1227 commented on #3204
@pippinsplugins ping

[2015-03-02 17:39] cklosowski commented on #3215
We've set feature freeze for 2.3, punting to 2.4.

[2015-03-02 17:42] cklosowski commented on #3215
Strike that, we'll go 2.3.3

[2015-03-02 18:29] cklosowski commented on #1623
Looks like our variable pricing is working but single price items are missing a name field:

![image](https://cloud.githubusercontent.com/assets/1390124/6447421/0f742bce-c0c7-11e4-89cb-a827a8131ccf.png)

[2015-03-03 00:16] cklosowski commented on #1623
I think I've got this nailed down, the issue lies in the nesting of our `itemtype` attribute. The `name` was on the `the_title` and the `scope & description` were on `the_content`, so the name was outside of the scope.

I'm moving to create a `span` on `loop_start` and closing it on `loop_end`, that declares the scope so that it's nested as:
[code]
This is currently validating on the Google Testin

[2015-03-03 01:12] cklosowski commented on #3192
After some discussion, @pippinsplugins and I have decided to only support sending a single download ID, however in the options you can set price IDs...so:

```edd_add_to_cart( $download_id, array( 1, 2 ) );```

With this as well, we'll allow adding multiple price IDs from the customer Add to Cart URL with the format of:
```http://local.dev/edd/checkout/?edd_action=add_to_cart&download_id=16&edd_op

[2015-03-03 01:16] pippinsplugins commented on #3198
Oh don't get me wrong, I'd really love to see it :)

I haven't thought too much about it yet so I don't have any more feedback for you yet, sorry.

[2015-03-03 01:23] pippinsplugins commented on #3165
I've gone ahead and milestoned this for 2.4 to make sure we get some extra eyes on it.

[2015-03-03 02:28] #1623 closed

[2015-03-03 02:29] cklosowski commented on #3031
Closing this for now, if we need to we can re-open for discussion.

[2015-03-03 02:29] #3031 closed

[2015-03-03 02:31] cklosowski commented on #2657
Punting until 2.4, we need some more time to make sure this logic is solid.

[2015-03-03 08:09] Netzberufler commented on #3186
Since I am a European user with a theme shop located in Germany I might be able to add some value here.

What makes it different for EU based shops is that every country has a different tax rate, but we always need to display the end price the customer is charged on the website.

If we sell B2C we have to charge the tax where the consumer is located. Example: If I sell my theme from Germany to a c

[2015-03-03 08:15] chriscct7 commented on #3186
Right, that's what EDD does right now. The proposed issue is with a scenario like that but with discounts applied

[2015-03-03 08:16] chriscct7 commented on #3186
Yeah, that's the problem we're working on :)