[2016-04-17 21:04] cklosowski commented on #4329
Relative links are local so should have their file size determined.

On Sunday, April 17, 2016, Phil Johnston <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-04-17 21:07] mintplugins commented on #4329
Yes this is for local URLs. The Filesize error is still being triggered. I couldn't see why that would be the case.

[2016-04-18 12:26] nosegraze opened #4498 "edd_get_ip Modification"
I'm using Varnish, which has `$_SERVER['HTTP_CLIENT_IP']` and `$_SERVER['HTTP_X_FORWARDED_FOR']` coming back as:

`<ip here>, 127.0.0.1`

The two IPs can cause issues for payment gateways and anything else that validates IPs (Taxamo integration).

It'd be great to check for multiple IPs like this and only grab the first result.

(Or just put `$_SERVER['REMOTE_ADDR']` first in the if statement, as

[2016-04-18 13:58] pippinsplugins commented on #4498
Good idea, thanks!

[2016-04-18 14:30] pippinsplugins opened #4499 "Downloads not properly removed from payment meta when deleting from payment"
When deleting a download from a payment record via View Order Details, there appears to be some meta data left over.

I discovered this by removing a download from a payment, adding a new item (to replace the first), clicking save changes, then (after reload) generating new license keys for the payments. After generating the license keys, a new key was generated for the item that was added _and_ t

[2016-04-18 14:50] cklosowski commented on #4499
Looks like this only affects the `downloads` array, and only when there are variable pricing. The `cart_details` array seems to be adjusted just fine, and when the removed product doesn't have variable pricing enabled, it also works fine.

Need to fix variable priced ones though.

[2016-04-18 16:24] daigo75 opened #4500 "Fees cannot be processed by 3rd parties (no filters)"
The logic to handle fees is pretty much hard-coded, without filters that allow their manipulation.

Proposed fix in [pull request 4490](https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4490).

[2016-04-18 17:12] pippinsplugins commented on #4500
Thanks @daigo75, we'll get these in with 2.6.

[2016-04-18 17:14] daigo75 commented on #4500
Thanks @pippinsplugins. Speaking of 2.6, when is the expected release date? Also, are there radical changes I should know about? From 1.9 to 2.4 was all smooth sailing, then 2.5 introduced breaking changes and now I'm keeping my eyes open.

[2016-04-18 17:17] pippinsplugins commented on #4500
It's planned for the end of May.

No significant changes are planned for 2.6. Make sure you've subscribed to our dev blog. We'll always post significant changes there: https://easydigitaldownloads.com/development/

[2016-04-18 18:37] cklosowski commented on #4499
After trying to replicate this again...I cannot get it to happen. I know that it does happen as @pippinsplugins has seen it, but @mintplugins and @SDavisMedia tried and can't replicate it locally.

We've tried with non-variable, variable, multi-price purchase mode, mixing all of these up in the same cart, etc.

[2016-04-18 18:45] cklosowski commented on #4329
Am I missing something? We 'should' be running a `filesize()` here since the file is local, and not external. The goal of this issue `filesize() being run on external files in process-download.php` has been mitigated.

Looking at the screenshots...the person's file is outside of any recognized path to deliver correctly since we've made it through all the file path checks. All our checks are for th

[2016-04-18 18:46] cklosowski commented on #4329
I believe this should be a NEW issue, and related to better discovery of files outside of the content directory, that are local...not sure how we can do it yet, but that's the real issue here.

[2016-04-18 18:51] cklosowski commented on #4499
Also tried this by removing an item with a subscription and it did not happen.

[2016-04-18 19:31] pippinsplugins commented on #4499
I'll watch for the next time it happens.

[2016-04-18 19:33] pippinsplugins commented on #4329
The problem is that `filesize()` is failing on that file. The file in question is given as full URL and is stored locally, though outside of standard upload folders.

Probably just need to add error suppression to `filesize()`.

[2016-04-18 19:38] cklosowski commented on #4329
@pippinsplugins the one in the example was not a full URL though it was a relative one we couldn't detect properly. That's the iffy part on relative files outside of content directories...are they paths or are they URLs, so in this case it's trying as a path...but I'm guessing the person meant for it to be a URL.

[2016-04-18 19:38] cklosowski commented on #4329
Adding error suppression will stop the notice, though.

[2016-04-18 19:43] pippinsplugins commented on #4329
It was a relative path because I asked Phil to have the user test it with a
relative path. Both relative path and URL resulted in the error.

On Mon, Apr 18, 2016 at 2:38 PM, Chris Klosowski <notifications@github.com>
wrote:

[2016-04-18 19:44] cklosowski commented on #4329
Ah, gotcha. Yeah let's just suppress the errors on it.

[2016-04-18 19:51] pippinsplugins commented on #3620
I have the base product import working well. Now just need to go through and handle all of the field mapping.

[2016-04-18 19:56] cklosowski commented on #4329
this is the right move, we already suppress the errors on our other usage of `filesize()`

[code]

[2016-04-18 20:12] pippinsplugins commented on #4488
Which values did you delete, just the wp_posts entries with a `post_type` of `edd_payment`?

[2016-04-18 21:36] chriscct7 commented on #4488
Deleted all posts with post type of WP payment, all associated post meta and all rows of customers table

[2016-04-18 22:15] mintplugins opened #4504 "The function "edd_readfile_chunked" has single EQUALS sign in If Statement"
The edd_readfile_chunked function has a single equals sign in an if statement on line 712 of process-download.php

[2016-04-19 02:03] pippinsplugins commented on #4488
Ah, that's why. The recount for individual products depends on the `edd_log` post type that has a log type of `sale`. You needed to delete those too.

[2016-04-19 02:19] chriscct7 commented on #4488
I stand corrected. The following are done.

Any post in the post types edd_payment, edd_log, and edd_licenses are deleted, as well as any post meta associated to them. Additionally, any customers are deleted, along with any comments of type "edd_payment_note". Also any users, along with their associated meta, attached to the associated customers are deleted.

[2016-04-19 13:26] cklosowski commented on #4497
There isn't a SUPER accurate way to get the server type...but this as close as we can get for reporting, might just be some interesting stuff to get logged to see our splits on the major server types.

[2016-04-19 14:13] pippinsplugins commented on #4488
Hmm, ok, will try and replicate.

[2016-04-19 21:26] mintplugins commented on #4504
https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/process-download.php#l712

[2016-04-19 22:26] chriscct7 opened #4506 "Flat rate discounts can apply > than cart total"
If you make a flat rate discount for $80 and apply it to a cart of $50, it correctly gives the order total remaining at checkout as $0, incorrectly lists the amount of discount applied at $80 instead of $50 and then shows the order total was -$30 on the purchase history shortcode

When a flat rate discount is applied, it should only apply up to the value of the cart at the time, re-evaluating when

[2016-04-20 00:14] chriscct7 commented on #4488
I've replicated this behavior when instead of using our importer, I use the EDD cli importer you guys wrote. If you use that to import payments and then use the SQL @cklosowski had for removing them, then recount earnings you'll see the same thing

[2016-04-20 18:40] michaelbeil commented on #4376
👍

[2016-04-20 19:34] pippinsplugins opened #4507 "Add lost password URL to log in form on checkout"
The log in form displayed on checkout should include a lost password link.

[2016-04-20 20:19] pippinsplugins commented on #4488
@cklosowski any insights here?

[2016-04-20 20:21] pippinsplugins commented on #4504
@mintplugins That's not a bug, I don't believe. It sets `$size` to the file size and checks if it returned a value at the same time.

[2016-04-20 20:39] mintplugins commented on #4504
Closing.

[2016-04-20 20:39] #4504 closed

[2016-04-21 15:59] pippinsplugins opened #4508 "EDD_Payment: Populate user_info, first_name, last_name, and email from attached customer ID if missing"
If the meta data for `user_info`, `first_name`, `last_name`, and/or `email` is missing, we should automatically populate that information from the attached customer record when instantiating `EDD_Payment`.

[2016-04-21 16:00] pippinsplugins commented on #4508
See https://github.com/easydigitaldownloads/edd-recurring/issues/376

[2016-04-21 16:26] #4497 closed

[2016-04-21 17:23] cklosowski commented on #4508
@pippinsplugins @mintplugins you ugys mind looking over this? I was trying to find a good way to ensure this without blasting away any data we already did have.

[2016-04-21 17:44] pippinsplugins commented on #4508
@cklosowski you're pulling from `EDD_Customer` even when `user_info` is not empty. I feel it should only be when it is empty.

[2016-04-21 17:46] cklosowski commented on #4508
@pippinsplugins We're pulling from the customer when `user_info` is empty OR `items are not there`, which is a potential problem in things that expect `first_name` or `last_name` to be set, but aren't for some reason.

[2016-04-21 17:47] cklosowski commented on #4508
The code finds things that are not set, and makes sure somehting exists...

[2016-04-21 17:55] pippinsplugins commented on #4508
ah! I missed that.

[2016-04-21 18:08] #4329 closed

[2016-04-21 18:16] cklosowski commented on #4499
@pippinsplugins have we seen this yet again?

[2016-04-21 19:07] pippinsplugins commented on #4508
Works nicely.

[2016-04-21 19:07] #4508 closed

[2016-04-21 19:11] pippinsplugins commented on #4499
I have not. Will have to punt until it's replicated again.

[2016-04-21 19:46] cklosowski opened #4511 "Tracking info not sending"
while preparing to update tracking data and usage tracking plugin we found that pings were not being sent for those opted in. For example one of my sites has a last checkin time of:
GMT: Fri, 06 Nov 2015 05:05:20 GMT (`1446786320`)

[2016-04-21 19:58] cklosowski commented on #4511
After a little investigation, might just be a small subset of sites. Going to punt until we can investigate further.

[2016-04-21 20:41] SeanTOSCD opened #4512 "Downloads sold by date range"
It looks like there is no way to see how many of a specific download was sold in a specific date range and export the data.

Ticket: https://secure.helpscout.net/conversation/190715569/0/

@cklosowski Not sure if you were agreeing to the report itself or the export, or both. But we can adjust this issue as needed.

[2016-04-21 20:45] pippinsplugins commented on #4512
Would be nice to support this for sure.

[2016-04-22 02:18] sumobi opened #4513 "Reporting: Incorrect earnings across a custom date range"
Reporting is giving incorrect earnings across a custom date range. It's ignoring the days in both the first and last filter.

Eg:

1 January 2016 to 6th April 2016 = $100,000

Now modify the filter's end date to 30th April and you'll get the exact same amount:

1 January 2016 to 30th April 2016 = $100,000

Or:

7th January 2016 to 30th April 2016 = $100,000

However, if you run a custom filter wit

[2016-04-22 17:34] pippinsplugins commented on #4477
@mintplugins I'm going to try and test this soon.

[2016-04-22 17:38] pippinsplugins commented on #4031
@samikeijonen Yep! I've made it through some of them and will get the rest before 2.6 is finished.

[2016-04-22 17:54] pippinsplugins commented on #4477
Let's make sure we get new unit tests in for testing price_id.

[2016-04-22 18:29] pippinsplugins commented on #4284
@chriscct7 Yes it will and we'll have to deal with that. Unfortunately, breaking caching on _every_ single page of _every single_ EDD site is far worse.

[2016-04-23 00:34] chriscct7 opened #4514 "Payment notes should be populated in the customers notes"
Right now you can leave notes on both the payment and the customer. The problem is if you leave an explanation for example on the payment, and then someone else looks for notes about hte customer on the customer notes tab, they don't show up. The customers notes should show all notes for the customer both the ones made on there, and manually made payment notes (not the automatically made gateway/e

[2016-04-23 04:58] pippinsplugins commented on #4514
I can see this being valuable.

[2016-04-25 14:23] Just-m opened #4515 "Function edd_get_variable_prices() returns prices even if variable prices is disabled"
https://github.com/easydigitaldownloads/easy-digital-downloads/blob/62f4ad4c0e95f86667cb2ab2687fcd3c770e154f/includes/download-functions.php#L236

It might be policy to not remove variations immediately just in case someone changes his/her mind, but using the above mentioned function results in wrong data. The deleted variations also show up.

It could be solved by adding an edd_has_variable_price

[2016-04-25 14:49] pippinsplugins opened #4516 "edd_new_user_notification() does not set email headings properly"
The new user notification email does not set the header properly.

Example:
![screen shot 2016-04-25 at 7 48 53 am](https://cloud.githubusercontent.com/assets/1034109/14787865/31184b14-0aba-11e6-88f7-515ecf72be02.png)

This happens because we're not setting up a new instance of the `EDD_Emails` class.

[2016-04-25 14:52] pippinsplugins commented on #4516
@topher1kenobe can you please test this

[2016-04-25 14:54] topher1kenobe commented on #4516
@pippinsplugins I was never able to replicate locally, only on his site.  Is there something I could do to trigger it?

[2016-04-25 14:55] pippinsplugins commented on #4516
As long as it works properly locally, that will be sufficient.

[2016-04-25 15:04] pippinsplugins commented on #4515
@Just-m It doesn't return deleted variations. The only way that could happen is if your database is aggressively cached and the cache simply hasn't updated yet.

[2016-04-25 15:12] topher1kenobe commented on #4516
I get these:

Notice: Undefined variable: from_name in /home/topher_edd/edd.derosia.com/wp-content/plugins/easy-digital-downloads/includes/user-functions.php on line 492

Notice: Undefined variable: from_name in /home/topher_edd/edd.derosia.com/wp-content/plugins/easy-digital-downloads/includes/user-functions.php on line 501

I'll turn off debug and try again

[2016-04-25 15:13] topher1kenobe commented on #4516
Actually, the email went through fine.  It looks the same as master for me, I have a logo instead of that text.

[2016-04-25 15:53] pippinsplugins commented on #4516
Screenshot please.

[2016-04-25 18:04] #4516 closed

[2016-04-26 07:30] Just-m commented on #4515
I did some more testing.

This happens when you disable 'variable pricing' without deleting the variations first.
`edd_has_variable_prices()` will correctly return `false`
`edd_get_variable_prices()` will return an array of variations.

I was looking for a function that would return $9.00 if it was a single price, and $9.00 - $19.00 in case of variations.
`edd_price()` only returns one price, whic

[2016-04-26 18:33] pippinsplugins commented on #4515
Ah! Yes, that makes sense. I don't see any reason we can't take care of that.

[2016-04-27 17:46] SDavisMedia opened #4518 "adjust admin table responsive behavior"
At the moment, they're unusable at certain screen sizes: http://glui.me/?i=zgqecnx1nhtb11g/2016-04-27_at_10.44_AM.png/

It looks like WordPress core has a built in collapsing functionality that we may be able to tap into: http://glui.me/?i=3j0zjcdxr3ggazo/2016-04-27_at_10.45_AM.png/

[2016-04-27 20:44] pippinsplugins opened #4519 "Add SSL notice in PayPal settings for IPN verification"
To prepare for the SSL requirement for IPN verification coming from PayPal in September, 2016, we should add notice text to the IPN verification settings in the PayPal gateway settings:
![screen shot 2016-04-27 at 3 44 11 pm](https://cloud.githubusercontent.com/assets/1034109/14867607/ea4067c2-0c8e-11e6-88e9-18ca3bee5789.png)

[2016-04-27 20:51] pippinsplugins opened #4520 "Add locale to opt-in tracking"
We should add the site's locale to the opt-in tracking info so we can get a better idea of the top languages.

[2016-04-28 16:27] michaelbeil opened #4521 "Change plugins screen description"
Per a discussion in Slack, @wordmaid brought up a good point that we should change the copy of the description that shows in the plugin dashboard that is taken from the header in easy-digital-downloads.php.

Currently it is `Serve Digital Downloads Through WordPress`.

Proposed descriptions:
- `Sell digital products with WordPress, easily.`
- `An eCommerce system that allows you to sell digital pr

[2016-04-28 17:09] chriscct7 commented on #4521
I strongly think it should be "The world's easiest way to sell digital downloads through WordPress" as that would match our existing branding on the homepage of our website.

[2016-04-28 18:11] pippinsplugins commented on #4521
I agree with @chriscct7 unless we also choose to change the description on the site.

[2016-04-28 20:01] pippinsplugins commented on #4256
@grappler Yep! We can definitely do that. I didn't realize that tool existed.

[2016-04-28 22:30] danieliser opened #4522 "Add a way to exclude a payment from totals & calculations"
Occassionally I give away software packages to NPO's. They get a receipt for the full amount, but I don't want it calculated into store totals, but I also don't want to 0 out those purchases either.

Is there a way already to do this?

[2016-04-29 00:28] wordmaid commented on #4521
I think "The world's" is a bit redundant. I think it could simply be "The easiest way to sell digital products with WordPress." Obviously a good point for discussion.

[2016-04-29 03:34] pippinsplugins commented on #4521
I like that @wordmaid

[2016-04-29 07:19] raphcadiz opened #4523 "Negative value on price"
The user is able to input a negative value of price, sample "-23" I think this is something we shouldn't let the user to do

[2016-04-29 09:08] rnovotny opened #4524 "edd_format_ammount doens't add a currency symbol as described in the docs"
http://docs.easydigitaldownloads.com/article/551-edd-format-amount

It won't by default send a currency symbol, just the price:

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/formatting.php#L111

[2016-04-29 14:56] pippinsplugins commented on #4524
That's a documentation error. To add the currency sign, use `edd_currency_filter( $amount )`.

[2016-04-29 14:56] #4524 closed

[2016-04-29 14:58] pippinsplugins commented on #4523
Confirmed.

[2016-04-29 15:02] garnetsolutions opened #4525 "Free Downloads - custom button text not appearing"
Hi - I just purchased the Free Downloads extension for WordPress and am trying out my first download. I have click "Insert Download" from inside a post and filled in the information, including custom text for the button. However, the button says "Download Now". Why is the custom text not working?

[2016-04-29 15:04] garnetsolutions opened #4526 "Free Downloads question about multiple downloads"
Hi - My client wants me to set up a email-before-download kind of function whereby the user is only asked once for their email information. After the first download where they provide the email, they should be able to download all other PDF documents on the website without entering their email. Can Easy Digital Downloads in combination with the Free Downloads extension work this way? Thank you!

[2016-04-29 15:08] pippinsplugins commented on #4525
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-04-29 15:08] #4525 closed

[2016-04-29 15:08] pippinsplugins commented on #4526
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-04-29 15:08] #4526 closed

[2016-04-29 15:09] garnetsolutions commented on #4525
Thanks! I couldn't find a Support link on the easydigitaldownloads.com
site. That's how I ended up at Github.

Ellie

On Fri, Apr 29, 2016 at 11:08 AM, Pippin Williamson <
notifications@github.com> wrote:

--
Ellie Boynton
President, Garnet Solutions
Phone: 617-216-6163
Website: http://garnet-solutions.com
Email: ellie@garnet-solutions.com
LinkedIn Profile <http://www.linkedin.com/profile/view?id=

[2016-04-29 15:18] topher1kenobe commented on #4524
Docs are now updated. http://docs.easydigitaldownloads.com/article/551-edd-format-amount

[2016-04-29 15:50] michaelbeil commented on #4521
I like that too @wordmaid.

We can wait for further consensus.

[2016-05-02 16:30] cklosowski commented on #4521
:+1: to the modifications that @wordmaid suggested:

`The easiest way to sell digital products with WordPress.`

[2016-05-02 16:32] cklosowski commented on #4519
@pippinsplugins is this the matter of detecting if SSL is disabled, show a notice that IPN Verification requires SSL?

[2016-05-02 17:11] pippinsplugins commented on #4519
Yes.

[2016-05-02 17:41] cklosowski opened #4528 "Harden logic around edd_get_users_purchased_products"
Right now it's possible to have this function attempt an `array_merge` with a value that is not a an `array`.

[2016-05-02 17:54] topher1kenobe opened #4529 "Make Download ID more visible"
Right now the only way for a store owner to get a download ID is to look at a URL for the admin page. That's either by loading that page, or hoverng over a link for it. I'd like to see it either in the admin listing or in the Publish box when editing a doc.  Example image attached.
![selection_358](https://cloud.githubusercontent.com/assets/341412/14962548/60cac676-106d-11e6-8286-55ccc11d4dd9.png)

[2016-05-02 18:08] pippinsplugins commented on #4529
:+1:

[2016-05-03 09:03] mdpradeep opened #4532 "Recurring Payments with Stripe not working"
I have deployed EDD, EDD Recurring Payments plugin + Stripe plugin. However, EDD and the Stripe plugin integration does not seem to be working. When I make a purchase through credit card, I get a blank screen after entering the credit card details, etc (I am using 4242424242424242). Also, the webhooks are not working. It gives me a "file not found" error. I have gone through the documentation on E

[2016-05-03 10:02] mdpradeep commented on #4532
The stripe setting is fine now.  The error I see in the logs when I do a purchase is as below:
[code]

[2016-05-03 11:10] mdpradeep commented on #4532
Figured it out. After upgrading curl library, this went through.

[2016-05-03 12:34] cklosowski commented on #4532
Ok. In the future. Please open a support request at easydigitaldownloads.com/support for issues like this. GitHub is for development only and this repository is for the core Easy Digital Downloads project, not stripe or recurring.

[2016-05-03 12:34] #4532 closed

[2016-05-03 15:37] pippinsplugins commented on #4499
It happened again.

A purchase had both `PayPal Adaptive Payments` and `Reviews` on it. Reviews needed to be refunded so I deleted it from the line items and clicked `Save Payment`. Upon reload, the line items showed `Reviews` was still present and `PayPal Adaptive Payments` had been removed. The license keys section from Software Licensing, however, properly deleted the correct (Reviews) key.

![

[2016-05-03 17:50] cklosowski commented on #4499
At this point I still cannot replicate this locally in 3 different configurations or on EDD's staging site. @pippinsplugins has stated it only happens on the Live EDD site and my suspicion is something to do with a caching layer in place of the `EDD_Payment::get_meta` method. I suspect something is getting cached here so when the `save` is happening, it's not allowing the new meta to be written.

[2016-05-03 17:51] cklosowski commented on #4499
Next time we need to perform this on the EDD site can we try and get some debugging in place or take some snapshots of the data prior to and after the changes?

[2016-05-03 18:31] mmosa opened #4533 "Fes Translation"
Hello
I am using (Edd Fes) plugin.
  I tried to translate it and after a few days it got translated.
Into "Arabic language"
After I finished

Problems have   arisen.
Links do not work well. (For approved vendors) (or reject them)

Page "vendors" is in disarray!
and ... @!@

Please help me.
what should I do?
![fes](https://cloud.githubusercontent.com/assets/19174280/14994012/d846b73a-1182-11e6-9fcf

[2016-05-03 18:31] pippinsplugins commented on #4533
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-05-03 18:31] #4533 closed

[2016-05-03 18:34] mmosa commented on #4533
But only pre-sale questions possible!
The rest of the questions are FAQ!

[2016-05-03 18:52] pippinsplugins commented on #4533
See the bottom of the page for opening a ticket. You need to first enter a subject.

[2016-05-03 22:27] pippinsplugins commented on #4499
Will try and remember.

[2016-05-04 11:02] rene-hermenau opened #4534 "Likely outdated mail subscribe link on welcome screen"
welcome.php -> `Get Alerted About New Tutorials` contains link http://eepurl.com/kaerz which leads to
![Alt text](https://monosnap.com/file/enpqJV8H0tX6ER5ApKeDs1ds0xI7cP.png)

![Alt text](https://monosnap.com/file/dbQvICuqgah5AWOW3cHjFrun2fGQ3G.png)

Probably no one will use that large form to subscribe

[2016-05-04 12:20] cklosowski commented on #4534
@SDavisMedia do we have a URL for the mailing list landing page?

[2016-05-04 13:35] SDavisMedia commented on #4534
@cklosowski Not yet.

[2016-05-04 13:37] cklosowski commented on #4534
Ok if we can have one by 2.6 I'll update it for that. Otherwise we'll punt until that's ready.

[2016-05-04 15:32] pippinsplugins commented on #4534
Looks like all of those merge fields were made public accidentally. I'll fix that then this is okay to leave until we have the dedicated page.

[2016-05-04 15:35] pippinsplugins commented on #4534
Better.
![Uploading Screen Shot 2016-05-04 at 10.35.34 AM.png…]()

[2016-05-04 16:09] pippinsplugins commented on #4397
Everything works well here for me. Just needs the unit tests.

[2016-05-04 16:16] pippinsplugins commented on #4046
I think it's time we go ahead and do this.

[2016-05-04 16:32] pippinsplugins commented on #3755
Customer meta table is ready for testing in #4311 so we can get started on this now.

[2016-05-04 18:00] #4046 closed

[2016-05-04 18:24] cklosowski commented on #3387
I've not seen a rumbling of this in a while, I'm going to close and un-milestone this for now. If we see it coming back, we can look into addressing it.

[2016-05-04 18:24] #3387 closed

[2016-05-04 18:56] pippinsplugins commented on #4499
Happened again.

Before item removal:
[code]
After:

[code]

The item I removed from the purchase was the _second_ download on the payment. After I removed it and clicked save, page reloaded and the item I removed was still on the payment BUT the first item was removed incorrectly.

[2016-05-04 19:32] cklosowski commented on #4458
Updated to properly detect if the item has variable pricing and also adds the variable price ID name to the download column.

Other improvements are switching to the `EDD_Payment` and `EDD_Customer` class for the data.
![screen shot 2016-05-04 at 12 28 12 pm](https://cloud.githubusercontent.com/assets/1390124/15026586/ea3d5054-11f3-11e6-8519-8e30d92b236f.png)

[2016-05-04 19:58] spencerfinnell opened #4539 "Deleted Downloads Remain in Cart"
If you add some downloads to the cart, delete the downloads (I reset the database) and view the cart again the deleted items still appear in the cart: https://cldup.com/2EpImrOYxE.png

`edd_get_cart_contents()` should filter published downloads only (or at least in the cart template).

[2016-05-04 20:34] pippinsplugins commented on #3755
I have this fully functional now in `issue/3755`.

Now I just need to build the UI to display additional emails and allow additional emails to be added / removed from the UI.

[2016-05-04 21:24] cklosowski commented on #3755
@pippinsplugins should we also allow the ability to `Set as primary` for a customer? would that have any benefit? It could be from either the User or the Admin side.

[2016-05-04 21:29] pippinsplugins commented on #3755
Yes I think so. I was considering adding a `make_primary()` method that would handle swapping the emails.

[2016-05-05 16:02] pippinsplugins commented on #4511
This was caused by incorrect logic in the send_checkin() method. First, it required that the last send date be recorded, meaning if that failed for whatever reason, additional check ins would _never_ be attempted. Second, the date logic was wrong.

Looks like there is also a problem on the receiving end but that's separate.

[2016-05-05 16:05] pippinsplugins commented on #4520
https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4541

[2016-05-05 17:27] mintplugins opened #4542 "Ensure Amazon Gateway details exist if active"
If the Amazon gateway is active but no details have been filled out, it will put errors in the console. We should check to make sure the Amazon details are not empty prior to enqueueing any JS related to it.

Additionally, a notice on the checkout about the fields being blank could be helpful to the Site Owner.

[2016-05-05 20:55] #4376 closed

[2016-05-05 20:59] pippinsplugins commented on #4026
Works great.

[2016-05-05 20:59] #4026 closed

[2016-05-05 21:10] pippinsplugins commented on #3202
I built a small add-on that adds this: https://github.com/easydigitaldownloads/edd-add-discount-to-payment

An actual implementation may need to be more robust.

[2016-05-05 21:11] pippinsplugins commented on #3191
See #3734 too.

[2016-05-05 21:38] pippinsplugins commented on #2462
@cklosowski could you focus on this soon? Since we're adding EDD_API_V2 in 2.6, it'll be best to include this at the same time.

[2016-05-05 21:53] pippinsplugins commented on #3338
We'll need to store the discount amounts for each discount code in payment meta data to make this possible.

[2016-05-05 21:54] pippinsplugins commented on #3338
Or we could just show the amount set on the discount code, opposed to the actual value of the discount on the cart.

[2016-05-05 23:25] BurlesonBrad commented on #4521
_....after using Woo's API manager for plugins and themes...._
I'm pretty sure it should read nothing short of

# THE WORLD

...all caps | italicized | bold | underlined | my space blinky text | and all capital letters...

_but that's just an educated opinion from **both** sides of the fence_

:laughing: :+1:

[2016-05-06 00:49] #4520 closed

[2016-05-06 00:50] #4511 closed

[2016-05-06 00:50] cklosowski commented on #4499
Punting to 2.5.15, we have a 'proposed fix' on EDD site just need to test it out next time we need to remove something.

[2016-05-06 01:54] pippinsplugins commented on #4506
@chriscct7 Could you test this PR?

[2016-05-06 01:59] pippinsplugins commented on #4458
Confirmed PR fixes it.

[2016-05-06 01:59] #4458 closed

[2016-05-06 02:01] #4146 closed

[2016-05-06 02:01] pippinsplugins commented on #4146
Merged into release/2.6

[2016-05-06 02:49] pippinsplugins commented on #4050
Thoughts on what we can do when no license keys are entered?
![screen shot 2016-05-05 at 9 49 00 pm](https://cloud.githubusercontent.com/assets/1034109/15062942/4035115a-130b-11e6-9469-0d1844d003e1.png)

[2016-05-06 03:01] pippinsplugins commented on #3960
Nevermind, we don't need to do this, it's already already supported:
[code]

Added to library: https://github.com/easydigitaldownloads/library/blob/master/downloads/remove-price.php

[2016-05-06 03:01] #3960 closed

[2016-05-06 03:14] SDavisMedia commented on #4050
eh... probably just add one more note in the same place as the others asking the user to input the license key for updates

[2016-05-06 03:41] SDavisMedia commented on #4050
How's this (updated with `release/2.6`):

![screen shot 2016-05-05 at 8 40 25 pm](https://cloud.githubusercontent.com/assets/2359131/15063777/b227e18e-1301-11e6-96a8-b3cbcdfd941b.png)

[2016-05-06 03:44] cklosowski commented on #4050
I <3 that.

[2016-05-06 14:09] chriscct7 commented on #4050
2 things which might be already agreed upon but just not in the picture
because its trivial, but can the licenses be in alphabetical order, and is
it possible to do a "view" so to speak for "licenses that need attention"
which would have expired or non-entered license keys

On Thu, May 5, 2016 at 11:44 PM, Chris Klosowski <notifications@github.com>
wrote:

[2016-05-06 15:58] pippinsplugins commented on #4050
I'm not a fan of the giant white space around the input field when no key has been entered. I'm having a hard time coming up with ways to get rid of it but I'd like to experiment and see what options are.

@chriscct7 That would be really nice but let's not worry about that. One piece at a time.

[2016-05-06 16:00] spencerfinnell commented on #4050
What about a button to their licenses page on the EDD site?

[2016-05-06 16:03] pippinsplugins commented on #4050
There's a link at the top of the page.

[2016-05-06 16:39] SDavisMedia commented on #4050
This is an option if we drop "License" off of the secondary button. If not, there's no room to play unless I switch to only two columns. The form text can't afford to be any smaller than this here.

![screen shot 2016-05-06 at 9 37 04 am](https://cloud.githubusercontent.com/assets/2359131/15079597/48b8f626-136e-11e6-8d6a-8b894145679b.png)

[2016-05-06 20:05] pippinsplugins commented on #4050
I like that version much better!

[2016-05-06 20:12] spencerfinnell commented on #4050
I'd be careful about relying on character length. It should be treated as dynamic due to translations.

What about making the section with the text always up against the button or input and the darker gray expanding down to fill the rest?

[2016-05-06 20:15] pippinsplugins commented on #4050
Good point.

[2016-05-07 02:21] SDavisMedia commented on #4050
There was room to play [here](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4050#issuecomment-217341089) as the bottom text section is design to extend upward based on text length, but you don't like the white space. It's there because once a license is entered, not only will a button appear there, but the text message could become longer and push the bottom section up.

Fo

[2016-05-08 09:20] sameern72 opened #4546 "edd fes issue get stock"
in any product page.

http://www.4framess.com/downloads/exhibition-stall-4efs0011-3/

Catchable fatal error: Object of class WP_Error could not be converted to string in /home1/ozowavec/public_html/4framess.com/wp-content/plugins/edd-fes/classes/fields/taxonomy.php on line 209

disable plugin is resolving issue. but while again installing fes .problem is same. please help to resolve this issue.

[2016-05-08 13:14] pippinsplugins commented on #4546
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-05-08 13:14] #4546 closed

[2016-05-08 17:38] kiarashi opened #4547 "Flot options"
If possible, can we have more flot options?
Especially line colors, width, fill, curved lines, etc. Same for "points".

http://docs.easydigitaldownloads.com/article/498-edd-graph

[2016-05-08 20:33] pippinsplugins commented on #4547
@kiarashi Are you wanting these for an add-on that is utilizing the EDD_Graph class?

[2016-05-08 21:05] kiarashi commented on #4547
Yes, that's right.
The commission extension uses the EDD_Graph class.
Right now, we're stuck with WP standard and plain styling, while with _flot_ some really awesome stuff is possible.

[2016-05-09 00:58] pippinsplugins commented on #4397
Nvm, we have tests for these :)

[2016-05-09 00:58] #4397 closed

[2016-05-09 01:01] pippinsplugins commented on #3915
I don't think this is necessary if we get #3755 completed.

[2016-05-09 01:29] pippinsplugins commented on #3905
PR submitted for this: #4548

Important note: this completely removes the `edd_purchase_form_login_fields` action. I looked into ways to keep the action for backwards compatibility but did not come up with a good place to put it that wouldn't potentially cause issues.

I'm okay with removing the action as long as we make it as known as possible right after this is merged.

[2016-05-09 01:30] pippinsplugins commented on #3905
@mindctrl mind giving this a look?

[2016-05-09 02:12] pippinsplugins commented on #3798
@SDavisMedia I've gotten pretty close to having this. Could you work a bit of your magic on it now? The edit view needs some work and the tabs across the top need help.

[2016-05-09 02:15] pippinsplugins commented on #3726
For no reason other than priority, I'm punting this to 2.8.

[2016-05-09 02:18] pippinsplugins commented on #3644
I'm proposing `wontfix` for this. Anyone that wishes to retain the query strings can use this code snippet.

[2016-05-09 02:18] #3644 closed

[2016-05-09 02:50] pippinsplugins commented on #4194
Ready for testing. Let's please test with Stripe and PayPal Pro / Express gateways.

[2016-05-09 02:55] pippinsplugins commented on #3638
We could use `is_int()`:
[code]
Return: `false`;
[code]
Return: `true`;

[2016-05-09 03:00] pippinsplugins commented on #3638
@mindctrl mind giving this a test?

[2016-05-09 03:18] chriscct7 commented on #4435
I've seen this on 2 more sites now, another CFM users, and also on Desktop servers's site. The issue on DS's site is that the meta key that EDD Payment class pulls the user_id from is empty, so while the correct user is attached, the user_id isn't. You can tell payments which this occur to because those users:
- Won't be able to see EDD Invoices (because it checks against the user_id saved to the

[2016-05-09 03:22] SDavisMedia commented on #3798
Sure thing.

[2016-05-09 03:39] chriscct7 commented on #4435
The specific meta key is `_edd_payment_user_id`

[2016-05-09 15:20] pippinsplugins commented on #4435
I bet we can fix this by pulling the user ID from the customer record if the meta value for `_edd_payment_user_id` is empty.

[2016-05-09 16:35] pippinsplugins commented on #4500
Merged into `release/2.6`

[2016-05-09 16:35] #4500 closed

[2016-05-09 19:38] mintplugins commented on #4506
Tested https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4545 and it fixes the issue here.

[2016-05-09 19:44] metodiew opened #4554 "Extentions extension settings for subsections - checkbox is not saved if it's unchecked"
I've noticed that one one the extensions I'm working at doesn't save the checkboxes and I was thinking that I'm doing something wrong. This might be still the case, though :)

While I was updating the Extensions subsction, following the instructions from here
https://easydigitaldownloads.com/development/2016/01/07/updating-extension-settings-for-subsections-in-2-5/ I've noticed the example code al

[2016-05-09 19:44] pippinsplugins commented on #4506
Great, merging.

[2016-05-09 19:49] #4506 closed

[2016-05-09 19:55] pippinsplugins commented on #4554
@metodiew We've seen this a few times now. You said `one of the extension`. Does that mean the other extensions works fine? Is there anything different in the settings code?

[2016-05-09 19:57] metodiew commented on #4554
Sorry, a long day and bad choice of words :)

The extension itself is not related, because I've noticed that issue with the example code from the URL above, so it looks like a EDD issue

[2016-05-09 19:59] pippinsplugins commented on #4554
Could you test your extension against the `release/2.6` branch? Does it work there? We've been making some changes to the settings save process that are related to this.

[2016-05-09 20:49] metodiew commented on #4554
Now, I've tested it one more time and it's working with the latest `master` and `release/2.6`. It might be some issue on my local installation. As I said, it was a long day :)

Thanks for the quick reaction, I'll the issue :+1:

[2016-05-09 20:49] #4554 closed

[2016-05-09 20:57] pippinsplugins commented on #4050
@SDavisMedia that screenshot seems to have died. Could you post it again?

[2016-05-09 20:58] pippinsplugins commented on #4522
I don't think this is something we'll do in core. Use case makes sense but it's too niche for core.

[2016-05-09 20:58] #4522 closed

[2016-05-09 21:20] pippinsplugins commented on #4554
:+1:

[2016-05-09 21:58] SDavisMedia commented on #4050
@pippinsplugins oops http://glui.me/?i=eu5gq3vtsub2t5r/2016-05-09_at_2.57_PM.png/

[2016-05-09 22:36] cklosowski opened #4555 "Standardize the display of file names with edd_get_file_name()"
We're using two different methods of getting the `file name` on the receipt shortcode.

On non-bundle products:
`<?php echo edd_get_file_name( $file ); ?>`

On bundle products:
`<?php echo esc_html( $file['name'] ); ?>`

Because of this, extensions like Git Updater cause bundles to not show download links, since there is no name to display. Git Updater has an open issue for this, however I think w

[2016-05-09 22:37] cklosowski commented on #4555
Git Updater reference: https://github.com/wpninjas/edd-git-download-updater/issues/19

[2016-05-09 22:38] cklosowski commented on #4555
As a note, if we do this in the template file we should be making a post on the Dev Blog about this change so that people who've customized the file can have some reference to what changed.

[2016-05-09 23:09] chriscct7 opened #4557 "a11y: Active tab doesn't fit div area"
![image](https://cloud.githubusercontent.com/assets/1324637/15130860/83cf093c-1619-11e6-847b-4d1ebffa644c.png)

See how tab select doesn't fit button tab size

[2016-05-10 00:57] pippinsplugins commented on #4557
Related: #3798

[2016-05-10 01:01] #4555 closed

[2016-05-10 01:17] pippinsplugins commented on #4050
Ok let's just go with this version: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4050#issuecomment-217341089

[2016-05-10 13:45] mindctrl commented on #3638
@pippinsplugins it still seems to be assuming a numeric is the ID and not the slug.

I have a category named "100". Its ID is 213.
![image](https://cloud.githubusercontent.com/assets/1254870/15148507/85389cc8-1693-11e6-9a56-b256165b0530.png)

When I use the following shortcodes to test:
![image](https://cloud.githubusercontent.com/assets/1254870/15148535/9a108066-1693-11e6-87e8-093658fbbd5a.png)

[2016-05-10 13:47] pippinsplugins commented on #3638
Hmm, was working for me. Will test further.

[2016-05-10 13:48] pippinsplugins commented on #3638
Oh, I see what I did.

Hmm, unfortunately I don't think there's a way to fix this without calling `get_term()` and seeing if it has results. That adds an extra query for each term specified.

[2016-05-10 13:51] mindctrl commented on #3638
The extra query was my concern. I think I'm fine with us not fixing this and if we run across it tell people to use the ID. I've only seen this come up once.

[2016-05-10 13:53] pippinsplugins commented on #3638
This does still make an improvement.

Previously slugs like `two` would be interpreted as an ID since it passes the `is_numeric` test. Now `two` will be properly detected as a slug.

[2016-05-10 18:36] pippinsplugins commented on #4064
@easydigitaldownloads/core-devs anyone else have any feedback on this?

[2016-05-10 18:52] pippinsplugins commented on #4050
Just did some more testing of this and it's a really, really significant improvement. Once unit tests, I'm going to merge it.

[2016-05-10 19:04] pippinsplugins commented on #3748
@chriscct7 Review #4558 for me?

[2016-05-10 19:07] pippinsplugins commented on #3600
This is ready for testing.

[2016-05-10 19:07] BurlesonBrad commented on #4064
Sorry.  gimme a sec.....

[2016-05-10 19:08] pippinsplugins commented on #3638
@mindctrl and I have agreed that we're not going to account for slugs like `100`. This is still an improvement. Anyone that uses integers for slugs will just need to term IDs.

[2016-05-10 19:08] #3638 closed

[2016-05-10 19:13] pippinsplugins commented on #3529
Too late in 2.6 cycle to get this.

[2016-05-10 19:13] pippinsplugins commented on #3391
Too late in 2.6 cycle to get this.

[2016-05-10 19:19] pippinsplugins commented on #4050
Merged into `release/2.6`

[2016-05-10 19:19] #4050 closed

[2016-05-10 19:37] pippinsplugins commented on #4403
I've manually merged the PR into `issue/4403` so we can continue work on it.

[2016-05-10 20:11] BurlesonBrad commented on #4064
Ok.... Instead of Site Icon & Site Name in the lower left, I think it should *indeed* need to have some type of CTA ~*as in a button of some sort*

Existing oEmbeds have the featured image & the excerpt ~ I think those would be critical.
Then afterwards, instead of the ```site_icon``` & ```blog_name```, shouldn't the priority of *"digital-real-estate"* be some type of **actionable** item? *(not ju

[2016-05-10 20:29] spencerfinnell commented on #4064
Was going to say the same -- a purchase link/button should be able to be added right? A direct link to the checkout on single priced items, and a more details button for variable pricing?

[2016-05-11 03:12] pippinsplugins commented on #3620
Ok this could use some initial testing for the product import section.

For testing, please start with a product export from EDD and then import that. Once that's working well, we can move to other file structures too.

Some notes:

1. UI is still rough.
2. Only product import is functional.
3. Automatically mapping CSV columns to product fields is not yet supported so for now all fields have to b

[2016-05-11 04:08] SDavisMedia commented on #3620
My initial test with two sites on `issue/3620` is being met with this on a white screen during the import:

![screen shot 2016-05-10 at 9 07 21 pm](https://cloud.githubusercontent.com/assets/2359131/15169719/4092ebcc-16f3-11e6-9080-5648c0db4f62.png)

All I'm doing is exporting CSV from EDD core, uploading the CSV file for import, and when I click the Import button, that's what I get.

[2016-05-11 04:11] SDavisMedia commented on #3620
Scratch that... it worked from my live site to my local. No clue why it did that from local to live.

Still testing... more to follow.

[2016-05-11 04:18] SDavisMedia commented on #3620
Ignoring the fields you mentioned above, the import worked perfectly! No issues at all and all the product meta is correct. 🎉

Would be cool to have a link to the downloads table here: http://glui.me/?i=gehkxgpydo4xiqs/2016-05-10_at_9.16_PM.png/

[2016-05-11 04:37] SDavisMedia commented on #3620
Actually, it looks like Author ->  Product Author didn't work.

[2016-05-11 05:07] cklosowski commented on #4311
Going to make a checklist of things I See (feel free to alter if needed)
- [ ] Update `uninstall.php` with any tables we need to remove, including the new `customermeta` table.

Ok only one thing I saw so far. Looking good. I say let's get the uninstall stuff written and merge this in so we can start knocking out some of the dependent issue, and further refine it after we use it a bit.

[2016-05-11 06:13] cklosowski commented on #4374
Merged in https://github.com/easydigitaldownloads/easy-digital-downloads/commit/43aa82f3f2779da04d1fa9da6e477d5dcccf6ac4

[2016-05-11 06:14] cklosowski commented on #4374
On second thought, leaving it open and Needs Testing so we can make sure as we work through the release we don't notice anything.

[2016-05-11 06:19] cklosowski commented on #4064
I'm with @spencerfinnell and @BurlesonBrad here. I think a CTA is crucial. I dig the idea of it being a link that puts the item directly in the cart for single priced items or a view details for variable.

[2016-05-11 15:41] pippinsplugins commented on #4064
Purchase buttons are definitely possible but tricky. Single price items are easy. Variable priced items not so much. For variable priced items, we'd need a separate link for each price.

[2016-05-11 16:26] cklosowski commented on #4064
@pippinsplugins yes, or link to the product itself where someone can make a decision.

[2016-05-11 16:28] pippinsplugins commented on #4064
The title is already a link.

[2016-05-11 16:28] cklosowski commented on #4064
Ok, we will have to work through something then.

[2016-05-11 16:48] pippinsplugins opened #4560 "Improve placeholders on product dropdown to help indicate searchability"
We see a lot of users misunderstand that the product drop down is searchable, resulting in them opening a ticket to ask how they can select products not included on the list.

To improve this, we should adjust the placeholders shown on the product drop down.

[2016-05-11 16:52] pippinsplugins commented on #4560
Before:
![screen shot 2016-05-11 at 11 51 48 am](https://cloud.githubusercontent.com/assets/1034109/15189134/c5967c0a-176e-11e6-96d7-d2a0491bc7df.png)

After:
![screen shot 2016-05-11 at 11 47 21 am](https://cloud.githubusercontent.com/assets/1034109/15189116/b6babb92-176e-11e6-99c1-a42b11229494.png)

[2016-05-11 16:52] pippinsplugins commented on #4560
Oh, changed search placeholder to `Type to search all Downloads`

[2016-05-11 17:01] michaelbeil commented on #4560
Works great!

[2016-05-11 17:03] pippinsplugins commented on #4499
Proposed fix, unfortunately, has not resolved the problem.

[2016-05-11 17:31] mintplugins commented on #4560
Works good here

[2016-05-11 17:56] pippinsplugins commented on #4499
Changes in #4563 appears to have fixed it on the live EDD site.

[2016-05-11 17:58] michaelbeil commented on #4499
All works well here.

[2016-05-11 17:59] #4521 closed

[2016-05-11 18:21] cklosowski commented on #4499
Things seem to be working well for me here as well.

[2016-05-11 18:56] #4560 closed

[2016-05-11 19:35] sunnyratilal opened #4565 "Rewrite edd_has_user_purchased"
`edd_has_user_purchased` is a very inefficient function in our codebase.  For users with a lot of purchases, we're creating a lot of objects and it's causing memory exhausts.  The function should be rewritten to directly interact with the database (using `$wpdb`) to drastically improve performance.

Currently with `edd_has_user_purchased`, if we take a user with 1000 purchases:
- We call `edd_get_

[2016-05-11 19:53] pippinsplugins commented on #3755
@cklosowski How's https://github.com/easydigitaldownloads/easy-digital-downloads/commit/58a278c548eeb48394f71f827e0410ad05a1961c look to you?

[2016-05-11 20:09] pippinsplugins commented on #4565
Let's try and do this in 2.7.

[2016-05-11 20:12] #4499 closed

[2016-05-11 20:52] pippinsplugins commented on #3620
@SDavisMedia I think that white screen might have been due to a JS file being cached.

[2016-05-11 20:58] pippinsplugins commented on #3620
`Import complete` message now includes a link to the relevant list table.

[2016-05-11 23:35] #4386 closed

[2016-05-12 02:14] #3748 closed

[2016-05-12 03:24] #3600 closed

[2016-05-12 03:25] WPprodigy commented on #4529
The quick links / row actions could maybe work for the admin listings section:

![](http://cld.wthms.co/n9DB/19W8K8Q3+)

Alternatively, it could get it's own column as well http://cld.wthms.co/10AUn/1MbJaFx5 (probably not first).

[2016-05-12 14:52] mintplugins opened #4570 "Add "author" paramater support to [downloads] shortcode"
It would be nice to have the option to filter downloads by a specific author in the [downloads] shortcode.

Currently, this could be done with the 'edd_downloads_query' filter here:
https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/shortcodes.php#L496

However, adding support for it as a shortcode paramater should be pretty straightforward to add.

[2016-05-12 14:55] pippinsplugins commented on #4529
I like the idea of showing it in the list table row actions too.

[2016-05-12 15:21] spencerfinnell commented on #4529
I would definitely say Row Actions over another column.

[2016-05-12 17:19] cklosowski commented on #3798
@SDavisMedia I worked a bit into this, could you improve it a bi tmore?

[2016-05-12 18:31] cklosowski commented on #4041
@pippinsplugins seems to work great for me. Merging.

[2016-05-12 18:31] #4041 closed

[2016-05-12 19:53] #4479 closed

[2016-05-12 19:56] pippinsplugins commented on #3572
Another related PR: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4567

[2016-05-12 19:57] pippinsplugins commented on #3355
Another related PR: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4567

[2016-05-12 20:11] cklosowski commented on #4104
Ok, I've taken a look at this and I know why it's not working...these sanitize callbacks are for when saving settings. They are callbacks for when we iterate over each setting saved on a page, we break it out, and then sanitize each field, and then build the `$edd_options` array back up. By using the function to get the EDD options, we're actually negating the save, since it's never looking at the

[2016-05-12 20:17] cklosowski commented on #3568
@SDavisMedia @pippinsplugins looks like @spencerfinnell got this done anticipated us making changes, can we get this going to so we can make the 'breaking' change in 2.6? I'd hate to put this off for another major version.

[2016-05-12 20:20] pippinsplugins commented on #3568
Let's get the pull request up to date (if not already) and then start testing our own themes. @SDavisMedia could you do a round of testing? We'll need to do this ASAP so we can announce it and give a heads up through the dev blog.

[2016-05-12 21:01] SDavisMedia commented on #3568
Got it.

[2016-05-13 04:22] grappler commented on #4104
@chriscct7 I had another look at it and realized I forgot to change a few variables in a few callbacks. That is why certain settings were not working. I have updated the PR and all of the settings should work now.

[2016-05-13 15:31] cklosowski commented on #3071
Ok, this commit did not kick off a build. I'm going to make a pul request and see if it does one.

[2016-05-13 15:38] cklosowski commented on #4104
@grappler Probably meant to ping me :P I'll pull it down and take a look at it. Thanks.

[2016-05-13 16:00] #3071 closed

[2016-05-13 16:02] cklosowski commented on #3071
I went the route of still running coverage reports...but restricting builds to only PRs and only commits/merges to Master or `release/*` branches.

With this way, a CI build isn't done unless a PR is created, and any updates to that PR will run another build, but it stops there being 2 builds run for each PR created.

[2016-05-13 18:45] daigo75 opened #4574 "Functions related to "total earnings" can't take the currency into account"
Today I noticed on a customer's site (multi-currency) that the `edd_earnings_total` were increasing and decreasing in an unexpected way. After an investigation, I realised that the `edd_earnings_total` value is manipulated by functions that are not currency-aware, and also not context-ware.

Examples
1. `edd_get_total_earnings()`
This function fetches the total of each payment, adds it to a total,

[2016-05-14 04:23] pippinsplugins opened #4576 "Migrate payments to a custom table"
In order to ensure Easy Digital Downloads is a platform that developers continue to want to build on top of and that it is one that _we_ wish to continue to build, payment records need to migrated to a custom table.

The current data schema, which relies on the wp_posts and wp_postmeta tables, is highly inefficient and has caused us, and many others, difficulties for quite some time.

There is no

[2016-05-14 04:24] pippinsplugins commented on #4576
This will also provide us with the ability to remove several very poor and painful aspects of our current database schemas, namely the `downloads`, `cart_details` and `item_number` arrays currently stored in payment meta.

[2016-05-14 07:00] sunnyratilal commented on #4576
I believe we should remove most, if not all serialised data from the database when performing the migration.

Albeit serialised data is good for storing a lot of data, it breaks the relational model.

Unserialised data also alows for searching and advanced queries to take place on the database layer.  If we take an example that requires a search involing the `_edd_payment_meta` meta key, we have t

[2016-05-14 07:01] sunnyratilal commented on #4576
For backwards compatibility with `get_post_meta()` we can hook on to the `get_post_metadata` filter and hijack the query.

[2016-05-14 14:18] pippinsplugins commented on #4576
Yes, all serialized data will go away.

We will actually need three tables (at least):

- payments
- payment_meta
- payment_items

[2016-05-14 15:01] pippinsplugins commented on #4576
If we choose to use background processing for the upgrade routine, @bradtouesnard reminded me of this: https://github.com/A5hleyRich/wp-background-processing

[2016-05-14 18:27] daigo75 commented on #4576
From perspective (as a DBA as well), serialised data is all good as long as one doesn't have to query it. I use it myself for elements such as settings, that always go together and should be queried. :smile:

Regarding the actual big change, the new class should no longer be declared as "final". I would have used it earlier, but I can't inherit it at the moment, and that prevents me from extending

[2016-05-14 18:47] pippinsplugins commented on #4576
@daigo75 `final` has been removed for 2.6: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4046 :)

[2016-05-14 18:53] daigo75 commented on #4576
Perfect. Now I will have to find the time to use the new class **and** maintain backward compatibility.

[2016-05-14 19:07] davekiss commented on #4576
For inspiration on the DB structure, I might suggest having a look at the resulting schema from a Rails ecommerce platform called [Solidus](https://github.com/solidusio/solidus) - I've had a positive experience with it on other projects, but certainly miss the "digital" aspect of EDD

[2016-05-16 00:42] pippinsplugins commented on #4576
@daigo75 Note: our intention is that _every_ current method of accessing the data will continue to work, including those such as get_post_meta().

[2016-05-16 00:42] pippinsplugins commented on #4576
Thanks @davekiss!

[2016-05-16 14:25] pippinsplugins commented on #4529
Merged into `release/2.6`!

[2016-05-16 14:25] #4529 closed

[2016-05-16 14:25] pippinsplugins commented on #4529
![screen shot 2016-05-16 at 9 25 40 am](https://cloud.githubusercontent.com/assets/1034109/15292322/3120ce26-1b48-11e6-96ef-0f326f66c814.png)

[2016-05-16 15:02] spencerfinnell opened #4578 "Rename Download List Table Taxonomy Headers"
With #4232 and #4529 in now I think it would make sense to rename to "Download Categories" and "Download Tags" headers in the List Table.

![3120ce26-1b48-11e6-96ef-0f326f66c814](https://cloud.githubusercontent.com/assets/4752949/15304102/0f995ca8-1b81-11e6-9780-76ae717a856a.png)

None of the other columns are prefixed and it takes up probably 20% of the width currently.

[2016-05-16 16:22] cklosowski commented on #4576
We can look at the backwards compatible method we used for payment tax meta for backwards compatibility using `get_post_meta`.

[2016-05-16 16:27] pippinsplugins commented on #4576
We'll also need to account for updates, inserts, and deletions of post meta.

[2016-05-16 17:35] cklosowski commented on #4519
@easydigitaldownloads/core-devs Thoughts on this notice when the `is_ssl` check fails (site isn't configured for SSL)
![screen shot 2016-05-16 at 10 34 51 am](https://cloud.githubusercontent.com/assets/1390124/15297962/d8fe5cfe-1b51-11e6-8b1f-8a721bef98d2.png)

[2016-05-16 17:39] SDavisMedia commented on #4519
I don't see anything wrong with that.

[2016-05-16 17:41] mindctrl commented on #4519
@cklosowski Maybe link to our docs? http://docs.easydigitaldownloads.com/article/1199-do-i-need-ssl or http://docs.easydigitaldownloads.com/article/994-how-to-set-up-ssl or something like that?

[2016-05-16 17:42] cklosowski commented on #4519
@mindctrl Yeah I'll do that too

[2016-05-16 17:44] pippinsplugins commented on #4519
I don't think the message is very clear.

It needs to convey several pieces of information:

1. SSL is only required for IPN verification.
2. IPN Verification !== IPN processing for marking payments as complete.

Can we update both the non-SSL notice and the description of the setting to better explain exactly what it does?

[2016-05-16 17:51] SDavisMedia commented on #3798
Gonna work on this now.

[2016-05-16 18:24] cklosowski commented on #4104
@grappler there are still settings I cannot save. For example, I cannot save any of the checkboxes in `Settings -> Misc -> Checkout Settings`. Can you try and merge the latest `release/2.6` into your branch and test it?

[2016-05-16 18:38] SDavisMedia commented on #3798
@pippinsplugins @cklosowski take that for a spin

[2016-05-16 18:39] spencerfinnell commented on #4519
Agreed with @pippinsplugins -- the notice should also only display if there is no SSL and the setting is unchecked.

Is it feasible to invert the setting as well? I know I always harp on this but for some reason reversed check boxes kill me. I think it would make creating an easy to understand description easier as well.

[2016-05-16 18:40] SDavisMedia commented on #3798
@chriscct7 you intend to adopt the EDD core markup for this in FES? That would be a good move.

[2016-05-16 18:41] pippinsplugins commented on #3798
@SDavisMedia looks perfect to me!

[2016-05-16 18:44] spencerfinnell commented on #4519
Doesn't look like it without an upgrade routine after looking at how checkboxes are stored. Nevermind!

[2016-05-16 19:23] grappler commented on #4104
@cklosowski I merged the latest `release/2.6` and updated the PR. The checkboxes in `Settings -> Misc -> Checkout Settings`work fine for me. It is strange as all of the checkboxes use the same callback. Could there be a plugin running that is overriding the settings?

[2016-05-16 19:23] pippinsplugins opened #4580 "Replace all instances of get_post_meta() for payments with edd_get_payment_meta()"
There are a few places where get_post_meta() is still used for retrieving payment meta data. These should all be replaced with `edd_get_payment_meta()` to aide in the gradual process of [moving to custom tables](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4576).

[2016-05-16 19:31] cklosowski commented on #3309
For the inputs like Credit Card Number and CVC we can use `type="tel"` with specific patterns for both.
CC: `pattern="[0-9]{13,16}"`
CVC: `pattern="[0-9]{3,4}"`

Buy using those it means on mobile we'll see this:
![img_1963](https://cloud.githubusercontent.com/assets/1390124/15301243/a2f6af70-1b61-11e6-8931-b5a225a3c8d7.jpg)

This is on our default CC form supplied with EDD. We'll need to migrate

[2016-05-16 20:53] cklosowski commented on #3598
@brashrebel there is a caveat to this without some extra JS involved. The issue is that, while we make the IDs on the forms themselves unique, we weren't making the inputs themselves, so the `labels` all had the same `id` attributes, by appending the `form_id` to the `input` `ids` we can make it so the labels work with the same form. They caveat is that picking a price ID on one form, will not upd

[2016-05-16 20:55] pippinsplugins commented on #3598
Why not just update the labels with the ID? That doesn't require any JS.

[2016-05-16 20:56] cklosowski commented on #3598
@pippinsplugins that's what I'm doing...however it won't update both forms when you select an item. You cannot have two elements with the same `id`, by doing so you break HTML compliance, and also, no matter what, clicking on a label on any non-first form will scroll you to the first form.

[2016-05-16 20:57] pippinsplugins commented on #3309
Any concerns with Internet Explore and changing the input type?

[2016-05-16 20:57] cklosowski commented on #3598
I'll commit what I have for testing.

[2016-05-16 21:00] pippinsplugins commented on #4578
:+1:

[2016-05-16 21:09] cklosowski commented on #3762
I'm seeing the proper calculations, my sales counts don't change when I do this.

@vpratfr can you verify if this is still an issue on the latest EDD?

[2016-05-16 21:24] cklosowski commented on #4064
The challenge we have with putting a purchase link is styling...since this is technically displaying on someone else's site, we've got to send styles along with it I think.

[2016-05-16 21:34] pippinsplugins commented on #4064
I don't think we should show purchase buttons at this time.

[2016-05-16 21:39] SDavisMedia opened #4583 "allow discounts to be for specific users"
It would be nice to be able to create a discount in EDD core and specify which user(s) it can apply to.

![screen shot 2016-05-16 at 2 36 23 pm](https://cloud.githubusercontent.com/assets/2359131/15304677/9b39f53c-1b73-11e6-9d0b-a7cbe35c7372.png)

It has been proposed that the user is specified by email address only. That way it can pick a current customer in the system or even a user who is not y

[2016-05-16 21:45] cklosowski opened #4584 "Create EDD_Customer::get_payments()"
This method should return an array of `EDD_Payment` objects.

[2016-05-16 22:04] pippinsplugins commented on #4435
@cklosowski unless you disagree, I think we can merge this as is and mark as completed.

[2016-05-16 23:18] cklosowski commented on #4194
With stripe...it didn't give me any errors, and only created one payment...but I see this: https://cloudup.com/csMfDPufhya

[2016-05-17 00:13] pippinsplugins commented on #4194
@cklosowski That's because the Stripe add-on adds it's own ajax indicator (I think).

[2016-05-17 01:59] #4528 closed

[2016-05-17 02:00] #4435 closed

[2016-05-17 02:03] pippinsplugins commented on #4311
Merged into `release/2.6`. Closing this out. We will re-open if needed as we work with it in related issues.

[2016-05-17 02:05] #3798 closed

[2016-05-17 02:10] pippinsplugins commented on #3572
Merged #4567 into `release/2.6`

[2016-05-17 02:10] #3572 closed

[2016-05-17 02:10] pippinsplugins commented on #3355
Merged #4567 into `release/2.6`

[2016-05-17 02:10] #3355 closed

[2016-05-17 02:13] #4584 closed

[2016-05-17 04:27] cklosowski commented on #4194
:+1: Will keep testing with other platforms too.

[2016-05-17 18:03] cklosowski commented on #4194
This still wasn't working consistently for me, I changed it to use the `prop` function instead, and it's working better. This is how we're doing it on the `add to cart` buttons too.

[2016-05-17 18:14] cklosowski commented on #4042
As per feedback, changing it to `edd_oject_to_array`

[2016-05-17 20:04] #4194 closed

[2016-05-17 20:54] #3191 closed

[2016-05-17 20:55] #3734 closed

[2016-05-17 21:14] cklosowski commented on #3568
@SDavisMedia I've updated the branch `issue/3568` with the latest from `release/2.6` so go ahead and test out.

[2016-05-17 21:37] SDavisMedia commented on #3568
okay will do

[2016-05-17 21:53] pippinsplugins commented on #4194
:+1:

[2016-05-18 01:53] cklosowski opened #4589 "Checkboxes not able to be unchecked when single extension using subsections"
Due to the changes in https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4211, if you have a single extension that makes use of the extensions tab AND it uses subsections, you cannot uncheck checkboxes.

This is due to the fact that the section isn't in the `referrer` so we are looking at the wrong whitelist when unsetting checkboxes.

[2016-05-18 03:24] pippinsplugins commented on #4589
Replicated the problem and this fixes it for me.

[2016-05-18 03:55] cklosowski commented on #4589
@mindctrl @SDavisMedia @mintplugins can you guys replicate, and then test this out please?

[2016-05-18 04:30] SDavisMedia commented on #4589
I can't replicate the original issue on `master`. Tried Free Downloads, Software Licensing, and Commissions.

[2016-05-18 06:27] cklosowski commented on #4589
@SDavisMedia can you verify with Mailchimp?

[2016-05-18 07:30] SDavisMedia commented on #4589
@cklosowski Everything's working properly with MailChimp as well.

[2016-05-18 08:32] garubi commented on #3191
Wow! Great!

[2016-05-18 15:47] pippinsplugins commented on #4589
@SDavisMedia I replicated it on `master`. Can you confirm you only had _one_ extension active? Example, only MailChimp.

[2016-05-18 16:11] SDavisMedia commented on #4589
@cklosowski @pippinsplugins replicated and confirmed `issue/4589` fixes the problem.

[2016-05-18 16:20] mintplugins commented on #4589
Replicated on Master. Confirmed https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4590 fixes it. I was not able to save checkboxes and now I can.

[2016-05-18 16:20] topher1kenobe commented on #4589
I'm testing with ONLY Software Licensing on master and can't replicate.

[2016-05-18 16:21] cklosowski commented on #4589
@topher1kenobe can you try with Mailchmp? that is one we know has the issue.

[2016-05-18 16:21] pippinsplugins commented on #4374
This is all working fine.

[2016-05-18 16:21] #4374 closed

[2016-05-18 16:22] topher1kenobe commented on #4589
ok, this is new.  I had 2 extensions, set a checkbox, removed the second extension, and was able to uncheck the box.

Boxes checked WHILE there's only one cannot be unchecked.  Replicated that way.

I'll test the branch.

[2016-05-18 16:22] mindctrl commented on #3905
@pippinsplugins when configured like this:

![image](https://cloud.githubusercontent.com/assets/1254870/15366542/c5a666e0-1cf2-11e6-87c4-70899df4e2b0.png)

I see the registration form, and the login form is behind a link. It looks like nothing changed when going from "Registration and Login Forms" to "Login Form Only".

![image](https://cloud.githubusercontent.com/assets/1254870/15366573/f1a97bb0-

[2016-05-18 16:23] topher1kenobe commented on #4589
issue/4589 fixes for me.

[2016-05-18 16:24] pippinsplugins commented on #4042
@cklosowski Something isn't working here.
![screen shot 2016-05-18 at 11 23 48 am](https://cloud.githubusercontent.com/assets/1034109/15366672/07e41ff0-1ceb-11e6-9f9f-6f4110d4ed37.png)

[2016-05-18 16:25] cklosowski commented on #4589
@topher1kenobe perfect, that's the bug we're trying to fix, thanks!

[2016-05-18 16:27] pippinsplugins commented on #4589
I'm going to go ahead and merge this then and deploy to .org.

[2016-05-18 16:27] #4589 closed

[2016-05-18 16:28] SDavisMedia commented on #4374
No issues here.

[2016-05-18 16:34] SDavisMedia commented on #4104
Assuming the final place for testing on this is `release/2.6`, I am not having issues saving any settings.

[2016-05-18 16:36] cklosowski commented on #4064
Agreed, I think we can itterate on this. There are some challenges we have with the nature of being an oEmbed. I say we leave it as it currently stands and test.

[2016-05-18 16:37] cklosowski commented on #4042
@pippinsplugins Payments have their own array convert...due to the nature of them. For `EDD_Payment` it needs to be done with it's own method.

Can you try customers and downloads?

[2016-05-18 16:37] cklosowski commented on #4042
The issue with payment is the massive use of `magic methods` because of the `save` methodology.

[2016-05-18 16:38] cklosowski commented on #4042
I'll update the code so that if it's a payment that's detected it uses it's own method.

[2016-05-18 16:43] mintplugins opened #4591 "Change "Disable Guest Checkout" to "Require Login""
Currently the setting for "Disable Guest Checkout under "Settings" > "Misc" > "Checkout Settings" is a double negative. If it were a positive, it would be more clear. Currently, we are checking a box to turn it off - which is hard to understand.

I recommend changing the name of the option from "Disable Guest Checkout" to "Require Login".

[2016-05-18 16:44] pippinsplugins commented on #4042
@cklosowski ah right. Ok a customer works.

Let's be proactive here and detect if it's an `EDD_Payment` object. If it is, return through the helper method.

[2016-05-18 16:44] mindctrl commented on #3905
To summarize:

When settings are configured as:
- "Login Form Only" is turned on

We see:
- The registration form is still showing
- The login form is still hidden behind a click
- There is no heading above the login form when it is revealed

---

When settings are configured as:
- Show Register/Login Form - "None"

We see:
- The registration form is still showing
- The login form link is shown

-

[2016-05-18 16:45] cklosowski commented on #4042
@pippinsplugins already on it, testing now and will push up once confirmed.

[2016-05-18 16:47] #4064 closed

[2016-05-18 16:48] pippinsplugins commented on #4104
@SDavisMedia Nope, it's in a PR still https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4424

[2016-05-18 16:50] topher1kenobe commented on #3568
I see the spans on master, see them removed properly on issue/3568 and in Vendd they still look good.
![selection_417](https://cloud.githubusercontent.com/assets/341412/15367440/05669a76-1cf7-11e6-8c95-226988f821ac.png)

[2016-05-18 16:52] pippinsplugins commented on #3568
We'll need to test with all of the major themes:

- Vendd
- Shoppette
- Marketify
- SquareCode
- Stocky
- Digital Store (discontinued but still used)

[2016-05-18 16:53] SDavisMedia commented on #4064
@pippinsplugins: You closed this just before I was commenting. Working very well for me... super slick. I'd love to see the comment output removed in the future, though. It's not a key feature of product page output, could very well be present because of trackbacks/pingbacks and not standard comments, and just isn't logical IMO.

[2016-05-18 16:53] cklosowski commented on #4042
ok, updated to have any thing that is `EDD_Payment` or extends `EDD_Payment` to use it's own internal conversion method...and added unit tests for it.

[2016-05-18 16:54] topher1kenobe commented on #3568
Rock on, away I go

[2016-05-18 16:54] pippinsplugins commented on #4064
@SDavisMedia Oh, good point! I'll log an issue for those.

[2016-05-18 16:56] pippinsplugins opened #4592 "Remove comment / trackback counts from oEmbed previews"
Comments and trackbacks have no purpose for the vast majority of EDD installs. Let's remove those details from the oEmbed previews if we can.

The Product Reviews extension could then add in review counts in place of comments.

Related: #4064

[2016-05-18 16:57] pippinsplugins commented on #4042
Works perfectly. Let's merge once unit tests pass.

[2016-05-18 16:59] topher1kenobe commented on #3568
In **Shopette**, without the span the legend moves up and straddles the div edge.

With span:
![selection_418](https://cloud.githubusercontent.com/assets/341412/15367709/416bfed4-1cf8-11e6-822a-8d107b971a39.png)

Without span:
![selection_419](https://cloud.githubusercontent.com/assets/341412/15367724/4dcda77c-1cf8-11e6-82fb-1ea85a87f0e4.png)

[2016-05-18 17:04] pippinsplugins commented on #3568
@SDavisMedia Could you take care of that in Shoppette?

[2016-05-18 17:04] topher1kenobe commented on #3568
Marketify keeps its spans, even on issue branch 3568, and looks fine.
![selection_420](https://cloud.githubusercontent.com/assets/341412/15367901/0ab14f38-1cf9-11e6-8ecd-c968075d7296.png)

[2016-05-18 17:06] mintplugins commented on #4104
Tested and I am not able to save checkboxes on the "Settings" > "Misc" > "Checkout Settings" page.

[2016-05-18 17:10] pippinsplugins commented on #3627
Once unit tests pass, we should be able to merge this.

[2016-05-18 17:13] topher1kenobe commented on #3568
**Digital Store** moves the legend up to straddle the border when the spans are removed.

With:
![selection_422](https://cloud.githubusercontent.com/assets/341412/15368107/370ef80e-1cfa-11e6-9380-6fdfc33efb3a.png)

Without:
![selection_423](https://cloud.githubusercontent.com/assets/341412/15368117/3c2effd2-1cfa-11e6-8156-f09ef579927d.png)

Honestly I don't think it's a problem with this theme, I'

[2016-05-18 17:16] SDavisMedia commented on #4104
Testing on `issue/4104` not only did I _lose_ some settings that were previously set, I cannot save other settings. For example, I lost the following just switching branches:

* Base State / Province
* All checkboxes

I also cannot save checkbox settings as well as Base State / Province (though I am able to change other select menus... the ones that _did not_ lose their values when I switched to `

[2016-05-18 17:16] mintplugins commented on #4104
Just pulled in the latest and it is now working well for me. Settings are saving everywhere for EDD settings now.

[2016-05-18 17:17] SDavisMedia commented on #3568
@topher1kenobe make issues and assign me on the repos of the themes you have problems please.

[2016-05-18 17:19] topher1kenobe commented on #3568
**SquareCode** looks exactly the same with and without spans.

![selection_424](https://cloud.githubusercontent.com/assets/341412/15368268/f1794104-1cfa-11e6-82c2-dc5d12fa1ec8.png)

![selection_426](https://cloud.githubusercontent.com/assets/341412/15368313/29c1bb4a-1cfb-11e6-8852-ebf022aefc2c.png)

[2016-05-18 17:21] SDavisMedia commented on #4104
The update fixes it for me as well.

[2016-05-18 17:26] topher1kenobe commented on #3568
**Stocky** makes the legend move up to straddle the border when there's no span.

![selection_427](https://cloud.githubusercontent.com/assets/341412/15368505/1beb25c8-1cfc-11e6-9cc6-c44cd37d029e.png)

![selection_428](https://cloud.githubusercontent.com/assets/341412/15368512/1fba7dac-1cfc-11e6-90d6-b36fe1133f80.png)

[2016-05-18 17:27] michaelbeil commented on #4104
All settings save fine here on `issue/4104`.

[2016-05-18 17:28] pippinsplugins commented on #4477
This is working well for me.

@cklosowski could you please give it a once over?

[2016-05-18 17:29] pippinsplugins commented on #3568
Excellent. Let's also go ahead and do a round of tests on the last three default WP themes please.

[2016-05-18 17:29] cklosowski commented on #4104
Ok, @grappler for easier testing, i've been pulling all your updates to the PR into an issue branch `issue/4104` Things seem to be working fine. I'm going to close your current PR and create one from the issue branch.

Your commit history will stay in tact, so you'll still get the 'kudos" on the fixes :) Thanks for your help getting this updated. I'll try and have it merged into `release/2.6` shor

[2016-05-18 17:33] pippinsplugins commented on #4104
One small comment on the PR, otherwise everything seems to work fine here.

[2016-05-18 17:40] topher1kenobe commented on #3309
I just tested with IE11 on Win7 and it worked flawlessly.  IE has a weird little UI thing where it shows an X in the field when the field is focused, but that's unrelated to this ticket.
![selection_430](https://cloud.githubusercontent.com/assets/341412/15368889/1e3d9fde-1cfe-11e6-8623-90e1f7ba1220.png)

[2016-05-18 17:41] grappler commented on #4104
Thank you! Look forward to seeing this 2.6 :grinning:

[2016-05-18 17:41] pippinsplugins commented on #3309
Does anyone happen to have a Windows phone to test with?

[2016-05-18 17:44] SDavisMedia commented on #3812
Super slick, @DevinWalker. :+1:

The refresh button only shows on the default **Report Type** display for the Reports tab and the **Earnings** display. The information from the other selections like **Earnings by Category** should be pulling from the same data. I think the refresh button should show on all pages since all the data will be refreshed.

Also, unfortunately, the PR is a little old now

[2016-05-18 17:47] pippinsplugins commented on #3812
We can also refresh ourselves if time is short for Devin.

[2016-05-18 17:51] mintplugins commented on #3905
I just tested this in IE and the "Personal Info" form was showing twice. I haven't tested in Chrome or other browsers yet.

[2016-05-18 17:54] mintplugins commented on #3309
Tested on IE 11.306 - (Desktop, not Windows Phone) and everything works properly.

[2016-05-18 18:28] michaelbeil commented on #3812
I made a comment here as well about updating the title of the refresh reports button: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/3822#issuecomment-220101712

[2016-05-18 18:29] cklosowski commented on #4477
@pippinsplugins yep, @mintplugins and I are working on some unit test stuff and then i'll verify it again as well.

[2016-05-18 18:31] michaelbeil commented on #3627
Looks good.

[2016-05-18 18:32] SDavisMedia commented on #3726
refreshed with `release/2.6` just to try an stay up to date

[2016-05-18 18:37] SDavisMedia commented on #3627
All good here.

[2016-05-18 18:38] #3627 closed

[2016-05-18 18:40] cklosowski commented on #3157
@pippinsplugins since we don't have the week ranges currently in the API, is this good to go? We can look at mirroring the Reporting date ranges in #2462 possibly?

[2016-05-18 18:49] topher1kenobe commented on #3309
I have a friend with a windows phone. I'm going to email him steps to test and see what we get.

[2016-05-18 18:50] SDavisMedia commented on #3598
Replicated and confirmed fix for me on `issue/3598`. Also tested adding price options to the cart from multiple purchase forms to make sure the right item was being added. All good.

[2016-05-18 18:55] justintadlock commented on #3568
I just wanted to confirm that the changes have fixed my original issue posted. Nice work!  Now, I need to get back to work on the EDD theme I'm building. :)

[2016-05-18 18:55] pippinsplugins commented on #3157
Let's go ahead and mirror them.

[2016-05-18 18:56] pippinsplugins commented on #3568
:)

[2016-05-18 19:03] cklosowski commented on #3598
@SDavisMedia can you test again? Had to fix a merge conflict and want to make sure I didn't break anythign after re-adding the schemea stuff that was merged.

[2016-05-18 19:04] cklosowski commented on #3157
@pippinsplugins adding `this_week` and `last_week` is a far larger project than adding dates to the customers endpoint. I propose we merge customers endpoint with the existing date ranges, and then when we come in to revamp the dates part of the API we rely on the stats class dates parsing as it's far more flexible. No sense in mirroring them in this branch just to have them redone in another.

[2016-05-18 19:10] SDavisMedia commented on #3598
@cklosowski All good still after pulling `issue/3598` down again.

[2016-05-18 19:23] #4042 closed

[2016-05-18 19:24] pippinsplugins commented on #3157
That's fine by me.

[2016-05-18 19:53] mintplugins commented on #4477
@pippinsplugins @cklosowski all tests are passing for me now. Note that I rewrote almost all of the fee tests to be:

- totally fresh for each test
- a little bit more specific
- use new fee system instead of legacy wherever possible

It's probably a good idea to review those since these are my first tests ever.

[2016-05-18 21:45] pippinsplugins commented on #4477
Tests look good to me!

[2016-05-19 10:25] arielk commented on #3915
I think that is really important, right now I have a lot of problems with this field: conflicts, customers that not connected to users, etc...

[2016-05-19 13:46] pippinsplugins commented on #3915
@arielk are your conflicts coming from logged in customers using an email that is different than what's on their account?

[2016-05-19 14:48] arielk commented on #3915
I think it's because of this, but i'm not sure. some times I found purchases without users recorded in the customer listing (of course "Require that users be logged-in to purchase files" checked).

Anyway many users feel confused with this input and it makes sense for me that users use in the same email address for all his purchases

[2016-05-19 15:28] pippinsplugins commented on #3915
I'd recommend using our Auto Register plugin: https://easydigitaldownloads.com/downloads/auto-register/

We have fixed a few bugs related to user account connections with customers. Are you seeing it with older customer records or new ones too?

[2016-05-19 16:00] arielk commented on #3915
Sincerely I don't remember when it was I'll try to track on this soon.

p.s. Auto Register plugin send to user the random password in the mail. I think that isn't secure because the WordPress stopped sending passwords in the email.

[2016-05-19 19:28] michaelbeil commented on #3620
It looks like we should add the `Needs Testing` label here and also create a PR for `issue/3620` against `release/2.6`.

https://github.com/easydigitaldownloads/easy-digital-downloads/compare/release/2.6...issue/3620

[2016-05-19 19:37] pippinsplugins commented on #3620
It does need testing but it's also not nearly done, thus why I hadn't added it :)

[2016-05-19 20:43] topher1kenobe opened #4596 "Title issues with New User email alerts"
When someone uses [edd_register] to create a new user it send an email to the user.  For one customer the title is incorrect saying "Sales Invoice"
<img width="660" alt="screen shot 2016-05-19 at 4 06 59 pm" src="https://cloud.githubusercontent.com/assets/341412/15408933/90253516-1de0-11e6-9c07-34eb443a98f5.png">

For me at http://topher1kenobe.is-a-geek.net/edd-registration/ I get no title at all

[2016-05-19 21:58] DevinWalker opened #4597 "Transient immediate overridden causing cache miss everytime"
See: https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/payments/class-payment-stats.php#L179

The `$earnings = false;` should be removed

[2016-05-19 22:58] DevinWalker opened #4599 "EDD_Payment_Stats: Unused variable & duplicate add/remove `post_where` filter"
This variable is not being used for anything and is being immediately overwritten in the if/else: https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/payments/class-payment-stats.php#L110

As well, these two filters are unnecessary since the entire if/else is being wrapped with the same filters: https://github.com/easydigitaldownloads/easy-digital-downloads/blob/mas

[2016-05-20 17:15] cklosowski opened #4600 "Add SKU to API responses"
Where appropriate, we should add the SKU to items (if enabled).

[2016-05-20 17:47] pippinsplugins commented on #3915
That email can be disabled from the settings screen.

[2016-05-20 17:50] cklosowski commented on #3598
@brashrebel does this resolve the initial issue for you? If so i'll merge and close this out

[2016-05-20 19:35] pippinsplugins commented on #3598
Merged and closing. Will re-open if @brashrebel notices anything.

[2016-05-20 19:35] #3598 closed

[2016-05-20 19:35] pippinsplugins commented on #3309
@topher1kenobe any luck with your friend?

[2016-05-20 19:43] pippinsplugins opened #4602 "Add customer creation date to REST API"
The creation date for customers is not shown in the REST API response for the customers endpoint. It should be.

[2016-05-20 19:44] cklosowski commented on #4602
Added this in https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4588/files#diff-a25b2b11b0be82e1706c4c1643f0c1f0R260

[2016-05-20 19:44] pippinsplugins opened #4603 "Deprecate `id` from customer data and add multiple emails support"
The `id` field is supposed to be the ID of the customer record. Right now it's showing the same value as the user ID.

[2016-05-20 19:45] pippinsplugins commented on #4602
:+1:

[2016-05-20 19:45] pippinsplugins commented on #4602
It's not showing for me.

[2016-05-20 19:45] cklosowski commented on #4602
Will be merged in with #4588

[2016-05-20 19:46] pippinsplugins commented on #4602
Oh wait, I was on v1 of the API :P

[2016-05-20 19:47] cklosowski commented on #4603
Will fix this once #4588 is merged in so I can fix it in both `V1` and `V2` in teh same commit.

[2016-05-20 19:47] pippinsplugins commented on #4603
`V1` should not be changed, only `V2`.

[2016-05-20 19:47] pippinsplugins commented on #4602
No customers are returned if a date is not specified.

[2016-05-20 19:48] cklosowski commented on #4603
Ok, then I'll fix it along in #4588

[2016-05-20 19:50] pippinsplugins commented on #3157
Just added a fix that allows customers to be shown even if no date is specified. IT was returning empty results if no date was specified.

[2016-05-20 19:56] #4104 closed

[2016-05-20 19:57] pippinsplugins commented on #3568
There are still a few themes that need to be updated (that we know of) but I'm going to go ahead and merge this into `release/2.6` to ensure it gets as much testing as possible.

[2016-05-20 20:12] pippinsplugins commented on #3568
Merged into `release/2.6` but leaving open with `Needs Testing` for additional testing.

[2016-05-20 20:18] cklosowski commented on #2466
@pippinsplugins we did this in #4429, do we still need this one open?

[2016-05-20 20:18] pippinsplugins commented on #4519
How's this? Note: I have not inverted the settings.
![screen shot 2016-05-20 at 3 18 16 pm](https://cloud.githubusercontent.com/assets/1034109/15441028/2b5763de-1e9e-11e6-8a53-97c0fc45dd9e.png)

[2016-05-20 20:20] #2466 closed

[2016-05-20 20:20] michaelbeil commented on #4519
Looks good to me.

[2016-05-20 20:46] cklosowski commented on #4519
I'm good with that @pippinsplugins

[2016-05-20 20:55] pippinsplugins commented on #4403
@easydigitaldownloads/core-devs this is ready for extensive testing.

[2016-05-20 21:03] pippinsplugins commented on #2721
We're getting much closer on this with #4403 and the recent changes to `EDD_Payment` for refund processing.

Before we can go 100% with this, we need to work out a way to refund line items and/or full amounts.

[2016-05-20 21:21] #3199 closed

[2016-05-20 21:55] #4600 closed

[2016-05-21 02:37] cklosowski commented on #4403
Is it possible to make the descriptions a little less redundant? they all contain the string:
`Necessary if you want to refund PayPal payments inside the WordPress admin.`

We could make like a header possibly? Or something so we just don't repeat that over and over.

[2016-05-21 16:14] brashrebel commented on #3598
Confirmed fixed for me in `release/2.6`.

[2016-05-21 17:36] katalystkorner opened #4606 "DifferentFile options"
Right now, if you have two files, you can attach each of them to all options or only one. The problem is, more diversity is needed. For example: File A. File B are uploaded.
option 1: file a only
option 2: file b only
option 3: file a & b.
Please let me know if there is something I am not seeing, but I cannot get this to work in the current system and it should definitely be added! I have already

[2016-05-21 17:52] cklosowski commented on #4606
Are you think something like checkboxes? So if you have 3 price variations, with the current platform it can belong to all or one. Adding your concept would mean it could be any combination?

[2016-05-21 17:53] cklosowski commented on #3598
Thanks @brashrebel

[2016-05-21 17:57] cklosowski commented on #4374
Thanks @pippinsplugins and @SDavisMedia, closing.

[2016-05-21 18:06] katalystkorner commented on #4606
Correct. Right now, for a file, you can say all or one. I want either a check box option to say which of the options, or the ability to select multiple in the drop down with the ctrl button.
File a: option1, option3
File b:option2, option3

[2016-05-22 21:39] chriscct7 commented on #4606
I think this might be better suited as an extension. Something like this could get really messy very quickly with a large number of files uploaded unless we swapped the variations to use a vertical metabox style tabbed interface like WooCommerce where each variation can have set options

[2016-05-23 02:19] #3157 closed

[2016-05-23 02:19] #4602 closed

[2016-05-23 13:49] pippinsplugins commented on #4596
@topher1kenobe can you please get me the support ticket that reported this?

[2016-05-23 13:58] pippinsplugins commented on #4403
![screen shot 2016-05-23 at 8 57 47 am](https://cloud.githubusercontent.com/assets/1034109/15473198/86f64dd6-20c4-11e6-8772-6d61990b01bf.png)

[2016-05-23 14:11] pippinsplugins commented on #4373
@brashrebel test again for me now?

[2016-05-23 14:11] stephenharris commented on #4519
Is this related to [this announcement](https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1916&viewlocale=en_US)? If so, the date has been moved recently to June 30th 2017. But also, I think SSL is not required on the server, just the endpoint needs to be https rather than http:

and

[2016-05-23 14:19] pippinsplugins commented on #4519
@stephenharris Yes it is related to that announcement. Good to see the date changed. @topher1kenobe could you get the doc updated please?

We did more digging and were able to (almost positively) determine that the IPN URL has to use https. Happy to be wrong though!

[2016-05-23 14:25] stephenharris commented on #4519
This seems to clarify they meant only validation requests **to** Paypal. From the "In A Nutshell" paragraph here: https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1916&viewlocale=en_US

[2016-05-23 15:41] pippinsplugins commented on #3620
Featured image import now works. Images can be specified by:

- Filename.ext - File must exists somewhere inside the `wp-content/uploads/` directory for this to work. Can be in any sub folder.
- http://site.com/wp-content/uploads/2016/05/filename.ext - URL pointing to file in uploads folder.
- http://some-external-site.com/file.ext - An external image file that will be downloaded to the WP media l

[2016-05-23 15:57] pippinsplugins commented on #4519
It does appear that way.

@chriscct7 can you verify?

[2016-05-23 16:21] cklosowski commented on #4606
I disagree, this is pretty basic functionality that I think we should be able to provide. Thoughts @pippinsplugins ?

[2016-05-23 16:27] pippinsplugins commented on #4606
I'm not sure what the UI would look like but I rather like the idea of being in core.

[2016-05-23 16:30] cklosowski commented on #4403
Looks good @pippinsplugins Thanks, will continue testing.

[2016-05-23 16:32] brashrebel commented on #4373
This does solve the one occurrence found in that function, yes. However, the following instances still output Schema attributes no matter what:

- [ ] shortcode-content-excerpt.php [here](https://github.com/easydigitaldownloads/easy-digital-downloads/blob/issue/4373/templates/shortcode-content-excerpt.php#L4) and [here](https://github.com/easydigitaldownloads/easy-digital-downloads/blob/issue/4373

[2016-05-23 16:33] katalystkorner commented on #4606
In CAMS, there is an option to do this. To select more than one day, you just hold down the ctrl button. Here is a screenshot of the section:
![ui possibility](https://cloud.githubusercontent.com/assets/19507901/15477417/140c868a-20da-11e6-8f87-cd65c109bf6a.png)
I don't know how much of an addition this would be to the code, but I know it would probably change the relationship type of the file > o

[2016-05-23 16:41] cklosowski commented on #4606
Yeah I' not a fan of the multiselect HTML element mostly b/c its horrible on Mobile. We'll work something up for this though.

[2016-05-23 16:54] katalystkorner commented on #4606
Oh agreed on the mobile!! Thank you for looking into this.

[2016-05-23 17:18] cklosowski commented on #4403
Works great! I'd love for someone else to test this out too, but i'm good with these changes.

[2016-05-23 17:20] cklosowski opened #4608 "PayPal Transaction ID link doesn't respect Test Mode"
The PayPal standard Transaction Id on the payment details screen of the Admin links to to the live PayPal site when in Test mode. It should point to `www.sandbox.paypal.com`.

[2016-05-23 17:24] pippinsplugins commented on #4403
They worked for me as well.

[2016-05-23 17:24] cklosowski commented on #3666
This just isn't going to make 2.6. I hate punting this but it's a _massive_effort for backwards compatibility reasons.

[2016-05-23 17:31] pippinsplugins commented on #3620
The product import is ready for another round of testing!

[2016-05-23 17:41] pippinsplugins commented on #3755
We need to block that behavior probably, or at least block it if the email is associated with a customer record that is tied to a different user account.

[2016-05-23 17:44] cklosowski commented on #3755
:+1: I'll work up some error verbage.

[2016-05-23 19:49] cklosowski commented on #3755
@pippinsplugins I see two issues with the current method of showing additional emails, and that it leaves us very little room for a good 'management' approach. Adding actions for 'making primary' and 'removing' leaves us with room for icons only which isn't great for usability.

How would you feel about adding a list table below (i know it's not perfect) which would allow us an 'actions' column to

[2016-05-23 19:56] pippinsplugins commented on #3755
I was toying with a list table too. I think I like that better as long as
it indicates which email is primary.

On Monday, May 23, 2016, Chris Klosowski <notifications@github.com> wrote:

[2016-05-23 19:59] cklosowski commented on #3755
:+1: Thanks, I'll go that route

[2016-05-23 20:09] pippinsplugins commented on #3755
I like the idea of including a link on each additional email as well for `Make Primary`.

[2016-05-23 20:16] pippinsplugins commented on #3286
I have not seen any further reports of this so I'm going to go ahead and close as fixed.

[2016-05-23 20:16] #3286 closed

[2016-05-24 01:16] pippinsplugins commented on #3755
Looking really good!

We need to add in detection for non-valid emails in the `Add Email` form:
![screen shot 2016-05-23 at 8 16 09 pm](https://cloud.githubusercontent.com/assets/1034109/15489194/3f73454a-2123-11e6-95a5-dcab7d9e0ef2.png)

[2016-05-24 01:19] pippinsplugins commented on #3755
This appears to all work really well, but here's a side effect I'm not yet sure how to handle.

1. Assume a customer makes two purchases with `customer@test.com`
2. Same customer comes back and makes a purchase with `customer2@test.com` while logged in. This will register `customer2@test.com` as an additional email for the customer. So far so good.
3. The `3 Completed Sales` link goes to Payment H

[2016-05-24 01:31] cklosowski commented on #3755
Yeah. Customer ID would be the best solution for the purchase links. I'll make that happen when I fix the invalid email stuff.

[2016-05-24 17:50] cklosowski commented on #3755
Ok @pippinsplugins just pushed up some improved error handling on the adding of customer emails from admin, it now logs a customer note whenever we use this form to alter the email addresses, and this also makes the completed payments link use a user `customer` query string item that filters the payments list table by customer ID (regardless of what email the customer has)

Next up, preventing a l

[2016-05-24 20:25] chriscct7 commented on #3568
There should be a dev blog post about this

[2016-05-24 20:38] mindctrl commented on #3568
@chriscct7 https://easydigitaldownloads.com/development/2016/05/20/markup-changes-on-checkout-in-version-2-6/

[2016-05-25 03:06] pippinsplugins commented on #4534
Committed fix to release/2.6 for `https://easydigitaldownloads.com/subscribe`.

[2016-05-25 03:06] #4534 closed

[2016-05-25 03:11] pippinsplugins commented on #4477
Merged into `release/2.6`!

[2016-05-25 03:11] #4477 closed

[2016-05-25 04:22] cklosowski commented on #3755
@easydigitaldownloads/core-devs this is ready for some testing on both the front end (checkout) and backend (customer management screens)

[2016-05-25 15:10] cklosowski commented on #3755
@easydigitaldownloads/core-devs While testing this, let's also be sure to hit it with Auto-Register enabled. Just to be sure.

[2016-05-25 16:00] pippinsplugins commented on #3755
Some testing tips:

- Test adding emails to a customer
- Test removing emails
- Test swapping primary emails
- Test purchasing with new email after adding it
- Test purchasing with a new email (one that hasn't been added) while logged in
- Test instantiating `EDD_Customer` with primary and additional emails
- Test adding an email to a customer that already belongs to someone else
- Test searching

[2016-05-25 16:07] SDavisMedia commented on #3726
This works just fine still but what really needs to happen, whether the purchase shortcode moves to this location or not, is that it should update the shortcode parameter values based on the settings (think Add to Cart vs. Buy Now). Issue 3996 will address that. These issues should probably be done together.

[2016-05-25 16:14] cklosowski commented on #3755
@pippinsplugins I need to get the searches working properly still. I just wanted to make sure we tested the functionality of using/assigning/deleting REALLY fleshed out before we put it in the beta.

[2016-05-25 16:19] mintplugins commented on #4403
Once we rewrite the doc for getting paypal API keys, we should consider updating the link to "Your Paypal Account". The current link to the Paypal docs appears to be out-dated. I wasn't able to get my API keys by following it.

https://developer.paypal.com/docs/classic/api/apiCredentials/#creating-an-api-signature

[2016-05-25 16:26] SDavisMedia commented on #3620
Getting the same behavior as this again: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/3620#issuecomment-218356870

I'm exporting from a local MAMP site to a _brand new_ local MAMP site. Literally nothing has been done to the new site previously.

[2016-05-25 16:57] pippinsplugins commented on #3620
@SDavisMedia Force reload the page. It's a JS caching issue (as far as I can tell).

[2016-05-25 16:57] pippinsplugins commented on #4403
I think we should leave `Test` since that makes it more clearly related to `Test Mode`. I do like the idea of saying `Test Keys (Sandbox)`.

[2016-05-25 17:01] chriscct7 commented on #3798
@SDavisMedia They've been using roughly the same markup since it was introduced. Unfortunately, the way the customers page in EDD is currently done, in order to use the same layout, an extension has to pretty much duplicate 90% of the code. It'd be easy to reduce the amount of code they have to duplicate by moving the whole thing into a class with an object key or construct argument that would hol

[2016-05-25 17:37] SDavisMedia commented on #3568
I've made adjustments to Vendd, Shoppete, Lattice, and Digital Store. Quota already controlled these styles. All of the theme updates will go out before EDD 2.6. All changes are backwards compatible.

[2016-05-25 17:43] cklosowski commented on #3755
@easydigitaldownloads/core-devs So some feedback on the 'Payments' search. Right now if you type in an email address it's searching the `_edd_payment_email` payment meta. If we change this to search the customer, it's possible that this will miss some payments  for past purchases as those email addresses are not on the customer records, just in teh payment meta.

Should we leave payment search, us

[2016-05-25 17:47] pippinsplugins commented on #3568
Stripe has to be deployed at the same time as this: https://github.com/easydigitaldownloads/edd-stripe/issues/108

[2016-05-25 17:49] pippinsplugins commented on #3798
@chriscct7 Not true any more. We fixed it so that extensions can reuse it. Recurring Payments, for example, reuses it.

[2016-05-25 17:50] SDavisMedia commented on #3620
@pippinsplugins JS cached where? It could only be browser and that's been cleared. Trying to import to a site that was just created about an hour ago.

Could the data itself cause this? I'm attaching my compressed CSV file.
[edd-export-downloads-05-25-2016.csv.zip](https://github.com/easydigitaldownloads/easy-digital-downloads/files/282560/edd-export-downloads-05-25-2016.csv.zip)

[2016-05-25 17:52] pippinsplugins commented on #3755
@cklosowski I vote we leave payment searh as is for now.

[2016-05-25 18:06] cklosowski commented on #4596
@pippinsplugins @topher1kenobe When registering via the `[edd_register]` shortcode I'm actually seeing with Topher is seeing, no header, but I'm not getting that 'Sales Invoice' that this person is seeing:
![screen shot 2016-05-25 at 11 06 22 am](https://cloud.githubusercontent.com/assets/1390124/15550993/c1686b5c-2268-11e6-8c20-937c982661b9.png)

[2016-05-25 18:13] chriscct7 commented on #4519
That's affirmative. They moved back the dates. They've also dropped the initially proposed requirement that the originating POST back IPN verification call, separate from the one mentioned above, must originate over https. This means, for now, PayPal will not require PayPal Standard customers to use an SSL certificate on their site

However, this does mean that this:
https://github.com/easydigital

[2016-05-25 18:33] mintplugins commented on #3755
Tested by doing a checkout with a logged-in user and using a new email address. It works great and adds the new email to the existing customer. However, I noticed the Payment History screen still has the "Customer" column blank.
<img width="1245" alt="screen shot 2016-05-25 at 2 31 36 pm" src="https://cloud.githubusercontent.com/assets/1638128/15551816/ab02b878-2285-11e6-93cb-b5e5ca4e2dd1.png">

[2016-05-25 18:37] pippinsplugins commented on #4519
Pinging @topher1kenobe

[2016-05-25 18:37] cklosowski commented on #4373
@brashrebel can you check those out? Just check off the ones above after you verify.

[2016-05-25 18:51] SDavisMedia commented on #4311
Instructions from @pippinsplugins to reopen this and report that when switching to branch `issue/3755` (support additional emails), I'm facing this output on the custom management table: http://glui.me/?i=9zgggk8hurvmmnz/2016-05-25_at_11.44_AM_(1).png/

[2016-05-25 19:09] pippinsplugins commented on #4596
So header definitely isn't always getting set

[2016-05-25 19:09] pippinsplugins commented on #3755
Good catch.

[2016-05-25 19:11] pippinsplugins commented on #3620
Do you have `SCRIPT_DEBUG` on?

The CSV file shouldn't cause that. It's happening because the browser is loading the uploaded file instead letting the JS read it. So far I've only seen that when the browser is loading a cached version of the JS file.

[2016-05-25 19:16] SDavisMedia commented on #3755
I actually can't replicate @mintplugins' issue.

Everything seems to be working well for me, though.

[2016-05-25 19:24] cklosowski commented on #4599
Closing in favor of this PR, for easier testing. Kept your commits in tact @DevinWalker

[2016-05-25 19:24] #4599 closed

[2016-05-25 19:41] SDavisMedia commented on #3620
It was definitely because of `SCRIPT_DEBUG` not being true. No clue why there'd be a cached file from this new site.

[2016-05-25 19:48] cklosowski opened #4613 "Improved Customer decrease and increase value methods"
Add filters and improve actions of the `EDD_Customer:: increase_value` and `EDD_Customer:: decrease_value` methods. Props to @daigo75

[2016-05-25 20:01] pippinsplugins commented on #3620
Browsers cache asset files even without caching plugins active.

[2016-05-25 20:24] SDavisMedia commented on #3620
Got it.

For some reason, I cannot get the system to import more than 19 products. @michaelbeil experienced the same issue but he was using my CSV file. I've deleted some downloads and added new ones on the export site, keeping the total over 19. Tried a new export/import and it stops at 19 again.

Here's a sample CSV with 20 downloads:
[20-items.csv.zip](https://github.com/easydigitaldownloads/ea

[2016-05-25 20:34] cklosowski commented on #3755
@mintplugins @pippinsplugins We've decided to not move forward with `Did not work (as noted in previous comments as well):` as it's not going to provide a benefit.

[2016-05-25 20:38] cklosowski commented on #3755
@mintplugins is that with Auto Register? I'm not experiencing that. All my customers have names wether the purchase was made with the primary or an additional email.

[2016-05-25 20:39] cklosowski commented on #3755
![screen shot 2016-05-25 at 1 39 04 pm](https://cloud.githubusercontent.com/assets/1390124/15555554/179323b8-227e-11e6-9d41-77e9972a4c11.png)

[2016-05-25 21:14] pippinsplugins commented on #4596
No idea why cc8cfeae0958f66873ed47c90c8e73fd25df3dc7 fixed it before but reverting to `EDD()->emails` works properly for me now.

[2016-05-25 21:15] michaelbeil commented on #3620
With a new set of 20 downloads in a CSV, only 19 were imported.

[2016-05-25 21:20] pippinsplugins commented on #4403
Merging into `release/2.6`. We'll close after we update the URL for how to generate API keys to point to our new doc: https://trello.com/c/3MZNlwNJ/231-how-to-get-api-keys-for-paypal

[2016-05-25 21:27] pippinsplugins commented on #4403
Actually will wait for tests on merge conflict resolution to pass.

[2016-05-25 21:30] pippinsplugins commented on #4373
Assuming tests pass, this looks good to me.

[2016-05-25 21:38] pippinsplugins commented on #4311
@cklosowski I think we need to set up an automatic upgrade system that triggers anytime the `EDD_VERSION` constant is changed, similar to how we did it in AffiliateWP: https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/admin/class-upgrades.php

That way we can make database changes without requiring users click a link to run it.

[2016-05-25 21:41] #4597 closed

[2016-05-25 21:42] cklosowski commented on #4311
So like we did with Recurring Payments as well.

[2016-05-25 21:44] pippinsplugins commented on #4059
I can't replicate this. It works fine for me.

[2016-05-25 21:45] pippinsplugins commented on #4059
I'm going to close as `worksforme`. We can re-open later if necessary.

[2016-05-25 21:45] #4059 closed

[2016-05-25 22:03] pippinsplugins commented on #4311
@cklosowski take a look at #4616

[2016-05-25 22:06] pippinsplugins commented on #3309
Merging for beta 1 tomorrow.

[2016-05-25 22:06] #4373 closed

[2016-05-25 22:24] pippinsplugins commented on #3905
@mindctrl I thought one of the goals here was to always hide the login form behind a click unless guest checkout is disabled?

[2016-05-25 22:24] cklosowski commented on #4596
Testing now.

[2016-05-25 22:40] cklosowski commented on #4596
![screen shot 2016-05-25 at 3 39 00 pm](https://cloud.githubusercontent.com/assets/1390124/15558413/d7875968-228e-11e6-9946-fc55c2540e0a.png)

Looks better, only thing I can think now is that I did this via the `[edd_register]` shortcode, yet the password states `Password entered at checkout`. Going to see if we can fix that quick

[2016-05-25 22:58] pippinsplugins commented on #4403
Merged.

[2016-05-25 23:03] cklosowski commented on #4596
When registered via checkout
![screen shot 2016-05-25 at 4 02 46 pm](https://cloud.githubusercontent.com/assets/1390124/15558841/2454ba6c-2292-11e6-83c3-6af5a52d4e35.png)

When registered via the `[edd_register]` shortcode
![screen shot 2016-05-25 at 4 03 23 pm](https://cloud.githubusercontent.com/assets/1390124/15558858/39f66d48-2292-11e6-83f8-dc94912d412c.png)

[2016-05-25 23:04] pippinsplugins commented on #4596
:+1:

[2016-05-25 23:09] pippinsplugins commented on #3620
@SDavisMedia @michaelbeil could you try again please?

[2016-05-25 23:09] cklosowski commented on #4284
Every time I try and get this done, something major breaks in the cart system. I've taken a few stabs at it between getting other issues resolved. I'm going to punt (for now) and we can look to get this in a future release.

It's not that it's not important, it's just important to get right.

[2016-05-25 23:10] cklosowski commented on #4031
@pippinsplugins @samikeijonen I knwo a bunch of PRs were submitted for `a11y`, how are we looking for this issues specifically stated for `release/2.6` changes? Are we good to close this one?

[2016-05-25 23:16] cklosowski commented on #4311
@pippinsplugins manually reset my `edd_version` option, delete the customermeta table and then checked out this PR. Upon a refresh, table was created and the version was updated.

:+1:

[2016-05-25 23:17] cklosowski commented on #4311
We will just need to make sure when we release the beta that we update the `EDD_VERSION` constant to be `2.6-beta1` so that the routines trigger.

[2016-05-25 23:40] cklosowski commented on #4108
punting until we get some more feedback/replication on this.

[2016-05-25 23:42] cklosowski commented on #3341
I'd like to tackle this alongside #4606. We can do some good updates to the metabox/file selection interface here.

[2016-05-25 23:44] pippinsplugins commented on #4031
Everything that has been reported is merged in I believe.

[2016-05-25 23:46] #4311 closed

[2016-05-25 23:48] pippinsplugins commented on #3620
Validation of empty / non-CSV files has been restored.

[2016-05-25 23:52] #4596 closed

[2016-05-25 23:56] cklosowski commented on #4043
Going to see if I can tackle this for the 2.6 beta.

[2016-05-26 00:14] bmoredrew commented on #4284
Thanks for the effort everyone. Is there something we can do on an individual site level? My client has a pretty large site in terms of traffic that just falls over on Pagely when we try to implement EDD, so all the pieces are in place just kind of sitting there for a one day hopeful fix/use.

[2016-05-26 00:23] cklosowski commented on #4284
Drew,

At this point, we've already released some restrictions that stop it from
loading on the RSS feeds. On the EDD Site specifically we've stopped it
from starting sessions on the homepage with something like the following:
[code]

Chris Klosowski
cklosowski@gmail.com
@cklosowski

On Wed, May 25, 2016 at 5:14 PM, Drew Poland <notifications@github.com>
wrote:

[2016-05-26 00:23] pippinsplugins commented on #4284
@bmoredrew One major improvement you could make is to prevent sessions from starting on specific pages, such as pages that will never have an add to cart button on them: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4429

[2016-05-26 00:57] pippinsplugins commented on #3620
Payment importing now works!

[2016-05-26 01:17] SDavisMedia commented on #3620
@pippinsplugins The issue with only importing 19 products is now fixed! :+1:

Not sure why no mapping is happening for me.

[2016-05-26 01:18] pippinsplugins commented on #3620
No mapping? Could you elabolate?

[2016-05-26 01:22] SDavisMedia commented on #3620
@pippinsplugins So far today, my fields are not automatically mapping when I import the CSV. For each test I've done, I'm setting them all manually.

The exported CSV is coming from a site also running `issue/3620` but not the most recent changes from the last 2 hours. I'll pull down on the export site again to see if that makes a difference.

[2016-05-26 01:23] pippinsplugins commented on #3620
Ah, the magic mapping. That's not fully set up yet.

[2016-05-26 02:07] SDavisMedia commented on #3620
Okay all good [as far as we can be] with product exporting/importing at the moment.

---

**Payment and Customer exporting:**

With both of them, I found myself thinking I _had_ to choose a date range (Payment export) and make a Download section (Customer export) in order to get the CSVs. Obviously, that wouldn't work to get all data in one CSV for both.

I only realized I could get all the data i

[2016-05-26 02:29] pippinsplugins commented on #3620
Exporting: for now, these will probably be opened as separate issues. I want to address each of them but probably not for beta 1 tomorrow. Will try for 2.6 still though. We need to first figure out _exactly_ which changes need to be made.

Import: yep! It will create customers along the way :) That won't work until we have everything merged into `release/2.6` since some of the code is still in sep

[2016-05-26 02:32] SDavisMedia commented on #3620
@pippinsplugins Cool cool! Outside of that, everything was pretty smooth. :+1:

[2016-05-26 02:32] pippinsplugins commented on #3620
Great!

[2016-05-26 03:37] michaelbeil commented on #3620
All works well here after a `git pull` and a product import. I can now import over 19 products. We should be good to go for beta 1 tomorrow.

Export/Import UI referenced by @SDavisMedia above could use some improvements.

[2016-05-26 04:21] cklosowski commented on #3648
I'm hesitant to do this so close to 2.6. the major risk is that we can't simply just detect if the admin page or the front end is in SSL. We run the risk of invalidating cookies/sessions on the checkout. If the site uses `http` on the entire site but forces `https` for checkout, or lands on the checkout as `https` and then navigates to any other page that's `http` the cookies are not transmitted.

[2016-05-26 04:24] cklosowski commented on #4031
Ok I'm going to close this for now @samikeijonen if you find something we've missed please ping me or reopen it.

👍

[2016-05-26 04:24] #4031 closed

[2016-05-26 04:29] cklosowski commented on #3338
Couple issues with the latter of those @pippinsplugins is that the discount could have been removed from the system or modified, so looking up it's discounted amount (from the discount post type) might not be possible or accurate.

I'm not sure that's a case to completely go with future payments having this data only though. I vote we use it, and just account for discount posts types that have bee

[2016-05-26 04:54] Shelob9 opened #4618 "Cache key is too short in EDD_Payment_Stats::get_earnings()"
I am using the `edd_stats_earnings_args` filter with a meta query, since my arguments are getting added to the end of the array they get cut off in the cache key. I end up with the same results as if my filter was not there. If I bypass caching, I get expected results.

Option keys can be 55 characters I think. Serializing adds a lot of extra characters, but changing substr to take 45 characters s

[2016-05-26 05:00] Shelob9 commented on #4618
For the record this is what I am doing:

[code]

The array_reverse() is my workaround to make sure my custom args get factored into the caching.

[2016-05-26 05:08] cklosowski commented on #4043
@easydigitaldownloads/core-devs this is ready for some testing if someone could hit it up in the AM prior to beta going out.

[2016-05-26 05:16] cklosowski commented on #4618
@Shelob9 We're sub-stringing the MD5, which is a 32 character string, not he serialized string itself. The reason for the cut is that these are stored in Transients, so the maximum limit of characters it can take is 45 characters per the codex (https://codex.wordpress.org/Function_Reference/set_transient#Parameters).

Since our transients use `edd_stats_` as a prefix (9 characters) which allows us

[2016-05-26 05:18] Shelob9 commented on #4618
@cklosowski Then maybe the better solution to avoid my workaround is to do an array_merge or something so the filtered keys are always on top. Not sure... Will revisit tomorrow.

[2016-05-26 05:21] cklosowski commented on #4618
Or, we can just not substring. By not sub-strining, it'll avoid the situation all together :) Since 32 + 9 is still less than the 45 character limit set fourth by the Transient API and there's less chance of a collision in the uniqueness of the keys.

[2016-05-26 05:25] cklosowski commented on #4618
Let me know if that change set works for you @Shelob9

[2016-05-26 13:08] samikeijonen commented on #4031
Sure. I'm about the start accessibility talk  in meetup 😃
On May 26, 2016 7:24 AM, "Chris Klosowski" <notifications@github.com> wrote:

[2016-05-26 13:55] pippinsplugins commented on #4043
Merged into `release/2.6`

[2016-05-26 13:59] pippinsplugins commented on #4618
PR looks good. Merged.

[2016-05-26 13:59] #4618 closed

[2016-05-26 15:20] pippinsplugins commented on #3338
The approach taken in the PR won't work. See https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4620#discussion_r64749463.

[2016-05-26 16:09] cklosowski commented on #3755
@easydigitaldownloads/core-devs  Something else I thought about here this morning, do we want to allow a dropdown in the front-end profile editor to allow a customer to choose their primary email from a list of emails attached to their customer? Also, should they be able to delete an email associated with their account on the front-end as well?

I'm hesitant to allow adding from the front-end in t

[2016-05-26 16:35] SDavisMedia commented on #3755
No clue how this didn't cross my mind but I think yes, they should be able to add, remove, and select primary from the profile editor. I vote definitely.

[2016-05-26 17:00] cklosowski commented on #3755
@SDavisMedia I think for now adding should be limited to a purchase. This prevents someone from going in and adding a bunch of _known_ email addresses to their account, which would effectively prevent someone from purchasing, as an 'blackhat' method of stopping someone from buying.

[2016-05-26 17:04] cklosowski opened #4622 "Move user address fields to customer meta"
With the addition of #4311, we should look at moving all the `Address` information stored in `usermeta` over to `customermeta`, since this is a more customer based data set, which also allows us to remove it from the installation easier when we uninstall.

[2016-05-26 17:06] brashrebel commented on #3755
What about requiring verification of every added email address?

[2016-05-26 17:07] pippinsplugins commented on #3755
I would actually prefer that we _not_ allow customers to ad emails from the frontend. While it's unlikely to be abused, the possibility is there.

We can consider adding it in the future but not right now.

If we do add it, it should definitely require verification, like @brashrebel mentioned.

[2016-05-26 17:07] topher1kenobe commented on #3755
I wouldn't worry about it.  If someone can't buy they'll email the admin and complain, and then the admin will become aware of the jerk and act accordingly.

[2016-05-26 17:07] cklosowski commented on #3755
I'm with @pippinsplugins We can add it later, but it has to have a verification system.

[2016-05-26 17:10] michaelbeil commented on #3755
Agreed on the verification system if/when we add this to the front-end profile editor.

[2016-05-26 17:11] pippinsplugins commented on #4622
Yes!

[2016-05-26 17:48] pippinsplugins opened #4623 "Make Purchased Products column in payment export able to be parsed"
In order to better facilitate exporting and importing payments between EDD stores, we have to make the `Purchased Products` column more import friendly.

The value of the export currently comes in like this:

`Product Name - Price Option Name - Amount`

If there are multiple products, it looks like this:

`Product Name - Price Option Name - Amount / Product  2 Name - Price Option Name - Amount`

T

[2016-05-26 17:52] pippinsplugins opened #4624 "Update payments export to use EDD_Payment"
The payment export class could be significantly improved by updating it to utilize `EDD_Payment` instead of a series of helper functions.

[2016-05-26 18:47] samikeijonen commented on #4031
Just a note that this is just a beginning of accessibility checks in EDD. We are probably not even done with [most used pages yet](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4031#issuecomment-185255849).

But I'll open new issues when I have time to start another `a11y` round.

[2016-05-26 18:55] pippinsplugins commented on #4623
PR: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4609

[2016-05-26 19:02] pippinsplugins commented on #4623
Now we have two columns:

- Products (verbose)
- Products (raw)

The verbose column is unchanged. The raw column is nothing but product names.

[2016-05-26 19:08] pippinsplugins commented on #4031
@samikeijonen thanks!

[2016-05-26 19:09] pippinsplugins commented on #3338
Merging into `release/2.6` for beta 1.

[2016-05-26 19:21] cklosowski commented on #3755
made some updates to this, there is now a section in the profile editor that does some logic to determine 3 cases:

1. User account with no customer (simply uses the user email address) with a text field
2. User is a customer, but only has one email, so it just gives a text field with the customer email address
3. User is a customer with multiple email addresses, displays a dropdown to pick an exi

[2016-05-26 19:22] cklosowski commented on #3755
![screen shot 2016-05-26 at 11 23 41 am](https://cloud.githubusercontent.com/assets/1390124/15587085/71433682-233c-11e6-9934-c94c9400f1ed.png)

[2016-05-26 19:41] pippinsplugins commented on #3620
A few items I know we haven't finished yet:

- [ ] Help text for the payment importer after uploading the file
- [ ] Links to Import / Export tools page from the Reports > Exports page
- [ ] Variable price support for payment import
- [ ] Something funky is going on with payment keys. The keys appear to work fine but searching for a key after import fails
- [ ] Some UI love from @SDavisMedia

[2016-05-26 19:43] pippinsplugins commented on #3620
Also need:
- [ ] some form of error logging to report failed imports on a per-row basis

[2016-05-26 19:50] SDavisMedia commented on #3620
While testing Payments export/import, Products (raw) doesn't appear to be working properly. Some Products are being created upon import with names like `Product Name / Product Name / Product Name`. http://glui.me/?i=ugkcvhqymvgarls/2016-05-26_at_12.44_PM.png/

Here's my CSV if you need to take a look.
[payments-may-26-1212.csv.zip](https://github.com/easydigitaldownloads/easy-digital-downloads/fil

[2016-05-26 19:52] cklosowski commented on #3755
![screen shot 2016-05-26 at 11 51 28 am](https://cloud.githubusercontent.com/assets/1390124/15588000/b42425f2-2340-11e6-99bb-f0a0a8e7265e.png)

[2016-05-26 20:09] michaelbeil commented on #3620
Ran the same test with @SDavisMedia's CSSV and ran into the same issues.

[2016-05-26 20:18] pippinsplugins commented on #3755
@cklosowski Let's go ahead and merge into `release/2.6` but leave open.

[2016-05-26 20:21] cklosowski commented on #3755
Done.

[2016-05-26 20:32] SDavisMedia commented on #3755
All tests working on my end.

[2016-05-26 21:08] cklosowski opened #4625 "New Importer should use existing customer_id as a canonical source"
The new payment importer, in it's current state creates new customers with an email address is found that isn't associated with a customer. On a brand new site, especially with the addition of #3755, it's possible that a single customer from the export, who made purchases with multiple email addresses, could end up as multiple customers in the new site that's imported into.

We could use something

[2016-05-26 21:09] metal450 opened #4626 "Redundant edd_payment_tax postmeta"
Upon upgrading from EDD 1.5.1 to 2.5.16 and diffing my database, I found many thousands of newly-created postmeta entries of the form:

(44232, 1097, '_edd_payment_tax', '0')

Since taxes are completely disabled on my installation, it seems like it would be much cleaner to avoid these redundant "zeroes" for each and every purchase - instead just presuming a default tax of "0" when no such meta is

[2016-05-26 21:14] pippinsplugins commented on #4626
@metal450 That is intentional and necessary for proper reporting. See https://github.com/easydigitaldownloads/easy-digital-downloads/issues/1976

[2016-05-26 21:14] #4626 closed

[2016-05-26 23:03] cklosowski commented on #3113
While `release/2.6` is going through beta I'm going to try and get some more unit tests for the API in place, specifically with the differences between `v1` and `v2` (introduced in 2.6)

[2016-05-27 17:09] pippinsplugins commented on #3755
@jchristopher found a bug that caused the `The email address {address} is already in use` error to show even when it shouldnt't: http://d.pr/i/Oeho

Fixed in https://github.com/easydigitaldownloads/easy-digital-downloads/commit/dcff8b5b218e34579af7cbef5423e7a8be8bbbdd

[2016-05-27 17:13] topher1kenobe commented on #4519
Visually this looks pretty janky to me. Some margin above the alert would be nice.
![Uploading Screen Shot 2016-05-27 at 1.01.31 PM.png…]()

[2016-05-27 17:23] pippinsplugins commented on #4519
To sum up, I believe the action needed here is:

1. Ensure our IPN verification calls go to https:
2. Remove the warning message we added
3. Update our http://docs.easydigitaldownloads.com/article/1244-do-i-need-ssl-if-i-use-paypal

Yes?

[2016-05-27 21:18] cklosowski commented on #3113
First pass at getting our API able to be unit tested. Now that I have it working locally, will see if Travis likes it, and keep working from here to see if we can get some more coverage on it prior to 2.6 release.

[2016-05-27 21:45] topher1kenobe commented on #4519
Sounds right to me.

[2016-05-27 23:36] cklosowski commented on #3113
Not quite sure why, this passes locally 100% but on Travis any tests that require the API Authentication fail. I'd say it's related to `$wp_query` not getting correctly passed, however, other parts of the `$wp_query` variable end in the right place. I'll come back to this a bit later.

[2016-05-27 23:57] pippinsplugins commented on #3113
Could you try using the go_to() helper instead of manually setting query
vars?

On Friday, May 27, 2016, Chris Klosowski <notifications@github.com> wrote:

[2016-05-27 23:59] cklosowski commented on #3113
@pippinsplugins I'll give that a shot next.

[2016-05-28 20:24] metal450 opened #4629 "Price Options Don't Reappear When Removing Item From Cart"
EDD 2.5.16, WP 4.5.2, Digital Store (theme) 1.3.6

Upon adding an item to the cart, the price options disappear and the "add to cart" button changes to "checkout" (as desired).  Upon removing it from cart (via the widget), the "checkout" button changes back to "add to cart" (as desired), but the price options do not reappear.  This means that unless the user explicitly refreshes the page, they wil

[2016-05-28 21:37] metal450 opened #4630 "edd_profile_editor not updating display_name on first save"
EDD 2.5.16, WP 4.5.2, Digital Store (theme) 1.3.6.

Using the [edd_profile_editor], if you have the Display Name set to i.e. First Name, then you edit the First Name field and save, it doesn't actually update the display_name (as seen by the WP core) until the _second_ time you save.

To reproduce:
1) Create a user "Test Friend," & select Display Name as "Test."
2) Use edd_profile_editor to change

[2016-05-28 22:40] pippinsplugins commented on #4630
Thanks for the report! That should be pretty straight forward to resolve.

[2016-05-30 11:00] upsellpl commented on #4160
Hi,

I've got this problem on EDD 2.5.16 + EDD Auto Register 1.3.5 + Vendd on first purchase (new user).

[2016-05-30 13:29] pippinsplugins commented on #4160
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-05-30 15:12] pippinsplugins opened #4631 "Taxes: UK taxes incorrectly calculate"
I'm not yet sure why it happens but when collecting UK tax, calculations on checkout are wrong.

In one case, I'm seeing the tax amount go negative:
![screen shot 2016-05-30 at 10 11 05 am](https://cloud.githubusercontent.com/assets/1034109/15652864/da268892-264e-11e6-88c6-7abb3695cc4d.png)

In another case, I'm seeing the tax come in as zero:
![screen shot 2016-05-30 at 10 11 30 am](https://cloud

[2016-05-30 15:16] pippinsplugins commented on #4631
This seems to only occur when fees are included in the cart.

I notice the behavior with both Discounts Pro and Gateway Fees, but with those deactivated, it's fine.

[2016-05-30 15:19] pippinsplugins commented on #4631
Maybe I'm wrong, it seems to be working fine on my local site now.

[2016-05-30 15:24] pippinsplugins commented on #4631
Aha! Tracked it down.

The product was marked to ignore tax:
![screen shot 2016-05-30 at 10 21 53 am](https://cloud.githubusercontent.com/assets/1034109/15653120/90148496-2650-11e6-8fe1-e246d2607b45.png)

It does, however, reveal a different bug: taxes were able to go negative when a negative (discount) cart fee was present.

I'm going to open a separate issue then close this as invalid.

[2016-05-30 15:24] #4631 closed

[2016-05-30 15:27] pippinsplugins opened #4632 "Taxes should never be included on negative cart fees"
Negative tax fees (aka discounts) are currently included in tax calculations. This can result in incorrect tax calculations and, in some cases, even negative taxes.

To help illustrate the issue, look at this:
![screen shot 2016-05-30 at 10 25 16 am](https://cloud.githubusercontent.com/assets/1034109/15653185/f1efe840-2650-11e6-983b-6ce3111195d8.png)

- 20% tax rate
- `Pro Package` has taxes disab

[2016-05-30 15:28] pippinsplugins commented on #4631
See https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4632

[2016-05-31 04:24] pippinsplugins commented on #4629
@metal450 I _think_ that is a bug specific to the Digital Store theme. As a quick test, do you get the same behavior with Twenty Sixteen?

[2016-05-31 06:10] metal450 commented on #4629
I don't have TwentySixteen installed (can test tomorrow if necessary?), but it does happen on TwentyTwelve, so it doesn't appear to be just Digital Store...

[2016-05-31 11:44] topher1kenobe commented on #3309
Windows Phone shots look awesome. Sale went through flawlessly.

![wp-screen-08](https://cloud.githubusercontent.com/assets/341412/15673255/69b49bf2-2703-11e6-9db2-f52d21cf417b.jpg)
![wp-screen-07](https://cloud.githubusercontent.com/assets/341412/15673257/6eec254a-2703-11e6-88a7-ea80f9f30f01.jpg)
![wp-screen-06](https://cloud.githubusercontent.com/assets/341412/15673261/755b76f6-2703-11e6-9181-03

[2016-05-31 13:05] pippinsplugins commented on #3309
Great1

[2016-05-31 13:05] #3309 closed

[2016-05-31 15:20] chriscct7 commented on #3309
What's up with that CC icon location?

On Tue, May 31, 2016 at 9:05 AM, Pippin Williamson <notifications@github.com

[2016-05-31 15:54] pippinsplugins commented on #3309
CSS bug. Different issue we can address separately.

[2016-05-31 18:17] cklosowski opened #4635 "Usage tracking opt-in not sending initial checkin"
Right now, our opt-in usage tracking isn't sending the initial checkin (and subsequently never sends another one) due to this logic issue:
[code]

Because the first checkin will do a `get_option` and return `false` since the option doesn't exist, we need to do an `is_numeric` check instead, to make sure we're doing a numerical comparison before the `>` check.

[2016-05-31 18:21] cklosowski commented on #4635
PR against `master`, milestoned @pippinsplugins

[2016-05-31 18:22] pippinsplugins commented on #4635
Looks good, let's merge once unit tests deploy.

[2016-05-31 20:34] metal450 opened #4638 "history-downloads template and price option names"
I see in the history-downloads.php template that it's supposed to show the price option name along with the download name.  However, the check on line 43 (EDD 2.5.16) returns false for purchases of price option "0"; this causes the price option name to be omitted in those cases.  So for instance, if you have a user who's purchased price options 0, 1, and 2...the first row won't show the price opti

[2016-05-31 20:39] #4635 closed

[2016-05-31 20:58] cklosowski commented on #3113
@pippinsplugins `go_to()` doesn't work because it's outside the context of the unit test's instantiation of the `API`. It basically just returns data like the API was never called.

[2016-05-31 21:07] pippinsplugins commented on #3113
Boo

[2016-05-31 22:10] cklosowski commented on #4632
Seems to work great for me. Tested with a single product that met the requirements. Then tested with an item that should have a tax calculation.

Merging.

[2016-05-31 22:11] cklosowski commented on #4632
Leaving `Needs Testing` on for now.

[2016-06-01 13:46] flowdee opened #4640 "Expired discount blocking checkout"
Last week I created a discount code which was limited to yesterday. After creating it I added it to the checkout form in order to validate the code is working. I think I didnt click on remove code after this.

Now a customer mails me that he cant finish the checkout because at the end of the page, right above the buy now button there was the following notice:

`This discount is expired.`

At the t

[2016-06-01 14:08] pippinsplugins commented on #4640
Was it that one customer only or all customers?

[2016-06-01 15:10] flowdee commented on #4640
Heared it from this customer and then checked it on my own, even with a different browser and the issue appeared for me too.

[2016-06-01 16:00] SDavisMedia commented on #3568
I'm gonna go ahead and push an update to all of the themes. They will all be fine with both the old markup and the new markup.

[2016-06-01 16:11] mindctrl opened #4641 "Improve inline help throughout the plugin"
One of the best ways we can improve the customer experience and lower the volume of support requests is to make it easier to understand what settings mean and how things work. After chatting with @pippinsplugins we've decided to add some inline tooltips throughout the plugin to make it easier to get quick information about various things in the plugin. We want to make this a priority.

Something l

[2016-06-01 16:30] topher1kenobe commented on #3568
2014 looks fine in my opinion.
![selection_439](https://cloud.githubusercontent.com/assets/341412/15717351/9dc11672-27f4-11e6-801e-90cad14a518b.png)

[2016-06-01 16:31] topher1kenobe commented on #3568
2015 looks fine.
![selection_440](https://cloud.githubusercontent.com/assets/341412/15717380/c003441c-27f4-11e6-875d-ffdd0b52f32e.png)

[2016-06-01 16:32] topher1kenobe commented on #3568
2016 is good.

![selection_441](https://cloud.githubusercontent.com/assets/341412/15717420/f24ff41a-27f4-11e6-859e-8ea42c9500b0.png)

[2016-06-01 16:40] topher1kenobe commented on #3568
@justintadlock started this ticket because he's working on a new EDD theme, I'm talking to him about testing that as well.

[2016-06-01 16:51] topher1kenobe commented on #3568
2013 is good.
![selection_443](https://cloud.githubusercontent.com/assets/341412/15718049/8f1828f6-27f7-11e6-8b63-d4e1812b9442.png)

[2016-06-01 16:51] mintplugins commented on #4632
![should-these-say-0](https://cloud.githubusercontent.com/assets/1638128/15718059/9983cb42-27f7-11e6-9540-456a43e7ddcf.jpg)

[2016-06-01 16:52] topher1kenobe commented on #3568
2012 is good.

![selection_444](https://cloud.githubusercontent.com/assets/341412/15718077/a863c270-27f7-11e6-90c1-b2c1d8f98355.png)

[2016-06-01 16:56] topher1kenobe commented on #3568
2011 is good.
![selection_445](https://cloud.githubusercontent.com/assets/341412/15718193/3cd9bb62-27f8-11e6-9e3a-c6b5fc978462.png)

[2016-06-01 16:57] topher1kenobe commented on #3568
2010 is good.
![selection_446](https://cloud.githubusercontent.com/assets/341412/15718221/5fcbdcea-27f8-11e6-8c8a-14c3ecb90702.png)

[2016-06-01 17:16] topher1kenobe commented on #3568
Basically it looks great on all themes that leave default styling.  I'm going to call this one tested and done.

[2016-06-01 17:24] mintplugins commented on #4623
When I do a test export of payments, this is what my Products (verbose) and Products (raw) columns look like. I'm not totally sure if this is expected or not - I still see 2 hyphens in Products (verbose):

<img width="1236" alt="screen shot 2016-06-01 at 1 22 31 pm" src="https://cloud.githubusercontent.com/assets/1638128/15719048/1ffe0e86-27fc-11e6-94f2-1b5ba5b03196.png">

[2016-06-01 17:28] SDavisMedia commented on #3568
All EDD themes are updated.

[2016-06-01 17:57] cklosowski commented on #4640
So, I'm guessing, that the discount was valid at the time of adding it, and your session has stayed valid past the expiration?

[2016-06-01 18:09] zackkatz opened #4642 "Possible for edd_get_ip() to return a CSV of IP addresses"
`edd_get_ip()` can use the `$_SERVER['HTTP_X_FORWARDED_FOR']` value as the IP address. This can cause problems because `$_SERVER['HTTP_X_FORWARDED_FOR']` [allows returning a comma-separated value](https://en.wikipedia.org/wiki/X-Forwarded-For#Format), not just a single IP.

This causes problems with payment gateways that verify the IP addresses, like PayPal, which threw this error message: "Invali

[2016-06-01 18:26] cklosowski commented on #3763
@pippinsplugins @chriscct7 take a look at that commit, do you think those filter params are enough to do what is needed inside plugins like Discounts Pro? There isn't a great way for Core to determine actions to take, so I think adding filters and having the extensions do the work themselves is the best appraoch.

[2016-06-01 18:28] cklosowski commented on #4641
I rather like this idea, however I am concerned about the accessibility.

[2016-06-01 18:35] topher1kenobe commented on #3755
All tests working on my end.

[2016-06-01 18:59] pippinsplugins commented on #4641
The method above is identical to how WooCommerce does it. Not saying they've nailed it just because they're Woo, but I think it's likely that it's fine.

[2016-06-01 19:09] mintplugins commented on #4632
When doing another test, I'm getting the wrong taxation calculation. If the Discount is 50% and the cart quantity is used, the tax amount is calculated before the discount is applied. See screenshot:
![tax-wrong](https://cloud.githubusercontent.com/assets/1638128/15722249/c71c9918-280a-11e6-99b3-b2c13383eb3e.jpg)

[2016-06-01 19:23] mintplugins commented on #3755
@cklosowski I am still getting a blank customer on the Downloads > Payment History page. Auto Register is disabled.

[2016-06-01 19:24] SDavisMedia commented on #4518
https://github.com/chriscct7/edd-fes/issues/1056

[2016-06-01 19:38] pippinsplugins commented on #4642
@zackkatz Thanks for the catch!

We'll get this reviewed and included in a release soon after 2.6.

[2016-06-01 19:41] pippinsplugins commented on #3763
@cklosowski I don't think it should be on Discounts Pro to adjust the earnings. Instead core should automatically include fees / discounts in the earnings calculation when those fees are assigned a download ID.

[2016-06-01 19:42] pippinsplugins commented on #4632
Subtotal is pre discounts, so it is the item total only.

Taxes are supposed to always be after discounts, so that looks like a bug we need to address.

[2016-06-01 19:52] mintplugins commented on #4632
I know this probably goes against how the EDD fee system works - but is it possible to have fees/discounts not show up as cart items? I feel like they make more sense after the subtotal if the subtotal is pre-discounts/fees.

[2016-06-01 20:30] cklosowski commented on #3198
One of the things that we have that's causing an issue here as well is that a license is not moved to the 'expired' status until it's validity is checked. For instance, right now EDD has over 75k active discounts, but if you start viewing the pages of discounts into the ones that are already expired, simply loading their information is causing them to be moved to `expired` and therefore they no lo

[2016-06-01 20:33] pippinsplugins commented on #4623
Are the prices in the raw column part of the product names?

[2016-06-01 20:33] pippinsplugins commented on #3568
I think we go ahead and close this :)

[2016-06-01 20:33] #3568 closed

[2016-06-01 20:36] cklosowski commented on #3198
I'm going to code up a few changes here:
1) Introduce a daily cron that simply looks for all discount codes whose expiration post meta is smaller than 'now' and run a query to set all of those post_status records as 'expired'.
2) I'm going to make it so when we increase (or decrease) a discount code's usage, we check it's max usage and if it's at it's max we mark it as `inactive`, or if decreasing

[2016-06-01 20:37] pippinsplugins commented on #3755
@mintplugins Does it show customer missing on view order details or is there an email there? Does the customer just not have a name set perhaps?

[2016-06-01 20:38] pippinsplugins commented on #4632
Perhaps in the future but not right now.

[2016-06-01 20:47] pippinsplugins commented on #3198
I don't think a batch processing tool is needed at this time. Cron should be more than sufficient.

[2016-06-01 20:49] cklosowski commented on #3198
@pippinsplugins The problem with a cron is that the first one that runs could completely kill a site. In the case of the EDD site, the first time this runs as a cron it's going to have to pull over 75k discounts and check their expiration and/or their usage max in order to update their status.

[2016-06-01 20:52] pippinsplugins commented on #3198
Limit the cron to 100 discounts. That will eventually get them all and will cover the _vast_ majority of websites.

[2016-06-01 20:53] cklosowski commented on #3198
:+1: sounds good.

[2016-06-01 21:15] pippinsplugins opened #4645 "Address Line 2 set to required after some ajax actions"
For some reason, after ajax actions fire, the "Line 2" field of the billing address section is getting `required="required"` appended to it, triggering an HTML5 validation error when left empty.

No where do we mark line 2 as a required field.

It happens randomly and does not appear to be something we can reliably replicate, but it definitely happens. I've seen it on the live EDD site and numerou

[2016-06-01 21:31] danieliser commented on #3198
Here is the code I used to auto prune my expired codes.

https://gist.github.com/danieliser/e3d4f02171e665d6d8c35ab88b8b4ad4

[2016-06-02 00:04] bcole808 opened #4646 "Roles are being initialized on every admin request"
The function [edd_install_roles_on_network() in includes/install.php](https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/install.php#L309-L335) creates user roles and permissions if missing. This line
[code]
always evaluates to false and thus always triggers role creation on every admin page load because `$wp_roles->roles` is now a multi-dimensional array and so we

[2016-06-02 07:13] flowdee commented on #4640
The discount was valid when adding right. But this was about 5 days ago. Don't think the session will stay that long active?

But shouldn't be there some mechanism which checks if a discount is invalid and than kick it out of a session or something? At least the invalid discount which is hanging in the session should be shown at the product table or on any place I have a chance to remove it manual

[2016-06-02 07:24] samikeijonen commented on #4641
I'm sure tooltip can be accessible, like in this [example](http://a11y.nicolas-hoffmann.net/dialog-tooltip/). I can ask around more info about it.

[2016-06-02 17:54] pippinsplugins commented on #4632
Ticket from a customer experiencing this issue with Recurring Payments: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4632

[2016-06-02 18:02] pippinsplugins commented on #4592
Thanks for the PR @Defrothew! We'll get it tested and included in the 2.7 release.

[2016-06-02 18:18] pippinsplugins commented on #4646
Good catch!

We'll put this in 2.6.

[2016-06-02 18:51] pippinsplugins opened #4649 "edd_build_straight_to_gateway_data() should use EDD_Payment"
When processing a buy now button, we should use EDD_Payment.

[2016-06-02 18:52] pippinsplugins commented on #4649
What am I thinking. We can't do that; payment is created inside the gateways.

[2016-06-02 18:52] #4649 closed

[2016-06-02 19:04] pippinsplugins opened #4650 "Updating buy now payment in PayPal Standard should use EDD_Payment"
When processing a Buy Now payment in PayPal Standard, we update the purchase meta in order to set the customer email and name.

In this scenario, however, the customer ID does not get set for the purchase.

We can easily resolve this by using EDD_Payment instead of manually adjusting meta.

We also need to update the rest of PayPal IPN processing to use EDD_Payment, but that can be done mostly sep

[2016-06-02 19:05] pippinsplugins commented on #4650
Ticket from customer that is seeing a bug due to this: https://secure.helpscout.net/conversation/209510095/35345/?folderId=180505

[2016-06-02 21:13] mintplugins commented on #3755
@pippinsplugins The customer just didn't have a name. Carry on  :)

[2016-06-02 21:15] mintplugins commented on #4623
@pippinsplugins  Yes they are - sorry that's confusing.

[2016-06-02 21:16] pippinsplugins commented on #4623
In that case it worked properly :)

[2016-06-02 21:19] pippinsplugins commented on #4650
Tested this on the customer site above and it appeared to work fine.

[2016-06-02 21:26] cklosowski commented on #4641
Ok @pippinsplugins and @samikeijonen, @mindctrl.

We should outline a few areas we see the most support requests about clarification. Since this is the initial addition of them, we could do a super sharp focus on the top 10-20 pain points and add them in those first. And then follow up once we get some feedback.

[2016-06-02 21:37] cklosowski commented on #3763
@pippinsplugins we'd have to go by 'cart_details' fees, not fees added with a download ID. There's no way to tell for sure if a regular fee with a download ID is supposed to go with a cart item specifically if there are variable prices involved.

We can iterate through the cart details and get an one specific cart items fees though. I'll code that up. but the filters will stay in place I think to

[2016-06-02 22:00] cklosowski commented on #3763
@pippinsplugins Ok, added the fees calculation to the download specific earnings stats...however I'm not positive doing this for the non-specific ones is going to very performant...

[2016-06-02 22:35] cklosowski commented on #4641
# Areas to add tooltips for
- [ ] Price assignments for files (Edit/Add Download)
- [ ] Bownload link expiration time (Settings)
- [ ] Button behavior (Settings & Edit/Add Download)
- [ ] File Download Method (Settings)
- [ ] IPN verification (Settings)
- [ ] File Download Limit (Edit/Add Download)
- [ ] Disable the automatic output of the purchase button (Edit/Add Download)
- [ ] Purchase Shortco

[2016-06-02 23:24] cklosowski commented on #4641
I'm also going to add new attributes to our settings registration `tooltip_title` and `tooltip_desc`, which allows our settings as well as extension settings to include their own tooltips easily within the settings tabs.

[2016-06-03 00:51] pippinsplugins opened #4653 "Adding display:none to price options breaks add to cart jQuery"
Alright, this is one of the stranger bugs I've seen.

Let's say you have a download product with 5 price options, like this:
![screen shot 2016-06-02 at 7 45 37 pm](https://cloud.githubusercontent.com/assets/1034109/15765454/a235cd86-28fa-11e6-9277-8e62d551f829.png)

Now, for one reason or another, you decide that you want to hide the last two price options using CSS:
[code]
This results in the pr

[2016-06-03 01:43] DrewAPicture commented on #4653
So, my best guess is that all of the option selectors are match `.edd_price_option + download` with `input:hidden` *some* of them are considered “hidden” by jQuery because of the `display:none;`. Thus, the `item_price_ids` array is empty on AJAX post, defaulting to the first radio option.

[2016-06-03 02:40] danieliser opened #4654 "Ability to see all purchases that used a discount code."
A link from the discounts lists/search results to see all purchases that used that code would be awesome. Currently quite difficult to track down where a code was used and by who.

[2016-06-03 05:44] hamedmoody opened #4655 "How use score instead discount?"
Hi
i am write a plugin that work with user score. user earn score from manu items such as write comment, daily login, buy product, marketting and ...
i want to use score in selling instead discount when user want buy any product. How can i implement this plugin?
Thanks

[2016-06-03 14:47] mintplugins commented on #4655
Hey there,

This GitHub issue area is only used to report issues/bugs/feature requests for Easy Digital Downloads. It isn't a place to get support for writing custom code. Sorry about that.

If you'd like to hire someone to help you write your plugin for you, there's a group of great coders who know and work with Easy Digital Downloads available for hire here:
https://easydigitaldownloads.com/cons

[2016-06-03 14:47] #4655 closed

[2016-06-03 15:54] mintplugins commented on #4653
Just leaving a note with a customer who experienced this issue: https://secure.helpscout.net/conversation/206537181/34812/?folderId=180504

[2016-06-03 15:58] pippinsplugins commented on #4653
Moving this up in priority.

[2016-06-04 02:45] pippinsplugins commented on #4654
You can already :)

Enter `discount: {code}` in the search on `Downloads` > `Payment History`.

[2016-06-04 04:21] danieliser commented on #4654
Too easy. Is there a list somewhere, I obviously didn't find it :).

[2016-06-04 04:21] #4654 closed

[2016-06-04 04:22] danieliser commented on #4654
Though a link from the dicounts screen would be nice.

[2016-06-04 04:42] SDavisMedia commented on #4654
@danieliser It's in the Help tab on the Payment History screen. "Nicely" tucked away from everyone's view haha. A link from the Discounts page would definitely be nice.

[2016-06-04 04:51] hamedmoody commented on #4655
sorry i didn't khnow,Thanks for your help

[2016-06-04 08:18] sunnyratilal commented on #4653
@DrewAPicture is correct. Using `.is(":hidden")` with jQuery checks if the element has a `display: none` attribute to it.   The reason `visibility: hidden` works in this case is because the `visibility` attribute still draws and creates the layout and to jQuery the element is _there_.  jQuery checks the dimensions of an element before declaring it as `hidden`. `display: none` zeros out the dimensi

[2016-06-04 13:13] pippinsplugins commented on #4653
Instead of using `:hidden` perhaps we could directly target an input that has `type="hidden"` instead.

[2016-06-04 17:08] mindctrl commented on #4641
In RCP we're going to use the jQuery Tooltip library included in WP core instead of the TipTip one mentioned above.

[2016-06-04 17:15] mintplugins commented on #4655
No problem! :)

[2016-06-04 21:31] chriscct7 commented on #4606
A better ui interface might be Select2's horizontal input multiselect

[2016-06-05 16:27] chriscct7 commented on #4583
It should be noted Discounts Pro support this functionality already

[2016-06-05 19:03] SDavisMedia commented on #4583
@chriscct7 It's also a negative fee and not a core discount. I think there's an argument that this should have been supported right out of the gate. That's my view, at least.

[2016-06-05 19:41] chriscct7 commented on #4583
Core discounts should be refactored long term to be a fee. It would greatly
simplify EDD core.

On Sun, Jun 5, 2016 at 3:03 PM, Sean Davis <notifications@github.com> wrote:

[2016-06-05 19:44] SDavisMedia commented on #4583
That may be true. I wouldn't really know. But this is a pretty simple feature. Doesn't need to be behind a paywall.

[2016-06-05 21:00] pippinsplugins commented on #4583
I'm not really sure about using fees for core discounts . . . not unless we
can make them work like discounts too in terms of how they affect prices
and reports.

On Sun, Jun 5, 2016 at 2:44 PM, Sean Davis <notifications@github.com> wrote:

[2016-06-06 06:53] chriscct7 opened #4657 "Add edd_get_php_arg_separator_output on System Info"
We should add edd_get_php_arg_separator_output() to the system info page, and detect if it's not the default &

[2016-06-06 19:53] cklosowski commented on #4622
As a note, we should test this with Auto Register. We've seen a few reports that customer address data isn't stored on the user during the first purchase when auto-register is used. I think using customer meta, we can do this more reliably since it doesn't require a logged in check.

[2016-06-07 00:07] mintplugins opened #4658 "Taxes should be affected by negative fees."
If you have a negative fee on the cart, it will still charge tax as if no negative fee was added.

![100 -off-discounttax-issue](https://cloud.githubusercontent.com/assets/1638128/15841850/3bea7966-2c22-11e6-9d52-6a148dea54d1.jpg)

[2016-06-07 00:07] mintplugins commented on #4658
Related: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4632

[2016-06-07 00:08] mintplugins commented on #4632
The above issue with incorrect tax amounts has its own issue here now: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4658

[2016-06-07 00:09] mintplugins commented on #4658
This affects any function that uses negative fees including:

- Discounts Pro
- Points and Rewards

[2016-06-07 01:27] pippinsplugins commented on #4658
I'm pretty sure this is resolved in the same way as #4632

[2016-06-07 01:45] mintplugins commented on #4658
That's definitely possible. Just to clarify, I am running this test on the 2.6 branch and it is still occurring. However, https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4632 is resolved.

[2016-06-07 01:52] pippinsplugins commented on #4658
Yeah, will still likely require a small change.

[2016-06-07 02:37] pippinsplugins commented on #4658
@mintplugins mind giving that PR a try? It's definitely not working 100% now but I _think_ it's better.

[2016-06-07 02:43] pippinsplugins commented on #4632
Closing this one, will continue the related issue on #4658

[2016-06-07 02:43] #4632 closed

[2016-06-07 02:44] pippinsplugins commented on #4403
Tests passing!

[2016-06-07 02:45] pippinsplugins commented on #3905
I'm going to punt this to 2.7.

[2016-06-07 02:46] pippinsplugins commented on #3755
Everything looking good here! Closing :)

[2016-06-07 02:46] #3755 closed

[2016-06-07 18:44] topher1kenobe opened #4660 "id not being set properly in API v2"
If the customer is a guest their user_id is 0, which causes this line to NOT set the id == $customer_obj->id, rather leaving it empty.

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/release/2.6/includes/api/class-edd-api-v2.php#L283

[2016-06-07 18:48] #4660 closed

[2016-06-07 18:49] topher1kenobe commented on #4603
If the customer is a guest their user_id is 0, which causes this line to NOT set the id == $customer_obj->id, rather leaving it empty.

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/release/2.6/includes/api/class-edd-api-v2.php#L283

[2016-06-07 20:42] pippinsplugins commented on #3620
Tweaks to make:

1. Add alternating row colors
2. Add some padding to select menus
3. Add help text (see #4641 )
4. Support CSVs without header rows (currently fails)
5. Show first row value next to each column for `CSV Column`
6. Show which fields are required
7. Put product field on left, CSV on right
8, Make product fields fixed. No need to select the field.
9. Test with RTL

[2016-06-07 20:47] cklosowski commented on #4256
@grappler I'm not able to get the WordPress.org translations to honor that `grunt-glotpress` task. It seems they aren't allowing access to the data properly. I'll keep trying to get it to pull in our translations.

[2016-06-07 21:17] sunnyratilal opened #4661 "Add info endpoint to API"
We should add a new `info` endpoint to the REST API which displays things like integrations enabled and user permissions available.

Information such as permission to view shop payments should be displayed in a boolean array.

[2016-06-07 22:00] Shelob9 opened #4662 "Chosen fields in admin don't recover from no results"
Happens in a few places, for example adding download to bundle.

I add a new download, type in the wrong thing, often times -- not consistently -- I have no way of starting over, have to delete the field and restart.

https://www.dropbox.com/s/z6zs5rbzg728fys/edd-select2.mov?dl=0

[2016-06-07 22:00] cklosowski commented on #4256
Ok dug into this more, and it looks like the .org glotpress install is doing things slightly differently. The grunt task is looking for `data.translation_sets`, however the .org response doesn't have anything in `data.translation_sets`.

https://translate.wordpress.org/api/projects/wp-plugins/easy-digital-downloads

This leaves us with no translation files. I'll have to keep digging into this to s

[2016-06-07 22:30] pippinsplugins commented on #4662
I just ran into this today.

[2016-06-08 01:29] mintplugins commented on #4658
Testing...

[2016-06-08 01:40] mintplugins commented on #4658
That definitely fixed the issue for Point and Rewards. However, Discount Pro still seems to be affected

<img width="887" alt="screen shot 2016-06-07 at 9 39 43 pm" src="https://cloud.githubusercontent.com/assets/1638128/15880131/756eab90-2cf8-11e6-8817-593e780fbc1e.png">

[2016-06-08 02:28] Shelob9 commented on #4662
Not sure if its just me, but I think it is worse on the payment admin screen. I'm struggling to figure out the exact behavior to reproduce this.

[2016-06-08 03:13] chriscct7 commented on #4658
That screenshot looks fine to me, what's wrong with it

[2016-06-08 03:22] mintplugins commented on #4658
@chriscct7 it's using the "Points and Rewards" extension - not Discounts pro. Here's one with a Discounts Pro discount:

<img width="863" alt="screen shot 2016-06-07 at 11 21 29 pm" src="https://cloud.githubusercontent.com/assets/1638128/15881778/a5f09d92-2d06-11e6-9d89-8691b5d5c866.png">

[2016-06-08 03:41] mintplugins commented on #4658
Okay so doing further testing, it's not a Points and Rewards VS Discounts Pro issue. The issue is whether the discount cover 100% of the original price. If the discount iis for 100% it is fine. If it is not for 100% the issue remains.

[2016-06-08 03:58] chriscct7 commented on #4658
What's your tax rate set to?

[2016-06-08 04:19] pippinsplugins commented on #3620
Adjusted import UI:
![screen shot 2016-06-07 at 11 19 34 pm](https://cloud.githubusercontent.com/assets/1034109/15882642/529dbe22-2d06-11e6-854f-d397fd8d9ec1.png)

It's functional for both product and payment import.

[2016-06-08 04:20] pippinsplugins commented on #3620
In `issue/3620`

[2016-06-08 04:46] pippinsplugins commented on #4658
@chriscct7 He said it above. 20%.

[2016-06-08 04:51] cklosowski commented on #4603
According to the notes in this copy from `v1` we had the idea to deprecate the `id` field anyway as it's redundant of the `customer_id` field. Since we're breaking things, why not just get rid of it while we have the chance?

[2016-06-08 04:52] cklosowski commented on #4603
![screen shot 2016-06-07 at 9 51 47 pm](https://cloud.githubusercontent.com/assets/1390124/15883126/0fc07d26-2cfa-11e6-84d9-3803eacc51da.png)

[2016-06-08 05:01] pippinsplugins commented on #4603
Excellent, let's get rid of it completely.

[2016-06-08 05:04] pippinsplugins commented on #3620
RTL works:
![screen shot 2016-06-08 at 12 04 38 am](https://cloud.githubusercontent.com/assets/1034109/15883300/9b4853b6-2d0c-11e6-93ff-45dc76c75158.png)

[2016-06-08 05:08] pippinsplugins commented on #4646
I've confirmed the bug and the fix.

Merged into `release/2.6`.

[2016-06-08 05:08] #4646 closed

[2016-06-08 05:44] cklosowski commented on #4603
@topher1kenobe can you take a look at this again? We've gone ahead and simply removed that `id` column as you pointed out, it's redundant, also, the `user_id` will always report at least `0` or the `user_id` value. this way the data matches that of the database values (which are `0` for non-connected customers).

We've also gone ahead and added support for an `additional_emails` attribute, that wi

[2016-06-08 12:38] pippinsplugins commented on #4403
We need to update the wp_remote_post() requests to use the helper functions for the return checking.

For WordPRess 4.6, the `wp_remote_post()` and `wp_remote_get()` functions are being updated to return an object instead of an array. The returned object implements array access so the following should still work, but to be safe we need to update all of our code to use the helper functions for retr

[2016-06-08 14:12] pippinsplugins commented on #4623
I think we can close this now. It's in `release/2.6`.

[2016-06-08 14:12] #4623 closed

[2016-06-08 14:21] michaelbeil commented on #3620
I think it might be good to bold the column titles "Payment Field" and "CSV column".

[2016-06-08 15:26] pippinsplugins commented on #4043
Confirmed that this works fine.

[2016-06-08 15:26] #4043 closed

[2016-06-08 16:13] cklosowski commented on #4661
@sunnyratilal I assume this is needed for the V2 of the Mobile app?

[2016-06-08 16:29] cklosowski commented on #3763
At this point I think only supporting the fees modifications to the `get_earnings

[2016-06-08 16:40] cklosowski commented on #3762
Punting until we get some more feedback here. I'm not able to replicate this behavior.

[2016-06-08 16:42] pippinsplugins commented on #3620
Live data previews are in!
![screen shot 2016-06-08 at 11 42 29 am](https://cloud.githubusercontent.com/assets/1034109/15902564/1dcdc6d4-2d6e-11e6-9ffd-df1d26eed8ef.png)

Please test in `issue/3620` branch.

[2016-06-08 16:46] pippinsplugins commented on #3763
@cklosowski I concur.

[2016-06-08 16:52] cklosowski commented on #4513
Ok I've identified _why_ this happens. Right now, if you span more than 2 months in your custom date range we set the `$day_by_day` variable to `false`, a the data in the graph becomes completely incoherent at a certain point. However, the logic of how we calculate the data also changes, in that we no longer pass in each individual date of the month to calculate totals, we pass in `month` and `yea

[2016-06-08 17:05] SDavisMedia commented on #3620
I'll give feedback as I go. First thing I notice on the Download import is this setting:

![2016-06-08 at 10 02 am](https://cloud.githubusercontent.com/assets/2359131/15903170/37dc9ffe-2d60-11e6-9e93-b8e960a2f8d9.png)

I definitely think the label needs tweaking. Something along the lines of "Check this box if blah blah." Blah blah being the least likely scenario for CSVs and header rows. For exam

[2016-06-08 17:07] cklosowski commented on #3620
@SDavisMedia I can add a tooltip once this is ready and merged and I go through and add the helpful data to it.

[2016-06-08 17:09] SDavisMedia commented on #3620
Yup! And Pippin also stated that it will be checked by default as well. So all good there!

[2016-06-08 17:09] michaelbeil commented on #3620
Looking good here.

[2016-06-08 17:12] SDavisMedia commented on #3620
Decimal places on on Total Earnings preview data could be trimmed:

![screen shot 2016-06-08 at 10 11 35 am](https://cloud.githubusercontent.com/assets/2359131/15903407/78cbda92-2d61-11e6-8700-71455633dfae.png)

[2016-06-08 17:13] cklosowski commented on #3763
ok @easydigitaldownloads/core-devs this is ready for some testing then.

[2016-06-08 17:15] SDavisMedia commented on #3620
Just finished a product export and import and wow... what a smooth process. Super intuitive and the visual feedback from the Data Preview column is golden. That was amazingly easy. Two thumbs up.

Gonna do payments now.

[2016-06-08 17:43] sunnyratilal commented on #4661
Correct @cklosowski

[2016-06-08 17:58] SDavisMedia commented on #3620
Payment export/import was smooth as well. There was a little confusion on some of the mapping. I'm sure it'll improve with tool tips but just to keep record, I'll explain below. This was a CSV from EDD core.

---

Starting the list with **Currency Code** and me not having anything for it was discouraging right out of the gate. I lost a little confidence in my ability to map properly (and that the

[2016-06-08 17:58] mintplugins opened #4665 "Improve UX for "Buy Now" setting"
Right now, if taxes are enabled or the payment gateway does not support "Buy Now", the Buy Now option disappears altogether. If the user doesn't have an understanding of that, they may be confused as to why the option doesn't show.

I would propose that, instead of making it disappear altogether, we grey the option out and leave a note (tooltip?) as to why it is disabled.

For context, here is the

[2016-06-08 18:08] adampickering commented on #3827
Would be great if we could get this into 2.7 :) 👍

[2016-06-08 18:14] adampickering opened #4666 "Feature Request: Shortcode [edd_login] - When the user logs in they get redirected to a defined page."
## How it currently works.

When a user logs into the site using the shortcode [edd_login] this is what happens.

![edd-login-no-redirect](https://cloud.githubusercontent.com/assets/746776/15905425/d27c46f0-2d82-11e6-95ee-c7920c6247e8.gif)

Its not pretty.

### What I'd like to see happen:

Inside of WordPress > Downloads > General Settings > Page Settings > Login Redirect

Display an option where

[2016-06-08 18:16] SDavisMedia commented on #4666
@adampickering I definitely love the idea of a page dropdown in admin. Much easier. You never replied in Slack when I asked if you knew about the `redirect` attribute, though. So just FYI, `[edd_login redirect="http://google.com/"] is totally legit.

[2016-06-08 18:23] michaelbeil commented on #4666
I like the idea of adding a login redirect to the settings panel.

[2016-06-08 18:28] mintplugins commented on #4650
Just tested this on my local MAMP in Paypal sandbox mode (not sure if that's the problem) but no customer was created.

[2016-06-08 18:58] pippinsplugins commented on #4625
Ok this is ready for testing.

It's a bit of a tricky one, so read / test carefully.

1. Start with a fresh store
2. Make a purchase
3. Add a new email to the customer created in step 2. Customer should now have two email addresses.
4. Make a second purchase using the _second_ email added to the customer
5. Export payment history
6. Reset store _or_ move to different fresh store
7. Import payment

[2016-06-08 19:03] pippinsplugins commented on #3620
1. Currency code: added to payment export.

2. Customer ID. This one is tricky. Most of the time it should not be mapped, but sometimes it needs to be. See https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4625. The main place it is needed is when going from EDD to EDD and customers are being imported that have multiple email addresses.

3. IP added to export.

4. Payment numbe

[2016-06-08 19:11] pippinsplugins commented on #4377
Suggestion fro, user:

[2016-06-08 19:18] pippinsplugins commented on #4666
I'm fine with adding a setting for this. Any value supplied by the shortcode should take precedence though.

[2016-06-08 19:20] mintplugins commented on #4625
When doing the mapping, I have the fields repeated 547 times :O

<img width="1437" alt="screen shot 2016-06-08 at 3 19 33 pm" src="https://cloud.githubusercontent.com/assets/1638128/15907770/7729f680-2d8c-11e6-9739-abe5155aec17.png">

[2016-06-08 19:23] SDavisMedia commented on #3620
Payment import affected by https://github.com/easydigitaldownloads/easy-digital-downloads/commit/195455b4d92c719114cdcc99efd82931fe45f75e

Haven't tested yet but I'd image the product import is affected as well.

![2016-06-08 at 12 21 pm](https://cloud.githubusercontent.com/assets/2359131/15907881/d2b13af4-2d73-11e6-8a8d-f5592322982f.png)

[2016-06-08 19:28] SDavisMedia commented on #3620
That fixed it. I'll go back and verify product earnings data preview is still good shortly.

[2016-06-08 19:33] mintplugins commented on #4625
Above issue resolved by turning SCRIPT_DEBUG on.

[2016-06-08 19:34] mintplugins commented on #4625
Tested Import successfully and it only created 1 Customer. The only issue I notice is that previously the Primary Email was the first one. Now the Primary email is the second one.

[2016-06-08 19:37] pippinsplugins commented on #4625
@mintplugins good catch on the primary email! I'll see if I can find a way to resolve that.

[2016-06-08 19:44] SDavisMedia commented on #3620
Payment import mapping is much better.

Not all of my payments imported successfully but I'm not sure why. I can't find several of the payment IDs in my history. I'm attaching the CSV file I imported.

[payments.csv.zip](https://github.com/easydigitaldownloads/easy-digital-downloads/files/305570/payments.csv.zip)

[2016-06-08 19:52] pippinsplugins commented on #4650
@mintplugins local won't work since it requires the PayPal IPN to be processed.

[2016-06-08 19:56] SDavisMedia commented on #3620
Maybe there's something up with my data. I remember this happening with my first round of testing some weeks back. Pretty sure @michaelbeil testing with my CSV and had the same issue. I'll need to test with new data.

[2016-06-08 20:25] michaelbeil commented on #3620
You are remembering correctly @SDavisMedia.

[2016-06-08 20:32] pippinsplugins commented on #4513
@sumobi could you please test this?

[2016-06-08 22:31] #4613 closed

[2016-06-08 22:32] #3338 closed

[2016-06-08 22:33] pippinsplugins commented on #3620
@SDavisMedia from that CSV, do you happen to know of at least one example that didn't import?

[2016-06-08 22:49] SDavisMedia commented on #3620
@pippinsplugins It's reeaaally hard to say because it's looking like the IDs aren't matching up either.

What I mean is the very first product, ID 7359, did not import. The first one to import was row 215, ID 6271. But the CSV file's information for 6271 does not match ID 6271 data in my system after the import.

So not only is it hard to tell what didn't import, it's also hard to tell if my impor

[2016-06-09 02:05] pippinsplugins commented on #3620
Note: IDs will not match before and after import.

What's the name of the product that didn't work?

[2016-06-09 05:33] SDavisMedia commented on #3620
Well I figured that was the case but then I wondered what's the point of mapping them? I guess for data relationship or something?

Anyway, again it's hard to say because some things are not matching. I simply can't tell what wasn't imported... I can only tell that the total number of records doesn't match up.

So let's look at the differences between one individual record that I've identified on

[2016-06-09 14:19] mintplugins opened #4669 "New filter hook for 'edd_price_options' classes"
I am proposing a new filter hook which would allow the adding/removing of css classes for the variable price div (edd_price_options).

I think if we set it up as an array it makes it easy to add/remove classes and then implode them upon output.

I am thinking we call the hook: "edd_price_options_classes" and pass the classes array and the download_id to the filter hook.

Here is a screenshot of th

[2016-06-09 14:30] shazahm1 commented on #4669
$css_classes should be sanitized before being output using [sanitize_html_class()](https://codex.wordpress.org/Function_Reference/sanitize_html_class).

[2016-06-09 14:31] mintplugins commented on #4669
@shazahm1 great catch - thanks!

[2016-06-09 14:32] pippinsplugins commented on #3620
@SDavisMedia There shouldn't be an option to map payment / product IDs. Can you show me a screenshot of the mapping?

1. Import order.

Looks like you didn't map the `Purchase Date`. If the purchase date is mapped, the order should be retained. I'm going to double check that we are importing them in the correct order--not immediately sure.

2. Taxes / discounts. I'm going to start testing!

[2016-06-09 14:44] pippinsplugins commented on #3620
Definitely found some problems.

The bottom four purchases were exported and then imported back in, so the bottom four should match the top four. The amounts are definitely wrong.
![screen shot 2016-06-09 at 9 43 44 am](https://cloud.githubusercontent.com/assets/1034109/15933802/c0beed60-2e26-11e6-9653-f9bac726b136.png)

[2016-06-09 14:46] pippinsplugins commented on #3620
@SDavisMedia you were correct about the export order. They were reversed.

[2016-06-09 16:09] pippinsplugins commented on #4625
@mintplugins This should work properly now. Can you test again please?

[2016-06-09 16:49] mintplugins commented on #4669
PR: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4670

[2016-06-09 17:13] pippinsplugins commented on #4650
I just tested this on a live site and confirmed it works as expected.

[2016-06-09 17:13] #4650 closed

[2016-06-09 17:24] mintplugins commented on #4625
Just re-tested this and now I get 2 different customers after import. Also, the payments that were "complete" are listed as "pending" after importing them.

[2016-06-09 17:25] mintplugins commented on #4625
<img width="755" alt="screen shot 2016-06-09 at 1 24 45 pm" src="https://cloud.githubusercontent.com/assets/1638128/15939416/9795af72-2e45-11e6-802b-dc5c969068a1.png">

<img width="759" alt="screen shot 2016-06-09 at 1 25 29 pm" src="https://cloud.githubusercontent.com/assets/1638128/15939431/a8b38be4-2e45-11e6-95e1-2b7b5fd5fe7d.png">

[2016-06-09 17:30] pippinsplugins commented on #4625
screenshot of field mapping?

On Thursday, June 9, 2016, Phil Johnston <notifications@github.com> wrote:

[2016-06-09 17:45] mintplugins commented on #4625
<img width="1225" alt="screen shot 2016-06-09 at 1 44 45 pm" src="https://cloud.githubusercontent.com/assets/1638128/15940071/5be31a84-2e48-11e6-8ad5-41e1cac0cbcc.png">

[2016-06-09 17:45] mintplugins commented on #4625
It may be worth noting that I deleted the original product and it does not exist before or after the payment import.

[2016-06-09 17:46] mintplugins commented on #4625
<img width="1425" alt="screen shot 2016-06-09 at 1 46 17 pm" src="https://cloud.githubusercontent.com/assets/1638128/15940122/93019b62-2e48-11e6-8d02-68b466d05300.png">

[2016-06-09 18:01] pippinsplugins commented on #4625
Did you test this on `issue/4625` branch?

[2016-06-09 18:04] mintplugins commented on #4625
Yes on 4625

[2016-06-09 18:51] pippinsplugins commented on #4641
This is now merged into `release/2.6`.

[2016-06-09 19:08] pippinsplugins commented on #4625
@mintplugins I just did it again and it worked properly.

Make sure you completely reset your store before doing the import.

[2016-06-09 19:10] cklosowski commented on #4035
Ok I've replicated this. It's simply a fact that we're not resetting query string parameters correctly.

[2016-06-09 19:27] pippinsplugins commented on #3763
This looks good to me, merged into `release/2.6`.

[2016-06-09 19:45] mintplugins commented on #4625
I hooked up a new database altogether and it created a single customer correctly. However, I noticed the payments are set as pending - is that by design?

[2016-06-09 19:52] pippinsplugins commented on #4625
Did you set the status column? What was the value of it?

They will be set to pending unless a different status is supplied with the import.

[2016-06-09 20:03] mindctrl commented on #4284
This issue was mentioned to one of our customers by Pagely again. The sessions are preventing her site from being cached.

[2016-06-09 20:05] mintplugins commented on #4625
I didn't map the "status" column no. I didn't realize that mapping was required. Looks good!

[2016-06-09 20:10] pippinsplugins commented on #4625
I'll make `Complete` the default.

[2016-06-09 20:19] #4625 closed

[2016-06-09 21:05] pippinsplugins commented on #4284
@mindctrl go ahead and show her how to exclude certain pages (such as home if possible) from starting caches.

[2016-06-09 21:23] SDavisMedia commented on #3620
My latest payment import attempt failed about a third of the way through. Here are the logged errors:

[code]

[2016-06-09 21:39] pippinsplugins commented on #3620
Another notice I'm seeing:
[code]

[2016-06-10 02:28] sumobi commented on #4513
@cklosowski I'm seeing these notices when defining a custom range

    PHP Notice:  Undefined index: range in wp-content/plugins/Easy-Digital-Downloads/includes/admin/reporting/graphing.php on line 274

    PHP Notice:  Undefined index: range in /wp-content/plugins/Easy-Digital-Downloads/includes/admin/reporting/graphing.php on line 292

[2016-06-10 02:36] cklosowski commented on #4513
Update incoming.

Chris Klosowski
cklosowski@gmail.com
@cklosowski

On Thu, Jun 9, 2016 at 7:28 PM, Andrew Munro <notifications@github.com>
wrote:

[2016-06-10 02:37] sumobi commented on #4513
From what I've tested all seems to be good so far

[2016-06-10 02:58] cklosowski commented on #4513
@pippinsplugins can you look at this too? @sumobi is getting those two notices above, however I'm not getting them. He's seeing it just by visiting the `Downloads > Reports`

[2016-06-10 03:13] sumobi commented on #4513
Fixed!

[2016-06-10 03:15] cklosowski commented on #4513
Merging into 2.6 and closing, then I'll get working on the #4035 fix with this rolled into it.

[2016-06-10 03:24] #4513 closed

[2016-06-10 15:43] pippinsplugins commented on #4513
:+1:

[2016-06-10 17:03] pippinsplugins commented on #3620
@SDavisMedia ready for another test!

[2016-06-10 22:58] cklosowski commented on #4035
@easydigitaldownloads/core-devs I've got a proposal as well as I do this. Do we think that we should extend the `day by day` reporting to a 3 month span? This would allow a `This Quarter` and `Last Quarter` report to show daily stats. Is that something we want to try?

[2016-06-11 03:08] mintplugins commented on #3516
Customer Ticker regarding this here:
https://secure.helpscout.net/conversation/213683592/36044/?folderId=180499

[2016-06-11 05:15] ericnicolaas opened #4673 "Allow new public API query modes to be added"
Currently, there is no easy way to add a new _public_ API endpoint (i.e. one that doesn't require API keys). I think there are valid reasons for wanting to add new public endpoints (one example below), and it makes sense to add that possibility when we can already declare new endpoints that are not public.

I have a working version of this and will put together a PR.

**Example where this would be

[2016-06-11 07:32] sunnyratilal commented on #4035
I think a `Day by Day` would be good

[2016-06-11 18:34] michaelbeil commented on #4035
👍🏼 for 'Day by Day'.

[2016-06-12 13:07] grappler commented on #4256
Jetpack uses this export script https://github.com/Automattic/jetpack/blob/master/tools/export-translations.php

[2016-06-12 15:54] cklosowski commented on #4256
Thanks will look into that this week. See if it's something we can use.

[2016-06-13 13:19] pippinsplugins commented on #3620
Looks like the email metadata isn't getting saved completely during import.

Payment History:

![screen shot 2016-06-13 at 8 18 50 am](https://cloud.githubusercontent.com/assets/1034109/16008836/8453e4c2-313f-11e6-9a2c-27c81139b50f.png)

Dashboard widget and error log:

![screen shot 2016-06-13 at 8 18 55 am](https://cloud.githubusercontent.com/assets/1034109/16008838/88149b9c-313f-11e6-84ef-92f88

[2016-06-13 14:09] pippinsplugins commented on #4284
WooCommerce 2.5 included a complete rewrite of their session manager. They originally used a very similar system to ours. Let's look at what they did to see if that will help.

https://woocommerce.wordpress.com/2015/10/07/new-session-handler-in-2-5/

[2016-06-13 14:14] brashrebel opened #4676 "Agree to Terms and direct purchase buttons"
Currently, the Agree to Terms feature allows for a checkbox to be added to the checkout form so that customer's cannot complete a purchase without acknowledging the terms defined by the store owner. However, this setting has no bearing when a purchase link is set to `direct="true"` which means the checkout screen is bypassed and the purchaser is sent directly to the payment gateway.

What if someo

[2016-06-13 14:27] pippinsplugins commented on #4676
Since buy now buttons are per-product, maybe it'd be better to handle this through https://github.com/easydigitaldownloads/edd-terms-per-product?

[2016-06-13 15:01] pippinsplugins commented on #4673
Oh, I love this!

I think we should go ahead and include this in 2.6.

[2016-06-13 15:48] brashrebel commented on #4676
That could make sense. It would likely solve most cases just fine. It seems like a very small problem for users who wish to use direct purchase links to then have to define their terms on a per-product level. A little hassle for them but not too bad.

[2016-06-13 20:26] pippinsplugins commented on #4035
This appears to have broken default report views:
![screen shot 2016-06-13 at 3 24 54 pm](https://cloud.githubusercontent.com/assets/1034109/16021975/3257242c-317b-11e6-8bc0-ecc7c15f92b6.png)

[2016-06-13 23:15] SDavisMedia commented on #4035
I was able to replicate but the fix is producing errors and no graph data for me:

![screen shot 2016-06-13 at 4 14 39 pm](https://cloud.githubusercontent.com/assets/2359131/16026267/0ce17646-3182-11e6-916d-e736ae563e33.png)

[2016-06-13 23:24] SDavisMedia commented on #4035
That fixed it. 👍  Looking good on my end.

[2016-06-13 23:25] cklosowski commented on #4035
Thanks @SDavisMedia

[2016-06-13 23:46] cklosowski opened #4678 "Use batch processing API to build our earnings graphs"
In order to improve the experience of sites with lots of sales data and make the line graphs more flexible for the data it can retrieve we should build the graphing system to use the AJAX Batch Processor. This will improve the overall performance of graphs with a large dataset, from the customer perspective as we won't be sitting there spinning (ending up with a possible timeout) but instead showi

[2016-06-14 00:08] cklosowski commented on #4256
@grappler This has the same problem, it's just a PHP script that pulls the same thing as the glotpress grunt task. Something is up with plugins not having any data in the `translation_sets`.

https://github.com/Automattic/jetpack/blob/master/tools/export-translations.php#L82

Since the API isn't returning any `translation_sets`, we have nothing to pull.

[2016-06-14 02:02] pippinsplugins commented on #4678
Yes! I think it's likely we will need to build a new version of the processing API instead of extending an existing one, but it'll be very, very similar.

This will let us build much, much better reporting :)

[2016-06-14 05:27] ericnicolaas commented on #4673
Updated PR with 2.6 for the `@since` tag.

[2016-06-14 07:46] fxbenard opened #4679 "[l10n] Translations for Categorie and Tag not showing in backoffice"
![2016-06-14_09-45-30](https://cloud.githubusercontent.com/assets/802114/16034962/cfce69ba-3214-11e6-95ee-f90120f7004b.png)

[2016-06-14 13:35] pippinsplugins commented on #4673
Thanks!

[2016-06-14 14:59] pippinsplugins commented on #4679
@fxbenard the text domains are set up:
[code]
See any reason they aren't being picked up?

[2016-06-14 16:23] pippinsplugins commented on #4035
This has somehow killed the `Estimated earnings` on graphs:
![screen shot 2016-06-14 at 11 22 54 am](https://cloud.githubusercontent.com/assets/1034109/16050731/5bf39b92-3222-11e6-9ebb-9d750aea4ed1.png)
It's not there anymore.

[2016-06-14 16:35] cklosowski commented on #4035
@pippinsplugins Strange, will look into that.

[2016-06-14 17:13] cklosowski commented on #4035
Should be fixed @pippinsplugins

![screen shot 2016-06-14 at 10 12 38 am](https://cloud.githubusercontent.com/assets/1390124/16052316/8dacae6c-3218-11e6-888a-101c2ff80288.png)

[2016-06-14 17:25] pippinsplugins commented on #4035
Looks good.

[2016-06-14 18:11] fxbenard commented on #4679
Really strange, I checked in the fr_FR file, translations are there.
I tried with Spanish same issue.

[2016-06-14 19:56] pippinsplugins commented on #4679
@fxbenard I pushed an update to the `pot` file today. Can you check and make sure you have the newest version?

[2016-06-14 20:26] pderksen opened #4682 "Special characters in email addresses do not allow 'Make Primary' link to work"
Just tested the new multiple customer email features in EDD 2.6 beta 2 on a staging site.

For me the "Make Primary" link doesn't work. It simply refreshes the page with the old primary email still set.

[2016-06-14 20:27] cklosowski commented on #4682
@pderksen are you using `WP_DEBUG`? I'm curious if the JS didn't get minfied.

[2016-06-14 20:28] cklosowski commented on #4682
Also, what interface were you using? The Admin interface or the Customer facing 'profile editor' interface.

[2016-06-14 20:31] pderksen commented on #4682
Nope. Just a simple staging copy of my live site on WP engine.

Using the admin interface.

![image](https://cloud.githubusercontent.com/assets/79667/16058630/3917e080-3234-11e6-9d5d-f55c4173db0c.png)

[2016-06-14 20:33] cklosowski commented on #4682
Ok I've just tried this out. It's working locally, I'm having no issues promoting an email address to primary within the admin. Are you seeing any errors in PHP error logs? Is this email address somehow attached to a different account or user somewhere?

[2016-06-14 20:38] pderksen commented on #4682
Looked at the link URL. It's the plus sign in the email that's causing it not to work. I use them a lot for testing.

Tried a dot instead of plus and the make primary link worked fine.

![image](https://cloud.githubusercontent.com/assets/79667/16058849/369b3bb2-3235-11e6-99fb-fd949f3206a4.png)

FWIW, when adding a new email, using a plus sign seemed to still work when checking the box "Make primar

[2016-06-14 20:39] cklosowski commented on #4682
@pderksen I use them too in the initial testing of this. I see it's now breaking it for some reason. I use them too all the time. I'll get that fixed up.

[2016-06-14 20:40] cklosowski commented on #4682
Renamed to show the specific issue.

[2016-06-14 20:42] cklosowski commented on #4682
Ok, verified that `%2B` instead of `+` makes this work. I'll work up a fix for this somewhoe.

[2016-06-14 20:47] pderksen commented on #4682
rawurlencode?

[2016-06-14 20:48] cklosowski commented on #4673
@easydigitaldownloads/core-devs This is pretty awesome, could you guys hit this up and just test the current API endpoints to make sure that things are still working as expected?

[2016-06-14 20:48] cklosowski commented on #4682
Well, the problem is that part of the data is already being encoded (see the `@`) symbol by wp core functions. We'll just have to be careful not to 'double encode'

[2016-06-14 21:20] cklosowski commented on #4682
@pderksen yep `rawurlencode` on the email prior to sending it over to the `wp_nonce_url` works, verified that we don't end up with any double encoding that breaks things.

[2016-06-14 21:31] brashrebel opened #4684 "Show error notice when attempting to update customer email to existing value"
If you edit a customer and enter an email address that already exists then hit the update button the previous value remains and no information is provided regarding the problem. We should display a simple error message informing the user that the email they entered is already in use on another customer record.

[2016-06-14 21:57] pippinsplugins commented on #4684
@brashrebel did you happen to test this on `release/2.6`? I don't believe this exists anymore with 2.6.

[2016-06-14 21:58] #4682 closed

[2016-06-14 23:06] fxbenard commented on #4679
Problem solved with the new version.

FYI: French 100% translated on translate.w.org

How is EDD doing on translate doing by the way?

[2016-06-15 01:24] Shelob9 opened #4685 "Cart keys are not exposed on cart hooks"
I am looking to add upsell links inside of the cart. I'm adding a link to change to a variable price with a higher price. `edd_checkout_cart_item_title_after` is the perfect hook for this, but it doesn't give me the cart key, which makes removing the currently selected price ID after adding the new price ID in my AJAX callback possible.

So I added the cart key to that hook, and will submit a PR i

[2016-06-15 01:54] mintplugins commented on #4684
Tested this on 2.6 branch and confirmed fixed.

It will gracefully give this error now:
"Email address is already associated with another customer."

For reference the ticket related to this is here:
https://secure.helpscout.net/conversation/214026581/36094/?folderId=180504

[2016-06-15 01:54] #4684 closed

[2016-06-15 02:33] pippinsplugins commented on #4679
Great!

Do you mean in terms of the number of other languages?

[2016-06-15 02:33] #4679 closed

[2016-06-15 02:34] pippinsplugins commented on #4685
Good idea!

We can include this in 2.6.

[2016-06-15 02:35] pippinsplugins commented on #4684
:+1:

[2016-06-15 07:00] fxbenard commented on #4679
Yes

[2016-06-15 16:43] #4685 closed

[2016-06-15 16:57] mintplugins commented on #4673
Tested all built-in endpoints and they all work properly:

Private (needs API key):
- stats
- sales
- customers
- discounts
- file-download-logs

Public:
- products

When adding the code (https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4674) for the versions endpoint it works publicly as well:

[2016-06-15 17:21] #4673 closed

[2016-06-15 17:41] cklosowski commented on #4603
Updated the Docs to reflect that the `id` field is going away, and moved the `customer_id` field to the first item in the values.

[2016-06-15 17:41] #4603 closed

[2016-06-15 18:09] michaelbeil commented on #4035
Works great!

[2016-06-15 18:10] #4035 closed

[2016-06-16 18:48] chriscct7 opened #4688 "Add ability to filter customers table by customer address"
The ability to filter edit.php?post_type=download&page=edd-customers&orderby=purchase_value&order=desc by customer location would be nice, even if its just by county then by province.

[2016-06-16 18:55] cklosowski commented on #4256
Found a few text domains that were still `edd`.

[2016-06-16 18:55] cklosowski commented on #4256
This should fix all the missing and incorrect Text domains. the Issue linked above by @mindctrl was fixed in a previous issue.

[2016-06-16 18:57] chriscct7 opened #4689 "Select box for customers has the wrong internal label"
![image](https://cloud.githubusercontent.com/assets/1324637/16129394/9ec5274a-33d2-11e6-9d78-b813004cdf83.png)

"Downloads" should be "customers"

[2016-06-16 18:58] cklosowski commented on #4689
We'll have to fake that placeholder like we did in other areas. Nice find.

[2016-06-16 19:00] cklosowski commented on #4666
Yes, agree with @pippinsplugins I love the idea of having a 'fallback' redirect page which can be overridden by the attr in the shortcode.

[2016-06-16 19:03] cklosowski commented on #4661
@sunnyratilal I'm going to milestone this for 2.7, if you get it done earlier, we can jump that up to one of the point releases for the `2.6.x` cycle.

[2016-06-16 20:56] cklosowski commented on #4256
Ok I think i found the URL to pull in translations:
https://translate.wordpress.org/api/projects/wp-plugins/easy-digital-downloads/dev, that will pull our dev translations into EDD Core.

[2016-06-16 21:41] cklosowski commented on #4256
Ok @grappler I've got the grunt task working, took a little bit to figure out how to make it work the way we wanted to, do we need to include the .po AND .mo files to make this work for you guys?

[2016-06-16 22:00] cklosowski commented on #4256
Actually, I would love it if @fxbenard and @grappler could explain exactly what we can do to help out here. What files do we need to include...what %'s do we need to include, etc.

[2016-06-17 03:24] pippinsplugins commented on #4519
Done.

[2016-06-17 03:24] #4519 closed

[2016-06-17 03:27] #4403 closed

[2016-06-17 15:22] jaredatch opened #4690 "System info always shows Must-Use Plugins section"
System Info report always shows Must-Use Plugins section due to a typo.

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/admin/tools.php#L649

`if( count( $muplugins > 0 ) ) {` should be `if( count( $muplugins ) > 0  ) {`

[2016-06-17 16:11] pippinsplugins commented on #4690
Good catch!

[2016-06-17 16:12] michaelbeil commented on #4690
Good catch @jaredatch!

[2016-06-17 16:51] #4690 closed

[2016-06-17 18:08] pippinsplugins commented on #3620
@easydigitaldownloads/core-devs could I get one more round of tests on this? Primarily want to verify my fix for the email issue above.

[2016-06-17 19:09] cklosowski commented on #4658
Ok, so in the case of Phil's situation above, the issue is that the item fee is reducing the price from `$10` to `$5`, however the tax being applied is `$2` or `20% of $10`. The problem is the item isn't costing the original `$10`, so the tax on the item shouldn't be `$2`, but `20% of $5` or `$1`, brining the total to `$6` instead of `$7`.

I think we need to make item specific fees affect the `su

[2016-06-17 19:17] pippinsplugins commented on #4658
I agree. Negative fees should apply before tax is calculated on the item, but only in the case that the fee is assigned to a download.

[2016-06-17 19:17] mintplugins commented on #4658
Yes I agree

[2016-06-17 19:17] cklosowski commented on #4658
Cool thanks guys. I'll get working on this then.

[2016-06-17 19:21] mintplugins commented on #4658
👍

[2016-06-17 20:06] pippinsplugins commented on #3198
Quick test on local showed this worked fine! I'm going to test further on EDD staging.

[2016-06-17 20:10] pippinsplugins commented on #3198
Looks good!

[2016-06-17 20:10] #3198 closed

[2016-06-17 20:32] pippinsplugins commented on #4638
Thanks for the report! We'll look into it and get it addressed soon after 2.6.

[2016-06-18 16:25] mintplugins commented on #3620
Just had a crash on import. 500 internal server error. Digging in to try and find the cause

[2016-06-18 16:33] mintplugins commented on #3620
Here is my error log (which I cleared prior to importing. These should all be related to the import.
[error-log-upon-import.txt](https://github.com/easydigitaldownloads/easy-digital-downloads/files/321846/error-log-upon-import.txt)

To confirm, I tested on branch issue/2.6 up to https://github.com/easydigitaldownloads/easy-digital-downloads/commit/27d96af946b3eb099ba1ca481731f52b43f970f5

[2016-06-20 14:26] pippinsplugins commented on #3620
@mintplugins could you test your same import again and let me know if the errors are gone?

[2016-06-20 15:03] pippinsplugins opened #4692 "Update payment export column names to match import"
To make export > import easier between EDD sites, the column names in the export CSV file should match the field names in the import process. Right now there are a few inconsistencies.

Note: this needs to be widely announced when we do it to help make sure users are aware of it in case they need to update any internal workflows.

[2016-06-20 15:03] pippinsplugins commented on #3620
See #4692 for future adjustments of column names.

[2016-06-20 15:09] mintplugins commented on #3620
Import worked flawlessly now! 👍

[2016-06-20 17:00] pippinsplugins commented on #3620
@mintplugins great!

I'm going to go ahead and close this as complete!

[2016-06-20 17:00] #3620 closed

[2016-06-20 20:37] cklosowski commented on #3113
Punting this from 2.6...I need to build a local docker container of the Travis Environment so I can mess with this to figure out why it'll pass locally, and not on Travis.

[2016-06-20 21:40] cklosowski commented on #4658
@mintplugins @pippinsplugins ok, test this out for me if you can with the latest commits. You won't hurt my feelings if this doesn't work perfectly, this was a pretty difficult thing to try and get working right. Please test it out with things that do fees on items and the overall cart.

[2016-06-20 22:02] cklosowski commented on #3733
@brashrebel @pippinsplugins @SDavisMedia my only concern here is that each different combination of extensions, order of the extensions listed, etc, can cause the URL being sent to the EDD site to be 100% non-cached. We should order these items alphabetically before we get them into the URL.

Currently each site hits the same endpoint, and is cached by our hosting provider. If we do this, I think

[2016-06-20 22:07] cklosowski commented on #3733
Another concern, which is _super_ edge case, is that URLs with over 2000 will fail to complete successfully, so we should make sure we detect that. I've looked and it'll take a TON of extensions to make this happen, but better safe than sorry.

As a note, although I have the above concerns, I _*super*_ love this idea.

[2016-06-21 06:01] SDavisMedia commented on #4641
This looks really good to me. Super helpful only when needed.

I don't particularly care for the inconsistency in how we write Ajax/AJAX here: http://glui.me/?i=jzrn68w3setx3kq/2016-06-20_at_10.54_PM.png/

Two periods at the end of the cart saving tooltip: http://glui.me/?i=0kjcza10cvpz7zp/2016-06-20_at_10.56_PM.png/

"Value" is spelled wrong in the File Download Limits tooltip: http://glui.me/?i=

[2016-06-21 13:50] pippinsplugins commented on #4666
PR looks good @crissoca, thanks! We'll test to confirm and then get this included shortly after 2.6.