[2016-01-14 16:47] cklosowski commented on #4157
Milestoning for 2.6 so we can make sure we're paying attention to it.

[2016-01-14 16:48] cklosowski commented on #4146
Since we have a PR, going to milestone for 2.6, we can punt if necessary, but I rather like this.

[2016-01-14 16:50] cklosowski commented on #4120
@bseddon Correct, we've never calculated tax on adding a download, it needs to be added into the arguments sent for the item. We played with this idea for 2.5 `EDD_Payment`, however since most interactions with adding items to a cart/payment were already calculating taxes we felt it was best to not interrupt that flow and change it.

[2016-01-14 16:51] cklosowski commented on #4104
@grappler, can you resubmit the PR towards master? now that 2.5 is out this should be fine to merge in.

[2016-01-14 16:55] cklosowski commented on #4067
@pippinsplugins I'm having a hard time remember, but didn't we make a conscious decision to only do `user -> customer` and _*not*_ `customer -> user` changes? There was a reason we left it out, I just can't remember.

[2016-01-14 18:47] bseddon commented on #4120
I don't follow your concern.  The item is being added on the view order page so surely EDD controls every aspect of the process to add an item include the function called to compute the tax and any parameters that function requires.  Is it not the case that this value can be computed in the same way it is computed when an item is added to the cart?  Granted the challenge will be to base the tax ra

[2016-01-14 18:52] bseddon commented on #4120
Do you know if it is possible to intercept the addition of a download using an action?  EDD is pretty rich with extension points in the backend maybe this is covered.  If so, I will be in a position to create an action or filter to compute the tax.

[2016-01-14 20:59] pippinsplugins commented on #4067
I'm not remembering a specific reason either.

[2016-01-14 22:55] pippinsplugins commented on #4190
:+1:

[2016-01-14 22:57] pippinsplugins commented on #4176
Are you seeing this happen with some custom code you're running or an extension?

[2016-01-15 00:06] mindctrl opened #4194 "Clicking Purchase button multiple times on checkout results in Empty Cart error"
If you click the purchase button on the checkout page multiple times, it results in an Ajax error stating `Error: Your cart is empty`. Then it reloads the checkout page and where you see an empty cart notice.

**The payment DOES go through.** Just once.

[Screencast](http://cl.ly/3Y1r0K1h2T3i).

Thoughts on preventing more than one click?

[2016-01-15 06:24] pippinsplugins commented on #4194
I thought we already blocked it. Let's make sure we are.

[2016-01-15 07:22] cklosowski commented on #2387
In an effort to get this on our radar, and if we can supply a fix for core, I am milestoning this for us to look at again.

[2016-01-15 07:27] cklosowski commented on #2897
I'm not sure a parameter on the shortcode itself makes sense...however I think something like viewing all purchases of a product by including a `download_id` as a query string item would make sense, so you'd have `purchase-history/?download_id=123` in the url, much like we do updating a recurring subscription or viewing a license management screen...is that meeting the needs?

[2016-01-15 07:30] cklosowski commented on #2917
This seems to be resolved in the current EDD. When clicking the `Add Rate` button, all index IDs are properly set.

[2016-01-15 07:30] #2917 closed

[2016-01-15 07:32] cklosowski commented on #2974
@pippinsplugins I know we want to get `EDD_Gateway` into either 2.6 or 2.7, I'm going to punt this to 2.7, and create an issue in 2.6 for `Create EDD_Gateway` then assign to you.

[2016-01-15 07:33] cklosowski opened #4195 "Introduce EDD_Gateway"
Much like in RCP and the 2.4 release of recurring payments, create a Base `Gateway` class for other gateways to extend.

[2016-01-15 07:36] cklosowski commented on #3042
:+1: to a cart class like `EDD_Cart` that would help solve this. Going to create this issue for 2.7, and milestone it and this.

[2016-01-15 07:37] cklosowski opened #4196 "Introduce EDD_Cart"
With `EDD_Payment` released, we should start looking into creating `EDD_Cart` which will help us start creating a universal way to interact with a cart, and do things like what's in #3042 to improve the performance of the `/checkout/` page.

[2016-01-15 07:59] cklosowski commented on #4196
closing as a duplicate of #2283

[2016-01-15 07:59] #4196 closed

[2016-01-15 08:00] cklosowski commented on #2283
With `EDD_Payment`, `EDD_Customer`, and `EDD_Download` done, I think we can move to `EDD_Cart` as the next major development improvement.

[2016-01-15 09:13] upsellpl commented on #4176
It happen in WP Tao (https://wordpress.org/plugins/wp-tao/) which is integrated with EDD. You can find the integration code inside includes/events/payment.php file.

[2016-01-15 16:50] mindctrl opened #4197 "UX improvements to customer details metabox on payment details"
Thinking about #4067 and customers who have asked me about how to move a payment from one customer to another led to thoughts on improving the customer details metabox on the payment details screen.

I've had customers ask me if editing the existing customer email and name is the proper way to do it. It's not. They need to create a new customer and assign it in the dropdown. One didn't even notice

[2016-01-15 17:50] pippinsplugins commented on #4197
I like the proposed change. One reason in particular: it makes it so the email address can be fully viewed and copied from the details screen now, which hasn't been possible since we changed it to a drop down.

[2016-01-15 17:52] cklosowski opened #4198 "Proposed improvements to Session Storage"
Spawned from PR #2831, this issue is here for an open discussion on how we should go about detecting session storage options. We currently use the Database to store sessions with the `EDD_Session` class to manage all this.

@pippinsplugins and @dannyvankooten, the floor is yours to discuss the proposal mentioned above.

[2016-01-15 18:19] pippinsplugins commented on #4195
The new `EDD_Recurring_Gateway` class is also going to be a good starting point.

[2016-01-15 18:42] mindctrl opened #4199 "Cart Widget doesn't show on checkout page when configured to do so"
Customer reported and confirmed locally.

`$instance['hide_on_checkout']` is always set [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/2.5.6/includes/widgets.php#L44), it's just empty.

[2016-01-16 13:41] felixarntz opened #4200 "Add support for fees that include taxes"
Currently one can only add fees that exclude taxes. The plugin does not support fees which include taxes, it basically overrides the global setting by adding a filter in `edd_get_cart_fee_tax()` for example.

I'm proposing to add support for fees that include taxes, just like we have for regular download products. I'm currently using a pretty hacky solution to (kind of) fix this problem (which I c

[2016-01-17 19:12] pippinsplugins opened #4203 "Add delete option to View Order Details screen"
At the moment there is no way to delete a payment from the `View Order Details` screen. When needing to delete a payment, this is really annoying.

[2016-01-18 01:50] pippinsplugins commented on #4200
@felixarntz I'm not clear what you mean by we don't support taxes on fees. When `no_tax` is set to `false`, tax gets added to the fees.

[2016-01-18 02:22] pippinsplugins opened #4204 "Expired / invalid license keys message should be shown to site administrators only"
The message about expired / invalid license keys is getting shown to non-administrators. It should really be limited to administrators only.

[2016-01-18 02:33] #4145 closed

[2016-01-18 02:54] pippinsplugins opened #4205 "Auto flush permalinks if we detect a 404 error on a post type or taxonomy page"
404 errors on post type and taxonomy pages are very common. The fix is usually to just refresh the permalinks. Today it occurred to me that we can actually programmatically fix these 404 errors immediately when they happen, potentially saving us a large number of support tickets.

My proposal is that we detect when a 404 error is thrown and then do a soft flush on permalinks if the 404 was on an E

[2016-01-18 03:03] SDavisMedia commented on #4205
This is dope. To test, I need a way to screw up the permalinks in a way that this will fix it on the fly. Any tips?

[2016-01-18 03:04] pippinsplugins commented on #4205
Comment out the flush rewrite in install.php, deactivate Easy Digitial
Downloads, refresh perms links, activate edd, go to category page. It
should auto redirect and fix itself.

On Monday, January 18, 2016, Sean Davis <notifications@github.com> wrote:

[2016-01-18 04:48] pippinsplugins commented on #4176
That's failing because `$payment_id` was not passed to `edd_get_payment_currency_code()`. See this line: https://plugins.trac.wordpress.org/browser/wp-tao/trunk/includes/events/payment.php#L83

[2016-01-18 05:12] corvannoorloos commented on #4145
Thanks!

[2016-01-18 09:04] upsellpl commented on #4176
Thx Pippin! So before EDD 2.5 that function returns default currency code and I assume it works correctly (it wasn't). I will fix that in WP Tao.

[2016-01-18 09:47] felixarntz commented on #4200
Yes, taxes on fees are supported, but they are always _added_ on top of the fee amount. I'm talking about the possibility to add fees where their taxes are automatically _included_ in the fee amount you specify. Similar like it is possible for regular products as well. Basically adding fee prices inclusive of tax. Right now we can only add fee prices exclusive of tax.

[2016-01-18 16:55] cklosowski opened #4208 "Add ABSPATH to system info"
In order to facilitate easier debugging on things like Software Licensing and what not, we should add the `ABSPATH` constant to the list of environment items in the system info.

[2016-01-18 17:46] pippinsplugins commented on #4208
:+1

On Tuesday, January 19, 2016, Chris Klosowski <notifications@github.com>
wrote:

[2016-01-18 21:44] cklosowski commented on #4187
This broke master...the values are all numerical, `Publish` has replaced `Complete`, and it's using the `post_status` value as the Display value:
![screen shot 2016-01-18 at 2 44 10 pm](https://cloud.githubusercontent.com/assets/1390124/12403563/f621edc2-bdf1-11e5-8bd1-b308268276c5.png)

![screen shot 2016-01-18 at 2 44 01 pm](https://cloud.githubusercontent.com/assets/1390124/12403566/fa94a9a8-bd

[2016-01-18 21:46] pippinsplugins commented on #4187
PR reverted.

[2016-01-18 21:46] cklosowski commented on #4187
#4209 was the PR to revert the original fix.

[2016-01-18 22:09] pippinsplugins opened #4210 "Download links give permission denied when qTranslate-X"
We've just had a customer report (and I replicated) that file download links break when the `qTranslate-X` plugin is activated, or at least causes the links to break when the language parameter is included in the URL.

qTranslate-X is apparently a new version of qTranslate: https://wordpress.org/plugins/qtranslate-x/installation/

We previously fixed this conflict in https://github.com/easydigital

[2016-01-18 22:11] pippinsplugins commented on #4210
@mindctrl Think you could work on this? Fix should be nearly identical to previous fix.

[2016-01-18 22:58] cklosowski opened #4211 "Extensions tab with no legacy extensions looks off"
When you are viewing the new Extensions tab, with only extensions that support subsections it looks a little weird to have a main:

![screen shot 2016-01-18 at 3 56 17 pm](https://cloud.githubusercontent.com/assets/1390124/12404815/3641d098-bdfc-11e5-8c60-e9bc360bbf1b.png)

We should look at hiding that save button or simlar if we're on a main without any settings.

[2016-01-19 00:29] amdrew opened #4212 "Update "Total Price" when processing a partial refund via PayPal"
When you process a partial refund via PayPal, EDD stores a note:

`Partial PayPal refund processed: 6JB969994H600144H`

It would be great if EDD could then update the `Total Price` to reflect the partial refund.

[2016-01-19 04:14] pippinsplugins commented on #4212
:+1:

[2016-01-19 06:30] pippinsplugins commented on #4211
How about defaulting to the first sub section and not showing `Main`?

[2016-01-19 08:34] pippinsplugins commented on #4146
I like this.

[2016-01-19 16:45] stevenbhn opened #4213 "Empty Cart after clicking purchase link"
We are having an issue (since most recent update) where a few particular downloads, when the purchase button is clicked, goes to an empty cart page. Sometimes these work and sometimes they don't. We have disabled all caching plugins, tested on several machines and all major browsers and the issue persists. We have not added any other plugins and the edd plugin has worked fine for us for a few year

[2016-01-19 18:35] felixarntz opened #4214 "Typo in `EDD_Payment`"
line 803 `$chnage`

[2016-01-19 18:38] pippinsplugins commented on #4213
Steven,

That line for wp-config.php should be `define('EDD_USE_PHP_SESSIONS', false);`

Also, let's please continue this through the support ticket that you opened. Github is for development tracking only, not support.

[2016-01-19 18:38] #4213 closed

[2016-01-19 18:45] felixarntz opened #4216 "Introduce a new filter `edd_recalculate_total()`"
For a current project, I'm in need of a filter like `edd_recalculate_total` which would be run in the method of the same name in `EDD_Payment`. I have built some custom logic concerning prices and I need to be able to adjust the way the total amount is calculated.

I'm proposing something like this (in `EDD_Payment`):

[code]

With the payment object as parameter, one would have access to everythi

[2016-01-19 18:51] cklosowski commented on #4216
@felixarntz The idea behind the recalculation being private is that it's not able to be modified.

If you need to modify the end result of the total of the payment, you should be modifying the prices of the items on the payment itself, not modifying the total. This could lead to differences in the stats you see in total earnings and product sales earnings. The end `total` of a payment is a sum of

[2016-01-19 18:53] cklosowski commented on #4216
I'm not opposed to a way to do this, i'm just not sure it's entirely sure it belongs in the `recalculate_total` method. Could it possibly live inside the `save` or something of the likes?

[2016-01-19 19:01] felixarntz opened #4217 "Consider adjusting `EDD_Product_Details_Widget`"
In the `form()` method of the widget `EDD_Product_Details_Widget` a query for all downloads is being made.

It might be an edge-case, but I have a client site where there are a lot of downloads, and this query breaks the site there because of a memory limit issue. I actually don't need this widget there, so I simply unregistered it, but I wonder if it would be possible to bypass this query. Maybe

[2016-01-19 19:19] felixarntz commented on #4216
@cklosowski the reason I need to do this is actually described more precisely in #4200. I need to be able to define fees with taxes where the taxes are included _in_ the amount that I give the fee. EDD currently does not allow that, so I used some filters to create a kind of hacky solution - it's not nice, but it works for my cause. The filter I mention above is the only thing that is missing for

[2016-01-19 19:20] #4214 closed

[2016-01-19 19:20] pippinsplugins commented on #4214
Thanks!

[2016-01-19 19:24] pippinsplugins commented on #4216
Both sides are valid.

I _think_ I'm okay with adding the filter. Anyone that uses it assumes all responsibility for discrepancies it may cause to stats. As long as we're okay with that, I vote we add it.

[2016-01-19 19:25] topher1kenobe opened #4218 "SiteOrigin Pagebuilder causes unexpected output in [downloads] shortcode"
Causes line breaks to be inserted between pagination links on the [downloads] shortcode

[2016-01-19 19:32] felixarntz commented on #4216
Pull-request in case it's approved...

[2016-01-20 06:01] amdrew opened #4220 "Keep data when switching payment methods at checkout"
Can't find an issue for it but when switching payment methods on the checkout page you shouldn't lose your details entered. Switching the payment method should only update the relevant input fields, no need to touch Personal Info etc.

[2016-01-20 06:03] pippinsplugins commented on #4220
Let's see if we can get this in 2.7

[2016-01-20 07:18] pippinsplugins commented on #4217
Duplicate of #3177

[2016-01-20 07:18] #4217 closed

[2016-01-20 14:04] gregpriday commented on #4218
Let me know if you guys need any help on this, or if there's anything we need to fix in Page Builder.

[2016-01-20 22:40] cklosowski opened #4222 "edd_download_files stores the HTTP scheme in the database"
If you have a site that's HTTP, then setup a download, and then add an SSL full time to the site and you'll get a mismatch issue on the download, reported here:
https://secure.helpscout.net/conversation/162223800/25756/?folderId=375162

[2016-01-20 23:48] cklosowski commented on #4216
Ok, thanks for the PR. I see both sides, and while i'm not a fan of dropping a filter on a private method, I think the justification for lack of needs is there in the Fees class.

Also I see that Its not effectivly altering the total, but altering the values within the object, so the proper subtotals, taxes, and fees are applied.

Thanks for explaining your needs @felixarntz

[2016-01-20 23:49] #4204 closed

[2016-01-20 23:50] #4199 closed

[2016-01-21 00:04] cklosowski commented on #4112
Looks good to me, tested out the forms, nothing seems to break on our end. None of the `p` tags had classes so we weren't targeting them.

[2016-01-21 00:06] cklosowski commented on #4112
Merging and closing out.

[2016-01-21 00:06] #4112 closed

[2016-01-21 00:12] corvannoorloos commented on #4112
Thanks!

[2016-01-21 00:55] pippinsplugins commented on #4216
Let's leave this open for a bit, I may have reversed my opinion.

[2016-01-21 00:57] pippinsplugins commented on #4218
Thanks for the help offer @gregpriday !

[2016-01-21 03:43] cklosowski opened #4223 "Add a method in EDD_Payment for making as refunded"
We currently have a method of marking a payment as complete, but the other action that has the most hook points is a 'refund'.

We need to add a refund_payment method in `EDD_Payment` to allow for extensions to easily hook when a refund is being processed.

[2016-01-21 03:46] sumobi opened #4224 "Detect when a template file has been modified between EDD versions"
We should detect when EDD template files have changed between versions and then show this in the system info.

Pippin suggests storing a MD5 hash, and then comparing this with new template files. This way we can easily inform customers in support (or they can see themselves) that "something" changed. We can then inform them to compare the new template files with their versions and hopefully fix th

[2016-01-21 05:17] pippinsplugins commented on #4224
This could be immensely helpful when working with customers on features that are directly related to a template file.

[2016-01-21 05:20] pippinsplugins commented on #4222
Good catch!

What about removing the protocol during the download process?

[2016-01-21 17:08] spencerfinnell commented on #4224
Please don't put a huge "everything is probably broken" notice in the admin if a version is off like WooCommerce does.

[2016-01-21 19:52] pippinsplugins commented on #4224
Definitely not. We're thinking of just showing a line on the System Info that indicates which files are changed.

[2016-01-21 21:27] christ0ph3r opened #4226 "Updating _edd_payment_meta mysql data causes blank fields in order details"
I am trying to work on localhost and ran into an issue after doing string and replace on URLS in mysql.

[code]

I then went to payment history and clicked an order.  The order detail fields are now blank.

![selection_038](https://cloud.githubusercontent.com/assets/5915361/12495024/2df1973c-c042-11e5-9445-eeb2dcb73977.png)

I can make new payments and the data shows up in the fields. I then teste

[2016-01-21 21:34] mindctrl commented on #4226
@christ0ph3r you'll need to use a tool that searches and replaces serialized values. Try https://github.com/interconnectit/Search-Replace-DB or https://wordpress.org/plugins/better-search-replace/.

For question like this, feel free to open a support ticket at https://easydigitaldownloads.com/support/. We handle support there and development issues here.

[2016-01-21 21:34] #4226 closed

[2016-01-21 22:27] mindctrl opened #4227 "Bug in edd_download_redirect_to_checkout filter implementation"
When using the filter [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/f2f1f7db7322f5abe2d5900be0c40895978aed21/includes/template-functions.php#L211) to control the redirect behavior of a single product, it doesn't work because the JS depends on  `edd_scripts.redirect_to_checkout` being set [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/2.5.6/a

[2016-01-22 00:51] pippinsplugins commented on #4223
@cklosowski I get `refund failed` when trying to refund a payment now: https://cloudup.com/cRcPQPzwpNh

[2016-01-22 00:52] pippinsplugins commented on #4223
Ok actually looks like the refund processed but it showed the wrong admin notice.

[2016-01-22 00:53] cklosowski commented on #4223
I got the proper notice in admin, I'll try again.

[2016-01-22 00:53] pippinsplugins commented on #4223
Just tried it again. It refunded fine but I get an undefined index now:

Notice: Undefined variable: message in /Users/pippinwilliamson/Sites/trunk/wp-content/plugins/edd-recurring/includes/admin/class-admin-notices.php on line 53

[2016-01-22 01:34] #4208 closed

[2016-01-22 03:14] pippinsplugins commented on #4200
Ah! That makes more sense, thanks :)

[2016-01-22 05:12] christ0ph3r commented on #4226
Thank you for pointing me in the right direction.  I did not know about this.  I thought this was a bug so thats why I posted here.  Both of these tools work well.

[2016-01-22 11:29] flowdee commented on #4105
Do you want to give me a tip which place would be the best to save the tax rate to the payment meta? Then I'm going to take a look and create a pull request.

If you think it's a bit complicated then I'm going to wait :smile:

[2016-01-22 15:45] fxbenard opened #4230 "Wrong currency in [purchase_history]"
Some $ are showing up and I use €

Same in product details

http://d.pr/i/12YaI

[2016-01-22 17:27] mindctrl opened #4231 "Settings subsection ordering"
Consideration for enhancement:

When viewing the extensions tab, having the subsections ordered alphabetically would make it a little easier to quickly find what you're looking for.

![image](https://cloud.githubusercontent.com/assets/1254870/12517857/0d598662-c103-11e5-91fb-ae2e6d04a9f6.png)

If we could order those alphabetically, but leave Main in the front, it would be nice.

I don't know if w

[2016-01-22 17:53] cklosowski commented on #4223
@pippinsplugins this was a bug in recurring, I found it and fixed it in `issue/203` of recurring

[2016-01-22 18:10] davekiss commented on #4109
Finally concluded this yesterday too, but my issue is just a tad different because my uploads live outside of the document root. The issue [also appears in EDD Software Licensing.](https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/269)

My downloads are breaking because EDD and EDD Software Licensing both [resolve a realpath to the plugin file](https://github.com/easydigitaldow

[2016-01-22 18:13] pippinsplugins commented on #4230
Do you use any of the multi currency plugins or did you change the currency of your site?

[2016-01-22 18:24] pippinsplugins commented on #4223
:+1:

[2016-01-22 18:26] cklosowski commented on #4109
@davekiss That makes sense. We have some other issues with symlinked resources within EDD as well that we're trying to resolve.

thanks for this detailed findings.

[2016-01-22 18:37] SDavisMedia commented on #4231
I agree with the suggestion here.

[2016-01-22 18:44] pippinsplugins commented on #4105
It should get stored in it's own row.

[2016-01-22 18:49] fxbenard commented on #4230
No plugin at all! Just the regular settings.

The last update seems to be the culpit. Currency setting was reinitialized without notice. Putting back € seems to solve the issue everywhere.

[2016-01-22 20:29] mindctrl opened #4232 "Improve category and tag taxonomy labels"
We've seen this confusion quite a bit. The labels for categories and tags are simply "Categories" and "Tags". This causes confusion in places like the menu editor, where you can't tell the difference between the core categories and tags for posts and the ones for downloads.

[2016-01-22 20:35] mindctrl commented on #4055
We've been asked for this same feature on the Downloads > Customers screen. If there's any interest in that, we can generalize it here or create another issue.

[2016-01-22 20:47] mindctrl opened #4233 "Settings location for email receipt template and preview/test buttons"
A customer pointed this out.

With the addition of subsections in #4058, the placement of Email Template, Logo, and Preview buttons seems to disconnected from where they go. They're related to the purchase receipt, but they show in the first Email Settings section instead of the Purchase Receipts section. Should we move them to the Purchase Receipts section?

[2016-01-22 20:49] mindctrl commented on #4120
We've had another request to control the tax on line items when adding new items to an existing payment.

[2016-01-22 21:13] spencerfinnell commented on #4232
:+1: Also confusing in plugins like FacetWP where you are presented with lists of all registered taxonomies.

[2016-01-22 22:44] SDavisMedia commented on #4205
Okay `issue/4205` is working for me but I want to make sure another step I added isn't the case.

I did everything mentioned above but after refreshing permalinks, I also deleted all transients. With those steps, on `master`, I could trigger the 404 as expected. On `issue/4205`, it worked (no 404) as expected.

So as long as deleting all transients doesn't bork the test, this is working.

[2016-01-22 23:01] SDavisMedia commented on #4013
This isn't ready for testing yet. https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4014

[2016-01-23 07:37] pippinsplugins commented on #4205
Deleting transients will not bork the test :)

[2016-01-23 08:16] pippinsplugins commented on #4233
Whoops. Yes, I think we should move them.

[2016-01-23 08:33] pippinsplugins commented on #4232
If I recall, they're named as `Categories` and `Tags` because that's what we want them to show as under the Downloads menu. I don't believe there's a way to change the label elsewhere but leave it there.

[2016-01-23 08:34] pippinsplugins commented on #4231
I agree. That would be nice.

[2016-01-23 09:07] pippinsplugins commented on #4055
If we do it on one screen, I vote we do it on all of them. Updating issue title to be generalized.

[2016-01-23 14:33] spencerfinnell commented on #4232
'menu_name' - the menu name text. This string is the name to give menu items. If not set, defaults to value of name label.

https://codex.wordpress.org/Function_Reference/register_taxonomy

[2016-01-23 16:07] brashrebel commented on #4035
Just encountered a similar problem with a customer. Could be related though I'm unable to replicate currently. Here's the screenshots they provided:
![ss](https://cloud.githubusercontent.com/assets/4993131/12531121/4960cb66-c1c1-11e5-9f04-1c182579ea1e.jpg)
![ss2](https://cloud.githubusercontent.com/assets/4993131/12531120/495f59fc-c1c1-11e5-9cb6-f27e2faca568.jpg)
![ss3](https://cloud.githubusercon

[2016-01-23 19:16] michaelbeil commented on #4231
That'd be great.

[2016-01-23 19:18] SDavisMedia commented on #3754
Themes overriding the edd.css file or themes/plugins attempting to correct the checkbox/label layout with CSS or using the wrong structure:

- [ ] Digital Store

[2016-01-23 19:52] SDavisMedia commented on #3754
@easydigitaldownloads/core-devs I've checked every EDD theme I have installed (all of the popular ones) as well as everything I know of that adds a checkbox and label above the purchase button on checkout. The Agree to Terms elements and newsletter elements are all I'm tracking. Anything else? Testing is appreciated.

Also, there were "tax optin" checkbox/label styles in the CSS file. Research say

[2016-01-23 19:55] SDavisMedia commented on #3754
Cc: @spencerfinnell

[2016-01-23 19:55] spencerfinnell commented on #3754
Can these be wrapped in a `div` too? They are already siblings of a `div` so shouldn't affect any existing stuff.

And a class with dashes if I'm being picky (which I am)

[2016-01-23 20:14] SDavisMedia commented on #3754
@spencerfinnell it doesn't appear to affect anything else. Try that.

[2016-01-23 20:47] SDavisMedia commented on #3792
Added some missing semicolons (good practice no matter what), shortened just a few redundant property values, and restructured a bit so it's easier to scan/read.

[2016-01-23 21:01] grappler commented on #4104
I have resubmitted the PR.

[2016-01-23 22:06] pippinsplugins commented on #4232
Oh fantastic. I forgot that existed.

I vote we make `menu_name` `Categories` and `Tags` but change the others to `Download Categories` and `Download Tags`.

[2016-01-23 22:15] pippinsplugins commented on #3792
Looks good @SDavisMedia. Please go ahead and submit the PR.

[2016-01-23 23:03] SDavisMedia commented on #3792
I combined this with another issue by accident. But they could actually go together given they edit the edd.css file.

PR sent to `master`. It's combined with https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3754 which is ready for review as well. In my opinion, they could both go in the next point release with no issues.

[2016-01-24 08:02] pippinsplugins commented on #4035
@brashrebel I believe that screenshot is from @fpcorso (the customer that opened the ticket and this issue) :)

Definitely something weird here.

@fpcorso @brashrebel can you identify any particular point that breaks it? For example, does December - February work? If so, what about November - February? Does it always break when crossing year boundary?

[2016-01-24 08:13] pippinsplugins commented on #4230
Hmm, I can't think of any reason that would have changed . . .

[2016-01-24 12:05] brashrebel commented on #4035
@pippinsplugins actually these screenshots were from a totally different customer. I can ask them to try different date ranges.

[2016-01-24 16:20] mgibbs189 opened #4236 "Editing Purchased Downloads does not save in certain scenarios"
Let's say I have a product with 2 price variations:

[code]

A user purchases the Basic license. Shortly afterwards, an admin wants to upgrade their license to Professional for free.

On the payment detail screen, the admin removes the Basic item from the `Purchased Downloads` box, replacing it with Professional (with `Item Price = $10`).

After saving, the `Purchased Downloads` box reverts to sho

[2016-01-24 17:50] pippinsplugins commented on #4236
I've replicated and confirmed the bug.

[2016-01-24 18:08] mgibbs189 commented on #4236
Thanks Pippin.

On further investigation, it looks like the **last items** are always the ones that get removed. For example, if a purchase includes the following items (variations):

[code]

and I try removing `B` and `C`, the list looks like this after saving (bad):

[code]

instead of this (good):

[code]

Does that make sense?

[2016-01-24 18:18] pippinsplugins commented on #4236
Yes it does. We'll get it fixed up asap!

[2016-01-25 13:21] etruel commented on #4055
Hi, I'm not pretty sure about it's relevant but may be help.
I have this code in my functions for customers and Software licenses I just tweak the originals (every time that update)
[code]

[2016-01-25 13:53] mgibbs189 opened #4237 "Suggestion: store EDD stats into a custom table"
Hey guys,

I've noticed that, between `_edd_transient_edd_stats` and `_edd_transient_timeout_edd_stats`, over 5000 rows are being added to the options table (on a relatively small site).

This might be a good fit for a custom stats table (or maybe just a custom transients table). I'd imagine it would be a lot more efficient if the timeouts were stored alongside the data.

[2016-01-25 16:49] SDavisMedia opened #4238 "accepted payment method icons need transparent backgrounds"
Right now, the .gif files actually appear to be icons with a white background. The icons have rounded corners so the white background pokes through on all four corners. That's no good from a designer's perspective.

Excuse the ugly screenshot but you can see it here in the dashboard settings:

![screen shot 2016-01-25 at 8 48 20 am](https://cloud.githubusercontent.com/assets/2359131/12557598/7b5e8

[2016-01-25 17:54] cklosowski commented on #4238
:+1: might be nullified once #2717 (and dashicons for that matter) is figured out but this is a good short term solution

[2016-01-25 17:54] cklosowski commented on #4238
@SDavisMedia can you do this? I don't have a Creative Suite license anymore, just have Illustrator.

[2016-01-25 18:07] cklosowski commented on #4205
@SDavisMedia nope no borking there, it just simply let you test multiple times without having to wait 12 hours. Thanks.

[2016-01-25 18:08] #4205 closed

[2016-01-25 18:59] cklosowski commented on #4236
@mgibbs189 I tested this out, and I had 6 products on a payment:
![screen shot 2016-01-25 at 11 53 21 am](https://cloud.githubusercontent.com/assets/1390124/12560904/6e80057a-c35a-11e5-954f-bb2b4c7431eb.png)

Then went and removed the 2nd and 3rd items, and saved, and this was the result:
![screen shot 2016-01-25 at 11 54 26 am](https://cloud.githubusercontent.com/assets/1390124/12560920/7e53ca9a-

[2016-01-25 19:02] mgibbs189 commented on #4236
@cklosowski No, I'm not using Software Licensing.

In my example above, `A, B, C, D, and E` are all the same product, just different variations.

[2016-01-25 20:19] pippinsplugins commented on #4205
:D

[2016-01-25 20:29] SDavisMedia commented on #4238
Sure thing... anyone know where we got the icons from? They might just need to be replaced unless we have some files somewhere.

[2016-01-25 20:53] pippinsplugins commented on #3754
Merged in but open for final testing.

[2016-01-25 20:53] #3792 closed

[2016-01-25 21:08] pippinsplugins commented on #4237
@mgibbs189 Are your transients not getting replaced or deleted automatically? We only have a few different transients that we use for stats so there shouldn't be anywhere near that number left over in the DB.

[2016-01-25 23:06] cklosowski commented on #4238
the files are in the repo, https://github.com/easydigitaldownloads/Easy-Digital-Downloads/tree/master/templates/images/icons

[2016-01-25 23:09] cklosowski opened #4239 "Added option to show image in details widget"
As originally proposed in #4221, this is an issue for it so we can work on it in an issue branch instead of PR, to help with the tests and any further development needed on it.

[2016-01-25 23:13] cklosowski commented on #4239
Just waiting on a PR against this new issue branch `issue/4239` to clean up the unit tests.

[2016-01-25 23:14] cklosowski commented on #4236
Oh, cool thanks @mgibbs189 I'll test out with that. Appreciate you getting back to me.

[2016-01-25 23:30] cklosowski commented on #4236
Confirmed, thanks @mgibbs189 I'll work up a fix for it.

[2016-01-25 23:35] SDavisMedia commented on #4238
@cklosowski Not sure what's important about those files. Editing them to cut the white corners is probably not the best route, if that's what you're implying. Should be a last resort. I'll shoot for a better solution and only do that if it comes down to it.

[2016-01-26 00:37] pippinsplugins commented on #4035
Cool, that would be great!

[2016-01-26 00:45] pippinsplugins opened #4240 "Product search on Export Customers to CSV brings up customers, not downloads"
The `Export Customers to CSV` option lets you export the customers of a specific product to a CSV file. When searching for a product, however, it is returning search results of customer emails, not products.

[2016-01-26 15:47] cklosowski commented on #4238
Ok perfect. I assumed that would be the easiest method.

[2016-01-26 15:48] spencerfinnell commented on #4070
Just a note of another customer confused by this. Glad to see it in 2.5.8! :) I'll try to get a PR out if I can.

[2016-01-26 16:45] cklosowski commented on #4236
I think this is a bug in the `EDD_Payment` class, I'm going to add a unit test for this specific scenario and see where it goes.

[2016-01-26 17:06] mindctrl opened #4242 "Allow access to .jpeg files in .htaccess rules"
We allow access to `.jpg` files in the protected directory rules, but not .jpeg files. [Reference](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/2.5.6/includes/admin/upload-functions.php#L153). I've seen this cause problems several times for folks uploading `.jpeg` files.

Let's add `.jpeg` to the allowed filetypes.

[2016-01-26 18:18] cklosowski commented on #4236
@mgibbs189 can you test out `issue/4236` for me see if that resolves the issue you're seeing?

[2016-01-26 18:19] cklosowski commented on #4236
I added a few unit tests to verify removing via price_id and index were correct.

[2016-01-26 18:29] cklosowski commented on #4236
Just realized that we have to be sure the `cart_details` index doesn't change as there are items that rely on this data, correct @pippinsplugins? So even when removing a download, the `cart_index` keys have to remain as they were, so that the indexes still align.

[2016-01-26 18:34] mgibbs189 commented on #4236
@cklosowski Sure, testing now...

[2016-01-26 18:41] mgibbs189 commented on #4236
@cklosowski Doesn't quite work. Screencast: http://d.pr/v/10eYF

Notice how the items re-order on save. Towards the end, I try deleting the $10 item. Notice how it still remains after save.

[2016-01-26 18:46] cklosowski commented on #4236
Pulled my latest? I found I can't reorder the `cart_details`

[2016-01-26 18:48] cklosowski commented on #4236
@mgibbs189 Ok, I think I see where it's going wrong now...seems that I need one more check, it's finding the ID and the price ID in there, which are now the same as you've added the same price point multiple times, need to verify the 'amount' too.

[2016-01-26 18:50] mgibbs189 commented on #4236
@cklosowski Yep, I'm at 009656c - let me know when you need some re-testing

[2016-01-26 18:51] cklosowski commented on #4236
Yeah writing up another unit test to test multiples of the same Price ID but with amounts to identify those.

[2016-01-26 19:19] cklosowski commented on #4236
@mgibbs189 try with the latest push?

[2016-01-26 19:23] mgibbs189 commented on #4236
@cklosowski Works :+1:

[2016-01-26 19:51] pippinsplugins opened #4244 "Incorrect item price stored in sale log when adding new download to payment"
When adding new downloads to a payment record, the item price is sometimes stored incorrectly. I believe it is limited to items with variable prices.

This item has variable prices of $10 and $20. The $20 (price ID 2) option was added to the payment and saved:
![screen shot 2016-01-27 at 8 48 18 am](https://cloud.githubusercontent.com/assets/1034109/12592817/f84e0d32-c4d2-11e5-88f8-ad5d0c8f252c.pn

[2016-01-26 19:55] pippinsplugins opened #4245 "Recalculate Totals button ignores quantities"
When adding new items to payment records, the `Recalculate Totals` button is shown and automatically updates the total amount on the payment record based on the item amounts and quantities.

If an item is added with a quantity greater than one, only the amount of a single item is included in the recalculation.

This should have recalculated as $68 but since it ignored the 2x on the $24 item, the t

[2016-01-26 19:57] pippinsplugins commented on #4245
Ah, small nuance. The quantities are only ignored on freshly added items that have been added but not saved. After the payment has been saved, recalculating includes quantities as expected.

[2016-01-26 19:58] pippinsplugins commented on #4244
My guess is this is due to the price ID being incorrect in `edd_record_sale_in_log( $item['id'], $this->ID, $price_id, $log_date );` during the `save()` method.

[2016-01-26 19:58] pippinsplugins commented on #4236
All works great for me!

[2016-01-26 19:58] #4236 closed

[2016-01-26 20:01] mgibbs189 commented on #4237
@pippinsplugins That's a possibility. I'll manually flush transients and keep an eye on the table. Will re-open this ticket if necessary.

Thanks

[2016-01-26 20:01] #4237 closed

[2016-01-26 20:20] pippinsplugins commented on #4070
:+1:

[2016-01-26 20:33] pippinsplugins commented on #4242
:+1:

[2016-01-26 20:57] fxbenard commented on #4230
Me either but it happened. Let's close ans stay aware

[2016-01-26 20:57] #4230 closed

[2016-01-26 21:26] pippinsplugins commented on #4237
:+1:

[2016-01-27 00:06] sumobi opened #4246 "PHP Notice: Undefined variable: file_path"
When using Free Downloads with EDD I'm seeing this notice when downloading the file.

    PHP Notice:  Undefined variable: file_path in /wp-content/plugins/easy-digital-downloads/includes/process-download.php on line 203

Possibly related:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4113
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3286
https://gi

[2016-01-27 01:08] pippinsplugins commented on #3788
Let's get this in for 2.5.8

[2016-01-27 02:13] cklosowski commented on #4236
thanks @mgibbs189 and @pippinsplugins

[2016-01-27 02:14] cklosowski commented on #4245
:+1: thanks for that info @pippinsplugins

[2016-01-27 02:40] cklosowski commented on #4245
This seems to be working fine for me on master:
![screen shot 2016-01-26 at 7 39 22 pm](https://cloud.githubusercontent.com/assets/1390124/12602203/a2d1a5da-c464-11e5-94ad-94883176a1a4.png)

![screen shot 2016-01-26 at 7 39 39 pm](https://cloud.githubusercontent.com/assets/1390124/12602207/ac19093a-c464-11e5-8f07-b603cdb82c94.png)

![screen shot 2016-01-26 at 7 39 44 pm](https://cloud.githubuserco

[2016-01-27 02:45] cklosowski commented on #4245
I think the issue is actually in the display. If I actually add items it works correctly and the reacalculation works, but as soon as I save...the line items change:
Before hitting update:
![screen shot 2016-01-26 at 7 44 26 pm](https://cloud.githubusercontent.com/assets/1390124/12602291/44a0cf30-c465-11e5-884a-2d481cda6bf0.png)

![screen shot 2016-01-26 at 7 44 28 pm](https://cloud.githubusercont

[2016-01-27 04:23] cklosowski opened #4248 "Run maybe_unserialize on setup_user_info of EDD_Payment"
Identified by @norcross here: https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/430

[2016-01-27 04:32] cklosowski commented on #3788
👍

[2016-01-27 05:04] cklosowski commented on #4190
Moving to 2.5.7, and including in #4223

[2016-01-27 16:34] mgibbs189 opened #4250 "Improve custom earnings report graph"
Things get real messy when trying to view an Earnings report over an extended period of time.

<img src="http://i.imgur.com/Hctkjux.png" width="680" height="291" />

I'd be happy to help improve this feature, but we'll need a direction on how to proceed. E.g. we need to define some "break points" of when to automatically switch the graph from day / week / month / quarter / year modes. Or maybe mak

[2016-01-27 17:46] cklosowski commented on #4240
this is happening due to the following JS:
[code]
Bascially when we introduced the customer dropdown, we added a clause for the ajax to identify if it was a 'download' or a 'customer' dropdown. We might have to rethink this approach a bit.

[2016-01-27 21:11] cklosowski commented on #4248
@norcross this seem like it should do the trick? I replicated it in the unit tests without my fix in place, then put the fix in place and unit test passed. If you're good with this I'll merge it.

[2016-01-27 21:20] norcross commented on #4248
I actually patched my version in production and it's been working for me.

[2016-01-27 21:27] daigo75 opened #4253 "Side effects in the new EDD_Payment class - Orders may be saved and loaded with wrong totals"
After spending days trying to trace a "mysterious" issue that appeared with EDD 2.5, I noticed that the new logic used to save orders' metadata has some side effects, that cannot be handled effectively by external plugins. One of those side effects is that the hooks related to the processing of orders meta are triggered multiple times, and this can cause issues.

In my specific case, the issue rel

[2016-01-27 21:51] cklosowski commented on #4248
@norcross sweet thanks, @pippinsplugins review whenever you can and merge then.

[2016-01-27 22:00] daigo75 commented on #4253
Pre-emptive answer, in case anyone wonders why bothering with this whole "swap" business: that was the only way to make reports work. Reports are quite rigid, they run hard-coded queries against set fields. Since this could not be changed, I had to find a way to have those "core" fields contain consistent data. The solution was to store base currency data in them, and move the "mixed currency" dat

[2016-01-27 22:29] cklosowski commented on #4250
Something seems off here, It looks like tis' doing day-by-day? If the span of the earnings goes over a 2 month period, it's supposed to avoid day-by-day calculation.

@mgibbs189 can you confirm that's doing a day by day? Seems like a bug to me in the way the date range calculations are being determined.

[2016-01-27 22:30] cklosowski commented on #4250
I'd look at the year spanning code that determines `$day_by_day` variable, and go from there, I don't think we need to rework this as it didn't used to do this type of detail on larger data sets, just need to fix the bug we introduced.

[2016-01-27 23:43] cklosowski commented on #4105
:+1: for it's own row. I'd like to get away from having nested serialized array data. This will make it much easier to isolate the data later.

[2016-01-27 23:47] cklosowski commented on #4227
So basically if you have the site set to not redirect to checkout, but you want a single product to redirect to checkout it's not possible as the localized scripts are checking the store level, instead of also checking the product/purchase link level?

[2016-01-27 23:49] cklosowski commented on #4224
:100: Awesome idea. No big banners or anything, just a little system info line would be enough for our support to identify possible conflicts.

[2016-01-27 23:53] cklosowski commented on #4222
@pippinsplugins that could be a good solution.

We'd want to only remove the protocol and use the site's protocol, if the domain on the download file is the same as the site, otherwise downloading from an external source and swapping out scheme's could be problematic.

[2016-01-28 15:04] pippinsplugins commented on #4245
PR almost fixes it. I found one case that fails: adding a second copy of the same download.

The payment started with just the top Love It Pro then I added the second one with a custom amount:
![screen shot 2016-01-28 at 9 02 59 am](https://cloud.githubusercontent.com/assets/1034109/12648114/ff31e490-c59d-11e5-92a9-11034445958e.png)

After saving the payment, the sales log for the second Love It P

[2016-01-28 15:05] pippinsplugins commented on #4222
:+1:

[2016-01-28 15:06] pippinsplugins commented on #4227
Correct. The filter works to disable redirect to checkout on individual products but it does not work to enable.

[2016-01-28 15:07] #4191 closed

[2016-01-28 15:09] pippinsplugins commented on #4253
Excellent catch.

I like your idea of adding a `edd_pre_setup_payment` hook.

Could you show me how you would use that hook inside of your plugin to resolve the issue, just for demonstration purposes?

[2016-01-28 15:11] pippinsplugins commented on #4250
I think @cklosowski is right. I saw this happen yesterday too.

[2016-01-28 15:13] pippinsplugins commented on #4240
@mindctrl could you test the PR here please?

[2016-01-28 15:14] #4248 closed

[2016-01-28 15:15] pippinsplugins commented on #4190
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4228

[2016-01-28 15:15] mgibbs189 commented on #4250
Yeah, that sounds about right.

Whatever logic is in place to choose between day-to-day or monthly seems off.

[2016-01-28 16:00] daigo75 commented on #4253
Yes, the `pre_` hook would make it easier to load a payment correctly without having to "adjust" its properties after the class has been fully initialised. It will also allow to decouple filters from the actual class implementation, as they will alter the data retrieved from the database, and the class itself will simply pick the elements it needs and stored them into its own properties.

Making a

[2016-01-28 16:11] mindctrl commented on #4240
@cklosowski I'm seeing double products in the search results.

![image](https://cloud.githubusercontent.com/assets/1254870/12650184/d32b5626-c5af-11e5-89e8-6b3ed9a46dfc.png)

[2016-01-28 17:13] cklosowski commented on #4240
Well thats odd. I'm not seeing that behavior @mindctrl, looking it over.

[2016-01-28 17:16] cklosowski commented on #4240
![screen shot 2016-01-28 at 10 16 27 am](https://cloud.githubusercontent.com/assets/1390124/12652484/386c964c-c5a8-11e5-9a6d-88bab0ee98f6.png)

I had to update the JS, can you make sure you're getting the updated JS with a browser cache clear @mindctrl ?

[2016-01-28 17:27] mindctrl commented on #4240
I actually had products with duplicate names, from testing. Sorry. This is good.

[2016-01-28 17:29] cklosowski commented on #4240
As a note, this adds a new extendable 'search-type' to our chosen fields. Now someone could request a select box and in the `data` arguement supply `'search-type' => 'discount'`, and then build an ajax hook for `edd_discount_search` and return discount codes or something similar to that.

[2016-01-28 17:30] cklosowski commented on #4240
@pippinsplugins ready to merge whenever you are.

[2016-01-28 17:30] pippinsplugins commented on #4240
Merging.

[2016-01-28 17:31] #4240 closed

[2016-01-28 17:37] cklosowski commented on #4245
Yes I'm good with this PR not resolving it, since we have an open issue regarding the Sales Logs in #4244, that I think we can assess the issue there.

[2016-01-28 17:38] pippinsplugins commented on #4245
:+1:

[2016-01-28 17:38] #4245 closed

[2016-01-28 21:10] pippinsplugins commented on #4253
Perfect. I like it.

[2016-01-28 21:11] pippinsplugins commented on #4253
@cklosowski Any objections?

[2016-01-29 16:00] fxbenard opened #4256 "Fix translation issues with missing domains and markup"
Running the last version with 100% French translations some tabs don’t get translated even if they are in the .mo file.

http://d.pr/i/1frsL

[2016-01-29 20:05] pippinsplugins commented on #4256
Thanks for the headsup! We'll get it fixed!

[2016-01-29 22:48] cklosowski commented on #4253
I don't think so. It's clearly not breaking any unit tests.

I think, if possible, I'd like to see a unit test that actually tests this, and verifies it's working as expected if that's possible @daigo75. Just so have a bit of an automated way to test that we don't break it in any future implementations.

[2016-01-29 23:02] cklosowski commented on #4099
Correct:
`401` Means you didn't provide authentication where as `403` means the authentication provided was not credentialed to view the resource.

[2016-01-30 02:20] pippinsplugins commented on #4223
Heh, major bug.

Refunding a payment causes the sale count on each item in the payment to decrease by `3`, not `1`.

[2016-01-30 02:21] pippinsplugins commented on #4223
Hmm, maybe not all the time. It definitely happened on one particular sale but I just tried again and it didn't do it.

[2016-01-30 02:22] pippinsplugins commented on #4223
OK all is good. I forgot that I had had quantities enabled and then later disabled them.

[2016-01-31 09:05] vpratfr opened #4257 "Audit responsive design"
Hi,

When I access the admin page on mobile i am not able to see the filters to select the period or with/without taxes.

That should not be hidden or at least the toolbar should be showable with a button.

[2016-01-31 15:26] pippinsplugins commented on #4223
@cklosowski just one item I noticed: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4228#discussion_r51338394

[2016-01-31 15:35] #3894 closed

[2016-02-01 13:30] akyusa01 opened #4258 "Email address on checkout not validating"
https://secure.helpscout.net/conversation/166426421/26769/?folderId=180499

I have replicated the issue.

On checkout user can enter me@me.coma. When admin edits user under WP user screen, email address is updated, but editing the customer will not fix the email address, it will remain with the original .coma.

[2016-02-01 16:42] cklosowski commented on #4258
@akyusa01 This is by design, currently we only update the User when the customer is updated, we do not update the customer when the user is updated.

#3364.

We've got an open issue #4067 for this already.

[2016-02-01 16:42] cklosowski commented on #4258
Am I missing something else here though?

[2016-02-01 16:47] akyusa01 commented on #4258
Closing since #4067 is open and active.

[2016-02-01 16:47] #4258 closed

[2016-02-01 16:52] pippinsplugins commented on #4067
Let's go ahead and milestone this for 2.5.8

[2016-02-01 19:37] pippinsplugins commented on #4257
Thanks for the headsup! We'll work on getting that adjusted.

[2016-02-01 21:13] sumobi opened #4259 "Fix how the payment mode is appended to URL when another query string is used"
A customer reported that the billing address forms at checkout were not disappearing when switching between payment methods, where the billing form did not need to be shown. Upon closer inspection, the customer is using WPML and their ajax URL looks like this:

https://website.com/wp-admin/admin-ajax.php?lang=de?payment-mode=paypal

@mindctrl found that our `edd_load_gateway` function appends the

[2016-02-01 21:57] pippinsplugins commented on #4253
I'd like to go ahead and get it merged in if you're not opposed.

[2016-02-01 23:34] markoheijnen opened #4263 "Overflow non existing sessions caused by cronjob"
I'm seeing an overflow of non existing sessions in `notoptions` cache key due to a manual cronjob that is getting run every minute. Instead of using WordPress to call it, I decided to build a small PHP script that uses curl to make the calls instead.

I currently send an own created cookie so for me it's fixed. I do wonder if others have seen this before so thats why I created this ticket. A solut

[2016-02-02 00:05] pippinsplugins commented on #4263
@markoheijnen Could you show us an example of your cron job?

[2016-02-02 00:05] #4242 closed

[2016-02-02 00:06] #4259 closed

[2016-02-02 00:07] markoheijnen commented on #4263
https://gist.github.com/markoheijnen/bad7e461bc41d3990f40. Rule 17-19 was added to prevent it.

[2016-02-02 00:39] sumobi commented on #4259
:+1:

[2016-02-02 16:19] pippinsplugins commented on #4263
I think I just saw this same thing happen on one of our sites.

[2016-02-02 16:50] cklosowski commented on #4257
@pippinsplugins I'm not sure if this is something we can fully support, as it's a Core WordPress 'feature'. they hide specific sets of filters on the "list table" outputs when in mobile.

[2016-02-02 16:51] cklosowski commented on #4257
Not saying we can't do it, just need to be aware of possible conflicts we might run into with WP Core functionality, before we call it closed.

[2016-02-02 16:52] cklosowski commented on #4256
Probably some markup in the way, I'll dig into it.

[2016-02-02 16:53] cklosowski commented on #4223
@mindctrl this could use some testing, if you have some bandwidth. Pretty major addition to the platform.

[2016-02-02 16:54] cklosowski commented on #4223
@pippinsplugins your comment here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4223#issuecomment-177048269), was probably caused by that bug I found in the `edd_undo_purchase` where, things were looping through each download in the payment, and then the function was doing the same, but for a specific download ID...should be resolved now.

[2016-02-02 17:38] vpratfr commented on #4257
As a EU store owner, taxes make up for 1/5th of revenue but that varies a lot. And those taxes have to be paid back to the state. So not an information which indicates our real revenue.

Making these screens show stats excl taxes by default would be fine for me too.

[2016-02-02 18:08] pippinsplugins commented on #4223
@cklosowski Agreed.

[2016-02-02 19:49] akyusa01 opened #4264 "Recount Stats - Reset Store Not Working"
Resetting store data does not remove the data from the edd_license_log custom post type.

https://secure.helpscout.net/conversation/167111421/26888/?folderId=180499

[2016-02-02 20:59] pippinsplugins commented on #4264
@akyusa01 This actually needs to be logged on Software Licensing.

Logged: https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/436

[2016-02-02 20:59] #4264 closed

[2016-02-03 14:00] selu91 opened #4265 "edd_download_search is excluding bundles"
Hey there,

I came across over this ajax call that edd is using **edd_download_search**

I see in the ajax request, i.e :  [admin-scripts.js#L1135](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/assets/js/admin-scripts.js#L1135) that you are sending also a variable called no_bundles, which is true or false. I guess this is filtering the response in order to include or n

[2016-02-03 16:49] mindctrl commented on #4210
@pippinsplugins do you recall which URL option was being used?
![image](https://cloud.githubusercontent.com/assets/1254870/12789513/2bc5b3e2-ca6c-11e5-8086-efdc38444b20.png)

[2016-02-03 17:21] mindctrl commented on #4210
Happens on pre-path mode. Does not happen on query mode.

[2016-02-03 18:21] mindctrl commented on #4210
I feel dirty, but it works. I didn't see another clean way.

[2016-02-03 18:50] pippinsplugins commented on #4210
I'm okay with dirty, even like it sometimes.

@cklosowski any objections to merging?

[2016-02-04 16:04] #4232 closed

[2016-02-04 16:20] cklosowski commented on #4233
Technically logo and template are used for emails like license renewals as well so they aren't specifically for purchase receipts.

[2016-02-04 16:39] cklosowski commented on #4210
I'm good with this, merging.

[2016-02-04 16:39] #4210 closed

[2016-02-04 18:26] cklosowski commented on #4192
`get_weekstartend()` is really only concrened with the line before it:
[code]
That's the line we should be updating to use `m` instead of `n`

[2016-02-04 18:51] cklosowski commented on #4099
This is odd, b/c we're sending a status number to our `output` method:
`$this->output( 401 );`

And then in `output` we use `status_header( $status_code );`, which is a WP Core function that set's the header and description.

[2016-02-04 18:54] cklosowski commented on #4099
I'm seeing the correct responses. @sunnyratilal where are you getting the errors, is this during the iOS development process you noticed this?

![screen shot 2016-02-04 at 11 53 32 am](https://cloud.githubusercontent.com/assets/1390124/12825948/0223a60a-cb36-11e5-9357-42a77ca2fa10.png)

[2016-02-04 18:56] cklosowski commented on #4099
I will make it so invalid auth returns a 403 not a 401 though.

[2016-02-04 19:32] cklosowski commented on #4177
@SDavisMedia that should do it.

[2016-02-04 19:42] cklosowski commented on #3661
@mindctrl this works fine for me...maybe the fix from dan in #3778 took care of this, but by default, we don't show up unless a download ID is specified, or the current item being viewed is a download (since the default selection is 'current'). Can you test again and close if this is not needed now?

[2016-02-04 23:39] mindctrl commented on #4256
While we're looking at this, can we generalize the issue and hit some other textdomain issues? Specifically a customer can't translate this: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/2.5.6/includes/user-functions.php#L499  and there are some other strings in that file missing the domain.

[2016-02-04 23:57] cklosowski commented on #4256
@mindctrl yeah i'll update the title to reflect this.

[2016-02-05 00:04] cklosowski commented on #4253
I think I'm good with it, let's merge and get some further testing with `EDD_Payment`, especially with the refund work in #4223 that's coming.

[2016-02-05 00:04] cklosowski commented on #4253
Going to merge and keep the issue open for verification.

[2016-02-05 00:06] cklosowski commented on #4220
I love this idea, bugs me all the time when I'm testing, and could help improve conversion rates for sure.

[2016-02-05 00:07] cklosowski commented on #4211
@pippinsplugins We can look into that as a solution, I'll have to dig into the subsection code to see where we want to handle that.

[2016-02-05 00:34] #4192 closed

[2016-02-05 00:35] #4177 closed

[2016-02-05 00:45] cklosowski commented on #4197
I like this too, one suggestion is to not link the email address. Right now to copy and paste with this solution, you have to copy the `(` and `)` characters, then remove them, if we either remove those, or remove the link, we should be able to copy easier maybe:
`Customer name - customer@domain.com`. This way we can just select the email if we want, and still leave the whole thing a link.

[2016-02-05 14:33] polevaultweb opened #4270 "Free download in completely free download site causes memory exhaustion"
This error is occurring since EDD 2.5.

When a free download is triggered, in a site that only has free downloads, `update_status()` (since 2.5) results in a memory exhausted fatal error.

This is a site that has had 200k free downloads (edd_payments). I've done some digging and it looks like `edd_get_total_earnings()` will always check the option `edd_earnings_total`, and if it is zero it will tr

[2016-02-05 15:30] pippinsplugins commented on #4270
Thanks for the headsup! We'll get it fixed.

[2016-02-05 15:32] pippinsplugins commented on #4270
We could fix this by changing `if( ! $total ) {` to a strict type check.

[2016-02-05 15:34] polevaultweb commented on #4270
And making sure you pass `false` as the default to `get_option()` in the line above

[2016-02-05 15:34] polevaultweb commented on #4270
Happy to test a PR on this

[2016-02-05 15:35] pippinsplugins commented on #4270
:+1:

[2016-02-05 20:46] pippinsplugins commented on #4270
That should do it!

[2016-02-05 20:46] #4270 closed

[2016-02-08 06:17] tw2113 commented on #4031
I realize it doesn't add much, but I want to give a :+1: to this as well. :)

[2016-02-08 10:41] grappler commented on #4256
I was having problems loading a translation. The reason was that I had the latest translation in `/wp-content/languages/plugins/` but EDD was loading the older file from the language folder in EDD.

@fxbenard Could that be the reason for your issue. Does your translation work when you delete the mo file from the EDD language folder?

[2016-02-08 14:47] fxbenard commented on #4256
@grappler Yes perfect

[2016-02-08 20:23] profclimber opened #4272 "Bug in Email download links"
There is somehow a bug in the download links.

This should be the link: https://www.photohanke.nl/index.php?eddfile=767%3A705%3A1%3A1&ttl=1455052894&file=1&token=4e82cb981dae583cf9e4a908156c9dc8

And somehow in the email the token changes: https://www.photohanke.nl/index.php?eddfile=767%3A705%3A1%3A1&ttl=1455050022&file=1&token=b836fd2e8ad833fdef51a95bc21c6889&utm_source=email&utm_medium=email

an

[2016-02-08 21:06] pippinsplugins commented on #4272
@profclimber See https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/3981

[2016-02-08 21:06] #4272 closed

[2016-02-09 02:16] pippinsplugins commented on #4253
@daigo75 Are you able to test one last time with the PR merged in?

[2016-02-09 02:16] pippinsplugins commented on #4187
Punting to 2.5.8. Not a priority for this.

[2016-02-09 02:17] pippinsplugins commented on #4115
Moving to 2.5.8

[2016-02-09 02:31] pippinsplugins commented on #3997
Ready for review.

[2016-02-09 02:33] #3789 closed

[2016-02-09 02:35] pippinsplugins commented on #3661
This works for me as well. Closing as fixed. Re-open if you disagree.

[2016-02-09 02:35] #3661 closed

[2016-02-09 02:37] pippinsplugins commented on #3862
I don't believe this is valid any any more. The value is returned through `round()` so it will be a float:
[code]

[2016-02-09 02:37] #3862 closed

[2016-02-09 03:02] pippinsplugins commented on #3981
Time for testing!

[2016-02-09 03:16] pippinsplugins commented on #4030
Ready for testing.

[2016-02-09 03:20] pippinsplugins commented on #3900
Just tested this again and still cannot replicate it . . .

[2016-02-09 03:46] pippinsplugins commented on #3859
Ready for testing.

[2016-02-09 04:14] pippinsplugins commented on #3839
Ready for testing.

[2016-02-09 04:15] #4099 closed

[2016-02-09 04:20] pippinsplugins commented on #4244
Looks like it's perhaps worse than I thought.

No sale log entry was created at all.

[2016-02-09 04:23] pippinsplugins commented on #4244
Sale logs definitely not getting created anymore.

[2016-02-09 04:23] sumobi commented on #3900
@pippinsplugins It took a while, over 5-10minutes, but logged into RCP site in Chrome (+ on new laptop) and it eventually changed. Maybe leave the dashboard open in Chrome and wait a bit longer.

[2016-02-09 04:24] pippinsplugins commented on #4244
@cklosowski Can you hit this?

[2016-02-09 04:29] sumobi commented on #3900
and don't forget to click your heels together 3 times

[2016-02-09 04:38] pippinsplugins commented on #3900
It's been sitting for 15 . . . no HTML.

[2016-02-09 04:50] pippinsplugins commented on #3900
Still all good: https://cloudup.com/cegi--01zWU

[2016-02-09 04:53] sumobi commented on #3900
Hmm you testing the RCP site? I see no recent purchases in your screenshot

[2016-02-09 04:53] sumobi commented on #3900
Just replicated on @wordmaid's laptop also

[2016-02-09 05:10] sumobi commented on #3900
@pippinsplugins I'll try and replicate it again on a live site. I have seen it before somewhere else, just can't remember where. It's entirely possible it's limited to the RCP site in some way.

[2016-02-09 05:52] sumobi commented on #3900
@pippinsplugins can't replicate on live site anymore, or locally. Guess it's only limited to RCP site now. Feel free to close.

[2016-02-09 14:27] cklosowski commented on #3859
@pippinsplugins This looks to take care of a single use discount for a specific customer to see if they've used a discount code before, however it doesn't appear to take care of the situation where a payment fails and we increase the usage of a discount by 1. The scenario that:

1. User checks out with a code that has 10 uses.
2. Payment fails
3. Code now has 9 uses left (we aren't setting it back

[2016-02-09 14:29] cklosowski commented on #3859
Going to see if I can tackle this quick.

[2016-02-09 14:31] #3839 closed

[2016-02-09 14:34] cklosowski commented on #3997
@pippinsplugins this is already merged, you merged mine a while back: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/shortcodes.php#L833

[2016-02-09 14:35] cklosowski commented on #3997
#4177 was already closed for this: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4269

[2016-02-09 14:36] #3997 closed

[2016-02-09 16:10] #4030 closed

[2016-02-09 16:11] pippinsplugins commented on #3859
Ah yes, thanks.

[2016-02-09 17:02] #3981 closed

[2016-02-09 17:02] #4096 closed

[2016-02-09 17:06] cklosowski commented on #3754
This has been runnig for 2 weeks, i'm closing it as I think we're good here.

[2016-02-09 17:06] #3754 closed

[2016-02-09 18:52] mindctrl commented on #4223
@pippinsplugins @cklosowski this looks good to me. Tested refunds from UI and programmatically. All sales and earnings were updated properly. Anything else to look for?

[2016-02-09 18:59] pippinsplugins commented on #4223
@mindctrl Beautifully. That's all we needed!

[2016-02-09 18:59] #4190 closed

[2016-02-09 18:59] #4223 closed

[2016-02-09 19:10] cklosowski commented on #4244
Yeah I've confirmed the same thing, working on it.

[2016-02-09 19:12] daigo75 commented on #4253
It seems to work fine, from what I've seen. :+1:

I'm also going to submit another PR, for a different issue, but still on the same topic.

[2016-02-09 19:13] pippinsplugins commented on #4253
Glad to hear it!

[2016-02-09 19:13] #4253 closed

[2016-02-09 19:15] cklosowski commented on #4244
Sales logs for items added to downloads. Sales logs are being recorded when purchasing, just to clarify for the sake of the issue.

[2016-02-09 19:33] cklosowski commented on #4244
I see the issue, the logs are getting marked with a status of `future`

![screen shot 2016-02-09 at 12 33 03 pm](https://cloud.githubusercontent.com/assets/1390124/12928196/50cff85c-cf29-11e5-85d1-11feef472c90.png)

[2016-02-09 22:54] #4244 closed

[2016-02-10 10:01] pdewouters opened #4282 "Check if price is set before saving"
It would be good to have a pre-save check to verify if a price has been set, and if not show a message "are you sure you want to publish this download with a price of 0"
Could be a setting/filter/plugin

[2016-02-10 14:06] #3859 closed

[2016-02-10 14:20] pippinsplugins commented on #4282
@pdewouters For some cases, yes, I would agree, but we actually have a remarkably large number of users that use EDD with free products, so a notice like that would probably be a hassle.

[2016-02-10 14:41] pdewouters commented on #4282
Understandable. I'll add it in separately then.

[2016-02-10 14:41] #4282 closed

[2016-02-10 14:47] pippinsplugins commented on #4282
:+1:

[2016-02-10 15:02] mindctrl opened #4284 "Session cookies are created on every page load"
We've had two reports recently about the fact that a session cookie gets created on every page load, making it hard to cache. One came through a Pagely customer and another was from Pressjitsu.

One report:

Other report:

If you use `EDD_USE_PHP_SESSIONS` set to false and fall back to `WP_Session`, you always get a cookie because it creates one in `__construct()`. [Link](https://github.com/easydi

[2016-02-10 16:11] cklosowski commented on #4284
We've got to make sure if we make any changes to this, that it doesn't break extensions that require the sessions, things like User History.

[2016-02-10 17:05] pippinsplugins commented on #4284
Let's try and resolve this in a point release that has almost nothing else in it. For now, milestoning for 2.5.9

[2016-02-11 12:21] corvannoorloos opened #4285 "Creating Composer site stack, including Easy Digital Downloads as a wordpress-plugin type"
Attempting to create a [site stack](http://composer.rarst.net/recipe/site-stack) with Composer I was wondering if it would be possible to change Easy Digital Downloads' `composer.json` type to `wordpress-plugin` instead of `project` and require [`composer/installers`](https://github.com/composer/installers)?

Could someone tell if this would be the best way to accomplish this (unsure if this would

[2016-02-11 16:30] akyusa01 opened #4286 "Add Discount Amount / Discount Applied Template Tags"
https://secure.helpscout.net/conversation/170003368/27594/?folderId=180499

We currently have {discount_codes} but do not have a {discount_total} or {discount_applied}.

[2016-02-11 22:05] pippinsplugins commented on #4286
:+1:

[2016-02-11 22:17] pippinsplugins commented on #4285
I don't know enough about composer to know the `why` here, so educate me :)

[2016-02-11 22:36] michaelbeil commented on #4285
I believe @corvannoorloos wants to change `"type": "project",` to `"type": "wordpress-plugin",` and add `"require": { "composer/installers": "*" }` which tells composer to load the custom installers.

[2016-02-11 23:04] corvannoorloos commented on #4285
I would prefer the default `"composer/installers": "~1.0"` instead of its latest, but yes. Exactly this.

No legend here as well, but in short Composer is dependency manager especially for PHP.

AFAIK after this change it would be possible not only to include Easy Digital Downloads using [WordPress Packagist](http://wpackagist.org/) (a wordpress.org mirror for Composer), which is already possible,

[2016-02-11 23:12] michaelbeil commented on #4285
I updated the composer.json @corvannoorloos. Can you test #4287?

[2016-02-12 00:27] corvannoorloos commented on #4285
Works for me :+1: (but I'm certainly not all knowledgeable)

Here's my site's `composer.json`. Note the [`dev-` prefix](https://getcomposer.org/doc/05-repositories.md#loading-a-package-from-a-vcs-repository) for including a branch:
[code]

[2016-02-12 00:37] michaelbeil commented on #4285
Good deal @corvannoorloos.

[2016-02-12 12:24] davood206 opened #4288 "tags name do not appear in downloads detail page!"
why Tags are not appear in download detail page?
when I add several tags to download both from front end and backend, only semicolons between tags appear.  like this  :  , , , , ,
why name of tags don't appear, I changed several themes but nothing happened.

Thank YOU.

[2016-02-12 15:47] pippinsplugins opened #4289 "Token validation fails if edd_download_file_url_args has been filtered"
In #3981 we added improved token validation so that URLs that were manipulated after they were generated (for campaign variables as an example) did not invalidate.

Unfortunately this has caused an unforeseen side effect.

If the `edd_download_file_url_args` filter has been used to register custom arguments to the download link, customers are presented with a permission denied error when attemptin

[2016-02-12 15:58] pippinsplugins commented on #4289
The easy way to fix this is to force extensions to register their customer URL variables with the `edd_url_token_allowed_params` filter, but that goes against our philosophy of not introducing breaking changes. We should be able to automatically detect custom parameters.

[2016-02-12 16:20] pippinsplugins commented on #4289
After a quick team discussion, we have decided that it is best not to auto detect custom variables and instead require that they be registered. Here's a quick example to illustrate how to register a custom URL variable:
[code]

[2016-02-12 16:20] #4289 closed

[2016-02-12 16:23] mindctrl commented on #4288
@davood206 please open a support ticket here: http://easydigitaldownloads.com/support/

[2016-02-12 16:23] #4288 closed

[2016-02-12 20:27] pippinsplugins commented on #4285
@corvannoorloos I know what Composer is, I just wasn't aware of the `wordpress-plugin` categorization specifically or what effect that had.

[2016-02-12 20:55] corvannoorloos commented on #4285
@pippinsplugins I thought as much :)

[2016-02-12 21:02] pippinsplugins commented on #4256
The loading had to be adjusted because of Language Packs. See here for a detailed break down of the order: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/easy-digital-downloads.php#L344

[2016-02-12 21:05] corvannoorloos commented on #4285
Not entirely related to the original question, but Composer is suggesting its [name](https://getcomposer.org/doc/02-libraries.md#every-project-is-a-package) to be lowercase.
[code]

[2016-02-12 21:13] michaelbeil commented on #4285
I changed the name with reference to the Composer convention @corvannoorloos :smile:. See https://github.com/michaelbeil/Easy-Digital-Downloads/commit/360129823c7a14c14969e50607fed14f367fcca9.

[2016-02-12 21:15] grappler commented on #4256
That would make sense if the translations are updated before every release but the last translation update in EDD was 5 months ago. I downloaded the de_CH translation from translate.w.org and added it to the langage pack folder. I suppose @fxbenard and I should move our more complete translations to the custom directory.

I may need to open a new issue for this but it is a bit confusing have the E

[2016-02-12 21:24] pippinsplugins commented on #4256
Language Packs have definitely made it more confusing.

Note: if you have a completed translation, please submit it to translate.wordpress.org :)

[2016-02-12 21:26] corvannoorloos commented on #4285
@michaelbeil thanks :)

[2016-02-12 23:05] fxbenard commented on #4256
@grappler French is 100% in Glotpress, and uses the LP. I got confused with the new order with language packs - The opt-out doesn't seems to be working as soon as you reach 100% in GP once and the pack have been pushed. Edd translation is no more supported in TX, the project is closed (except for me) to translations. it's more confusing to see translators asking to translate it in TX than the tran

[2016-02-12 23:42] grappler commented on #4256
Ah, so it turns out that WP checks if the plugin has a translation file first before checking for language packs. So if EDD ships with old translations then the translation packs are worthless.

@fxbenard A temp solution that I have implemented is this small snippet.
[code]

@pippinsplugins My proposed solution would be to regularly update the incomplete translations from translations.w.org before

[2016-02-12 23:49] DevinWalker opened #4291 "New User Notification Email URL Not Linked"
It would be nice to have this URL clickable / linked:

![2-12-2016 3-42-38 pm](https://cloud.githubusercontent.com/assets/1571635/13023701/2bcfdc4c-d1a0-11e5-888c-3ea02c06a1bf.png)

[2016-02-13 08:56] arkarami opened #4293 "checkout page & dark theme"
Hi My Dear Friends
i use "Catch responsive" theme in my website
Site's theme color, set on Dark Mode
i have big problem in checkout page when i want fill the e-mail, name and other part of form
background color is dark and font is black!

how i can change this font color?

[2016-02-13 09:08] arkarami opened #4294 "checkout page & dark theme"
Hi My Dear Friends
i use "Catch responsive" theme in my website
Site's theme color, set on Dark Mode
i have big problem in checkout page when i want fill the e-mail, name and other part of form
background color is dark and font is black!

how i can change this font color?

[2016-02-13 13:08] kyletorrington commented on #4070
Hi Pippin. Yes, please can this issue be sorted out asap. At the moment, I'm asking my customers to mention in the additional information field on checkout what add on products they want due to this issue (as my add on items are naturally cheaper than the main product purchase). Any idea when a fix will be implemented?

[2016-02-13 16:34] fxbenard commented on #4256
@grappler good workaround, thanks for the snippet.

The idea behind translate is to keep dev out of the process of translations, asking @pippinsplugins to update translations there will not work and there is no real process for doing it.
Also as long as there is no way for @pippinsplugins to know when a LP hits 100% once again it's kind of boring for him to check before each release which language

[2016-02-13 18:59] chriscct7 commented on #4293
Hi there. Please send support inquiries to https://www.easydigitaldownloads.com/support.  We use GitHub to track core development issues only :)
Thanks :+1:

[2016-02-13 18:59] #4293 closed

[2016-02-13 22:58] michaelbeil commented on #4294
@arkarami please open a support ticket here: http://easydigitaldownloads.com/support.

[2016-02-13 23:44] #4294 closed

[2016-02-14 19:55] Shelob9 opened #4296 "Inline documentation often uses "object" when name of class would be more useful."
For example in the main EDD singleton wrapper, [the return is documented as `object`](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/easy-digital-downloads.php#L434) but phpStorm doesn't know what object that is so, it's not useful to me...

![Necessary Meme]
(http://apimeme.com/meme?meme=Brace+Yourselves+X+is+Coming&top=Brace+Yourself&bottom=Pull+Requests+Are+Coming)

[2016-02-15 16:48] cklosowski opened #4299 "Create edd_sanitize_key"
With https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/1b0fb2ef891a0d77fe07a8d085099324d4e679bd taken from #3921, we've inadvertently broken extensions that have uppercase letters and urls in their keys (like payment icons).

We should introduce an `edd_sanitize_key` that mimics `sanitize_key` except for the `strtolower` will be removed and it needs to support `/` and `.` chara

[2016-02-15 17:28] mindctrl commented on #4299
@cklosowski this is working for me. Maybe we can get a few more eyes on it just to be sure. @SDavisMedia @pippinsplugins

[2016-02-15 17:38] pippinsplugins commented on #4299
Looks great to me.

[2016-02-15 17:38] #4299 closed

[2016-02-15 20:23] pippinsplugins commented on #4296
Thanks @Shelob9 !

[2016-02-15 20:23] #4296 closed

[2016-02-15 20:29] pippinsplugins commented on #4070
@kyletorrington It's on our todo list for v2.5.8

[2016-02-15 21:46] pippinsplugins commented on #4291
I agree, let's link it. I see you committed a fix. Could you drop that in a PR?

[2016-02-15 21:46] pippinsplugins commented on #4291
Nevermind, you already did :)

[2016-02-16 12:52] fxbenard opened #4301 "Add new variations"
Now only price variation is possible. Adding a new way to add our own variations will help to offer different products in bundles.

[2016-02-16 15:17] pippinsplugins commented on #4301
@fxbenard Could you provide a few examples of the kind of options you'd like to see?

[2016-02-16 17:02] fxbenard commented on #4301
For sure, what they call variable attributes in WC.
In my case I need my customers to select a product based on prices but also on languages - Adding the language attribute will help them to choose the only languages they want.
Let me know if I was clear enough!
![2016-02-16_17-53-39](https://cloud.githubusercontent.com/assets/802114/13083842/0734b4fe-d4d7-11e5-8245-06d538d94617.png)

[2016-02-16 17:45] cklosowski opened #4302 "EDD_Payment doesn't allow an override download price of 0"
In `EDD_Payment::add_download()` if the `item_price` is `0` it's using the item price, since the check isn't passing the `boolean` check.

[2016-02-16 17:50] pippinsplugins commented on #4302
Good catch.

[2016-02-16 20:35] cklosowski opened #4303 "Receipt template: Harden price ID checks"
Right now the price ID check only looks for `is_null` however it's possible that a single price point item has a price ID of `0` in cases where SL is active...so we should first check that the item HAS variable prices before checking the price ID name.

[2016-02-16 21:45] #4303 closed

[2016-02-17 02:24] #4285 closed

[2016-02-17 02:27] pippinsplugins commented on #4256
These are the main issues I have with language packs. They're awesome for serving updates to users but they're difficult for plugin developers to keep up with.

@grappler We do try and pay attention to which ones are updated, but it's difficult for sure. Is the language pack that you're testing in this particular scenario 100% or partial?

[2016-02-17 02:30] pippinsplugins commented on #4246
This is happening because none of these conditionals are validating as `true`:
[code]

[2016-02-17 02:35] pippinsplugins commented on #4246
I'm proposing that we set a default of `$file_path = $requested_file` before the conditionals to ensure that `$file_path` is always defined. In the majority of cases the file path simply represents the file's public URL so it should still download properly.

[2016-02-17 02:35] pippinsplugins commented on #4233
Punting to 2.6 for further discussion.

[2016-02-17 02:37] #4164 closed

[2016-02-17 02:42] pippinsplugins commented on #4109
@cklosowski Could you look at this more? If we can fix this, it should prevent a large number of support tickets as more and more customers are using nginx.

[2016-02-17 02:47] pippinsplugins commented on #4108
@NateWr Would it be possible for you to var_dump() the value of `cart_details`?

[code]

[2016-02-17 03:03] #3788 closed

[2016-02-17 03:03] pippinsplugins commented on #3788
PR works perfectly.

[2016-02-17 03:11] pippinsplugins commented on #4070
@mindctrl could you please give this a once over?

[2016-02-17 03:15] pippinsplugins commented on #4067
Thinking on this a bit more, I don't think we should do this.

Updating a user account's email makes it potential for that user to lose log in access to the site (for example if they need to reset their password). Since customer records are not the "base" for a customer's access to the site, it feels wrong to just assume that we should update the user account when updating the customer. There are

[2016-02-17 03:31] pippinsplugins commented on #3666
We're going to have to try and hit this again in 2.6.

[2016-02-17 03:35] pippinsplugins commented on #4067
I propose `wontfix`.

Anyone else have an opinion?

[2016-02-17 03:36] #4103 closed

[2016-02-17 03:37] michaelbeil commented on #4067
I agree with @pippinsplugins recent sentiments.

[2016-02-17 03:38] SDavisMedia commented on #4067
Same here.

[2016-02-17 03:40] #4067 closed

[2016-02-17 06:36] kyletorrington commented on #4070
Thanks for the attention to this issue everyone. Appreciate it.

[2016-02-17 13:03] samikeijonen commented on #4031
I'll start doing accessibility reviews on EDD Core. This is divided in two main areas:

1. **Admin**: There are lot's of admin pages. And inside those pages there are more or less functionality that needs to be checked.
2. **Front end**: Theme needs to handle most of front end but for example checkout page, shortcode outputs etc. needs to be checked.

Basically I'll go over every required `a11y` [

[2016-02-17 15:31] pippinsplugins commented on #4031
Excellent @samikeijonen!

Let's start with the most used pages first:
- Downloads list
- Download edit screen
- Payment History
- View Order Details
- Customers list
- Customer details screen

[2016-02-17 15:51] samikeijonen commented on #4031
Sounds good, I'll start with those.

[2016-02-17 16:07] grappler commented on #4256
I was looking at the de_CH translation which was a partial translation but the translation on the translation pack was further translated then the version included in the plugin.

Could you not use something like https://github.com/markoheijnen/grunt-glotpress to download all of the translations regardless if they are complete or not?

[2016-02-17 18:52] mindctrl commented on #4070
@pippinsplugins looks good here.

[2016-02-17 18:59] pippinsplugins commented on #4070
Thanks @mindctrl, merging and closing.

[2016-02-17 18:59] #4070 closed

[2016-02-17 19:13] pippinsplugins opened #4311 "Introduce customer meta table"
We really need to introduce a customer meta table that allows us to store various (arbitrary?) pieces of information for customer records.

This can be based off of how we did it for AffiliateWP: https://github.com/AffiliateWP/AffiliateWP/issues/537

One example of something that relies on a customer meta table: storing the customer ID from Stripe that is associated with the EDD customer.

[2016-02-17 22:05] kiarashi opened #4312 "FES - hide blank fields"
Inside FES there's an option called: Show custom fields on the download?
With the latest version, when the option _"Allows widgets to output data from this field, as well as shows this field's value when the FES setting Show Custom Meta is on."_ is enabled but the field is blank, the field is still visible on the frontend.

Please tweak the code a little for all your fields so that empty fields ar

[2016-02-17 22:15] pippinsplugins commented on #4312
@kiarashi This GitHub repository is for the core Easy Digital Downloads plugin only. Please send reports for extensions to EDD support: https://easydigitaldownloads.com/support

[2016-02-17 22:15] #4312 closed

[2016-02-17 22:43] pippinsplugins commented on #4301
Thanks! I'd love to see options like this supported at some point in the future.

[2016-02-17 23:20] cklosowski commented on #4109
@jsonUK could you test this branch for me? Let me know if it works, I went with the `realpath` method here. I think it leaves us less likely to hit issues with modifications to the `ABSPATH` constant.

@davekiss I tried to implement a filter for your `realpath` issues slightly higher, and like you said it's not something that will ultimately be a good solution for the vast majority, and after talk

[2016-02-17 23:21] #4302 closed

[2016-02-17 23:57] cklosowski commented on #4246
@pippinsplugins yeah I'm good with that as the default.

[2016-02-17 23:57] #4246 closed

[2016-02-18 00:15] cklosowski commented on #4091
Confirmed this fixes it.

[2016-02-18 00:15] #4091 closed

[2016-02-18 00:37] cklosowski commented on #4104
Merged in https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/2ad8530a5f517c2ea922ab0db3fa69b2b1dda8b0, thanks @grappler

[2016-02-18 00:39] #4291 closed

[2016-02-18 00:42] cklosowski commented on #3286
| We should also add a general else fallback that sets the $file_path to $requested_file and the $direct to false.

That was added in #4305

[2016-02-18 04:09] cklosowski commented on #3286
@pippinsplugins With the changes in #4305 will this be a necessary ticket? Is it possible to recreate the old path system for multisite? I'm failing to reproduce this one.

[2016-02-18 16:14] cklosowski commented on #4311
:heart:

[2016-02-18 16:45] pippinsplugins opened #4314 "Fallback in setup_transaction_id() for retrieving old transaction ID fails"
The fallback in `setup_transaction_id()` isn't working properly, resulting in old transaction IDs stored in payment notes to not be detected,

[code]

The `empty()` check check never validates because the transaction ID comes back as the payment ID.

[2016-02-18 16:52] #4109 closed

[2016-02-18 16:53] pippinsplugins commented on #3286
@cklosowski I'm not sure. Let's leave open but punt for now.

[2016-02-18 17:08] #4314 closed

[2016-02-18 18:58] pippinsplugins opened #4318 "Settings can't be saved due to fdae10b6de8bde9bcdcb7d27cc430c76ce2c9755"
fdae10b6de8bde9bcdcb7d27cc430c76ce2c9755 broke settings.

[2016-02-18 18:59] pippinsplugins commented on #4318
Fixed in 659dbf4b98641537cce692e8636c363d409f448c

[2016-02-18 18:59] #4318 closed

[2016-02-18 19:06] SDavisMedia opened #4319 "undefined index download_method"
[code]

Happened when I attempted to enable the SKU field. So I didn't actually change the download method... just resaved it.

[2016-02-18 20:27] cklosowski opened #4320 "Searching payments by user id not returning results"
When you search the payments with a numeric value, it should be doing a search based on the purchase user id, however no results are showing. The counts are working correctly, just no results are being put on the page.

[2016-02-19 04:49] crsmoore commented on #4311
You already know how much I would love this one. :+1:

[2016-02-19 09:37] grappler commented on #4104
Can we reopen this as the commit was reverted? https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/659dbf4b98641537cce692e8636c363d409f448c What information was there that the settings were not saving? I retested the code again and I am able to save the settings.

[2016-02-19 15:17] pippinsplugins commented on #4104
@grappler Re-opened.

I'm not sure if it was your commit or the manual merge (there was a nasty merge conflict) but it definitely caused settings to not save / display properly. It failed because of how the callback methods were changed. I can elaborate more when re-addressed.

[2016-02-19 17:38] mintplugins opened #4321 "Better errors when using "Forced" with deliverables outside wp-content."
**The Issue:**
If a store owner has done all of the following, the file a customer downloads will be corrupted:
1. Set File Downloads to be "Forced" in "Downloads" > "Settings" > "Misc" > "File Downloads"
2. Have uploaded a deliverable-file outside wp-content (using FTP or other non-standard way)
3. Have entered the URL to that deliverable-file into the "Files" Metabox on the "Edit Download" scree

[2016-02-19 20:43] michaelbeil opened #4323 "Payment record: Harden price ID check"
We need to add an `edd_has_variable_prices` check to the price ID here: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/admin/payments/view-order-details.php#L301-L302. Right now a hypehn displays on the payment record screen without this check: http://beil.io/1eHLs .

To reproduce on 2.5.9:
1. Create a product
2. Buy the product
3. View payment record (see http

[2016-02-20 08:29] samikeijonen opened #4325 "100% discount when using taxes disables purchase"
I'll try to explain an issue that I noticed.

1. Enable taxes.
2. Send user 100 % discount.
3. User haven't logged in or is new user.
4. User enters 100 % discount code on checkout page.
5. Total sum gets to 0$ as it should be.
6. User enters emails address and first name.
7. User click Purchase button and nothing happens. User can't complete the purchase.

This is because when taxes are enabled t

[2016-02-20 15:35] pippinsplugins commented on #4325
@samikeijonen Thanks. This is the second report of this I've seen. We'll dig into it.

[2016-02-20 15:38] pippinsplugins commented on #4325
Hmm, I just tested this and did not replicate the problem. The purchase went through fine.

[2016-02-20 15:42] pippinsplugins commented on #4325
@samikeijonen Does this happen with only EDD activated?

[2016-02-21 08:16] samikeijonen commented on #4325
I had only EDD and Stripe activated when testing.

[2016-02-21 22:04] niamulrox opened #4326 "EDD Download Link Problem"
Hi,
When anyone purchase there its sending a email with download link. I had tested that in several browser its downloadable from any browser even without login to account. But its very disgusting as If some one share his download link then people will download product from my server with his link with out any cost.

You should check user session and if it same user then able to download but from

[2016-02-21 22:55] pippinsplugins commented on #4326
@niamulrox Please open a support ticket: https://easydigitaldownloads.com/support

We will be happy to help but Github is only for development tracking; not support. Thanks!

[2016-02-21 22:55] #4326 closed

[2016-02-21 22:57] Annetia opened #4327 "Displaying items"
Hello,

My digital downloads display is not showing properly on my site.  What can I do to make it work?.  I have 20 items that I would like to display.  What is the best way to do this?

[2016-02-21 23:05] pippinsplugins commented on #4327
@Annetia Please open a support ticket in our help desk: https://easydigitaldownloads.com/support

GIthub is for development tracking.

[2016-02-21 23:05] #4327 closed

[2016-02-22 00:20] pippinsplugins opened #4328 "Symlinked file downloads result in 0 byte downloads because of 400 forbidden"
The `Symlink File Downloads` option combined with `Download Method` being set to `Redirect` is causing 0 byte / corrupted file downloads because the server is returning a 400 Forbidden error when attempting to send the file to the browser.

@cklosowski and I have both replicated the problem and several users have reported that disabling symlink file downloads also solves the problem.

The location

[2016-02-22 00:21] pippinsplugins commented on #4321
Problems with symlinked filed downloads could be improved through better error messages too: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4328

[2016-02-22 03:02] pippinsplugins commented on #4325
@samikeijonen Still works fine for me. Could I get screenshots of all of your settings?

[2016-02-22 05:44] pippinsplugins opened #4329 "filesize() being run on external files in process-download.php"
I've seen this error twice today:

PHP Warning:  filesize(): stat failed for https://github.com/{redacted}/natural-lite/archive/master.zip in /wp-content/plugins/easy-digital-downloads/includes/process-download.php on line 199

If a file is external, we should never run `filesize()` on it.

[2016-02-22 05:49] mintplugins commented on #4329
This is the same issue as this:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4321

I had that exact error message when we were initially discussing this issue:
https://eddwp.slack.com/archives/edd-support/p1455901084001739

[2016-02-22 05:51] chriscct7 commented on #4329
The solution to all of these issues seems to be exactly what me and john talked about last week, which is if we implement a simple if not path or URL in WP content then redirect method, then this ^ would be bypassed as would the other nginx issue. As opposed to trying to hunt down one or more issues without fixing the one we already know exists, we're (based on all the theories I've seen thus far)

[2016-02-22 05:52] chriscct7 commented on #4329
Related #4321

[2016-02-22 05:56] mintplugins commented on #4321
This is one of the error messages that has been found during the process of finding this bug:

`PHP Warning: filesize(): stat failed for https://github.com/{redacted}/natural-lite/archive/master.zip in /wp-content/plugins/easy-digital-downloads/includes/process-download.php on line 199`

See full discussion leading to this ticket here:
https://eddwp.slack.com/archives/edd-support/p1455901084001739

[2016-02-22 13:08] jasongill commented on #3177
There is a lot of discussion here and in #4217 about making something work with Javascript (which seems like overkill, IMHO, since this is a really rare edge case). Since most sites that have tens of thousands of downloads aren't likely to be adding widgets to show details of a specific product, and are more likely to be maintained by someone who has a bit of experience, perhaps there is a better

[2016-02-22 13:35] itibook commented on #3177
agree with Jason...

[2016-02-22 14:01] felixarntz commented on #3177
@jasongill:
This would work for me as well. Creating an autocomplete with JS would still be more user-friendly, but I also see how it's overkill for this edge-case - and an experienced webmaster should be able to work with your proposal like you said.

[2016-02-22 14:56] pippinsplugins commented on #4329
@chriscct7 I agree.

[2016-02-22 15:26] mintplugins commented on #4329
@chriscct7 @pippinsplugins Preventing the issue further up the line seems to make the most sense to me as well.

[2016-02-22 15:26] pippinsplugins commented on #3177
I'm happy with that solution.

@cklosowski Let's make it happen for 2.5.10 please.

[2016-02-22 18:20] rene-hermenau opened #4333 "Wrong end date in payment export function - missing payments in csv"
End time of the date object must be 23:59:59 when the data filter is used or data result gets empty for end day in the time frame.
See: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4332

Example:

Filtering data from 10/01/2016 to 10/02/2016 does not contain purchases from 10/02/2016 without that fix. (This should be save as long as it is never be tried to filter by time)

!

[2016-02-22 18:22] rene-hermenau opened #4334 "Broken end date in payment history. Not all purchases shown"
Wrong end date in payment history.
As a result the payment history is not showing all purchase made in the selected time frame.
See: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4330

Examples

![Alt text](https://monosnap.com/file/EXuu8ebQcxzUakwbYtSqWXquc5vr8g.png)

![Alt text](https://monosnap.com/file/EUMdDg8Tgg7gbIHQ1KKTN0sxh4EUPU.png)

[2016-02-22 18:46] pippinsplugins commented on #4333
Thanks for the headsup, we'll get it fixed.

[2016-02-22 18:47] pippinsplugins commented on #4334
@rene-hermenau Are you on the latest version? We just addressed this in #4030

[2016-02-22 18:48] pippinsplugins commented on #4333
PR: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4332

[2016-02-22 19:21] rene-hermenau commented on #4334
Yes, Latest stable version

[2016-02-22 23:09] cklosowski commented on #4325
I'm not able to replicate this. I've used Stripe and EDD, taxes enabled, 100% discount, and the purchase works fine. I've set stripe as the only payment gateway.

[2016-02-23 00:04] cklosowski commented on #4079
We'll take this opportunity to run the uninstaller and make sure no transients with the prefix of `edd_` remain after the uninstall functions are run.

[2016-02-23 07:00] samikeijonen commented on #4325
Here is screenshot of tax setting page:

![screenshot 2016-02-23 08 57 00](https://cloud.githubusercontent.com/assets/1820415/13243972/804afd38-da0b-11e5-9545-53ee4b404494.png)

And here is screenshot for payment gateway settings:

![screenshot 2016-02-23 08 59 52](https://cloud.githubusercontent.com/assets/1820415/13244023/d3ba6382-da0b-11e5-9207-db72bcac55af.png)

Also one of my customer reporte

[2016-02-23 07:55] samikeijonen opened #4338 "Using new labels in Downloads list admin page"
Core has several new `screen-reader-text` labels for Custom Post Types. Here is the [reference](https://make.wordpress.org/core/2015/12/11/additional-labels-for-custom-post-types-and-custom-taxonomies/). They do fall back for posts/pages but it would be better if we use correct labels for downloads.

I suggest that we use these three new labels for `download` post type:

[code]

[2016-02-23 08:05] samikeijonen commented on #4338
On the same note I'm not sure should we use new labels for taxonomies also. There is `items_list_navigation ` and `items_list` labels but they do fallback nicely.

[2016-02-23 08:36] samikeijonen opened #4339 "Admin page headings"
In all admin pages Core uses now `H1` heading as main heading. I suggest that EDD would do the same.

For Payment history, Discount code and Customer admin pages we could add `screen-reader-text` labels same way as mentioned in issue #4338. But not sure if it's needed. I look into this more closely.

[2016-02-23 09:43] samikeijonen opened #4340 "Add screen reader text to default variable price option"
There are couple of issues when you enable variable pricing on download edit screen.

1. Default variable price can't be set or focused using keyboard only. Test can be done by using only `Tab`, `Shift+Tab`, `Enter`, `Space` or arrow keys. I need to look into this more closely. There is `<input type="radio">` but there is no label for it. I was thinking something like this but even this doesn't en

[2016-02-23 12:36] brashrebel opened #4341 "Misleading title attribute for Send Test Email"
Oops! The Send Test Email button is highly confusing. As you can see [here](https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/emails/template.php#L112) the title attribute states `This will send a demo purchase receipt to the emails listed below.` but where this button appears in the settings there are no emails below. Unless I'm mistaken this button triggers an e

[2016-02-23 13:18] samikeijonen commented on #4340
Sorry, you **can** set default variable price using keyboard only.

![variable_pricing](https://cloud.githubusercontent.com/assets/1820415/13252537/01d19efa-da40-11e5-80f9-e25371d90a6c.png)

I was just confused that focus stopped first time in the second variable price (checked one). From that point you can use up/down arrow keys to select another price option. But I would still add label and `scr

[2016-02-23 13:43] spencerfinnell opened #4342 "Login/Register Default Redirects"
Any thoughts on setting the default login/register redirects to the homepage? Not sure about you but we get a couple a week about people wondering why they are left on a blank page or see the message about being logged in.

[2016-02-23 13:45] samikeijonen opened #4343 "In variable pricing table remove repeatable field should be a button, not a link"
In general links are for links when you actually go somewhere, buttons are for actions. Here is the [reference](https://make.wordpress.org/core/handbook/best-practices/coding-standards/accessibility-coding-standards/#semantics-for-controls).

![remove_repetable_field](https://cloud.githubusercontent.com/assets/1820415/13252918/d73b3e9c-da41-11e5-88a0-8055ac6a12c5.png)

Code for remove "button" loo

[2016-02-23 13:53] samikeijonen commented on #4343
This is not related but `edd-admin.css` could be coded using [CSS standard](https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/) :)

[2016-02-23 14:13] samikeijonen opened #4344 "In variable pricing Add New Price should be a button"
Check issue #4343 for reference. At the moment **Add New Price** is a link.

![add_new_price](https://cloud.githubusercontent.com/assets/1820415/13254072/42ab6624-da48-11e5-83c4-f97c3d141572.png)

It's not focusable using keyboard only. I suggest that we change that to button as well.

[code]

[2016-02-23 14:32] samikeijonen commented on #4344
The same should be done in Download Files metabox for Add New File button.

[2016-02-23 14:33] samikeijonen commented on #4343
The same should be done in Download Files metabox for remove "buttons".

[2016-02-23 14:43] pippinsplugins commented on #4328
@SDavisMedia @mindctrl @mintplugins We need to get this tested extensively please.

Please test the following download file configurations:

Download Method: Redirect
Symlinks: Disabled

- Dropbox File Store (with and without forced download settings)
- Public Dropbox link (copied straight into product)
- Amazon S3
- Regular upload to EDD folder
- Regular upload to media library
- Relative path to

[2016-02-23 16:20] samikeijonen opened #4345 "Losing focus when removing price option"
When you add new price option I really like that you set the focus on Option Name field.

![set_focus](https://cloud.githubusercontent.com/assets/1820415/13257913/86132bde-da59-11e5-9d29-8e59cd5e7122.png)

But when you remove the price option you lose the focus. It should at least stay inside Download price metabox. Probably setting the focus in previous focusable element would be preferable.

If

[2016-02-23 17:40] samikeijonen commented on #4345
Or we could set the focus always to the next element.

[code]

[2016-02-23 17:41] pippinsplugins commented on #4343
:+1:

[2016-02-23 17:42] pippinsplugins commented on #4344
:+1:

[2016-02-23 17:43] pippinsplugins commented on #4345
I vote we set focus to the previous price option's name, or the next price option when removing the first one in the lst.

[2016-02-23 20:53] pippinsplugins commented on #4341
Related: #4233

[2016-02-23 21:16] pippinsplugins commented on #4342
I'd prefer we set the default to the account page with the home page as a fallback.

[2016-02-23 21:19] spencerfinnell commented on #4342
Do you mean Purchase History? There isn't a setting for the profile editor shortcode page is there?

[2016-02-23 21:33] pippinsplugins commented on #4342
Yes, Purchase History.

Profile editor does not have a setting.

[2016-02-23 21:46] spencerfinnell commented on #4342
Cool! Works for me. As long as it's taking them to a new page. :)

[2016-02-23 22:19] mindctrl commented on #4328
#### Download Method: Redirect
**Symlinks: Enabled**
All work fine.

**Symlinks: Disabled**
All work fine.

#### Download Method: Forced
**Dropbox public pasted link, force download off and on:** throws a notice: `PHP Warning:  filesize(): stat failed for https://www.dropbox.com/s/uoqjkbv0i5i4dzu/test.png?dl=1 in /Users/jp/Sites/edd-sl/wp-content/plugins/easy-digital-downloads/includes/process-dow

[2016-02-23 23:04] pippinsplugins commented on #4328
For filesize issue, see related https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4329

[2016-02-24 01:57] #4323 closed

[2016-02-24 01:58] mintplugins commented on #4328
## Download Method: Redirect Symlinks: Disabled

•	**Dropbox File Store**
•	With Forced in Dropbox Settings: **Successfully Downloads as Forced**
•	Without Forced in Dropbox Settings: **Successfully Downloads as Redirect**

•	Public Dropbox link (copied straight into product) - **Successfully Downloads as Redirect**
•	Amazon S3 - **Successfully Downloads as Redirect**
•	Regular upload to EDD folde

[2016-02-24 02:45] pippinsplugins commented on #4325
I've replicated this on a customer's site. It's happening because the following JS errors are getting thrown:

[code]

[2016-02-24 03:11] pippinsplugins commented on #4325
I've tracked this down. It's due to the `required` attribute we added recently in #3920

See http://stackoverflow.com/questions/22148080/an-invalid-form-control-with-name-is-not-focusable

HTML5 freaks out if you have a required field that is not able to be focused.

When hiding the address and gateway fields, we need to remove all `required` attributes.

[2016-02-24 09:54] NateWr commented on #4108
Sorry for the delay. Never enough time. :)

[code]

[2016-02-24 15:24] flowdee opened #4347 "Add action to edd_update_payment_details in order to validate and save custom data"
In my case I'm trying to add a custom input field by using the **edd_view_order_details_update_inner** action and now I need to validate and save the given data.

![update_payment_details_action](https://cloud.githubusercontent.com/assets/2278756/13290049/78d26e76-db12-11e5-979a-6fbf5858bad7.png)

Tried using the **edd_update_payment_details** action but unfortunately it doesn't execute?!

Correct

[2016-02-24 17:09] izikenmichael opened #4348 "Nigerian Currency"
There is no option for nigerian currency in the currency option. can it be fixed?

[2016-02-24 17:12] mindctrl commented on #4348
Hi @izikenmichael,

You can add custom currencies to your site following the instructions [here](http://docs.easydigitaldownloads.com/article/272-adding-currency-support-eddcurrencies).

In the future, feel free to open support tickets on our site here: http://easydigitaldownloads.com/support/

We use Github for development purposes only.

[2016-02-24 17:12] #4348 closed

[2016-02-24 22:44] cklosowski commented on #4347
You can use the action `edd_updated_edited_purchase`, which will pass you a `$payment_id` in order for you to make changes to it, and then your data you are processing will be in `$_POST` with the name of the input field you've created.

You would simply use something like:
[code]

[2016-02-25 07:28] flowdee commented on #4347
Thanks @cklosowski this will be fine for me too!

[2016-02-25 07:28] #4347 closed

[2016-02-25 07:48] dancameron opened #4350 "Payment object doesn't setup fees_total"
I'm adding downloads to a payment after purchase (to handle bundles easily), this is done with `$payment->add_download()` after `edd_insert_payment`. Anyway, I found out that modifying the payment will cause the total to be recalculated incorrectly based on the fees_total not being setup during instantiation.

[code]

[code]

[2016-02-25 15:24] pippinsplugins commented on #4350
@dancameron Thanks for the headsup! We'll get it fixed for next point release.

[2016-02-25 15:25] pippinsplugins commented on #4350
PR looks good too so just need to test and confirm there are no nuances.

[2016-02-25 16:01] cklosowski commented on #4350
@dancameron this looks good but we can simplify it as `setup_fees` has already been run and defaults to an empty array for fees, we can just do a `foreach` on `$this->fees as $fee`. If we want we could throw a `! empty()` check prior, but no need to do the validation of it again.

[2016-02-25 16:31] dancameron commented on #4350
That's what I originally had but I didn't want that method to be dependent
on another loading first. I doubt it would be an issue since they're
private but it's just a thought I had that convinced me to change it.
On Thu, Feb 25, 2016 at 8:01 AM Chris Klosowski <notifications@github.com>
wrote:

--
Typos sent from my iPhone.

[2016-02-25 16:48] cklosowski commented on #4325
@pippinsplugins @samikeijonen can you guys test this out? `issue/4325` branch should do the trick and just make sure you aren't using minified scripts.

[2016-02-25 16:52] cklosowski commented on #4320
Looked into this further...our `user` search requires `user:` to be the prefix...when finding payment, however the payment counts looks for just an numeric ID as the query for a user...where as in the payments query, a simple numeric string is searching by payment ID...

[2016-02-25 16:57] mintplugins opened #4353 "Conflict with WP-Members plugin (customer missing)"
**The Issue:**

Purchases (when the user signs up upon checkout) don't have the customer attached if this 3rd party plugin is active:
https://wordpress.org/plugins/wp-members/

<img width="1242" alt="screen shot 2016-02-25 at 11 19 04 am" src="https://cloud.githubusercontent.com/assets/1638128/13327124/9a10cdae-dbb6-11e5-8dca-304281f66e20.png">

**Recommended Action:**
Find what is happening durin

[2016-02-25 19:11] pippinsplugins commented on #4325
Looks good to me.

@samikeijonen Could you confirm it fixes the issue for you?

[2016-02-25 19:15] pippinsplugins commented on #4353
@mindctrl I just tested it and it worked properly for me.

I purchased while logged out and created an account during checkout.
![screen shot 2016-02-25 at 1 15 10 pm](https://cloud.githubusercontent.com/assets/1034109/13331148/d18ac1b2-dbc1-11e5-816b-3740a9e1e1bc.png)

[2016-02-25 19:15] pippinsplugins commented on #4353
Any specific settings?

[2016-02-25 19:38] mindctrl commented on #4353
@mintplugins ^^

[2016-02-25 19:38] cklosowski commented on #4320
Ok, so dug into this...and I think we have to leave this a 'little' broken, and here's what the expected results should be. Replace all instances of `#` as an `integer`
To search for a user `user: #`. This will generate the proper list of payments and pagination (and counts) for all payments for that user ID.
To search for a single payment `#`. This will return the result of that single payment, b

[2016-02-25 19:39] cklosowski commented on #4320
@mindctrl @SDavisMedia are you guys good with this conclusion?

[2016-02-25 19:40] samikeijonen commented on #4325
I'll check it out!

[2016-02-25 19:46] SDavisMedia commented on #4320
@cklosowski haha sucky choice to make but I like leaving it somewhat broken.

To be clear, when searching just `#`, there's no way at all to keep it from returning purchases by that user ID right?

[2016-02-25 19:48] cklosowski commented on #4320
@SDavisMedia Currently searching for a number only will return that payment ID, not the user's payments...you need `user: #` for that. When initially debugging, I looked at the count function first and assumed that a numeric search meant search Users...but after I dug in, I found that in the actually query for payments it means search for payments with that ID, whereas the counts use the number se

[2016-02-25 19:56] SDavisMedia commented on #4320
@cklosowski I get that. And I'm cool with leaving it "broken" like that. What I'm saying is when you search `#` and we get the results for that payment ID, even though the user's payments whose ID matches that integer are not literally displayed in the table, is it possible to remove them from the count? So essentially making it a little less broken and possibly avoiding a high count and maybe pag

[2016-02-25 19:56] SDavisMedia commented on #4320
That's probably a super edge case anyway so I guess it doesn't matter much.

[2016-02-25 19:57] cklosowski commented on #4320
@SDavisMedia No, we cannot, that's the bug...if we make that work, we'd end up breaking the `edd_payment_count()` for anyone who's using it expecting a numeric search to be a user ID instead of a payment ID.

[2016-02-25 20:00] SDavisMedia commented on #4320
Okay so I take it that means there are scenarios where searching `#` for a user happens besides at the payment record table listing? Does this happen in code scenarios or something? I asked because it doesn't matter if it breaks user ID searching if it doesn't visually display data anyway.

[2016-02-25 20:01] cklosowski commented on #4320
Yes, there are areas where we use `edd_payment_counts()` for getting the number of payments for a user Id.

[2016-02-25 20:02] SDavisMedia commented on #4320
Gotcha! Yup, I'm all good with that then. I was only considering the table listing scenario at first. Makes perfect sense to leave it as is all things considered.

[2016-02-25 20:05] samikeijonen commented on #4325
Works for me.

[2016-02-25 20:07] pippinsplugins commented on #4325
:+1:

[2016-02-25 20:07] #4325 closed

[2016-02-25 20:08] cklosowski commented on #4350
@dancameron I can live with that justification... @pippinsplugins?

[2016-02-25 20:12] pippinsplugins commented on #4350
I'm fine with it.

[2016-02-25 20:35] cklosowski commented on #4222
Going to wait for #4328 as it contains a check for urls that are local...will be useful and make this much faster. So once that's merged I'll do something with this.

[2016-02-25 20:35] #4032 closed

[2016-02-25 20:36] #4079 closed

[2016-02-25 21:15] mintplugins commented on #4353
My mistake. After confirming I found this was actually caused by some strange cacing behaviour with W3 Total Cache...closing.

[2016-02-25 21:15] #4353 closed

[2016-02-25 21:54] #4265 closed

[2016-02-25 23:16] cklosowski commented on #3934
I assume this is what we're talking about?
![screen shot 2016-02-25 at 4 16 21 pm](https://cloud.githubusercontent.com/assets/1390124/13337861/2509ebf6-dbdb-11e5-926d-7e3121558765.png)

What's our goal? To shorten the titles? Make our own menu subset?

[2016-02-25 23:23] pippinsplugins commented on #3934
Goal: remove them.

[2016-02-26 00:55] DevinWalker opened #4359 "{receipt_link} markup stripped in plain text emails"
When you select "No template, plain text only" and have `{receipt_link}` all you get is the non-clickable text. We should be checking for this within `edd_email_tag_receipt_link` and output URL if plain text so email clients can hyperlink it.

Reported via Give here: https://github.com/WordImpress/Give/issues/384

Fixed here: https://github.com/WordImpress/Give/pull/495

LMK if I can submit a PR i

[2016-02-26 04:07] SDavisMedia commented on #3934
@cklosowski :point_up:

[2016-02-26 11:16] samikeijonen commented on #4345
I might need help on this one. I'm not sure how do I conditionally check if I'm about to remove the first one on the list.

[2016-02-26 12:12] akyusa01 opened #4365 "Support HTML in edd_new_user_notification email"
Original ticket: https://secure.helpscout.net/conversation/175033312/28661/?folderId=750133

The function is performing the echo including the html characters:

![screen-shot-2016-02-25-at-12-30-12-pm](https://cloud.githubusercontent.com/assets/9019502/13351972/4ac4a412-dc58-11e5-9eee-5c9e4bf4db5f.png)

[2016-02-26 12:46] samikeijonen commented on #4345
Okay, I tried something in PR #4366. It's working but let me know if it can be done better.

[2016-02-26 15:19] pippinsplugins commented on #4359
Good catch. Seems like the right approach to me.

[2016-02-26 16:55] cklosowski commented on #3934
@pippinsplugins @SDavisMedia :boom:

[2016-02-26 17:34] cklosowski commented on #3934
Currently there isn't a way to set our menu items as 'blacklisted' due to there being no filter on this array:
[code]

I've emailed the developer looking to a filter added here for us, even offering to throw a PR that way if need be. Going to leave this on 2.5.10 for now, but if we get close I'll punt until we hear back from the dev.

[2016-02-26 18:20] cklosowski commented on #4059
@kiarashi  This looks like you are using `$purchases` as the source of the count, but showing the `downloads`. A users `purchases` are not the same as the users `downloads` in all cases. The pagination would not always work considering that `1 purchase` could have `many` downloads on it, so it wouldn't paginate correctly.

[2016-02-26 18:40] kiarashi commented on #4059
Hi Cklosowski,

It's not my code. `$purchases` comes from edd's core file:
.../plugins/easy-digital-downloads/templates/history_downloads.php

:)

[2016-02-26 19:03] #4319 closed

[2016-02-26 21:02] pippinsplugins commented on #4365
This email is never sent as HTML so we need to remove all HTML from it.

[2016-02-26 21:05] pippinsplugins commented on #4345
Excellent, thanks! We have all of this a11y items milestoned for 2.6 so we'll review them as we get closer.

[2016-02-27 09:01] samikeijonen opened #4372 "Can't "Drag and Drop" variable prices in different order using keyboard only"
I'm opening new issue for this one. It was also mentioned in issue #4340. In variable pricing you can't drag and drop prices in different order using keyboard only. At the moment I don't have a fix for this but I look into it at some point.

[2016-02-27 14:37] brashrebel opened #4373 "HTML validation fails if schema.org itemtype is missing"
`add_filter( 'edd_add_schema_microdata', '__return_false' );` is a useful snippet for removing Schema.org attributes, however currently it results in HTML validation errors. [This tool](https://developers.google.com/structured-data/testing-tool/) demonstrates the problem. The issue is that some schema.org properties remain but are essentially orphaned because the type they belong to gets removed b

[2016-02-27 20:21] pippinsplugins commented on #4372
It would be awesome to see this fixed.

[2016-02-28 08:44] samikeijonen opened #4374 "edd-admin.css CSS coding standards"
`edd-admin.css` file is kind of hard to read and maintain. Do you think it would be a good idea to follow more closely [CSS coding standards](https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/)?

Something similar than in `edd.css` file.

[2016-02-28 09:14] samikeijonen opened #4375 "Screen reader NVDA announce bundle download as blank"
I'm to 100% are you using `select2` in bundle downloads and also elsewhere. If you are, here is a good [reference issue](https://github.com/select2/select2/issues/3744) for it.

Note that when I use mouse and hover over bundle downloads NVDA announce the name of the download. But when I use keyboard only NVDA announce just `blank`.

With all that said I'm hoping that `select2` will be more accessi

[2016-02-28 09:29] samikeijonen commented on #4375
Or are you using `Chosen`?

[2016-02-28 14:58] #3654 closed

[2016-02-28 14:58] pippinsplugins commented on #3437
I'm not sure if this still happens but I've milestoned it to ensure we review it further.

[2016-02-28 15:19] pippinsplugins commented on #4374
Yes.

[2016-02-28 15:20] pippinsplugins commented on #4375
We use `Chosen`.

[2016-02-29 12:32] samikeijonen commented on #4375
Okay. This is something that needs to be done in `Chosen`. Let see what we can do.

[2016-02-29 16:37] akyusa01 opened #4376 "Change message on account page for password"
Original Ticket: https://secure.helpscout.net/conversation/175925713/28854/

Message shows "Please note after changing your password, you must log back in." which is misleading as the user is still logged in.

![account local testing 2016-02-29 11-37-08](https://cloud.githubusercontent.com/assets/9019502/13401103/d014dc7c-ded8-11e5-983b-5013c3b657d5.png)

[2016-02-29 18:00] akyusa01 opened #4377 "Safari Auto-fill on checkout form"
Original ticket: https://secure.helpscout.net/conversation/176246649/28915/?folderId=750133

I was able to recreate this on my local dev site.  When you use the Safari browser and auto-fill to complete the form, the billing country model window states 'USA' but when you click the auto-fill, it changes it to Virgin Islands (USA).  Does not do this in Chrome or FF, only Safari.

![screen shot 2016-0

[2016-02-29 18:53] michaelbeil commented on #4376
I believe when a user changes the password, he/she is automatically logged out.

[2016-02-29 19:15] akyusa01 commented on #4376
Hey man :)  I tested on my local with the latest version and didn't get logged out.  But as soon as the profile editor loads, you have that message there whether you are there to change your password or now.

[2016-02-29 23:19] brashrebel opened #4378 "Record edits to core EDD files"
I don't know exactly where we'd store it. A new option I guess? But it would be fairly straightforward to tap into whenever the `recently_edited` option is updated with something like the `pre_update_option_*` filter. The option stores a serialized array which includes the path to the file that was edited. Would be cool to add this to the System Info so we can tell in support whether the files hav

[2016-03-01 02:03] pippinsplugins commented on #4376
Let's get it fixed in 2.6

[2016-03-01 17:10] mintplugins opened #4381 "Cart Widget doesn't calculate Discounts via ajax."
**The Issue:**

If you have:
-The Cart Widget in your sidebar
-A discount set up using "Discounts Pro"

An Ajax-added product does not immediately have the discount calculated in the Cart Widget. If you refresh the page the Cart Total includes the Discount calculation.

Thus, the Ajax call which updates the cart widget doesn't appear to include the calculation for the Cart Discount.

**Recommended

[2016-03-01 17:12] sunnyratilal commented on #4365
As there is a HTML link in there, shouldn't we just add the email headers so it's treated as HTML to keep the login link valid?

[2016-03-01 17:27] #4359 closed

[2016-03-01 18:39] pippinsplugins commented on #4365
@sunnyratilal We certainly could! I'm not opposed to doing that.

[2016-03-01 18:50] pippinsplugins commented on #4377
So weird . . . Not sure how we can fix this but let's look into it.

[2016-03-01 18:52] pippinsplugins commented on #4381
This may need to be a change in Discounts Pro. Not sure though. We'll investigate to determine.

[2016-03-01 19:46] mintplugins commented on #4381
I spoke with @chriscct7 and he mentioned that he thought it would be an issue with EDD and not Discounts Pro:
https://eddwp.slack.com/archives/edd-general/p1456851501003129

[2016-03-01 23:16] brashrebel opened #4382 "Allow store owners to connect to their EDD customer account"
It would be powerful for a number of reasons to allow customers, within their own sites, to connect to their customer account on easydigitaldownloads.com. If they do this, we could then automatically help with some useful things like populating license keys and possibly more.

I am not sure what the UI would look like or where it would live exactly. But lots of other plugins do this. Stripe Connec

[2016-03-01 23:34] pippinsplugins commented on #4382
If we provided a way to automatically pull in / renew license keys, this could be especially valuable.

[2016-03-02 11:10] joviczarko opened #4383 "Testing IF statement on inexisting price returns true"
Is this behaviour a feature or a bug?

`if ( edd_price( get_the_id(), 0, 2 )`  Will return true even if the price is not set.

`edd_price( get_the_id(), 1, 2 );` Will display first price when price ID2 is not set.

Only way to test if ID2 price exists is by price name
`if ( edd_get_price_option_name( get_the_id(), 2) )`

Also `if ( edd_get_price_option_name( get_the_id(), 2) )` returns true even i

[2016-03-02 16:41] cklosowski opened #4384 "Fatal Error on adding multi purchase price id to cart when it already exists"
`Fatal error: Unsupported operand types in /easy-digital-downloads/includes/cart/functions.php on line 220`

[2016-03-02 17:31] pippinsplugins commented on #4383
@joviczarko That is intentional.

[2016-03-02 17:45] brashrebel commented on #4382
Was just chatting with @cklosowski about this. Basically, there's a lot of potential for improving the experience for EDD customers by allowing them to more seamlessly integrating their customer account with their store. However, the best way to pursue this not so straightforward.

The concept of connecting to a customer account opens the door to things like populating license keys, easy install o

[2016-03-02 18:04] brashrebel commented on #4378
I don't really know what the ideal implementation for this would be but my first thought is a new option would be created when any edd core file or extension is edited the first time and updated for any changes after. This option wouldn't have any admin UI but would be used to populate a new `-- File Edits` section on the System Info. The option would store an array of the files that have been edi

[2016-03-03 10:58] joviczarko commented on #4383
@pippinsplugins  OK. Sorry for bothering then :+1:

[2016-03-03 13:42] cklosowski commented on #4059
@kiarashi correct. I just was meaning in that screenshot the line you highlighted, I'll get this fixed up.

[2016-03-03 13:57] brashrebel opened #4386 "Add campaign tracking to links in contextual help menus"
Throughout EDD there's a handful of links in the contextual help menus. We have no idea whatsoever how much that help content gets used so in order to get _some_ data we should at least be tracking the links back to our site.

[2016-03-03 14:18] #4383 closed

[2016-03-03 14:31] pippinsplugins commented on #4375
:+1:

[2016-03-03 14:46] zozii opened #4387 "How can i set license to a wordpress web page"
Hi dear support
I have this problem... i will sell my website with woocommerce plugin installed(all the products included) and with the hosting on the server. I want to add license to the woocommerce or at this Theme and then the other Administrator won`t be able to use the dashboard whithout me (the license). Is there any license/plugin/or other security method which i can use it to make my idea

[2016-03-03 16:35] michaelbeil commented on #4387
Hi there. Please send support inquiries to https://www.easydigitaldownloads.com/support. We use GitHub to track core development issues only :).
Thanks :+1:

[2016-03-03 16:47] #4387 closed

[2016-03-03 17:00] cklosowski commented on #4382
The level of crazy is pretty low. I think it's a great long term solution to improving the user experience of being in the EDD Ecosystem. We will have to be careful the features we want to add as they will impact our .org status (as stated above) but there are ways around that. A great idea for sure.

[2016-03-03 17:04] cklosowski commented on #4381
I believe we have to update a few things here. the cart widget processing as well. Currently the output doesn't contain fees, just products and their taxes:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/templates/widget-cart.php#L13

[2016-03-03 17:10] cklosowski commented on #4365
I like the idea of turning it into an HTML email @sunnyratilal the number of clients NOT supporting HTML email is so low that I feel like it should be HTML by default, especially with a call to action URL

[2016-03-03 19:27] sunnyratilal commented on #4365
Should we update it to the use the EDD emails class while we're at it?

[2016-03-04 17:23] #3906 closed

[2016-03-04 17:27] cklosowski commented on #4365
Sure, @pippinsplugins you good with that? I think EDD Emails should power any email we send.

[2016-03-04 17:45] cklosowski commented on #4328
Where do we stand with this @easydigitaldownloads/core-devs.

Are we good with it's current level of accuracy or do we want to go further, knowing that these `filesize` methods will be fixed in #4329

[2016-03-04 18:44] pippinsplugins commented on #4328
@cklosowski Can we please get the `filesize` fixes merged into the same branch so we can test all file types listed above?

[2016-03-04 22:55] cklosowski commented on #4328
Sure I'll just code them in the same branch, I was goign to do them separate...I'll update the existing PR

[2016-03-06 03:44] sumobi opened #4389 "EDD has 2 (almost identical) functions for returning the success page URL"
It turns out that the new version of EDD Recurring prevents a conditional redirect from working in EDD Conditional Success Redirects. This is because EDD Recurring uses `edd_get_success_page_url()` to get the URL of the success page. In the CSR plugin it uses the `edd_get_success_page_uri` filter available within the `edd_get_success_page_uri()` function.

These two functions appear almost identic

[2016-03-06 17:17] pippinsplugins commented on #4389
Let's make `edd_get_success_page_url()` simply return `edd_get_success_page_uri()` and deprecate it.

[2016-03-06 18:56] #4350 closed

[2016-03-06 19:51] pippinsplugins commented on #4328
My test results:

**Download Method: Redirect
Symlinks: Disabled**

Dropbox File Store (with and without forced download settings) -- **worked**
Public Dropbox link (copied straight into product) -- **worked**
Amazon S3 -- **worked**
Regular upload to EDD folder -- **worked**
Regular upload to media library -- **worked**
Relative path to file in wp-content --  **worked**
Absolute path to file abov

[2016-03-06 20:03] pippinsplugins commented on #4365
I'm good with that.

[2016-03-06 22:34] sumobi commented on #4389
:+1:

[2016-03-06 22:43] pippinsplugins commented on #4378
I really like the fundamental idea of doing something like this though we'll have to discuss in depth to figure out exactly how we want to implement it.

[2016-03-06 23:08] cklosowski commented on #4328
@pippinsplugins already have been. Trying to figure out why it's doing that.

[2016-03-06 23:09] pippinsplugins commented on #4328
👍

On Sunday, March 6, 2016, Chris Klosowski <notifications@github.com> wrote:

[2016-03-08 00:24] psyd2u opened #4391 "Will not proceed to payment page"
I have setup my first download and went to test purchase it.  I entered the receiving email address and the first and last name and clicked "Purchase." The button changed to "Please Wait" with a rotating circle next to it but would not advance beyond there.  I am using an incognito window and using a different email address than the PayPal or website email addresses.  Please help!

[2016-03-08 01:49] SDavisMedia commented on #4391
Hi @psyd2u. Please go ahead and open a support ticket using our [support form](https://easydigitaldownloads.com/support). This area is reserved for development discussion only.

Before opening your ticket, temporarily deactivate **all** other plugins besides EDD and test the functionality once more. Be sure to let us know the results of that test when you submit the support ticket.

[2016-03-08 01:49] #4391 closed

[2016-03-08 08:30] chriscct7 commented on #4377
If you add a hidden iframe inside the <form> element it should fix the issue.

[2016-03-08 08:46] chriscct7 commented on #4377
@akyusa01 does https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4393 fix the issue?

[2016-03-08 12:21] akyusa01 commented on #4377
I just re-tested, set it up on a live server.  Still the same, still bringing over Virgin Islands.  I updated the includes/checkout/template.php first before trying.  Adding the 2 lines and removing the 1 from #4393.

[2016-03-08 13:34] sunnyratilal commented on #4377
The easiest way would be to just add `autocomplete="off"` to the Country attribute but that's an inconvenience then for some customers.

Also, Safari doesn't seem to autofill the country for me even when I change my autofill data to US.

[2016-03-08 16:07] pippinsplugins commented on #4377
@chriscct7 I don't really care for that approach.

I don't care for the `autocomplete="off"` approach either. Let's see what else we can come up with?

[2016-03-08 17:51] cklosowski commented on #3934
Ok, got some feedback from the developer and his suggestion was to move the part of our removing the admin pages, into the same method that runs on `admin_menu` since `admin_head` is too late in the game for those plugins to hook.

This will make it more compatible across multiple menu editor plugins.

[2016-03-08 17:54] cklosowski commented on #4329
This is being done in #4328, and is in PR #4335

[2016-03-08 18:52] cklosowski commented on #4328
@pippinsplugins you're up man, I can't get this to work for everyone involved. I've gotten it most of the way there but i apparently can't match the exact stuff you guys are seeing. Tossing my white towel in so someone else can pick up the pieces and see why this won't work 100% for all cases.

[2016-03-08 20:21] cklosowski commented on #4108
this is interesting b/c the stats class does only subtract the taxes found for the specific cart item:
[code]

I'm not seeing any taxes on your cart items @NateWr, do you have a payment that does have taxes in the cart details?

[2016-03-08 20:33] mintplugins commented on #4328
My test results up to https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/7f3754d8abc736bdac23cdcc205270a152135925:

I have taken out everything that "Works as described in EDD" and only left in the ones that are acting strange. I know there are some workarounds in place but I'm not sure which ones those are so I am using "Works as described in EDD" as the expected behaviour for

[2016-03-08 20:54] pippinsplugins commented on #3934
@cklosowski Were you able to test and see if that change fixes it or does it still require that they do an update as well?

[2016-03-08 20:55] cklosowski commented on #3934
This does not require they make any updates. This is something they suggested we do as it will fix the issue for all menu editors.

[2016-03-08 21:02] #4115 closed

[2016-03-08 21:03] pippinsplugins commented on #3934
Great, so have you confirmed it resolves the problem by installing their plugin?

[2016-03-08 21:04] cklosowski commented on #3934
Yes, I've installed their plugin and this fix makes it so our admin pages are not part of their configuration.

[2016-03-08 21:05] cklosowski commented on #3934
Oh, and they are still accessible.

[2016-03-08 21:10] #3934 closed

[2016-03-08 21:12] pippinsplugins commented on #4328
@mintplugins For the two 404s you got, what did the URL in the browser look like?

[2016-03-08 21:15] cklosowski commented on #3177
So a radio for `current` or `specific download`, that exposes a text field to enter in a download ID? Just making sure I'm reading this right.

[2016-03-08 21:18] pippinsplugins commented on #3177
Yep, that works for me.

[2016-03-08 21:18] cklosowski commented on #3177
:+1:

[2016-03-08 21:27] mintplugins commented on #4328
@pippinsplugins

1: http://localhost/edd/wp-content/uploads/edd/symlinks/filename.png
2: This is now downloading a blank 0 kb file (not sure why it's changed)

[2016-03-08 22:06] pippinsplugins commented on #4328
Just to confirm I get the same results as Phil, here are my tests:

**Redirect with Symlinks:**
- Relative path: Forbidden
- Absolute path: Works

**Redirect without Symlinks:**
- Relative path: works
- Absolute path: 404

**Forced:**
- Relative path: 404
- Absolute path: 404

[2016-03-08 22:10] pippinsplugins commented on #4328
When it's a non-local file, we still need to output the file download headers, so this is running too early:
[code]
It has to run after
[code]

[2016-03-08 22:28] pippinsplugins commented on #4328
Relative and absolute paths appear to be failing for me primarily because of `header("X-Sendfile: $file_path");`

[2016-03-08 22:35] pippinsplugins commented on #4328
According to XSendFile documentation, only files that are within the bounds of whitelisted file patches can be sent with the `X-SendFile` header: https://tn123.org/mod_xsendfile/

Adding paths to the whitelist requires custom file configurations. That makes me think we should remove it completely and not use it. Perhaps we could add support for it later via an add-on.

[2016-03-08 23:02] pippinsplugins commented on #4328
Ok I think I have this worked out now.

@cklosowski @mintplugins can you both please test?

[2016-03-09 15:40] davekiss commented on #4109
@cklosowski what is the filter that you are referring to?

[2016-03-09 16:43] topher1kenobe commented on #4222
On this one can we simply make all the urls start with // and let the protocol take care of itself?

[2016-03-09 16:45] cklosowski commented on #4222
Not really as we need a fully qualified URL, but what we're going to do is strip the scheme and replace it with the scheme requested, this will prevent any past/future changes to the site's scheme from getting in the way without messing with the saving of the download files process in the meta.

[2016-03-09 16:57] NateWr commented on #4108
Thanks for looking into this @cklosowski. I'm confused as well. If you look at the screenshot you'll see it's showing taxes for this purchase (and I've double-checked that the `var_dump` represents this purchase).

 I'm using the Taxamo addon. Is it possible that the tax information is stored separately?

[2016-03-09 16:59] cklosowski commented on #4108
It's very possible that they are using the filter to return different tax
information than what is stored in our payment meta. I'll have to dig into
that further.

The screenshot proves that something is deducting incorrectly, just need to
figure out where that deduction is happening and fix it. I'll have to set
aside some time to dig into the integration more to see if it's an
integration issue.

[2016-03-09 17:04] NateWr commented on #4108
I'm made a soft promise to Rhys to try and contribute to the maintenance of that plugin, so I will try to set aside some time to look into the issue. Because it's not part of my regular daily duties it tends to get ignored, but I have another bug with it I've been meaning to tackle so I'll add this on.

[2016-03-09 18:26] cklosowski opened #4397 "EDD_API hooks fire when extending the class"
We discovered in Recurring (https://github.com/easydigitaldownloads/edd-recurring/issues/250) that if you extend the `EDD_API` class, it's filters and hooks fire twice (logically) and things like the api key fields on the admin profile editor show twice. We should make those not fire twice.

Credit: @mintplugins

[2016-03-09 18:32] mintplugins commented on #4328
Up to https://github.com/easydigitaldownloads/Easy-Digital-Downloads/commit/43c3acd10d992bca9c85faf87720c3d5b5534683, Symlinks and relative URLs are still giving 404s

[2016-03-09 19:06] cklosowski commented on #4384
To test this easily do the following:
1) Disable AJAX
2) Create variable price item with mult-price purchase on
3) Visit the download and add one price point to the cart
4) After reload is complete, add another price point to the cart
5) No fatal error (hopefully?)

[2016-03-09 19:27] mintplugins commented on #4384
Success. No fatal error
<img width="758" alt="screen shot 2016-03-09 at 2 26 38 pm" src="https://cloud.githubusercontent.com/assets/1638128/13647638/00004b84-e603-11e5-8d7d-abea0e7d2af3.png">

[2016-03-09 21:30] pippinsplugins commented on #4328
@mintplugins If you inspect the table row for the file you're testing, does it show an `attachment_id` field? If so, does the value of that field match up with the expected attachment ID of the file?

[2016-03-09 23:37] #3895 closed

[2016-03-09 23:39] cklosowski commented on #3177
How about this...for when there are less than 1000 products

![screen shot 2016-03-09 at 4 36 38 pm](https://cloud.githubusercontent.com/assets/1390124/13654385/45ee55fc-e615-11e5-96ce-f3b674b9c0e8.png)

When it's 1000 or more, it changes to a text input where you put in a download ID
![screen shot 2016-03-09 at 4 39 02 pm](https://cloud.githubusercontent.com/assets/1390124/13654425/77636d2a-e615-

[2016-03-10 00:22] SDavisMedia commented on #3177
@cklosowski Test working fine for me! :+1: Great idea, @jasongill.

[2016-03-10 00:25] jasongill commented on #3177
This is absolutely perfect - thanks @cklosowski for delivering and coming up with a fix for an issue that drove me (and it sounds like @itibook too) crazy trying to figure out :)

:+1: :+1:

[2016-03-10 00:38] cklosowski commented on #4365
User Email:
![screen shot 2016-03-09 at 5 37 41 pm](https://cloud.githubusercontent.com/assets/1390124/13655571/a837493c-e61d-11e5-936e-50af098ad19e.png)

Admin Email:
![screen shot 2016-03-09 at 5 37 32 pm](https://cloud.githubusercontent.com/assets/1390124/13655575/aee94c62-e61d-11e5-8cf6-9fd12d37218a.png)

Thoughts @akyusa01 @pippinsplugins @sunnyratilal ?

[2016-03-10 01:53] mintplugins commented on #4328
I checked and the attachment ID in the database matches the value I entered into the download. I feel like that may not be what you are asking though. Am I missing anything here?

[2016-03-10 02:18] SDavisMedia commented on #4365
I personally dig this. Ready to test if you wanna push something up.

[2016-03-10 03:38] cklosowski commented on #4365
@SDavisMedia yeah I wnat to rework the text for the headers to be 'less scary' for the user end...maybe something like `Your account info`

[2016-03-10 03:48] SDavisMedia commented on #4365
@cklosowski `Your account info` sounds good to me

[2016-03-10 08:51] itibook commented on #3177
happy to see this being solved! And with a very pragmatic solution too!

[2016-03-10 11:46] akyusa01 commented on #4365
looks good to me!

[2016-03-10 14:51] pippinsplugins commented on #4365
I like it.

[2016-03-10 14:52] pippinsplugins commented on #3177
Excellent.

I'd like to see the input field label say `Download ID` instead of just `Download` to ensure there is no confusion as to what should be entered.

[2016-03-10 15:09] cklosowski commented on #3177
The placeholder says Doenload ID otherwise it's just swapping the form
elements. Not the wrapper.
--
Chris Klosowski

[2016-03-10 15:13] pippinsplugins commented on #3177
Ah, I hadn't seen it with the placeholder. I'm good with this then.

[2016-03-10 15:14] pippinsplugins commented on #3177
Looks like a unit test needs updated.

[2016-03-10 15:19] pippinsplugins commented on #4328
@mintplugins Do your absolute path downloads work?

[2016-03-10 15:30] akyusa01 commented on #3498
Here's another ticket: https://secure.helpscout.net/conversation/179645160/29659/

[2016-03-10 15:33] mintplugins commented on #4328
@pippinsplugins yeah - they download as forced no matter what though

[2016-03-10 15:35] akyusa01 commented on #4365
tested this morning, works perfectly

[2016-03-10 15:36] pippinsplugins commented on #4328
@cklosowski Can you replicate the 404 with relative paths?

[2016-03-10 17:02] #4365 closed

[2016-03-10 17:04] cklosowski commented on #3177
@pippinsplugins Unit tests updated.

[2016-03-10 17:12] cklosowski commented on #4328
With Redirect and Symlinks on, I get a 403 on a file that's located relative in the `/wp-content` folder

[2016-03-10 17:15] cklosowski commented on #4328
Same thing when it's in my EDD Folder:
[code]

[2016-03-11 00:51] cklosowski commented on #4211
@mindctrl are we good here? Can I merge this and close it out?

[2016-03-11 15:02] bizzthemes opened #4401 "Move edd-ajax.min script to footer"
Is there any special reason that edd-ajax.min script is in header? It depends on jQuery so it also pulls jQuery to header. It would be much better to put it in footer.

[2016-03-11 15:03] cklosowski commented on #4401
Will need to do some testing with major extensions. I'll try that out and
see if we have any negative consequences.
--
Chris Klosowski

[2016-03-11 15:57] pippinsplugins commented on #4401
I'm not entirely sure but I suspect moving it to the footer may cause issues with the elements that we hide dynamically through JS. It would cause them to show and then be hidden after the page is rendered. Will need to test to confirm.

[2016-03-11 16:09] thomasgriffin opened #4403 "Allow PayPal payments to be refunded inside the WordPress admin"
Merry Christmas from myself and all the devs at Awesome Motive. :gift:

https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4402

Feel free to ask any questions or discuss. This is battle tested (10+ months used in production) and works very well.

[2016-03-11 16:12] bizzthemes commented on #4401
Not sure about showing / hiding stuff with Ajax before content is rendered, this is a CSS territory.

[2016-03-11 16:45] pippinsplugins commented on #4401
We use a combination of JS CSS to hide some elements as a way to 100% support sites that have javascript disabled.

[2016-03-11 16:48] pippinsplugins commented on #4403
@thomasgriffin This all looks really, really excellent. There are a few small tweaks I'll want to make, but we can take care of those ourselves. Thanks!

[2016-03-11 17:09] pippinsplugins commented on #4328
The forbidden error is expected if your htaccess file hasn't been updated with the proper rules. It should be only `-Indexes` when using `Redirect`. Double check the rules. I found I had to update mine manually.

[2016-03-11 17:10] cklosowski commented on #4328
:+1: Will check that today.

[2016-03-11 17:54] cklosowski commented on #4013
Pushing to 2.6 to match #4014 since they are related.

[2016-03-11 18:00] mindctrl commented on #4211
@cklosowski looks great here.

[2016-03-11 18:05] #4211 closed

[2016-03-11 20:07] cklosowski commented on #4250
@mgibbs189 @pippinsplugins how do we feel about this one now?

[2016-03-11 20:13] pippinsplugins commented on #4250
Looks good to me.

[2016-03-11 20:13] #4250 closed

[2016-03-11 21:59] mindctrl commented on #4320
@cklosowski looks good to me.

[2016-03-11 22:14] mindctrl commented on #4333
@cklosowski this looks good to me for both #4333 and #4334.

[2016-03-11 22:28] #4333 closed

[2016-03-11 22:28] #4334 closed

[2016-03-11 22:28] #4320 closed

[2016-03-11 22:33] DevinWalker opened #4405 "Session cookies are created on every page load"
Reported by several users including here: https://wordpress.org/support/topic/session-cookie-set-on-every-page-load-causes-cache-miss?replies=1

[code]

Related to: Session cookies are created on every page load: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4284

[2016-03-11 22:34] DevinWalker commented on #4405
Oops duplicate of #4284 - I meant to post this in our repo

[2016-03-11 22:34] #4405 closed

[2016-03-11 23:05] cklosowski commented on #4328
@pippinsplugins This is what I'm looking at in the `/wp-content/uploads/sites/2/edd/.htaccess` Is there another one I should look for.

![screen shot 2016-03-11 at 4 05 03 pm](https://cloud.githubusercontent.com/assets/1390124/13718009/144809f0-e7a3-11e5-8920-37ad2b2e1f07.png)

[2016-03-12 00:24] #4384 closed

[2016-03-13 07:46] chriscct7 commented on #2904
Given lack of support tickets, we can close this and open tickets as they get reported.

[2016-03-13 07:46] #2904 closed

[2016-03-13 07:49] chriscct7 commented on #3663
Until it appears on this list: https://www.paypal.com/selfhelp/article/FAQ2390/2 there's no point in keeping a ticket open for it.

[2016-03-13 07:49] #3663 closed

[2016-03-13 15:09] pippinsplugins commented on #2904
:+1:

[2016-03-14 04:19] chriscct7 opened #4406 "Unsupported Currencies?"
We have support in core for Indian Rupee and Iranian Rial but I can't find a single PayPal doc that says either of those two currencies are supported. They're not supported for PayPal personal accounts https://www.paypal.com/selfhelp/article/FAQ2390/2 and they aren't supported for business accounts https://www.paypal.com/cgi-bin/webscr?cmd=p/sell/mc/mc_wa-outside from what I can find

[2016-03-14 13:03] akyusa01 opened #4408 "Add downloads using 'Bundle'"
Original ticket: https://secure.helpscout.net/conversation/181090889/29944/

User is worried as wants to use Recurring and access to all, but the 'add products' under the bundle option only shows the latest 10, the rest has to be typed in for searching.  Is there an option we can add to let them control how many show in the dropdown?

[2016-03-14 13:09] chriscct7 commented on #4408
Theres a filter for this, the name of which eludes me at the moment.
However the reason we don't show them all by default is performance. If a
site has say 500 products, listing them all has performance considerations.
You can kill the server either on the. PHP side when doing the mysql query
overruns time allowances or on the client browser side when rendering that
many items in the DOM freezes t

[2016-03-14 13:52] pippinsplugins commented on #4406
Tagging for review in 2.7

[2016-03-14 13:56] pippinsplugins commented on #4408
We've discussed the option of making a way to add a product to an existing bundle when creating a product. It's not something I'm too inclined to add at this time as it's a pretty rarely needed feature, but would be a great place for a free extension to come in.

[2016-03-14 15:35] samikeijonen commented on #4031
Okay, we have started doing `a11y` review. Slowly but still. This is just the beginning but we need to start somewhere.

I'd like to wait for new PR before we know that we have right direction and some of those are merged.

[2016-03-14 18:12] SDavisMedia commented on #4342
The doc blocks would need updating on both functions.

I think it would be nice if `$redirect` was filtered.

[2016-03-14 18:51] pippinsplugins commented on #4031
Fantastic.
Let me know if you need anything!

[2016-03-14 18:54] pippinsplugins commented on #4328
That's it. So with that htaccess, you still get the forbidden error?

[2016-03-14 18:58] spencerfinnell commented on #4342
There is an existing function that returns the desired result but looks like it's meant for something pretty specific and has a very specific filter: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/45aaece5aff1c51ca400c59838f22a7134450121/includes/user-functions.php#L888

Maybe make a separate `edd_get_purchase_history_page()` function with the appropriate filter? cc @pippinspl

[2016-03-14 19:56] samikeijonen commented on #4031
If you can test `a11y` PRs at some point that would be great. For me it's easier to move on after that.

[2016-03-14 21:00] pippinsplugins commented on #4342
It would be nice to have a dedicated function for it, though that can come later.

[2016-03-14 21:01] pippinsplugins commented on #4342
Merged in for 2.6!

[2016-03-14 21:02] #4342 closed

[2016-03-14 21:35] #4068 closed

[2016-03-14 21:50] chriscct7 opened #4412 "recalculate_taxes breaks edd_get_chosen_gateway() (and other gateway related helper functions)"
recalculate_taxes() is called by many JS events on the checkout page. This includes for example a change in the selection of country. When it is triggered, it swaps out the content of the cart area of the checkout screen to reflect new tax information. Unfortunately edd_get_chosen_gateway() which can be called by extensions adding fees or virtual products will not get passed (since recalculate_tax

[2016-03-14 21:53] chriscct7 commented on #4412
edd_get_chosen_gateway() in particular is completely unreliable when ajax is turned off in EDD

[2016-03-14 23:59] pippinsplugins commented on #4412
I've seen issues with this a few times.

[2016-03-15 05:03] SDavisMedia commented on #4052
@cklosowski Replicated on `2.3.9` and then tested in `master`. Verified that changing the payment record from complete to pending did the following:

1. deleted the sales log
2. decremented the product sales count in all locations
3. decreased the product earnings in all locations
4. removed the `_edd_completed_date` meta value from the payment record

All good. :+1:

[2016-03-15 14:06] pippinsplugins commented on #4052
:+1:

[2016-03-15 14:06] #4052 closed

[2016-03-15 16:06] cklosowski commented on #4328
@pippinsplugins correct. I get the `403` when I have that `.htaccess` in place. I'll go through again today and test things out again, just to be sure.

[2016-03-15 16:57] cklosowski commented on #4328
@pippinsplugins these are the only ones that 403:
![relative-errors](https://cloud.githubusercontent.com/assets/1390124/13786336/4feea1c8-ea94-11e5-9a7e-3fa61cef2350.png)

[2016-03-15 17:03] BurlesonBrad commented on #4064
@pippinsplugins @cklosowski Something in my cranium wants to use this as a way to satisfy:
Always Be Learning
Contribute
Challenge My Self
Now, being a very slow learning, time constrained, dad of three, thick headed, and perseverantly stubborn kinda guy, I ask for a bit of help from support & 'Phil' gave me a few generalized links.  But, would either of you two coding super rocket ninja geniuses

[2016-03-15 17:45] cklosowski commented on #4328
@mintplugins @pippinsplugins can you guys test this latest commit out?

[2016-03-15 17:49] pippinsplugins commented on #4328
Relative and absolute paths both work for me with Forced, Redirect, and Redirect + Symlinks :+1:

[2016-03-15 17:53] pippinsplugins commented on #4064
Happy to help though I haven't even look into the API to see how it works yet.

[2016-03-15 18:28] pippinsplugins opened #4414 "Re-add support for retrieving cart item price without tax"
See #4413

[2016-03-15 18:28] #4414 closed

[2016-03-15 19:20] mintplugins commented on #4328
**Redirect + Symlink:**
Success for everything except relative paths.
Failure for relative paths: They are now downloading empty 0kb files for me

Here's a screenshot of my relative path:
<img width="655" alt="screen shot 2016-03-15 at 3 15 05 pm" src="https://cloud.githubusercontent.com/assets/1638128/13790938/20ae86da-eac1-11e5-8606-f06780184143.png">

<img width="649" alt="screen shot 2016-03-1

[2016-03-15 22:18] cklosowski commented on #4328
At this point we're awaiting some feedback from users who are willing to test out these fixes. @pippinsplugins should we get the remaining issues merged into a `2.5.10-beta` branch, (which is from `master`) so we can test the release out with some customers? That way we can give them a .zip of the release candidate.

[2016-03-16 02:13] pippinsplugins commented on #4328
@cklosowski yes please

[2016-03-16 14:06] pippinsplugins commented on #4222
I've merged this into `2.5.10-beta` and am sending it to a few users.

[2016-03-16 14:06] pippinsplugins commented on #4328
I've merged this into `2.5.10-beta` and am sending it to a few users.

[2016-03-16 14:06] pippinsplugins commented on #4329
I've merged this into `2.5.10-beta` and am sending it to a few users.

[2016-03-17 19:19] chriscct7 opened #4415 "Add import/export settings option that omits license keys"
This scenario I've seen a couple times, and it should be relatively straightforward and sensible to add.

Imagine an agency that gets their customers (per our advice) to get their customers to buy their own license keys. The agency has a custom standard set of settings they want to import into all of their customers sites, but they themselves have license keys entered in their settings panel so th

[2016-03-17 19:58] pippinsplugins commented on #4415
Great idea but won't be done in 2.6. Moved to 2.7 for consideration.

[2016-03-17 23:27] cklosowski commented on #4284
looking into this I can almost get there. I can get sessions/cookies to only be created when adding to the cart, however for some reason the cookies don't carry over to page refreshes. All AJAX requests know about the current cart contents, but the front of site has no idea about it, which is strange.

[2016-03-21 21:03] pippinsplugins commented on #4328
One beta tested said he was going to test soon but I have not heard an update from him yet.

[2016-03-22 17:43] pippinsplugins opened #4417 "Option to create new API key missing from table when no API keys are present"
It's impossible to create an API key from the API Keys table when no keys exist:
![screen shot 2016-03-22 at 12 42 37 pm](https://cloud.githubusercontent.com/assets/1034109/13961690/9eb4149a-f02b-11e5-9786-679205e0eda5.png)

[2016-03-23 08:35] grappler commented on #4104
How can I help get this merged in again?

[2016-03-23 14:46] pippinsplugins commented on #3900
I just replicated this! No idea how but I saw it.
![screen shot 2016-03-23 at 9 45 58 am](https://cloud.githubusercontent.com/assets/1034109/13988918/2139998e-f0dc-11e5-8774-c21c31223f3b.png)

[2016-03-23 14:53] benjaminprojas opened #4418 "wpautop in email templates messes with custom HTML template overrides"
@cklosowski @pippinsplugins @chriscct7

Throughout the process of generating the purchase email (and other EDD emails), the wpautop function is used multiple times.  This really messes with custom HTML templates, unless the templates remove all line breaks/whitespace in the HTML code.

I'd like to submit a PR to make wpautop optional.  Thoughts?

Here are the offending lines:

https://github.com/e

[2016-03-23 16:02] chriscct7 opened #4419 "In edd_email_preview_template_tags default to default gateway"
In edd_email_preview_template_tags() we should probably default to the default gateway, not assume PayPal, in case a site owner only uses (for example) Stripe, and wants to test emails that contain Stripe tags: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/f2f1f7db7322f5abe2d5900be0c40895978aed21/includes/emails/template.php#L65

[2016-03-23 18:45] pippinsplugins commented on #4104
We'll need to resubmitted against the `release/2.6` branch.

[2016-03-23 21:34] chriscct7 opened #4422 "Switch to using new IPN endpoints for PayPal Standard"
As part of https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1916&viewlocale=en_US, PayPal now strongly recommends using new endpoints. We can only, and we should, switch over to using these on the closest release after September 30th.

[2016-03-23 23:32] michaelbeil opened #4423 "Multi-option purchase mode in variable pricing"
When a download has variable pricing with the multi-option purchase mode enabled, a default is set and we see the download display with the available pricing options on the front-end.

Settings:
![screen shot on 2016-03-23 at 18-10-37](https://cloud.githubusercontent.com/assets/4752949/14003950/8f7eb54e-f124-11e5-8df6-abb1a07d64a3.png)

Display on front-end:
![screen shot on 2016-03-23 at 18-23-12

[2016-03-24 01:41] pippinsplugins commented on #4422
I don't see any reason not to do this a bit soon so bumping this up to 2.7 instead of 2.8.

[2016-03-24 09:43] grappler commented on #4104
Ok, I have created a new PR

[2016-03-24 14:31] pippinsplugins commented on #4328
Merged into master.

[2016-03-24 14:31] #4328 closed

[2016-03-24 14:50] pippinsplugins commented on #4222
I just ran another test on this and it looks good.

On `master`, a file that is using the wrong scheme failed to download. On `issue/4222`, both files download properly.

[2016-03-24 15:50] #4222 closed

[2016-03-24 16:00] #4417 closed

[2016-03-24 20:49] pippinsplugins commented on #4104
Thanks!

[2016-03-24 22:05] pippinsplugins opened #4428 "Never start sessions on RSS"
It was brought to my attention today that we are allowing sessions to be started on RSS feeds. That's just silly and causes some serious performance problems on sites that have very active RSS feeds (such as our own easydigitaldownloads.com).

We need to prevent sessions from ever being started from an RSS feed.

[2016-03-24 22:06] pippinsplugins commented on #4428
Related: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/4284

[2016-03-24 22:22] pippinsplugins opened #4429 "Add way to blacklist URLs from triggering a session start"
Sometimes there are pages where we never want a session to start (think high traffic landing page). To aide in this, we should add a way to blacklist URLs from starting sessions.

This will be a simple, filtered array of URLs / slugs. If we detect we're on a black listed URL, we prevent the session from starting.

Related: #4428 and #4284

[2016-03-25 00:34] pippinsplugins commented on #4418
@benjaminprojas I'd be fine with a filter to make it optional.

[2016-03-25 00:35] pippinsplugins commented on #4419
:+1: merged.

[2016-03-25 00:35] #4419 closed

[2016-03-26 17:16] EngageWP opened #4432 "Conditionally applying discounts"
Hey, EDD crew. I want to put together a plugin to add some additional discount requirements, but I've run into the issue of not having a good place to hook into to verify those requirements before applying the discount. I looked at the `edd_is_discount_valid` filter, but that does not allow me to access the $_POST data when a discount is applied.

To throw out an idea for making this possible, a f

[2016-03-26 21:02] chriscct7 commented on #4432
On that hook, use $user

$by_user_id = is_email( $user ) ? false : true;
$customer = new EDD_Customer( $user, $by_user_id );

The object will give you the email address

[2016-03-26 21:32] EngageWP commented on #4432
Awesome! So I guess I was overlooking something. Thanks a lot for your help, Chris.

[2016-03-26 21:55] chriscct7 commented on #4432
Not a problem

On Sat, Mar 26, 2016 at 5:32 PM, Ren Ventura <notifications@github.com>
wrote:

[2016-03-26 21:55] #4432 closed

[2016-03-27 09:59] profclimber opened #4433 "Remove date in Downloads"
Hi there,

Is there any way to remove the dates in the download items?
Website is www.photohanke.nl

gr maarten

[2016-03-27 15:00] pippinsplugins commented on #4433
@profclimber Please open a support ticket from our support page: https://easydigitaldownloads.com/support

GitHub is for core development tracking only, thanks!

[2016-03-27 15:00] #4433 closed

[2016-03-28 00:24] chriscct7 opened #4435 "Creating a payment sometimes doesn't save the correct user_id or customer_id"
Related to #4434, there are cases where EDD isn't saving the correct user_id or customer_id (not sure which one yet, possibly both, probably user_id only).

You can replicate this several different ways. For example:
- Disable guest checkout, set allow registration to true
- Buy a product while logged out, using the registration form to create a new user that the payment should be assigned to.

Or

[2016-03-28 01:35] chriscct7 commented on #4435
Another report: https://secure.helpscout.net/conversation/185898165/30859/?folderId=367285

[2016-03-28 01:38] chriscct7 commented on #4435
Possibly related: https://secure.helpscout.net/conversation/185825189/30846/?folderId=180499

[2016-03-28 05:59] flowdee opened #4436 "Reports: Filter by download"
The reports are fine as they are when showing earnings vs. renewals vs. upgrades.

Additionally it would be very helpful to filter the statistics listed above, by a specific download. This way I can get an idea about which of my products are most valuable and which maybe not and should be dropped.

[2016-03-28 14:03] pippinsplugins commented on #4436
Do you want to see the reports for multiple downloads at once or just a single download?

[2016-03-28 14:54] mindctrl opened #4437 "Download Details widget won't save "Current" Display Type"
If you select "Current" as the Display Type, it reverts to "Specific" when saved.

![image](https://cloud.githubusercontent.com/assets/1254870/14080474/6609a5b8-f4d3-11e5-9ffc-7dba7a200b17.png)

[2016-03-28 17:03] pippinsplugins commented on #4435
The manual payments scenario can be ignored. I've already fixed that in Manual Payments 2.0 (in development still).

[2016-03-28 18:18] pippinsplugins commented on #4435
@chriscct7 I just tested this on `master` and it worked properly.

![screen shot 2016-03-28 at 1 17 32 pm](https://cloud.githubusercontent.com/assets/1034109/14085785/8119883c-f4e7-11e5-8882-f3ca28b717f5.png)
![screen shot 2016-03-28 at 1 17 43 pm](https://cloud.githubusercontent.com/assets/1034109/14085784/81192982-f4e7-11e5-8aca-5575b453790c.png)
[code]
`string(2) "79"`

[2016-03-28 23:09] abhilash88 commented on #4437
Facing the same issue. "Specific" is always checked when the Save button is clicked.

[2016-03-29 00:32] flowdee commented on #4436
a list for multiples would be fine too. It's just important to get the total numbers for each download. Showing each options too would be the best case.

[2016-03-29 16:17] cklosowski opened #4439 "Sales/Earnings graph not working for individual products"
https://cloudup.com/cMVk8PMdwKm

[2016-03-29 20:29] brashrebel commented on #4386
@cklosowski want me to handle this?

[2016-03-29 21:43] pippinsplugins commented on #4436
:+1:

[2016-03-29 21:48] pippinsplugins commented on #4386
All yours @brashrebel

[2016-03-29 22:47] pippinsplugins commented on #4418
Looks good to me, I'm merging it.

[2016-03-29 22:47] #4418 closed

[2016-03-30 18:27] danieliser opened #4441 "New Tool: Remove Expired Discounts Codes"
This may not be of major use to everyone, but would be useful to nearly anyone creating discount codes.

In my case we generate discounts over an API so have nearly 15k expired codes. I know I can write my own script to do this, but would be a great addition to the expanding tools menu.

[2016-03-31 06:45] samikeijonen opened #4442 "Removing Title Attributes"
WP Core is moving away from using title attributes in links. It was also [removed from link modal](http://wptavern.com/how-to-restore-the-link-title-attribute-removed-in-wordpress-4-2). In comments there are more info why.

This is not a big `a11y` issue but could be good to follow this standard also. Title attribute is for example in order detail page in links `View Customer Details  |  New Custo

[2016-03-31 07:07] samikeijonen opened #4443 "In Customer details page icons are not focused"
In Customer details page there are dashicons with links (Profile, Notes, Tools, Delete). I'd add hover and focus styles for those links.

Also HTML semantic feels weird for me. Now the icons list are like this:

[code]

I'd change it to something like this:

[code]

[2016-03-31 07:13] samikeijonen commented on #4443
Also when you click any of the icons, you lose the focus. Focus could switch to element `edd-item-card-wrapper` or the first focusable element inside it.

[2016-03-31 09:02] moorscode opened #4444 "Attachment ID not overwritten by external URL"
Situation:
We use multiple download links on a download but on some download (which evidently have an attachment set somehow) the downloads don't work anymore because they are overriden by the attachment.

We are using The EDD Amazon S3 plugin to upload all our downloads to amazon.

Tracked the problem to the following commit:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/433

[2016-03-31 14:11] pippinsplugins commented on #4442
:+1: Let's get them all remvoed in 2.6

[2016-03-31 14:12] pippinsplugins commented on #4443
Thanks @samikeijonen! Milestoned for 2.6

[2016-03-31 14:18] samikeijonen commented on #4443
I'll create PR as soon as I have time :)

[2016-03-31 15:35] pippinsplugins commented on #4444
@moorscode have I understood you correctly that your files have an attachment ID stored and so you need to disable attachment look up during download?

[2016-03-31 17:31] pippinsplugins commented on #4443
Great! Please submit against the `release/2.6` branch.

[2016-03-31 19:20] samikeijonen commented on #4443
Hmmm I think I broke the internet:) In PR #4445 I tried to fix this but it seems I got all the balls rolling.

[2016-03-31 20:00] topher1kenobe opened #4446 "Change output of edd_get_download"
Right now edd_get_download() returns a WP_Post Object, whereas EDD_Download returns an EDD_Download Object.

We should make edd_get_download() return a new EDD_Download Object.

[2016-03-31 23:50] pippinsplugins commented on #4443
New one looks good!

[2016-04-01 09:56] santhosh-r-wiredelta opened #4449 "Past customer detail missing on Payment History & sales summary also wrong"
The problem is with purchases and customers not matching fully, leading to wrong stats and problems sending out emails, etc.
List out major issues in given follow :
1) Easy Digital Downloads Sales Summary -> it show wrong caculation
2) Payment History -> past customer name is missing but current customer working fine
3) Payment History -> Past View Order Detail is empty
How to fix this issue

[2016-04-01 13:20] topher1kenobe commented on #4442
There are 36 title tags in anchor tags in EDD core.  Do we want to remove all of them?

There are 9 title tags in other tags like input, textarea, etc.  Do we want to remove those?

[2016-04-01 13:24] samikeijonen commented on #4442
For anchor links I'd say all. I don't see a reason to leave them somewhere.

For inputs and textareas I need to double check. At the moment I'd vote for removal.

[2016-04-01 14:06] pippinsplugins commented on #4442
I would think all of them.

[2016-04-01 14:10] samikeijonen commented on #4442
And my PR #4448 I counted 35. @topher1kenobe can you locate that missing one?

[2016-04-01 15:00] akyusa01 commented on #4439
I think I have another one: https://secure.helpscout.net/conversation/187724472/31203/

[2016-04-01 20:00] rigelreyes opened #4450 "Migration error with .htaccess"
I migrated a WP site using EDD via FTP from one host to another. Now in the new host I get this message:

[code]

I already looked for this issue in EDD support forums without success, trying the download methods forced and redirect on EDD settings, rewritten the .htaccess file, and asking the hosting for the options directives and the say that all directives work properly. Everything I´ve try wit

[2016-04-01 20:38] mindctrl commented on #4450
Hi @rigelreyes,

Go ahead and open a support ticket and someone will help you out: https://easydigitaldownloads.com/support/

We use Github issues for development tracking only.

Thanks.

[2016-04-01 20:38] #4450 closed

[2016-04-02 10:25] ramiy commented on #4442
For input and textarea tags, you should replace the title attributes with lable tags.

[2016-04-02 14:03] moorscode commented on #4444
That is correct, I need the remote URL to not be overridden (by the attachment lookup).

[2016-04-03 01:50] chriscct7 opened #4453 "edd_decrease_discount_usage unsafe if discount code is deleted"
We allow people to delete discount codes from the UI. Also when people transfer EDD between sites, they generally don't export and import the edd_discount post type. The problem lies in that if a pending payment is transferred, if EDD_Payment goes to a status of failed then edd_decrease_discount_usage is called. However, there is no safety to ensure that the discount in question still exists in th

[2016-04-04 02:31] pippinsplugins commented on #4449
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-04-04 02:31] #4449 closed

[2016-04-04 15:13] pippinsplugins commented on #4435
@chriscct7 Can you try and replicate this again?

@cklosowski could you also try please?

[2016-04-04 15:45] cklosowski commented on #4435
Testing now.

[2016-04-04 15:51] cklosowski commented on #4435
Things connected just fine for me. No issues with the first scenario:
1) Disabled Guest Checkout
2) Made a purchase registering on the checkout
3) User ID is assigned to the payment

![screen shot 2016-04-04 at 8 51 23 am](https://cloud.githubusercontent.com/assets/1390124/14253928/67bace5e-fa42-11e5-8ae5-4131bc80c7cb.png)
![screen shot 2016-04-04 at 8 51 05 am](https://cloud.githubusercontent.com

[2016-04-04 15:54] pippinsplugins commented on #4444
Quick way to fix that:

1. Delete the row from the files section
2. Add a new file and select the S3 file.

When doing that, no attachment ID will be saved.

[2016-04-04 17:04] cklosowski commented on #4437
@mindctrl Can you test this out for me?

[2016-04-04 18:04] cklosowski commented on #4439
@easydigitaldownloads/core-devs could use some testing here to make sure I didn't miss anything.

[2016-04-04 19:15] SDavisMedia opened #4457 "show variable pricing option in download logs"
If you go to Downloads -> Reports -> Logs and view any of the tables, the **Download** column never shows the selected option for a variable pricing download. It only shows the download entry's title. Could be enhanced to show the option.

![screen shot 2016-04-04 at 12 15 32 pm](https://cloud.githubusercontent.com/assets/2359131/14260149/f590f3ae-fa5e-11e5-9ad2-e023d203a8aa.png)

[2016-04-04 19:46] #4453 closed

[2016-04-04 19:48] pippinsplugins commented on #4457
We can definitely make that happen.

[2016-04-04 19:55] pippinsplugins commented on #4439
Looks to work perfectly for me.

[2016-04-04 19:56] mintplugins commented on #4439
Looks good here

[2016-04-04 19:57] SDavisMedia opened #4458 "sales logs show incorrect Item Amounts with variable pricing"
This seems related to another issue I opened some time ago. Can't find it at the moment but when I do, I'll link it.

-----

**Replicate**
1. Set up a variable pricing product with multi-option purchase mode on. Make sure at least two of the options have different prices.
2. Complete one purchase with at least two of the different price options selected.
3. Downloads -> Reports -> Logs and filter

[2016-04-04 20:01] cklosowski commented on #4439
@mintplugins you shouldn't, the only way to get to a products earnings is via it's download edit screen. Just click on the Earnings or Sales number in the upper right metabox.

[2016-04-04 20:03] mintplugins commented on #4439
Yeah I did that. I'm just wondering about your screenshot. In the dropdown it says "Products"

[2016-04-04 20:07] cklosowski commented on #4439
@mintplugins Oh, that is on PippinsPlugins.com where the 'Downloads' label is 'Products'.

[2016-04-04 20:07] mintplugins commented on #4439
Ahh cool. Yep looks good to me then!

[2016-04-04 20:11] pippinsplugins commented on #4429
@cklosowski Any further feedback here or are you fine with merging?

[2016-04-04 20:11] cklosowski commented on #4429
Let me run one more test @pippinsplugins. I'll merge if all is well.

[2016-04-04 20:15] pippinsplugins commented on #4429
:+1:

[2016-04-04 20:23] cklosowski commented on #4429
Working much better. Merging.

[2016-04-04 20:24] cklosowski commented on #4429
@pippinsplugins quick thing...`@since 2.5.11` please.

[2016-04-04 20:26] #4429 closed

[2016-04-04 20:27] #4428 closed

[2016-04-04 20:27] #4439 closed

[2016-04-04 20:28] SDavisMedia commented on #4458
Also let me note here that this is most likely not specific to the Item Amounts. As mentioned above, I have another issue somewhere (can't remember the repo or if it has been addressed or not) where there's a table listing multiple variable pricing items from a single purchase and the table shows the variable pricing options of the first item added to the cart on every subsequent item. As in...

*

[2016-04-04 20:32] pippinsplugins commented on #4458
I'm pretty sure we've seen and fixed this before so somewhere we've had a regression.

[2016-04-04 20:43] SDavisMedia commented on #4458
@pippinsplugins Found what I was referring to above in Commissions. May or may not be related. https://github.com/easydigitaldownloads/EDD-Commissions/issues/96

[2016-04-04 21:06] pippinsplugins commented on #4458
@SDavisMedia Probably not caused by the same thing but very similar.

[2016-04-04 21:22] pippinsplugins commented on #4441
I can definitely see this being useful. May not be a candidate for core but definitely as a free add-on.

[2016-04-04 21:49] chriscct7 commented on #4435
Was able to replicate it earlier. It's really narrow. Took me a while to
get it. I'll give it another stab this weekend

On Mon, Apr 4, 2016 at 11:51 AM, Chris Klosowski <notifications@github.com>
wrote:

[2016-04-05 00:34] mintplugins opened #4459 "Plugin update POST firing twice on "Dashboard" > "Updates""
Plugins built using the EDD_SL_Plugin_Updater class "Phone Home" twice when on the "Dashboard" > "Updates" page or the "Plugins" page. This may be un-necessary.

The "plugins_api" hook is what's causing it to "phone home" twice on plugins and updates pages. If we cache the result of that for 24 hours in a transient (but not the result that comes through "pre_set_site_transient_update_plugins"), th

[2016-04-05 01:02] mintplugins commented on #4437
@cklosowski All is working as it should here!

[2016-04-05 01:27] mintplugins commented on #4459
PR: ​https://github.com/easydigitaldownloads/Easy-Digital-Downloads/pull/4460

[2016-04-05 13:47] pippinsplugins commented on #4397
@cklosowski Looks good. Anything else to move out of the class or done?

[2016-04-05 14:16] pippinsplugins commented on #4459
Let's get this in. Left a few small tweaks on the PR.

[2016-04-05 14:17] pippinsplugins commented on #4437
Merging.

[2016-04-05 14:17] #4437 closed

[2016-04-05 22:50] pippinsplugins commented on #3620
This is now up to date with the latest `release/2.6`

[2016-04-06 00:27] cklosowski opened #4462 "EDD Recount tool (customers) doesn't' have filters for post types."
Found this with recurring, there isn't  filter to include post types other than `edd_payment` in the `edd_get_payments()` calls.

[2016-04-06 00:30] cklosowski commented on #4462
Either the above @pippinsplugins or, we just make `Recurring` filters `edd_get_payments()` to include it's own post type for any call to `edd_get_payments().

[2016-04-06 01:08] pippinsplugins commented on #4462
Let's just make sure there is a filter to set the post statuses.

[2016-04-06 01:22] pippinsplugins commented on #4443
Looks good, merged!

[2016-04-06 01:22] #4443 closed

[2016-04-06 01:29] pippinsplugins commented on #4442
I found a few remaining title attributes.

[2016-04-06 01:29] #4442 closed

[2016-04-06 01:31] #4389 closed

[2016-04-06 01:35] pippinsplugins commented on #4376
There is actually no requirement that the user has to log back in, so I vote we remove the message instead of forcing them to log back in.

[2016-04-06 01:40] pippinsplugins commented on #4345
PR works great for me. I'm manually merging into `release/2.6`.

[2016-04-06 01:40] #4345 closed

[2016-04-06 01:42] pippinsplugins commented on #4344
PR works great, merged into release/2.6!

[2016-04-06 01:42] #4344 closed

[2016-04-06 01:44] pippinsplugins commented on #4343
PR works great, merged into `release/2.6`.

[2016-04-06 01:44] #4343 closed

[2016-04-06 01:45] #4339 closed

[2016-04-06 01:47] #4338 closed

[2016-04-06 01:50] #4340 closed

[2016-04-06 02:05] pippinsplugins commented on #4193
Pretty sure this is resolved through #4328. Closing as duplicate.

[2016-04-06 02:05] #4193 closed

[2016-04-06 02:23] pippinsplugins commented on #4105
I've gotten started on this in the `issue/4105` branch but have run into a problem with reliably saving it across gateways. Since not all gateways create payments in the same way, we can't reliably set it. This may have to come after we introduce the new `EDD_Gateway` class.

[2016-04-06 02:25] pippinsplugins commented on #4066
Moving to 2.7.

[2016-04-06 02:39] pippinsplugins commented on #4064
Initial pass at this:
![screen shot 2016-04-05 at 9 38 57 pm](https://cloud.githubusercontent.com/assets/1034109/14304247/d80bcebc-fb76-11e5-995d-f8f78d98d1eb.png)
I've opted to only add the price and not purchase buttons to keep it nice and simple for now.

[2016-04-06 02:42] pippinsplugins commented on #4050
@SDavisMedia Could you go ahead and submit the PR for this so we can start testing it?

[2016-04-06 02:44] pippinsplugins commented on #3914
Moving to 2.7.

[2016-04-06 02:46] pippinsplugins commented on #3791
Note, color of inactive tabs has been fixed in #4443

[2016-04-06 02:48] pippinsplugins commented on #3653
We no longer use timestamps alone for the cart tokens. This was fixed in 4ae3fb2849952797b9868e3ed0008d97ffe12a19

[2016-04-06 02:48] #3653 closed

[2016-04-06 02:52] pippinsplugins commented on #3437
Having done numerous tests recently with the Recurring Payments plugin and the Auto Register plugin, I'm confident this issue is resolved. If you see it again, please re-open.

[2016-04-06 02:52] #3437 closed

[2016-04-06 02:54] pippinsplugins commented on #3387
I have seen very, very few instances of ajax not working now so I think we can consider not bringing this back at all.

Any recent tickets that anyone can think of?

[2016-04-06 02:54] pippinsplugins commented on #3294
I'm going to punt this until we have a more formalized proposal.

[2016-04-06 02:55] pippinsplugins commented on #3286
I believe this may now be resolved through #4328 but let's test to confirm.

[2016-04-06 02:56] pippinsplugins commented on #3186
I personally feel that we should close this as `wontfix` and not consider the removal of the price inclusive option.

[2016-04-06 02:59] SDavisMedia commented on #4050
@pippinsplugins updated with `release/2.6` and done.

[2016-04-06 03:00] pippinsplugins commented on #1391
Punting again as we still haven't had much real need for this.

[2016-04-06 08:42] santhosh-r-wiredelta opened #4470 "Past customer detail missing on Payment History & sales summary also wrong"
The problem is with purchases and customers not matching fully, leading to wrong stats and problems sending out emails, etc.
List out major issues in given follow :
1) Payment History -> past customer name is missing but current customer working fine
2) Payment History -> Past View Order Detail is empty
How to fix this issue

[2016-04-06 09:15] MartinStehle commented on #3186
Neither wontfix nor removal is right for me here. The approach Netzberufler commented on 3 Mar 2015 is the right step. Was it implemented or will it be implemented in EDD?

[2016-04-06 14:02] mindctrl commented on #4470
@santhosh-r-wiredelta as mentioned in #4449, please open a support ticket at easydigitaldownloads.com/support.

Possibly related to https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4435.

[2016-04-06 14:02] #4470 closed

[2016-04-06 14:05] irfanwv opened #4471 "What if I am not confirm payment?"
After the complete transaction I got payer id and token. Is there any need to check payment status at this stage. Means any chances to transaction failed after get payer id.

[2016-04-06 15:40] pippinsplugins commented on #4471
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-04-06 15:40] #4471 closed

[2016-04-06 17:25] cklosowski opened #4473 "Payment status ignored on download links"
While we don't show links to downloads when a payment isn't completed, we should also be verifying it upon download as well.

[2016-04-06 18:20] pippinsplugins commented on #3186
@MartinStehle The approach that @Netzberufler proposed has already been done (in a slightly different way).

[2016-04-06 18:23] cklosowski commented on #4473
Committed the fix so we can deploy, we should build a comprehensive set of unit tests around the file download process and URL generation (logging it)

[2016-04-06 18:24] cklosowski opened #4474 "Built unit tests around process download functions"
In #4473 we did some work to fix a bug, but I think we should build out a comprehensive set of unit tests around this process.

[2016-04-06 18:30] mintplugins commented on #4473
Looks good - I have no permission to download file if the payment status is not complete. I do when it is complete.

[2016-04-06 18:38] cklosowski commented on #4462
@pippinsplugins sounds good.

[2016-04-06 19:22] cklosowski commented on #4462
Easiest way to test is alongside Recurring issue 316

[2016-04-06 19:38] #4473 closed

[2016-04-06 19:38] pippinsplugins commented on #4474
:+1:

[2016-04-06 20:55] mintplugins opened #4477 "Add price_id support for fees API"
Currently, fees are assigned to the download id but not the variable price. This means that fees get assigned multiple times for items in the cart with variable prices and fees:

For example, say you have a shirt with variable pricing (small medium large) and each gets added to the cart. In the fees for EACH item, all 3 shipping fees are listed under fees for EACH one when getting cart details fro

[2016-04-06 21:47] pippinsplugins commented on #4477
This should be a pretty easy fix. Let's make it happen for 2.6.

[2016-04-07 16:53] #4462 closed

[2016-04-07 18:27] cklosowski opened #4479 "Improve performance of transient deletion on uninstall"
Notes here: https://github.com/easydigitaldownloads/easy-digital-downloads/commit/4f5d29459e31f51399c9ca90b0c94319de51e379

[2016-04-07 19:52] #4459 closed

[2016-04-09 02:05] chriscct7 commented on #4284
This is going to break any extensions that rely on EDD sessions from the sound of it outside of the normal checkout flow

[2016-04-09 05:55] chriscct7 opened #4481 "Send Test Email Tooltip Is No Longer Accurate"
On the send test email, the mouseover label says it sends to the email addresses below, but we no longer list the admin emails below the test email button

[2016-04-09 21:17] joedolson opened #4482 "Accessibility: make add to cart AJAX action accessible"
Adding `aria-live="assertive"` to AJAX alert container and `aria-hidden="true"` to the font icon inside that container will make items added to cart accessible to users with screen readers.

[2016-04-09 23:55] pippinsplugins commented on #4482
Thanks @joedolson !

[2016-04-09 23:55] #4482 closed

[2016-04-10 12:20] boluda commented on #4473
Since updated to 2.5.11, there is a conflict with EDD recurring payments.
If a payment is "Renewal" I have no permission to download the files. It only affects customers who renewed at least once. Not sure if it's related with this issue, but I think it can be related.

[2016-04-11 03:40] sumobi commented on #3431
Looks like this issue is back, customer is on v2.5.11 and they have a buy button on their sales page that allows a user to purchase a trashed download:

https://secure.helpscout.net/conversation/190346712/31800/?folderId=180506

[2016-04-11 13:46] pippinsplugins commented on #3431
@sumobi you didn't do it while logged in as an admin did you? That would be permitted.

[2016-04-11 15:33] SDavisMedia opened #4485 "Harden Discount Creation Process"
Ran into an issue where a user was including a URL encoded character in a discount code: `25%25hrs`

The `%25` caused the discount to be invalid and so will anything else on this list: http://www.degraeve.com/reference/urlencoding.php

Suggestions from @cklosowski: only allow a-zA-Z0-9 and also throw a notice to admin when an invalid code is detected.

[2016-04-11 15:49] pippinsplugins commented on #4473
@boluda We're addressing that in an update for Recurring Payments today.

[2016-04-11 17:11] boluda commented on #4473
@pippinsplugins Great!

[2016-04-11 19:39] sumobi commented on #3431
@pippinsplugins Ahh is that why. I didn't test myself, the customer kept purchasing the trashed download from their sales page which had a purchase link shortcode on it. Meanwhile, I was purchasing the correct download from the download page.

What would be a reason to allow an admin to purchase a trashed download? I don't think this should be allowed. In my case, it lead to hours of trying to fin

[2016-04-11 20:05] pippinsplugins commented on #3431
The main reason we support it is for allowing admins to purchase draft and private products. Logic here:
[code]

[2016-04-11 21:39] sumobi commented on #3431
In that case I propose we modify the code to disallow trashed downloads. Private and draft downloads I can understand, that's useful. Trashed downloads are ones an admin simply doesn't want anymore. Would you agree?

[2016-04-12 00:32] cklosowski commented on #3431
I think I agree here. 'Trashed' is a status I wouldn't imagine an admin needing to purchase. `Draft`, `Private`, and `Pending` I could see. but not `Trashed`.

[2016-04-12 00:33] cklosowski commented on #4473
@boluda that release should be out the door. Thanks for helping us test it out.

[2016-04-12 00:38] cklosowski commented on #4482
Super awesome, thanks @joedolson

[2016-04-12 01:58] cklosowski commented on #4050
Looking good to me @SDavisMedia

[2016-04-12 02:01] cklosowski commented on #3791
I vote that we move the Contains Metabox with vertical tabs containing text. I think this is a route that people are comfortable with

[2016-04-12 03:35] boluda commented on #4473
Glad to help!

[2016-04-12 05:29] SDavisMedia commented on #4203
I don't like that placement either but it seems like the lesser of several evils. I don't like the link above the resend and save buttons. Below is a bit awkward, especially as a left-aligned link.

The only thing I'm really happy with is a dedicated postbox in the bottom right corner of the entire screen specifically for deleting the payment. I don't think it should be a very convenient action to

[2016-04-12 10:07] cklosowski commented on #4485
I've also noticed that you can create a discount, without entering anything into the discount title or code. We should prevent a discount from being created if the required fields aren't met...That brings up, what's a required field for a discount? I would think:

Title
Code
Discount type
Discount amount

The rest we can actually use defaults for, and make optional for the creation process.

[2016-04-12 13:51] pippinsplugins commented on #4485
Seems right to me.

[2016-04-12 14:33] pippinsplugins commented on #4203
That was exactly my struggle with this: where to put it or where to move `Resend Receipt`.

I wouldn't be opposed to a dedication box in the bottom.

[2016-04-12 15:36] pippinsplugins commented on #3431
I agree, allowing `trashed` is silly.

[2016-04-12 15:52] pippinsplugins opened #4486 "Disabling API request logging does not work"
I've tried to disable API request logging using this filter:

[code]

But even with that in an mu-plugin, it fails to disable logging.

[2016-04-12 15:55] pippinsplugins commented on #4486
Scratch that, it works in an mu plugin, just fails in plugins loaded after EDD core. We may want to look at adjusting the `$log_request` parameter to be set later so that we can disable it through a plugin that uses `plugins_loaded` or similar.

[2016-04-12 21:58] pippinsplugins commented on #4050
Thanks @SDavisMedia !

[2016-04-12 22:37] chriscct7 opened #4487 "Offer variation reporting"
We should offer a pie chart for sales and another one for earnings of each variation of a download representative of the whole download. That way store owners could make informed decisions on adjustments on price or discontinuation of  variations

[2016-04-13 10:01] chriscct7 opened #4488 "Recount earning/sales tool for all downloads doesn't work"
This might be caused by the fact that the new (correct) counts for earnings/sales would be 0. Probably a bad check

[2016-04-13 19:14] mintplugins commented on #4203
Personally, I feel like "Resend Receipt" is out of context there - like it doesn't really belong. Whereas "Delete" would belong there because it's a similar action to saving a payment.

I could see a new metabox for Receipts being below like @pippinsplugins mentioned.

[2016-04-13 19:27] pippinsplugins commented on #4203
I think I prefer `Resend Receipt` being separate instead of `Delete` as well. That better follows core. `Resend Receipt` would need to be up top, not at the bottom like @SDavisMedia suggested for the delete link.

[2016-04-13 21:11] SDavisMedia commented on #4203
I agree. Didn't think you guys would want to move Resend Receipt to a dedicated box.

I'm all for Save Payment as a right aligned button, Delete Payment as a left aligned link, and Resent Receipt in its own box. :+1:

[2016-04-14 01:22] pippinsplugins commented on #4488
@chriscct7 Could you elaborate a little? Do you mean that you want everything to be 0 when done but it's not 0>

[2016-04-14 02:04] chriscct7 commented on #4488
No, I mean if you have a bunch of orders, then delete them all via SQL and attempt to force a recount of the earnings and sales, even with the payment posts and meta removed, the recount fails to reflect the now-absent payments.

[2016-04-14 02:27] mintplugins commented on #4477
This branch needs testing:
https://github.com/easydigitaldownloads/easy-digital-downloads/tree/issue/4477

You could use simple shipping on line 563 by changing the add-fee call to this

`EDD()->fees->add_fee( array(
	'amount'      => $amount,
	'label'       => sprintf( __( '%s Shipping', 'edd-simple-shipping' ), get_the_title( $item['id'] ) ),
	'id'          => 'simple_shipping_' . $key,
	'downlo

[2016-04-14 12:15] boluda opened #4489 "Deleting customers doesn't delete their subscriptions"
I noticed when I delete customers, even if I select "Delete all payments and records" in the UI, their subscriptions remain, obviously linked to nobody. I'm not sure if that's intencional.

[2016-04-14 12:17] cklosowski commented on #4489
I'll move this over to the Recurring repo so we can look into if this should/shouldn't happen or how we should handle it. I believe the logic should happen there, not in the core plugin.

[2016-04-14 12:17] #4489 closed

[2016-04-14 17:23] pippinsplugins commented on #4481
We actually need to remove the tool tip completely since title attributes shouldn't be used.

[2016-04-14 17:31] pippinsplugins commented on #4341
Looks like we opened a new issue on this, to which I've submitted PR. Marking as duplicate.

#4481

[2016-04-14 17:31] #4341 closed

[2016-04-14 17:40] pippinsplugins commented on #4203
Proposal for final design:
![screen shot 2016-04-14 at 12 37 50 pm](https://cloud.githubusercontent.com/assets/1034109/14537755/0204f5e0-023e-11e6-92b6-c827b8e87b6c.png)

[2016-04-14 17:41] mintplugins commented on #4203
Looks fine to me. Would be cool to have a hook so that PDF invoices and others can put links there too maybe?

[2016-04-14 17:41] pippinsplugins commented on #4203
There is a hook before and after:

- edd_view_order_details_resend_receipt_before
- edd_view_order_details_resend_receipt_after

[2016-04-14 17:43] michaelbeil commented on #4203
:+1: looks good.

[2016-04-14 18:04] #4481 closed

[2016-04-14 18:25] #4203 closed

[2016-04-14 20:00] pippinsplugins commented on #4487
Definitely.

[2016-04-14 23:41] chriscct7 opened #4493 "The payment notes are included in normal comment count"
On the comments page of WordPress, even though they're not displayed in the table, the number of payments logs is included in the count for comments.

[2016-04-15 00:31] pippinsplugins commented on #4493
Do you mean payment notes?

[2016-04-15 00:34] chriscct7 commented on #4493
Yep sorry

[2016-04-15 02:01] mintplugins commented on #4477
Pull Request: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4494

[2016-04-15 14:36] cklosowski commented on #4397
@pippinsplugins no I think this should be fine to move out, the rest makes sense to keep in the Class.

[2016-04-15 14:37] cklosowski commented on #4397
Also we have unit tests for creating keys, it's why I had to go back and make it backwards compatible ;), to fix the unit tests.

[2016-04-15 14:55] pippinsplugins commented on #4397
:+1:

[2016-04-15 22:09] GiantRecords opened #4495 "EDD Emails-->Purchase Receipts & New Sale Notifications - Not Going Out!"
Hello,
Completely new on EDD and trying to get my first Digital Download setup and working. Got everything and the confirmation page all adjusted and looking good. However when trying to customize the Emails for both Purchase Receipts & New Sale Notifications I have done something that now neither is being sent (or received anyway).

On the Purchase Receipts in Settings I did change the From Name,

[2016-04-15 22:13] michaelbeil commented on #4495
Hi @GiantRecords!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

We use GitHub for development tracking only.

[2016-04-15 22:13] #4495 closed

[2016-04-16 21:47] chriscct7 opened #4496 "When searching payments by user email cancelled payments number doesn't update"
If you search for payments by user email, the number of cancelled orders found does not update based on the search parameter

[2016-04-17 13:41] cklosowski opened #4497 "Updates to the usage tracking payload"
Right now our Usage Tracking payload doesn't include WP Version, EDD, Version, or PHP Version.

Based off some new initiatives, we want to include these. If you have anything else we should be collecting, add it below @pippinsplugins

- [x] PHP Version
- [x] WP Version
- [x] EDD Version
- [x] EDD install date
- [x] Server (nginx, apache, etc)
- [x] Multisite

[2016-04-17 21:03] mintplugins commented on #4329
I have a ticket where this is still happening for relative links but not affecting downloads. However it is still causing an error in the server logs:

https://secure.helpscout.net/conversation/191893627/32117/?folderId=749231